// main: ../../swisstomato2.less

/* ------ RUBIK 300 ------ */
@font-face {
    font-family: 'Rubik';
    src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Light.woff2') format('woff2'),
        url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* ------ RUBIK 300 ITALIC ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-LightItalic.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


/* ------ RUBIK 400 ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ------ RUBIK 400 ITALIC ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Italic.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


/* ------ RUBIK 500 ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* ------ RUBIK 500 ITALIC ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-MediumItalic.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


/* ------ RUBIK 700 ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* ------ RUBIK 700 ITALIC ------ */
@font-face {
  font-family: 'Rubik';
  src: url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-BoldItalic.woff2') format('woff2'),
      url('/wp-content/themes/swisst2/css/fonts/Rubik/Rubik-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


