@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-android-page .stbase-icon-list-block .container .icon-list {
  grid-template-columns: repeat(4, 1fr);
}
.stbase-android-page .stbase-image-text-block .container {
  align-items: center;
}
@media (max-width: 700px) {
  .stbase-android-page .stbase-intro-text-awards-block {
    padding-bottom: 75px;
  }
  .stbase-android-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .stbase-android-page .stbase-icon-list-block .container .icon-list .icon {
    max-width: 150px;
  }
}

body.page-template-page-android header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-android header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-android header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-android header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}