@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-arvr-page .stbase-services-block #services {
  gap: 20px;
  margin-bottom: 90px;
}
.stbase-arvr-page .stbase-services-block #services .service {
  cursor: pointer;
}
.stbase-arvr-page .stbase-services-block #services .service .service-title {
  width: auto;
  height: auto;
}
.stbase-arvr-page .stbase-services-block #services .service:before {
  content: " ";
  width: 76px;
  height: 76px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #f5f5f5 51%, #f5f5f5 100%);
  transition: all 0.9s;
  z-index: 2;
}
.stbase-arvr-page .stbase-services-block #services .service:after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  font-size: 21px;
  color: #f2000c;
  position: absolute;
  right: 13px;
  bottom: 9px;
  transition: all 0.9s;
  z-index: 2;
  transform-origin: center;
}
.stbase-arvr-page .stbase-services-block #services .service:hover:before {
  transform: scale(2) translate(-12px, -12px);
}
.stbase-arvr-page .stbase-services-block #services .service:hover:after {
  transform: rotateZ(90deg) translate(-7px, 18px);
}
@media (min-width: 881px) {
  .stbase-arvr-page .stbase-services-block #services .service .service-cover {
    max-width: 450px;
    left: 50%;
    margin-left: -215px;
    font-size: 28px;
    line-height: 140%;
  }
}
@media (min-width: 651px) and (max-width: 880px) {
  .stbase-arvr-page .stbase-services-block #services .service .service-cover {
    font-size: 22px;
    line-height: 140%;
  }
}
@media (min-width: 651px) {
  .stbase-arvr-page .stbase-services-block #services {
    grid-template-columns: repeat(2, 1fr);
  }
}
.stbase-arvr-page .stbase-fact-advantages-block .advantage .advantage-header {
  height: auto;
}
@media (max-width: 700px) {
  .stbase-arvr-page .stbase-header-with-bc-block header .header__content .header__subtitle {
    font-size: 17px;
    line-height: 18px;
  }
  .stbase-arvr-page .stbase-header-with-bc-block header .header__content h3 {
    font-size: 28px;
    margin-top: 15px;
  }
}
@media (max-width: 470px) {
  .stbase-arvr-page .stbase-header-with-bc-block header .header__content .header__subtitle {
    font-size: 16px;
    line-height: 15px;
  }
  .stbase-arvr-page .stbase-header-with-bc-block header .header__content h3 {
    font-size: 24px;
    margin-top: 15px;
    line-height: 135%;
  }
}
.stbase-arvr-page #vr-headsets-section .gallery .gallery-item figcaption {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 520px) {
  .stbase-arvr-page #vr-headsets-section .gallery {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
  }
}

body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
  width: 490px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award ul li {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 981px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    width: 100%;
    max-width: 621px;
  }
}
@media (max-width: 850px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    max-width: 550px;
  }
}
@media (max-width: 680px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    max-width: 536px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 425px;
  }
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award ul li {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-text-column p {
  font-size: 46px;
  line-height: 133%;
}
@media (max-width: 980px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-text-column p {
    font-size: 40px;
  }
}
@media (max-width: 520px) {
  body.fr-FR .stbase-arvr-page .stbase-awards-block .awards-text-column p {
    font-size: 28px;
  }
}

body.page-template-page-arvr header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-arvr header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-arvr header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-arvr header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}