@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-page {
  padding-top: 140px;
  background: linear-gradient(to bottom, #edf0f2 0%, white 105px);
}
.stbase-page ul li a {
  word-wrap: break-word;
}
.stbase-page.no-padding-top {
  padding-top: 0;
}
@media (max-width: 500px) {
  .stbase-page {
    padding-top: 100px;
  }
}