@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-big-facts-list-block .fact {
  width: 100%;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.stbase-big-facts-list-block .fact header {
  position: relative;
}
.stbase-big-facts-list-block .fact header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.stbase-big-facts-list-block .fact header .fact-header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stbase-big-facts-list-block .fact header .fact-header-content .fact-number {
  width: 117px;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2000c;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 83px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}
.stbase-big-facts-list-block .fact header .fact-header-content h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  margin: 0 0 70px 36px;
  color: #ffffff;
  max-width: 660px;
}
.stbase-big-facts-list-block .fact header:after {
  display: block;
  width: 72%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  content: " ";
}
.stbase-big-facts-list-block .fact .fact-content {
  padding-left: 36px;
}
.stbase-big-facts-list-block .fact .fact-content p {
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 620px) {
  .stbase-big-facts-list-block .fact .fact-content p {
    font-size: 16px;
    line-height: 150%;
  }
}
.stbase-big-facts-list-block .fact .first-text {
  max-width: 720px;
}
.stbase-big-facts-list-block .fact .after-text {
  margin-top: 35px;
  max-width: 720px;
}
.stbase-big-facts-list-block .fact .show-more-text-item {
  margin: 10px 0;
  max-width: 700px;
}
.stbase-big-facts-list-block .fact .show-more-text-item h4 {
  margin: 0 0 16px;
  font-size: 21px;
  line-height: 150%;
}
.stbase-big-facts-list-block .fact .show-more-text-item + .show-more-text-item {
  margin-top: 45px;
}
@media (max-width: 620px) {
  .stbase-big-facts-list-block .fact .show-more-text-item h4 {
    font-size: 19.0203px;
    line-height: 150%;
  }
  .stbase-big-facts-list-block .fact .show-more-text-item .show-more-text {
    font-size: 16px;
    line-height: 150%;
  }
  .stbase-big-facts-list-block .fact .show-more-text-item .show-more-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
}
.stbase-big-facts-list-block .fact .fact-advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 21px;
       column-gap: 21px;
  row-gap: 17px;
  margin-top: 45px;
}
.stbase-big-facts-list-block .fact .fact-advantages h4 {
  margin: 0;
  line-height: 150%;
  width: 100%;
  grid-column: 1/4;
  grid-row: 1;
  font-size: 21px;
  line-height: 150%;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage {
  background-color: #edf0f2;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  grid-row: 2;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-header {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-header h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f2000c;
  margin: 0;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
  overflow: hidden;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text ul {
  padding-left: 0;
  margin-bottom: 0;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text ul li {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text ul li + li {
  margin-top: 0;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text ul li::marker {
  color: #1c1c1c;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantages-show-more-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f2000c;
  margin-top: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantages-show-more-link i {
  margin-right: 8px;
  font-size: 12px;
  transition: 400ms transform;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantages-show-more-link .less {
  display: none;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantages-show-more-link.opened i {
  transform: rotateZ(180deg);
}
.stbase-big-facts-list-block .fact .fact-advantages .advantages-show-more-link.opened span.less {
  display: inline-block;
}
.stbase-big-facts-list-block .fact .fact-advantages .advantages-show-more-link.opened span.more {
  display: none;
}
@media (max-width: 950px) {
  .stbase-big-facts-list-block .fact .fact-advantages {
    grid-template-columns: repeat(2, 1fr);
  }
  .stbase-big-facts-list-block .fact .fact-advantages h4 {
    grid-column: 1/3;
  }
  .stbase-big-facts-list-block .fact .fact-advantages .advantage:nth-of-type(3) {
    grid-row: 3;
  }
}
@media (max-width: 720px) {
  .stbase-big-facts-list-block .fact .fact-advantages {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .stbase-big-facts-list-block .fact .fact-advantages h4 {
    grid-column: 1/2;
    font-size: 19.0203px;
  }
  .stbase-big-facts-list-block .fact .fact-advantages .advantage {
    grid-row: unset;
  }
  .stbase-big-facts-list-block .fact .fact-advantages .advantage .advantage-text ul li {
    font-size: 16.3031px;
    line-height: 150%;
  }
  .stbase-big-facts-list-block .fact .fact-advantages .advantage:nth-of-type(3) {
    grid-row: unset;
  }
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section {
  margin: 40px 0 19px;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list {
  max-width: 1167px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step {
  border-right: 1px solid #f2000c;
  flex-basis: 0;
  flex-basis: 50%;
  border-left: none;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc {
  border-bottom: 1px solid rgba(242, 0, 12, 0.06);
  background-color: rgba(242, 0, 12, 0.06);
  padding: 25px 25px 15px;
  width: 100%;
  height: 100%;
  position: relative;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .step-number {
  color: #f2000c;
  font-family: "Rubik";
  font-size: 55px;
  font-weight: 300;
  line-height: 100%;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .step-title {
  margin-top: 10px;
  font-weight: 500;
  color: #303030;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 27px;
  max-width: 230px;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .step-timing {
  display: block;
  color: #f2000c;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 7px;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc p {
  color: #303030;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step:first-child .step-red-bc {
  border-left: none;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step:nth-child(2n) {
  border-right: none;
}
@media (max-width: 880px) {
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list {
    flex-wrap: wrap;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step {
    flex-basis: 50%;
    border-left: none;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    flex-grow: unset;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc {
    border-left: 0;
    position: relative;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .step-timing-on-mobile {
    display: block;
    color: #f2000c;
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 7px;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step:nth-child(2n) {
    border-right: none;
  }
}
@media (max-width: 560px) {
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list {
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step {
    width: 100%;
    border-left: none;
    border-bottom: none;
    text-align: center;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc {
    padding-bottom: 20px;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .step-title {
    max-width: none;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc p {
    max-width: none;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .show-more-link {
    display: flex;
    justify-content: center;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step .step-red-bc .step-timing-on-mobile {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: static;
    margin-top: 20px;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step + .process-timing-step {
    border-top: 10px solid white;
  }
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list .process-timing-step:nth-child(2n) {
    border-left: none;
  }
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list:not(.no-scroll) .process-timing-step {
  transform: translateY(100px);
  opacity: 0;
  transition-duration: 200ms;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step {
  opacity: 1;
  transform: translateY(0);
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list-weeks {
  max-width: 1167px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: auto;
  flex-grow: 1;
  width: 100%;
}
.stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list-weeks .process-timing-step-week {
  border-right: 1px solid #f2000c;
  flex-basis: 0;
  flex-grow: 1;
  color: #f2000c;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: right;
  padding-top: 20px;
  padding-right: 8px;
}
@media (max-width: 880px) {
  .stbase-big-facts-list-block .fact.process-timing .process-timing-section .process-timing-step-list-weeks {
    display: none;
  }
}
.stbase-big-facts-list-block .fact .show-more-before-after-text-item {
  max-width: 700px;
}
.stbase-big-facts-list-block .fact .show-more-before-after-text-item .show-more-second-text img {
  margin-top: 10px;
}
.stbase-big-facts-list-block .fact.big-red-without-img {
  max-width: unset;
  padding: 160px 0;
  background-color: #f2000c;
}
.stbase-big-facts-list-block .fact.big-red-without-img .fact-content {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
.stbase-big-facts-list-block .fact.big-red-without-img .fact-content h3 {
  color: white;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 120%;
  margin: 0;
  max-width: 950px;
}
.stbase-big-facts-list-block .fact.big-red-without-img .fact-content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0 0;
  max-width: 950px;
}
@media (max-width: 1130px) {
  .stbase-big-facts-list-block .fact.big-red-without-img .fact-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 756px) {
  .stbase-big-facts-list-block .fact.big-red-without-img {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .stbase-big-facts-list-block .fact.big-red-without-img .fact-content h3 {
    font-size: 30px;
  }
  .stbase-big-facts-list-block .fact.big-red-without-img .fact-content p {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
}
@media (max-width: 620px) {
  .stbase-big-facts-list-block .fact.big-red-without-img .fact-content {
    padding-top: 0;
  }
}
.stbase-big-facts-list-block .fact + .fact {
  margin-top: 59px;
}
@media (max-width: 1080px) {
  .stbase-big-facts-list-block .fact header picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .stbase-big-facts-list-block .fact header .fact-header-content {
    position: relative;
    z-index: 2;
    height: 464px;
  }
  .stbase-big-facts-list-block .fact header .fact-header-content h3 {
    margin: 30px 36px 70px 36px;
    font-size: 40px;
  }
  .stbase-big-facts-list-block .fact header:after {
    z-index: 3;
  }
}
@media (max-width: 960px) {
  .stbase-big-facts-list-block .fact {
    padding-left: 0;
    padding-right: 0;
  }
  .stbase-big-facts-list-block .fact .fact-content {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 620px) {
  .stbase-big-facts-list-block .fact header .fact-header-content {
    height: 380px;
  }
  .stbase-big-facts-list-block .fact header .fact-header-content .fact-number {
    width: 103px;
    height: 106px;
    font-size: 75.1756px;
  }
  .stbase-big-facts-list-block .fact header .fact-header-content h3 {
    margin: 30px 34px 30px;
    font-size: 30px;
    line-height: 120%;
  }
  .stbase-big-facts-list-block .fact header:after {
    display: none;
  }
  .stbase-big-facts-list-block .fact .fact-content {
    padding: 30px 30px 0;
  }
}