@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-big-bc-mt-block {
  height: 721px;
  position: relative;
  overflow: hidden;
}
.stbase-big-bc-mt-block img.big-bc-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 721px;
  transition: 2000ms transform;
}
@media (min-width: 1921px) {
  .stbase-big-bc-mt-block img.big-bc-img {
    width: 100%;
  }
}
.stbase-big-bc-mt-block .big-bc-content {
  position: absolute;
  width: 100%;
  height: 721px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.stbase-big-bc-mt-block .container {
  max-width: 870px;
  padding: 50px 49px 35px;
  background-color: white;
  position: absolute;
}
.stbase-big-bc-mt-block .container h2 {
  color: #f2000c;
  font-family: Rubik;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 39px;
  margin-top: 0;
  margin-bottom: 18px;
  text-align: center;
}
.stbase-big-bc-mt-block .container p {
  color: #110f24;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}
.stbase-big-bc-mt-block .container .read-more {
  margin: 30px 0;
  color: #f2000c;
  font-family: Rubik;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-top: 17px;
  cursor: pointer;
}
.stbase-big-bc-mt-block .container .swisst2-more-text p {
  font-size: 14px;
  line-height: 21px;
}
.stbase-big-bc-mt-block.scrolled-to img.big-bc-img {
  transform: scale(1.1);
}
@media (max-width: 950px) {
  .stbase-big-bc-mt-block .container {
    width: 92%;
  }
}
@media (max-width: 670px) {
  .stbase-big-bc-mt-block .container {
    width: 89%;
  }
}
@media (max-width: 490px) {
  .stbase-big-bc-mt-block .container {
    width: 86%;
    padding: 30px;
  }
  .stbase-big-bc-mt-block .container h2 {
    font-size: 26px;
    line-height: 33px;
  }
  .stbase-big-bc-mt-block .container p {
    font-size: 16px;
    line-height: 24px;
  }
}

.swisst2-big-bc-mt-wrapper.container {
  max-width: 772px;
  padding: 0;
  position: relative;
}
.swisst2-big-bc-mt-wrapper.container .big-bc-section-more-text {
  padding-bottom: 50px;
  width: auto !important;
  margin-top: -17px;
}
.swisst2-big-bc-mt-wrapper.container .big-bc-section-more-text h3 {
  font-size: 15px;
  line-height: 21px;
  margin-top: 0;
}
.swisst2-big-bc-mt-wrapper.container .big-bc-section-more-text p {
  font-size: 14px;
  line-height: 21px;
}
@media (max-width: 950px) {
  .swisst2-big-bc-mt-wrapper.container {
    width: 85%;
    padding: 0 20px;
  }
}
@media (max-width: 670px) {
  .swisst2-big-bc-mt-wrapper.container {
    width: 81%;
  }
}