@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-big-red-text-block {
  background-color: #f2000c;
  grid-auto-flow: row;
  align-items: center;
  position: relative;
  z-index: 1;
}
.stbase-big-red-text-block .container {
  max-width: 1130px;
  padding: 167px 50px 136px;
}
.stbase-big-red-text-block .container h3, .stbase-big-red-text-block .container h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 120%;
  color: #ffffff;
  margin: 0 0 36px;
}
.stbase-big-red-text-block .container p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0;
}
@media (max-width: 1350px) {
  .stbase-big-red-text-block .container {
    padding: 140px 50px;
  }
}
@media (max-width: 960px) {
  .stbase-big-red-text-block .container {
    padding: 80px 36px;
  }
}
@media (max-width: 620px) {
  .stbase-big-red-text-block .container h3 {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 25px;
  }
  .stbase-big-red-text-block .container p {
    font-size: 22px;
    margin: 25px 0;
  }
}
.stbase-big-red-text-block.highlighted .container {
  max-width: 1070px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.stbase-big-red-text-block.highlighted .container p {
  font-family: Rubik;
  font-weight: 300;
  font-size: 58px;
  line-height: 65px;
  color: #f5f5f5;
}
.stbase-big-red-text-block.highlighted .container p span.bent-bc-word {
  display: inline-block;
  position: relative;
  padding: 2px 9px;
}
.stbase-big-red-text-block.highlighted .container p span.bent-bc-word:before {
  transition: 300ms transform;
  transform: scaleX(0);
  width: 100%;
  height: 84px;
  background-image: url("/wp-content/themes/st-base-theme/assets/imgs/bend-white-bc.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: block;
  content: " ";
  position: absolute;
  left: 0;
  top: -6px;
  z-index: -1;
}
@media (max-width: 768px) {
  .stbase-big-red-text-block.highlighted .container p span.bent-bc-word:before {
    transform: scaleX(1);
  }
}
.stbase-big-red-text-block.highlighted .container p:first-child {
  margin: 0;
}
.stbase-big-red-text-block.highlighted.seen-first .container p span.bent-bc-word:first-of-type:before {
  transform: scaleX(1);
}
.stbase-big-red-text-block.highlighted.seen-second .container p span.bent-bc-word:before {
  transform: scaleX(1);
}
@media (max-width: 1350px) {
  .stbase-big-red-text-block.highlighted .container {
    padding-top: 15.5%;
    padding-bottom: 13.5%;
  }
}
@media (max-width: 1250px) {
  .stbase-big-red-text-block.highlighted .container p span.bent-bc-word:before {
    height: 100%;
    top: 0;
  }
}
@media (min-width: 761px) and (max-width: 1300px) {
  .stbase-big-red-text-block.highlighted .container {
    max-width: 80%;
  }
  .stbase-big-red-text-block.highlighted .container p:first-child {
    font-size: 3.9vw;
    line-height: 4.9vw;
  }
}
@media (min-width: 661px) and (max-width: 760px) {
  .stbase-big-red-text-block.highlighted .container {
    padding-top: 130px;
    padding-bottom: 125px;
  }
}
@media (min-width: 611px) and (max-width: 660px) {
  .stbase-big-red-text-block.highlighted .container {
    padding-top: 100px;
    padding-bottom: 125px;
  }
}
@media (min-width: 611px) and (max-width: 760px) {
  .stbase-big-red-text-block.highlighted .container p:first-child {
    font-size: 46px;
    line-height: 56px;
    font-size: 6vw;
    line-height: 7.6vw;
  }
}
@media (max-width: 610px) {
  .stbase-big-red-text-block.highlighted .brt-white-strip {
    display: none;
  }
  .stbase-big-red-text-block.highlighted .container p {
    font-size: 38px;
    line-height: 51px;
  }
}
@media (max-width: 510px) {
  .stbase-big-red-text-block.highlighted .container {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .stbase-big-red-text-block.highlighted .container p {
    font-size: 36px;
    line-height: 47px;
  }
}

@media (min-width: 1301px) {
  body.de-DE .stbase-big-red-text-block.highlighted .container {
    max-width: 1100px;
  }
}