@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 {
  width: 100%;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-block:not(.block-with-background) .container {
  padding-left: 0;
  padding-right: 0;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #how-much-cost {
  margin: 30px 0;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #hourly-rates {
  max-width: unset;
  padding-left: 0;
  padding-right: 0;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #hourly-rates .fact-advantages {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 30px;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #hourly-rates .fact-advantages .advantage .advantage-header {
  height: auto;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #hourly-rates .fact-advantages .advantage:last-child {
  grid-column: 1/3;
}
@media (max-width: 900px) {
  .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #hourly-rates .fact-advantages {
    grid-template-columns: 1fr;
    grid-template: auto;
  }
  .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content #hourly-rates .fact-advantages .advantage:last-child {
    grid-column: unset;
  }
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-fact-complexity-block {
  margin-top: -40px;
  padding-left: 0;
  padding-right: 0;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-fact-complexity-block .complexity-items {
  justify-items: center;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-fact-complexity-block .complexity-items .item {
  max-width: 1015px;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-fact-process-timing-block {
  margin-top: -40px;
  padding-left: 0;
  padding-right: 0;
}
.st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .center-1300 .awards-text-column p {
  font-size: 46px;
  line-height: 58px;
}
@media (max-width: 521px) {
  .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .center-1300 .awards-text-column p {
    font-size: 36px;
    line-height: 120%;
  }
}

body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
  width: 490px;
  grid-template-columns: 190px auto;
}
body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 981px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
    width: 100%;
    max-width: 520px;
  }
}
@media (max-width: 680px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
    max-width: 536px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 425px;
  }
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award ul li {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .st-blogpost-page #swisst2-post.app-cost #post-row #post-column-2 #post-content .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}