@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-blogposts-page {
  position: relative;
}
.stbase-blogposts-page #intro-section h1 {
  max-width: 600px;
  width: 100%;
  margin: 20px auto 50px;
  font-family: "Rubik";
  font-size: 33px;
  font-weight: bold;
  line-height: 39px;
  text-align: center;
  color: #f2000c;
}
.stbase-blogposts-page input#temp-input:disabled {
  margin-left: 30px;
}
.stbase-blogposts-page .st-blog-posts {
  position: relative;
  margin-bottom: 70px;
}
@media (max-width: 430px) {
  .stbase-blogposts-page .st-blog-posts {
    padding-left: 0;
    padding-right: 0;
  }
}
.stbase-blogposts-page .blog-post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 560px auto;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}
.stbase-blogposts-page .blog-post-list .post {
  margin-bottom: 0;
  background-color: #f8f8f8;
  box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #eee;
}
.stbase-blogposts-page .blog-post-list .post .post-image {
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
}
.stbase-blogposts-page .blog-post-list .post .post-content {
  padding: 17px 25px 60px;
}
.stbase-blogposts-page .blog-post-list .post .post-content .post-categories a {
  color: #f2000c;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  display: none;
}
.stbase-blogposts-page .blog-post-list .post .post-content .post-categories a:hover {
  color: #a60008;
}
.stbase-blogposts-page .blog-post-list .post .post-content h2.post-title {
  margin: 10px 0;
}
.stbase-blogposts-page .blog-post-list .post .post-content h2.post-title a {
  color: #000;
  font-family: "Rubik";
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
}
.stbase-blogposts-page .blog-post-list .post .post-content h2.post-title a:hover {
  color: #f2000c;
}
.stbase-blogposts-page .blog-post-list .post .post-content .post-date {
  opacity: 0.6;
  color: #000000;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 25px;
}
.stbase-blogposts-page .blog-post-list .post .post-content .post-text {
  opacity: 0.6;
  color: #000000;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 25px;
  margin-top: 16px;
  max-height: 100px;
  overflow: hidden;
}
.stbase-blogposts-page .blog-post-list .post .post-content .post-text p {
  display: none;
  margin: 0;
}
.stbase-blogposts-page .blog-post-list .post .post-content .post-text p:first-child {
  display: block;
}
.stbase-blogposts-page .blog-post-list .post.first-post {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  grid-column: span 3;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-image {
  display: none;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content {
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content h2.post-title {
  margin: 5px 0;
  max-width: 600px;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content h2.post-title a {
  color: #ffffff;
  font-family: "Rubik";
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
  margin-bottom: 10px;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content h2.post-title a:hover {
  color: #f2000c;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content .post-date {
  opacity: 0.6;
  color: rgb(255, 255, 255);
  font-family: "Rubik";
  font-size: 16px;
  line-height: 25px;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content .post-text {
  max-width: 570px;
  opacity: 1;
}
.stbase-blogposts-page .blog-post-list .post.first-post .post-content .post-text p {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 25px;
}
.stbase-blogposts-page .blog-post-list .post.post-template {
  display: none;
}
@media (max-width: 950px) {
  .stbase-blogposts-page .blog-post-list {
    grid-template-rows: 460px auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .stbase-blogposts-page .blog-post-list .post.first-post {
    grid-column: span 2;
  }
}
@media (max-width: 600px) {
  .stbase-blogposts-page .blog-post-list {
    display: block;
  }
  .stbase-blogposts-page .blog-post-list .post .post-content .post-text {
    max-height: unset;
  }
  .stbase-blogposts-page .blog-post-list .post.first-post {
    height: unset;
  }
  .stbase-blogposts-page .blog-post-list .post.first-post .post-content {
    padding: 30px 25px;
  }
  .stbase-blogposts-page .blog-post-list .post + .post {
    margin-top: 3rem;
  }
}
@media (max-width: 430px) {
  .stbase-blogposts-page .blog-post-list .post {
    border: none;
  }
  .stbase-blogposts-page .blog-post-list .post.first-post .post-content h2.post-title a {
    font-size: 28px;
    line-height: 1.2em;
  }
}
.stbase-blogposts-page .blog-post-list.extra-post-after:after {
  width: 31.6%;
  content: " ";
  display: block;
}
.stbase-blogposts-page .load-more-wrapper {
  height: 70px;
  margin-bottom: 25px;
}
.stbase-blogposts-page .load-more-wrapper a.load-more {
  max-width: 250px;
  margin: 0 auto 30px;
  cursor: pointer;
}
.stbase-blogposts-page .load-more-wrapper i {
  font-size: 50px;
  color: #f2000c;
  display: none;
}
.stbase-blogposts-page .blog-post-list.loading {
  opacity: 0.3;
}
.stbase-blogposts-page .blog-post-list.loading + .load-more-wrapper a.load-more {
  display: none;
}
.stbase-blogposts-page .blog-post-list.loading + .load-more-wrapper i {
  display: inline-block;
}