@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.st-blogpost-page {
  background-color: #f9f9f9;
  width: 100%;
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto 60px;
}
.st-blogpost-page #swisst2-post {
  padding: 50px 0 90px;
  margin-bottom: 0;
  width: 100%;
  max-width: 1117px;
  margin-left: auto;
  margin-right: auto;
}
.st-blogpost-page #swisst2-post #post-categories a {
  color: #f2000c;
  font-family: Rubik;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}
.st-blogpost-page #swisst2-post h1 {
  color: #000000;
  font-family: Rubik;
  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
  margin: 7px 0;
}
.st-blogpost-page #swisst2-post #post-date {
  opacity: 0.6;
  color: #000000;
  font-family: Rubik;
  font-size: 16px;
  line-height: 25px;
}
.st-blogpost-page #swisst2-post #post-thumbnail {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #666;
  margin-top: 30px;
}
.st-blogpost-page #swisst2-post #post-thumbnail.full-width-img {
  background-size: cover;
}
@media (max-width: 500px) {
  .st-blogpost-page #swisst2-post #post-thumbnail {
    height: 220px !important;
    background-size: cover;
  }
}
@media (max-width: 420px) {
  .st-blogpost-page #swisst2-post #post-thumbnail {
    height: 190px !important;
  }
}
.st-blogpost-page #swisst2-post #post-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 45px;
  align-items: flex-start;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 {
  width: 63.4%;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #post-content > p {
  color: #000000;
  font-family: "Rubik";
  font-size: 19px;
  line-height: 32px;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #post-content > p a {
  color: #f2000c;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #post-content > p:first-child {
  margin-top: 0;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #post-sharing {
  margin: 30px 0 70px;
  display: flex;
  align-items: center;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #post-sharing a {
  margin-right: 24px;
  cursor: pointer;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #post-sharing a i {
  font-size: 24px;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #next-post-wrapper #next-post {
  width: 100%;
  max-width: 520px;
  height: 133px;
  display: flex;
  justify-content: space-between;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #next-post-wrapper #next-post a.post-image {
  width: 43.4%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #next-post-wrapper #next-post .post-content {
  width: 51.9%;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #next-post-wrapper #next-post .post-content a.post-title {
  color: #000000;
  font-family: Rubik;
  font-size: 25px;
  font-weight: bold;
  line-height: 31px;
  margin-bottom: 10px;
  max-height: 90.4px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #next-post-wrapper #next-post .post-content a.post-title:hover {
  color: #f2000c;
}
.st-blogpost-page #swisst2-post #post-row #post-column-2 #next-post-wrapper #next-post .post-content .post-date {
  opacity: 0.6;
  color: #000000;
  font-family: Rubik;
  font-size: 16px;
  line-height: 25px;
}
.st-blogpost-page #swisst2-post #post-row #post-column-1 {
  width: 23.9%;
}
.st-blogpost-page #swisst2-post #post-row #post-column-1 #post-tags .gray-title {
  margin-bottom: 18px;
}
.st-blogpost-page #swisst2-post #post-row.only-1-column {
  justify-content: center;
}
.st-blogpost-page #swisst2-post #post-row.only-1-column #post-column-1 {
  display: none;
}
.st-blogpost-page #swisst2-post #post-row .gallery {
  display: none;
}
.st-blogpost-page #swisst2-post #post-row .gallery.gallery-columns-3 {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .st-blogpost-page #swisst2-post #post-row {
    flex-direction: column;
  }
  .st-blogpost-page #swisst2-post #post-row #post-column-1,
  .st-blogpost-page #swisst2-post #post-row #post-column-2 {
    width: 100%;
  }
}