@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-check-list-block {
  background: #f2000c;
}
.stbase-check-list-block .container {
  padding-top: 105px;
  padding-bottom: 105px;
}
.stbase-check-list-block .container .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 836px;
  margin: 0 auto 80px;
}
.stbase-check-list-block .container .check-list {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-items: flex-start;
  row-gap: 75px;
  -moz-column-gap: 11vw;
       column-gap: 11vw;
}
.stbase-check-list-block .container .check-list .check {
  width: 340px;
}
.stbase-check-list-block .container .check-list .check i {
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 1.53571px;
  color: #ffffff;
}
.stbase-check-list-block .container .check-list .check h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #ffffff;
  margin: 15px 0 10px;
}
.stbase-check-list-block .container .check-list .check p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}
.stbase-check-list-block .container .check-list:not(.no-scroll) .check {
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: ease;
}
.stbase-check-list-block .container .check-list:not(.no-scroll) .check:nth-child(2n) {
  transform: translateX(-50px);
}
.stbase-check-list-block .container .check-list:not(.no-scroll) .check:nth-child(2n+1) {
  transform: translateX(50px);
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check {
  opacity: 1;
  transform: none;
  transition-duration: 0.3s;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(1) {
  transition-delay: 80ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(2) {
  transition-delay: 160ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(3) {
  transition-delay: 240ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(4) {
  transition-delay: 320ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(5) {
  transition-delay: 400ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(6) {
  transition-delay: 480ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(7) {
  transition-delay: 560ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(8) {
  transition-delay: 640ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(9) {
  transition-delay: 720ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(10) {
  transition-delay: 800ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(11) {
  transition-delay: 880ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(12) {
  transition-delay: 960ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(13) {
  transition-delay: 1040ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(14) {
  transition-delay: 1120ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(15) {
  transition-delay: 1200ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(16) {
  transition-delay: 1280ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(17) {
  transition-delay: 1360ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(18) {
  transition-delay: 1440ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(19) {
  transition-delay: 1520ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(20) {
  transition-delay: 1600ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(21) {
  transition-delay: 1680ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(22) {
  transition-delay: 1760ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(23) {
  transition-delay: 1840ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(24) {
  transition-delay: 1920ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(25) {
  transition-delay: 2000ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(26) {
  transition-delay: 2080ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(27) {
  transition-delay: 2160ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(28) {
  transition-delay: 2240ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(29) {
  transition-delay: 2320ms;
}
.stbase-check-list-block .container .check-list:not(.no-scroll).scrolled-to .check:nth-child(30) {
  transition-delay: 2400ms;
}
.stbase-check-list-block .container .check-list.odd .check:last-child {
  grid-column: 1/3;
  justify-self: center;
  margin-left: 5%;
}
@media (max-width: 1100px) {
  .stbase-check-list-block .container .check-list {
    -moz-column-gap: 7vw;
         column-gap: 7vw;
  }
}
@media (max-width: 950px) {
  .stbase-check-list-block .container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .stbase-check-list-block .container h2 {
    margin-bottom: 60px;
  }
  .stbase-check-list-block .container .check-list {
    row-gap: 7vw;
  }
  .stbase-check-list-block .container .check-list .check {
    max-width: 340px;
    width: 100%;
  }
}
@media (max-width: 720px) {
  .stbase-check-list-block .container .check-list .check h3 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 5px;
  }
  .stbase-check-list-block .container .check-list .check p {
    font-size: 19px;
    line-height: 135%;
  }
}
@media (max-width: 610px) {
  .stbase-check-list-block .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .stbase-check-list-block .container .check-list .check h3 {
    font-size: 21px;
    margin-top: 8px;
  }
  .stbase-check-list-block .container .check-list .check p {
    font-size: 17px;
  }
}
@media (max-width: 510px) {
  .stbase-check-list-block .container .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .stbase-check-list-block .container h2 {
    font-size: 29px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .stbase-check-list-block .container .check-list {
    -moz-column-gap: 12vw;
         column-gap: 12vw;
  }
  .stbase-check-list-block .container .check-list .check h3 {
    font-size: 19px;
    margin-top: 6px;
  }
  .stbase-check-list-block .container .check-list .check p {
    font-size: 15px;
  }
  .stbase-check-list-block .container .check-list.odd .check:last-child {
    max-width: unset;
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .stbase-check-list-block .container .check-list {
    -moz-column-gap: 7vw;
         column-gap: 7vw;
  }
}
@media (max-width: 380px) {
  .stbase-check-list-block .container .check-list {
    padding-left: 0;
    padding-right: 0;
  }
}