@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (min-width: 1050px) and (max-width: 1100px) {
  body.fr-FR .stbase-creation-site-page .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content h1 {
    font-size: 54px;
    line-height: 63px;
  }
}
@media (max-width: 460px) {
  body.fr-FR .stbase-creation-site-page .stbase-icon-list-block .container h2 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 38px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  body.fr-FR .stbase-creation-site-page .stbase-icon-list-block .container .icon-list .icon {
    grid-template-columns: 16vw auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
    align-items: start;
    justify-items: start;
  }
  body.fr-FR .stbase-creation-site-page .stbase-icon-list-block .container .icon-list .icon picture {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  body.fr-FR .stbase-creation-site-page .stbase-icon-list-block .container .icon-list .icon h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
  }
  body.fr-FR .stbase-creation-site-page .stbase-icon-list-block .container .icon-list .icon p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
  }
}
@media (max-width: 540px) {
  body.fr-FR .stbase-creation-site-page .masonry-references-list-section a.st-button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 460px) {
  body.fr-FR .stbase-creation-site-page .masonry-references-list-section a.st-button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 422px) {
  body.fr-FR .stbase-creation-site-page .masonry-references-list-section a.st-button-link {
    margin-left: 25px;
    margin-right: 25px;
  }
}
body.fr-FR .stbase-creation-site-page .stbase-services-block {
  margin-top: 77px;
  margin-bottom: 77px;
}
body.fr-FR .stbase-creation-site-page .stbase-services-block #services {
  margin-top: 0;
}
body.fr-FR .stbase-creation-site-page .stbase-services-block #services .service .sevice-titles-box .service-title {
  height: auto;
}
body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award {
  width: 520px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 420px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award ul li {
    font-size: 11px;
    line-height: 16px;
  }
}
@media (max-width: 420px) {
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-creation-site-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
body.fr-FR .stbase-creation-site-page .stbase-check-list-block + .stbase-contact-us-block {
  margin-top: 0;
}
@media (max-width: 1020px) {
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 215px);
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 70px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 21px;
  }
}
@media (max-width: 750px) {
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 190px);
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link {
    padding-bottom: 20px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 60px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 180px);
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link {
    padding-left: 25px;
    padding-right: 25px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 45px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}
body.fr-FR .stbase-creation-site-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 48px;
  line-height: 59px;
}
body.fr-FR .stbase-creation-site-page .stbase-our-story-block .container .our-story-content p {
  font-size: 22px;
}
@media (max-width: 1220px) {
  body.fr-FR .stbase-creation-site-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 42px;
    line-height: 52px;
  }
  body.fr-FR .stbase-creation-site-page .stbase-our-story-block .container .our-story-content p {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  body.fr-FR .stbase-creation-site-page .stbase-our-story-block .container .our-story-content {
    padding-top: 0;
  }
}
@media (max-width: 520px) {
  body.fr-FR .stbase-creation-site-page .stbase-our-story-block .container .our-story-content {
    padding-top: 20px;
  }
}
@media (max-width: 980px) {
  body.fr-FR .stbase-creation-site-page .stbase-our-story-block {
    padding-top: 0;
  }
}
body.fr-FR .stbase-creation-site-page .stbase-image-text-block .column.text-column h3 {
  margin-bottom: 0;
}

body.page-template-page-creation-site header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-creation-site header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-creation-site header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-creation-site header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}