@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-intro-text-image-block {
  background: #edf0f2;
}
.stbase-intro-text-image-block .container {
  max-width: 1440px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  height: 720px;
  padding-top: 100px;
}
.stbase-intro-text-image-block .container .intro-block__text-column {
  width: 50%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  background: #edf0f2;
}
.stbase-intro-text-image-block .container .intro-block__text-column .text-column-content {
  padding: 0 60px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 650px;
}
.stbase-intro-text-image-block .container .intro-block__text-column .text-column-content img.tablet-image {
  display: none;
}
.stbase-intro-text-image-block .container .intro-block__text-column .text-column-content h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: -1.02119px;
  color: #f2000c;
}
.stbase-intro-text-image-block .container .intro-block__text-column .text-column-content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #1c1c1c;
  margin: 20px 0 0;
}
.stbase-intro-text-image-block .container .intro-block__text-column .text-column-content a.st-button-link {
  margin: 35px 0 0;
  text-transform: uppercase;
}
.stbase-intro-text-image-block .container .intro-block__image-column {
  width: 50%;
}
.stbase-intro-text-image-block .container .intro-block__image-column img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 1350px) {
  .stbase-intro-text-image-block .container {
    padding-left: 0;
    padding-right: 0;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column {
    padding-left: 0;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content {
    padding-left: 25px;
    max-width: 100%;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content a.intro-block_next-block {
    left: 25px;
  }
}
@media (min-width: 951px) and (max-width: 1050px) {
  .stbase-intro-text-image-block .container {
    flex-direction: row-reverse;
    height: unset;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column {
    width: 70%;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content {
    padding: 0 25px 25px;
  }
  .stbase-intro-text-image-block .container .intro-block__image-column {
    width: 30%;
  }
}
@media (max-width: 950px) {
  .stbase-intro-text-image-block .container {
    flex-direction: column;
    height: unset;
    padding-top: 30px;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column {
    width: 100%;
    padding-top: 100px;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content {
    max-width: none;
    padding: 10px 25px 50px;
    display: block;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content img.tablet-image {
    display: block;
    float: left;
    margin: 0 20px 15px 0;
    max-width: 30vw;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content h1 {
    margin: 0;
    clear: unset;
    font-size: 54px;
    line-height: 62px;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content a.intro-block_next-block {
    display: none;
  }
  .stbase-intro-text-image-block .container .intro-block__image-column {
    display: none;
  }
}
@media (max-width: 700px) {
  .stbase-intro-text-image-block .container .intro-block__text-column {
    padding-top: 105px;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content {
    padding: 0 25px 50px;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content img.tablet-image {
    display: none;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 120%;
    letter-spacing: -0.921351px;
    margin-bottom: 4px;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 18.0447px;
    line-height: 150%;
  }
  .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content a.st-button-link {
    margin-top: 28px;
  }
  .stbase-intro-text-image-block .container .intro-block__image-column {
    display: block;
    width: 100%;
  }
  .stbase-intro-text-image-block .container .intro-block__image-column img {
    max-height: 520px;
  }
}