@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-references-page .masonry-references-list-section .masonry-references-list.container {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 501px) {
  .stbase-references-page {
    padding-top: 140px;
  }
}