@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (max-width: 1167px) {
  .stbase-references-masonry-block .masonry-references-list-section .masonry-references-intro {
    padding-left: 25px;
    padding-right: 25px;
  }
}