body.fr-FR .stbase-testimonials-block .testimonial .testimonial-content,
body.de-DE .stbase-testimonials-block .testimonial .testimonial-content {
  min-height: 220px;
}

.stbase-testimonials-block {
  --swiper-navigation-color: #F2000C;
  --swiper-pagination-color: #F2000C;
  --swiper-theme-color: #F2000C;
  --swiper-navigation-size: 20px;
  background-color: #EDF0F2;
}
.stbase-testimonials-block .stbase-block-preview .clientslist {
  font-weight: normal;
  font-size: 0.8em;
}
.stbase-testimonials-block .stbase-block-preview .clientslist .testimonial-name:not(:last-child)::after {
  content: ",";
}
.stbase-testimonials-block .stbase-block-preview .clientslist .testimonial-name span {
  font-style: italic;
  opacity: 0.75;
}
.stbase-testimonials-block .container {
  position: relative;
  padding: 77px 0;
}
@media screen and (max-width: 800px) {
  .stbase-testimonials-block .container {
    padding: 77px 0 120px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1360px) {
  .stbase-testimonials-block .container {
    padding: 77px 80px;
  }
}
@media screen and (min-width: 1361px) and (max-width: 1440px) {
  .stbase-testimonials-block .container {
    padding: 77px 40px;
  }
}
.stbase-testimonials-block .title {
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  color: #F2000C;
  margin-bottom: 20px;
}
.stbase-testimonials-block .testimonial {
  background-color: #fff;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .stbase-testimonials-block .testimonial {
    padding: 25px;
    margin: 0 25px;
  }
}
.stbase-testimonials-block .testimonial .stars {
  color: #FFB11A;
  font-size: 26px;
}
.stbase-testimonials-block .testimonial .testimonial-content {
  min-height: 190px;
}
.stbase-testimonials-block .testimonial .testimonial-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.stbase-testimonials-block .testimonial .testimonial-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 450px) {
  .stbase-testimonials-block .testimonial .testimonial-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .stbase-testimonials-block .testimonial .testimonial-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-member {
  display: flex;
  align-items: center;
  gap: 20px;
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-member .testimonial-image {
  display: flex;
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-member .testimonial-image img {
  width: 65px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-member .testimonial-details .testimonial-name {
  font-size: 16px;
  line-height: 140%;
  color: #1C1C1C;
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-member .testimonial-details .testimonial-position,
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-member .testimonial-details .testimonial-company {
  font-size: 14px;
  line-height: 140%;
  color: rgba(28, 28, 28, 0.6);
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-company-logo {
  display: flex;
  align-items: center;
  min-width: 100px;
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-company-logo img {
  width: 100px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
}
.stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-company-logo img:hover {
  filter: none;
  opacity: 1;
}
@media screen and (max-width: 450px) {
  .stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-company-logo {
    padding-left: 85px;
    margin-bottom: 10px;
  }
  .stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-company-logo img {
    width: 65px;
    height: 30px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .stbase-testimonials-block .testimonial .testimonial-bottom .testimonial-company-logo {
    padding-left: 85px;
  }
}
.stbase-testimonials-block .swiper::before {
  content: url(/wp-content/themes/st-base-theme/assets/imgs/quotation.svg);
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 99;
}
@media screen and (max-width: 800px) {
  .stbase-testimonials-block .swiper::before {
    right: 20px;
    transform: scale(0.75);
  }
}
.stbase-testimonials-block .swiper .swiper-wrapper {
  padding-top: 30px;
  padding-bottom: 55px;
}
.stbase-testimonials-block .swiper .swiper-pagination-bullet-active {
  transform: scale(1.3);
}
.stbase-testimonials-block .swiper-button-next, .stbase-testimonials-block .swiper-button-prev {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.stbase-testimonials-block .swiper-button-next::before, .stbase-testimonials-block .swiper-button-prev::before {
  transition: all 0.3s ease;
}
.stbase-testimonials-block .swiper-button-next:hover, .stbase-testimonials-block .swiper-button-prev:hover {
  background-color: var(--swiper-navigation-color);
  color: #fff;
}
.stbase-testimonials-block .swiper-button-next:hover::before, .stbase-testimonials-block .swiper-button-prev:hover::before {
  background-color: #fff;
}
.stbase-testimonials-block .swiper-button-prev, .stbase-testimonials-block .swiper-rtl .swiper-button-next {
  left: -75px;
  flex-direction: row-reverse;
}
.stbase-testimonials-block .swiper-button-prev::before, .stbase-testimonials-block .swiper-rtl .swiper-button-next::before {
  content: "";
  height: 2px;
  width: 22px;
  background-color: var(--swiper-navigation-color);
  margin-left: -8px;
}
@media screen and (max-width: 800px) {
  .stbase-testimonials-block .swiper-button-prev, .stbase-testimonials-block .swiper-rtl .swiper-button-next {
    left: calc(50% - 70px);
    top: unset;
    bottom: 60px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1360px) {
  .stbase-testimonials-block .swiper-button-prev, .stbase-testimonials-block .swiper-rtl .swiper-button-next {
    left: 10px;
  }
}
@media screen and (min-width: 1361px) and (max-width: 1440px) {
  .stbase-testimonials-block .swiper-button-prev, .stbase-testimonials-block .swiper-rtl .swiper-button-next {
    left: -35px;
  }
}
.stbase-testimonials-block .swiper-button-next, .stbase-testimonials-block .swiper-rtl .swiper-button-prev {
  right: -75px;
}
.stbase-testimonials-block .swiper-button-next::before, .stbase-testimonials-block .swiper-rtl .swiper-button-prev::before {
  content: "";
  height: 2px;
  width: 22px;
  background-color: var(--swiper-navigation-color);
  margin-right: -8px;
}
@media screen and (max-width: 800px) {
  .stbase-testimonials-block .swiper-button-next, .stbase-testimonials-block .swiper-rtl .swiper-button-prev {
    right: calc(50% - 70px);
    top: unset;
    bottom: 60px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1360px) {
  .stbase-testimonials-block .swiper-button-next, .stbase-testimonials-block .swiper-rtl .swiper-button-prev {
    right: 10px;
  }
}
@media screen and (min-width: 1361px) and (max-width: 1440px) {
  .stbase-testimonials-block .swiper-button-next, .stbase-testimonials-block .swiper-rtl .swiper-button-prev {
    right: -35px;
  }
}
.stbase-testimonials-block .swiper-pagination .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
.stbase-testimonials-block + .stbase-contact-us-block {
  margin-top: 0;
}