@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (max-width: 460px) {
  body .stbase-webdev-page .stbase-icon-list-block .container h2 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 38px;
  }
  body .stbase-webdev-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
  }
  body .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon {
    grid-template-columns: 16vw auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
    align-items: start;
    justify-items: start;
  }
  body .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon picture {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  body .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
  }
  body .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
  }
}
body .stbase-webdev-page .stbase-services-block {
  margin-top: 77px;
  margin-bottom: 77px;
}
body .stbase-webdev-page .stbase-services-block #services {
  margin-top: 0;
}
body .stbase-webdev-page .stbase-check-list-block + .stbase-contact-us-block {
  margin-top: 0;
}

@media (min-width: 1050px) and (max-width: 1100px) {
  body.fr-FR .stbase-webdev-page .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content h1 {
    font-size: 54px;
    line-height: 63px;
  }
}
@media (max-width: 540px) {
  body.fr-FR .stbase-webdev-page .masonry-references-list-section a.st-button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 460px) {
  body.fr-FR .stbase-webdev-page .masonry-references-list-section a.st-button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 422px) {
  body.fr-FR .stbase-webdev-page .masonry-references-list-section a.st-button-link {
    margin-left: 25px;
    margin-right: 25px;
  }
}
body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award {
  width: 520px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 420px;
  }
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award ul li {
    font-size: 11px;
    line-height: 16px;
  }
}
@media (max-width: 420px) {
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-webdev-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (max-width: 1020px) {
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 215px);
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 70px;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 21px;
  }
}
@media (max-width: 750px) {
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 190px);
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link {
    padding-bottom: 20px;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 60px;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 180px);
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link {
    padding-left: 25px;
    padding-right: 25px;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 45px;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.fr-FR .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
  body.de-DE .stbase-webdev-page .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block {
    transform: scale(0.8);
    bottom: 10px;
    left: 15px;
  }
}
@media (max-width: 540px) {
  body.de-DE .stbase-webdev-page .masonry-references-list-section a.st-button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 470px) {
  body.de-DE .stbase-webdev-page .masonry-references-list-section a.st-button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 450px) {
  body.de-DE .stbase-webdev-page .masonry-references-list-section a.st-button-link {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 580px) {
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container h2 {
    font-size: 29px;
    line-height: 37px;
  }
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon {
    row-gap: 11px;
  }
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon h3 {
    font-size: 18px;
  }
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon p {
    font-size: 15px;
  }
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon:nth-child(5) h3 {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container h2 {
    font-size: 26px;
    line-height: 34px;
  }
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
  }
  body.de-DE .stbase-webdev-page .stbase-icon-list-block .container .icon-list .icon:nth-child(5) h3 {
    font-size: 18px;
  }
}
@media (min-width: 501px) and (max-width: 850px) {
  body.de-DE .stbase-webdev-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 46px;
    line-height: 55px;
  }
  body.de-DE .stbase-webdev-page .stbase-our-story-block .container .our-story-content p {
    font-size: 23px;
  }
}
body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link p {
  font-size: 20px;
}
@media (max-width: 1070px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media (max-width: 760px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 18px;
  }
}
@media (max-width: 670px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 390px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-webdev-page .stbase-fact-header-block header .fact-header-content {
    height: 330px;
  }
  body.de-DE .stbase-webdev-page .stbase-fact-header-block header .fact-header-content h3 {
    font-size: 26px;
  }
}
@media (max-width: 440px) {
  body.de-DE .stbase-webdev-page .stbase-fact-header-block#fact-1 header .fact-header-content h3 {
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  body.de-DE .stbase-webdev-page .stbase-fact-header-block#fact-1 header .fact-header-content h3 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact header .fact-header-content {
    height: 330px;
  }
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact header .fact-header-content h3 {
    font-size: 26px;
  }
}
@media (max-width: 440px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact:nth-child(1) header .fact-header-content h3 {
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  body.de-DE .stbase-webdev-page .stbase-fact-links-block .fact:nth-child(1) header .fact-header-content h3 {
    font-size: 20px;
  }
}

body.page-template-page-web-dev header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-web-dev header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-web-dev header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-web-dev header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}