.stbase-intro-text-awards-block {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    #intro-title-and-text {
      max-width: 664px;
      width: 60%;

      h1 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: -1.02px;
        line-height: 56px;

        @media (max-width: 910px) {
          text-align: center;
        }
      }

      #intro-text {
        max-width: 560px;
        font-size: 18px;
        line-height: 27px;

        p {
          color: #1c1c1c;
          font-family: Rubik;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 35.24px;
        }
      }
    }

    picture {
      max-width: 348px;
      width: 35%;
    }

    @media (min-width: 910px) and (max-width: 1030px) {
      #intro-title-and-text {
        width: 52%;

        h1 {
          font-size: 40px;
          line-height: 47px;
        }

        #intro-text {
          p {
            font-size: 24px;
            line-height: 31px;
          }
        }
      }

      picture {
        width: 45%;
      }
    }

    @media (max-width: 910px) {
      display: block;

      #intro-title-and-text {
        max-width: none;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 710px;
        margin-bottom: 20px;

        #intro-text {
          max-width: none;
        }
      }

      picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 410px;
        margin: 30px auto;
        text-align: center;
      }
    }

    @media (max-width: 680px) {
      #intro-title-and-text {
        h1 {
          font-size: 44px;
          line-height: 52px;
        }

        #intro-text {
          p {
            font-size: 22px;
            line-height: 34px;
          }
        }
      }
    }

    @media (max-width: 500px) {
      margin-top: 30px;

      #intro-title-and-text {
        h1 {
          font-size: 34px;
          line-height: 44px;
        }

        #intro-text {
          p {
            font-size: 20px;
            line-height: 30px;

            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
