@import '../_swisstomato2-base.less';

body.error404 {
    header#masthead:not(.fixed) {
        padding-top: 0;
        padding-bottom: 0;

        .container.center-1117 {
            background-color: #FFDAD7;
            padding-top: 35px;
            padding-bottom: 10px;

            @media (min-width: 1117px) {
                max-width: 1250px !important;
                margin-left: auto;
                margin-right: auto;
                padding-left: 25px;
                padding-right: 25px;
            }

            @media (min-width: 1250px) {
                max-width: 1250px !important;
                margin-left: auto;
                margin-right: auto;
                padding-left: 65px;
                padding-right: 65px;
            }

            #site-navigation {
                ul#primary-menu {
                    li {
                        a {
                            i {
                                color: @red;
                            }
                        }

                        ul.sub-menu {
                            background-color: #FFDAD7;
                        }

                        &.wpml-ls-item {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    #content {
        padding-top: 82px;

        #swisst2-404-page {
            background-color: #FFDAD7;
            background-repeat: no-repeat;
            background-position: top 30px right -190px;
            padding: 50px 65px;
            .center(1250px);
            overflow: hidden;

            .container {
                .center(910px);
                margin-top: 80px;
                margin-bottom: 300px;
                position: relative;

                #page-404-content {
                    max-width: 350px;

                    h1 {
                        font-family: 'Rubik';
                        font-size: 33px;
                        font-weight: bold;
                        line-height: 39px;
                        margin-bottom: 25px;
                        color: @red;
                    }

                    p {
                        margin-bottom: 25px;
                    }
                }

                img#page-404-image {
                    position: absolute;
                    top: 320px;
                    left: -470px;

                    @media (max-width: 720px) {
                        left: -300px;
                    }

                    @media (max-width: 490px) {
                        left: -200px;
                    }
                }
            }

            @media (max-width: 950px) {
                background-position: top 30px right -400px;
            }

            @media (max-width: 720px) {
                background-position: top 30px right -550px;
            }

            @media (max-width: 560px) {
                padding-left: 0;
                padding-right: 0;

                .container {
                    margin-top: 0;
                }
            }

            @media (max-width: 490px) {
                background-position: top -100px right -550px;

                .container {
                    margin-bottom: 200px;
                }
            }
        }
    }

    #contact-us {
        margin-top: 0;
    }
}
