// main: ../swisstomato2.less

#app-dev-page {
    #intro-section {
        h1 {
            //margin-bottom: 30px;
        }

        #intro-text {
            max-width: 740px;

            @media (max-width: 1350px) {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #floating-mobiles-section {
        position: relative;
        height: 488px;
        margin-top: 55px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        img {
            //transform: rotateZ(-4deg);
            position: absolute;
            max-width: 345px;

            &.floating-tomato {
                position: absolute;

                &.tomato-1 {
                    transform: rotateZ(-90deg);
                    bottom: -12px;
                    left: 280px;
                }

                &.tomato-2 {
                    top: -38px;
                    right: 117px;
                }
            }
        }

        & > img.parallax-mobile {
            top: -210px;
            right: 127px;
        }

        #floating-mobiles-red-bc {
            position: relative;
            background-color: @red;
            overflow: hidden;
            height: 100%;

            img.parallax-mobile {
                display: none;

                &:nth-of-type(1) {
                    left: -123px;
                    top: 20px;
                    display: inline-block;

                    @media (max-width: 1300px) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    left: 160px;
                    top: -95px;
                    display: inline-block;

                    @media (max-width: 1300px) {
                        display: none;
                    }
                }

                &:nth-of-type(3) {
                    left: 490px;
                    top: -80px;
                    display: inline-block;

                    @media (max-width: 1300px) {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 1350px) {
            img {
                display: none;
            }

            #floating-mobiles-red-bc {
                display: none;
            }
        }

        @media (max-width: 1150px) {
            height: 430px;
            background-size: cover;
        }

        @media (max-width: 950px) {
            height: 330px;
        }

        @media (max-width: 750px) {
            height: 230px;
            margin-top: 30px;
        }

        @media (max-width: 450px) {
            height: 150px;
        }
    }

    .check-list-section.type-2 {
        padding-top: 90px;
        padding-bottom: 150px;

        @media (max-width: 580px) {
            padding-top: 70px;
            padding-bottom: 80px;
        }
    }

    #advantages-section {
        padding-top: 120px;
        padding-bottom: 180px;
    }

    #agency-section {
        margin-top: -70px;

        .image-column {
            background-size: auto;
            background-position: right bottom;
            background-color: #D8D8D8;
            background-repeat: no-repeat;
        }

        @media (max-width: 790px) {
            margin-top: 0;
        }
    }

    #web-dev-section {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;

        p {
            color: #303030;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 19px;
        }

        @media (max-width: 500px) {
            margin-bottom: 50px;
        }
    }

    .references-section {
        margin-top: 0;
    }
}

body.fr-FR #app-dev-page {
    #fields-of-exp-section {
        .field-of-exp-list {
            .field {
                &:nth-child(2), &:nth-child(4), &:nth-child(8) {
                    p {
                        font-size: 15px;
                        line-height: 1.3em;
                    }
                }

                @media (max-width: @mobileMaxWidth) {
                    &:nth-child(2) {
                        p {
                            font-size: 14px;
                            line-height: 1.2em;
                        }
                    }
                }
            }
        }
    }
}