// main: ../swisstomato2.less

#arvr-page {
    #intro-section {
        h1 {
            .center(530px);
            margin-bottom: 35px;
        }
    }

    #why-section {
        margin: 90px auto 60px;
        text-align: center;
        max-width: 768px;

        h2 {
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
            .center(690px);
        }

        p {
            color: #303030;
            font-family: Rubik;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
        }

        @media (max-width: 800px) {
            margin: 70px auto 30px;
        }

        @media (max-width: 480px) {
            margin: 50px auto 10px;
        }
    }
    
    #ar-apps-section {
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 60px;

        #ar-apps-content {
            width: 490px;
            padding-top: 80px;
            padding-bottom: 190px;

            h2 {
                margin-bottom: 16px;
                font-size: 20px;
                line-height: 24px;
            }

            img.ar-apps-mobile-image {
                display: none;
            }

            p {
                color: #303030;
                font-family: Rubik;
                font-size: 18px;
                line-height: 27px;

                & + p {
                    margin-top: 26px;
                }
            }
        }

        @media (max-width: 850px) {
            background-image: none !important;

            #ar-apps-content {
                width: 100%;
                padding-top: 40px;
                padding-bottom: 40px;

                img.ar-apps-mobile-image {
                    display: block;
                    float: right;
                    margin: 0 0 10px 10px;
                }
            }
        }

        @media (max-width: 500px) {
            #ar-apps-content {
                padding-top: 20px;
                padding-bottom: 20px;

                h2 {
                    text-align: center;
                }

                h2 + img {
                    float: none;
                    width: 100%;
                    max-width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    left: -17px;
                }

                p {
                    text-align: center;
                }
            }
        }
    }

    #vr-apps-section-1 {
        margin-top: 54px;
        .flex-space-between();
        padding-bottom: 20px;

        #vr-apps-left-img-wrapper {
            width: 50%;

            img {
                position: relative;
                top: -110px;
            }
        }

        #vr-apps-right-content {
            width: 50%;

            h2 {
                color: #FFFFFF;
                font-family: Rubik;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }

            img.vr-apps-mobile-image {
                display: none;
            }

            p {
                width: 495px;
                color: #FFFFFF;
                font-family: Rubik;
                font-size: 18px;
                line-height: 27px;
            }
        }

        @media (max-width: 1050px) {
            padding-top: 50px;
            padding-bottom: 50px;
            align-items: stretch;

            #vr-apps-left-img-wrapper {
                img {
                    position: static;
                    width: 80%;
                }
            }

            #vr-apps-right-content {
                p {
                    width: 100%;
                }
            }
        }

        @media (max-width: 650px) {
            display: block;
            padding-bottom: 20px;

            #vr-apps-left-img-wrapper {
                display: none;
            }

            #vr-apps-right-content {
                width: 100%;

                img.vr-apps-mobile-image {
                    display: block;
                    float: right;
                    width: 150px;
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    #vr-apps-section-2 {
        background-color: #020816;
        .flex-space-between();
        align-items: stretch;
        padding-bottom: 20px;

        #vr-apps-left-content {
            width: 49%;
            display: flex;
            justify-content: center;
            padding-bottom: 100px;

            img:first-of-type {
                display: none;
            }

            p {
                color: #FFFFFF;
                font-family: Rubik;
                font-size: 18px;
                line-height: 27px;
                max-width: 494px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        #vr-apps-right-img-wrapper {
            background-size: cover;
            background-position: center;
            width: 50%;
            position: relative;
            top: -70px;
        }

        @media (max-width: 1050px) {
            padding-bottom: 60px;

            #vr-apps-left-content {
                padding-bottom: 0;
            }
            
            #vr-apps-right-img-wrapper {
                position: static;
            }
        }

        @media (max-width: 850px) {
            align-items: flex-start;

            #vr-apps-left-content {
                p {
                    max-width: none;
                }
            }
            
            #vr-apps-right-img-wrapper {
                height: 310px;
            }
        }

        @media (max-width: 730px) {
            #vr-apps-right-img-wrapper {
                height: 250px;
            }
        }

        @media (max-width: 650px) {
            display: block;

            #vr-apps-left-content {
                width: 100%;
                display: block;

                img:first-of-type {
                    display: block;
                    float: left;
                    width: 200px;
                    margin: 0 20px 20px 0;
                }

                p {
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }

            #vr-apps-right-img-wrapper {
                display: none;
            }
        }

        @media (max-width: 420px) {
            #vr-apps-left-content {
                //text-align: justify;
                
                img:first-of-type {
                    float: static;
                    width: 100%;
                }
            }
        }
    }

    #fields-title-section {
        text-align: center;
        margin: 65px auto 30px;

        h2 {
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }
    }

    .image-text-row.image-text {
        margin-top: 50px;

        @media (max-width: 650px) {
            margin-top: 20px;
        }
    }

    #fields-of-exp-section {
        padding: 30px 25px 50px;
        
        h2 {
            color: #342F2F;
            font-family: Rubik;
            font-size: 27px;
            font-weight: 300;
            line-height: 32px;
            text-align: center;
            margin: 10px 0;
        }

        .field-of-exp-list {
            margin-top: 40px;

            & + h2 {
                margin-top: 100px;

                @media (max-width: 400px) {
                    margin-top: 50px;
                }
            }

            &:last-child {
                justify-content: center;

                .field + .field {
                    margin-left: 12px;
                }

                @media (max-width: 760px) {
                    justify-content: space-between;
    
                    .field + .field {
                        margin-left: 0;
                    }
                }

                @media (max-width: 445px) {    
                    .field:last-of-type {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }

            &:after {
                @media (min-width: 761px) and (max-width: 780px) {
                    display: none;
                }
            }

            @media (max-width: 660px) {
                .field {
                    width: 49%;
                }
            }

            @media (max-width: 470px) {
                .field {
                    width: 48.4%;

                    p {
                        word-break: break-all;
                    }
                }
            }
        }
    }

    #shop-type-section {
        margin-top: 101px;

        #shop-type-list {
            .flex-space-between();
            align-items: flex-start;

            .shop-type {
                width: 30%;

                p {
                    margin: 0;
                    color: #303030;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 27px;

                    &.shop-type-title {
                        color: @red;
                        font-weight: bold;
                    }
                }

                
            }
        }
    }

    #shop-type-list-after-section {
        margin: 76px 0;

        p {
            .center(506px);
        }
    }

    #clients-section {
        h3 {
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }
    }

    .references-section {
        margin-top: 0;
        margin-bottom: 0;
        
        h2 {
            .center(549px);
        }
    }

    #app-dev-section {
        .flex-space-between();
        align-items: stretch;
        margin-top: 60px;

        #app-dev-text-column {
            width: 44.7%;
            padding: 0 10px 0 75px;

            h2 {
                color: #303030;
                font-family: 'Rubik';
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
        }

        #app-dev-img-wrapper {
            width: 48%;
        }
    }

    #web-dev-section {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;

        p {
            color: #303030;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 19px;
        }
    }

    #arvr-site-section {
        padding-top: 75px;
        padding-bottom: 75px;
        margin-bottom: -50px;

        h2 {
            max-width: 511px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            color: #342F2F;
            font-family: Rubik;
            font-size: 27px;
            font-weight: 300;
            line-height: 39px;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 40px;
        }

        p {
            width: 100%;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 23px;
        }

        a.button-red {
            padding: 14px 40px 16px;
        }
    }
}