// main: ../swisstomato2.less

#digital-marketing-page {
    #intro-section {
        h1 {
            .center(480px);
            margin-bottom: 35px;
        }
    }

    #section-1 + .check-list-section.p-215.type-2 {
        padding-left: 73px;
        padding-right: 73px;
        .center(540px);

        .check-item-list {
            .check-item {
                width: 50%;

                .check-item-title {
                    max-width: 252px;
                }

                &:last-child {
                    .check-item-title {
                        max-width: 252px;
                    }
                }
            }
        }
    }

    #clients-section {
        padding-top: 0px;
        margin-top: 50px;
    }

    .references-section {
        .container {
            background-color: #F8F8F8;
            padding-top: 15px;
            padding-bottom: 62px;

            h2 {
                .center(410px);
                color: #F2000C;
                font-family: Rubik;
                font-size: 33px;
                font-weight: bold;
                line-height: 39px;
                text-align: center;
            }
        }
    }
}