// main: ../swisstomato2.less
 
#home-page {
    margin-top: 55px;

    h2 {
        .font-full('Rubik', 33px, 39px, 700, @red);
        text-align: center;
    }

    #intro-section {
        .flex-space-between();

        #intro-title-and-text {
            max-width: 608px;

            h1 {
                color: #000000;
                font-family: 'Rubik';
                font-size: 30px;
                font-weight: 300;
                line-height: 36px;
                margin: 0 0 20px;
                text-align: left;

                @media (max-width: @mobileMaxWidth) {
                    text-align: center;
                }
            }

            #intro-text {
                max-width: 560px;
                font-size: 18px;
                line-height: 27px;
            }
        }

        .intro-awards {
            width: 348px;
        }

        @media (max-width: @mobileMaxWidth) {
            display: block;

            #intro-title-and-text {
                max-width: none;
                text-align: center;
                .center(600px);
                margin-bottom: 20px;

                #intro-text {
                    max-width: none;
                }
            }

            img.intro-awards {
                .center(348px);
                margin: 30px auto;
            }
        }
    }

    #services-section {
        margin-top: 60px;
        max-width: 1251px;

        #services {
            display: flex;
            justify-content: space-between;

            .service {
                width: 33.333334%;
                position: relative;

                .service-image {
                    height: 362px;
                    .bc-img-center();
                }

                .service-title {
                    height: 130px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 60px;
                    padding-right: 60px;
                    .font-full('Rubik', 25px, 29px, 500, white);

                    @media (max-width: 1151px) {
                        height: auto;
                        padding: 30px 56px 0;
                    }

                    @media (max-width: 1100px) {
                        padding: 25px 30px 0;
                    }

                    @media (max-width: 910px) {
                        br {
                            display: none;
                        }
                    }
                }

                .service-cover {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding: 39px 56px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    opacity: 0;
                    transition: all 400ms;
                    background-color: transparent;

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: @buttonHoverRed;
                        -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                        transform-origin: 50% 100%;
                        transition-property: transform;
                        transition-duration: 0.3s;
                        transition-timing-function: ease-out;
                    }

                    .service-text {
                        .font-full('Rubik', 16px, 25px, 400, white);
                        position: relative;
                        z-index: 1;

                        @media (min-width: 1151px) and (max-width: 1259px) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }

                    .button-white {
                        width: 100%;
                    }

                    @media (max-width: 1151px) {
                        position: static;
                        opacity: 1;
                        height: auto;
                        padding-top: 20px;

                        .button-white {
                            width: 100%;
                            margin-top: 20px;
                            padding: 15px 0;
                        }
                    }

                    @media (max-width: 1100px) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }

                &:hover {

                    @media screen and (min-width: 1151px) {
                        .service-cover {
                            opacity: 1;

                            &:before {
                                transform: scaleY(1);
                                -webkit-transform: scaleY(1);
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    .service-title {
                        background-color: @lightestRed;
                    }

                    .service-cover {
                        &:before {
                            background-color: @lightestRed;
                        }

                        a.button-white {
                            padding-left: 33px;
                            padding-right: 33px;

                            @media (max-width: 1150px) {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }

                    @media (max-width: 1151px) {
                        background-color: #f7666d;
                    }
                }

                &:nth-child(2) {
                    .service-title {
                        background-color: @lighterRed;
                    }

                    .service-cover {
                        &:before {
                            background-color: @lighterRed;
                        }

                        a.button-red {
                            padding-left: 32px;
                            padding-right: 32px;
                        }
                    }

                    @media (max-width: 1151px) {
                        background-color: #F54C54;
                    }
                }
    
                &:nth-child(3) {
                    .service-title {
                        background-color: @red;
                    }

                    .service-cover {
                        &:before {
                            background-color: @red;
                        }

                        a.button-red {
                            padding-left: 32px;
                            padding-right: 32px;
                        }
                    }

                    @media (max-width: 1151px) {
                        background-color: @red;
                    }
                }

                @media (max-width: 1150px) {
                    position: relative;
                }

                @media (max-width: 910px) {
                    width: 100%;
                    max-width: 600px;
                    margin-bottom: 50px;
                }
            }

            @media (max-width: 910px) {
                flex-direction: column;
                align-items: center;
            }
        }

        @media (max-width: @mobileMaxWidth) {
            background-color: #f8f8f8;
            padding-top: 60px;
            padding-bottom: 40px;
        }

        @media (max-width: 500px) {
            padding-top: 0;
			content-visibility: auto;
    		contain-intrinsic-size: 3900px;
        }
    }

    #parallax-section {
        height: 1350px;
        z-index: -1;
        position: relative;
        width: 100%;
        overflow: hidden;
        background: white;

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
        }

        .bg {
            top: 2000px;
        }

        .knife {
            position: absolute;
            width: 300px;
            left: -70%;
            z-index: 99;

            img {
                position: absolute;

                &.handle {
                    top: 0px;
                    left: 0px;
                    transform: scale(.5);
                }
        
                &.blade {
                    top: 50px;
                    left: 200px;
                    transform-origin: 0px 0px;
                    transform: scale(.5) rotate(10deg);
                    -webkit-transform: scale(.5) rotate(10deg);
                    -ms-transform: scale(.5) rotate(10deg);
                }
            }
        }

        .tomato {
            &.fg-tomato-1 {
                left: -5%;
                top: -200px;
                transform: scale(.5) rotate(90deg);
                -webkit-transform: scale(.5) rotate(90deg);
                -ms-transform: scale(.5) rotate(90deg);
            }
    
            &.fg-tomato-2 {
                left: 20%;
                top: -200px;
                transform: scale(.5) rotate(0deg);
                -webkit-transform: scale(.5) rotate(0deg);
                -ms-transform: scale(.5) rotate(0deg);
            }
    
            &.fg-tomato-3 {
                left: 50%;
                top: -200px;
                transform: scale(.5) rotate(-90deg);
                -webkit-transform: scale(.5) rotate(-90deg);
                -ms-transform: scale(.5) rotate(-90deg);
            }
    
            &.fg-tomato-4 {
                left: 70%;
                top: -500px;
                transform: scale(.5) rotate(0deg);
                -webkit-transform: scale(.5) rotate(0deg);
                -ms-transform: scale(.5) rotate(0deg);
            }
    
            &.bg-tomato-1 {
                left: -8%;
                top: -1000px;
                transform: scale(.5) rotate(-45deg);
                -webkit-transform: scale(.5) rotate(-45deg);
                -ms-transform: scale(.5) rotate(-45deg);
            }
    
            &.bg-tomato-2 {
                left: 20%;
                top: -1000px;
                transform: scale(.5) rotate(45deg);
                -webkit-transform: scale(.5) rotate(45deg);
                -ms-transform: scale(.5) rotate(45deg);
            }
    
            &.bg-tomato-3 {
                left: 50%;
                top: -1000px;
                transform: scale(.5) rotate(0deg);
                -webkit-transform: scale(.5) rotate(0deg);
                -ms-transform: scale(.5) rotate(0deg);
            }
    
            &.bg-tomato-4 {
                left: 70%;
                top: -1000px;
                transform: scale(.5) rotate(45deg);
                -webkit-transform: scale(.5) rotate(45deg);
                -ms-transform: scale(.5) rotate(45deg);
            }
        }

        #line {
            position: relative;
            top: 400px;
            left: 50%;
            width: 7px;
            height: 0px;
            background: #f2000c;
        }

        .splash {
            top: 1040px;
            left: 49.5%;

            &.one {
                left: 51.5%;
            }

            &.three {
                left: 49.5%;
                top: 1060px;
            }

            &.four {
                left: 48.5%;
                top: 1060px;
            }

            &.five {
                left: 49.5%;
                top: 1040px;
            }

            &.six {
                left: 40%;
            }

            &.seven {
                left: 47%;
            }

            &.eight {
                left: 49%;
            }

            &.center {
                top: 1060px;
                left: 46.5%;
            }
        }        

        #bottom-wave {
            position: absolute;
            top: 1046px;
            width: 1400px;
            height: 400px;
            transform: scale(1.5) rotate(0deg);
            z-index: 999;
        }

        #fill {
            position: absolute;
            width: 100%;
            height: 320px;
            background: #f2000c;
            /* background: purple; */
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        @media (max-width: 910px) {
            display: none;
        }
    }

    #awards-section {
        padding-top: 20px;
        padding-bottom: 80px;
        padding-left: 75px;
        padding-right: 75px;
        // position: relative;
        // top: -290px;
        margin-top: -290px;

        #awards-background {
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            padding-top: 1080px;

            #awards-background-bottom {
                width: 100%;
                height: 30px;
                margin-top: 70px;
                background-size: cover;

                @media (max-width: 1350px) {
                    display: none;
                }
            }

            @media (max-width: 1350px) {
                background-image: none !important;
                padding: 60px 0 60px;
            }
        }

        #awards-section-text {
            opacity: 0;
        }

        @media (max-width: 910px) {
            margin-top: 0;

            #awards-section-text {
                opacity: 1;
                padding-top: 50px;
            }
        }

        @media (max-width: 770px) {
            padding-bottom: 30px;
        }

        @media (max-width: 500px) {
            padding-top: 0;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    #references-sections {
        margin: 70px 0 15px;

        #references-text {
            .center-with-padding(840px, 890px, 25px);

            p {
                color: #342F2F;
                font-family: 'Rubik';
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                text-align: center;
                margin: 15px 0;
                display: block;

                @media (max-width: 450px) {
                    font-size: 17px;
                    line-height: 26px;
                    font-weight: 400;
                }
            }
        }

        .references-section {
            background-color: transparent;
            padding-bottom: 10px;
            padding-top: 0;

            h2 {
                color: #342F2F;
                font-family: 'Rubik';
                font-size: 27px;
                font-weight: 300;
                line-height: 32px;
                text-align: center;
                margin: 50px 0 30px;
            }
        }
    
        hr {
            margin: 50px 0 20px;
        }
    
        #all-references-link {
            margin-top: 36px;
            padding-left: 33px;
            padding-right: 33px;

            @media (max-width: 400px) {
                padding-left: 10px;
                padding-right: 10px;
                width: 100%;
            }
        }
    }

    #clients-section {
        background-color: #F8F8F8;
    }

    #aboutus-section {
        margin: 50px 0 90px;

        .container {
            h2 {
                margin: 70px 0 100px;

                @media (max-width: 600px) {
                    margin-bottom: 50px;
                }
            }

            #aboutus-boxes {
                .flex-space-between();
                align-items: flex-start;

                .box {
                    width: 30%;

                    .box-img {
                        width: 100%;
                        height: 181px;
                        background-position: top left;
                        background-repeat: no-repeat;
                    }

                    h3 {
                        color: #191515;
                        font-family: 'Rubik';
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 28px;
                    }

                    .box-text {
                        p {
                            color: black;
                            opacity: 0.6;
                        }
                    }
                }

                @media (max-width: 600px) {
                    flex-direction: column;

                    .box {
                        width: 100%;
                        max-width: 500px;
                        text-align: center;

                        .box-img {
                            background-position: center center;
                        }
                    }
                }
            }
        }
    }

    #why-us-section {
        .flex-space-between();
        align-items: stretch;
        flex-wrap: nowrap;
        justify-content: stretch;

        #why-us-title-wrapper {
            width: 30%;
            min-width: 420px;
            .bc-img-center();
            background-repeat: repeat;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 80px;

            h2 {
                color: white;
            }
        }

        #why-us-reasons {
            width: 70%;
            padding: 80px 100px;
            .flex-space-between();
            background-color: @red;
            color: white;

            .why-us-reason {
                width: 38%;

                h3 {
                    color: #FFFFFF;
                    font-family: 'Rubik';
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 29px;
                    margin: -33px 0 9px 0;
                }

                .reason-text {
                    p {
                        color: rgba(255, 255, 255, 0.75);
                        font-family: 'Rubik';
                        font-size: 16px;
                        line-height: 25px;
                    }
                }

                &:first-child {
                    h3 {
                        margin-top: -44px;
                    }
                }
            }
        }

        @media (max-width: 1050px) {
            #why-us-reasons {
                padding: 50px;
                width: 70%;
            }
        }

        @media (max-width: 950px) {
            flex-direction: column;
            
            #why-us-title-wrapper {
                width: 100%;
                padding: 30px 25px;
                min-width: auto;
            }

            #why-us-reasons {
                width: 100%;
                padding: 30px;

                .why-us-reason {
                    width: 42%;
                }
            }
        }

        @media (max-width: 420px) {
            #why-us-reasons {
                flex-direction: column;

                .why-us-reason {
                    width: 100%;

                    & + .why-us-reason {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    #our-story-section {
        .container-no-padding {
            .flex-space-between();
            align-items: stretch;
            flex-wrap: nowrap;
            justify-content: stretch;

            #our-story-column {
                width: 30%;
                min-width: 420px;
                background-color: #171719;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 100px 98px 100px 80px;

                h2 {
                    width: 100%;
                    text-align: left;
                }

                #our-story-text {
                    p {
                        color: #FFFFFF;
                        font-family: 'Rubik';
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 24px;
                    }
                }
            }

            #founders-column {
                width: 70%;
                background-color: #f8f8f8;

                #founders-image-wrapper {
                    text-align: center;
                    background-color: #DFE1E5;
                }

                #founders-list {
                    .flex-space-between();
                    align-items: flex-start;
                    padding: 50px 130px;

                    .founder {
                        width: 44%;

                        h3 {
                            margin: 0 0 4px;
                            .font-full('Rubik', 22px, 27px, 700, #171719);
                        }
    
                        .founder-title {
                            margin: 0 0 13px;
                            .font-full('Rubik', 18px, 22px, 400, #171719);
                        }
    
                        .founder-text {
                            font-size: 16px;
                            line-height: 25px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }

            @media (max-width: 1170px) {
                #founders-column #founders-list {
                    padding: 50px 90px;
                }
            }

            @media (max-width: 1070px) {
                #our-story-column {
                    padding: 50px;

                    h2 {
                        margin-top: 0;
                    }
                }

                #founders-column #founders-list {
                    padding: 50px 60px;
                }
            }

            @media (max-width: 950px) {
                flex-direction: column;

                #our-story-column {
                    width: 100%;
                    padding: 30px;
                    min-width: auto;
                }

                #founders-column {
                    width: 100%;
                    background-color: #f8f8f8;

                    #founders-list {
                        padding: 30px;
                    }
                }
            }

            @media (max-width: 430px) {
                #founders-column {
                    #founders-list {
                        flex-direction: column;

                        .founder {
                            width: 100%;

                            & + .founder {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    #posts-section.container {
        margin: 80px auto;
        max-width: 1000px;

        #post-list {
            .post {
                .flex-space-between();
                height: 290px;
                align-items: stretch;
                background-color: #f8f8f8;
                
                & + .post {
                    margin-top: 20px;
                }

                a.post-image {
                    width: 50%;
                    .bc-img-center();
                }

                .post-content {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 44px;

                    .post-categories {
                        a {
                            margin-right: 10px;
                            .font-full('Rubik', 15px, 18px, 700, @red);
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                    }

                    a.post-title {
                        .font-full('Rubik', 31px, 35px, 700,  black);
                        margin: 8px 0 5px;
                        max-height: 103.2px;
                        overflow: hidden;

                        &:hover {
                            color: @red;
                        }
                    }

                    .post-excerpt {
                        max-height: 75.5px;
                        overflow: hidden;

                        .p {
                            color: rgba(0, 0, 0, 0.6);
                            font-family: 'Rubik';
                            font-size: 16px;
                            line-height: 25px;
                        }
                    }
                }

                @media (max-width: 600px) {
                    height: auto;
                }

                @media (max-width: 550px) {
                    .post-content {
                        padding: 23px;

                        a.post-title {
                            font-size: 22px;
                            line-height: 30px;
                            max-height: 88.8px;
                        }
                    }
                }

                @media (max-width: 430px) {
                    flex-direction: column;

                    a.post-image {
                        width: 100%;
                        height: 100px;
                    }

                    .post-content {
                        width: 100%;
                    }
                }
            }
        }

        .bx-controls {
            margin-top: 25px;

            .bx-default-pager {
                .center(122px);
                .flex-space-between();
    
                .bx-pager-item {
                    width: 34px;
                    height: 2px;
                    text-align: left;
                    overflow: hidden;
                    background-color: #E4E1E1;
    
                    a.bx-pager-link {
                        height: 2px;
                        width: 0px !important;
                        display: block;
                        transition: width linear 5s;
                    }

                    &.animation {
                        a.bx-pager-link {
                            width: 34px !important;
                            background-color: @red;
                        }
                    }
                }
            }
        }

        a#more-posts {
            padding-left: 55px;
            padding-right: 55px;
            margin-top: 26px;
        }
    }


    // for tablets
    @media (max-height: 600px) {
        margin-top: 0;

        #services-section {
            margin-top: 20px;
        }
    }
}

body.fr-FR #home-page{
    #services-section {
        #services {
            .service {
                .service-image {
                    height: 450px;
                }
            }
        }
    }
}

body.de-DE #home-page{
    #services-section {
        #services {
            .service {
                .service-image {
                    height: 450px;
                }
            }
        }
    }
}