// main: ../swisstomato2.less


#swisst2-blogpost-page {
    background-color: #f9f9f9;
    margin-bottom: -50px;

    #swisst2-post {
        padding: 50px 0 90px;
        margin-bottom: 0;

        #post-categories {
            a {
                color: #F2000C;
                font-family: Rubik;
                font-size: 15px;
                font-weight: bold;
                line-height: 18px;
            }
        }

        h1 {
            color: #000000;
            font-family: Rubik;
            font-size: 44px;
            font-weight: bold;
            line-height: 52px;
            margin: 7px 0;
        }

        #post-date {
            opacity: 0.6;
            color: #000000;
            font-family: Rubik;
            font-size: 16px;
            line-height: 25px;
        }

        #post-thumbnail {
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #666;
            margin-top: 30px;

            &.full-width-img {
                background-size: cover;
            }

            @media (max-width: 500px) {
                height: 220px !important;
                background-size: cover;
            }

            @media (max-width: 420px) {
                height: 190px !important;
            }
        }

        #post-row {
            .flex-space-between();
            margin-top: 45px;
            align-items: flex-start;

            #post-column-2 {
                width: 63.4%;

                #post-content {
                    p {
                        color: #000000;
                        font-family: "Rubik";
                        font-size: 19px;
                        line-height: 32px;
    
                        a {
                            color: @red;
                        }

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                #post-sharing {
                    margin: 30px 0 70px;
                    display: flex;
                    align-items: center;

                    a {
                        margin-right: 24px;
                        cursor: pointer;

                        i {
                            font-size: 24px;
                        }
                    }
                }

                #next-post-wrapper {
                    #next-post {
                        width: 100%;
                        max-width: 520px;
                        height: 133px;
                        display: flex;
                        justify-content: space-between;
                        
                        a.post-image {
                            width: 43.4%;
                            .bc-img-center();
                        }

                        .post-content {
                            width: 51.9%;
                            
                            a.post-title {
                                color: #000000;
                                font-family: Rubik;
                                font-size: 25px;
                                font-weight: bold;
                                line-height: 31px;
                                margin-bottom: 10px;
                                max-height: 90.4px;
                                display: block;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                &:hover {
                                    color: @red;
                                }
                            }

                            .post-date{
                                opacity: 0.6;
                                color: #000000;
                                font-family: Rubik;
                                font-size: 16px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }

            #post-column-1 {
                width: 23.9%;

                #post-tags {
                    .gray-title {
                        margin-bottom: 18px;
                    }
                }
            }

            &.only-1-column {
                justify-content: center;

                #post-column-1 {
                    display: none;
                }
            }

            @media (max-width: 700px) {
                flex-direction: column;

                #post-column-1, #post-column-2 {
                    width: 100%;
                }
            }
        }


    }
}