@import '../_swisstomato2-base.less';

#swisst2-reference-page {
  #reference-featured-image {
    background-size: cover;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 567px;

    &.default-image {
      background-size: contain;
    }

    #hero-dark-layer {
      width: 100%;
      height: 567px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px 160px 100px;
      align-items: flex-start;

      h1 {
        color: #ffffff;
        font-family: Rubik;
        font-size: 57px;
        font-weight: 300;
        line-height: 67px;
        max-width: 432px;
      }

      @media (max-width: 850px) {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 50px 25px;
        align-items: center;

        h1 {
          text-align: center;
          font-size: 40px;
          line-height: 52px;
        }
      }
    }

    &.black-text {
      #hero-dark-layer h1 {
        color: black;
      }

      @media (max-width: 850px) {
        #hero-dark-layer {
          background-color: rgba(0, 0, 0, 0.7);

          h1 {
            color: white;
          }
        }
      }
    }

    @media (max-width: 700px) {
      height: 400px;

      #hero-dark-layer {
        height: 400px;
      }
    }
  }

  #reference-content-row {
    display: flex;
    justify-content: space-between;

    #reference-body {
      padding: 60px 100px;
      width: 70%;

      h2 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 31px;
        line-height: 44px;
        font-weight: normal;
      }

      p {
        font-size: 18px;
        line-height: 27px;
        max-width: 550px;
      }
    }

    #reference-sidebar {
      width: 30%;
      background-color: #ececee;
      padding: 60px 70px;
      word-break: break-word;

      img {
        margin-top: 8px;
      }

      strong {
        margin-top: 20px;
        //display: block;
      }

      p {
        &:first-child,
        &:nth-child(2) {
          a {
            display: block;
          }
        }
      }
    }

    @media (max-width: 1100px) {
      #reference-body {
        padding: 30px;
        width: 60%;
      }

      #reference-sidebar {
        padding: 30px;
        width: 40%;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;

      #reference-body {
        width: 100%;
        padding: 30px 0;
      }

      #reference-sidebar {
        width: 100%;
      }
    }
  }

  .media-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-height: 520px;
    width: 100%;

    .video {
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #efefef;
      position: relative;

      #video-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        img {
          width: 100%;
        }

        @media (max-width: 700px) {
          position: static;

          img {
            display: inherit;
          }
        }
      }
    }

    &.image-image {
      a {
        width: 50%;

        img {
          height: auto;

          // @media (max-width: 450px) {
          //     max-height: 357px;
          // }
        }
      }

      @media (max-width: 700px) {
        a {
          width: 100%;

          & + a {
            margin-top: 20px;
          }
        }
      }
    }

    &.video {
      max-height: unset;

      .video {
        width: 100%;

        #video-content {
          position: absolute;
          z-index: 1;
          max-height: 100%;
          display: none;
        }

        #video-cover {
          position: static;
          z-index: 10;
        }
      }
    }

    &.video-image {
      .video {
        width: 50%;

        #video-content {
          display: none;
        }
      }

      a {
        width: 50%;
      }

      @media (max-width: 700px) {
        .video {
          width: 100%;
        }

        .video + a {
          width: 100%;
          margin-top: 20px;
        }
      }
    }

    &.image {
      max-height: unset;

      img {
        height: auto !important;

        @media (max-width: 450px) {
          max-height: 240px;
        }
      }
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
      max-height: unset;
      margin-top: 20px;
      height: auto;
      min-height: unset;
      height: unset;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  #media-row-2 {
    margin-top: 50px;

    &.quote-image {
      display: flex;
      align-content: stretch;
      margin-top: 50px;

      .quote {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 28.16%;
        padding-left: 100px;

        #quote-content {
          color: #f2000c;
          font-family: Rubik;
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 40px;
        }

        img {
          max-width: 50px;
          margin-bottom: 13px;
        }

        #quote-author-name {
          color: #303030;
          font-family: Rubik;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
        }

        #quote-author-position {
          color: #303030;
          font-family: Rubik;
          font-size: 18px;
          font-style: italic;
          line-height: 22px;
        }
      }

      .image {
        width: 71.84%;
        min-height: 468px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
      }

      .mobile-image {
        display: none;
      }

      @media (max-width: 1300px) {
        .quote {
          padding: 30px;
        }
      }

      @media (max-width: 1000px) {
        margin-top: 0;

        .quote {
          padding-left: 0;
        }

        .image {
          max-height: 380px;
        }
      }

      @media (max-width: 760px) {
        flex-direction: column;
        margin-top: 20px;

        .quote {
          width: 100%;
          padding: 20px 0;
          text-align: center;

          #quote-content {
            margin-bottom: 25px;
          }

          img {
            width: 100%;
            margin: 0 auto;
          }
        }

        .image {
          display: none;
        }

        img.mobile-image {
          margin-top: 20px;
          display: inline-block;
        }
      }
    }

    @media (max-width: 700px) {
      margin-top: 20px;
    }
  }

  .reference-text-column {
    margin-top: 30px;

    p {
      .center(490px);
      color: #303030;
      font-family: Rubik;
      font-size: 18px;
      line-height: 27px;

      strong {
        font-family: 500;
      }
    }
  }

  #reference-text-column-image {
    text-align: center;
    margin-bottom: -30px;
  }

  &.post,
  &.post-6359 {
    #reference-featured-image {
      h1 {
        max-width: 362px;
      }
    }
  }

  &.post-4912,
  &.post-6381,
  &.post-6446 {
    #media-row-2 {
      margin-top: 10px;

      .image {
        background-size: contain;
        width: 49%;

        @media (max-width: 760px) {
          width: 100%;
          max-width: 548px;
        }
      }
    }

    @media (max-width: 1180px) {
      #reference-featured-image #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &.post-4977,
  &.post-6387,
  &.post-6442 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          //padding-bottom: 50px;

          h1 {
            max-width: 462px;
          }
        }
      }
    }
  }

  &.post-4908,
  &.post-6365,
  &.post-6460 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          padding-bottom: 0;

          h1 {
            max-width: 462px;
          }
        }
      }
    }
  }

  &.post-4911,
  &.post-6361,
  &.post-6462 {
    #swisst2-reference {
      #media-row-1 {
        &.image {
          margin-top: 60px;

          @media (max-width: 760px) {
            margin-top: 20px;
          }

          .image {
            background-size: contain;
          }
        }
      }
    }
  }

  &.post-4906,
  &.post-6382,
  &.post-6445 {
  }

  &.post-181,
  &.post-6368,
  &.post-6457 {
    @media (max-width: 1180px) {
      #reference-featured-image #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 50px 25px;
        align-items: center;

        h1 {
          text-align: center;
        }
      }
    }

    #swisst2-reference {
    }
  }

  &.post-6457 {
    @media (min-width: 1180px) {
      #reference-featured-image #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 50px 25px;
        align-items: center;

        h1 {
          text-align: center;
          max-width: 100%;
        }
      }
    }

    #swisst2-reference {
    }
  }

  &.post-4915,
  &.post-6390,
  &.post-6437 {
    #swisst2-reference {
    }
  }

  &.post-4907,
  &.post-6389,
  &.post-6439 {
    #swisst2-reference {
    }
  }

  &.post-4893,
  &.post-6370,
  &.post-6454 {
  }

  &.post-164,
  &.post-6469 {
  }

  &.post-4914,
  &.post-6402,
  &.post-6427 {
  }

  &.post-4905,
  &.post-6392,
  &.post-6436 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          padding-bottom: 0;

          h1 {
            max-width: 462px;

            @media (max-width: 450px) {
              font-size: 32px;
              line-height: 42px;
            }
          }
        }
      }
    }
  }

  &.post-4904,
  &.post-6376,
  &.post-6449 {
    #swisst2-reference {
    }
  }

  &.post-4902,
  &.post-6373,
  &.post-6451 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          padding-top: 30px;

          h1 {
            max-width: 610px;
            font-size: 50px;
            line-height: 1.2em;
            margin-bottom: 10px;

            @media (max-width: 540px) {
              font-size: 32px;
              line-height: 42px;
            }
          }

          @media (max-width: 1200px) {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }

  &.post-4901,
  &.post-6371,
  &.post-6453 {
    #swisst2-reference {
    }
  }

  &.post-6453 {
    #swisst2-reference {
      @media (min-width: 850px) {
        #reference-featured-image #hero-dark-layer {
          background-color: rgba(0, 0, 0, 0.7);
          padding: 50px 25px;
          align-items: center;

          h1 {
            text-align: center;
            max-width: 100%;
            color: white;
          }
        }
      }
    }
  }

  &.post-4900,
  &.post-6372,
  &.post-6452 {
    #swisst2-reference {
    }
  }

  &.post-4899 {
    #swisst2-reference {
    }
  }

  &.post-6404 {
    #swisst2-reference {
      #reference-featured-image #hero-dark-layer {
        padding-bottom: 0;
      }
    }
  }

  &.post-4911,
  &.post-6361 {
    #swisst2-reference {
    }
  }

  &.post-185 {
    #reference-featured-image {
      #hero-dark-layer {
        h1 {
          font-size: 50px;
          line-height: 63px;
          max-width: 440px;
        }
      }
    }
  }

  &.post-4903 {
    #reference-featured-image {
      #hero-dark-layer {
        padding-bottom: 0;
      }
    }
  }

  &.post-5749,
  &.post-6401,
  &.post-6428 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &.post-6428 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          h1 {
            max-width: 610px;
          }
        }
      }
    }
  }

  &.post-5751,
  &.post-6399,
  &.post-6430 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          padding-top: 80px;
          padding-bottom: 80px;

          h1 {
            font-weight: 400;
            line-height: 67px;
            max-width: 380px;
          }
        }
      }
    }
  }

  &.post-4892 {
    #swisst2-reference {
    }
  }

  &.post-4820,
  &.post-6367,
  &.post-6458 {
    #swisst2-reference {
    }
  }

  &.post-6357 {
    #swisst2-reference {
      #reference-featured-image {
        #hero-dark-layer {
          padding-bottom: 30px;
        }
      }
    }
  }

  &.post-6464 {
    #reference-featured-image {
      #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.post-6361,
  &.post-6462,
  &.post-4911 {
    #reference-featured-image {
      #hero-dark-layer {
        h1 {
          max-width: 452px;
        }

        @media (max-width: 1280px) {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  &.post-6461,
  &.post-6363 {
    #reference-featured-image {
      #hero-dark-layer {
        @media (max-width: 990px) {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  &.post-5851 {
    #reference-featured-image {
      #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &.post-6398,
  &.post-5851,
  &.post-6432 {
    #reference-featured-image {
      #hero-dark-layer {
        @media (max-width: 1300px) {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  &.post-6433,
  &.post-5852,
  &.post-6395 {
    #reference-featured-image {
      #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &.post-6434,
  &.post-6394,
  &.post-5853 {
    #reference-featured-image {
      #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &.post-6418,
  &.post-4891,
  &.post-6419 {
    #reference-featured-image {
      #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.post-10647,
  &.post-10631,
  &.post-10609 {
    @media (max-width: 850px) {
      #reference-featured-image #hero-dark-layer {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
