// main: ../swisstomato2.less

#swisst2-references-page {
	#intro-section {
		h1 {
			@media (max-width: 700px) {
				margin-bottom: 30px;
			}
		}

		#references-intro-text {
			.center(630px);

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		#filter-section {
			margin-top: 55px;
			display: flex;
			justify-content: space-between;

			.filter-area {
				h2 {
					color: #342f2f;
					font-family: Rubik;
					font-size: 26px;
					font-weight: 300;
					line-height: 32px;
					margin-bottom: 20px;
				}

				.filter-boxes {
					display: flex;
					justify-content: space-between;

					.filter-box {
						width: 67px;
						cursor: pointer;
					}
				}
			}

			#platform-filter-area {
				max-width: 250px;
				width: 100%;

				.filter-boxes {
					flex-wrap: wrap;
					justify-content: center;

					.filter-box.platform-filter-box {
						box-sizing: border-box;
						border: 1.5px solid #f2000c;
						border-radius: 3px;
						width: 120px;
						height: 45px;
						padding: 1px 5px 0;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #f2000c;
						font-family: Rubik;
						font-size: 13px;
						font-weight: 600;
						line-height: 15px;
						text-align: center;
						transition: all 200ms;

						&:nth-child(1),
						&:nth-child(2) {
							margin-bottom: 7px;
						}

						&:nth-child(2n) {
							margin-left: 7px;
						}

						&:hover,
						&.selected {
							background: @red;
							color: white;
						}

						&:hover:not(.selected) {
							@media (max-width: 500px) {
								background-color: white;
								color: @red;
							}
						}
					}
				}
			}

			#areas-filter-area {
				max-width: 795px;
				width: 100%;

				.filter-boxes {
					.filter-box.area-filter-box {
						.area-icon {
							box-sizing: border-box;
							border: 1.5px solid #f2000c;
							border-radius: 3px;
							height: 67px;
							display: flex;
							justify-content: center;
							align-items: center;
							margin-bottom: 8px;
							cursor: pointer;
							transition: all 200ms;

							picture {
								&:last-child {
									display: none;
								}
							}
						}

						&:hover {
							.area-icon {
								background-color: @red;

								@media (max-width: 500px) {
									background-color: white;
								}
							}
						}

						.area-name {
							color: #f2000c;
							font-family: Rubik;
							font-size: 13px;
							font-weight: 600;
							line-height: 15px;
							text-align: center;
						}

						&.selected {
							.area-icon {
								background: @red;

								picture {
									&:first-child {
										display: none;
									}

									&:last-child {
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}

			@media (max-width: 1170px) {
				flex-direction: column;
				align-items: center;

				h2 {
					text-align: center;
				}

				#platform-filter-area {
					margin-bottom: 20px;
				}
			}

			@media (max-width: 700px) {
				margin-top: 0;
			}

			@media (min-width: 501px) and (max-width: 880px) {
				#areas-filter-area {
					.filter-boxes {
						justify-content: center;
						.center(450px);
						display: flex;
						flex-wrap: wrap;

						.filter-box {
							margin-right: 20px;
							margin-bottom: 20px;

							&:last-child {
								margin-right: 0;
							}

							&:nth-child(5n) {
								margin-right: 0;
							}
						}
					}
				}
			}

			@media (max-width: 500px) {
				#areas-filter-area {
					.filter-boxes {
						justify-content: center;
						.center(320px);
						display: flex;
						flex-wrap: wrap;

						.filter-box {
							margin-right: 24px;
							margin-bottom: 20px;

							&:last-child {
								margin-right: 0;
							}

							&:nth-child(3n) {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}

	#loading-gif {
		.center(64px);
		margin-top: 30px;
		display: none;
	}

	.references-section {
		padding-top: 40px;
		padding-bottom: 30px;
		background-color: transparent;

		.post-list {
			visibility: hidden;

			&.low-num-item {
				justify-content: center;

				.post+.post {
					margin-left: 20px;

					@media (max-width: 600px) {
						margin-left: 10px;
					}

					@media (max-width: 530px) {
						margin-left: 0;
					}
				}
			}

			#post-template {
				display: none;
			}
		}
	}

	#loading-gif-mobile-wrapper {
		position: fixed;
		left: 20px;
		bottom: 20px;
		padding: 10px 10px 2px 10px;
		background-color: #fee6e7;
		border-radius: 50px;
		display: none;

		#loading-gif-mobile {}
	}
}

body.fr-FR #swisst2-references-page {
	#intro-section {
		#filter-section {
			#areas-filter-area {
				.filter-boxes {
					.filter-box.area-filter-box {
						&:nth-of-type(2) {
							.area-name {
								font-size: 10px;
								margin-left: -7px;
								width: 80px;
							}
						}

						&:nth-of-type(5) {
							.area-name {
								font-size: 11px;
								margin-left: -8px;
							}
						}
					}
				}
			}
		}
	}
}

body.de-DE #swisst2-references-page {
	#intro-section {
		#filter-section {
			#areas-filter-area {
				.filter-boxes {
					.filter-box.area-filter-box {
						&:nth-of-type(5) {
							.area-name {
								font-size: 11px;
								margin-left: -3px;
							}
						}
					}
				}
			}
		}
	}
}