// main: ../swisstomato2.less

#search-engine-page {
    #intro-section {
        h1 {
            .center(630px);
            margin-bottom: 35px;
            word-wrap: break-word;
        }
    }

    #hero-section {
        #hero-content {
            p {
                color: black;

                @media (max-width: 800px) {
                    color: white;
                }
            }
        }

        @media (max-width: 1140px) {
            #hero-dark-layer {
                background-color: rgba(0,0,0,0.7);
                padding: 50px 25px;
                align-items: center;
                color: white;

                p {
                    color: white;
                }
            }
        }
    }

    #section-5 {
        background-color: rgba(255,218,215,0.25);
        padding: 30px 25px;
        text-align: center;
        margin-bottom: -30px;

        p {
            color: #303030;
            font-family: Rubik;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            .center(798px);
        }
    }
}