// main: ../swisstomato2.less

#smartwatch-page {
    #intro-section {
        h1 {
            .center(480px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        #hero-dark-layer {
            @media (max-width: 1050px) {
                background-color: rgba(0,0,0,0.7);
                padding: 50px 25px;
                align-items: center;
                text-align: center;
            }
        }
    }

    #smartwatch-app-dev-section {
        margin-top: 120px;
        margin-bottom: 50px;

        h2 {
            color: #342F2F;
            font-family: Rubik;
            font-size: 27px;
            font-weight: 300;
            line-height: 32px;
            text-align: center;
            margin-bottom: 5px;
            .center(560px);
        }

        .container {
            .flex-space-between();
            align-items: stretch;
            margin-top: 40px;

            #smartwatch-app-dev-img-wrapper {
                width: 48%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

            }

            #smartwatch-app-dev-content {
                width: 45%;
                padding: 30px 0;

                img {
                    &.smartwatch-app-dev-mobile {
                        display: none;
                    }
                }

                p {
                    color: #303030;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 27px;
                    max-width: 490px;
                }
            }
        }

        @media (max-width: 650px) {
            margin-top: 70px;
            margin-bottom: 70px;

            h2 {
                padding-left: @defaultPadding;
                padding-right: @defaultPadding;
            }

            .container {
                margin-top: 30px;

                #smartwatch-app-dev-img-wrapper {
                    background-position-y: top;
                }

                #smartwatch-app-dev-content {
                    padding: 0;

                    p {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        @media (max-width: 550px) {
            .container {
                display: block;

                #smartwatch-app-dev-img-wrapper {
                    display: none;
                }

                #smartwatch-app-dev-content {
                    width: 100%;

                    img {
                        &.smartwatch-app-dev-mobile {
                            display: block;
                            width: 200px;
                            float: left;
                            margin: 0 10px 10px 0;
                        }
                    }
                }
            }
        }

        @media (max-width: 420px) {
            .container {
                #smartwatch-app-dev-content {
                    img {
                        &:first-child {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

    #fields-of-exp-section {
        padding: 30px 25px 50px;

        @media (max-width: 650px) {
            padding-top: 60px;
        }
    }

    #clients-section {
        h3 {
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }
    }
}

body.fr-FR {
    #fields-of-exp-section {
        .field-of-exp-list {
            .field {
                &:nth-child(2), &:nth-child(6), &:nth-child(8) {
                    p {
                        font-size: 15px;
                        line-height: 1.3em;
                    }
                }
            }
        }
    }
}