// main: ../swisstomato2.less

#unity-page {
    #intro-section {
        h1 {
            .center(480px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        @media (max-width: 650px) {
            margin-bottom: 70px;
        }
    }

    #swisstomato-section {
        margin-top: 114px;

        h2 {
            text-align: center;
            margin-top: 0;
        }

        @media (max-width: 650px) {
            margin-top: 70px;
        }
    }

    #process-timing-section {
        @media (max-width: 500px) {
            padding-top: 20px;

            #process-timing-step-list {
                margin-top: 34px;
            }
        }
    }
}