@import '../_swisstomato2-base.less';

#web-dev-page {
    #intro-section {
        overflow: hidden;
        height: 829px;
        position: relative;

        #normal-content {
            #intro-text {
                margin-left: 68px;
                max-width: 580px;
                margin-bottom: 75px;

                @media (max-width: 1350px) {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    max-width: 670px;
                    margin-bottom: 50px;
                }
            }
        }
        
        .floating-website {
            height: 800px;
            width: 100%;
            bottom: 0;
            position: absolute;
            z-index: 1;
            background-color: transparent;
            background-repeat: no-repeat;

            @media (max-width: 1350px) {
                display: none;
            }
        }

        #red-bc {
            height: 488px;
            width: 100%;
            position: absolute;
            z-index: 0;
            background-color: @red;
            background-position-y: -200px;
            background-position-x: center;

            @media (min-width: 1351px) {
                background-image: none !important;
            }
        }

        @media (max-width: 1350px) {
            padding-left: 0;
            padding-right: 0;
            height: 783px;

            #normal-content {
                padding-left: 25px;
                padding-right: 25px;
            }
        }

        @media (max-width: 800px) {
            height: auto;

            #red-bc {
                background-position: center;
                background-size: cover;
                height: 300px;
                position: relative;
            }
        }

        @media (max-width: 800px) {
            #red-bc {
                height: 230px;
            }
        }
    }

    .check-list-section {
        padding-top: 90px;
        padding-bottom: 150px;

        @media (max-width: 790px) {
            padding-bottom: 50px;

            .check-item-list {
                .check-item {
                    margin-bottom: 40px;
                }
            }
        }

        @media (max-width: 580px) {
            padding-top: 90px;
            padding-bottom: 0;
        }
    }

    #agency-section {
        margin-top: -50px;

        @media (max-width: 790px) {
            margin-top: 80px;
        }
    }

    #website-creation-section {
        .text-column {
            justify-content: flex-start;
        }
    }

    #web-dev-section {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;

        p {
            color: #303030;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 19px;
        }

        @media (max-width: 650px) {
            margin-bottom: 60px;
        }
    }

    .references-section {
        margin-top: 0;
        margin-bottom: 0;
    }
}

body.de-DE #web-dev-page {
    #clients-section {
        #clients-text {
            p {
                max-width: 670px;

                @media (max-width: 550px) {
                    font-size: 22px;
                    line-height: 33px;
                }

                @media (max-width: 415px) {
                    font-size: 19px;
                    line-height: 29px;
                }
            }
        }
    }
}