// main: ../swisstomato2.less

#web-dev-smallc-page {
    #intro-section {
        h1 {
            .center(489px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        #hero-content {
            p {
                color: black;

                @media (max-width: 800px) {
                    color: white;
                }
            }
        }

        @media (max-width: 1140px) {
            #hero-dark-layer {
                background-color: rgba(0,0,0,0.7);
                padding: 50px 25px;
                align-items: center;
                color: white;

                p {
                    color: white;
                }
            }
        }
    }

    #website-developer-section {
        margin-top: 20px;
    }

    .image-text-row + .check-list-section {
        .check-item-list {
            .check-item {
                width: 29%;

                .check-item-title {
                    max-width: none;
                }

                &:last-child {
                    .check-item-title {
                        max-width: 210px;
                    }
                }
            }
        }

        @media (max-width: 790px) {
            padding-top: 0px;
            padding-bottom: 20px;

            .check-item-list {
                justify-content: space-between;

                .check-item {
                    width: 30%;
                    text-align: left;

                    &:nth-child(2n) {
                        margin-left: 0;
                    }
                }
            }
        }

        @media (max-width: 650px) {
            .check-item-list {                
                .check-item {
                    width: 46%;
                }
            }
        }

        @media (max-width: 580px) {
            .check-item-list {                
                .check-item {
                    width: 100%;
                    max-width: none;
                    margin-top: 0;

                    .far.fa-check-circle {
                        float: left;
                    }

                    .check-item-title {
                        margin-top: 0;
                        margin-left: 51px;
                        max-width: none;
                        margin-top: -3px;
                    }

                    &:last-child {
                        .check-item-title {
                            max-width: none;
                        }
                    }
                }
            }
        }
    }

    #fields-of-exp-section {
        padding: 30px 25px 50px;
    }

    #clients-section {
        h3 {
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }
    }

    .references-section {
        margin-top: 0;
        margin-bottom: 0;
        
        h2 {
            .center(549px);
        }
    }

    #app-dev-section {
        .flex-space-between();
        align-items: stretch;
        margin-top: 60px;

        #app-dev-text-column {
            width: 44.7%;
            padding: 0 10px 0 75px;

            h2 {
                color: #303030;
                font-family: 'Rubik';
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
        }

        #app-dev-img-wrapper {
            width: 48%;
        }
    }

    #web-dev-section {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;

        p {
            color: #303030;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 19px;
        }
    }
}