@import "../_swisstomato2-base.less";

#app-dev-page {
  margin-top: 20px;

  #services-section + .icon-text-list-section {
    margin-top: 60px;
  }

  .references-section {
    margin-top: 0;
    margin-bottom: 0;
    max-width: unset;
  }

  .references-section + #why-us-section {
    margin-top: 0;
  }

  #advantages-section {
    padding-top: 120px;
    padding-bottom: 180px;
  }

  .image-text-row {
    .column {
      &.image-column {
        @media (min-width: 650px) and (max-width: 1240px) {
          height: 36vw;
        }

        @media (max-width: 650px) {
          height: 71vw;
        }
      }
    }
  }

  #web-dev-section {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 40px;

    p {
      color: #303030;
      font-family: "Rubik";
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      margin-bottom: 19px;
    }

    @media (max-width: 500px) {
      margin-bottom: 50px;
    }
  }

  #appdev-process-timing-section {
    padding: 62px 0;
    .center-with-padding(1095px, 1145px, 25px);

    h2 {
      color: #303030;
      font-family: Rubik;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 33px;
      text-align: center;
      margin: 0 0 23px;
    }

    #pt-section-text {
      .center(770px);

      p {
        color: #303030;
        font-family: Rubik;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;
        margin: 19px 0;
      }
    }

    #process-timing-steps {
      margin-top: 62px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      &:after {
        display: block;
        width: 32%;
        height: 10px;
        content: " ";
      }

      .step {
        width: 32%;
        padding: 32px 29px 75px;
        background-color: rgba(242, 0, 12, 0.06);
        margin-bottom: 20px;
        position: relative;

        .step-number {
          color: #f2000c;
          font-family: Rubik;
          font-size: 55px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 55px;
        }

        h3 {
          color: #303030;
          font-family: Rubik;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 25px;
          margin: 15px 0 0;
        }

        .step-timing {
          color: #f2000c;
          font-family: Rubik;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 27px;
          margin-top: 4px;
        }

        .step-text {
          margin: 19px 0 0;
          color: #110f24;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 27px;
          overflow: hidden;

          p {
            color: #110f24;
            font-family: Rubik;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 27px;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .step-read-more {
          position: absolute;
          left: 29px;
          bottom: 32px;
          color: #f2000c;
          font-family: Rubik;
          font-size: 16px;
          font-weight: bold;
          line-height: 19px;
          margin-top: 17px;
          cursor: pointer;

          i {
            margin-right: 0;
            position: relative;
            top: 1px;
            left: 2px;
            transform: none;
            transition: 700ms all;
          }

          .less {
            display: none;
          }

          &.opened {
            .read-more {
              display: none;
            }

            .less {
              display: inline-block;
            }

            i {
              transform: rotateZ(180deg);
            }
          }
        }

        .transition-delay-loop(7);
      }

      &:not(.no-scroll) {
        .step {
          transform: translateY(100px);
          opacity: 0;
          transition-duration: 200ms;
        }

        &.scrolled-to {
          .step {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      @media (max-width: 1060px) {
        justify-content: center;

        .step {
          width: 44%;

          &:nth-child(2n + 1) {
            margin-right: 20px;
          }
        }

        &:after {
          width: 44%;
        }
      }

      @media (max-width: 790px) {
        .step {
          width: 47%;
        }

        &:after {
          width: 47%;
        }
      }

      @media (max-width: 580px) {
        margin-top: 34px;

        .step {
          width: 100%;

          &:nth-child(2n + 1) {
            margin-right: 0;
          }
        }
      }
    }
  }

  #app-hours-complexity-section {
    .center-with-padding(825px, 875px, 25px);
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
      color: #f2000c;
      font-family: Rubik;
      font-size: 33px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 39px;
      text-align: center;
      margin: 0 0 23px;
    }

    #ahc-text {
      p {
        color: #342f2f;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
        margin: 19px 0;
      }
    }

    #ahc-cards {
      margin-top: 47px;

      .ahc-card {
        background: rgba(242, 0, 12, 0.06);
        padding: 39px 45px 39px 0;
        display: flex;

        .progress-bar-wrapper {
          width: 19.5%;
          display: flex;
          justify-content: center;

          .progress-bar-bc {
            display: flex !important;
            flex-direction: column;
            justify-content: flex-end;
            width: 28px;
            height: 188px;
            border-radius: 14px;
            background-color: rgba(242, 0, 12, 0.1);
            overflow: hidden;

            .progress-bar {
              width: 28px;
              border-radius: 14px;
              background: linear-gradient(180deg, #a8a1ff 0%, #ff6869 100%);
              height: 0;
            }
          }
        }

        .ahc-card-text {
          width: 80.5%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;

          h3 {
            color: #303030;
            font-family: Rubik;
            font-size: 19px;
            letter-spacing: 0;
            line-height: 32px;
            font-weight: bold;
            margin: 0;
          }

          p {
            color: #303030;
            font-family: Rubik;
            font-size: 19px;
            letter-spacing: 0;
            line-height: 32px;
            margin: 18px 0;
          }
        }

        & + .ahc-card {
          margin-top: 20px;
        }

        &:nth-child(1) {
          .progress-bar-wrapper {
            .progress-bar-bc {
              .progress-bar {
                height: 51px;      
              }
            }
          }
          
          &:not(.no-scroll) .progress-bar-wrapper {
            .progress-bar-bc {
              .progress-bar {
                transition: transform 300ms ease-out;
                transform: translateY(51px);
              }
            }
          }

          &.scrolled-to {
            .progress-bar-wrapper {
              .progress-bar-bc {
                .progress-bar {
                  transform: none;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          .progress-bar-wrapper {
            .progress-bar-bc {
              .progress-bar {
                height: 113px;
              }
            }
          }

          &:not(.no-scroll) .progress-bar-wrapper {
            .progress-bar-bc {
              .progress-bar {
                transition: transform 600ms ease-out;
                transform: translateY(113px);
              }
            }
          }

          &.scrolled-to {
            .progress-bar-wrapper {
              .progress-bar-bc {
                .progress-bar {
                  transform: none;
                }
              }
            }
          }
        }

        &:nth-child(3) {
          .progress-bar-wrapper {
            .progress-bar-bc {
              .progress-bar {
                height: 176px;
              }
            }
          }

          &:not(.no-scroll) .progress-bar-wrapper {
            .progress-bar-bc {
              .progress-bar {
                transition: transform 900ms ease-out;
                transform: translateY(176px);
              }
            }
          }

          &.no-scroll,
          &.scrolled-to {
            .progress-bar-wrapper {
              .progress-bar-bc {
                .progress-bar {
                  transform: none;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 550px) {
      h2 {
        font-size: 30px;
        line-height: 38px;
      }

      #ahc-text {
        p {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }

    @media (max-width: 500px) {
      #ahc-cards {
        .ahc-card {
          padding-right: 20px;

          .progress-bar-wrapper {
            width: 30%;
          }

          .ahc-card-text {
            p {
              font-size: 17px;
              line-height: 25px;
            }
          }
        }
      }
    }

    @media (max-width: 450px) {
      h2 {
        font-size: 26px;
        line-height: 33px;
      }

      #ahc-text {
        p {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }

  #lets-work-section {
    background: #fef0f1;
    padding: 100px 0;
    margin-bottom: 0;

    .container {
      max-width: 870px;

      h2 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 39px;
        text-align: center;
        margin-top: 0;
        .center(800px);
      }

      p {
        color: #303030;
        font-family: Rubik;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:not(.no-scroll) {
        opacity: 0;
        transform: scale(0.6) translateZ(-100px);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        &.scrolled-to {
          opacity: 1;
          transform: scale(1) translateZ(0);
        }
      }
    }

    @media (max-width: 580px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (max-width: 550px) {
      .container {
        h2 {
          font-size: 30px;
          line-height: 38px;
        }
      }
    }
  }
}

body.en-US {
  #app-dev-page {
    #services-section #services .service .service-title {
      @media (min-width: 1200px) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

.fr-FR #app-dev-page {
  #intro-text-awards-2022 {
    @media (min-width: 651px) {
      #intro-title-and-text {
        max-width: 634px;

        h1 {
          font-size: 39px;
          line-height: 50px;
        }

        #intro-text {
          max-width: none;

          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
    }

    @media (max-width: 650px) {
      #intro-title-and-text {
        h1 {
          font-size: 38px;
          line-height: 48px;
        }
      }

      #intro-text {
        p {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }

    @media (max-width: 480px) {
      #intro-title-and-text {
        h1 {
          font-size: 32px;
          line-height: 42px;
        }
      }

      #intro-text {
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .swisst-banner {
    padding-top: 35px;
    padding-bottom: 35px;

    @media (max-width: 780px) {
      .swisst-banner-content {
        p {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }

    @media (max-width: 720px) {
      .swisst-banner-content {
        width: 60%;

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    @media (max-width: 650px) {
      .swisst-banner-content {
        width: 100%;

        p {
          .center(265px);
          margin-bottom: 17px;
        }
      }
    }
  }

  .our-story-section {
    .container {
      .our-story-content {
        h2 {
          font-size: 46px;
          line-height: 54px;
        }

        p {
          font-size: 22px;
          line-height: 34px;
        }

        @media (min-width: 921px) and (max-width: 1030px) {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }

        @media (min-width: 851px) and (max-width: 920px) {
          h2 {
            font-size: 26px;
            line-height: 35px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        @media (max-width: 550px) {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  #fields-of-exp-section {
    .field-of-exp-list {
      .field {
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(8) {
          p {
            font-size: 15px;
            line-height: 1.3em;
          }
        }

        @media (max-width: @mobileMaxWidth) {
          &:nth-child(2) {
            p {
              font-size: 14px;
              line-height: 1.2em;
            }
          }
        }
      }
    }
  }

  #why-section {
    #why-section-pink-bc {
      .container {
        .why-text-column {
          p.handwritten-text {
            @media (max-width: 420px) {
              max-width: 350px;
            }

            @media (max-width: 389px) {
              max-width: 310px;
              font-size: 38px;
              line-height: 48px;
            }

            @media (max-width: 373px) {
              font-size: 35px;
              line-height: 45px;
            }
          }
        }
      }
    }
  }

  #image-text-row-1 {
    .column {
      @media (min-width: 651px) {
        &.image-column {
          width: 44%;
        }
  
        &.text-column {
          width: 49%;

          h2 {
            font-size: 18px;
            line-height: 22px;
          }

          p {
            font-size: 17px;
            line-height: 27px;
          }
        }
      }
    }
  }

  #appdev-process-timing-section {
    #process-timing-steps {
      .step {
        h3 {
          font-size: 19px;
          line-height: 25px;
        }
      }
    }
  }

  .swisst2-big-bc-mt-section {
    @media (max-width: 550px) {
      .container {
        h2 {
          font-size: 30px;
          line-height: 36px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    @media (max-width: 445px) {
      .container {
        h2 {
          font-size: 24px;
          line-height: 28px;
        }

        p {
          font-size: 15px;
        }
      }
    }

    @media (max-width: 435px) {
      .container {
        padding: 20px 30px;

        h2 {
          font-size: 22px;
        }

        p {
          font-size: 14px;
          line-height: 23px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (max-width: 360px) {
      .container {
        padding: 20px 30px;
        width: 90%;
      }
    }

    @media (max-width: 330px) {
      .container {
        padding: 20px 20px;
        width: 95%;
      }
    }
  }

  #lets-work-section {
    .container {
      @media (max-width: 510px) {
        h2 {
          font-size: 26px;
          line-height: 34px;
        }
      }

      @media (max-width: 450px) {
        h2 {
          font-size: 22px;
          line-height: 30px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

body.de-DE #app-dev-page {
  @media (min-width: 651px) {
    #intro-title-and-text {
      max-width: 634px;

      h1 {
        font-size: 39px;
        line-height: 48px;
      }

      #intro-text {
        max-width: none;

        p {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
  }

  @media (max-width: 650px) {
    #intro-title-and-text {
      h1 {
        font-size: 38px;
        line-height: 48px;
      }
    }

    #intro-text {
      p {
        font-size: 22px;
        line-height: 34px;
      }
    }
  }

  @media (max-width: 480px) {
    #intro-title-and-text {
      h1 {
        font-size: 32px;
        line-height: 42px;
      }
    }

    #intro-text {
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .check-list-section.type-1 {
    .check-item-list {
      max-width: 1020px;

      .check-item {
        .check-item-title {
          max-width: unset;
          font-size: 22px;
        }
      }

      @media (min-width: 790px) {
        .check-item {
          width: 30%;
        }
      }

      @media (max-width: 580px) {
        .check-item {
          max-width: 320px;
        }
      }

      @media (max-width: 430px) {
        .check-item {
          max-width: unset;
        }
      }
    }
  }

  .swisst-banner {
    padding-top: 35px;
    padding-bottom: 35px;

    @media (max-width: 780px) {
      .swisst-banner-content {
        p {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }

    @media (max-width: 720px) {
      .swisst-banner-content {
        width: 60%;

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    @media (max-width: 650px) {
      .swisst-banner-content {
        width: 100%;

        p {
          .center(265px);
          margin-bottom: 17px;
        }
      }
    }
  }

  .our-story-section {
    .container {
      .our-story-content {
        h2 {
          font-size: 34px;
          line-height: 44px;
          max-width: 470px;
        }

        p {
          font-size: 20px;
          line-height: 34px;
          max-width: 470px;
        }

        @media (min-width: 921px) and (max-width: 1200px) {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }

        @media (min-width: 851px) and (max-width: 920px) {
          h2 {
            font-size: 26px;
            line-height: 35px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        @media (max-width: 850px) {
          h2, p {
            max-width: none;
          }
        }

        @media (max-width: 550px) {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  #appdev-process-timing-section {
    #process-timing-steps {
      .step {
        &:last-child {
          h3 {
            font-size: 17px;
          }
        }
      }
    }
  }

  #web-dev-section {
    max-width: 660px;
  }

  #clients-section {
    #clients-text {
      p {
        max-width: 670px;

        @media (max-width: 550px) {
          font-size: 22px;
          line-height: 33px;
        }

        @media (max-width: 415px) {
          font-size: 19px;
          line-height: 29px;
        }
      }
    }
  }

  .swisst2-big-bc-mt-section {
    .container {
      @media (max-width: 580px) {
        h2 {
          font-size: 26px;
          line-height: 33px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }

      @media (max-width: 460px) {
        padding-bottom: 20px;

        h2 {
          font-size: 21px;
          line-height: 30px;
        }

        p {
          font-size: 15px;
          line-height: 23px;
        }
      }
    }
  }

  #app-hours-complexity-section {
    @media (max-width: 550px) {
      h2 {
        font-size: 26px;
        line-height: 36px;
      }

      #ahc-text {
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    @media (max-width: 450px) {
      h2 {
        font-size: 22px;
        line-height: 33px;
      }

      #ahc-text {
        p {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }

  #lets-work-section {
    .container {
      @media (max-width: 470px) {
        h2 {
          font-size: 26px;
          line-height: 36px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }

      @media (max-width: 395px) {
        h2 {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }
}
