@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none !important;
    outline: 0 !important;
}

.view-button {
    padding: 17px 30px 14px 71px;
    color: #3C3838;
    text-align: center;
    border-radius: 23px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    background: url('/wp-content/themes/swisst2/imgs/delonghi/Ar-icon.png');
    background-repeat: no-repeat;
    background-position: 25px 13.5px;
    border: 1.8px solid #DADADA;
    border-radius: 29.7px;
    height: 62px;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    box-sizing: border-box;

    &:hover {
        background-color: #F1F1F1;
    }
}

#delonghi-page {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 60px;
    box-sizing: border-box;
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;

        img {
            width: 131px;
            height: 90px;
        }
        
        ul#menu {
            list-style-type: none;
            display: flex;
            padding-left: 0;

            li {
                a {
                    color: #000000;
                    font-family: "Open Sans";
                    font-size: 17px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 23px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                }

                & + li {
                    padding-left: 60px;
                }
            }
        }

        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            img {
                margin: 10px 0 15px;
            }
        }

        @media (max-width: 420px) {
            ul#menu {
                li {
                    & + li {
                        padding-left: 30px;
                    }
                }
            }
        }
    }

    #product {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        #product-mode-viewer-wrapper {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            h1 {
                display: none;
                margin: 0 0 20px;
                color: #062643;
                font-family: "Open Sans";
                font-size: 29px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 39px;
            }

            model-viewer {
                width: 580px;
                max-width: 100%;
                height: 100%;
                overflow: visible;
                padding-bottom: 42px;

                button {
                    bottom: -30px;
                }
            }
        }

        #product-content {
            width: 47%;

            h1 {
                color: #062643;
                font-family: "Open Sans";
                font-size: 29px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 39px;
                margin: 0 0 30px 0;
            }

            p {
                color: #062643;
                font-family: "Open Sans";
                font-size: 16px;
                letter-spacing: 0;
                line-height: 22px;

                &:first-of-type {
                    color: #aaa;
                    margin-top: -29px;
                }
            }

            ul {
                margin-left: 23px;
                padding-left: 0;
                list-style: none;
                max-width: 433px;

                li {
                    padding-left: 7px;
                    color: #062643;
                    font-family: "Open Sans";
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 22px;

                    &:before {
                        content: "• ";
                        color: #062643;
                        position: relative;
                        margin-left: -11px;
                        left: -10px;
                    }
                }
            }

            #price {
                color: #062643;
                font-family: "Open Sans";
                font-size: 23px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 32px;
                margin: 40px 0 50px;
            }

            #open-qr-popup {
                @media (hover: none) {
                    display: none;
                }
            }
        }

        @media (max-width: 900px) {
            #product-mode-viewer-wrapper {
                model-viewer {
                    height: 300px;
                }
            }
        }

        @media (max-width: 600px) {
            flex-direction: column;

            #product-mode-viewer-wrapper {
                width: 100%;
                margin-bottom: 20px;
                flex-direction: column;

                h1 {
                    display: block;
                }

                model-viewer {
                    background-color: #efefef;
                }
            }

            #product-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    display: none;
                }

                p {
                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                #price {
                    margin: 10px 0 30px;

                    @media (hover: none) {
                        margin-bottom: 0;
                    }
                }

                #open-qr-popup {
                    display: none;
                }
            }
        }
    }
}

.close-popup {
    width: 50px;
    height: 38px;
    background: url('/wp-content/themes/swisst2/imgs/delonghi/Exit.png');
    position: absolute;
    cursor: pointer;
    z-index: 2;

    &:hover {
        background: url('/wp-content/themes/swisst2/imgs/delonghi/Exit-hover.png');
    }
}

#qr-popup-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    #qr-popup {
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
        left: 50%;
        margin-left: -150px;
        top: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 30px 20px;
        box-sizing: border-box;

        .close-popup {
            left: 20px;
            top: 20px;
            z-index: 2;
        }

        #qr-code-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            #qr-code-text {
                text-transform: uppercase;
                font-family: "Open Sans";
                font-size: 18px;
                font-weight: bold;

                h2 {
                    color: #062643;
                    font-family: "Open Sans";
                    font-size: 23px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 32px;
                    text-align: center;
                    margin: 0 0 16px 0;
                    text-transform: none;
                }

                p {
                    height: 40px;
                    width: 266px;
                    color: #062643;
                    font-family: "Open Sans";
                    font-size: 15px;
                    letter-spacing: 0;
                    line-height: 20px;
                    text-align: center;
                    margin: 0 0 12px 0;
                    text-transform: none;
                    font-weight: 500;
                }
            }

            img {
                margin-bottom: 15px;
            }
        }
    }

    button {
        padding: 9px 19px;
        border-radius: 33px;
        background-color: #58B0E2;
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(35, 108, 150);
        }
    }
}

#delonghi-mv-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    visibility: hidden;

    model-viewer {
        width: 90vw;
        height: 80vh;
        outline: none !important;
        position: relative;
        z-index: 1;

        &:focus {
            outline: none !important;
            outline: 0 !important;
        }
    }
}