@import '../_swisstomato2-base.less';

#digital-marketing-redesign-page {
	h2 {
		color: #f2000c;
		font-family: Rubik;
		font-size: 33px;
		font-weight: bold;
		line-height: 39px;
		text-align: center;
		margin-bottom: 15px;
	}

	#intro-section {
		h1 {
			.center(480px);
			margin-bottom: 42px;

			@media (max-width: 650px) {
				margin-bottom: 30px;
			}
		}

		p {
			.center(778px);
			text-align: center;
			margin-bottom: 65px;
			color: #303030;
			font-family: Rubik;
			font-size: 18px;
			line-height: 27px;

			@media (max-width: 850px) {
				margin-bottom: 50px;
			}

			@media (max-width: 650px) {
				margin-bottom: 30px;
			}
		}
	}

	#mission-section {
		text-align: center;
		padding-top: 176px;
		padding-bottom: 169px;
		position: relative;
		overflow: hidden;

		img.tomato {
			position: absolute;
			width: 153px;

			&:nth-of-type(1) {
				top: 246px;
				left: 14.5%;
				transform: rotateZ(90deg);
			}

			&:nth-of-type(2) {
				top: 267px;
				right: 14.5%;
			}

			@media (max-width: 820px) {
				display: none;
			}
		}

		p {
			color: #342f2f;
			font-family: Rubik;
			font-size: 27px;
			font-weight: 300;
			line-height: 39px;
			text-align: center;
			.center(511px);
		}

		@media (max-width: 820px) {
			padding-top: 116px;
			padding-bottom: 115px;
		}

		@media (max-width: 820px) {
			padding-top: 50px;
			padding-bottom: 80px;
		}
	}

	#services-section {
		padding-top: 10px;
		padding-bottom: 45px;
		background-color: rgba(255, 218, 215, 0.25);

		h2 {
			.center(391px);
		}

		p {
			.center(832px);
			text-align: center;
			margin-bottom: 40px;
		}

		#services-list {
			.center(874px);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.service {
				width: 211px;
				background-color: rgba(255, 218, 215, 0.25);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 20px 8px 10px;
				margin-bottom: 12px;

				p {
					margin-top: 17px;
					margin-bottom: 10px;
					color: #303030;
					font-family: Rubik;
					font-size: 18px;
					font-weight: 500;
					line-height: 21px;
					text-align: center;
					word-break: break-word;
				}
			}
		}
	}

	#services-section {
		padding-top: 20px;
		padding-bottom: 45px;
		background-color: rgba(255, 218, 215, 0.25);

		h2 {
			.center(391px);
		}

		p {
			.center(832px);
			text-align: center;
			margin-bottom: 40px;
			color: #303030;
			font-family: Rubik;
			font-size: 18px;
			line-height: 27px;
		}

		#services-list {
			.center(874px);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.service {
				width: 211px;
				background-color: rgba(255, 218, 215, 0.25);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 20px 8px 10px;
				margin-bottom: 12px;

				p {
					margin-top: 17px;
					margin-bottom: 10px;
					color: #303030;
					font-family: Rubik;
					font-size: 18px;
					font-weight: 500;
					line-height: 21px;
					text-align: center;
				}

				@media (max-width: 1100px) {
					margin-bottom: 8px;
				}

				@media (max-width: 950px) {
					width: 24%;
					margin-bottom: 10px;
				}

				@media (max-width: 600px) {
					width: 49%;
					margin-bottom: 8px;
				}
			}
		}
	}

	#references-section {
		padding-top: 12px;
		padding-bottom: 30px;

		p#references-text {
			color: #342f2f;
			font-family: Rubik;
			font-size: 27px;
			font-weight: 300;
			line-height: 32px;
			text-align: center;
			margin-bottom: 35px;
		}

		#references-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.reference {
				width: 350px;
				max-width: 350px;

				&__link {
					display: block;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				&+.reference {
					margin-left: 25px;
				}

				h3 {
					color: #191515;
					font-family: Rubik;
					font-size: 24px;
					font-weight: 500;
					line-height: 28px;
					margin-top: 10px;
					margin-bottom: 10px;
					display: block;

					a {
						color: #191515;
						font-family: Rubik;
						font-size: 24px;
						font-weight: 500;
						line-height: 28px;
						margin-top: 10px;
						margin-bottom: 10px;
						display: block;
					}
				}

				p {
					color: #f2000c;
					font-family: Rubik;
					font-size: 18px;
					line-height: 25px;
					margin-top: 10px;
				}

				&:hover {
					a {
						img {
							transition: all 400ms;
							opacity: 0.8;
						}
					}
				}

				@media (max-width: 1170px) {
					width: 30%;

					&+.reference {
						margin-left: 0;
					}

					&:not(:first-child) {
						margin-left: 2.5%;
					}
				}

				@media (min-width: 551px) and (max-width: 720px) {
					width: 48%;

					&:nth-child(2) {
						margin-left: 4%;
					}

					&:last-child {
						margin-top: 15px;
					}
				}

				@media (max-width: 550px) {
					width: 100%;
					margin-bottom: 15px;

					&+.reference {
						margin-left: 0;
					}
				}
			}

			@media (max-width: 500px) {
				margin-top: 0;
				flex-direction: column;
				align-items: center;
			}
		}

		a.more-references {
			margin-top: 30px;
		}
	}

	#lightbulb-section {
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 564px;
		margin-top: 37px;

		#lightbulb-text {
			max-width: 488px;
			margin-right: 50px;
			margin-top: -80px;

			h2 {
				color: #ffffff;
				font-family: Rubik;
				font-size: 24px;
				font-weight: 500;
				line-height: 28px;
				margin-bottom: 35px;
				text-align: left;
				max-width: 438px;
			}

			p {
				color: white;
				font-family: Rubik;
				font-size: 18px;
				line-height: 27px;

				&+p {
					margin-top: 30px;
				}
			}

			@media (max-width: 750px) {
				margin-right: 0;
			}

			@media (max-width: 650px) {
				width: 80%;
			}

			@media (max-width: 600px) {
				width: 100%;
				padding: 30px 25px;
				background-color: rgba(0, 0, 0, 0.4);
				max-width: unset;
				margin-top: 0;
			}
		}

		@media (max-width: 600px) {
			background-position-x: 8%;
			padding: 0;
			height: auto;
		}

		@media (max-width: 450px) {
			background-position-x: 14%;
		}
	}

	#how-we-work-section {
		margin-top: 60px;
		margin-bottom: 60px;

		h2 {
			margin-bottom: 40px;
		}

		.how-we-work-list {
			.center(1100px);
			display: flex;
			justify-content: flex-start;

			.how-we-work-item {
				border-left: 1px solid @red;
				width: 27%;
				padding-bottom: 35px;
				position: relative;
				display: flex;

				.pink-bc {
					padding: 15px;
					background-color: rgba(255, 218, 215, 0.25);
					width: 72.7%;

					.number {
						color: #f2000c;
						font-family: "Rubik";
						font-size: 55px;
						font-weight: 300;
						line-height: 27px;
					}

					h3 {
						color: #303030;
						font-family: Rubik;
						font-size: 18px;
						line-height: 27px;
						margin-bottom: 0;
					}

					p {
						color: #303030;
						font-family: Rubik;
						font-size: 18px;
						line-height: 27px;
						margin-top: 0;
					}

					@media (max-width: 870px) {
						width: 100%;
					}
				}

				.ball {
					position: absolute;
					background: @red;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					left: -11px;
					bottom: -13px;
					z-index: 11;
				}

				&:last-child {
					width: 19%;

					.pink-bc {
						width: 100%;
					}
				}
			}

			&:not(.reversed) {
				.how-we-work-item {
					&:first-child {
						.ball {
							background-color: @pink;
							border: 7px solid #f2000c;
							border-radius: 50%;
							width: 28px;
							height: 28px;
							bottom: -17px;
							left: -15px;
						}
					}

					&:nth-child(2) {
						.ball {
							width: 36px;
							height: 36px;
							bottom: -21px;
							left: -19px;
						}
					}

					&:nth-child(3) {
						.ball {
							width: 25px;
							height: 25px;
							bottom: -15px;
							left: -13px;
						}
					}
				}
			}

			&.reversed {
				flex-direction: row-reverse;

				.how-we-work-item {
					padding-bottom: 0;
					padding-top: 35px;

					.ball {
						bottom: unset;
						top: -14px;
					}

					&:first-child {
						width: 19%;

						.pink-bc {
							width: 100%;
						}
					}

					&:last-child {
						width: 27%;

						.pink-bc {
							width: 72%;

							@media (max-width: 870px) {
								width: 100%;
							}
						}

						.ball {
							background-color: @pink;
							border: 7px solid #f2000c;
							border-radius: 50%;
							width: 28px;
							height: 28px;
							top: -17px;
							left: -15px;
						}
					}

					&:nth-child(2) {
						.ball {
							width: 36px;
							height: 36px;
							top: -23px;
							left: -19px;
						}
					}
				}
			}

			@media (max-width: 680px) {
				flex-wrap: wrap;
				justify-content: space-between;

				.how-we-work-item {
					width: 50%;
					padding-bottom: 0;
					border: 1px solid rgba(242, 0, 12, 0.18);

					&:last-child {
						width: 50%;
					}

					.ball {
						top: 0 !important;
						left: 0 !important;
						bottom: unset;
						transform: translate(-50%, -50%);
					}

					.pink-bc {
						padding: 30px 15px;
					}
				}

				&.reversed {
					justify-content: flex-start;
					flex-direction: row;

					.how-we-work-item {
						padding-top: 0;

						&:first-child {
							width: 50%;
						}

						&:last-child {
							width: 50%;
						}
					}
				}
			}

			@media (max-width: 480px) {
				.how-we-work-item {
					width: 100%;

					&:last-child {
						width: 100%;
					}

					.pink-bc {
						padding-bottom: 20px;
					}
				}

				&.reversed {
					.how-we-work-item {

						&:first-child,
						&:last-child {
							width: 100%;
						}
					}
				}
			}
		}

		.how-we-work-lines {
			.center(1100px);
			display: flex;
			justify-content: flex-start;

			div {
				height: 78px;
				border-color: #fbbfc2;
				border-style: solid;
				border-width: 0px;
				width: 27%;

				&.top-line {
					border-top-width: 8px;
				}

				&.bottom-line {
					border-bottom-width: 8px;
				}

				&.right-round-line {
					border-bottom-width: 8px;
					border-top-width: 8px;
					border-right-width: 8px;
					border-top-right-radius: 40px;
					border-bottom-right-radius: 40px;
				}

				&:last-child {
					width: 11%;
				}
			}

			@media (max-width: 680px) {
				display: none;
			}
		}

		a.button-red[href="#contact-us"] {
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
			display: block;
			max-width: 248px;
		}
	}

	#packages-section {
		margin-top: 5px;
		padding-top: 20px;
		padding-bottom: 60px;
		background-color: #f8f8f8;

		h2 {
			margin-bottom: 30px;
		}

		#packages-text {
			.center(832px);

			p {
				color: #303030;
				font-family: Rubik;
				font-size: 18px;
				line-height: 27px;
				text-align: center;
			}
		}

		#packages-list {
			.center(1100px);
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			margin-top: 45px;
			flex-wrap: wrap;

			.package {
				width: 31.81%;
				padding: 28px;
				box-shadow: 0 2px 29px 0 rgba(0, 0, 0, 0.1);
				display: flex;
				flex-direction: column;
				align-items: center;
				border: 2px solid transparent;
				position: relative;

				img.recommended-strip {
					position: absolute;
					letter-spacing: 1px;
					left: -6px;
					top: -7px;
					width: 85px;
					height: 85px;
				}

				h3 {
					border-bottom: 1px solid rgba(0, 0, 0, 0.15);
					padding-bottom: 22px;
					color: #000000;
					font-family: Rubik;
					font-size: 24px;
					font-weight: bold;
					line-height: 25px;
					text-align: center;
					margin-top: 0;
					width: 100%;
				}

				.package-price-bar {
					height: 10px;
					width: 100%;
					background-color: #ededed;

					.price-range {
						background-color: @red;
						height: 10px;
						display: flex;
						justify-content: flex-end;

						.dollar-wrapper {
							background-color: @red;
							color: white;
							width: 25.5px;
							height: 25.5px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							position: relative;
							top: -8px;
							right: -1px;
						}
					}
				}

				ul.points {
					margin-left: 0;
					margin-top: 27px;

					li.point {
						min-height: 27px;
						padding-left: 10px;
						text-indent: 0;

						&:before {
							content: " ";
							width: 19px;
							height: 27px;
							background-repeat: no-repeat;
							background-position: left center;
							display: block;
							float: left;
						}

						&.included {
							&:before {
								background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAS1BMVEUAAADyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAzyAAxWOZZKAAAAGHRSTlMAAgoMDQ8QHCguNURWb4iXq7K1t+Tm6OmAHlOPAAAAVklEQVQYV63IOQJAMABFwR/Evm959z+phkgoNKYc6Tf5OppnOZjitA6gedeWSGp7E1YmqYPFxFUDLEZ296UCgLkISqrwrgryLp9hnRmXVL1LKof0Wd8OUsAJCEgPpQsAAAAASUVORK5CYII=);
							}
						}

						&.not-included {
							color: #ddd;

							&:before {
								background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAQlBMVEUAAADt7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e3t7e0mb+hWAAAAFXRSTlMABAYODxIcKDM4QEJicIWjtMjR6PfxWCETAAAAdklEQVQYV13OWQ6AMAgE0HHfq1a5/1XFwliVHyYvIQyAYqrB6bu0yihn6xREZiMhKiXc7m2YSKTDbkHRSXpUh+PqFPSC+KIfGn2QBDSk9aHnYy6fKeOLiB8yXDyHhuVreAq50oSBRIwFMJIMY3mn4ViMFPdN6QIPkxH8AdjONwAAAABJRU5ErkJggg==);
							}
						}

						div {
							padding-left: 25px;
						}

						&+li.point {
							margin-top: 10px;
						}
					}
				}

				a[href="#contact-us"] {
					margin-top: 3px;
				}

				&.recommended {
					border: 2px solid @red;
				}

				@media (max-width: 950px) {
					width: 48%;

					&:first-child {
						margin-right: 10px;
					}

					&:nth-child(2) {
						margin-left: 10px;
					}

					&:last-child {
						align-self: center;
						margin-left: 0;
						margin-top: 20px;
					}
				}

				@media (max-width: 745px) {
					&:first-child {
						margin-right: 7.5px;
					}

					&:nth-child(2) {
						margin-left: 7.5px;
					}

					&:last-child {
						align-self: center;
						margin-left: 0;
						margin-top: 15px;
					}
				}

				@media (max-width: 600px) {
					width: 100%;
					max-width: 400px;
					margin-top: 15px;

					&:first-child {
						margin-right: 0;
						margin-top: 0;
					}

					&:nth-child(2) {
						margin-left: 0;
					}

					&:last-child {
						margin-top: 15px;
					}
				}
			}

			@media (max-width: 950px) {
				justify-content: center;
			}
		}
	}
}