@import '../_swisstomato2-base.less';

#digital-marketing-strategy-page {
    #intro-section {
        h1 {
            .center(630px);
            margin-bottom: 35px;
        }

        #intro-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #hero-section {
        #hero-dark-layer {
            #hero-content {
                p {
                    color: #ffffff;
                    font-family: Rubik;
                    font-size: 27px;
                    font-weight: 300;
                    line-height: 39px;
                }
            }

            @media (max-width: 1100px) {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }

    #below-hero-section {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
        padding: 45px 0 0px;

        p {
            color: #303030;
            font-family: "Rubik";
            //font-weight: bold;
            font-size: 18px;
            line-height: 27px;
        }

        @media (max-width: 700px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
