@import '../_swisstomato2-base.less';

#drupal-page {
    #intro-section {
        h1 {
            .center(480px);
            margin-bottom: 35px;
        }
    }

    .image-text-row {
        .column.image-column {
            background-size: contain;
            background-position: center center;
        }

        .column.text-column {
            img.mobile {
                display: none;
            }
        }

        &#section-2 {
            .column.image-column {
                height: 450px;
            }
        }

        &#section-3 {
            .column.image-column {
                height: 338px;
            }
        }

        &#section-5 {
            .column.image-column {
                height: 300px;
                background-size: auto;
            }
        }

        @media (max-width: 1100px) {
            .column.image-column {
                background-size: cover;
            }
        }

        @media (max-width: 780px) {
            margin: 10px 0;

            .column.image-column {
                display: none;
            }

            .column.text-column {
                width: 100%;
                display: block;
                margin-top: 0;

                img.mobile {
                    width: 30%;
                    margin: 10px 30px 30px;
                    max-width: 250px;
                    display: inline-block;
                    float: left;
                }
            }

            &#section-1 {
                margin-top: 40px;

                h2 {
                    color: #303030;
                    font-family: Rubik;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 28px;
                    margin: 35px 0;
                    //text-align: center;
                }
            }

            &#section-4 {
                .column.text-column {
                    h2 {
                        margin-bottom: 0;
                        color: #303030;
                        font-family: Rubik;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 28px;
                        text-align: center;
                        margin-bottom: 20px;
                    }

                    img {
                        width: 50%;
                        margin: 0 15px 5px 0;
                    }
                }
            }

            &#section-5 {
                .column.image-column {
                    display: block;
                    width: 100%;
                    height: 150px;
                    margin: 20px 0 30px;
                }
            }
        }

        @media (max-width: 500px) {
            &#section-1 {
                h2 {
                    line-height: 1.5em;
                    text-align: center;
                }
            }

            .column.text-column {
                img.mobile {
                    margin: 10px 15px 0 10px;
                }
            }

            &#section-5 {
                .column.image-column {
                    background-size: contain;
                }
            }
        }
    }

    #why-pick-us-title {
        margin-top: 125px;
        margin-bottom: 0;

        h2 {
            .text-center();
            margin-bottom: 0;
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }

        @media (max-width: 780px) {
            margin-top: 55px;
        }
    }

    .check-list-section {
        padding-top: 35px;

        .check-item-list {
            max-width: 1157px;

            .check-item {
                width: 25%;

                .check-item-title {
                    color: #303030;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: normal;
                    max-width: 252px;
                    margin-top: 13px;
                }
            }
        }

        @media (max-width: 1100px) {
            .check-item-list {
                justify-content: center;

                .check-item {
                    width: 35%;

                    .check-item-title {
                        max-width: none;
                    }

                    &:nth-child(2n) {
                        margin-left: 30px;
                    }
                }
            }
        }

        @media (max-width: 780px) {
            margin-bottom: 30px;
        }

        @media (max-width: 580px) {
            .check-item-list {
                .check-item {
                    width: 100%;
                    max-width: 400px;

                    &:nth-child(2n) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .masonry-reference-list-section {
      margin-bottom: 10px;

      @media (max-width: 500px) {
        margin-bottom: 30px;
      }
    }
}