body.page-template-page-frontend-technics {
    .codepen-example {
        margin: 40px 0;

        a {
            color: #F2000C;
        }
    }

    .ui-tabs {
        border: none;
        
        ul.ui-tabs-nav {
            margin-left: 0;
            background-color: transparent;
            border: none;
            list-style-type: none;

            li {
                border: none;
                padding-left: 0;
                float: none;
                display: inline-block;
                padding-left: 18px;
                padding-right: 18px;
                text-indent: 0;

                a {
                    padding-left: 0;
                    padding-right: 0;
                    float: none;
                    display: inline-block;
                }

                &.ui-tabs-active {
                    background-color: #F2000C;
                    border: none;
                }

                &:before {
                    display: none;
                }
            }
        }

        .ui-tabs-panel {
            padding: 0;
        }
    }
}