@import '../_swisstomato2-base.less';

#google-adwords-page {
    #intro-section {
        h1 {
            .center(630px);
            margin-bottom: 35px;
        }

        #intro-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #hero-section {
        #hero-dark-layer {
            #hero-content {
                @media (min-width: 801px) {
                    width: 460px;
                }

                p {
                    color: #ffffff;
                    font-family: Rubik;
                    font-size: 27px;
                    font-weight: 300;
                    line-height: 39px;
                }
            }
        }
    }

    #hero-section + .image-text-row {
        .image-column {
            @media (max-width: 1000px) {
                background-position-x: right;
            }
        }
    }

    #below-hero-section {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
        padding: 45px 0 0px;

        p {
            color: #303030;
            font-family: "Rubik";
            font-size: 18px;
            line-height: 27px;
        }

        @media (max-width: 700px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .check-list-section {
        margin-top: -20px;

        .check-item-list {
            .check-item {
                width: 32%;

                .check-item-title {
                    max-width: 250px;
                }

                .check-item-text {
                    max-width: 250px;
                }

                &:last-child {
                    margin-top: 0;
                }
            }
        }

        @media (max-width: 860px) {
            .check-item-list {
                .check-item {
                    width: 30%;
                }
            }
        }

        @media (max-width: 790px) {
            max-width: unset;
            padding: 20px 25px;

            .check-item-list {
                justify-content: space-between;
                max-width: none;

                .check-item {
                    max-width: unset;
                    text-align: left;
                    width: 45%;

                    &:nth-child(2n) {
                        margin-left: 0;
                    }

                    .check-item-title {
                        max-width: unset;
                    }

                    .check-item-text {
                        max-width: unset;
                    }
                }
            }
        }

        @media (max-width: 580px) {
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;

            .check-item-list {
                padding-top: 10px;
                padding-bottom: 10px;

                .check-item {
                    width: 100%;

                    i {
                        float: left;
                        margin-right: 10px;
                    }

                    .check-item-title {
                        margin-top: -35px;
                        margin-left: 58px;
                    }
                }
            }
        }
    }

    .image-text-row.text-image {
        margin-bottom: 10px;
    }
}
