@import '../_swisstomato2-base.less';


.wpml-ls-menu-item .wpml-ls-flag {
	display: inline;
	vertical-align: baseline;
	width: 18px;
	height: 12px
}

.wpml-ls-menu-item .wpml-ls-flag+span {
	margin-left: .3em
}

.rtl .wpml-ls-menu-item .wpml-ls-flag+span {
	margin-left: 0;
	margin-right: .3em
}

#home-page {
	margin-top: 20px;

	h2 {
		.font-full('Rubik', 33px, 39px, 600, @red);
		text-align: center;
	}

	

	#parallax-section {
		height: 1350px;
		z-index: -1;
		position: relative;
		width: 100%;
		overflow: hidden;
		background: white;

		img {
			max-width: 100%;
			height: auto;
			position: absolute;
		}

		.bg {
			top: 2000px;
		}

		.knife {
			position: absolute;
			width: 300px;
			left: -70%;
			z-index: 99;

			img {
				position: absolute;

				&.handle {
					top: 0px;
					left: 0px;
					transform: scale(.5);
				}

				&.blade {
					top: 50px;
					left: 200px;
					transform-origin: 0px 0px;
					transform: scale(.5) rotate(10deg);
					-webkit-transform: scale(.5) rotate(10deg);
					-ms-transform: scale(.5) rotate(10deg);
				}
			}
		}

		.tomato {
			&.fg-tomato-1 {
				left: -5%;
				top: -200px;
				transform: scale(.5) rotate(90deg);
				-webkit-transform: scale(.5) rotate(90deg);
				-ms-transform: scale(.5) rotate(90deg);
			}

			&.fg-tomato-2 {
				left: 20%;
				top: -200px;
				transform: scale(.5) rotate(0deg);
				-webkit-transform: scale(.5) rotate(0deg);
				-ms-transform: scale(.5) rotate(0deg);
			}

			&.fg-tomato-3 {
				left: 50%;
				top: -200px;
				transform: scale(.5) rotate(-90deg);
				-webkit-transform: scale(.5) rotate(-90deg);
				-ms-transform: scale(.5) rotate(-90deg);
			}

			&.fg-tomato-4 {
				left: 70%;
				top: -500px;
				transform: scale(.5) rotate(0deg);
				-webkit-transform: scale(.5) rotate(0deg);
				-ms-transform: scale(.5) rotate(0deg);
			}

			&.bg-tomato-1 {
				left: -8%;
				top: -1000px;
				transform: scale(.5) rotate(-45deg);
				-webkit-transform: scale(.5) rotate(-45deg);
				-ms-transform: scale(.5) rotate(-45deg);
			}

			&.bg-tomato-2 {
				left: 20%;
				top: -1000px;
				transform: scale(.5) rotate(45deg);
				-webkit-transform: scale(.5) rotate(45deg);
				-ms-transform: scale(.5) rotate(45deg);
			}

			&.bg-tomato-3 {
				left: 50%;
				top: -1000px;
				transform: scale(.5) rotate(0deg);
				-webkit-transform: scale(.5) rotate(0deg);
				-ms-transform: scale(.5) rotate(0deg);
			}

			&.bg-tomato-4 {
				left: 70%;
				top: -1000px;
				transform: scale(.5) rotate(45deg);
				-webkit-transform: scale(.5) rotate(45deg);
				-ms-transform: scale(.5) rotate(45deg);
			}
		}

		#line {
			position: relative;
			top: 400px;
			left: 50%;
			width: 7px;
			height: 0px;
			background: #f2000c;
		}

		.splash {
			top: 1040px;
			left: 49.5%;

			&.one {
				left: 51.5%;
			}

			&.three {
				left: 49.5%;
				top: 1060px;
			}

			&.four {
				left: 48.5%;
				top: 1060px;
			}

			&.five {
				left: 49.5%;
				top: 1040px;
			}

			&.six {
				left: 40%;
			}

			&.seven {
				left: 47%;
			}

			&.eight {
				left: 49%;
			}

			&.center {
				top: 1060px;
				left: 46.5%;
			}
		}

		#bottom-wave {
			position: absolute;
			top: 1046px;
			width: 1400px;
			height: 400px;
			transform: scale(1.5) rotate(0deg);
			z-index: 999;
		}

		#fill {
			position: absolute;
			width: 100%;
			height: 320px;
			background: #f2000c;
			/* background: purple; */
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1000;
		}

		@media (max-width: 910px) {
			display: none;
		}
	}

	#awards-section.big {
		margin-top: -290px;
		padding-top: 20px;

		@media (max-width: 910px) {
			margin-top: 0;
		}

		@media (max-width: 500px) {
			// margin-top: -20px;
		}
	}

	#references-sections {
		margin: 70px 0 15px;

		#references-text {
			.center-with-padding(840px, 890px, 25px);

			p {
				color: #342F2F;
				font-family: 'Rubik';
				font-size: 20px;
				font-weight: 300;
				line-height: 30px;
				text-align: center;
				margin: 15px 0;
				display: block;

				@media (max-width: 450px) {
					font-size: 17px;
					line-height: 26px;
					font-weight: 400;
				}
			}
		}

		.references-section {
			background-color: transparent;
			padding-bottom: 10px;
			padding-top: 0;

			h2 {
				color: #342F2F;
				font-family: 'Rubik';
				font-size: 27px;
				font-weight: 300;
				line-height: 32px;
				text-align: center;
				margin: 50px 0 30px;
			}
		}

		hr {
			margin: 50px 0 20px;
		}

		#all-references-link {
			margin-top: 36px;
			padding-left: 33px;
			padding-right: 33px;

			@media (max-width: 400px) {
				padding-left: 10px;
				padding-right: 10px;
				width: 100%;
			}
		}
	}

	#clients-section {
        padding-bottom: 80px;
	    padding-top: 60px;
        margin-bottom: 0;
		background-color: #F8F8F8;

        @media (max-width: 500px) {
            margin-top: 40px;
            padding-bottom: 50px;
        }
	}

    #why-section {
        #why-section-gray-bc {
            @media (max-width: 470px) {
                padding-bottom: 50px;
            }
        }
    }

	#aboutus-section {
		margin: 50px 0 90px;

		.container {
			h2 {
				margin: 70px 0 100px;

				@media (max-width: 600px) {
					margin-bottom: 50px;
				}
			}

			#aboutus-boxes {
				.flex-space-between();
				align-items: flex-start;

				.box {
					width: 30%;

					.box-img {
						height: 181px;
					}

					h3 {
						color: #191515;
						font-family: 'Rubik';
						font-size: 24px;
						font-weight: 500;
						line-height: 28px;
					}

					.box-text {
						p {
							color: black;
							opacity: 0.6;
						}
					}
				}

				@media (max-width: 600px) {
					flex-direction: column;

					.box {
						width: 100%;
						max-width: 500px;
						text-align: center;

						.box-img {
							background-position: center center;
						}
					}
				}
			}
		}
	}

	#posts-section.container {
		margin: 80px auto;
		max-width: 1000px;

		#post-list {
			.post {
				.flex-space-between();
				height: 290px;
				align-items: stretch;
				background-color: #f8f8f8;

				&+.post {
					margin-top: 20px;
				}

				a.post-image {
					width: 50%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.post-content {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 44px;

					.post-categories {
						a {
							margin-right: 10px;
							.font-full('Rubik', 15px, 18px, 600, @red);
							text-decoration: none;
							text-transform: uppercase;
						}
					}

					a.post-title {
						.font-full('Rubik', 31px, 35px, 600, black);
						margin: 8px 0 5px;
						max-height: 103.2px;
						overflow: hidden;

						&:hover {
							color: @red;
						}
					}

					.post-excerpt {
						max-height: 75.5px;
						overflow: hidden;

						.p {
							color: rgba(0, 0, 0, 0.6);
							font-family: 'Rubik';
							font-size: 16px;
							line-height: 25px;
						}
					}
				}

				@media (max-width: 600px) {
					height: auto;
				}

				@media (max-width: 550px) {
					.post-content {
						padding: 23px;

						a.post-title {
							font-size: 22px;
							line-height: 30px;
							max-height: 88.8px;
						}
					}
				}

				@media (max-width: 430px) {
					flex-direction: column;

					a.post-image {
						width: 100%;
						height: 100px;
					}

					.post-content {
						width: 100%;
					}
				}
			}
		}

		.bx-controls {
			margin-top: 25px;

			.bx-default-pager {
				.center(122px);
				.flex-space-between();

				.bx-pager-item {
					width: 34px;
					height: 2px;
					text-align: left;
					overflow: hidden;
					background-color: #E4E1E1;

					a.bx-pager-link {
						height: 2px;
						width: 0px !important;
						display: block;
						transition: width linear 5s;
					}

					&.animation {
						a.bx-pager-link {
							width: 34px !important;
							background-color: @red;
						}
					}
				}
			}
		}

		a#more-posts {
			padding-left: 55px;
			padding-right: 55px;
			margin-top: 26px;
		}
	}

    .swisst2-big-bc-mt-section {
        .big-bc-content {
            h2 {
                font-size: 31px;
                line-height: 38px;
            }
        }

        @media (max-width: 400px) {
            .big-bc-content {
                h2 {
                    font-size: 31px;
                    line-height: 38px;
                }

                p {
                    font-size: 15px;
                    line-height: 23px;
                }
            }
        }

        @media (max-width: 360px) {
            .big-bc-content .container {
                padding: 24px;
            }
        }

        &:last-of-type {
            //margin-bottom: -30px;
        }
    }



	// for tablets
	@media (max-height: 600px) {
		margin-top: 0;
	}
}

body.fr-FR #home-page {
    #services-section {
        &:not(.no-cover) {
            #services {
                .service {
                    .service-image {
                        @media (min-width: 1000px) {
                            height: 450px;
                        }
                    }
                }
            }
        }
    }
    
    .swisst2-big-bc-mt-section {
        @media (max-width: 615px) {
            .big-bc-content {
                h2 {
                    font-size: 30px;
                    line-height: 36px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        @media (max-width: 500px) {
            .big-bc-content {
                .container {
                    padding: 24px;

                    h2 {
                        font-size: 26px;
                        line-height: 33px;
                        .center(280px)
                    }

                    p {
                        font-size: 15px;
                        line-height: 23px;
                    }
                }
            }
        }

        @media (max-width: 395px) {
            .big-bc-content {
                .container {
                    h2 {
                        font-size: 24px;
                        line-height: 31px;
                        .center(260px);
                    }
                }
            }
        }

        @media (max-width: 375px) {
            .big-bc-content {
                .container {
                    h2 {
                        font-size: 24px;
                        line-height: 31px;
                        .center(260px);
                    }

                    p {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

body.de-DE #home-page {
    #services-section {
        &:not(.no-cover) {
            #services {
                .service {
                    .service-image {
                        @media (min-width: 1000px) {
                            height: 450px;
                        }
                    }
                }
            }
        }
    }

    .swisst2-big-bc-mt-section {
        .big-bc-content {
            .container {
                @media (max-width: 620px) {
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                @media (max-width: 510px) {
                    padding: 30px;
                }

                @media (max-width: 460px) {
                    h2 {
                        font-size: 28px;
                        line-height: 36px;
                    }
                }

                @media (max-width: 440px) {
                    p {
                        font-size: 15px;
                        line-height: 22px;
                    }
                }

                @media (max-width: 400px) {
                    h2 {
                        font-size: 25px;
                        line-height: 33px;
                        margin-bottom: 15px;
                    }
                }

                @media (max-width: 385px) {
                    padding: 24px;

                    h2 {
                        font-size: 23px;
                        line-height: 31px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}