@import '../_swisstomato2-base.less';

#ios-app-dev-page {
    #intro-section {
        h1 {
            .center(390px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        position: relative;

        #hero-dark-layer {
            #hero-content {

            }

            #intro-awards-wrapper {
                position: absolute;
                right: 30px;
                top: 30px;
                width: 179px;
            }

            @media (max-width: 800px) {
                flex-direction: column-reverse;
    
                #intro-awards-wrapper {
                    position: static;
                    margin-top: 20px;
                }
            }
        }
    }

    .image-text-row {
        margin-top: -5px;
    }

    #help-you-section {
        padding-top: 64px;
        padding-bottom: 20px;
        background-color: rgba(255,218,215,0.25);
        margin-top: 60px;

        h2 {
            .center(560px);
            color: #342F2F;
            font-family: 'Rubik';
            font-size: 27px;
            font-weight: 300;
            line-height: 32px;
            text-align: center;
        }

        #help-you-row {
            .flex-space-between();
            align-items: stretch;

            #help-you-img-wrapper {
                background-position: right bottom;
                background-repeat: no-repeat;
                background-size: contain;
                width: 50%;
            }

            #help-you-text-column {
                padding: 54px 100px 65px 32px;
                width: 50%;

                p{
                    color: #303030;
                    font-family: 'Rubik';
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }

        @media (max-width: 1300px) {
            #help-you-row {
                #help-you-img-wrapper {
                    background-position-y: top;
                }

                #help-you-text-column {
                    padding: 30px;
                }
            }
        }

        @media (min-width: 551px) and (max-width: 700px) {
            #help-you-row {
                display: block;

                #help-you-img-wrapper {
                    width: 50%;
                    float: left;
                    height: 210px;
                    margin-right: 10px;
                }

                #help-you-text-column {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        @media (min-width: 451px) and (max-width: 550px) {
            padding-top: 20px;

            #help-you-row {
                display: block;

                #help-you-img-wrapper {
                    width: 25%;
                    height: 100px;
                    float: left;
                    margin-right: 10px;
                }

                #help-you-text-column {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        @media (max-width: 450px) {
            padding-top: 20px;
            
            #help-you-row {
                flex-direction: column;

                #help-you-img-wrapper {
                    background-position-x: center;
                    width: 100%;
                    height: 200px;
                }

                #help-you-text-column {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    #fields-of-exp-section {
        padding: 30px 25px 50px;
    }

    #app-dev-section {
        .flex-space-between();
        align-items: stretch;
        margin-top: 60px;

        #app-dev-text-column {
            width: 44.7%;
            padding: 0 10px 0 75px;

            h2 {
                color: #303030;
                font-family: 'Rubik';
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
        }

        #app-dev-img-wrapper {
            width: 48%;
        }
    }

    #web-dev-section {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;

        p {
            color: #303030;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 19px;
        }
    }

    .references-section {
        margin-top: 0;
        margin-bottom: 0;
    }

    .masonry-reference-list-section {
      margin-bottom: 10px;

      @media (max-width: 640px) {
        margin-bottom: 0;
      }

      @media (max-width: 500px) {
        margin-bottom: 30px;
      }
    }
}

body.fr-FR #ios-app-dev-page {
    #hero-section {
        #hero-dark-layer {
            #intro-awards-wrapper {
                right: 15px;
                top: 15px;
                width: 159px;
            }

            #hero-content {
                p {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }
    }
}