@import '../_swisstomato2-base.less';

#job-page {
    max-width: 1100px;

    h1 {
        color: #000000;
        font-family: Rubik;
        font-size: 44px;
        font-weight: bold;
        line-height: 52px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .post-date {
        opacity: 0.6;
        color: #000000;
        font-family: Rubik;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 21px;
    }

    ul:not(.menu):not(.sub-menu) li, p {
        font-size: 19px;
        line-height: 32px;
    }

    ul {
        li {
            &.plus-li {
                padding-left: 14px;

                &:before {
                    content: "+ ";
                    left: -9px;
                }
            }
        }
    }
}