@import '../_swisstomato2-base.less';

#magic-cube-page {
    #intro-section {
        h1 {
            .center(400px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        #hero-dark-layer {
            #hero-content {
                max-width: 370px;

                p {
                    color: #3A3A3A;
                    font-weight: bold;
                }
            }

            @media (max-width: 1200px) {
                background-color: rgba(0,0,0,0.7);
                align-items: center;
                padding-right: 25px;

                #hero-content {
                    p {
                        color: white;
                        font-weight: 400;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #key-features-section {
        padding-top: 40px;
        padding-bottom: 30px;
        background-color: #F8F8F8;

        h2 {
            color: #F2000C;
            font-family: Rubik;
            font-size: 33px;
            font-weight: bold;
            line-height: 39px;
            text-align: center;
        }

        #key-features-list {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 45px;

            .key-feature {
                width: 100%;
                max-width: 261px;

                & + .key-feature {
                    margin-left: 20px;
                }

                img {

                }

                h3 {
                    color: #191515;
                    font-family: Rubik;
                    font-size: 21px;
                    font-weight: 500;
                    line-height: 25px;
                    margin-top: 10px;
                }
            }

            @media (max-width: 630px) {
                flex-wrap: wrap;
                justify-content: space-between;

                .key-feature {
                    width: 48%;

                    & + .key-feature {
                        margin-left: 0;
                    }
                }
            }

            @media (max-width: 420px) {
                align-items: center;
                align-items: center;
                flex-direction: column;

                .key-feature {
                    width: 100%;
                    max-width: 261px;
                    text-align: center;

                    & + .key-feature {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    #download-marker-section {
        padding-top: 5px;
        padding-bottom: 80px;
        text-align: center;
        background-color: #F8F8F8;

        #download-marker-section-content {
            margin-bottom: 30px;

            p {
                color: #303030;
                font-family: Rubik;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
            }
        }
    }

    #download-apps-section {
        margin-top: 60px;
        margin-bottom: 40px;

        h2 {
            text-align: center;
        }

        #download-apps-list {
            .center(615px);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 50px;

            .download-app {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-direction: column;
                width: 271px;

                img {
                    &.platform-image {
                        position: relative;
                        z-index: 100;
                    }

                    &.qr-code-image {
                        position: relative;
                        top: -15px;
                    }
                }

                h3 {
                    color: #191515;
                    font-family: Rubik;
                    font-size: 21px;
                    font-weight: 500;
                    line-height: 25px;
                    margin-top: 10px;
                }

                a {
                    width: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 15px;
                }
            }

            @media (max-width: 630px) {
                flex-direction: column;
                align-items: center;

                .download-app {
                    & + .download-app {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}