/*** FUNCTIONS ***/
.hover-scale-1-1 {
  transition: all 400ms;
}
.hover-scale-1-1:hover {
  transform: scale(1.1);
}
.hover-scale-1-2 {
  transition: all 400ms;
}
.hover-scale-1-2:hover {
  transform: scale(1.2);
}
.hover-scale-1-3 {
  transition: all 400ms;
}
.hover-scale-1-3:hover {
  transform: scale(1.3);
}
.hover-scale-1-4 {
  transition: all 400ms;
}
.hover-scale-1-4:hover {
  transform: scale(1.4);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.text-center {
  text-align: center;
}
@media (max-width: 910px) {
  .hidden-on-mobile {
    display: none;
  }
}
.bc-img-center {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.button-red {
  border-radius: 3px;
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 14px 32px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #F2000C;
  color: white;
  border: 1px solid #F2000C;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.button-red .fa-angle-right {
  margin-right: 9px;
  opacity: 0.6;
  font-size: 14px;
  color: white;
}
.button-red:hover {
  border-color: #F88085;
}
.button-red:hover .fa-angle-right {
  color: white;
}
.button-red:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F88085;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button-red:hover,
.button-red:focus,
.button-red:active {
  color: white;
}
.button-red:hover:before,
.button-red:focus:before,
.button-red:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.button-white {
  border-radius: 3px;
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 14px 32px 16px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #F2000C;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.button-white .fa-angle-right {
  margin-right: 9px;
  opacity: 0.6;
  font-size: 14px;
  color: #F2000C;
}
.button-white:hover {
  border-color: #F88085;
}
.button-white:hover .fa-angle-right {
  color: white;
}
.button-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F88085;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button-white:hover,
.button-white:focus,
.button-white:active {
  color: white;
}
.button-white:hover:before,
.button-white:focus:before,
.button-white:active:before {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
}
.gray-title {
  opacity: 0.5;
  color: #000000;
  font-family: Rubik;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.container {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 1290px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.container-no-padding {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container-1250 {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 1290px) {
  .container-1250 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.center-1250 {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1200 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1167 {
  width: 100%;
  max-width: 1167px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1117 {
  width: 100%;
  max-width: 1117px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1050 {
  width: 100%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1000 {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 750px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section.white {
  background-color: white;
}
/* HERO ANIMATIONS */
@keyframes handVideoAnimation {
  0% {
    opacity: 0;
    transform: translate(25px, 25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes heroCurveAnimation {
  0% {
    top: 0px;
    right: -770px;
    transform: scaleY(0);
  }
  100% {
    right: -330px;
    top: 110px;
    transform: scaleY(1);
  }
}
@keyframes heroDots1Animation {
  0% {
    top: -150px;
    opacity: 0.4;
  }
  100% {
    top: -20px;
    opacity: 1;
  }
}
@keyframes heroDots2Animation {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 94px;
    opacity: 1;
  }
}
@keyframes heroContentAnimation {
  0% {
    bottom: -10px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*
#webar-page {
    #hero-section {
        max-width: none;
        margin-top: 0;

        #hero-dark-layer {
            padding-right: 25px;
            padding-left: 25px;
            display: block;

            #hero-content {
                .center(1117px);
                height: 564px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                h1 {
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 66px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 79px;
                    margin: 0;
                }

                p {
                    max-width: 335px;
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    
                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                    
                    strong {
                        color: #FFFFFF;
                        font-family: Rubik;
                        font-size: 33px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 39px;
                        margin-top: -3px;
                    }
                }

                @media (max-width: 800px) {
                    text-align: left;
                }

                @media (max-width: 480px) {
                    height: auto;
                    text-align: center;
                    justify-content: center;
                    align-items: center;

                    h1, p {
                        max-width: 280px;
                    }

                    h1 {
                        margin-bottom: 5px;
                    }

                    p + p {
                        margin-top: 10px;
                    }
                }
            }

            @media (max-width: 800px) {
                background-color: transparent;
            }
        }

        #hero-mobile-background {
            display: none;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 600px;

            @media (max-width: 480px) {
                display: block;
            }
        }

        @media (max-width: 480px) {
            background-image: none !important;
            background-color: @red;
            flex-direction: column;
        }
    }

    #no-app-section {
        max-width: 1117px;
        display: flex;
        padding: 0 170px 0 40px;
        justify-content: space-between;
        height: 700px;

        img#no-app-section-image {
            position: relative;
            top: 75px;
            height: 759px;
        }

        #no-app-section-content {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                color: @red;
                font-family: Rubik;
                font-size: 33px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 39px;
                margin: 0;
            }

            p {
                color: #161518;
                font-family: Rubik;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 27px;
                max-width: 317px;
            }
        }

        @media (max-width: 960px) {
            padding-right: 40px;
        }

        @media (max-width: 830px) {
            img#no-app-section-image {
                position: static;
            }
        }

        @media (max-width: 720px) {
            flex-direction: column-reverse;
            padding: 35px 25px 0;
            align-items: center;
            justify-content: flex-start;
            height: unset;

            #no-app-section-content {
                text-align: center;
            }

            img#no-app-section-image {
                position: static;
                height: unset;
            }
        }
    }

    #enjoy-section {
        background-color: #F1EBED;

        .container {
            padding: 80px 25px 30px 113px;
            max-width: 1117px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #enjoy-section-content {
                h2 {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 33px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 39px;
                    max-width: 370px;
                }
            }

            @media (max-width: 780px) {
                padding-left: 50px;
            }

            @media (max-width: 720px) {
                flex-direction: column;
                padding-left: 25px;

                #enjoy-section-content {
                    h2 {
                        text-align: center;
                    }
                }
            }
        }

        @media (max-width: 720px) {
            margin-top: -100px;
        }
    }

    #view-section {
        display: flex;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;

        #view-section-box {
            max-width: 950px;
            width: 100%;
            display: flex;
            box-shadow: 0 0 21px rgba(0,0,0,.16);
            // min-height: 400px;
            border-radius: 20px;
            align-items: stretch;
            margin-top: 70px;
            margin-bottom: 70px;
            padding-left: 0;
            padding-right: 0;

            #view-section-content {
                width: 50%;
                background-color: @red;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 25px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;

                h2 {
                    color: white;
                    font-family: Rubik;
                    font-size: 33px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 39px;
                    text-align: center;

                    sup {
                        font-size: 20px;
                    }
                }

                p {
                    color: white;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    text-align: center;

                    sup {
                        font-size: 12px;
                    }
                }

                a {
                    color: white;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    text-align: center;
                    background-color: transparent;
                    border: 2px solid white;
                    padding: 12px 50px;
                    border-radius: 30px;

                    &:hover {
                        background-color: white;
                        color: @red;
                        cursor: pointer;
                    }
                }
            }

            #view-section-ar-script {
                padding: 50px;
                width: 50%;

                a {
                    width: 375px;

                    img {
                        border-radius: 20px;
                        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.23);
                        border-radius: 20px;
                    }
                }
            }

            @media (max-width: 1000px) {
                #view-section-content {
                    width: 300px;
                }

                #view-section-ar-script {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }
            }

            @media (max-width: 730px) {
                flex-direction: column;

                #view-section-content {
                    width: 100%;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 20px;

                    button {
                        margin-top: 10px;
                    }
                }

                #view-section-ar-script {
                    width: 100%;
                }
            }
        }
    }

    #purple-section {
        background-color: #2E074A;
        padding: 90px 0 45px;

        .container {
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1080px;

            .purple-section-media-item {
                width: 403px;

                h3 {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 25px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 29px;
                    padding-left: 59px;
                    padding-right: 59px;
                    margin: 0;
                    height: 57px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                
                img {
                    margin-top: -25px;
                }
            }

            @media (max-width: 1025px) {
                padding-left: 25px;
                padding-right: 25px;
            }

            @media (max-width: 875px) {
                .purple-section-media-item {
                    width: 50%;

                    img {
                        margin-top: -10px;
                    }
                }
            }

            @media (min-width: 634px) and (max-width: 715px) {
                .purple-section-media-item {
                    h3 {
                        font-size: 20px;
                        line-height: 25px;
                        height: 37px;
                    }
                }
            }

            @media (max-width: 634px) {
                flex-direction: column;
                align-items: center;

                .purple-section-media-item {
                    width: 100%;
                    max-width: 403px;

                    h3 {
                        height: auto;
                    }

                    img {
                        margin-top: -20px;
                    }
                }
            }
        }
    }
}
*/
#webar-complex-page {
  overflow: hidden;
}
#webar-complex-page a.webar-button-red {
  border-radius: 3px;
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding: 14px 32px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #f2000c;
  color: white;
  border: 1px solid #F2000C;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  width: 187px;
}
#webar-complex-page a.webar-button-red .fa-angle-right {
  margin-right: 9px;
  opacity: 0.6;
  font-size: 14px;
  color: white;
}
#webar-complex-page a.webar-button-red:before {
  display: inline-block;
  content: " ";
  background-image: url('/wp-content/themes/swisst2/imgs/webar/book-a-demo-shadow.png');
  z-index: -1;
  width: 237px;
  height: 107px;
  position: absolute;
  top: -14px;
  left: -25px;
}
#webar-complex-page #hero-section {
  max-width: none;
  margin-top: 0;
  position: relative;
  background-image: linear-gradient(37deg, #e814f1, #f2000c 49%);
  z-index: 0;
}
#webar-complex-page #hero-section #hero-background-images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}
#webar-complex-page #hero-section #hero-background-images img {
  position: absolute;
}
#webar-complex-page #hero-section #hero-background-images img#hero-background-curve {
  top: 110px;
  animation: heroCurveAnimation 700ms ease-out;
  animation-fill-mode: backwards;
  right: -330px;
}
#webar-complex-page #hero-section #hero-background-images img#hero-background-dots-1 {
  right: 100px;
  top: -20px;
  animation: heroDots1Animation 500ms ease-out;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}
@media (max-width: 1050px) {
  #webar-complex-page #hero-section #hero-background-images img#hero-background-dots-1 {
    display: none;
  }
}
#webar-complex-page #hero-section #hero-background-images img#hero-background-dots-2 {
  right: 632px;
  bottom: 94px;
  animation: heroDots2Animation 500ms ease-out;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}
@media (max-width: 1050px) {
  #webar-complex-page #hero-section #hero-background-images img#hero-background-dots-2 {
    right: 450px;
  }
}
@media (max-width: 690px) {
  #webar-complex-page #hero-section #hero-background-images {
    display: none;
  }
}
#webar-complex-page #hero-section #hero-dark-layer {
  padding-right: 25px;
  padding-left: 25px;
  display: block;
  z-index: 2;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content {
  width: 100%;
  max-width: 1117px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 564px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content h1 {
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 66px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 79px;
  margin: 0;
}
@media (max-width: 870px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content h1 {
    max-width: 270px;
  }
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content p {
  max-width: 335px;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content p:first-child {
  margin-top: 0;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content p:last-child {
  margin-bottom: 0;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content p strong {
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 39px;
  margin-top: -3px;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content .webar-button-red {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content .webar-button-red:before {
  display: none;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
  width: 759px;
  height: 1004px;
  position: absolute;
  top: 35px;
  right: -533px;
  animation: handVideoAnimation 500ms ease-out;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img {
  width: 759px;
  height: 1004px;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img.mobile {
  display: none;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video {
  position: absolute;
  top: 20px;
  left: 90px;
}
#webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video:focus,
#webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video:active {
  border: none;
  outline: none;
}
@media (max-width: 1020px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
    width: 500px;
    height: auto;
    right: -190px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img {
    width: 500px;
    height: 661px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video {
    top: 11px;
    left: 59px;
    width: 185px;
  }
}
@media (max-width: 1800px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
    right: -280px;
  }
}
@media (max-width: 1280px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
    right: -180px;
  }
}
@media (max-width: 800px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content {
    text-align: left;
  }
}
@media (max-width: 680px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content {
    flex-direction: column;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content h1 {
    margin-bottom: 5px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content p + p {
    margin-top: 10px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
    position: relative;
    top: unset;
    right: unset;
    left: 28px;
    bottom: -7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 520px;
    width: 100%;
    height: unset;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img {
    display: none;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img.mobile {
    display: inline-block;
    width: 520px;
    height: 640px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video {
    top: 19px;
    left: 90px;
    width: 280px;
  }
}
@media (max-width: 590px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
    position: relative;
    text-align: center;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img.mobile {
    width: 360px;
    height: 443px;
    position: relative;
    left: 20px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video {
    top: 11px;
    left: 50%;
    width: 192px;
    margin-left: -96px;
  }
}
@media (max-width: 405px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand {
    position: relative;
    text-align: center;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img.mobile {
    width: 330px;
    height: 406px;
    position: relative;
    left: 20px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video {
    top: 11px;
    left: 50%;
    width: 175px;
    margin-left: -87px;
  }
}
@media (max-width: 375px) {
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand img.mobile {
    width: 310px;
    height: 381px;
    left: 20px;
  }
  #webar-complex-page #hero-section #hero-dark-layer #hero-content #hero-hand video {
    top: 11px;
    left: 50%;
    width: 163px;
    margin-left: -80px;
  }
}
@media (max-width: 800px) {
  #webar-complex-page #hero-section #hero-dark-layer {
    background-color: transparent;
  }
}
@media (max-width: 680px) {
  #webar-complex-page #hero-section #hero-dark-layer {
    padding-bottom: 0;
  }
}
#webar-complex-page #hero-section h1,
#webar-complex-page #hero-section p {
  position: relative;
  animation: heroContentAnimation 400ms ease-out;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}
#webar-complex-page #no-app-section {
  max-width: 1117px;
  display: flex;
  padding: 0 220px 0 40px;
  justify-content: space-between;
  height: 700px;
}
#webar-complex-page #no-app-section img#no-app-section-image {
  position: relative;
  top: 205px;
  height: 759px;
}
@media (max-width: 900px) {
  #webar-complex-page #no-app-section img#no-app-section-image {
    top: 75px;
  }
}
#webar-complex-page #no-app-section #no-app-section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
#webar-complex-page #no-app-section #no-app-section-content h2 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 39px;
  margin: 0;
}
#webar-complex-page #no-app-section #no-app-section-content p {
  color: #161518;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  max-width: 317px;
}
@media (max-width: 960px) {
  #webar-complex-page #no-app-section {
    padding-right: 40px;
  }
}
@media (max-width: 830px) {
  #webar-complex-page #no-app-section img#no-app-section-image {
    position: static;
  }
}
@media (max-width: 720px) {
  #webar-complex-page #no-app-section {
    flex-direction: column-reverse;
    padding: 35px 25px 0;
    align-items: center;
    justify-content: flex-start;
    height: unset;
  }
  #webar-complex-page #no-app-section #no-app-section-content {
    text-align: center;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  #webar-complex-page #no-app-section img#no-app-section-image {
    position: static;
    height: unset;
  }
}
#webar-complex-page a.try-in-ar-link {
  background: url('/wp-content/themes/swisst2/imgs/try-in-ar.png') no-repeat transparent;
  width: 104px;
  height: 116px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
#webar-complex-page #view3d-section {
  background-color: #F1EBED;
}
#webar-complex-page #view3d-section .container {
  padding: 80px 25px 0 113px;
  max-width: 1117px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 900px) {
  #webar-complex-page #view3d-section .container {
    padding-bottom: 30px;
  }
}
#webar-complex-page #view3d-section .container #view3d-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#webar-complex-page #view3d-section .container #view3d-section-content h2 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 39px;
  max-width: 370px;
}
#webar-complex-page #view3d-section .container #view3d-images {
  display: flex;
  width: 524px;
}
#webar-complex-page #view3d-section .container #view3d-images img {
  position: relative;
  z-index: 1;
  top: 100px;
}
#webar-complex-page #view3d-section .container #view3d-images img:last-of-type {
  top: 0;
  left: -140px;
  width: 347px;
  height: 735px;
  z-index: 0;
}
@media (max-width: 900px) {
  #webar-complex-page #view3d-section .container #view3d-images img {
    top: 0;
  }
  #webar-complex-page #view3d-section .container #view3d-images img:last-of-type {
    top: -45px;
  }
}
@media (max-width: 1200px) {
  #webar-complex-page #view3d-section .container #view3d-images {
    width: 594px;
  }
}
@media (max-width: 1070px) {
  #webar-complex-page #view3d-section .container #view3d-images img:last-of-type {
    left: -220px;
  }
}
@media (max-width: 930px) {
  #webar-complex-page #view3d-section .container {
    flex-direction: column;
    align-items: center;
    padding: 120px 25px 50px;
  }
  #webar-complex-page #view3d-section .container #view3d-section-content {
    align-items: center;
    margin-bottom: 20px;
  }
  #webar-complex-page #view3d-section .container #view3d-section-content h2 {
    max-width: unset;
    text-align: center;
    margin-bottom: 10px;
  }
  #webar-complex-page #view3d-section .container #view3d-images {
    width: 100%;
    justify-content: center;
  }
  #webar-complex-page #view3d-section .container #view3d-images img:last-of-type {
    position: static;
  }
}
@media (max-width: 716px) {
  #webar-complex-page #view3d-section .container {
    padding: 60px 25px 40px;
  }
  #webar-complex-page #view3d-section .container #view3d-images {
    position: relative;
    justify-content: center;
  }
  #webar-complex-page #view3d-section .container #view3d-images img:first-of-type {
    right: -100px;
  }
  #webar-complex-page #view3d-section .container #view3d-images img:last-of-type {
    position: relative;
    top: -29px;
    left: -100px;
  }
}
@media (max-width: 550px) {
  #webar-complex-page #view3d-section .container #view3d-images {
    position: relative;
    justify-content: center;
  }
  #webar-complex-page #view3d-section .container #view3d-images img:first-of-type {
    position: static;
    width: auto;
    height: 330px;
  }
  #webar-complex-page #view3d-section .container #view3d-images img:last-of-type {
    position: static;
    width: auto;
    height: 330px;
  }
}
@media (max-width: 420px) {
  #webar-complex-page #view3d-section .container #view3d-images img {
    max-height: 292px;
  }
}
#webar-complex-page #next-big-ecommerce-section {
  background: darkgrey;
  visibility: hidden;
}
#webar-complex-page #next-big-ecommerce-section video {
  width: 100%;
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
@media (max-width: 1360px) {
  #webar-complex-page #next-big-ecommerce-section video {
    display: none;
  }
}
#webar-complex-page #next-big-ecommerce-section .dark-layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer h2 {
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  margin: 0 auto 30px auto;
  width: 100%;
  max-width: 460px;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list {
  display: flex;
  margin: 50px 0 70px;
  max-width: 1117px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item {
  background-color: white;
  border-radius: 70px;
  background-color: #ECEBF0;
  box-shadow: 0 2px 69px 0 rgba(24, 7, 74, 0.4);
  padding: 50px 70px;
  width: 33.33%;
  position: relative;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item h3 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 39px;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item p {
  color: #161518;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item:first-child {
  right: -35px;
}
#webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item:last-child {
  left: -35px;
}
@media (max-width: 1520px) {
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item {
    padding: 20px 50px;
  }
}
@media (max-width: 1360px) {
  #webar-complex-page #next-big-ecommerce-section .dark-layer {
    background-color: #444;
    position: static;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 940px) {
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item h3 {
    margin-bottom: 0;
  }
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item:first-child {
    right: 0;
  }
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item:last-child {
    left: 0;
  }
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item + .nbe-item {
    margin-top: 40px;
  }
}
@media (max-width: 630px) {
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list {
    padding-left: 25px;
    padding-right: 25px;
  }
  #webar-complex-page #next-big-ecommerce-section .dark-layer #next-big-ecommerce-list .nbe-item {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 470px) {
  #webar-complex-page #next-big-ecommerce-section .dark-layer h2 {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 40px;
    line-height: 1.2em;
  }
}
#webar-complex-page #view-section {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 70px;
  max-width: 1300px;
}
#webar-complex-page #view-section #view-section-content {
  max-width: 345px;
}
#webar-complex-page #view-section #view-section-content h2 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 39px;
}
@media (max-width: 1260px) {
  #webar-complex-page #view-section {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  #webar-complex-page #view-section #view-section-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #webar-complex-page #view-section #view-section-content h2 {
    max-width: 760px;
    text-align: center;
    margin-bottom: 10px;
  }
}
#webar-complex-page #purple-section {
  background-color: #2E074A;
  padding: 0;
  margin-top: 250px;
  height: 1300px;
  position: relative;
  background-size: cover;
  background-position: center top 21px;
}
@media (max-width: 900px) {
  #webar-complex-page #purple-section {
    padding: 20px 0;
    height: auto;
  }
}
#webar-complex-page #purple-section:before {
  width: 100%;
  height: 250px;
  background-color: #2E074A;
  clip-path: polygon(100% 0, 100% 100%, 0 230px);
  content: " ";
  display: block;
  position: absolute;
  top: -230px;
  left: 0;
  right: 0;
}
#webar-complex-page #purple-section:after {
  width: 100%;
  height: 250px;
  background-color: #FFF6F5;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  content: " ";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 0;
}
#webar-complex-page #purple-section #purple-background-images {
  display: none;
}
#webar-complex-page #purple-section .container {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1080px;
}
#webar-complex-page #purple-section .container .purple-section-media-item {
  width: 403px;
  position: relative;
  z-index: 100;
  top: 100px;
}
@media (max-width: 900px) {
  #webar-complex-page #purple-section .container .purple-section-media-item {
    top: 0;
  }
}
#webar-complex-page #purple-section .container .purple-section-media-item h3 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 29px;
  padding-left: 59px;
  padding-right: 59px;
  margin: 0;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video {
  width: 100%;
  height: 731px;
  margin-top: -25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video i.fa-play {
  position: absolute;
  left: 50%;
  top: 290px;
  margin-left: -44px;
  font-size: 50px;
  color: white;
  border: 2px solid white;
  padding: 25px 20px 20px 28px;
  border-radius: 50px;
  cursor: pointer;
}
#webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video video {
  display: none;
  border-radius: 37px;
  margin-top: -30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
#webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video video:focus,
#webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video video:active {
  outline: none;
}
#webar-complex-page #purple-section .container .purple-section-media-item:nth-child(2n+1) {
  top: 500px;
}
@media (max-width: 900px) {
  #webar-complex-page #purple-section .container .purple-section-media-item:nth-child(2n+1) {
    top: 100px;
  }
}
#webar-complex-page #purple-section .container .purple-section-media-item:nth-child(3) {
  margin-top: 100px;
}
@media (max-width: 1025px) {
  #webar-complex-page #purple-section .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 865px) {
  #webar-complex-page #purple-section .container .purple-section-media-item {
    width: 50%;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item img {
    margin-top: -50px;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item:nth-child(3) {
    margin-top: 0;
  }
}
@media (max-width: 750px) {
  #webar-complex-page #purple-section .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item {
    width: 100%;
    max-width: 403px;
    top: 60px !important;
    position: relative;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item h3 {
    height: auto;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video {
    margin-top: 5px;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video video {
    margin-top: -80px;
  }
}
@media (max-width: 750px) and (max-width: 400px) {
  #webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video {
    margin-top: -20px;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video video {
    margin-top: -60px;
  }
}
@media (max-width: 750px) and (max-width: 380px) {
  #webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video {
    margin-top: -40px;
  }
  #webar-complex-page #purple-section .container .purple-section-media-item .purple-section-item-img-video video {
    margin-top: -10px;
  }
}
@media (max-width: 1050px) {
  #webar-complex-page #purple-section {
    margin-top: 100px;
  }
  #webar-complex-page #purple-section:before {
    height: 100px;
    top: -80px;
    clip-path: polygon(100% 0, 100% 100%, 0 80px);
  }
  #webar-complex-page #purple-section:after {
    height: 100px;
    bottom: -2px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}
@media (min-width: 651px) {
  #webar-complex-page #purple-section {
    background-image: none !important;
  }
  #webar-complex-page #purple-section #purple-background-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
  }
  #webar-complex-page #purple-section #purple-background-images img {
    position: absolute;
    opacity: 0.6;
  }
  #webar-complex-page #purple-section #purple-background-images img#purple-background-curve {
    top: 210px;
    left: -710px;
    opacity: 1;
  }
  #webar-complex-page #purple-section #purple-background-images img#purple-background-dots-1 {
    right: 150px;
    top: 200px;
  }
  #webar-complex-page #purple-section #purple-background-images img#purple-background-dots-2 {
    left: 150px;
    top: 800px;
  }
  #webar-complex-page #purple-section #purple-background-images img#purple-background-lines-1 {
    left: 50px;
    bottom: 0;
  }
  #webar-complex-page #purple-section #purple-background-images img#purple-background-lines-2 {
    right: 50px;
    bottom: 700px;
  }
  #webar-complex-page #purple-section .container {
    z-index: 2;
  }
}
#webar-complex-page #compatible-section {
  background-color: #FFF6F5;
}
#webar-complex-page #compatible-section .container {
  max-width: 700px;
  padding: 230px 25px 230px;
}
#webar-complex-page #compatible-section .container h2 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  margin-bottom: 80px;
}
#webar-complex-page #compatible-section .container #conpatible-list {
  display: flex;
  justify-content: space-between;
}
#webar-complex-page #compatible-section .container #conpatible-list .item .image-wrapper {
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#webar-complex-page #compatible-section .container #conpatible-list .item h3 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 39px;
  text-align: center;
  margin: 10px 0;
}
#webar-complex-page #compatible-section .container #conpatible-list .item p {
  color: #161518;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
}
@media (max-width: 1000px) {
  #webar-complex-page #compatible-section .container {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
@media (max-width: 500px) {
  #webar-complex-page #compatible-section .container #conpatible-list .item {
    width: 45%;
  }
  #webar-complex-page #compatible-section .container #conpatible-list .item h3 {
    font-size: 22px;
    line-height: 1.2em;
  }
}
@media (max-width: 410px) {
  #webar-complex-page #compatible-section .container {
    padding-bottom: 80px;
  }
  #webar-complex-page #compatible-section .container h2 {
    font-size: 46px;
    line-height: 1.2em;
    margin-bottom: 40px;
  }
}
#webar-complex-page #works-section {
  background-color: #FFF6F5;
  padding-bottom: 340px;
  position: relative;
}
#webar-complex-page #works-section:after {
  width: 100%;
  height: 250px;
  background-color: white;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  content: " ";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 0;
}
#webar-complex-page #works-section .container {
  max-width: 799px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#webar-complex-page #works-section .container h2 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 815px) {
  #webar-complex-page #works-section .container h2 {
    font-size: 46px;
    line-height: 1.2em;
  }
}
@media (max-width: 600px) {
  #webar-complex-page #works-section .container h2 {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  #webar-complex-page #works-section .container h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
#webar-complex-page #works-section .container p {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #161518;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 1050px) {
  #webar-complex-page #works-section {
    padding-bottom: 150px;
  }
  #webar-complex-page #works-section:after {
    height: 100px;
    bottom: -2px;
  }
}
#webar-complex-page #try-it-section h2 {
  color: #F2000C;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  margin: 50px 0;
}
#webar-complex-page #try-it-section #try-it-list {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#webar-complex-page #try-it-section #try-it-list .example {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#webar-complex-page #try-it-section #try-it-list .example a {
  position: relative;
  top: -50px;
}
@media (max-width: 600px) {
  #webar-complex-page #try-it-section #try-it-list .example {
    width: 46%;
  }
}
@media (max-width: 430px) {
  #webar-complex-page #try-it-section #try-it-list .example a {
    width: 78px;
    height: 84px;
    top: -30px;
  }
}
body.fr-FR #webar-complex-page a.webar-button-red {
  width: 245px;
}
body.fr-FR #webar-complex-page #hero-section #hero-dark-layer #hero-content p {
  max-width: 345px;
}
@media (min-width: 1020px) and (max-width: 1280px) {
  body.fr-FR #webar-complex-page #no-app-section {
    padding-right: 300px;
  }
  body.fr-FR #webar-complex-page #no-app-section #no-app-section-content h2 {
    max-width: 300px;
  }
}
body.fr-FR #webar-complex-page #next-big-ecommerce-section .dark-layer h2 {
  max-width: 660px;
  font-size: 46px;
  line-height: 1.1em;
}
@media (max-width: 470px) {
  body.fr-FR #webar-complex-page #next-big-ecommerce-section .dark-layer h2 {
    font-size: 40px;
  }
}
body.fr-FR #webar-complex-page #purple-section .container .purple-section-media-item:nth-child(3) h3 {
  font-size: 24px;
  line-height: 28px;
}
body.de-DE #webar-complex-page a.webar-button-red {
  width: 200px;
}
body.de-DE #webar-complex-page #hero-section #hero-dark-layer #hero-content p {
  max-width: 345px;
}
@media (min-width: 1020px) and (max-width: 1280px) {
  body.de-DE #webar-complex-page #no-app-section {
    padding-right: 270px;
  }
}
body.de-DE #webar-complex-page #next-big-ecommerce-section .dark-layer h2 {
  max-width: 570px;
  font-size: 46px;
  line-height: 1.1em;
}
@media (max-width: 470px) {
  body.de-DE #webar-complex-page #next-big-ecommerce-section .dark-layer h2 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  body.de-DE #webar-complex-page #compatible-section h2 {
    font-size: 36px;
    line-height: 1.1em;
    font-weight: 500;
  }
}
@media (max-width: 425px) {
  body.de-DE #webar-complex-page #compatible-section h2 {
    font-size: 30px;
  }
}
