@import '../_swisstomato2-base.less';

/* HERO ANIMATIONS */
@keyframes handVideoAnimation {
    0% {
        opacity: 0;
        transform: translate(25px, 25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes heroCurveAnimation {
    0% {
        top: 0px;
        right: -770px;
        transform: scaleY(0);
    }

    100% {
        right: -330px;
        top: 110px;
        transform: scaleY(1);
    }
}
@keyframes heroDots1Animation {
    0% {
        top: -150px;
        opacity: 0.4;
    }

    100% {
        top: -20px;
        opacity: 1;
    }
}
@keyframes heroDots2Animation {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 94px;
        opacity: 1;
    }
}
@keyframes heroContentAnimation {
    0% {
        bottom: -10px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}


/*
#webar-page {
    #hero-section {
        max-width: none;
        margin-top: 0;

        #hero-dark-layer {
            padding-right: 25px;
            padding-left: 25px;
            display: block;

            #hero-content {
                .center(1117px);
                height: 564px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                h1 {
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 66px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 79px;
                    margin: 0;
                }

                p {
                    max-width: 335px;
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    
                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                    
                    strong {
                        color: #FFFFFF;
                        font-family: Rubik;
                        font-size: 33px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 39px;
                        margin-top: -3px;
                    }
                }

                @media (max-width: 800px) {
                    text-align: left;
                }

                @media (max-width: 480px) {
                    height: auto;
                    text-align: center;
                    justify-content: center;
                    align-items: center;

                    h1, p {
                        max-width: 280px;
                    }

                    h1 {
                        margin-bottom: 5px;
                    }

                    p + p {
                        margin-top: 10px;
                    }
                }
            }

            @media (max-width: 800px) {
                background-color: transparent;
            }
        }

        #hero-mobile-background {
            display: none;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 600px;

            @media (max-width: 480px) {
                display: block;
            }
        }

        @media (max-width: 480px) {
            background-image: none !important;
            background-color: @red;
            flex-direction: column;
        }
    }

    #no-app-section {
        max-width: 1117px;
        display: flex;
        padding: 0 170px 0 40px;
        justify-content: space-between;
        height: 700px;

        img#no-app-section-image {
            position: relative;
            top: 75px;
            height: 759px;
        }

        #no-app-section-content {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                color: @red;
                font-family: Rubik;
                font-size: 33px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 39px;
                margin: 0;
            }

            p {
                color: #161518;
                font-family: Rubik;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 27px;
                max-width: 317px;
            }
        }

        @media (max-width: 960px) {
            padding-right: 40px;
        }

        @media (max-width: 830px) {
            img#no-app-section-image {
                position: static;
            }
        }

        @media (max-width: 720px) {
            flex-direction: column-reverse;
            padding: 35px 25px 0;
            align-items: center;
            justify-content: flex-start;
            height: unset;

            #no-app-section-content {
                text-align: center;
            }

            img#no-app-section-image {
                position: static;
                height: unset;
            }
        }
    }

    #enjoy-section {
        background-color: #F1EBED;

        .container {
            padding: 80px 25px 30px 113px;
            max-width: 1117px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #enjoy-section-content {
                h2 {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 33px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 39px;
                    max-width: 370px;
                }
            }

            @media (max-width: 780px) {
                padding-left: 50px;
            }

            @media (max-width: 720px) {
                flex-direction: column;
                padding-left: 25px;

                #enjoy-section-content {
                    h2 {
                        text-align: center;
                    }
                }
            }
        }

        @media (max-width: 720px) {
            margin-top: -100px;
        }
    }

    #view-section {
        display: flex;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;

        #view-section-box {
            max-width: 950px;
            width: 100%;
            display: flex;
            box-shadow: 0 0 21px rgba(0,0,0,.16);
            // min-height: 400px;
            border-radius: 20px;
            align-items: stretch;
            margin-top: 70px;
            margin-bottom: 70px;
            padding-left: 0;
            padding-right: 0;

            #view-section-content {
                width: 50%;
                background-color: @red;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 25px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;

                h2 {
                    color: white;
                    font-family: Rubik;
                    font-size: 33px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 39px;
                    text-align: center;

                    sup {
                        font-size: 20px;
                    }
                }

                p {
                    color: white;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    text-align: center;

                    sup {
                        font-size: 12px;
                    }
                }

                a {
                    color: white;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    text-align: center;
                    background-color: transparent;
                    border: 2px solid white;
                    padding: 12px 50px;
                    border-radius: 30px;

                    &:hover {
                        background-color: white;
                        color: @red;
                        cursor: pointer;
                    }
                }
            }

            #view-section-ar-script {
                padding: 50px;
                width: 50%;

                a {
                    width: 375px;

                    img {
                        border-radius: 20px;
                        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.23);
                        border-radius: 20px;
                    }
                }
            }

            @media (max-width: 1000px) {
                #view-section-content {
                    width: 300px;
                }

                #view-section-ar-script {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }
            }

            @media (max-width: 730px) {
                flex-direction: column;

                #view-section-content {
                    width: 100%;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 20px;

                    button {
                        margin-top: 10px;
                    }
                }

                #view-section-ar-script {
                    width: 100%;
                }
            }
        }
    }

    #purple-section {
        background-color: #2E074A;
        padding: 90px 0 45px;

        .container {
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1080px;

            .purple-section-media-item {
                width: 403px;

                h3 {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 25px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 29px;
                    padding-left: 59px;
                    padding-right: 59px;
                    margin: 0;
                    height: 57px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                
                img {
                    margin-top: -25px;
                }
            }

            @media (max-width: 1025px) {
                padding-left: 25px;
                padding-right: 25px;
            }

            @media (max-width: 875px) {
                .purple-section-media-item {
                    width: 50%;

                    img {
                        margin-top: -10px;
                    }
                }
            }

            @media (min-width: 634px) and (max-width: 715px) {
                .purple-section-media-item {
                    h3 {
                        font-size: 20px;
                        line-height: 25px;
                        height: 37px;
                    }
                }
            }

            @media (max-width: 634px) {
                flex-direction: column;
                align-items: center;

                .purple-section-media-item {
                    width: 100%;
                    max-width: 403px;

                    h3 {
                        height: auto;
                    }

                    img {
                        margin-top: -20px;
                    }
                }
            }
        }
    }
}
*/

#webar-complex-page {
    overflow: hidden;

    a.webar-button-red {
        border-radius: 3px;
        font-family: 'Rubik';
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        padding: 14px 32px 16px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(242, 0, 12);
        color: white;
        border: 1px solid #F2000C;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        width: 187px;

        .fa-angle-right {
            margin-right: 9px;
            opacity: .6;
            font-size: 14px;
            color: white;
        }

        &:before {
            display: inline-block;
            content: " ";
            background-image: url('@{stylesheetUrl}/imgs/webar/book-a-demo-shadow.png');
            z-index: -1;
            width: 237px;
            height: 107px;
            position: absolute;
            top: -14px;
            left: -25px;
        }
    }

    #hero-section {
        max-width: none;
        margin-top: 0;
        position: relative;
        background-image: linear-gradient(37deg, #e814f1, #f2000c 49%);
        z-index: 0;

        #hero-background-images {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 1;

            img {
                position: absolute;

                &#hero-background-curve {
                    top: 110px;
                    animation: heroCurveAnimation 700ms ease-out;
                    animation-fill-mode: backwards;
                    right: -330px;
                }

                &#hero-background-dots-1 {
                    right: 100px;
                    top: -20px;
                    animation: heroDots1Animation 500ms ease-out;
                    animation-delay: 1000ms;
                    animation-fill-mode: backwards;

                    @media (max-width: 1050px) {
                        display: none;
                    }
                }

                &#hero-background-dots-2 {
                    right: 632px;
                    bottom: 94px;
                    animation: heroDots2Animation 500ms ease-out;
                    animation-delay: 1000ms;
                    animation-fill-mode: backwards;

                    @media (max-width: 1050px) {
                        right: 450px;
                    }
                }
            }
            
            @media (max-width: 690px) {
                display: none;
            }
        }

        #hero-dark-layer {
            padding-right: 25px;
            padding-left: 25px;
            display: block;
            z-index: 2;

            #hero-content {
                .center(1117px);
                height: 564px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                position: relative;

                h1 {
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 66px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 79px;
                    margin: 0;

                    @media (max-width: 870px) {
                        max-width: 270px;
                    }
                }

                p {
                    max-width: 335px;
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    
                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                    
                    strong {
                        color: #FFFFFF;
                        font-family: Rubik;
                        font-size: 33px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 39px;
                        margin-top: -3px;
                    }
                }

                .webar-button-red {
                    margin-top: 5px;
                    background-color: rgba(255, 255, 255, 0.4);
                    border: none;

                    &:before {
                        display: none;
                    }
                }

                #hero-hand {
                    width: 759px;
                    height: 1004px;
                    position: absolute;
                    top: 35px;
                    right: -533px;
                    animation: handVideoAnimation 500ms ease-out;
                    animation-delay: 200ms;
                    animation-fill-mode: backwards;

                    img {
                        width: 759px;
                        height: 1004px;

                        &.mobile {
                            display: none;
                        }
                    }

                    video {
                        position: absolute;
                        top: 20px;
                        left: 90px;

                        &:focus, &:active {
                            border: none;
                            outline: none;
                        }
                    }

                    @media (max-width: 1020px) {
                        width: 500px;
                        height: auto;
                        right: -190px;

                        img {
                            width: 500px;
                            height: 661px;
                        }

                        video {
                            top: 11px;
                            left: 59px;
                            width: 185px;
                        }
                    }

                    @media (max-width: 1800px) {
                        right: -280px;
                    }

                    @media (max-width: 1280px) {
                        right: -180px;
                    }
                }                

                @media (max-width: 800px) {
                    text-align: left;
                }

                @media (max-width: 680px) {
                    flex-direction: column;
                    height: auto;
                    text-align: center;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        margin-bottom: 5px;
                    }

                    p + p {
                        margin-top: 10px;
                    }

                    #hero-hand {
                        position: relative;
                        top: unset;
                        right: unset;
                        left: 28px;
                        bottom: -7px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 30px;
                        max-width: 520px;
                        width: 100%;
                        height: unset;
                        
                        img {
                            display: none;

                            &.mobile {
                                display: inline-block;
                                width: 520px;
                                height: 640px;
                            }
                        }

                        video {
                            top: 19px;
                            left: 90px;
                            width: 280px;
                        }
                    }
                }
                
                @media (max-width: 590px) {
                    #hero-hand {
                        position: relative;
                        text-align: center;
                        padding-left: 0;
                        width: 100%;
                        max-width: 100%;
                        left: 0;

                        img.mobile {
                            width: 360px;
                            height: 443px;
                            position: relative;
                            left: 20px;
                        }

                        video {
                            top: 11px;
                            left: 50%;
                            width: 192px;
                            margin-left: -96px;
                        }
                    }
                }

                @media (max-width: 405px) {
                    #hero-hand {
                        position: relative;
                        text-align: center;
                        padding-left: 0;
                        width: 100%;
                        max-width: 100%;
                        left: 0;

                        img.mobile {
                            width: 330px;
                            height: 406px;
                            position: relative;
                            left: 20px;
                        }

                        video {
                            top: 11px;
                            left: 50%;
                            width: 175px;
                            margin-left: -87px;
                        }
                    }
                }

                @media (max-width: 375px) {
                    #hero-hand {
                        img.mobile {
                            width: 310px;
                            height: 381px;
                            left: 20px;
                        }

                        video {
                            top: 11px;
                            left: 50%;
                            width: 163px;
                            margin-left: -80px;
                        }
                    }
                }
            }

            @media (max-width: 800px) {
                background-color: transparent;
            }

            @media (max-width: 680px) {
                padding-bottom: 0;
            }
        }

        h1, p {
            position: relative;
            animation: heroContentAnimation 400ms ease-out;
            animation-delay: 300ms;
            animation-fill-mode: backwards;
        }
    }

    #no-app-section {
        max-width: 1117px;
        display: flex;
        padding: 0 220px 0 40px;
        justify-content: space-between;
        height: 700px;

        img#no-app-section-image {
            position: relative;
            top: 205px;
            height: 759px;

            @media (max-width: 900px) {
                top: 75px;
            }
        }

        #no-app-section-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-top: 100px;

            h2 {
                color: @red;
                font-family: Rubik;
                font-size: 33px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 39px;
                margin: 0;
            }

            p {
                color: #161518;
                font-family: Rubik;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 27px;
                max-width: 317px;
            }
        }

        @media (max-width: 960px) {
            padding-right: 40px;
        }

        @media (max-width: 830px) {
            img#no-app-section-image {
                position: static;
            }
        }

        @media (max-width: 720px) {
            flex-direction: column-reverse;
            padding: 35px 25px 0;
            align-items: center;
            justify-content: flex-start;
            height: unset;

            #no-app-section-content {
                text-align: center;
                padding-top: 20px;
                align-items: center;
                margin-bottom: 20px;
            }

            img#no-app-section-image {
                position: static;
                height: unset;
            }
        }
    }

    a.try-in-ar-link {
        background: url('@{stylesheetUrl}/imgs/try-in-ar.png') no-repeat transparent;
        width: 104px;
        height: 116px;
        background-position: center;
        background-size: cover;
        display: inline-block;
    }

    #view3d-section {
        background-color: #F1EBED;

        .container {
            padding: 80px 25px 0 113px;
            max-width: 1117px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            @media (max-width: 900px) {
                padding-bottom: 30px;
            }

            #view3d-section-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 33px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 39px;
                    max-width: 370px;
                }
            }

            #view3d-images {
                display: flex;
                width: 524px;

                img {
                    position: relative;
                    z-index: 1;
                    top: 100px;

                    &:last-of-type {
                        top: 0;
                        left: -140px;
                        width: 347px;
                        height: 735px;
                        z-index: 0;
                    }

                    @media (max-width: 900px) {
                        top: 0;

                        &:last-of-type {
                            top: -45px;
                        }
                    }
                }
            }

            @media (max-width: 1200px) {
                #view3d-images {
                    width: 594px;
                }
            }

            @media (max-width: 1070px) {
                #view3d-images {
                    img {
                        &:last-of-type {
                            left: -220px;
                        }
                    }
                }
            }

            @media (max-width: 930px) {
                flex-direction: column;
                align-items: center;
                padding: 120px 25px 50px;

                #view3d-section-content {
                    align-items: center;
                    margin-bottom: 20px;

                    h2 {
                        max-width: unset;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }

                #view3d-images {
                    width: 100%;
                    justify-content: center;

                    img {
                        &:last-of-type {
                            position: static;
                        }
                    }
                }
            }

            @media (max-width: 716px) {
                padding: 60px 25px 40px;

                #view3d-images {
                    position: relative;
                    justify-content: center;

                    img {
                        &:first-of-type {
                            right: -100px;
                        }

                        &:last-of-type {
                            position: relative;
                            top: -29px;
                            left: -100px;
                        }
                    }
                }
            }

            @media (max-width: 550px) {
                #view3d-images {
                    position: relative;
                    justify-content: center;

                    img {

                        &:first-of-type {
                            position: static;
                            width: auto;
                            height: 330px;
                        }

                        &:last-of-type {
                            position: static;
                            width: auto;
                            height: 330px;
                        }
                    }
                }
            }

            @media (max-width: 420px) {
                #view3d-images {
                    img {
                        max-height: 292px;
                    }
                }
            }
        }
    }

    #next-big-ecommerce-section {
        background: darkgrey;
        visibility: hidden;
        
        video {
            width: 100%;
            max-width: 1980px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;

            @media (max-width: 1360px) {
                display: none;
            }
        }

        .dark-layer {
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                color: #FFFFFF;
                font-family: Rubik;
                font-size: 50px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 60px;
                text-align: center;
                margin: 0 auto 30px auto;
                width: 100%;
                max-width: 460px;
            }

            #next-big-ecommerce-list {
                display: flex;
                margin: 50px 0 70px;
                max-width: 1117px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                .nbe-item {
                    background-color: white;
                    border-radius: 70px;
                    background-color: #ECEBF0;
                    box-shadow: 0 2px 69px 0 rgba(24,7,74,0.4);
                    padding: 50px 70px;
                    width: 33.33%;
                    position: relative;

                    h3 {
                        color: #F2000C;
                        font-family: Rubik;
                        font-size: 33px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 39px;
                    }
                    
                    p {
                        color: #161518;
                        font-family: Rubik;
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 27px;
                    }

                    &:first-child {
                        right: -35px;
                    }

                    &:last-child {
                        left: -35px;
                    }
                }
            }

            @media (max-width: 1520px) {
                #next-big-ecommerce-list {
                    .nbe-item {
                        padding: 20px 50px;
                    }
                }
            }

            @media (max-width: 1360px) {
                background-color: #444;
                position: static;
                padding-top: 70px;
                padding-bottom: 70px;
            }

            @media (max-width: 940px) {
                #next-big-ecommerce-list {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 30px;

                    .nbe-item {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        padding-top: 25px;
                        padding-bottom: 25px;

                        h3 {
                            margin-bottom: 0;
                        }

                        &:first-child {
                            right: 0;
                        }

                        &:last-child {
                            left: 0;
                        }

                        & + .nbe-item {
                            margin-top: 40px;
                        }
                    }
                }
            }

            @media (max-width: 630px) {
                #next-big-ecommerce-list {
                    padding-left: 25px;
                    padding-right: 25px;
                    
                    .nbe-item {
                        width: 100%;
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                }
            }

            @media (max-width: 470px) {
                h2 {
                    padding-left: 25px;
                    padding-right: 25px;
                    font-size: 40px;
                    line-height: 1.2em;
                }
            }
        }
    }

    #view-section {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
        padding-bottom: 70px;
        max-width: 1300px;

        #view-section-content {
            max-width: 345px;

            h2 {
                color: @red;
                font-family: Rubik;
                font-size: 33px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 39px;
            }
        }
        
        @media (max-width: 1260px) {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 80px;
            padding-bottom: 100px;

            #view-section-content {
                width: 100%;
                max-width: 100%;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    max-width: 760px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #purple-section {
        background-color: #2E074A;
        padding: 0;
        margin-top: 250px;
        height: 1300px;
        position: relative;
        background-size: cover;
        background-position: center top 21px;

        @media (max-width: 900px) {
            padding: 20px 0;
            height: auto;
        }

        &:before {
            width: 100%;
            height: 250px;
            background-color: #2E074A;
            clip-path: polygon(100% 0, 100% 100%, 0 230px);
            content: " ";
            display: block;
            position: absolute;
            top: -230px;
            left: 0;
            right: 0;
        }

        &:after {
            width: 100%;
            height: 250px;
            background-color: #FFF6F5;
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
            content: " ";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            z-index: 0;
        }

        #purple-background-images {
            display: none;
        }

        .container {
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1080px;

            .purple-section-media-item {
                width: 403px;
                position: relative;
                z-index: 100;
                top: 100px;

                @media (max-width: 900px) {
                    top: 0;
                }

                h3 {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 25px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 29px;
                    padding-left: 59px;
                    padding-right: 59px;
                    margin: 0;
                    height: 57px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                
                .purple-section-item-img-video {
                    width: 100%;
                    height: 731px;
                    margin-top: -25px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i.fa-play {
                        position: absolute;
                        left: 50%;
                        top: 290px;
                        margin-left: -44px;
                        font-size: 50px;
                        color: white;
                        border: 2px solid white;
                        padding: 25px 20px 20px 28px;
                        border-radius: 50px;
                        cursor: pointer;
                    }

                    video {
                        display: none;
                        border-radius: 37px;
                        margin-top: -30px;
                        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

                        &:focus, &:active {
                            outline: none;
                        }
                    }
                }

                &:nth-child(2n+1) {
                    top: 500px;

                    @media (max-width: 900px) {
                        top: 100px;
                    }
                }

                &:nth-child(3) {
                    margin-top: 100px;
                }
            }

            @media (max-width: 1025px) {
                padding-left: 25px;
                padding-right: 25px;
            }

            @media (max-width: 865px) {
                .purple-section-media-item {
                    width: 50%;

                    img {
                        margin-top: -50px;
                    }

                    &:nth-child(3) {
                        margin-top: 0;
                    }
                }
            }

            @media (max-width: 750px) {
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                padding-right: 0;

                .purple-section-media-item {
                    width: 100%;
                    max-width: 403px;
                    top: 60px !important;
                    position: relative;;

                    h3 {
                        height: auto;
                    }

                    .purple-section-item-img-video {
                        margin-top: 5px;

                        video {
                            margin-top: -80px;
                        }
                    }

                    img {
                        //margin-top: -20px;
                    }
                }
                
                @media (max-width: 400px) {
                    .purple-section-media-item {
                        .purple-section-item-img-video {
                            margin-top: -20px;

                            video {
                                margin-top: -60px;
                            }
                        }
                    }
                }

                @media (max-width: 380px) {
                    .purple-section-media-item {
                        .purple-section-item-img-video {
                            margin-top: -40px;

                            video {
                                margin-top: -10px;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1050px) {
            margin-top: 100px;

            &:before {
                height: 100px;
                top: -80px;
                clip-path: polygon(100% 0, 100% 100%, 0 80px);
            }

            &:after {
                height: 100px;
                bottom: -2px;
                clip-path: polygon(100% 0, 100% 100%, 0 100%);
            }
        }

        @media (min-width: 651px) {
            background-image: none !important;

            #purple-background-images {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                display: block;

                img {
                    position: absolute;
                    opacity: 0.6;

                    &#purple-background-curve {
                        top: 210px;
                        left: -710px;
                        opacity: 1;
                    }

                    &#purple-background-dots-1 {
                        right: 150px;
                        top: 200px;
                    }

                    &#purple-background-dots-2 {
                        left: 150px;
                        top: 800px;
                    }

                    &#purple-background-lines-1 {
                        left: 50px;
                        bottom: 0;
                    }

                    &#purple-background-lines-2 {
                        right: 50px;
                        bottom: 700px;
                    }
                }
            }

            .container {
                z-index: 2;
            }
        }
    }

    #compatible-section {
        background-color: #FFF6F5;
        
        .container {
            max-width: 700px;
            padding: 230px 25px 230px;

            h2 {
                color: @red;
                font-family: Rubik;
                font-size: 50px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 60px;
                text-align: center;
                margin-bottom: 80px;
            }

            #conpatible-list {
                display: flex;
                justify-content: space-between;

                .item {
                    .image-wrapper {
                        height: 123px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 30px;
                    }

                    h3 {
                        color: @red;
                        font-family: Rubik;
                        font-size: 33px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 39px;
                        text-align: center;
                        margin: 10px 0;
                    }

                    p {
                        color: #161518;
                        font-family: Rubik;
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 27px;
                        text-align: center;                        
                    }
                }
            }

            @media (max-width: 1000px) {
                padding-top: 130px;
                padding-bottom: 130px;
            }

            @media (max-width: 500px) {
                #conpatible-list {
                    .item {
                        width: 45%;

                        h3 {
                            font-size: 22px;
                            line-height: 1.2em;
                        }
                    }
                }
            }

            @media (max-width: 410px) {
                padding-bottom: 80px;

                h2 {
                    font-size: 46px;
                    line-height: 1.2em;
                    margin-bottom: 40px;
                }
            }
        }
    }

    #works-section {
        background-color: #FFF6F5;
        padding-bottom: 340px;
        position: relative;

        &:after {
            width: 100%;
            height: 250px;
            background-color: white;
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
            content: " ";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            z-index: 0;
        }

        .container {
            max-width: 799px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: @red;
                font-family: Rubik;
                font-size: 50px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 60px;
                text-align: center;
                margin-bottom: 40px;

                @media (max-width: 815px) {
                    font-size: 46px;
                    line-height: 1.2em;
                }

                @media (max-width: 600px) {
                    font-size: 36px;
                }

                @media (max-width: 500px) {
                    font-size: 26px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }

            p {
                .center(500px);
                color: #161518;
                font-family: Rubik;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 27px;
                text-align: center;
                margin-bottom: 40px;
            }
        }

        @media (max-width: 1050px) {
            padding-bottom: 150px;

            &:after {
                height: 100px;
                bottom: -2px;
            }
        }
    }

    #try-it-section {
        h2 {
            color: @red;
            font-family: Rubik;
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 60px;
            text-align: center;
            margin: 50px 0;
        }

        #try-it-list {
            .center(1260px);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .example {
                width: 30%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    position: relative;
                    top: -50px;
                }

                @media (max-width: 600px) {
                    width: 46%;
                }

                @media (max-width: 430px) {
                    a {
                        width: 78px;
                        height: 84px;
                        top: -30px;
                    }
                }
            }
        }
    }
}

body.fr-FR {
    #webar-complex-page {
        a.webar-button-red {
            width: 245px;
        }

        #hero-section {
            #hero-dark-layer {
                #hero-content {
                    p {
                        max-width: 345px;
                    }
                }
            }
        }

        #no-app-section {
            @media (min-width: 1020px) and (max-width: 1280px) {
                padding-right: 300px;
                
                #no-app-section-content {
                    h2 {
                        max-width: 300px;
                    }
                }
            }
        }

        #next-big-ecommerce-section {
            .dark-layer {
                h2 {
                    max-width: 660px;
                    font-size: 46px;
                    line-height: 1.1em;

                    @media (max-width: 470px) {
                        font-size: 40px;
                    }
                }
            }
        }

        #purple-section {
            .container {
                .purple-section-media-item {
                    &:nth-child(3) {
                        h3 {
                            font-size: 24px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}

body.de-DE {
    #webar-complex-page {
        a.webar-button-red {
            width: 200px;
        }

        #hero-section {
            #hero-dark-layer {
                #hero-content {
                    p {
                        max-width: 345px;
                    }
                }
            }
        }

        #no-app-section {
            @media (min-width: 1020px) and (max-width: 1280px) {
                padding-right: 270px;
            }
        }

        #next-big-ecommerce-section {
            .dark-layer {
                h2 {
                    max-width: 570px;
                    font-size: 46px;
                    line-height: 1.1em;

                    @media (max-width: 470px) {
                        font-size: 40px;
                    }
                }
            }
        }

        #compatible-section {
            h2 {
                @media (max-width: 500px) {
                    font-size: 36px;
                    line-height: 1.1em;
                    font-weight: 500;
                }

                @media (max-width: 425px) {
                    font-size: 30px;
                }
            }
        }
    }
}
