@import '../_swisstomato2-base.less';

#swisst2-blogposts-page {
	&.container {
		max-width: 1250px;
		padding-top: 30px;

		@media (max-width: 430px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	#intro-section {
		h1 {
			.center(600px);
		}
	}

	#blog-post-list {
		.flex-space-between();
		align-items: stretch;
		flex-wrap: wrap;
		margin-bottom: 25px;

		.post {
			width: 31.6%;
			margin-bottom: 30px;
			background-color: #f8f8f8;

			.post-image {
				width: 100%;
				height: 240px;
				background-size: cover;
				background-position: top left;
				background-repeat: no-repeat;
				display: block;
			}

			.post-content {
				padding: 17px 25px 60px;

				.post-categories {
					a {
						color: #F2000C;
						font-family: Rubik;
						font-size: 15px;
						font-weight: bold;
						line-height: 18px;
						text-transform: uppercase;
						display: none;

						&:hover {
							color: @darkerRed;
						}
					}
				}

				h2.post-title {
					margin: 10px 0;

					a {
						color: #000;
						font-family: Rubik;
						font-size: 28px;
						font-weight: bold;
						line-height: 35px;

						&:hover {
							color: @red;
						}
					}
				}

				.post-date {
					opacity: 0.6;
					color: #000000;
					font-family: Rubik;
					font-size: 16px;
					line-height: 25px;
				}

				.post-text {
					p {
						opacity: 0.6;
						color: #000000;
						font-family: Rubik;
						font-size: 16px;
						line-height: 25px;
					}
				}
			}

			&:first-child {
				width: 100%;
				height: 560px;
				position: relative;
				.bc-img-center();
				display: flex;
				justify-content: stretch;
				align-items: stretch;

				.post-image {
					display: none;
				}

				.post-content {
					padding: 55px;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					background-color: rgba(0, 0, 0, .3);
					width: 100%;

					h2.post-title {
						margin: 5px 0;
						max-width: 600px;

						a {
							color: #FFFFFF;
							font-family: Rubik;
							font-size: 44px;
							font-weight: bold;
							line-height: 52px;
							margin-bottom: 10px;

							&:hover {
								color: @red;
							}
						}
					}

					.post-date {
						opacity: 0.6;
						color: rgb(255, 255, 255);
						font-family: Rubik;
						font-size: 16px;
						line-height: 25px;
					}

					.post-text {
						max-width: 570px;

						p {
							opacity: 0.8;
							color: #FFFFFF;
							font-family: Rubik;
							font-size: 16px;
							line-height: 25px;
						}
					}
				}
			}

			&.post-template {
				display: none;
			}

			@media (max-width: 950px) {
				width: 47%;
			}

			@media (max-width: 600px) {
				width: 100%;

				&:first-child {
					height: unset;

					.post-content {
						padding: 30px 25px;
					}
				}
			}

			@media (max-width: 430px) {
				&:first-child {
					.post-content {
						h2.post-title a {
							font-size: 28px;
							line-height: 1.2em;
						}
					}
				}
			}
		}
	}

	#loading-more-post-wrapper {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
        margin-bottom: 50px;

		#load-more-posts-button {
			padding-left: 31px;
			padding-right: 32px;
			cursor: pointer;
		}

		#loading-posts-gif {
			display: none;
		}
	}


}