@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none !important;
    outline: 0 !important;
}

.view-button {
    padding: 17px 30px 14px 71px;
    color: #3C3838;
    text-align: center;
    border-radius: 23px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    background: url('/wp-content/themes/swisst2/imgs/delonghi/Ar-icon.png');
    background-repeat: no-repeat;
    background-position: 25px 13.5px;
    border: 1.8px solid #DADADA;
    border-radius: 29.7px;
    height: 62px;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    box-sizing: border-box;

    &:hover {
        background-color: #F1F1F1;
    }
}

#product-popup-ar-final-button-page {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 60px;
    box-sizing: border-box;
    visibility: hidden;
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        margin-top: 18px;

        img {
            height: 28px;
        }

        .mobile-menu-toggle {
            width: 24px;
            height: 18px;
            background-image: url('/wp-content/themes/swisst2/imgs/product-ar/kwc/bars.png');
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: none;
        }
        
        ul#menu {
            list-style-type: none;
            display: flex;
            padding-left: 0;

            li {
                a {
                    color: #000000;
                    font-family: "Open Sans";
                    font-size: 17px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 23px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    height: 22px;
                    width: 69px;
                    color: rgba(0,0,0,0.4);
                    font-family: "Open Sans";
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 22px;
                    text-align: center;
                    font-weight: 400;
                    text-transform: none;

                    &:hover {
                        color: black;
                    }
                }

                &:nth-child(4) {
                    a {
                        color: black;
                    }
                }

                & + li {
                    padding-left: 60px;
                }
            }

            span {
                display: none;
            }
        }

        @media (max-width: 726px) {
            flex-direction: row;

            .mobile-menu-toggle {
                display: block;
            }

            ul#menu {
                display: none;
                position: absolute;
                right: 0;
                top: 0;
                width: 200px;
                background-color: #eee;
                box-shadow: -1.5px 0 4px 0 rgba(50,50,50,0.5);
                height: 100%;
                margin: 0;
                z-index: 100;
                padding: 20px;
                box-sizing: border-box;

                li {
                    margin-bottom: 10px;

                    & + li {
                        padding-left: 0;
                    }
                }

                span.menu-close {
                    content: " ";
                    position: absolute;
                    left: -30px;
                    top: 0;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-image: url('/wp-content/themes/swisst2/imgs/product-ar/kwc/close.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #eee;
                    box-shadow: -2.3px 2.3px 3px 0 rgba(50,50,50,0.5);
                }

                &.open {
                    display: block;
                }
            }
        }

        @media (max-width: 550px) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;

            img {
                margin: 10px 0 15px;
            }
        }

        @media (max-width: 420px) {
            ul#menu {
                li {
                    & + li {
                        padding-left: 30px;
                    }
                }
            }
        }
    }

    #product {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        #product-image-column {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 50%;

            h1 {
                display: none;
                margin: 0 0 20px;
                color: #062643;
                font-family: "Open Sans";
                font-size: 29px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 39px;
            }

            #product-image-wrapper {
                max-width: 100%;

                img {
                    max-width: 550px;
                    max-height: 395px;
                }
            }
        }

        #product-content {
            width: 47%;

            h1 {
                color: #062643;
                font-family: "Open Sans";
                font-size: 29px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 39px;
                margin: 0 0 30px 0;
            }

            p {
                color: #062643;
                font-family: "Open Sans";
                font-size: 16px;
                letter-spacing: 0;
                line-height: 22px;
                color: #062643;
                font-family: "Open Sans";
                font-size: 16px;
                letter-spacing: 0;
                line-height: 22px;
                width: 100%;

                & + p {
                    margin-top: 5px;
                }
            }

            ul {
                margin-left: 23px;
                padding-left: 0;
                list-style: none;
                max-width: 433px;
                //margin-top: -15px;
                width: 100%;

                li {
                    padding-left: 7px;
                    color: #062643;
                    font-family: "Open Sans";
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 22px;

                    &:before {
                        content: "• ";
                        color: #062643;
                        position: relative;
                        margin-left: -11px;
                        left: -10px;
                    }
                }
            }

            #open-model-popup-wrapper {
                margin-top: 25px;
            }

            #price {
                color: #062643;
                font-family: "Open Sans";
                font-size: 23px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 32px;
                margin: 40px 0 50px;
            }

            #first-popup-open-button {
                @media (hover: none) and (orientation: portrait) {
                    display: none;
                }
            }

            @media (max-width: 600px) {
                align-items: flex-start;
            }
        }

        @media (max-width: 900px) {
            #product-image-column {
                justify-content: flex-start;
            }
        }

        @media (max-width: 600px) {
            flex-direction: column;

            #product-image-column {
                width: 100%;
                flex-direction: column;

                h1 {
                    display: block;
                    margin-bottom: 8px;
                }

                #product-image-wrapper {
                    width: 100%;
                    padding: 25px;
                    background-color: #efefef;
                }
            }

            #product-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    display: none;
                }

                #price {
                    margin: 10px 0 30px;

                    @media (hover: none) {
                        margin-bottom: 0;
                    }
                }

                #open-model-popup-wrapper {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        @media (max-width: 450px) {
            #product-image-column #product-image-wrapper {
                display: none;
            }

            #open-model-popup-wrapper {
                display: none;
            }
        }
    }

    &.only-mobile {
        #product #product-mode-viewer-wrapper {
            width: 100%;
            height: 400px;
        }
    }

    @media (max-width: 450px) {
        padding-bottom: 20px;
    }
}

model-viewer {
    width: 580px;
    max-width: 100%;
    height: 100%;
    overflow: visible;
    padding-bottom: 0;

    button {
        bottom: 1px;
        position: absolute; 
        left: 50%; 
        margin-left: -137px; 
        width: 274px; 
        border: none !important;
        padding: 5px 20px 4px 61px;
        color: #3C3838;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        background: url(/wp-content/themes/swisst2/imgs/delonghi/Ar-icon.png);
        background-repeat: no-repeat;
        background-position: 25px 7.75px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #dadada !important;
        border-radius: 29.7px;
        height: 50px;
        display: inline-block;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        //box-sizing: border-box;
        display: none;
    }

    &.android {
        padding-bottom: 53px;

        button {
            bottom: -53px;
        }
    }

    &.ios {
        button {
            bottom: -50px;
        }
    }
}

.close-popup {
    width: 50px;
    height: 38px;
    background: url('/wp-content/themes/swisst2/imgs/delonghi/Exit.png');
    position: absolute;
    cursor: pointer;
    z-index: 2;

    &:hover {
        background: url('/wp-content/themes/swisst2/imgs/delonghi/Exit-hover.png');
    }
}

#model-popup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: none;
    
    .container {
        width: 100%;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        #close-model-popup {
            position: absolute;
            left: 30px;
            top: 30px;
            cursor: pointer;
        }

        #model-popup-inner {
            height: 80%;
            max-height: 700px;
            max-width: 70%;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            #model-viewer-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                max-width: 400px;
                max-height: 550px;

                model-viewer {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0.1;

                    --progress-bar-color: rgba(0, 0, 0, 0.1);
                    --progress-bar-height: 1px;
                }
            }

            button.view-button {
                max-width: 277px;
            }

            #mobile-ar-loading-gif {
                width: 58px;
                display: none;
            }
        }

        #powered-by-message {
            text-align: right;
            color: #000000;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 22px;
            position: absolute;
            right: 30px;
            bottom: 40px;

            a {
                color: #000000;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 22px;
                text-decoration: none;
                font-weight: 600;

                &:visited {
                    color: #000;
                }
            }
        }
    }

    @media (max-width: 450px) {
        position: static;
        display: block;
        margin-bottom: 25px;
        height: 350px;
        width: 100%;

        #close-model-popup, #powered-by-message {
            display: none;
        }

        .container #model-popup-inner{
            max-width: 100%;
            height: 100%;
            align-items: center;
            
            #model-viewer-wrapper model-viewer {
                height: 300px;
                width: 400px;

                button {
                    display: none;
                }
            }

            button.view-button {
                position: relative;
                top: 15px;
            }

            #mobile-ar-loading-gif {
                position: relative;
                top: 15px;
            }
        }
    }

    @media (max-width: 420px) {
        .container {
            #model-popup-inner {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 410px) {
        .container #model-popup-inner {
            #model-viewer-wrapper model-viewer {
                width: 385px;
            }
        }
    }

    @media (max-width: 390px) {
        .container #model-popup-inner {
            #model-viewer-wrapper model-viewer {
                width: 360px;
            }
        }
    }
}

#qr-popup-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    #qr-popup {
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
        left: 50%;
        margin-left: -150px;
        top: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 30px 20px;
        box-sizing: border-box;

        .close-popup {
            left: 20px;
            top: 20px;
            z-index: 2;
        }

        #qr-code-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            #qr-code-text {
                text-transform: uppercase;
                font-family: "Open Sans";
                font-size: 18px;
                font-weight: bold;

                h2 {
                    color: #062643;
                    font-family: "Open Sans";
                    font-size: 23px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 32px;
                    text-align: center;
                    margin: 0 0 16px 0;
                    text-transform: none;
                }

                p {
                    height: 40px;
                    width: 266px;
                    color: #062643;
                    font-family: "Open Sans";
                    font-size: 15px;
                    letter-spacing: 0;
                    line-height: 20px;
                    text-align: center;
                    margin: 0 0 12px 0;
                    text-transform: none;
                    font-weight: 500;
                }
            }

            img {
                margin-bottom: 15px;
            }
        }
    }

    button {
        padding: 9px 19px;
        border-radius: 33px;
        background-color: #58B0E2;
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(35, 108, 150);
        }
    }
}