@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none !important;
  outline: 0 !important;
}
.view-button {
  padding: 17px 30px 14px 71px;
  color: #3C3838;
  text-align: center;
  border-radius: 23px;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  background: url('/wp-content/themes/swisst2/imgs/delonghi/Ar-icon.png');
  background-repeat: no-repeat;
  background-position: 25px 13.5px;
  border: 1.8px solid #DADADA;
  border-radius: 29.7px;
  height: 62px;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  box-sizing: border-box;
}
.view-button:hover {
  background-color: #F1F1F1;
}
#product-popup-ar-final-page {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px 60px;
  box-sizing: border-box;
  visibility: hidden;
}
#product-popup-ar-final-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 18px;
}
#product-popup-ar-final-page header img {
  height: 28px;
}
#product-popup-ar-final-page header .mobile-menu-toggle {
  width: 24px;
  height: 18px;
  background-image: url('/wp-content/themes/swisst2/imgs/product-ar/kwc/bars.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
#product-popup-ar-final-page header ul#menu {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
#product-popup-ar-final-page header ul#menu li a {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
  height: 22px;
  width: 69px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  text-transform: none;
}
#product-popup-ar-final-page header ul#menu li a:hover {
  color: black;
}
#product-popup-ar-final-page header ul#menu li:nth-child(4) a {
  color: black;
}
#product-popup-ar-final-page header ul#menu li + li {
  padding-left: 60px;
}
#product-popup-ar-final-page header ul#menu span {
  display: none;
}
@media (max-width: 726px) {
  #product-popup-ar-final-page header {
    flex-direction: row;
  }
  #product-popup-ar-final-page header .mobile-menu-toggle {
    display: block;
  }
  #product-popup-ar-final-page header ul#menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    background-color: #eee;
    box-shadow: -1.5px 0 4px 0 rgba(50, 50, 50, 0.5);
    height: 100%;
    margin: 0;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
  }
  #product-popup-ar-final-page header ul#menu li {
    margin-bottom: 10px;
  }
  #product-popup-ar-final-page header ul#menu li + li {
    padding-left: 0;
  }
  #product-popup-ar-final-page header ul#menu span.menu-close {
    content: " ";
    position: absolute;
    left: -30px;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('/wp-content/themes/swisst2/imgs/product-ar/kwc/close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
    box-shadow: -2.3px 2.3px 3px 0 rgba(50, 50, 50, 0.5);
  }
  #product-popup-ar-final-page header ul#menu.open {
    display: block;
  }
}
@media (max-width: 550px) {
  #product-popup-ar-final-page header {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  #product-popup-ar-final-page header img {
    margin: 10px 0 15px;
  }
}
@media (max-width: 420px) {
  #product-popup-ar-final-page header ul#menu li + li {
    padding-left: 30px;
  }
}
#product-popup-ar-final-page #product {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#product-popup-ar-final-page #product #product-image-column {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
#product-popup-ar-final-page #product #product-image-column h1 {
  display: none;
  margin: 0 0 20px;
  color: #062643;
  font-family: "Open Sans";
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 39px;
}
#product-popup-ar-final-page #product #product-image-column #product-image-wrapper {
  max-width: 100%;
}
#product-popup-ar-final-page #product #product-image-column #product-image-wrapper img {
  max-width: 550px;
  max-height: 395px;
}
#product-popup-ar-final-page #product #product-content {
  width: 47%;
}
#product-popup-ar-final-page #product #product-content h1 {
  color: #062643;
  font-family: "Open Sans";
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 39px;
  margin: 0 0 30px 0;
}
#product-popup-ar-final-page #product #product-content p {
  color: #062643;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  width: 100%;
}
#product-popup-ar-final-page #product #product-content p + p {
  margin-top: 5px;
}
#product-popup-ar-final-page #product #product-content ul {
  margin-left: 23px;
  padding-left: 0;
  list-style: none;
  max-width: 433px;
  width: 100%;
}
#product-popup-ar-final-page #product #product-content ul li {
  padding-left: 7px;
  color: #062643;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}
#product-popup-ar-final-page #product #product-content ul li:before {
  content: "• ";
  color: #062643;
  position: relative;
  margin-left: -11px;
  left: -10px;
}
#product-popup-ar-final-page #product #product-content #open-model-popup-wrapper {
  margin-top: 25px;
}
#product-popup-ar-final-page #product #product-content #price {
  color: #062643;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  margin: 40px 0 50px;
}
@media (hover: none) and (orientation: portrait) {
  #product-popup-ar-final-page #product #product-content #first-popup-open-button {
    display: none;
  }
}
@media (max-width: 600px) {
  #product-popup-ar-final-page #product #product-content {
    align-items: flex-start;
  }
}
@media (max-width: 900px) {
  #product-popup-ar-final-page #product #product-image-column {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  #product-popup-ar-final-page #product {
    flex-direction: column;
  }
  #product-popup-ar-final-page #product #product-image-column {
    width: 100%;
    flex-direction: column;
  }
  #product-popup-ar-final-page #product #product-image-column h1 {
    display: block;
    margin-bottom: 8px;
  }
  #product-popup-ar-final-page #product #product-image-column #product-image-wrapper {
    width: 100%;
    padding: 25px;
    background-color: #efefef;
  }
  #product-popup-ar-final-page #product #product-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #product-popup-ar-final-page #product #product-content h1 {
    display: none;
  }
  #product-popup-ar-final-page #product #product-content #price {
    margin: 10px 0 30px;
  }
  #product-popup-ar-final-page #product #product-content #open-model-popup-wrapper {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 600px) and (hover: none) {
  #product-popup-ar-final-page #product #product-content #price {
    margin-bottom: 0;
  }
}
@media (max-width: 450px) {
  #product-popup-ar-final-page #product #product-image-column #product-image-wrapper {
    display: none;
  }
  #product-popup-ar-final-page #product #open-model-popup-wrapper {
    display: none;
  }
}
#product-popup-ar-final-page.only-mobile #product #product-mode-viewer-wrapper {
  width: 100%;
  height: 400px;
}
@media (max-width: 450px) {
  #product-popup-ar-final-page {
    padding-bottom: 20px;
  }
}
model-viewer {
  width: 580px;
  max-width: 100%;
  height: 100%;
  overflow: visible;
  padding-bottom: 0;
}
model-viewer button {
  bottom: 1px;
  position: absolute;
  left: 50%;
  margin-left: -137px;
  width: 274px;
  border: none !important;
  padding: 5px 20px 4px 61px;
  color: #3C3838;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background: url(/wp-content/themes/swisst2/imgs/delonghi/Ar-icon.png);
  background-repeat: no-repeat;
  background-position: 25px 7.75px;
  background-color: #ffffff;
  border: 1px solid #dadada !important;
  border-radius: 29.7px;
  height: 50px;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
model-viewer.android {
  padding-bottom: 53px;
}
model-viewer.android button {
  bottom: -53px;
}
model-viewer.ios button {
  bottom: -50px;
}
.close-popup {
  width: 50px;
  height: 38px;
  background: url('/wp-content/themes/swisst2/imgs/delonghi/Exit.png');
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
.close-popup:hover {
  background: url('/wp-content/themes/swisst2/imgs/delonghi/Exit-hover.png');
}
#model-popup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  display: none;
}
#model-popup .container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#model-popup .container #close-model-popup {
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
}
#model-popup .container #model-popup-inner {
  height: 80%;
  max-height: 700px;
  max-width: 70%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#model-popup .container #model-popup-inner #model-viewer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 550px;
}
#model-popup .container #model-popup-inner #model-viewer-wrapper model-viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  --progress-bar-color: rgba(0, 0, 0, 0.1);
  --progress-bar-height: 1px;
}
#model-popup .container #model-popup-inner button.view-button {
  max-width: 277px;
}
#model-popup .container #model-popup-inner #mobile-ar-loading-gif {
  width: 58px;
  display: none;
}
#model-popup .container #powered-by-message {
  text-align: right;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  right: 30px;
  bottom: 40px;
}
#model-popup .container #powered-by-message a {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-decoration: none;
  font-weight: 600;
}
#model-popup .container #powered-by-message a:visited {
  color: #000;
}
@media (hover: none) {
  #model-popup .container #model-popup-inner #model-viewer-wrapper model-viewer {
    padding-bottom: 60px;
  }
  #model-popup .container #model-popup-inner button.view-button {
    display: none;
  }
}
@media (max-width: 450px) {
  #model-popup {
    position: static;
    display: block;
    margin-bottom: 25px;
    height: 350px;
    width: 100%;
  }
  #model-popup #close-model-popup,
  #model-popup #powered-by-message {
    display: none;
  }
  #model-popup .container #model-popup-inner {
    max-width: 100%;
    height: 100%;
    align-items: center;
  }
  #model-popup .container #model-popup-inner #model-viewer-wrapper model-viewer {
    height: 300px;
    width: 400px;
  }
  #model-popup .container #model-popup-inner button.view-button {
    display: none;
  }
}
@media (max-width: 420px) {
  #model-popup .container #model-popup-inner {
    max-width: 100%;
  }
}
@media (max-width: 410px) {
  #model-popup .container #model-popup-inner #model-viewer-wrapper model-viewer {
    width: 385px;
  }
}
@media (max-width: 390px) {
  #model-popup .container #model-popup-inner #model-viewer-wrapper model-viewer {
    width: 360px;
  }
}
#qr-popup-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
#qr-popup-background #qr-popup {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  left: 50%;
  margin-left: -150px;
  top: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 30px 20px;
  box-sizing: border-box;
}
#qr-popup-background #qr-popup .close-popup {
  left: 20px;
  top: 20px;
  z-index: 2;
}
#qr-popup-background #qr-popup #qr-code-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#qr-popup-background #qr-popup #qr-code-wrapper #qr-code-text {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
}
#qr-popup-background #qr-popup #qr-code-wrapper #qr-code-text h2 {
  color: #062643;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
  margin: 0 0 16px 0;
  text-transform: none;
}
#qr-popup-background #qr-popup #qr-code-wrapper #qr-code-text p {
  height: 40px;
  width: 266px;
  color: #062643;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin: 0 0 12px 0;
  text-transform: none;
  font-weight: 500;
}
#qr-popup-background #qr-popup #qr-code-wrapper img {
  margin-bottom: 15px;
}
#qr-popup-background button {
  padding: 9px 19px;
  border-radius: 33px;
  background-color: #58B0E2;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  border: none;
  cursor: pointer;
}
#qr-popup-background button:hover {
  background-color: #236c96;
}
