@import "../_swisstomato2-base.less";

#swisst2-references-page {
  #references-intro-section {
    max-width: 1117px;
    margin-top: 60px;

    h1 {
      color: #f2000c;
      font-family: Rubik;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19px;
      margin: 0 0 11px;
      font-weight: 400;
      max-width: 922px;
    }

    #references-intro-text {
      p {
        color: #110f24;
        font-family: Rubik;
        font-size: 42px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 52px;
        margin: 0;
        max-width: 922px;

        & + p {
          margin-top: 11px;
        }
      }
    }

    #filter-section {
      margin-top: 95px;
      max-width: 922px;

      .filter-area {
        .filter-boxes {
          display: flex;

          .filter-box {
            opacity: 0.25;
            color: #1c1c1c;
            font-family: Rubik;
            font-size: 24px;
            letter-spacing: 0;
            line-height: 28px;
            position: relative;
            transition: all 0.3s ease-in-out 0s;
            margin-right: 30px;

            &:before {
              content: "";
              position: absolute;
              width: 1%;
              height: 1.5px;
              bottom: -3px;
              left: 0;
              background-color: #f2000c;
              visibility: hidden;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }

            &.selected {
              opacity: 0.85;

              &:before {
                width: 100%;
                visibility: visible;
              }
            }
          }

          .fa-spinner {
            align-self: center;
            font-size: 28px;
            line-height: 28px;
            color: #f2000c;
            opacity: 0.7;
            animation: anim-spinning 1.5s infinite linear;
            display: none;
          }
        }
      }

      &:not(.loading) {
        .filter-area {
          .filter-boxes {
            .filter-box {
              cursor: pointer;

              @media (hover: hover) {
                &:not(.selected):hover {
                  opacity: 0.5;

                  &:before {
                    width: 100%;
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 1170px) {
        flex-direction: column;
        align-items: center;

        h2 {
          text-align: center;
        }

        #platform-filter-area {
          margin-bottom: 20px;
        }
      }

      &.loading {
        .filter-area {
          .filter-boxes {
            .filter-box.selected {
              opacity: 0.25;
            }

            .fa-spinner {
              display: inline-block;
            }
          }
        }
      }
    }

    @media (max-width: 910px) {
      margin-top: 10px;
    }

    @media (max-width: 700px) {
      #references-intro-text {
        p {
          font-size: 37px;
          line-height: 47px;
        }
      }

      #filter-section {
        margin-top: 40px;
      }
    }

    @media (max-width: 540px) {
      margin-top: 20px;

      h1 {
        margin-bottom: 6px;
      }

      #references-intro-text {
        p {
          font-size: 30px;
          line-height: 40px;
        }
      }

      #filter-section {
        margin-top: 25px;

        .filter-area {
          .filter-boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 50px) 40px;
            align-items: center;
            justify-items: flex-start;
          }
        }
      }
    }

    @media (max-width: 450px) {
      #references-intro-text {
        p {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }

    @media (max-width: 370px) {
      #filter-section {  
        .filter-area {
          .filter-boxes {  
            .filter-box {
              font-size: 22px;
            }
          }
        }
      }
    }

    @media (max-width: 345px) {
      #filter-section {  
        .filter-area {
          .filter-boxes {  
            .filter-box {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .masonry-reference-list-section {
    &.loading {
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        content: " ";
        z-index: 2;
      }
    }

    @media (max-width: 1290px) {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (max-width: 540px) {
      margin-top: 20px;
    }
  }
}

body.fr-FR {
  #swisst2-references-page {
    #references-intro-section {
      #references-intro-text {
        p {
          font-size: 34px;
          line-height: 43px;
        }
      }

      #filter-section {
        margin-top: 55px;
      }
    }

    @media (max-width: 700px) {
      #references-intro-section {
        margin-top: 0;

        #references-intro-text {
          p {
            font-size: 24px;
            line-height: 36px;
          }
        }
      }

      .masonry-reference-list-section {
        margin-top: 40px;
      }
    }

    @media (max-width: 540px) {
      #references-intro-section #filter-section {
        margin-top: 25px;
      }

      .masonry-reference-list-section {
        margin-top: 5px;
      }
    }

    @media (max-width: 500px) {
      #references-intro-section {
        margin-top: 40px;

        #references-intro-text {
          p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }

    @media (max-width: 540px) {
      #references-intro-section {
        #filter-section {
          .filter-area {
            .filter-boxes {
              grid-template-columns: 1.5fr 1fr;
            }
          }
        }
      }
    }

    @media (max-width: 414px) {
      #references-intro-section {
        #filter-section {
          .filter-area {
            .filter-boxes {
              grid-template-rows: repeat(2, 40px) 40px;
  
              .filter-box {
                font-size: 20px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 360px) {
      #references-intro-section {
        #filter-section {
          .filter-area {
            .filter-boxes {  
              .filter-box {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}

body.de-DE {
  #swisst2-references-page {
    #references-intro-section {
      #references-intro-text {
        p {
          font-size: 35px;
          line-height: 45px;
        }
      }

      #filter-section {
        margin-top: 55px;
      }
    }

    @media (max-width: 700px) {
      #references-intro-section {
        margin-top: 0;

        #references-intro-text {
          p {
            font-size: 24px;
            line-height: 36px;
          }
        }
      }

      .masonry-reference-list-section {
        margin-top: 40px;
      }
    }

    @media (max-width: 540px) {
      #references-intro-section #filter-section {
        margin-top: 25px;
      }

      .masonry-reference-list-section {
        margin-top: 5px;
      }
    }

    @media (max-width: 500px) {
      #references-intro-section {
        margin-top: 40px;

        #references-intro-text {
          p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }

    @media (max-width: 414px) {
      #references-intro-section {
        #filter-section {
          .filter-area {
            .filter-boxes {
              grid-template-columns: 1.3fr 1fr;
            }
          }
        }
      }
    }
  }
}
