@import '../_swisstomato2-base.less';

#seo-email-marketing-page {
    #hero-section {
        #hero-dark-layer {
            #hero-content {
                p {
                    color: #000000;
                    font-family: Rubik;
                    font-size: 27px;
                    font-weight: 300;
                    line-height: 39px;
                }
            }

            @media (min-width: 801px) and (max-width: 1100px) {
                background-color: rgba(0, 0, 0, 0.5);

                #hero-content {
                    p {
                        color: #fff;
                    }
                }
            }

            @media (max-width: 800px) {
                background-color: rgba(0, 0, 0, 0.7);

                #hero-content {
                    p {
                        color: #fff;
                    }
                }
            }
        }
    }

    #below-hero-section {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 690px;
        padding: 45px 0 0px;

        p {
            color: #303030;
            font-family: "Rubik";
            font-size: 20px;
            line-height: 30px;
        }

        @media (max-width: 740px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
