@import '../_swisstomato2-base.less';

#social-media-page {
    #intro-section {
        h1 {
            .center(630px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        #hero-dark-layer {
            background: linear-gradient(
                90deg,
                rgba(79, 57, 47, 0) 0,
                #4f392f 75%
            );

            #hero-content {
                p {
                    color: #ffffff;
                    font-family: Rubik;
                    font-size: 27px;
                    font-weight: 300;
                    line-height: 39px;
                }
            }

            @media (max-width: 800px) {
                background: linear-gradient(
                    90deg,
                    rgba(79, 57, 47, 0.7) 0,
                    rgba(79, 57, 47, 0.9) 40%,
                    #4f392f 75%
                );
            }
        }
    }

    #below-hero-section {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
        padding: 60px 0 25px;

        p {
            color: #303030;
            font-family: "Rubik";
            //font-weight: bold;
            font-size: 18px;
            line-height: 27px;
        }

        @media (max-width: 700px) {
            padding-left: 25px;
            padding-right: 25px;
        }

        a.button-red {
            margin-top: 10px;
        }
    }

    .image-text-row {
        a.swisst2-read-more+.swisst2-more-text p {
            font-size: 14px;
            line-height: 21px;
        }
    }

    #section-3 {
        background-color: rgba(255, 218, 215, 0.25);
        padding: 30px 25px;
        text-align: center;
        margin-bottom: -30px;

        p {
            color: #303030;
            font-family: Rubik;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            .center(798px);
        }
    }

    #dm-internal-links-section {
        padding-top: 20px;
    }
}
