@import '../_swisstomato2-base.less';

#swiss-app-page {
    #intro-section {
        h1 {
            .center(330px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        @media (max-width: 650px) {
            margin-bottom: 70px;
        }
    }

    .check-list-section.type-2 {
        .check-item-list {
            max-width: 1080px;

            .check-item {
                width: 17%;

                .check-item-title {
                    max-width: 170px;
                }

                &:first-child {
                    .check-item-title {
                        max-width: 150px;
                    }
                }

                &:last-child {
                    .check-item-title {
                        max-width: 200px;
                    }
                }
            }

            @media (max-width: 850px) {
                justify-content: center;

                .check-item {
                    width: 40%;
                    text-align: center;

                    .check-item-title {
                        max-width: 100%;
                    }

                    &:first-child, &:last-child {
                        .check-item-title {
                            max-width: 100%;
                        }   
                    }
                }
            }

            @media (max-width: 580px) {
                flex-direction: row;

                .check-item {
                    width: 50%;
                }
            }

            @media (max-width: 450px) {
                flex-direction: column;

                .check-item {
                    margin-bottom: 40px;
                }
            }
        }

        @media (max-width: 550px) {
            padding-top: 20px;
            padding-bottom: 40px;
        }
    }

    #clients-section {
        padding-top: 0px;
        margin-top: 50px;
    }

    .references-section {
        h2 {
            max-width: 380px;
        }
    }
}