@import "../_swisstomato2-base.less";

#web-dev-page {
  margin-top: 20px;

  #services-section + .icon-text-list-section {
    margin-top: 60px;
  }

  .references-section {
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 20px;

    &.container {
      max-width: unset;
    }
  }

  .references-section + #why-us-section {
    margin-top: 45px;

    @media (max-width: 550px) {
      margin-top: 25px;
    }
  }

  .image-text-row {
    .column {
      &.image-column {
        @media (min-width: 650px) and (max-width: 1240px) {
          height: 36vw;
        }

        @media (max-width: 650px) {
          height: 71vw;
        }
      }
    }
  }

  #agency-section {
    margin-top: 65px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 790px) {
      margin-top: 80px;
    }
  }

  #website-creation-section {
    .text-column {
      justify-content: flex-start;
    }
  }

  #web-dev-section {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 40px;

    p {
      color: #303030;
      font-family: "Rubik";
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      margin-bottom: 19px;
    }

    @media (max-width: 650px) {
      margin-bottom: 60px;
    }
  }

  #fields-of-exp-section {
    max-width: unset;
  }

  #clients-section {
    padding-top: 20px;
    padding-bottom: 0;
  }

  #awards-section {
    margin-top: 0;
    margin-bottom: 70px;
  }

  .references-section {
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 20px;

    &.container {
      max-width: unset;
    }
  }

  #why-important-section {
    margin-top: 20px;
    padding-bottom: 20px;
    max-width: 1095px;

    h2 {
      margin: 0 auto 25px;
      color: #f2000c;
      font-family: Rubik;
      font-size: 33px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 39px;
      text-align: center;
    }

    p {
      .center(768px);
      text-align: center;
      color: #303030;
      font-family: Rubik;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
    }

    #why-important-cards {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      .wi-card {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        background-color: #fef0f1;

        h3 {
          color: #303030;
          font-family: Rubik;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 24px;
        }

        p {
          color: #110f24;
          font-family: Rubik;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 27px;
          text-align: left;
        }

        a.swisst2-read-more {
          margin: 0;

          & + .swisst2-more-text {
            margin-top: 0;

            p {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        &:nth-child(1) {
          .wi-card-image-wrapper {
            transition-delay: 100ms;
          }
        }

        &:nth-child(2) {
          .wi-card-image-wrapper {
            transition-delay: 200ms;
          }
        }

        &:nth-child(3) {
          .wi-card-image-wrapper {
            transition-delay: 300ms;
          }
        }
      }

      &:not(.no-scroll) {
        .wi-card .wi-card-image-wrapper {
          opacity: 0;
          transform: scale(0.6);
          transition-property: transform, opacity;
          transition-duration: 0.4s;
          transition-timing-function: ease;
        }

        &.scrolled-to {
          .wi-card .wi-card-image-wrapper {
            opacity: 1;
            transform: translateZ(0) scale(1);
          }
        }
      }
    }

    @media (max-width: 820px) {
      #why-important-cards {
        .wi-card {
          padding: 20px;
        }
      }
    }

    @media (max-width: 750px) {
      #why-important-cards {
        flex-direction: column;
        margin-top: 40px;

        .wi-card {
          width: 100%;

          & + .wi-card {
            margin-top: 16px;
          }
        }
      }
    }
  }

  #process-timing-section {
    padding-top: 35px;
  }

  #what-benefits-section {
    margin-top: 65px;
  }

  #lets-shape-section {
    background: #fef0f1;
    padding: 120px 0;
    margin-bottom: 60px;

    .container {
      max-width: 870px;

      h2 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 39px;
        text-align: center;
        margin-top: 0;
      }

      p {
        color: #303030;
        font-family: Rubik;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:not(.no-scroll) {
        opacity: 0;
        transform: scale(0.6) translateZ(-100px);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        &.scrolled-to {
          opacity: 1;
          transform: scale(1) translateZ(0);
        }
      }
    }

    @media (max-width: 580px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .swisst-banner:last-child {
    margin-bottom: 10px;
  }
}

body.fr-FR {
  #web-dev-page {
    // #intro-text-awards-2022 {
    //   @media (max-width: 480px) {
    //     #intro-title-and-text {
    //       h1 {        
    //         font-size: 36px;
    //         line-height: 46px;
    //       }
    //     }
  
    //     #intro-text {
    //       p {
    //         font-size: 20px;
    //         line-height: 31px;
    //       }
    //     }
    //   }
    // }
    
    #services-section {
      #services {
        .service {
          .service-title {
            @media (min-width: 1100px) {
              padding-left: 40px;
              padding-right: 40px;
            }

            @media (min-width: 1100px) and (max-width: 1240px) {
              font-size: 21px;
            }
          }
        }
      }
    }

    #wave-section {
      #wave-content {
        #text-on-wave-wrapper {
          background: linear-gradient(
            to bottom,
            rgba(242, 0, 12, 0) 13%,
            #f2000c 14%,
            #f2000c 70%,
            rgba(242, 0, 12, 0) 100%
          );

          #wave-text {
            @media (max-width: 500px) {
              h2 {
                font-size: 28px;
                line-height: 40px;
              }

              p {
                font-size: 26px;
                line-height: 36px;
              }
            }

            @media (max-width: 410px) {
              h2 {
                font-size: 26px;
                line-height: 38px;
              }

              p {
                font-size: 22px;
                line-height: 33px;
              }
            }

            @media (max-width: 385px) {
              h2 {
                font-size: 24px;
                line-height: 35px;
              }

              p {
                font-size: 20px;
                line-height: 30px;
              }
            }

            @media (max-width: 360px) {
              h2 {
                font-size: 22px;
                line-height: 33px;
              }

              p {
                font-size: 18px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }

    .our-story-section {
      .container {
        .our-story-content {
          h2 {
            font-size: 44px;
            line-height: 51px;
          }
  
          p {
            font-size: 21px;
            line-height: 32px;
          }
        }
  
        .our-story-image {
          .founder-text-box {
            p {
              font-size: 13px;
              line-height: 20px;
            }
          }
        }
  
        @media (max-width: 1040px) {
          .our-story-content {
            h2 {
              font-size: 28px;
              line-height: 36px;
            }
  
            p {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
  
        @media (max-width: 850px) {    
          .our-story-content {    
            h2 {
              font-size: 40px;
              line-height: 52px;
            }
    
            p {
              font-size: 24px;
              line-height: 35px;
            }
          }
        }
  
        // @media (max-width: 850px) {
        //   .our-story-content {
        //     h2 {
        //       font-size: 28px;
        //       line-height: 36px;
        //     }
  
        //     p {
        //       font-size: 18px;
        //       line-height: 28px;
        //     }
        //   }
        // }
  
        // @media (min-width: 757px) {
        //   .our-story-image {
        //     height: 43vw;
        //     max-height: unset;
        //   }
        // }
  
        @media (max-width: 756px) {
          .our-story-content {
            h2 {
              font-size: 36px;
              line-height: 45px;
            }
  
            p {
              font-size: 22px;
              line-height: 33px;
            }
          }
        }
      }
    }

    .swisst-banner {
      padding-top: 35px;
      padding-bottom: 35px;

      @media (max-width: 760px) {
        .swisst-banner-content {
          p {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }

      @media (max-width: 380px) {
        .swisst-banner-content {
          p {
            font-size: 16px;
            line-height: 23px;
          }
        }
      }
    }
  }
}

body.de-DE {
  #web-dev-page {
    #intro-text-awards-2022 {
      @media (min-width: 1031px) {
        #intro-title-and-text {
          max-width: 694px;
          width: 65%;

          h1 {
            font-size: 46px;
            line-height: 55px;
          }
  
          #intro-text {
            max-width: none;
          }
        }
      }
    }

    #wave-section {
      #wave-content {
        #text-on-wave-wrapper {
          background: linear-gradient(
            to bottom,
            rgba(242, 0, 12, 0) 13%,
            #f2000c 14%,
            #f2000c 73%,
            rgba(242, 0, 12, 0) 100%
          );

          #wave-text {
            @media (max-width: 420px) {
              p {
                font-size: 20px;
                line-height: 31px;
              }
            }
          }
        }
      }
    }

    .our-story-section {
      .container {
        .our-story-content {
          h2 {
            font-size: 36px;
            line-height: 46px;
            max-width: 470px;
          }
  
          p {
            font-size: 20px;
            line-height: 34px;
            max-width: 470px;
          }
  
          @media (min-width: 921px) and (max-width: 1200px) {
            h2 {
              font-size: 28px;
              line-height: 36px;
            }
  
            p {
              font-size: 18px;
              line-height: 28px;
            }
          }
  
          @media (min-width: 851px) and (max-width: 920px) {
            h2 {
              font-size: 26px;
              line-height: 35px;
            }
  
            p {
              font-size: 16px;
              line-height: 26px;
            }
          }
  
          @media (max-width: 850px) {
            h2, p {
              max-width: none;
            }
          }
  
          @media (max-width: 550px) {
            h2 {
              font-size: 28px;
              line-height: 36px;
            }
  
            p {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }
    }

    #clients-section {
      #clients-text {
        p {
          max-width: 670px;

          @media (max-width: 550px) {
            font-size: 22px;
            line-height: 33px;
          }

          @media (max-width: 415px) {
            font-size: 19px;
            line-height: 29px;
          }
        }
      }
    }

    .swisst-banner {
      @media (max-width: 850px) {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      @media (max-width: 760px) {
        .swisst-banner-content {
          p {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
          }
        }
      }

      @media (max-width: 380px) {
        .swisst-banner-content {
          p {
            font-size: 16px;
            line-height: 23px;
          }
        }
      }
    }
  }
}

// .page-template-page-web-dev {
//     header#masthead:not(.addshadow) {
//         background-color: #FEDEE0;

//         #desktop-sub-menu-background {
//             background-color: #FEDEE0;
//         }

//         .container #site-navigation ul li ul.sub-menu {
//             background-color: #FEDEE0;
//         }
//     }
// }
