@import '../_swisstomato2-base.less';

#webshop-small-midsized-page {
    #intro-section {
        h1 {
            .center(530px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        #hero-dark-layer {
            #hero-content {
                p {
                    color: #000000;
                }
            }
        }

        @media (max-width: 800px) {
            #hero-dark-layer {
                #hero-content {
                    p {
                        color: white;
                    }
                }
            }
        }
    }

    .image-text-row {
        &.image-text {
            margin-top: 70px;
        }
    }

    #shop-type-section {
        margin-top: 101px;
        max-width: 1144px;

        #shop-type-list {
            .flex-space-between();
            align-items: flex-start;

            .shop-type {
                width: 30%;

                p {
                    margin: 0;
                    color: #303030;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 27px;

                    &.shop-type-title {
                        color: @red;
                        font-weight: bold;
                    }
                }

                
            }
        }

        @media (max-width: 650px) {
            margin-top: -20px;

            #shop-type-list {
                flex-direction: column;

                .shop-type {
                    width: 100%;

                    .shop-type-title {
                        display: inline;
                    }

                    & + .shop-type {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    #shop-type-list-after-section {
        margin-top: 76px;
        margin-bottom: 76px;

        p {
            .center(506px);
        }
    }

    #fields-of-exp-section {
        padding: 30px 25px 50px;
    }

    #clients-section {
        h3 {
            color: #303030;
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }
    }

    .references-section {
        margin-top: 0;
        margin-bottom: 0;

        h2 {
            .center(549px);
        }
    }

    #app-dev-section {
        .flex-space-between();
        align-items: stretch;
        margin-top: 60px;

        #app-dev-text-column {
            width: 44.7%;
            padding: 0 10px 0 75px;

            h2 {
                color: #303030;
                font-family: 'Rubik';
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
        }

        #app-dev-img-wrapper {
            width: 48%;
        }
    }

    #web-dev-section {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;

        p {
            color: #303030;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 19px;
        }
    }

    .masonry-reference-list-section {
      margin-bottom: 10px;

      @media (max-width: 640px) {
        margin-bottom: 0;
      }

      @media (max-width: 500px) {
        margin-bottom: 30px;
      }
    }
}