@ff-0: 'Rubik', sans-serif;

@c-0: #fff;
@c-1: #ff000c;
@c-2: #161518;
@c-3: #ff00f1;
@c-4: #ff48b9;
@c-5: #f2eaed;
@c-6: #ecebf0;
@c-7: #2E074A;
@c-8: #770056;
@c-9: #fff6f5;
@c-10: #3d3838;

@spacer: .6rem;

@site-max: 40rem;
@site-max--md: 60rem;
@site-max--lg: 77rem;

@site-bp--xs: 23rem;
@site-bp--sm: 42rem;
@site-bp--md: 54rem;
@site-bp--lg: 85rem;
@site-bp--xlg: 100rem;

@clip: 10vh;
@clip--md: 25vh;

:root {
	--progress-bar-color: @c-1;
	--progress-mask: @c-0;
}

.en-US {
	.only_webar_en {
		display: block;
	}
}

html .page-template-page-webar,
body.page-template-page-webar {
	height: 100vh;
	min-height: 100vh;
	margin: 0;

	@media (min-width: @site-bp--md) {
		height: 100%;
		min-height: 100%;
	}
}

body.page-template-page-webar {
	overflow-x: hidden;
}

.page-template-page-webar html {
	font-family: @ff-0;
	color: @c-2;
	font-weight: 300;
	line-height: normal;
}

.page-template-page-webar {

	img {
		height: auto;
		max-width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		line-height: 1.3;
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	h1,
	.h1 {
		font-size: 4rem;
		font-weight: 300;
	}

	h2,
	.h2 {
		font-size: 1.8rem;
		font-weight: 300;

		@media (min-width: @site-bp--sm) {
			font-size: 2rem;
		}

		@media (min-width: @site-bp--lg) {
			font-size: 3rem;
		}
	}

	h3,
	.h3 {
		font-size: 1.6rem;
		font-weight: 500;

		@media (min-width: @site-bp--lg) {
			font-size: 2rem;
		}
	}

	h4,
	.h4 {
		font-size: 1.6rem;
		font-weight: 500;
	}

	h5,
	.h5 {
		font-size: 1.15rem;
	}

	h6,
	.h6 {
		font-size: 1rem;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: @c-0;
	}

	p {
		line-height: 1.5;
	}

	.lead {
		font-size: 1rem;

		@media (min-width: @site-bp--lg) {
			font-size: 1.13rem;
		}
	}

	// Margin left 

	.ml-0 {
		margin-left: 0;
	}

	.ml-1 {
		margin-left: @spacer;
	}

	.ml-2 {
		margin-left: @spacer * 2;
	}

	.ml-3 {
		margin-left: @spacer * 4;
	}

	.ml-4 {
		margin-left: @spacer * 8;
	}

	// Margin top 

	.mt-0 {
		margin-top: 0;
	}

	.mt-1 {
		margin-top: @spacer;
	}

	.mt-2 {
		margin-top: @spacer * 2;
	}

	.mt-3 {
		margin-top: @spacer * 4;
	}

	.mt-4 {
		margin-top: @spacer * 8;
	}

	// Margin bottom

	.mb-0 {
		margin-bottom: 0;
	}

	.mb-1 {
		margin-bottom: @spacer;
	}

	.mb-2 {
		margin-bottom: @spacer * 2;
	}

	.mb-3 {
		margin-bottom: @spacer * 4;
	}

	.mb-4 {
		margin-bottom: @spacer * 8;
	}

	// Margin right 

	.mr-0 {
		margin-right: 0;
	}

	.mr-1 {
		margin-right: @spacer;
	}

	.mr-2 {
		margin-right: @spacer * 2;
	}

	.mr-3 {
		margin-right: @spacer * 4;
	}

	.mr-4 {
		margin-right: @spacer * 8;
	}

	@media (min-width: @site-bp--lg) {

		// Margin left 

		.ml-0--lg {
			margin-left: 0;
		}

		.ml-1--lg {
			margin-left: @spacer;
		}

		.ml-2--lg {
			margin-left: @spacer * 2;
		}

		.ml-3--lg {
			margin-left: @spacer * 4;
		}

		.ml-4--lg {
			margin-left: @spacer * 8;
		}

		// Margin top 

		.mt-0--lg {
			margin-top: 0;
		}

		.mt-1--lg {
			margin-top: @spacer;
		}

		.mt-2--lg {
			margin-top: @spacer * 2;
		}

		.mt-3--lg {
			margin-top: @spacer * 4;
		}

		.mt-4--lg {
			margin-top: @spacer * 8;
		}

		// Margin bottom

		.mb-0--lg {
			margin-bottom: 0;
		}

		.mb-1--lg {
			margin-bottom: @spacer;
		}

		.mb-2--lg {
			margin-bottom: @spacer * 2;
		}

		.mb-3--lg {
			margin-bottom: @spacer * 4;
		}

		.mb-4--lg {
			margin-bottom: @spacer * 8;
		}

		// Margin right 

		.mr-0--lg {
			margin-right: 0;
		}

		.mr-1--lg {
			margin-right: @spacer;
		}

		.mr-2--lg {
			margin-right: @spacer * 2;
		}

		.mr-3--lg {
			margin-right: @spacer * 4;
		}

		.mr-4--lg {
			margin-right: @spacer * 8;
		}
	}

	// Color

	.c-0 {
		color: @c-0;
	}

	.c-1 {
		color: @c-1;
	}

	.c-2 {
		color: @c-2;
	}

	// Background color

	.bgc-0 {
		background-color: @c-0;
	}

	.bgc-1 {
		background-color: @c-1;
	}

	.bgc-2 {
		background-color: @c-2;
	}

	.bgc-3 {
		background-color: @c-3;
	}

	.bgc-4 {
		background-color: @c-4;
	}

	.bgc-5 {
		background-color: rgba(@c-0, .25);
	}

	// Text align

	.ta-c {
		text-align: center;
	}

	// Line height

	.lh-0 {
		line-height: 1.5;
	}

	// List reset

	.list-no {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}

	.btn {
		cursor: pointer;
		font-weight: 500;
		transition: box-shadow .4s ease;
		border-radius: 4px;
		padding: 1rem 2rem;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 80vw;
		max-width: 20rem;
		font-size: 1.15rem;
		color: @c-10;
		box-sizing: border-box;

		@media (min-width: @site-bp--md) {
			margin-left: 0;
			margin-right: 0;
			width: auto;
			max-width: none;
		}

		&.button-red {
			border-radius: 3px;
			font-family: "Rubik";
			font-size: 16px;
			line-height: 19px;
			font-weight: 700;
			padding: 14px 32px 16px;
			text-align: center;
			text-decoration: none;
			background-color: #f2000c;
			color: white;
			border: 1px solid #f2000c;
			display: inline-block;
			vertical-align: middle;
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			transition-property: color;
			transition-duration: 0.3s;

			&:hover {
				border-color: #f88085;
				color: #fff;
			}
		}

		&:active {
			transform: translateY(4px);
		}

		&:hover {
			transition: .4s ease;
			color: inherit;
		}

		&--basic {
			box-shadow: -1rem 1rem 4rem rgba(@c-8, .02);
			color: @c-0;

			&:hover,
			&:focus {
				box-shadow: -2px -2px 6px rgba(@c-8, .3), 1px 1px 2px rgba(@c-8, .01);
			}

			@media (min-width: @site-bp--md) {
				width: 60vw;
				max-width: 18rem;
				font-size: 1rem;
			}

			@media (min-width: @site-bp--lg) {
				margin-left: 0;
				margin-right: 0;
				width: auto;
				max-width: none;
			}
		}

		&--basic--2 {
			box-shadow: -.5rem 1rem 1rem rgba(@c-3, .2);
			color: @c-0;

			&:hover,
			&:focus {
				box-shadow: 0 0 .3rem rgba(@c-3, .5);
				color: @c-0;
			}

		}

		&--rounded {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: .8rem 2rem;
			color: @c-10;
			border: 2px solid rgba(@c-2, .1);
			border-radius: 30px;
			background-color: @c-0;
			box-shadow: -1rem 1rem 5rem rgba(@c-2, 0);

			&:hover,
			&:focus {
				box-shadow: 0 0 0 rgba(@c-2, .1);
				background-color: rgba(@c-0, .9);
				color: @c-2;
			}
		}

		@media (min-width: @site-bp--md) {
			&--rounded {
				display: inline-flex;
			}
		}
	}

	// Overrides of swisstomato2

	.center-1117 {
		max-width: @site-max--lg  !important;
	}

	#content {
		padding-top: 0 !important;
	}

	p {
		color: @c-2;
	}

	// Outer wrappers 

	.outer {
		&--hero {
			position: relative;
			background-image: linear-gradient(60deg, @c-3 0%, @c-1 50%);
			background-repeat: no-repeat;
			padding-top: 9rem;
			overflow: hidden;

			@media (min-width: @site-bp--md) {
				padding-top: 11rem;
			}

			@media (min-width: @site-bp--lg) {
				padding-top: 0;
				overflow: visible;
				min-height: 50rem;
			}
		}

		&--web-based {
			background-color: @c-0;
			position: relative;
			padding: 4rem 0;

			@media (min-width: @site-bp--md) {
				position: static;
			}
		}

		&--you-choose {
			background-color: @c-5;
			padding: 4rem 0;

			@media (min-width: @site-bp--md) {
				padding: 9rem 0 4rem;
			}
		}

		&--ecommerce {
			position: relative;
			padding: 4rem 0;

			@media (min-width: @site-bp--md) {
				padding: 9rem 0;
			}
		}

		&--experience {
			background-color: @c-0;
			padding: 4rem 0;

			@media (min-width: @site-bp--md) {
				padding: 9rem 0 4rem;
			}
		}

		&--compatible {
			position: relative;
		}

		&--webar {
			position: relative;
			margin-top: -@clip;

			@media (min-width: @site-bp--md) {
				margin-top: -@clip--md;
			}
		}


		&--try-it {
			background-color: @c-0;
			padding: 1rem 0 1rem;
			margin-top: -2px;
		}
	}

	// Inner wrappers

	.inner {
		width: 100%;
		max-width: @site-max;
		box-sizing: border-box;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin: 0 auto;

		@media (min-width: @site-bp--md) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			max-width: @site-max--md;
		}

		@media (min-width: @site-bp--lg) {
			padding-left: 0;
			padding-right: 0;
			max-width: @site-max--lg;
		}

		&--ecommerce {
			display: flex;
			flex-direction: column;

			@media (min-width: @site-bp--md) {
				align-items: center;
			}
		}
	}

	// Graphic

	.graphic {
		&--hero {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: center bottom 14rem;
			background-size: 180vw;
			background-image: url("/wp-content/themes/swisst2/imgs/webar/graphic-hero-md.png");

			@media (min-width: @site-bp--xs) {
				background-size: 140vw, auto;
			}

			@media (min-width: @site-bp--md) {
				background-size: 100vw;
			}

			@media (min-width: @site-bp--lg) {
				background-position: right -10vw top 15rem;
				background-size: auto;
				background-image: url("/wp-content/themes/swisst2/imgs/webar/graphic-hero-md.png");
			}

			@media (min-width: @site-bp--xlg) {
				background-position: right 0 top 14rem;
			}
		}
	}

	// Posts

	.post {
		position: relative;
		display: grid;
		row-gap: 2rem;
		grid-template-areas:
			"header"
			"media"
			"button";

		&__media {
			grid-area: media;
		}

		&__header {
			grid-area: header;
		}

		&__btn {
			grid-area: button;
			justify-self: center;
		}

		&--hero {
			justify-items: center;
			text-align: center;

			.post__media {
				position: relative;
				background-image: url("/wp-content/themes/swisst2/imgs/webar/Dots.png"), url("/wp-content/themes/swisst2/imgs/webar/Dots.png");
				background-repeat: no-repeat, no-repeat;
				background-position: left bottom 10rem, left 13rem top;
				display: grid;
				grid-template-columns: auto;
				grid-template-rows: auto;
				margin-bottom: -10rem;
				margin-right: -11.5rem;

				&__img {
					grid-row: 1 / 1;
					grid-column: 1 / 1;
					width: 28rem;
					min-width: 28rem;
				}

				&__video {
					grid-row: 1 / 1;
					grid-column: 1 / 1;
					z-index: 1;
					position: relative;
					top: .6rem;
					max-width: 10.4rem;
					left: 3.3rem;
				}
			}
		}

		&--experience {
			.post__media {
				margin-left: -6rem;
			}
		}

		@media (min-width: @site-bp--xs) {
			&--hero {
				.post__media {
					background-position: left bottom 18rem, right 17rem top;
					margin-bottom: -16rem;
					margin-right: -21rem;
					left: -2.5rem;

					&__img {
						width: 40rem;
						min-width: 40rem;
					}

					&__video {
						top: .8rem;
						left: 4.75rem;
						max-width: 14.8rem;
					}
				}
			}
		}

		@media (min-width: @site-bp--sm) {
			&--hero {
				.post__media {
					padding-left: 4.5rem;
					background-position: left top 25rem, left 30rem top;
					margin-bottom: -22rem;
					margin-right: -14.5rem;
					left: auto;

					&__img {
						width: 32rem;
						min-width: 32rem;
					}

					&__video {
						top: .5rem;
						left: 3.67rem;
						max-width: 12rem;
					}
				}
			}
		}

		@media (min-width: @site-bp--lg) {
			&--hero {
				.post__media {
					padding-left: 4.5rem;
					background-position: left top 25rem, left 30rem top;
					margin-bottom: -22rem;
					margin-right: -14.5rem;
					left: auto;

					&__img {
						width: 47.5rem;
						min-width: 47.5rem;
					}

					&__video {
						top: 1rem;
						left: 5.67rem;
						max-width: none;
						width: auto;
					}
				}
			}
		}

		@media (min-width: @site-bp--md) {
			&--hero {
				grid-template-columns: 1fr 1fr;
				grid-template-areas:
					". media"
					"header media"
					". media"
					". media"
					". media"
					". media";
			}

			&__btn {
				justify-self: start;
				width: auto;
			}

			&--web-based {
				column-gap: 3rem;
				row-gap: 0;
				grid-template-columns: 6rem 1fr 1fr 6rem;
				grid-template-areas:
					"media media . ."
					"media media header ."
					"media media button ."
					"media media . .";
			}

			&--you-choose {
				column-gap: 3rem;
				row-gap: 0;
				grid-template-columns: 6rem 1fr 1fr 6rem;
				grid-template-areas:
					". . media media"
					". header media media"
					". button media media"
					". . media media"
					". . media media";
			}

			&--experience {
				row-gap: 0;
				column-gap: 3rem;
				grid-template-columns: 6rem 2fr 1fr 6rem;
				grid-template-areas:
					"media media . ."
					"media media header header"
					"media media button button"
					"media media . ."
					"media media . ."
					"media media . .";
			}
		}

		@media (min-width: @site-bp--lg) {
			&--hero {
				justify-items: left;
				text-align: left;
				padding-top: 9rem;
				grid-template-columns: 1fr 1fr;
				grid-template-areas:
					". media"
					"header media"
					". media"
					". media"
					". media"
					". media";

				.post__media {
					padding-left: 4.5rem;
					background-position: left top 25rem, left 30rem top;
					margin-right: -8rem;
				}
			}

			&--web-based {
				.post__media {
					margin-left: -3rem;
				}
			}

			&--experience {
				column-gap: 6rem;
			}
		}
	}

	// Media

	.vid--ecommerce {
		position: absolute;
		top: 0;
		z-index: -2;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.img--web-based {
		position: relative;
		bottom: 0;
		margin-top: 0;
		margin-left: 0;

		@media (min-width: @site-bp--md) {
			position: relative;
			bottom: -4rem;
			margin-top: -12rem;
			max-width: 21rem;
		}

		@media (min-width: @site-bp--lg) {
			position: relative;
			bottom: -12rem;
			margin-top: -12rem;
			max-width: inherit;
		}
	}

	.img--you-choose {
		border-radius: 2rem;
		box-shadow: 0 0 3rem rgba(@c-2, .3);
	}

	.img--ar-icon {
		margin-right: .75rem;
	}

	// Overlay

	.overlay {
		position: absolute;
		z-index: -3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&--ecommerce {
			z-index: -1;
			background-color: rgba(@c-7, .4);
		}

		&--compatible {
			z-index: -2;
			background-color: @c-0;
			margin-top: -2px;
		}

		&--webar {
			z-index: -2;
			background-color: @c-0;
		}
	}

	// List

	.list {

		&--you-choose {
			margin-top: 0;
			display: grid;
			grid-template-columns: 1fr 2rem 1fr;
			grid-template-rows: 3rem 1fr;

			&__item:nth-child(1) {
				grid-column: 1 / span 2;
				grid-row: 2 / span 2;
				z-index: 2;
			}

			&__item:nth-child(2) {
				grid-column: 2 / span 2;
				grid-row: 1 / span 2;
				z-index: 1;
			}
		}

		&--ecommerce {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 3rem auto 3rem auto 3rem auto 3rem;
			text-align: center;

			&__item {
				background-color: @c-6;
				border-radius: 4.4rem;
				padding: 3rem 2rem 4.5rem 2rem;
				box-shadow: 0 0 4.5rem rgba(@c-7, .3);
				grid-column-start: 1;
				grid-row-end: span 3;

				&:nth-child(1) {
					grid-row-start: 1;
				}

				&:nth-child(2) {
					grid-row-start: 3;
				}

				&:nth-child(3) {
					grid-row-start: 5;
				}
			}
		}

		&--compatible {
			display: grid;
			grid-template-columns: auto;
			row-gap: 2rem;
			text-align: center;

			&__item {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&--webar {
			display: grid;
			align-items: center;
			justify-items: center;
			justify-content: center;
			grid-template-columns: auto;
			grid-gap: 1rem;
			max-width: 54rem;
			margin-left: auto;
			margin-right: auto;

			&__item {
				max-width: 22rem;
			}
		}

		&--try-it {
			display: grid;
			grid-template-columns: auto;
			grid-gap: 3rem 0;

			&__item {
				display: flex;
				align-items: center;
				flex-direction: column;
			}
		}

		@media (min-width: @site-bp--xs) {
			&--ecommerce {
				&__item {
					padding: 3rem 3rem 4.5rem 3rem;
				}
			}
		}

		@media (min-width: @site-bp--md) {
			&--ecommerce {
				text-align: left;
				grid-template-columns: 3rem 1fr 3rem 1fr 3rem 1fr 3rem;
				grid-template-rows: auto;

				&__item {
					padding: 1rem 3.5rem 1rem 2rem;
					grid-column-end: span 3;
					grid-row-start: 1;

					img {
						max-height: 5rem;
					}

					.h3 {
						font-size: 1.5rem;
						margin: .5rem 0 0;
					}


					&:nth-child(1) {
						grid-column-start: 1;
						grid-row-start: 1;
					}

					&:nth-child(2) {
						grid-column-start: 3;
						grid-row-start: 1;
					}

					&:nth-child(3) {
						grid-column-start: 5;
						grid-row-start: 1;
					}
				}
			}

			&--compatible {
				max-width: 50rem;
				margin: 0 auto;
				display: grid;
				align-items: start;
				justify-content: center;
				grid-template-columns: 1fr 1fr;
				column-gap: 1rem;
				text-align: center;

				.h3 {
					font-size: 1.8rem;
				}

				.mb-2 {
					margin-bottom: 0;
				}

				.mb-3 {
					margin-bottom: 1rem;
				}

				&__item {
					&:first-of-type .img--compatible {
						min-width: 30rem;
					}

					&:nth-of-type(2) {
						margin-top: 4rem;

						img {
							max-width: 10rem;
						}
					}
				}
			}

			&--webar {
				grid-template-columns: auto auto auto;
				grid-gap: 3rem;
			}

			&--try-it {
				grid-template-columns: auto auto;
			}
		}

		@media (min-width: @site-bp--lg) {
			&--ecommerce {
				&__item {
					padding: 3rem 4.5rem 3rem 3rem;

					img {
						max-height: inherit;
					}
				}
			}

			&--you-choose {
				grid-template-columns: 1fr 5rem 1fr;
			}

			&--compatible {
				max-width: 63rem;
				grid-template-columns: 1fr 1fr;

				.h3 {
					font-size: 2rem;
				}

				.mb-2 {
					margin-bottom: 1rem;
				}

				.mb-3 {
					margin-bottom: 2rem;
				}

				&__item {
					&:first-of-type .img--compatible {
						min-width: 36rem;
					}

					&:nth-of-type(2) {
						margin-top: 4rem;

						img {
							max-width: inherit;
						}
					}
				}
			}
		}
	}

	.clip {

		&--compatible {
			position: relative;
			padding: 9rem 0 7rem;
			background-color: @c-7;
			clip-path: polygon(0 @clip, 100% 0, 100% calc(100% - @clip), 0 100%);
			background-image: url("/wp-content/themes/swisst2/imgs/webar/Dots.png"), url("/wp-content/themes/swisst2/imgs/webar/Lines-circle.png"), url("/wp-content/themes/swisst2/imgs/webar/graphic-compatible-lg.png");
			background-repeat: no-repeat, no-repeat, no-repeat;
			background-position: left 3rem bottom 6rem, right 3rem top 3rem, left center;
			background-size: auto, auto, 150vw;
			background-attachment: scroll, scroll, fixed;

			@media (min-width: @site-bp--md) {
				padding: 16rem 0 14rem;
				background-size: auto, auto, 95%;
				clip-path: polygon(0 @clip--md, 100% 0, 100% calc(100% - @clip--md), 0 100%);
			}
		}

		&--webar {
			position: relative;
			padding: 9rem 0 7rem;
			background-color: @c-9;
			clip-path: polygon(0 @clip, 100% 0, 100% calc(100% - @clip), 0 100%);

			@media (min-width: @site-bp--md) {
				clip-path: polygon(0 @clip--md, 100% 0, 100% calc(100% - @clip--md), 0 100%);
				padding: 18rem 0 13rem;
			}
		}
	}

	.fa-check {
		color: @c-1;
		font-size: 2rem;
	}

    header#masthead {
        #site-navigation {
            ul {
                li {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

:not(:defined)>* {
	display: none;
}

*:focus {
	outline: none !important;
}


.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
	width: 100%;
	max-width: 964px;
}

.lity-active,
.lity-active body {
	overflow: hidden
}

.lity {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	background: #0b0b0b;
	background: rgba(0, 0, 0, .9);
	outline: none !important;
	opacity: 0;
	transition: opacity .3s ease
}

.lity.lity-opened {
	opacity: 1
}

.lity.lity-closed {
	opacity: 0
}

.lity * {
	box-sizing: border-box
}

.lity-wrap {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	outline: none !important
}

.lity-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -.25em
}

.lity-loader {
	z-index: 9991;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -.8em;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0;
	transition: opacity .3s ease
}

.lity-loading .lity-loader {
	opacity: 1
}

.lity-container {
	z-index: 9992;
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	max-width: 100%;
	max-height: 100%;
	outline: none !important
}

.lity-content {
	z-index: 9993;
	width: 100%;
	transform: scale(1);
	transition: transform .3s ease
}

.lity-closed .lity-content,
.lity-loading .lity-content {
	transform: scale(.8)
}


.lity-close,
.lity-close:active,
.lity-close:focus,
.lity-close:hover,
.lity-close:visited {
	z-index: 9994;
	width: 35px;
	height: 35px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-appearance: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 0;
	color: #fff;
	font-style: normal;
	font-size: 35px;
	font-family: Arial, Baskerville, monospace;
	line-height: 35px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	border: 0;
	background: none;
	box-shadow: none
}

.lity-close::-moz-focus-inner {
	border: 0;
	padding: 0
}

.lity-close:active {
	top: 1px
}

.lity-image img {
	max-width: 100%;
	display: block;
	line-height: 0;
	border: 0
}

.lity-iframe .lity-container {
	width: 100%;
	max-width: 964px
}

.lity-iframe-container {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	overflow: auto;
	pointer-events: auto;
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch
}

.lity-iframe-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background: #000
}

.lity-hide {
	display: none
}

.lity-close:not(.new) {
	display: none;
}

.lity-close.new {
	position: relative;
	width: inherit;
	height: inherit;
	font-size: 15px;
	line-height: 1.5;
	text-shadow: none;
	border-radius: 30px;
	background: #58B0E2;
	padding: 10px 30px;
	margin: 20px auto 0;
}

.lity-close.new:hover {
	background: #236c96;
}


model-viewer {
	width: 100%;
	height: 85vh;
	position: absolute;
	z-index: 1;

	#ar-button {
		position: absolute;
		bottom: 1.5rem;
		left: 0;
		right: 0;
		max-width: 15rem;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .5rem 2rem;
		color: #3d3838;
		border: 2px solid rgba(22, 21, 24, 0.1);
		border-radius: 30px;
		background-color: #fff;
		box-shadow: -1rem 1rem 5rem rgba(22, 21, 24, 0);
		font: 500 1rem/1.4 'Rubik';

		img {
			margin-right: 1rem;
		}
	}

	#powered-by-text a:visited {
		color: #000;
	}
}

#powered-by-text {
	font-size: 14px;
	color: #000;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	margin: 0 auto;
	text-align: center;
	cursor: default;
	z-index: 1;

}

#powered-by-text a {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;

}



/* This keeps child nodes hidden while the element loads, except the poster */
:not(:defined)> :not(.poster) {
	display: none;
}

.progress__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

.progress__bg.hide,
.progress-bar.hide {
	visibility: hidden;
	transition: visibility 0.3s;
}

.progress__bg img {
	position: absolute;
	left: 50%;
	top: calc(50% + 10px);
	transform: translate3d(-50%, -50%, 0);
}

.progress-bar {
	display: block;
	background: #DCDCDC;
	width: 150px;
	height: 4px;
	position: absolute;
	left: 50%;
	top: calc(50% + 90px);
	transform: translate3d(-50%, -50%, 0);
}

.update-bar {
	background-color: #f2000c;
	width: 0%;
	height: 100%;
	transition: width 0.3s;
}


#qr__button {

	&.hide {
		visibility: hidden;
		transition: visibility 0.3s;
	}

	visibility: visible;
	position: absolute;
	bottom: 10vh;
	left: 0;
	right: 0;
	max-width: 19rem;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .75rem 2rem;
	color: #3d3838;
	border: 2px solid rgba(22, 21, 24, 0.1);
	border-radius: 30px;
	background-color: #fff;
	box-shadow: -1rem 1rem 5rem rgba(22, 21, 24, 0);
	font: 500 1rem/1.4 'Rubik';
	z-index: 1;
	text-decoration: none;
	transition: visibility 0.3s .3s;

	img {
		margin-right: 20px;
	}
}


#qr__code {
	max-width: 280px;
	height: auto;
	padding: 1rem;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: relative;
	top: -10vh;

	h3 {
		font-size: 21px;
		color: #062643;
	}

	p {
		font-size: 15px;
		color: #062643;
		margin-bottom: 20px;
	}
}


#model-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1001;
	display: none;

	#close-model-popup {
		z-index: 2;
		position: fixed;
		top: 1rem;
		left: 1rem;
		cursor: pointer;

		@media (min-width: @site-bp--md) {
			top: 2rem;
			left: 2rem;
		}
	}
}