@import '../_swisstomato2-base.less';

#whitepaper-page {
    #intro-section {
        max-width: 700px;
    }

    #hero-section {
        #hero-dark-layer {
            #hero-content {
                p {
                    color: black;
                    font-weight: 500;
                }
            }

            @media (max-width: 1140px) {
                background-color: rgba(0,0,0,0.7);
                padding: 50px 25px;
                align-items: center;

                #hero-content {
                    p {
                        color: white;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    #section-form {
        background-color: rgba(255, 218, 215, 0.25);
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 60px;
        margin-bottom: 0;

        h2 {
            color: @red;
            margin-bottom: 40px;
            font-family: Rubik;
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
            text-transform: uppercase;
        }

        form {
            button[type=submit] {
                margin-top: 25px;

                i {
                    margin-right: 5px;
                    font-size: 14px;
                }
            }

            #wp-conditions-checkbox {
                .wpcf7-list-item {
                    margin-left: 0;    

                    .wpcf7-list-item-label {
                        cursor: pointer;
                        position: relative;
                        top: 2px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    &.whitepaper-20200403 {
        #hero-section {
            #hero-dark-layer {
                #hero-content {
                    p {
                        font-weight: 400;
                    }

                    a.button-red {
                        cursor: pointer;
                        
                        i.fas {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        h2 {
            margin-top: 70px;
            margin-bottom: 0;
            font-weight: 500;
        }

        .check-list-section {
            &.type-2 {
                padding-top: 45px;
                max-width: 650px;

                .check-item-list {
                    .check-item {
                        width: 45%;
                        margin: 30px 0;

                        .check-item-title {
                            max-width: 270px;
                        }

                        .check-item-text {
                            margin-top: 10px;
                            opacity: 1;
                        }

                        @media (max-width: 790px) {
                            text-align: left;
                        }
                    }

                    @media (max-width: 790px) {
                        justify-content: space-between;
                    }

                    @media (max-width: 580px) {
                        flex-direction: row;
                        align-items: flex-start;
                    }

                    @media (max-width: 485px) {
                        flex-direction: column;
                        align-items: center;

                        .check-item {
                            margin: 15px 0 25px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }

        #form-text-section {
            background-color: rgba(255, 218, 215, 0.25);
            padding: 50px 25px 0;
            margin-bottom: -30px;

            p {
                margin: 0;
                max-width: 790px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                color: #303030;
                font-family: Rubik;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 27px;
                text-align: center;
                font-weight: 400;
            }
        }

        #section-form {
            padding-top: 35px;

            .image-column {
                @media (max-width: 480px) {
                    height: 366px;
                    background-position-x: -30px;
                }
            }

            .column.text-column {
                @media (max-width: 480px) {
                    margin-top: 0;

                    h2 {
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    &.whitepaper-20200708 {
        #intro-section {
            h1 {
                .center(391px);
            }
        }

        #hero-section {
            background: url('@{stylesheetUrl}/imgs/whitepaper/20200708/hero.png') top left no-repeat, linear-gradient(270deg, #041934 0%, #F2000C 100%);
            height: 490px;
            max-width: 1290px;

            #hero-dark-layer {
                position: relative;

                #hero-content {
                    width: 412px;

                    p {
                        color: #FFFFFF;
                        font-family: Rubik;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 26px;
                    }

                    a.button-red {
                        cursor: pointer;
                        
                        i.fas {
                            margin-right: 10px;
                        }
                    }
                }

                img.hero-tomato {
                    position: absolute;
                    width: 153px;

                    &.hero-tomato-1 {
                        right: 105px;
                        top: -20px;
                    }

                    &.hero-tomato-2 {
                        left: 56px;
                        bottom: 0;
                        transform: rotateZ(-90deg);
                        z-index: 2;
                    }
                }

                img#hero-front {
                    position: absolute;
                    top: 203px;
                    left: 43px;
                    transform: rotateZ(20deg);
                }
            }
        }

        h2#checklist-section-title {
            color: #1D1D1D;
            font-family: Rubik;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 36px;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 0;
        }

        .check-list-section {
            &.type-2 {
                padding-top: 45px;
                max-width: 770px;

                .check-item-list {
                    position: relative;
                    left: 45px;

                    .check-item {
                        width: 45%;
                        max-width: 304px;
                        margin: 30px 0;

                        .check-item-title {
                            max-width: 250px;
                            color: #1D1D1D;
                            font-family: Rubik;
                            font-size: 25px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 29px;
                        }

                        .check-item-text {
                            margin-top: 10px;
                            opacity: 1;
                            color: #1A1A1A;
                            font-family: Rubik;
                            font-size: 18px;
                            font-weight: 500;
                            letter-spacing: 0;
                            line-height: 27px;
                        }

                        @media (max-width: 790px) {
                            text-align: left;
                        }
                    }

                    @media (max-width: 790px) {
                        justify-content: space-between;
                    }

                    @media (max-width: 580px) {
                        flex-direction: row;
                        align-items: flex-start;
                    }

                    @media (max-width: 485px) {
                        flex-direction: column;
                        align-items: center;

                        .check-item {
                            margin: 15px 0 25px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }

        #form-text-section {
            background-color: rgba(255, 218, 215, 0.25);
            padding: 80px 25px 50px;
            margin-bottom: -30px;
            position: relative;
            margin-top: 80px;

            img#form-tomato {
                position: absolute;
                right: 28px;
                top: -40px;
                width: 153px;
                transform: rotateZ(-90deg);
            }

            p {
                .center(715px);
                color: #1D1D1D;
                font-family: Rubik;
                font-size: 25px;
                letter-spacing: 0;
                line-height: 29px;
                text-align: center;
            }
        }

        #section-form {
            padding-top: 35px;

            .image-column {
                max-width: 596px;
                height: 686px;
                background-size: contain;

                @media (max-width: 480px) {
                    height: 366px;
                    background-position-x: -30px;
                }
            }

            .column.text-column {
                @media (max-width: 480px) {
                    margin-top: 0;

                    h2 {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

#whitepaper-thank-you-page {
    #section-thank-you {
        background-color: rgba(255, 218, 215, 0.25);
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 60px;
        margin-bottom: -50px;
        text-align: center;

        h1 {
            color: #342F2F;
            font-family: Rubik;
            font-size: 27px;
            font-weight: 300;
            line-height: 39px;
            text-align: center;
        }

        #whitepaper-thank-you-content {
            color: #000000;
            font-family: Rubik;
            font-size: 18px;
            line-height: 27px;
            text-align: center;

            p {
                color: #000000;
                font-family: Rubik;
                font-size: 18px;
                line-height: 27px;
                text-align: center;

                a {
                    font-weight: 500;
                }
            }
        }
    }
}