@import '../_swisstomato2-base.less';

#wordpress-page {
    #intro-section {
        h1 {
            .center(480px);
            margin-bottom: 35px;
        }
    }

    #hero-section {
        #hero-dark-layer {
            #hero-content {
                margin-top: -10px;

                p {
                    color: black;

                    & + p {
                        margin-top: 15px;
                    }
                }
            }

            @media (max-width: 1050px) {
                background-color: rgba(0,0,0,0.7);
                padding: 50px 25px;

                #hero-content {
                    margin-top: 0;

                    p {
                        color: white;
                    }
                }
            }
        }
    }

    #third-section.image-text-row {
        .text-column {
            padding-right: 0;
        }
    }

    #why-pick-us-section {
        margin-bottom: 60px;

        .container {
            padding: 100px 60px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #F5F5F5;

            #why-pick-us-content {
                width: 59%;
                text-align: center;

                h2 {
                    color: #342F2F;
                    font-family: Rubik;
                    font-size: 27px;
                    font-weight: 300;
                    line-height: 32px;
                    text-align: center;
                    margin-bottom: 5px;
                    .center(560px);
                    margin-bottom: 60px;
                }

                p {
                    color: #303030;
                    font-family: Rubik;
                    font-size: 18px;
                    line-height: 27px;
                }

                img {
                    display: none;
                }
            }

            @media (max-width: 1090px) {
                padding-top: 40px;
                padding-bottom: 40px;
                background-position-y: 20px;

                #why-pick-us-content {
                    width: 63%;

                    h2 {
                        margin-bottom: 30px;
                    }
                }
            }

            @media (max-width: 960px) {
                text-align: left;
            }

            @media (max-width: 720px) {
                padding: 0;

                #why-pick-us-content {
                    width: 100%;
                    background-color: #F5F5F5;
                    padding: 50px 25px;

                    h2 {
                        text-align: left;
                        clear: none;
                        max-width: none;
                        margin-top: 0;
                    }

                    img {
                        display: block;
                        float: left;
                        margin: 0 25px 10px 0;
                        width: 150px;
                    }

                    p {
                        text-align: left;
                    }
                }
            }

            @media (max-width: 440px) {
                #why-pick-us-content {
                    h2 {
                        font-size: 22px;
                        font-weight: 300;
                        line-height: 1.2em;
                    }

                    img {
                        width: 100px;
                    }
                }
            }
        }
    }

    .masonry-reference-list-section {
      @media (max-width: 640px) {
        margin-bottom: 70px;
      }
    }
}