<style>
    html,
    body {
        width: 100%;
        height: 100%;
        background-color: white;
    }

    canvas {
        width: 100%;
        max-width: 164px;
        display: block;
        height: 324px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        background: green;
        border: 2px solid black;
    }
</style>

<div style='display: none'>
    <img id='img' src='be-part-of-it.png' width='164' height='324' />
</div>
<canvas id="canvas"></canvas>

<script>
    var
        // DOM
        canvas = document.getElementById('canvas'),
        imgDom = document.getElementById('img'),

        // misc
        ctx = canvas.getContext('2d'),
        img = new Image(),

        // events
        imgLoaded = function () {
            ctx.drawImage(img, 0, 0);

            ctx.getImageData(1, 1, 1, 1);
        },
        clickOnCanvas = function (e) {
            var
                canvasPos = canvas.getBoundingClientRect(),
                clickX = e.clientX - canvasPos.left,
                clickY = e.clientY - canvasPos.top;

            console.log(ctx.getImageData(clickX, clickY, 1, 1).data);
        };

    canvas.setAttribute('width', 164);
    canvas.setAttribute('height', 324);
    ctx.mozImageSmoothingEnabled = false;
    ctx.webkitImageSmoothingEnabled = false;
    ctx.msImageSmoothingEnabled = false;
    ctx.imageSmoothingEnabled = false;

    img.crossOrigin = "Anonymous";
    img.addEventListener('load', imgLoaded);
    img.src = imgDom.src;

    canvas.onclick = clickOnCanvas;
</script>