@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-process-timing-block .process-timing-step-list {
  max-width: 1167px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step {
  border-right: 1px solid #f2000c;
  flex-basis: 0;
  flex-basis: 50%;
  border-left: none;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc {
  border-bottom: 1px solid rgba(242, 0, 12, 0.06);
  background-color: rgba(242, 0, 12, 0.06);
  padding: 25px 25px 15px;
  width: 100%;
  height: 100%;
  position: relative;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .step-number {
  color: #f2000c;
  font-family: "Rubik";
  font-size: 55px;
  font-weight: 300;
  line-height: 100%;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .step-title {
  margin-top: 13px;
  font-weight: 500;
  color: #303030;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 27px;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .step-timing {
  display: block;
  color: #f2000c;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc p {
  color: #303030;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step:first-child .step-red-bc {
  border-left: none;
}
.stbase-fact-process-timing-block .process-timing-step-list .process-timing-step:nth-child(2n) {
  border-right: none;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll) .process-timing-step {
  opacity: 0;
  transform: translateY(-50px);
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step {
  opacity: 1;
  transform: none;
  transition: 300ms transform, 300ms opacity;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(1) {
  transition-delay: 150ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(2) {
  transition-delay: 300ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(3) {
  transition-delay: 450ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(4) {
  transition-delay: 600ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(5) {
  transition-delay: 750ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(6) {
  transition-delay: 900ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(7) {
  transition-delay: 1050ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(8) {
  transition-delay: 1200ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(9) {
  transition-delay: 1350ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(10) {
  transition-delay: 1500ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(11) {
  transition-delay: 1650ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(12) {
  transition-delay: 1800ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(13) {
  transition-delay: 1950ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(14) {
  transition-delay: 2100ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(15) {
  transition-delay: 2250ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(16) {
  transition-delay: 2400ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(17) {
  transition-delay: 2550ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(18) {
  transition-delay: 2700ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(19) {
  transition-delay: 2850ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(20) {
  transition-delay: 3000ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(21) {
  transition-delay: 3150ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(22) {
  transition-delay: 3300ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(23) {
  transition-delay: 3450ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(24) {
  transition-delay: 3600ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(25) {
  transition-delay: 3750ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(26) {
  transition-delay: 3900ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(27) {
  transition-delay: 4050ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(28) {
  transition-delay: 4200ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(29) {
  transition-delay: 4350ms;
}
.stbase-fact-process-timing-block .process-timing-step-list:not(.no-scroll).scrolled-to .process-timing-step:nth-child(30) {
  transition-delay: 4500ms;
}
@media (max-width: 880px) {
  .stbase-fact-process-timing-block .process-timing-step-list {
    flex-wrap: wrap;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step {
    flex-basis: 50%;
    border-left: none;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    flex-grow: unset;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc {
    border-left: 0;
    position: relative;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .step-timing-on-mobile {
    display: block;
    color: #f2000c;
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 7px;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step:nth-child(2n) {
    border-right: none;
  }
}
@media (max-width: 560px) {
  .stbase-fact-process-timing-block .process-timing-step-list {
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step {
    width: 100%;
    border: none;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc {
    padding-bottom: 20px;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .step-title {
    max-width: none;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc p {
    max-width: none;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .show-more-link {
    display: flex;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .step-timing-on-mobile {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: static;
    margin-top: 20px;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step + .process-timing-step {
    margin-top: 15px;
  }
  .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step:nth-child(2n) {
    border-left: none;
  }
}