@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-advantages-block .fact-advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 21px;
       column-gap: 21px;
  row-gap: 17px;
  margin-top: 45px;
}
.stbase-fact-advantages-block .fact-advantages .title {
  margin: 0;
  line-height: 150%;
  width: 100%;
  grid-column: 1/4;
  grid-row: 1;
  font-size: 21px;
  line-height: 150%;
}
.stbase-fact-advantages-block .fact-advantages .advantage {
  background-color: #edf0f2;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  grid-row: 2;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-header {
  height: 43px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-header h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f2000c;
  margin: 0;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
  overflow: hidden;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text ul {
  padding-left: 0;
  margin-bottom: 0;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text ul li {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text ul li + li {
  margin-top: 0;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text ul li::marker {
  color: #1c1c1c;
}
.stbase-fact-advantages-block .fact-advantages .advantage .advantage-text .show-more-text-item .show-more-text.opened + .show-more-link {
  margin-top: 0;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll) .advantage {
  opacity: 0;
  transform: translateY(100px);
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage {
  opacity: 1;
  transform: none;
  transition: 300ms transform, 300ms opacity;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(1) {
  transition-delay: 150ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(2) {
  transition-delay: 300ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(3) {
  transition-delay: 450ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(4) {
  transition-delay: 600ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(5) {
  transition-delay: 750ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(6) {
  transition-delay: 900ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(7) {
  transition-delay: 1050ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(8) {
  transition-delay: 1200ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(9) {
  transition-delay: 1350ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(10) {
  transition-delay: 1500ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(11) {
  transition-delay: 1650ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(12) {
  transition-delay: 1800ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(13) {
  transition-delay: 1950ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(14) {
  transition-delay: 2100ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(15) {
  transition-delay: 2250ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(16) {
  transition-delay: 2400ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(17) {
  transition-delay: 2550ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(18) {
  transition-delay: 2700ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(19) {
  transition-delay: 2850ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(20) {
  transition-delay: 3000ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(21) {
  transition-delay: 3150ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(22) {
  transition-delay: 3300ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(23) {
  transition-delay: 3450ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(24) {
  transition-delay: 3600ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(25) {
  transition-delay: 3750ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(26) {
  transition-delay: 3900ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(27) {
  transition-delay: 4050ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(28) {
  transition-delay: 4200ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(29) {
  transition-delay: 4350ms;
}
.stbase-fact-advantages-block .fact-advantages:not(.no-scroll).scrolled-to .advantage:nth-child(30) {
  transition-delay: 4500ms;
}
.stbase-fact-advantages-block .fact-advantages .advantages-show-more-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f2000c;
  margin-top: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.stbase-fact-advantages-block .fact-advantages .advantages-show-more-link i {
  margin-right: 8px;
  font-size: 12px;
  transition: 400ms transform;
}
.stbase-fact-advantages-block .fact-advantages .advantages-show-more-link .less {
  display: none;
}
.stbase-fact-advantages-block .fact-advantages .advantages-show-more-link.opened i {
  transform: rotateZ(180deg);
}
.stbase-fact-advantages-block .fact-advantages .advantages-show-more-link.opened span.less {
  display: inline-block;
}
.stbase-fact-advantages-block .fact-advantages .advantages-show-more-link.opened span.more {
  display: none;
}
@media (max-width: 950px) {
  .stbase-fact-advantages-block .fact-advantages {
    grid-template-columns: repeat(2, 1fr);
  }
  .stbase-fact-advantages-block .fact-advantages h4 {
    grid-column: 1/3;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage:nth-of-type(3) {
    grid-row: 3;
  }
  .stbase-fact-advantages-block .fact-advantages .advantages-show-more-link {
    grid-row: 4/5;
  }
}
@media (max-width: 720px) {
  .stbase-fact-advantages-block .fact-advantages {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .stbase-fact-advantages-block .fact-advantages h4,
  .stbase-fact-advantages-block .fact-advantages .title {
    grid-column: 1/2;
    font-size: 19.0203px;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage {
    grid-row: unset;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage .advantage-header {
    margin-bottom: 15px;
    height: auto;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage .advantage-text {
    font-size: 16.3031px;
    line-height: 150%;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage .advantage-text p {
    font-size: 16.3031px;
    line-height: 150%;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage .advantage-text ul li {
    font-size: 16.3031px;
    line-height: 150%;
  }
  .stbase-fact-advantages-block .fact-advantages .advantage:nth-of-type(3) {
    grid-row: unset;
  }
  .stbase-fact-advantages-block .fact-advantages .advantages-show-more-link {
    grid-row: unset;
  }
}
@media (min-width: 951px) {
  .stbase-fact-advantages-block .fact-advantages.item-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 721px) {
  .stbase-fact-advantages-block .fact-advantages.no-title .advantage {
    grid-row: unset;
  }
}