@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-team-block img.team-picture {
  margin: 0 0 50px 70px;
}
@media (max-width: 960px) {
  .stbase-fact-team-block img.team-picture {
    margin: 0 auto 30px;
    display: block;
  }
}
.stbase-fact-team-block .team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  width: 100%;
}
.stbase-fact-team-block .team .team-member {
  background: #fdf3f2;
  padding: 32px;
}
.stbase-fact-team-block .team .team-member header {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: #1c1c1c;
  margin: 0 0 20px;
}
.stbase-fact-team-block .team .team-member:nth-child(5) header {
  font-size: 18px;
}
.stbase-fact-team-block .team:not(.no-scroll) .team-member {
  opacity: 0;
  transform: scale(0.5);
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member {
  opacity: 1;
  transform: none;
  transition: 300ms transform, 300ms opacity;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(1) {
  transition-delay: 150ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(2) {
  transition-delay: 300ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(3) {
  transition-delay: 450ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(4) {
  transition-delay: 600ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(5) {
  transition-delay: 750ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(6) {
  transition-delay: 900ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(7) {
  transition-delay: 1050ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(8) {
  transition-delay: 1200ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(9) {
  transition-delay: 1350ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(10) {
  transition-delay: 1500ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(11) {
  transition-delay: 1650ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(12) {
  transition-delay: 1800ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(13) {
  transition-delay: 1950ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(14) {
  transition-delay: 2100ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(15) {
  transition-delay: 2250ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(16) {
  transition-delay: 2400ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(17) {
  transition-delay: 2550ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(18) {
  transition-delay: 2700ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(19) {
  transition-delay: 2850ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(20) {
  transition-delay: 3000ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(21) {
  transition-delay: 3150ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(22) {
  transition-delay: 3300ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(23) {
  transition-delay: 3450ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(24) {
  transition-delay: 3600ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(25) {
  transition-delay: 3750ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(26) {
  transition-delay: 3900ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(27) {
  transition-delay: 4050ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(28) {
  transition-delay: 4200ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(29) {
  transition-delay: 4350ms;
}
.stbase-fact-team-block .team:not(.no-scroll).scrolled-to .team-member:nth-child(30) {
  transition-delay: 4500ms;
}
@media (max-width: 800px) {
  .stbase-fact-team-block .team {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .stbase-fact-team-block .team {
    grid-template-columns: 1fr;
  }
  .stbase-fact-team-block .team header {
    margin-bottom: 10px;
  }
}