@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-complexity-block .complexity-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
}
.stbase-fact-complexity-block .complexity-items .item {
  padding: 50px;
  display: grid;
  grid-template-columns: 29px auto;
  align-items: center;
  gap: 50px;
  background: #fdf3f2;
  max-width: 830px;
  width: 100%;
}
.stbase-fact-complexity-block .complexity-items .item .progress-bar-wrapper {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  width: 29px;
  height: 190px;
  border-radius: 14px;
  background-color: rgba(242, 0, 12, 0.1);
  overflow: hidden;
  grid-column: 1/2;
}
.stbase-fact-complexity-block .complexity-items .item .progress-bar-wrapper .progress-bar {
  width: 28px;
  border-radius: 14px;
  background: linear-gradient(180deg, #a8a1ff 0%, #ff6869 100%);
  transition: transform 300ms ease-out;
  height: 170px;
}
.stbase-fact-complexity-block .complexity-items .item .item-content {
  grid-column: 2/3;
}
.stbase-fact-complexity-block .complexity-items .item .item-content header {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #272621;
}
.stbase-fact-complexity-block .complexity-items .item .item-content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin: 10px 0 0;
}
.stbase-fact-complexity-block .complexity-items:not(.no-scroll) .item {
  opacity: 0;
  transform: translateX(100px);
}
.stbase-fact-complexity-block .complexity-items:not(.no-scroll) .item:nth-child(2n) {
  transform: translateX(-100px);
}
.stbase-fact-complexity-block .complexity-items:not(.no-scroll).scrolled-to .item {
  opacity: 1;
  transform: none;
  transition: 300ms transform, 300ms opacity;
}
.stbase-fact-complexity-block .complexity-items:not(.no-scroll).scrolled-to .item:nth-child(1) {
  transition-delay: 150ms;
}
.stbase-fact-complexity-block .complexity-items:not(.no-scroll).scrolled-to .item:nth-child(2) {
  transition-delay: 300ms;
}
.stbase-fact-complexity-block .complexity-items:not(.no-scroll).scrolled-to .item:nth-child(3) {
  transition-delay: 450ms;
}
@media (max-width: 620px) {
  .stbase-fact-complexity-block .complexity-items .item {
    padding: 30px;
    gap: 30px;
    align-items: flex-start;
  }
  .stbase-fact-complexity-block .complexity-items .item .item-content header {
    font-size: 16px;
  }
  .stbase-fact-complexity-block .complexity-items .item .item-content p {
    font-size: 16px;
  }
}