@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-text-block .title {
  margin: 0 0 16px;
  font-size: 21px;
  line-height: 150%;
  max-width: 700px;
}
.stbase-fact-text-block .text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
  max-width: 700px;
}
.stbase-fact-text-block .text p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
  margin: 0;
}
.stbase-fact-text-block .text p + p {
  margin-top: 20px;
}
.stbase-fact-text-block .text p + h4 {
  margin-top: 25px;
}
.stbase-fact-text-block .text p + ul {
  margin-top: 15px;
}
.stbase-fact-text-block .text ul:last-child {
  margin-bottom: 0;
}
@media (max-width: 620px) {
  .stbase-fact-text-block h4 {
    font-size: 19.0203px;
    line-height: 150%;
  }
  .stbase-fact-text-block .text {
    font-size: 18px;
    line-height: 150%;
  }
  .stbase-fact-text-block .text p {
    font-size: 18px;
    line-height: 150%;
  }
  .stbase-fact-text-block .text ul:not(.menu):not(.sub-menu):not(.list-no) li {
    font-size: 18px;
    line-height: 150%;
  }
  .stbase-fact-text-block .show-more-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
}

@media (min-width: 901px) and (max-width: 1080px) {
  .stbase-fact-header-block + .stbase-fact-text-block .text {
    max-width: 69%;
  }
}
@media (min-width: 900px) {
  .stbase-fact-header-block + .stbase-fact-text-block {
    margin-top: 0;
  }
}