@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-links-block .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  color: #f2000c;
  margin: 0 auto 50px;
  width: 100%;
  max-width: 1130px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 870px) {
  .stbase-fact-links-block .title {
    max-width: 590px;
  }
}
.stbase-fact-links-block .fact-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 282px);
  gap: 23px;
  margin: 50px auto 90px;
  width: 100%;
  max-width: 1130px;
  padding-left: 25px;
  padding-right: 25px;
}
.stbase-fact-links-block .fact-links .fact-link {
  padding: 7px 35px 30px;
  background-color: #edf0f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 300ms background-color, 0 transform, 0 opacity;
}
.stbase-fact-links-block .fact-links .fact-link i {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 24px;
  right: 24px;
  transition: 400ms all;
}
.stbase-fact-links-block .fact-links .fact-link .fact-number {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 83px;
  line-height: 130%;
  color: #f2000c;
  transition: 400ms all;
  display: block;
}
.stbase-fact-links-block .fact-links .fact-link .fact-number[data-text-slide-from-up] {
  position: relative;
  overflow: hidden;
}
.stbase-fact-links-block .fact-links .fact-link .fact-number[data-text-slide-from-up]:after {
  content: attr(data-text-slide-from-up);
  display: block;
  position: absolute;
  bottom: -90px;
  left: 0;
  transition: 400ms all cubic-bezier(0.33, 1, 0.68, 1);
  color: white;
}
.stbase-fact-links-block .fact-links .fact-link .fact-number[data-text-slide-from-up] .text-slide-down {
  position: relative;
  top: 0;
  transition: 400ms all cubic-bezier(0.33, 1, 0.68, 1);
  display: inline-block;
}
.stbase-fact-links-block .fact-links .fact-link p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #1c1c1c;
  margin: 0;
  transition: 400ms all;
}
.stbase-fact-links-block .fact-links .fact-link:hover {
  background-color: #f2000c;
}
.stbase-fact-links-block .fact-links .fact-link:hover i {
  transform: rotateZ(45deg);
  color: #edf0f2;
}
.stbase-fact-links-block .fact-links .fact-link:hover span {
  color: #edf0f2;
}
.stbase-fact-links-block .fact-links .fact-link:hover span[data-text-slide-from-up]:after {
  bottom: 0;
}
.stbase-fact-links-block .fact-links .fact-link:hover span[data-text-slide-from-up] .text-slide-down {
  top: -90px;
}
.stbase-fact-links-block .fact-links .fact-link:hover p {
  color: #edf0f2;
  transform: translateY(-12px);
}
.stbase-fact-links-block .fact-links:not(.no-scroll) .fact-link {
  opacity: 0;
  transform: translateY(-50px);
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link {
  opacity: 1;
  transform: none;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(1) {
  transition: background-color 0s, transform 200ms, opacity 200ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(2) {
  transition: background-color 0s, transform 400ms, opacity 400ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(3) {
  transition: background-color 0s, transform 600ms, opacity 600ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(4) {
  transition: background-color 0s, transform 800ms, opacity 800ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(5) {
  transition: background-color 0s, transform 1000ms, opacity 1000ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(6) {
  transition: background-color 0s, transform 1200ms, opacity 1200ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(7) {
  transition: background-color 0s, transform 1400ms, opacity 1400ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(8) {
  transition: background-color 0s, transform 1600ms, opacity 1600ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(9) {
  transition: background-color 0s, transform 1800ms, opacity 1800ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(10) {
  transition: background-color 0s, transform 2000ms, opacity 2000ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(11) {
  transition: background-color 0s, transform 2200ms, opacity 2200ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(12) {
  transition: background-color 0s, transform 2400ms, opacity 2400ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(13) {
  transition: background-color 0s, transform 2600ms, opacity 2600ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(14) {
  transition: background-color 0s, transform 2800ms, opacity 2800ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(15) {
  transition: background-color 0s, transform 3000ms, opacity 3000ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(16) {
  transition: background-color 0s, transform 3200ms, opacity 3200ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(17) {
  transition: background-color 0s, transform 3400ms, opacity 3400ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(18) {
  transition: background-color 0s, transform 3600ms, opacity 3600ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(19) {
  transition: background-color 0s, transform 3800ms, opacity 3800ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(20) {
  transition: background-color 0s, transform 4000ms, opacity 4000ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(21) {
  transition: background-color 0s, transform 4200ms, opacity 4200ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(22) {
  transition: background-color 0s, transform 4400ms, opacity 4400ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(23) {
  transition: background-color 0s, transform 4600ms, opacity 4600ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(24) {
  transition: background-color 0s, transform 4800ms, opacity 4800ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(25) {
  transition: background-color 0s, transform 5000ms, opacity 5000ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(26) {
  transition: background-color 0s, transform 5200ms, opacity 5200ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(27) {
  transition: background-color 0s, transform 5400ms, opacity 5400ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(28) {
  transition: background-color 0s, transform 5600ms, opacity 5600ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(29) {
  transition: background-color 0s, transform 5800ms, opacity 5800ms;
}
.stbase-fact-links-block .fact-links:not(.no-scroll).scrolled-to .fact-link:nth-child(30) {
  transition: background-color 0s, transform 6000ms, opacity 6000ms;
}
@media (max-width: 800px) {
  .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 215px);
  }
  .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 70px;
  }
  .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 21px;
  }
}
@media (max-width: 620px) {
  .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 190px);
  }
  .stbase-fact-links-block .fact-links .fact-link {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 60px;
  }
  .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}