@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-application-fields-block h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  margin: 0 0 21px;
}
.stbase-fact-application-fields-block .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 13px;
}
.stbase-fact-application-fields-block .fields .field {
  height: 320px;
  position: relative;
}
.stbase-fact-application-fields-block .fields .field img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.stbase-fact-application-fields-block .fields .field .field__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 27.72px;
  line-height: 130%;
  color: white;
}
@media (max-width: 970px) {
  .stbase-fact-application-fields-block .fields .field {
    height: 28vw;
  }
}
@media (min-width: 541px) and (max-width: 720px) {
  .stbase-fact-application-fields-block .fields .field {
    height: 200px;
  }
  .stbase-fact-application-fields-block .fields .field .field__content {
    font-size: 22px;
  }
}
@media (max-width: 540px) {
  .stbase-fact-application-fields-block .fields {
    grid-template-columns: 1fr;
  }
  .stbase-fact-application-fields-block .fields .field {
    height: 54vw;
  }
}