@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-fact-header-block {
  width: 100%;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
.stbase-fact-header-block header {
  position: relative;
}
.stbase-fact-header-block header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.stbase-fact-header-block header .fact-header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stbase-fact-header-block header .fact-header-content .fact-number {
  width: 117px;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2000c;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 83px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}
.stbase-fact-header-block header .fact-header-content .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  margin: 0 0 70px 51px;
  color: #ffffff;
  max-width: 690px;
}
.stbase-fact-header-block header .fact-header-content.no-number .fact-number {
  visibility: hidden;
}
.stbase-fact-header-block header:after {
  display: block;
  width: 72%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  content: " ";
}
@media (max-width: 1080px) {
  .stbase-fact-header-block header picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .stbase-fact-header-block header .fact-header-content {
    position: relative;
    z-index: 2;
    height: 464px;
  }
  .stbase-fact-header-block header .fact-header-content .title {
    font-size: 40px;
  }
  .stbase-fact-header-block header .fact-header-content.no-number {
    height: 420px;
  }
  .stbase-fact-header-block header:after {
    z-index: 3;
  }
}
@media (max-width: 960px) {
  .stbase-fact-header-block {
    padding-left: 0;
    padding-right: 0;
  }
  .stbase-fact-header-block header .fact-header-content .title {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 900px) {
  .stbase-fact-header-block header .fact-header-content .title {
    margin: 0 0 36px 36px;
  }
  .stbase-fact-header-block header:after {
    display: none;
  }
}
@media (max-width: 620px) {
  .stbase-fact-header-block header .fact-header-content {
    height: 380px;
  }
  .stbase-fact-header-block header .fact-header-content .fact-number {
    width: 103px;
    height: 106px;
    font-size: 75.1756px;
  }
  .stbase-fact-header-block header .fact-header-content .title {
    margin: 30px 34px 30px;
    font-size: 30px;
    line-height: 120%;
  }
  .stbase-fact-header-block header .fact-header-content.no-number {
    height: 320px;
  }
}