.stbase-reference-introduction-block.color-dark .content .title {
  color: #000 !important;
}
.stbase-reference-introduction-block.color-dark .content .introduction-text {
  color: #000 !important;
}
.stbase-reference-introduction-block .introduction .content-inner {
  padding: 0;
}
.stbase-reference-introduction-block .introduction .content-inner .container-860 {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 140px 0 215px;
}
@media (max-width: 769px) {
  .stbase-reference-introduction-block .introduction .content-inner .container-860 {
    padding: 40px 25px;
  }
}
.stbase-reference-introduction-block .introduction .content-inner .container-860 .title {
  font-size: 39px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 769px) {
  .stbase-reference-introduction-block .introduction .content-inner .container-860 .title {
    font-size: 26px;
    line-height: 36px;
  }
}
.stbase-reference-introduction-block .introduction .content-inner .container-860 .introduction-text {
  color: rgba(255, 255, 255, 0.8);
}
.stbase-reference-introduction-block .introduction .introduction-image {
  margin-top: -95px;
}
@media (max-width: 769px) {
  .stbase-reference-introduction-block .introduction .introduction-image {
    margin-top: 0;
  }
}

.st-reference-cs-page #reference-content-row #reference-body.reference-case-study .stbase-reference-introduction-block .introduction .content-inner .title {
  font-size: 39px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 769px) {
  .st-reference-cs-page #reference-content-row #reference-body.reference-case-study .stbase-reference-introduction-block .introduction .content-inner .title {
    font-size: 26px;
    line-height: 36px;
  }
}