.stbase-block {
  .stbase-block-preview {
    background-color: white;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h2 {
      font-size: 18px;
      line-height: 26px;
      color: #333;
      font-weight: 500;
      margin: 0;
    }

    h3 {
      font-size: 16px;
      line-height: 24px;
      color: #555;
      font-weight: 500;
      margin: 0;
      font-style: italic;
      color: var(--wp-admin-theme-color);
    }
  }
}
