// main: ../swisstomato2.less
[class*=" moovegdpr-"],
[class^=moovegdpr-] {
	font-family: 'FAL' !important;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.moovegdpr-arrow-close:before {
	content: "\f00d"
}

.moovegdpr-policy:before {
	content: "\f564"
}

.moovegdpr-advanced:before {
	content: "\f12e"
}

.moovegdpr-3rd-party:before {
	content: "\f08b"
}

.moovegdpr-strict-necessary:before {
	content: "\f058"
}

.moovegdpr-privacy-overview:before {
	content: "\f2f7"
}

body.moove_gdpr_overflow {
	overflow: hidden
}

body.moove_gdpr_overflow #page {
	position: relative;
	z-index: 10
}

body.moove_gdpr_overflow #main-header,
body.moove_gdpr_overflow #page-container {
	z-index: 99
}

.lity-hide {
	display: none
}

.gdpr-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton {
	margin-right: 10px;
	margin-bottom: 5px
}

#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-button-holder .moove-gdpr-infobar-close-btn,
#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar.moove-gdpr-dark-scheme .moove-gdpr-button-holder .moove-gdpr-infobar-close-btn {
	display: none
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar.moove-gdpr-dark-scheme .moove-gdpr-infobar-close-btn.gdpr-content-close-btn,
#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-infobar-close-btn.gdpr-content-close-btn {
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	background-color: #fff
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar.moove-gdpr-dark-scheme .moove-gdpr-infobar-close-btn.gdpr-content-close-btn:hover,
#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-infobar-close-btn.gdpr-content-close-btn:hover {
	background-color: #626262;
	color: #fff
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container,
#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container {
	position: relative
}

#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn {
	background-color: transparent;
	padding: 0;
	display: inline-block;
	float: right;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	margin: 3px 4px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px #626262;
	color: #626262;
	transition: all .3s ease
}

#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn.gdpr-content-close-btn {
	display: none
}

#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn:hover {
	background-color: #626262;
	color: #fff
}

#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn i {
	font-size: 32px;
	top: -1px;
	position: relative;
	height: 30px;
	display: block;
	overflow: hidden
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-button-holder .moove-gdpr-infobar-close-btn {
	color: #fff;
	opacity: .7;
	box-shadow: inset 0 0 0 1px #fff
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-button-holder .moove-gdpr-infobar-close-btn:hover {
	background-color: #fff;
	opacity: 1;
	color: #fff
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.change-settings-button,
#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.change-settings-button {
	text-decoration: none
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider,
#moove_gdpr_cookie_modal .switch .slider {
	overflow: visible
}

#moove_gdpr_cookie_modal {
	margin: 0 auto;
	margin-top: 0;
	min-height: 60vh;
}

#moove_gdpr_cookie_modal span.tab-title {
	display: block
}

#moove_gdpr_cookie_modal button {
	letter-spacing: 0;
	outline: none;
	cursor: pointer
}

#moove_gdpr_cookie_modal * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: inherit
}

#moove_gdpr_cookie_modal .cookie-switch,
#moove_gdpr_cookie_modal .switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 30px
}

#moove_gdpr_cookie_modal .cookie-switch input,
#moove_gdpr_cookie_modal .switch input {
	display: none
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch .slider,
#moove_gdpr_cookie_modal .switch .cookie-slider,
#moove_gdpr_cookie_modal .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: red;
	transition: .4s;
	margin: 0;
	padding: 0
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider:before,
#moove_gdpr_cookie_modal .cookie-switch .slider:before,
#moove_gdpr_cookie_modal .switch .cookie-slider:before,
#moove_gdpr_cookie_modal .switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 1px;
	bottom: 1px;
	transition: .4s;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
	display: block;
	box-sizing: content-box
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider:after,
#moove_gdpr_cookie_modal .cookie-switch .slider:after,
#moove_gdpr_cookie_modal .switch .cookie-slider:after,
#moove_gdpr_cookie_modal .switch .slider:after {
	content: attr(data-text-disabled);
	position: absolute;
	top: 0;
	left: 60px;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: red;
	display: block;
	white-space: nowrap
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.cookie-round,
#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.round,
#moove_gdpr_cookie_modal .cookie-switch .slider.cookie-round,
#moove_gdpr_cookie_modal .cookie-switch .slider.round,
#moove_gdpr_cookie_modal .switch .cookie-slider.cookie-round,
#moove_gdpr_cookie_modal .switch .cookie-slider.round,
#moove_gdpr_cookie_modal .switch .slider.cookie-round,
#moove_gdpr_cookie_modal .switch .slider.round {
	border-radius: 34px
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.cookie-round:before,
#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.round:before,
#moove_gdpr_cookie_modal .cookie-switch .slider.cookie-round:before,
#moove_gdpr_cookie_modal .cookie-switch .slider.round:before,
#moove_gdpr_cookie_modal .switch .cookie-slider.cookie-round:before,
#moove_gdpr_cookie_modal .switch .cookie-slider.round:before,
#moove_gdpr_cookie_modal .switch .slider.cookie-round:before,
#moove_gdpr_cookie_modal .switch .slider.round:before {
	border-radius: 50%
}

#moove_gdpr_cookie_modal .cookie-switch input:checked+.cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch input:checked+.slider,
#moove_gdpr_cookie_modal .switch input:checked+.cookie-slider,
#moove_gdpr_cookie_modal .switch input:checked+.slider {
	background-color: #2e9935
}

#moove_gdpr_cookie_modal .cookie-switch input:checked+.cookie-slider:after,
#moove_gdpr_cookie_modal .cookie-switch input:checked+.slider:after,
#moove_gdpr_cookie_modal .switch input:checked+.cookie-slider:after,
#moove_gdpr_cookie_modal .switch input:checked+.slider:after {
	content: attr(data-text-enable);
	color: #2e9935;
	white-space: nowrap
}

#moove_gdpr_cookie_modal .cookie-switch input:focus+.cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch input:focus+.slider,
#moove_gdpr_cookie_modal .switch input:focus+.cookie-slider,
#moove_gdpr_cookie_modal .switch input:focus+.slider {
	box-shadow: 0 0 1px #2e9935
}

#moove_gdpr_cookie_modal .cookie-switch input:checked+.cookie-slider:before,
#moove_gdpr_cookie_modal .cookie-switch input:checked+.slider:before,
#moove_gdpr_cookie_modal .switch input:checked+.cookie-slider:before,
#moove_gdpr_cookie_modal .switch input:checked+.slider:before {
	transform: translateX(20px)
}

#moove_gdpr_cookie_modal a,
#moove_gdpr_cookie_modal button {
	outline: none;
	box-shadow: none;
	text-shadow: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
	color: #000;
	background-color: #fff;
	width: 900px;
	width: 80vw;
	max-width: 1170px;
	min-height: 600px;
	border-radius: 10px;
	position: relative;
	margin: 0 auto
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .gdpr-cc-form-fieldset,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content fieldset {
	background-color: transparent
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.logo-position-left .moove-gdpr-company-logo-holder {
	text-align: left
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.logo-position-center .moove-gdpr-company-logo-holder {
	text-align: center
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.logo-position-right .moove-gdpr-company-logo-holder {
	text-align: right
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .main-modal-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column;
	flex-flow: column;
	height: 100%
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 {
	min-height: auto
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-left-content {
	display: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-right-content {
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	float: none;
	padding-bottom: 135px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .main-modal-content {
	max-height: 50vh;
	overflow: hidden;
	overflow-y: auto;
	padding-bottom: 0;
	height: 100%
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt {
	padding-right: 30px;
	white-space: nowrap
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt a {
	padding-right: 0;
	text-align: right;
	color: #000;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: -.3px;
	position: relative;
	top: 0;
	text-decoration: none;
	display: block;
	-ms-flex-align: baseline;
	align-items: baseline
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton.moove-gdpr-modal-save-settings,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton.moove-gdpr-modal-save-settings {
	float: left
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main {
	display: block;
	position: relative
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
	position: relative;
	overflow: hidden;
	padding-right: 190px;
	padding-bottom: 10px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-status-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 190px;
	text-align: right
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-status-bar span.cookie-slider,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-status-bar span.slider {
	position: relative;
	width: 50px;
	height: 30px;
	display: block
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-status-bar span.cookie-slider:after,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-status-bar span.slider:after {
	text-align: right;
	left: auto;
	right: 60px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main h3.tab-title,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main span.tab-title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 15px;
	padding-right: 190px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-align: center;
	align-items: center;
	height: 75px;
	position: relative;
	margin-bottom: 20px;
	padding-right: 180px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title .moove-gdpr-company-logo-holder {
	max-width: 180px;
	margin: 0;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: right;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
	height: 100%
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title .moove-gdpr-company-logo-holder img {
	max-width: 100%;
	text-align: center
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title .tab-title {
	width: 100%;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.1
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close {
	position: absolute;
	text-decoration: none;
	top: -30px;
	right: -30px;
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	background: transparent;
	padding: 0;
	z-index: 99;
	margin: 0;
	outline: none;
	box-shadow: none;
	border: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close:hover i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close:hover span.gdpr-icon {}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 48px;
	color: #fff;
	border-radius: 50%;
	transition: all .3s ease;
	background: #e1000f;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder {
	padding: 0;
	margin-bottom: 30px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder img {
	max-height: 75px;
	max-width: 70%;
	display: inline-block
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-title h2 {
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0 0;
	padding: 0;
	color: #000
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-content.moove-gdpr-no-modal-title .moove-gdpr-tab-main h3.tab-title,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-content.moove-gdpr-no-modal-title .moove-gdpr-tab-main span.tab-title {
	margin-top: 0
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main h3.tab-title,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main span.tab-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	color: #000;
	margin-bottom: 25px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column;
	flex-flow: column;
	max-height: calc(100% - 155px);
	overflow-y: auto;
	padding-right: 20px;
	padding-bottom: 15px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content a,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content button,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content li,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 18px;
	margin-top: 0;
	padding: 0;
	color: #000
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h1,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h2,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h3,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h4,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h5,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h6 {
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 20px;
	margin-top: 0;
	font-weight: 600;
	text-transform: none;
	color: #000
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content a {
	color: #000;
	text-decoration: underline
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content.moove-gdpr-strict-warning-message {
	display: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar {
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 15px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar.gdpr-checkbox-disabled {
	opacity: .6;
	pointer-events: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar.gdpr-checkbox-disabled .cookie-switch input:checked+.cookie-slider,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar.gdpr-checkbox-disabled .switch input:checked+.slider {
	background-color: #474747
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar.gdpr-checkbox-disabled .cookie-switch input:checked+.cookie-slider:after,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar.gdpr-checkbox-disabled .switch input:checked+.slider:after {
	color: #474747
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar p {
	display: inline-block;
	float: right;
	color: #09a501;
	margin: 0;
	line-height: 1.2;
	font: 700 11px Arial, Helvetica, sans-serif;
	font-weight: 600
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar .gdpr-cc-form-wrap,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar .gdpr-cc-form-wrap .gdpr-cc-form-fieldset,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar .gdpr-cc-form-wrap fieldset,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar form,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar form .gdpr-cc-form-fieldset,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar form fieldset {
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar .gdpr-cc-form-wrap .gdpr-cc-form-fieldset:hover label,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar .gdpr-cc-form-wrap fieldset:hover label,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar form .gdpr-cc-form-fieldset:hover label,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar form fieldset:hover label {
	color: #09a501
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 130px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	z-index: 15;
	border-radius: 5px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content:before {
	content: "";
	position: absolute;
	bottom: 130px;
	left: 60px;
	right: 60px;
	height: 1px;
	display: block;
	background-color: #c9c8c8
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-branding {
	text-decoration: none;
	padding: 0 10px;
	font-size: 10px;
	color: #000;
	font-weight: 600;
	line-height: 13px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: baseline;
	align-items: baseline;
	width: auto;
	max-width: 100%
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-branding img {
	height: 15px;
	margin-left: 5px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-branding span {
	display: inline-block;
	text-decoration: underline
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder {
	width: 100%;
	display: block;
	padding: 0 60px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton {
	margin: 0;
	text-decoration: none;
	border-radius: 150px;
	color: #fff;
	padding: 15px 10px;
	transition: all .3s ease;
	border: 1px solid transparent;
	min-width: 160px;
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	background: #e1000f;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton:hover,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton:hover {
	background: #e1000f;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton.moove-gdpr-modal-allow-all,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton.moove-gdpr-modal-allow-all {
	float: left
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton.moove-gdpr-modal-save-settings,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton.moove-gdpr-modal-save-settings {
	float: right;
	color: #fff;
	display: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton.moove-gdpr-modal-save-settings:hover,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton.moove-gdpr-modal-save-settings:hover {
	background: #e1000f;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
	width: 40%;
	display: inline-block;
	float: left;
	padding: 40px 60px;
	position: absolute;
	height: 100%;
	top: 0;
	box-shadow: 0 0 30px 0 rgba(35, 35, 35, .1);
	background: #fff;
	z-index: 10;
	left: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt {
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
	left: 60px;
	right: 60px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a {
	color: #000;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: -.3px;
	padding: 20px 0;
	position: relative;
	top: 10px;
	text-decoration: none;
	display: block
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a img {
	width: 60px;
	height: auto;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 0
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a span {
	display: inline-block;
	text-decoration: underline
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu {
	padding: 0;
	list-style: none;
	margin: 0;
	z-index: 12
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 15px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected a,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button {
	background-color: #fff;
	border-color: #f1f1f1;
	color: #000
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected a span.gdpr-icon,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button span.gdpr-icon {
	color: #000
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 900;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	line-height: 1.1;
	padding: 13px 20px;
	color: #0c4da2;
	width: 100%;
	transition: all .3s ease;
	border-radius: 5px;
	text-align: left
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a:hover i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a:hover span.gdpr-icon,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button:hover i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button:hover span.gdpr-icon {
	text-decoration: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-icon,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-icon {
	display: inline-block;
	float: left;
	font-size: 30px;
	width: 40px;
	margin-right: 5px;
	position: relative;
	top: 0;
	color: #0c4da2
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-nav-tab-title,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-nav-tab-title {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	width: calc(100% - 40px)
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content {
	width: 60%;
	display: inline-block;
	float: right;
	padding: 40px 60px;
	position: absolute;
	top: 0;
	height: auto;
	right: 0;
	background-color: #f1f1f1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo {
	width: 100%;
	height: 0;
	padding-bottom: 38px;
	background-size: contain;
	background-position: 0;
	background-repeat: no-repeat
}

.moove-hidden {
	display: none
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar:after,
.moove-clearfix:after {
	content: "";
	display: table;
	clear: both
}

#moove_gdpr_cookie_info_bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 60px;
	max-height: 400px;
	color: #fff;
	z-index: 9900;
	background-color: #202020;
	border-top: 1px solid #fff;
	font-family: 'Rubik', sans-serif;
	transition: bottom .3s cubic-bezier(.17, .04, .03, .94)
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top {
	bottom: auto;
	top: 0;
	transition: top .3s cubic-bezier(.17, .04, .03, .94)
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-dark-scheme {
	border-top: 0;
	border-bottom: 1px solid #fff
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-light-scheme {
	border-top: 0;
	border-bottom: 1px solid #202020
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-info-bar-hidden {
	bottom: auto;
	top: -400px
}

#moove_gdpr_cookie_info_bar * {
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

#moove_gdpr_cookie_info_bar.moove-gdpr-info-bar-hidden {
	bottom: -400px
}

#moove_gdpr_cookie_info_bar.moove-gdpr-align-center,
#moove_gdpr_cookie_info_bar.moove-gdpr-align-right {
	text-align: center
}

#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-close-btn {
	border: none
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme {
	background-color: #fff;
	border-top: 1px solid #202020
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h1,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h2,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h3,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h4,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h5,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h6,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p a,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme p {
	color: #202020
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button {
	text-decoration: underline;
	outline: none
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-reject-btn,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-settings-btn,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-reject-btn,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-settings-btn {
	color: #202020
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-reject-btn:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-settings-btn:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-reject-btn:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-settings-btn:hover {
	color: #fff
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
	background-color: #202020;
	border-top: 1px solid #fff
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h1,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h2,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h3,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h4,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h5,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h6,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p a,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme p {
	color: #fff
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button {
	text-decoration: underline;
	outline: none;
	transition: all .2s ease
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton:hover {
	background: #e1000f;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-close-modal-button a {
	border-color: #fff;
	color: #fff
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-close-modal-button a:hover {
	background-color: #fff;
	color: #202020
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
	padding: 10px 40px;
	position: static;
	display: inline-block
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container i.gdpricon-cog-1,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container span.gdpricon-cog-1 {
	font-size: 40px;
	width: 60px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: calc(50% - 25px);
	left: 0;
	color: #fff
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-close-cookie-popup {
	position: absolute;
	width: 60px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	top: calc(50% - 25px);
	right: 0;
	text-decoration: none;
	outline: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-close-cookie-popup i,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-close-cookie-popup span.gdpr-icon {
	width: 28px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	color: #424449;
	border-radius: 50%;
	display: block;
	border: 1px solid #fff;
	font-size: 16px;
	position: relative
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-close-cookie-popup:hover i,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-close-cookie-popup:hover span.gdpr-icon {
	background-color: #424449;
	color: #fff
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content {
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 100%
}


#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p a {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	padding-bottom: 0;
	color: #fff
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p {
	font-weight: 400;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h1,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h2,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h3,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h4,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h5,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content h6 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 15px
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-close-modal-button a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid #202020;
	color: #202020;
	text-decoration: none;
	outline: none;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	padding-top: 1px;
	transition: all .2s ease;
	margin-left: 10px;
	margin-left: 6vw
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-close-modal-button a:hover {
	background-color: #202020;
	color: #fff
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	border-radius: 150px;
	padding: 8px 30px;
	transition: all .3s ease;
	border: none;
	display: inline-block;
	margin: 3px 4px;
	white-space: nowrap;
	text-transform: none;
	letter-spacing: 0;
	cursor: pointer;
	background: #e1000f;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-reject-btn,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-reject-btn {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px currentColor;
	opacity: .7
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-reject-btn:hover,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-reject-btn:hover {
	box-shadow: none;
	opacity: 1
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-settings-btn,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-settings-btn {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px currentColor;
	opacity: .7
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.moove-gdpr-infobar-settings-btn:hover,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-settings-btn:hover {
	box-shadow: none;
	opacity: 1
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton:hover,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton:hover {
	color: #fff;
	background-color: #202020
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.change-settings-button,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.change-settings-button {
	background-color: #424449;
	color: #fff;
	border-color: transparent;
	text-decoration: underline;
	cursor: pointer;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton.change-settings-button:hover,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.change-settings-button:hover {
	color: #e1000f;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content span.change-settings-button:hover {
	color: #e1000f;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content span.change-settings-button {
	text-decoration: underline;
	cursor: pointer;
	transition: all .2s ease
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder {
	padding-left: 15px;
	padding-left: 3vw
}

.lity.moove_gdpr_cookie_modal_open .lity-container {
	max-width: 100%
}

.lity.moove_gdpr_cookie_modal_open .lity-close {
	opacity: 0;
	visibility: hidden
}

#moove_gdpr_save_popup_settings_button {
	display: block;
	z-index: 1001;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	transition: all .3s ease;
	color: #fff;
	padding: 0;
	text-align: center;
	height: 40px;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	border-radius: 0;
	border: none;
	text-decoration: none
}

#moove_gdpr_save_popup_settings_button:not(.gdpr-floating-button-custom-position) {
	bottom: 50px;
	left: 50px
}

#moove_gdpr_save_popup_settings_button span {
	background-color: inherit;
	transition: all .3s ease
}

#moove_gdpr_save_popup_settings_button span.moove_gdpr_icon {
	display: -ms-inline-flexbox;
	display: inline-flex;
	line-height: 40px;
	float: left;
	font-size: 30px;
	min-width: 40px;
	height: 40px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	z-index: 15;
	position: relative;
	background-color: transparent
}

#moove_gdpr_save_popup_settings_button span.moove_gdpr_icon i,
#moove_gdpr_save_popup_settings_button span.moove_gdpr_icon span.gdpr-icon {
	position: relative;
	top: 0;
	font-weight: 900;
	background-color: transparent
}

#moove_gdpr_save_popup_settings_button span.moove_gdpr_text {
	font: normal 12px Arial, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	padding: 0 15px 0 5px;
	top: 0;
	left: 0;
	position: relative;
	line-height: 40px;
	display: none;
	overflow: hidden;
	z-index: 5;
	background-color: transparent;
	text-decoration: none
}

#moove_gdpr_save_popup_settings_button:hover {
	background-color: #000
}

#moove_gdpr_save_popup_settings_button:hover span.moove_gdpr_text {
	display: block
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt {
	padding-right: 60px
}

#moove_gdpr_cookie_info_bar * {
	box-sizing: border-box
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder a.mgbutton {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder a.mgbutton.mright {
	float: right
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder a.mgbutton.mgrey {
	background-color: #424449
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder a.mgbutton.mgrey:hover {
	background-color: #202020
}

@media (max-width:767px) {

	#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton,
	#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
		min-height: 30px;
		font-weight: 400
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn {
		width: 30px;
		height: 30px;
		border: none
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn i {
		font-size: 27px;
		height: 25px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-modal-right-content,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-content,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-main {
		min-height: 40vh;
		max-height: calc(100vh - 180px)
	}

	.gdpr-fb-hide-mobile {
		display: none !important
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		width: calc(100vw - 50px)
	}

	#moove_gdpr_cookie_modal .cookie-switch,
	#moove_gdpr_cookie_modal .switch {
		width: 40px;
		height: 24px
	}

	#moove_gdpr_cookie_modal .cookie-switch .cookie-slider:before,
	#moove_gdpr_cookie_modal .cookie-switch .slider:before,
	#moove_gdpr_cookie_modal .switch .cookie-slider:before,
	#moove_gdpr_cookie_modal .switch .slider:before {
		height: 20px;
		width: 20px
	}

	#moove_gdpr_cookie_modal .cookie-switch input:checked+.cookie-slider:before,
	#moove_gdpr_cookie_modal .cookie-switch input:checked+.slider:before,
	#moove_gdpr_cookie_modal .switch input:checked+.cookie-slider:before,
	#moove_gdpr_cookie_modal .switch input:checked+.slider:before {
		transform: translateX(16px)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title {
		padding-right: 0;
		height: auto;
		margin-bottom: 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title .tab-title {
		font-weight: 600;
		font-size: 22px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-title .moove-gdpr-company-logo-holder {
		display: none
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-right-content {
		height: 80vh
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-right-content .main-modal-content {
		max-height: calc(80vh - 155px)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-button-holder a.mgbutton,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton {
		margin-right: 5px;
		margin-bottom: 2px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt {
		position: relative;
		padding-right: 10px;
		max-width: 50%;
		width: auto
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt a {
		font-weight: 600;
		font-size: 11px;
		padding-left: 0;
		display: block
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt a span,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt a u {
		display: block;
		text-decoration: underline
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		padding-right: 0
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content p {
		margin-bottom: 15px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar {
		position: relative;
		left: 0;
		right: auto;
		width: 100%
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar .gdpr-cc-form-wrap,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar form {
		text-align: left;
		margin-bottom: 15px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar .gdpr-cc-form-wrap span.cookie-slider,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar .gdpr-cc-form-wrap span.slider,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar form span.cookie-slider,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar form span.slider {
		width: 40px;
		height: 24px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar .gdpr-cc-form-wrap span.cookie-slider:after,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar .gdpr-cc-form-wrap span.slider:after,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar form span.cookie-slider:after,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main .moove-gdpr-tab-main-content .moove-gdpr-status-bar form span.slider:after {
		left: 45px;
		right: 0;
		text-align: left;
		top: -3px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main h3.tab-title,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-tab-main span.tab-title {
		padding-right: 0;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		max-height: 500px;
		max-height: 90vw;
		min-height: auto
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .cookie-switch .cookie-slider:after,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .switch .slider:after {
		font-weight: 900;
		font-size: 12px;
		line-height: 30px;
		min-width: 130px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-close-modal-button a,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-close-modal-button button {
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 1px solid #202020;
		color: #202020;
		text-decoration: none;
		outline: none;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
		font-size: 27px;
		padding-top: 1px;
		transition: all .2s ease;
		margin-left: 15px;
		margin-left: 6vw;
		position: absolute;
		right: 5px;
		top: 5px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close {
		position: absolute;
		top: -15px;
		right: -15px;
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-decoration: none
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo {
		padding-bottom: 30px;
		background-size: contain;
		background-position: 50%;
		margin-top: 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder {
		margin-bottom: 15px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
		padding: 10px;
		padding-top: 30px;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		height: 140px;
		border-radius: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu {
		display: inline-block;
		margin: 0 auto
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li {
		list-style: none;
		margin-bottom: 20px;
		display: inline-block;
		float: left;
		margin: 0 5px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
		padding: 5px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a i,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-icon,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button i,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-icon {
		margin: 0;
		text-align: center;
		width: 24px;
		font-size: 24px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-nav-tab-title,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-nav-tab-title {
		display: none
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt {
		top: 3px;
		right: 3px;
		left: auto;
		padding: 0;
		bottom: auto;
		transform: scale(.8)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a {
		text-align: right
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a span {
		display: block
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content {
		width: 100%;
		position: relative;
		padding: 15px 10px;
		height: calc(90vh - 200px);
		border-radius: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 {
		max-height: 100%
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main h3.tab-title,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main span.tab-title {
		font-weight: 600;
		font-size: 16px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar {
		padding: 0
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		padding: 0;
		position: relative;
		overflow: auto;
		max-height: calc(100% - 110px)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content a,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content li,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content p {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.3
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h1,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h2,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h3,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h4,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h5,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content h6 {
		font-weight: 600;
		font-size: 14px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-main {
		margin-bottom: 55px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		height: 100%;
		max-height: calc(90vh - 320px)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content {
		height: 70px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content:before {
		left: 10px;
		right: 10px;
		bottom: 70px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder {
		padding: 0 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton {
		margin: 0;
		text-decoration: none;
		border-radius: 150px;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		padding: 5px;
		transition: all .3s ease;
		color: #fff;
		min-width: 110px;
		text-align: center;
		text-transform: none
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
		width: 100%
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt button {
		top: 0;
		padding: 5px 0
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder img {
		max-height: 40px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder {
		text-align: center
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
		padding: 15px
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container i.gdpricon-cog-1,
	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container span.gdpricon-cog-1 {
		display: none
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content {
		padding-left: 0;
		padding-right: 0;
		display: block;
		min-height: auto
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-cookie-notice {
		padding-left: 4px;
		margin-bottom: 10px
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder {
		padding-left: 0
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton,
	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
		font-size: 12px;
		font-weight: 600;
		padding: 5px 20px
	}

	.moove-gdpr-branding-cnt a {
		padding: 10px 0
	}
}

@media screen and (max-width:767px) and (orientation:landscape) {
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo {
		margin-top: 0;
		background-position: 0
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-right-content {
		height: 600px;
		height: 90vh
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-right-content .main-modal-content {
		max-height: 500px;
		max-height: calc(80vh - 80px)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder {
		text-align: left;
		margin: 0;
		display: inline-block;
		float: left;
		width: 40%
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu {
		max-width: 60%;
		float: right
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
		padding-top: 30px;
		height: 75px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main h3.tab-title,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main span.tab-title {
		margin-bottom: 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content {
		height: 45px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content:before {
		bottom: 45px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: column;
		flex-flow: column;
		max-height: 350px;
		max-height: calc(100% - 70px)
	}

	#moove_gdpr_cookie_modal {
		background: transparent;
		border-radius: 5px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content {
		height: 55vh
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a.moove-gdpr-branding {
		top: 0;
		padding: 0
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		max-height: calc(90vh - 220px)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-modal-right-content {
		padding-bottom: 80px
	}
}

@media (min-width:768px) {

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-modal-right-content,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-content,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-tab-main {
		height: 100%
	}
}

@media (min-width:768px) and (max-width:999px) {
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content {
		padding: 30px 20px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content {
		height: 120px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder {
		padding: 0 20px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content:before {
		bottom: 120px;
		left: 20px;
		right: 20px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt {
		padding-right: 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
		padding: 30px 20px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		min-height: 620px;
		transform: scale(.75)
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt {
		left: 20px;
		right: 20px
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p,
	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p>a {
		font-size: 13px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
		padding: 10px 15px;
		font-weight: 600;
		font-size: 12px
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content {
		padding-left: 20px;
		padding-right: 20px
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-close-modal-button a,
	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-close-modal-button button {
		margin-left: 15px;
		margin-left: 5vw
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main h3.tab-title,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main span.tab-title {
		font-weight: 600;
		font-size: 24px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton {
		transform: scale(.75)
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
		padding: 10px 20px
	}
}

@media (min-width:1000px) and (max-width:1300px) {
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content {
		padding: 40px 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content {
		height: 120px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder {
		padding: 0 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content:before {
		bottom: 120px;
		left: 30px;
		right: 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 .moove-gdpr-branding-cnt {
		padding-right: 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt {
		left: 30px;
		right: 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
		padding: 30px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		min-width: 700px
	}
}

@media (min-width:768px) and (max-height:700px) {
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		min-height: 600px;
		transform: scale(.7)
	}
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content {
		display: block;
		max-width: 100%;
		text-align: center
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder {
		margin-top: 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		display: block;
		max-width: 100%
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span {
		display: block
	}
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content {
		display: block;
		max-width: 100%;
		text-align: center
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder {
		margin-top: 10px
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content {
		display: block;
		max-width: 100%
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span {
		display: block
	}
}

@media print {

	#moove_gdpr_cookie_info_bar,
	#moove_gdpr_cookie_modal,
	#moove_gdpr_save_popup_settings_button,
	.gdpr_cookie_settings_shortcode_content {
		display: none !important
	}

	body.moove_gdpr_overflow {
		overflow: auto
	}

	body.moove_gdpr_overflow .lity {
		display: none !important
	}
}

.gdpr_lightbox-active,
.gdpr_lightbox-active body {
	overflow: hidden
}

.gdpr_lightbox {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	background: #0b0b0b;
	background: rgba(0, 0, 0, .9);
	outline: none !important;
	opacity: 0;
	transition: opacity .3s ease
}

.gdpr_lightbox.gdpr_lightbox-opened {
	opacity: 1
}

.gdpr_lightbox.gdpr_lightbox-closed {
	opacity: 0
}

.gdpr_lightbox * {
	box-sizing: border-box
}

.gdpr_lightbox-wrap {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	outline: none !important
}

.gdpr_lightbox-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -.25em
}

.gdpr_lightbox-loader {
	z-index: 9991;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -.8em;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0;
	transition: opacity .3s ease
}

.gdpr_lightbox-loading .gdpr_lightbox-loader {
	opacity: 1
}

.gdpr_lightbox-container {
	z-index: 9992;
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	max-width: 100%;
	max-height: 100%;
	outline: none !important
}

.gdpr_lightbox-content {
	z-index: 9993;
	width: 100%;
	transform: scale(1);
	transition: transform .3s ease
}

.gdpr_lightbox-closed .gdpr_lightbox-content,
.gdpr_lightbox-loading .gdpr_lightbox-content {
	transform: scale(.8)
}

.gdpr_lightbox-content:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6)
}

.gdpr_lightbox-close,
.gdpr_lightbox-close:active,
.gdpr_lightbox-close:focus,
.gdpr_lightbox-close:hover,
.gdpr_lightbox-close:visited {
	z-index: 9994;
	width: 35px;
	height: 35px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-appearance: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 0;
	color: #fff;
	font-style: normal;
	font-size: 35px;
	font-family: Arial, Baskerville, monospace;
	line-height: 35px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	border: 0;
	background: none;
	box-shadow: none
}

.gdpr_lightbox-close::-moz-focus-inner {
	border: 0;
	padding: 0
}

.gdpr_lightbox-close:active {
	top: 1px
}

.gdpr_lightbox-image img {
	max-width: 100%;
	display: block;
	line-height: 0;
	border: 0
}

.gdpr_lightbox-iframe .gdpr_lightbox-container {
	width: 100%;
	max-width: 964px
}

.gdpr_lightbox-iframe-container {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	overflow: auto;
	pointer-events: auto;
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch
}

.gdpr_lightbox-iframe-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background: #000
}

body.moove_gdpr_overflow {
	overflow: hidden
}

body.moove_gdpr_overflow #page {
	position: relative;
	z-index: 10
}

body.moove_gdpr_overflow #main-header,
body.moove_gdpr_overflow #page-container {
	z-index: 99
}

.gdpr_lightbox-hide {
	display: none
}

.gdpr_lightbox-content:after {
	box-shadow: none
}

.gdpr_lightbox.moove_gdpr_cookie_modal_open .gdpr_lightbox-container {
	max-width: 100%
}

.gdpr_lightbox.moove_gdpr_cookie_modal_open .gdpr_lightbox-close {
	opacity: 0;
	visibility: hidden
}