// main: ../swisstomato2.less


@font-face {
	font-family: 'FAB';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("fonts/FontAwesome/fa-brands-400.eot");
	src: url("fonts/FontAwesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
		url("fonts/FontAwesome/fa-brands-400.woff2") format("woff2"),
		url("fonts/FontAwesome/fa-brands-400.woff") format("woff"),
		url("fonts/FontAwesome/fa-brands-400.ttf") format("truetype"),
		url("fonts/FontAwesome/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
	font-family: 'FAL';
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url("fonts/FontAwesome/fa-light-300.eot");
	src: url("fonts/FontAwesome/fa-light-300.eot?#iefix") format("embedded-opentype"),
		url("fonts/FontAwesome/fa-light-300.woff2") format("woff2"),
		url("fonts/FontAwesome/fa-light-300.woff") format("woff"),
		url("fonts/FontAwesome/fa-light-300.ttf") format("truetype"),
		url("fonts/FontAwesome/fa-light-300.svg#fontawesome") format("svg");
}