/*!
Theme Name: ST Base Theme
Theme URI: http://underscores.me/
Author: vargavd
Author URI: https://github.com/vargavd
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: stbase
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

ST Base Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: #4169e1;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
* {
  outline: none !important;
}
*:focus {
  outline: none !important;
  border: none !important;
}

* {
  outline: none !important;
}
*:focus {
  outline: none !important;
  border: none !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik";
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2.7rem;
}
body.page {
  margin-bottom: 0;
}

p {
  font-family: "Rubik";
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2.7rem;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #f2000c;
  transition: all 300ms;
}
a:hover {
  color: #8d0007;
}
a:visited {
  color: #f2000c;
}
a:visited:hover {
  color: #8d0007;
}

h1 {
  font-family: "Rubik";
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 4.1rem;
  margin: 20px 0;
}

h2 {
  font-family: "Rubik";
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 3.7rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

::-moz-selection {
  background: #f5cfd1;
}

::selection {
  background: #f5cfd1;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 1350px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.container-no-padding {
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container-1250 {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 1300px) {
  .container-1250 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.center-1300 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-1250 {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-1117 {
  width: 100%;
  max-width: 1117px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.spinning-icon {
  animation: spinning-frames 2s infinite linear;
}

.stbase-page {
  padding-top: 140px;
  background: linear-gradient(to bottom, #edf0f2 0%, white 105px);
}
.stbase-page ul li a {
  word-wrap: break-word;
}
.stbase-page.no-padding-top {
  padding-top: 0;
}
@media (max-width: 500px) {
  .stbase-page {
    padding-top: 100px;
  }
}

.block-margin {
  margin-top: 77px;
  margin-bottom: 77px;
}
@media (max-width: 500px) {
  .block-margin {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.top-block-margin {
  margin-top: 77px;
}
@media (max-width: 500px) {
  .top-block-margin {
    margin-top: 60px;
  }
}

.bottom-block-margin {
  margin-bottom: 77px;
}
@media (max-width: 500px) {
  .bottom-block-margin {
    margin-bottom: 60px;
  }
}

.top-negative-block-margin {
  margin-top: -77px;
}
@media (max-width: 500px) {
  .top-negative-block-margin {
    margin-top: -60px;
  }
}

.bottom-negative-block-margin {
  margin-bottom: -77px;
}
@media (max-width: 500px) {
  .bottom-negative-block-margin {
    margin-bottom: -60px;
  }
}

.block-with-background .container {
  padding-top: 67px;
  padding-bottom: 67px;
}
@media (max-width: 500px) {
  .block-with-background .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.block-with-background + .block-with-background {
  margin-top: -77px;
}
@media (max-width: 500px) {
  .block-with-background + .block-with-background {
    margin-top: -60px;
  }
}

.fact-narrow-content-block {
  max-width: 1130px;
  margin: 30px auto;
  padding-left: 51px;
  padding-right: 51px;
}
.fact-narrow-content-block:last-child {
  margin-bottom: 77px;
}
@media (max-width: 960px) {
  .fact-narrow-content-block {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 620px) {
  .fact-narrow-content-block {
    padding-left: 34px;
    padding-right: 34px;
  }
  .fact-narrow-content-block:last-child {
    margin-bottom: 60px;
  }
}

a.st-button-link,
button.st-button {
  padding: 20px 32px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #f2000c;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: none;
  position: relative;
  overflow: hidden;
  transition: 300ms all;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}
a.st-button-link.center,
button.st-button.center {
  justify-content: center;
}
a.st-button-link i,
button.st-button i {
  margin-right: 9px;
  opacity: 0.6;
  font-size: 14px;
  color: white;
  transition: 300ms color;
}
a.st-button-link:before,
button.st-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dadee1;
  transform: scaleY(0.5) rotateZ(10deg) scaleX(1.5) translateY(98px);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a.st-button-link:visited,
button.st-button:visited {
  color: white;
}
a.st-button-link:visited:hover,
button.st-button:visited:hover {
  color: black;
}
a.st-button-link:hover,
button.st-button:hover {
  color: black;
  transform: translateY(-3px);
}
a.st-button-link:hover:before,
button.st-button:hover:before {
  transform: scaleX(1);
}
a.st-button-link:hover i,
button.st-button:hover i {
  color: #f2000c;
}

.st-button-white {
  border-radius: 3px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  background-color: white;
  color: #f2000c;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.st-button-white .fa-angle-right {
  margin-right: 9px;
  opacity: 0.6;
  font-size: 14px;
  color: #f2000c;
}
.st-button-white:hover {
  border-color: #f2000c;
}
.st-button-white:hover .fa-angle-right {
  color: white;
}
.st-button-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f88085;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.st-button-white:hover, .st-button-white:focus, .st-button-white:active {
  color: white;
}
.st-button-white:hover:before, .st-button-white:focus:before, .st-button-white:active:before {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
}
.st-button-white:visited:hover {
  color: white;
}

.st-image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

[data-scroll-to] {
  cursor: pointer;
}

.stbase-jqueryui-tabs {
  border: none;
}
.stbase-jqueryui-tabs ul {
  margin: 0;
  background-color: transparent;
  border: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: #eee;
  border-bottom: 3px solid #f2000c;
}
.stbase-jqueryui-tabs ul li {
  border: none;
  padding-left: 0;
  float: none;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  text-indent: 0;
  margin-bottom: -1px;
}
.stbase-jqueryui-tabs ul li a {
  padding-left: 0;
  padding-right: 0;
  float: none;
  display: inline-block;
  color: #444;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
}
.stbase-jqueryui-tabs ul li.ui-tabs-active {
  background-color: #f2000c;
  border: none;
}
.stbase-jqueryui-tabs ul li.ui-tabs-active a {
  color: white;
}
.stbase-jqueryui-tabs ul li:before {
  display: none;
}

.st-styled-radio input,
.st-styled-checkbox input {
  position: absolute;
  left: -9999px;
}
.st-styled-radio label,
.st-styled-checkbox label {
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  margin-bottom: 10px;
}
.st-styled-radio label:before,
.st-styled-checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #626669;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box;
}
.st-styled-radio label:after,
.st-styled-checkbox label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #626669;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.st-styled-radio input:not(:checked) + label:after,
.st-styled-checkbox input:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.st-styled-checkbox label:before, .st-styled-checkbox label:after {
  border-radius: 0;
}

ul:not(.menu):not(.sub-menu):not(.list-no) {
  margin-left: 33px;
  padding-left: 0;
}
ul:not(.menu):not(.sub-menu):not(.list-no) li {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 27px;
}
#video-popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-content: center;
  z-index: 1000;
  display: none;
  cursor: pointer;
}
#video-popup-wrapper.opened {
  display: flex;
}
#video-popup-wrapper.opened iframe {
  max-width: 90%;
}

.show-more-text-item .show-more-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
}
.show-more-text-item .show-more-text ul li {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.show-more-text-item .show-more-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f2000c;
  margin-top: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.show-more-text-item .show-more-link i {
  margin-right: 8px;
  font-size: 12px;
  transition: 400ms transform;
}
.show-more-text-item .show-more-link .less {
  display: none;
}
.show-more-text-item .show-more-text.opened + .show-more-link i {
  transform: rotateZ(180deg);
}
.show-more-text-item .show-more-text.opened + .show-more-link span.less {
  display: inline-block;
}
.show-more-text-item .show-more-text.opened + .show-more-link span.more {
  display: none;
}

.show-more-before-after-text-item .show-more-second-text {
  overflow: hidden;
}
.show-more-before-after-text-item .show-more-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f2000c;
  margin-top: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.show-more-before-after-text-item .show-more-link i {
  margin-right: 8px;
  font-size: 12px;
  transition: 400ms transform;
}
.show-more-before-after-text-item .show-more-link .less {
  display: none;
}
.show-more-before-after-text-item .show-more-second-text:not([style="height: 0px;"]) + .show-more-link i {
  transform: rotateZ(180deg);
}
.show-more-before-after-text-item .show-more-second-text:not([style="height: 0px;"]) + .show-more-link span.less {
  display: inline-block;
}
.show-more-before-after-text-item .show-more-second-text:not([style="height: 0px;"]) + .show-more-link span.more {
  display: none;
}

#contact-popup-trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2000c;
  border: 8px solid #f5cfd1;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.25s 1s cubic-bezier(0.175, 0.885, 0.32, 1.75), opacity 0.2s 1s, width 300ms, height 300ms, right 300ms, bottom 300ms;
}
#contact-popup-trigger i {
  font-size: 25px;
  color: white;
  margin-bottom: 2px;
  margin-top: -3px;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: unset !important;
  border: unset !important;
}
#contact-popup-trigger span {
  color: #ffffff;
  font-family: Rubik;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
}
#contact-popup-trigger:hover {
  width: 100px;
  height: 100px;
  bottom: 14px;
  right: 14px;
}

.zoom-in-on-scroll {
  overflow: hidden;
}
.zoom-in-on-scroll picture {
  overflow: hidden;
}
.zoom-in-on-scroll picture img {
  transform: scale(1.2);
  transition: 0s all;
}
.zoom-in-on-scroll.scrolled-to picture img {
  transition: 2s all;
  transform: none;
}

.zoom-out-on-scroll {
  overflow: hidden;
}
.zoom-out-on-scroll picture img {
  transition: 2s all;
}
.zoom-out-on-scroll.scrolled-to picture img {
  transform: scale(1.2);
}

body.admin-bar #masthead {
  top: 32px;
}

/* Styles of  */
.cookie {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0;
  transform: translateY(calc(100% + 1px));
  visibility: hidden;
  transition: transform 0.5s;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 950;
}
.cookie.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: transform 0.5s 1s;
}
.cookie.hide {
  display: none;
}
.cookie__text {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin: 0 10px 0 0;
}
@media (max-width: 700px) {
  .cookie__text {
    margin: 0 0 10px;
  }
}
.cookie__url {
  font-size: 14px;
  line-height: 22px;
  color: #f2000c;
}
.cookie__url:visited {
  color: #f2000c;
}
.cookie button.st-button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .cookie {
    flex-flow: column;
  }
  .cookie button.st-button {
    margin-left: 0;
    margin-top: 10px;
  }
}

.stbase-hero .container .hero-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 474px;
}
.stbase-hero .container .hero-slide .dark-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 50px;
}
.stbase-hero .container .hero-slide .dark-layer h1 {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 25px 0;
}
.stbase-hero .container .hero-slide .dark-layer p {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0;
  max-width: 412px;
  font-weight: 500;
}
@media (max-width: 1350px) {
  .stbase-hero .container {
    padding-left: 0;
    padding-right: 0;
  }
  .stbase-hero .container .hero-slide .dark-layer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

header#masthead {
  padding-top: 35px;
  width: 100%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  transition: all 300ms;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header#masthead.addshadow {
  padding-top: 14px;
  box-shadow: 0 2px 2px 0 rgba(71, 0, 4, 0.28);
  animation-duration: 4s;
  background-color: white;
}
header#masthead.addshadow .container #site-navigation ul li ul.sub-menu {
  box-shadow: 0 2px 2px 0 rgba(71, 0, 4, 0.28);
  background-color: white !important;
}
header#masthead .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
}
header#masthead .container .site-branding {
  padding-bottom: 10px;
}
@media (max-width: 910px) {
  header#masthead .container {
    padding-bottom: 10px;
  }
  header#masthead .container .site-branding {
    padding-bottom: 0;
  }
  header#masthead .container .site-branding a.custom-logo-link img {
    height: 38px;
    width: auto;
  }
}
header#masthead .container button.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
}
header#masthead .container button.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #f2000c;
  margin: 6px 0;
  transition: all 400ms;
  display: block;
}
header#masthead .container button.menu-toggle.toggled .bar1 {
  transform: rotate(-45deg) translate(-11.8px, 1.2px);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  header#masthead .container button.menu-toggle.toggled .bar1 {
    transform: rotate(-45deg) translate(-12px, 1.4px);
  }
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  header#masthead .container button.menu-toggle.toggled .bar1 {
    transform: rotate(-45deg) translate(-11.5px, 1px);
  }
}
header#masthead .container button.menu-toggle.toggled .bar2 {
  opacity: 0;
}
header#masthead .container button.menu-toggle.toggled .bar3 {
  transform: rotate(45deg) translate(-11px, -1px);
}
@media (max-width: 910px) {
  header#masthead .container button.menu-toggle {
    display: inline-block;
  }
}
header#masthead .container #site-navigation {
  width: auto;
  float: none;
  clear: none;
}
header#masthead .container #site-navigation ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 14px;
}
header#masthead .container #site-navigation ul li {
  padding-bottom: 10px;
}
header#masthead .container #site-navigation ul li a {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding: 2px 2px 20px;
  margin: 0 22px;
  border-bottom: 2px solid transparent;
}
header#masthead .container #site-navigation ul li a:hover {
  color: #f2000c;
}
header#masthead .container #site-navigation ul li a i {
  display: none;
}
@media (min-width: 1001px) and (max-width: 1140px) {
  header#masthead .container #site-navigation ul li a {
    font-size: 16px;
    margin: 0 14px;
  }
}
@media (min-width: 910px) and (max-width: 1000px) {
  header#masthead .container #site-navigation ul li a {
    font-size: 15px;
    margin: 0 10px;
  }
}
@media (min-width: 1300px) {
  header#masthead .container #site-navigation ul li a {
    font-size: 17px;
  }
}
header#masthead .container #site-navigation ul li.current-menu-parent a, header#masthead .container #site-navigation ul li.current-menu-item a {
  color: #f2000c;
}
header#masthead .container #site-navigation ul li.current-menu-parent ul li a, header#masthead .container #site-navigation ul li.current-menu-item ul li a {
  color: #000000;
}
header#masthead .container #site-navigation ul li.current-menu-parent ul li a:hover, header#masthead .container #site-navigation ul li.current-menu-item ul li a:hover {
  color: #f2000c;
}
header#masthead .container #site-navigation ul li.current-menu-parent ul li.current-menu-item a, header#masthead .container #site-navigation ul li.current-menu-item ul li.current-menu-item a {
  color: #f2000c;
}
header#masthead .container #site-navigation ul li:hover > a {
  color: #f2000c;
  border-bottom: 2px solid #f2000c;
  position: relative;
}
header#masthead .container #site-navigation ul li:hover > a:after {
  width: 100%;
  height: 1.5px;
  background-color: #f2000c;
  content: " ";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -2px;
}
header#masthead .container #site-navigation ul li:last-child a {
  margin-right: 0;
}
header#masthead .container #site-navigation ul li ul.sub-menu {
  box-shadow: none;
  padding: 4px 0 10px;
  background-color: white;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
header#masthead .container #site-navigation ul li ul.sub-menu li {
  padding-bottom: 0;
}
header#masthead .container #site-navigation ul li ul.sub-menu li a {
  border-bottom: none;
  width: 500px;
  padding: 7px 0 10px 4px;
  max-width: 310px;
  text-transform: capitalize;
}
header#masthead .container #site-navigation ul li ul.sub-menu li a:hover:after {
  display: none;
}
header#masthead .container #site-navigation ul li ul.sub-menu li a span {
  text-transform: none;
}
header#masthead .container #site-navigation ul li ul.sub-menu li.current-menu-item a {
  border-bottom: none;
}
header#masthead .container #site-navigation ul li.wpml-ls-item > a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.55);
  font-family: Rubik;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  top: 2.5px;
}
header#masthead .container #site-navigation ul li.wpml-ls-item > a:after {
  display: block;
  content: "";
  width: 10px;
  height: 6px;
  background: url("/wp-content/themes/st-base-theme/assets/imgs/menu-arrow-up.svg") no-repeat transparent;
  position: absolute;
  top: 8px;
  right: -12px;
  transform: rotateZ(180deg);
  transition: 200ms all;
}
header#masthead .container #site-navigation ul li.wpml-ls-item:hover > a {
  color: rgba(0, 0, 0, 0.55);
}
header#masthead .container #site-navigation ul li.wpml-ls-item:hover > a:after {
  transform: rotateZ(0);
  left: unset;
}
header#masthead .container #site-navigation ul li.wpml-ls-item ul.sub-menu {
  padding-top: 0;
  padding-bottom: 15px;
  margin-left: -1px;
}
header#masthead .container #site-navigation ul li.wpml-ls-item ul.sub-menu li a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.55);
  font-family: Rubik;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  padding-left: 3px;
  padding-bottom: 0;
  padding-top: 5px;
  margin-right: 22px;
  width: auto;
}
header#masthead .container #site-navigation ul li.wpml-ls-item ul.sub-menu li a:after {
  display: none;
}
header#masthead .container #site-navigation ul li.wpml-ls-item ul.sub-menu li a:hover {
  color: #f2000c;
}
header#masthead .container #site-navigation ul li .leftauto {
  left: auto;
}
@media (min-width: 1041px) and (max-width: 1300px) {
  header#masthead .container #site-navigation ul#primary-menu li a {
    padding: 10px 5px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item > a:after {
    top: 16px;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item ul.sub-menu li a {
    padding-left: 7px;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item ul.sub-menu li a:first-child {
    padding-bottom: 0;
  }
}
@media (min-width: 931px) and (max-width: 1040px) {
  header#masthead .container #site-navigation ul#primary-menu li a {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 911px) and (max-width: 930px) {
  header#masthead .container #site-navigation ul#primary-menu li a {
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media (max-width: 910px) {
  header#masthead .container #site-navigation {
    position: relative;
    display: none;
    width: 100% !important;
  }
  header#masthead .container #site-navigation ul#primary-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  header#masthead .container #site-navigation ul#primary-menu li {
    width: 100%;
    float: none;
    margin: 5px 0 5px;
    background-color: rgba(0, 0, 0, 0.02);
    padding-bottom: 0;
  }
  header#masthead .container #site-navigation ul#primary-menu li a {
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
  }
  header#masthead .container #site-navigation ul#primary-menu li a i {
    float: right;
    color: #dfdfdf;
    font-size: 20px;
    position: relative;
    top: 1px;
  }
  header#masthead .container #site-navigation ul#primary-menu li:hover a:after {
    display: none;
  }
  header#masthead .container #site-navigation ul#primary-menu li.menu-item-has-children a i.fa-plus {
    display: inline-block;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu {
    float: none;
    position: static;
    margin: 0 0 10px;
    background-color: transparent !important;
    padding: 0;
    display: none;
    width: 100% !important;
    box-shadow: none;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li {
    background-color: transparent;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li a {
    text-transform: capitalize;
    border: none;
    font-size: 14px;
    width: 100%;
    color: #303030;
    padding: 5px 10px;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li a i.fa-plus,
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li a i.fa-minus {
    display: none;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li a:focus, header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li a:active, header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li a.highlighted {
    color: #f2000c;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li:first-child {
    margin-top: 0;
  }
  header#masthead .container #site-navigation ul#primary-menu li ul.sub-menu li:last-child {
    margin-bottom: 0;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item {
    display: flex;
    width: 40px;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item > a {
    color: #f2000c;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item > a:after,
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item > a i {
    display: none !important;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item ul.sub-menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    box-shadow: none;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item ul.sub-menu li {
    margin-bottom: 0;
    margin-top: 0;
    width: 50px;
  }
  header#masthead .container #site-navigation ul#primary-menu li.wpml-ls-item ul.sub-menu li a {
    margin-right: 0;
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
  }
  header#masthead .container #site-navigation ul#primary-menu li.expanded a {
    color: #f2000c;
  }
  header#masthead .container #site-navigation ul#primary-menu li.expanded a i.fa-plus {
    display: none;
  }
  header#masthead .container #site-navigation ul#primary-menu li.expanded a i.fa-minus {
    display: inline-block;
  }
  header#masthead .container #site-navigation ul#primary-menu li.expanded ul.sub-menu li a i.fa-plus,
  header#masthead .container #site-navigation ul#primary-menu li.expanded ul.sub-menu li a i.fa-minus {
    display: none;
  }
  header#masthead .container #site-navigation ul#primary-menu li.current-menu-item:not(.menu-item-has-children) a {
    color: #f2000c;
  }
}
@media (max-width: 1350px) {
  header#masthead .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

#footer-wrapper {
  background-color: #171719;
}
#footer-wrapper footer#colophon {
  padding: 40px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
#footer-wrapper footer#colophon #footer-logo-wrapper {
  width: 23%;
}
#footer-wrapper footer#colophon #footer-pivacy-policy-wrapper {
  width: 25%;
  text-align: center;
}
#footer-wrapper footer#colophon #footer-pivacy-policy-wrapper a {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: white;
}
#footer-wrapper footer#colophon #footer-pivacy-policy-wrapper a:hover {
  color: #f2000c;
}
#footer-wrapper footer#colophon #footer-text {
  width: 25%;
}
#footer-wrapper footer#colophon #footer-text p {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
#footer-wrapper footer#colophon #footer-text p:first-child {
  margin-top: 0;
}
#footer-wrapper footer#colophon #footer-text a {
  color: white;
}
#footer-wrapper footer#colophon #footer-text a:hover {
  color: #f2000c;
}
#footer-wrapper footer#colophon #footer-social-links {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
#footer-wrapper footer#colophon #footer-social-links a {
  font-size: 24px;
  line-height: 24px;
  color: white;
  margin-right: 33px;
  cursor: pointer;
}
#footer-wrapper footer#colophon #footer-social-links a:hover {
  color: #f2000c;
}
#footer-wrapper footer#colophon:before, #footer-wrapper footer#colophon:after {
  display: none;
}
@media (max-width: 1030px) {
  #footer-wrapper footer#colophon {
    padding: 30px 25px;
  }
  #footer-wrapper footer#colophon #footer-logo-wrapper {
    width: 20%;
  }
  #footer-wrapper footer#colophon #footer-pivacy-policy-wrapper {
    width: 22%;
  }
  #footer-wrapper footer#colophon #footer-social-links {
    justify-content: center;
  }
  #footer-wrapper footer#colophon #footer-social-links a {
    margin-right: 0;
  }
  #footer-wrapper footer#colophon #footer-social-links a + a {
    margin-left: 24px;
  }
}
@media (max-width: 700px) {
  #footer-wrapper footer#colophon {
    flex-wrap: wrap;
    align-items: center;
  }
  #footer-wrapper footer#colophon #footer-logo-wrapper {
    width: 100%;
    text-align: center;
  }
  #footer-wrapper footer#colophon #footer-pivacy-policy-wrapper {
    width: 100%;
    margin: 20px 0 0;
  }
  #footer-wrapper footer#colophon #footer-text {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
  #footer-wrapper footer#colophon #footer-social-links {
    width: 100%;
  }
}
@media (min-width: 795px) and (max-width: 890px) {
  #footer-wrapper footer#colophon.de-DE #footer-text p a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 701px) and (max-width: 794px) {
  #footer-wrapper footer#colophon.de-DE #footer-text p a {
    font-size: 14px;
    line-height: 18px;
  }
}

.contact-us-section {
  background-color: #fff6f5;
}
.contact-us-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 55px 110px;
  align-items: stretch;
}
.contact-us-section .container .contact-column-1 {
  width: 44%;
}
.contact-us-section .container .contact-column-1 h2 {
  font-family: "Rubik";
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #f2000c;
  margin-bottom: 13px;
}
.contact-us-section .container .contact-column-1 .contact-us-text p {
  font-size: 30px;
  line-height: 36px;
  color: black;
  font-weight: 300;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form {
  max-width: 445px;
  margin-top: 65px;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group {
  width: 100%;
  position: relative;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group label {
  color: #4b4646;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  top: 17px;
  transition: all 250ms;
  display: inline-block;
  position: absolute;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group input {
  width: 100%;
  color: #4b4646;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 6px;
  border: none;
  background: transparent;
  border-bottom: 1.3px solid rgba(242, 0, 12, 0.2);
  transition: all 400ms;
  padding-left: 0;
  border-radius: 0;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group textarea {
  width: 100%;
  height: 80px;
  color: #4b4646;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 8px;
  border: none;
  background: transparent;
  border-bottom: 1.3px solid rgba(242, 0, 12, 0.2);
  padding-left: 0;
  border-radius: 0;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group span[data-name=your-message] {
  display: block;
  height: 80px;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group:after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #f2000c;
  position: absolute;
  bottom: 1.5px;
  transition: 250ms all;
  left: 50%;
  position: relative;
  z-index: 100;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group.focus:after {
  width: 100%;
  transform: translateX(-50%);
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group.filled label {
  font-size: 12px;
  top: 9px;
  color: #f2000c;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .field-group.filled.safari label {
  opacity: 0.1;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.column-2 {
  display: flex;
  justify-content: space-between;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.column-2 .field-group {
  width: 48%;
}
@media (max-width: 400px) {
  .contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.column-2 {
    flex-direction: column;
  }
  .contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.column-2 .field-group {
    width: 100%;
  }
  .contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.column-2 .field-group:last-child {
    margin-top: 30px;
  }
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.captcha .field-group img.wpcf7-form-control {
  float: right;
  position: relative;
  top: 15px;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row + .form-row {
  margin-top: 20px;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row + .form-row.swisst-hp {
  margin-top: 0;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item {
  margin-left: 0;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item label input {
  position: absolute;
  left: -9999px;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item label .wpcf7-list-item-label {
  display: block;
  padding-left: 27px;
  cursor: pointer;
  position: relative;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item label .wpcf7-list-item-label a {
  color: #f2000c;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item label .wpcf7-list-item-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(242, 0, 12, 0.2);
  background: #fff;
  box-sizing: border-box;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item label .wpcf7-list-item-label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #f2000c;
  position: absolute;
  top: 10px;
  left: 6px;
  transition: all 0.2s ease;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row .wpcf7-acceptance .wpcf7-list-item label input:not(:checked) + .wpcf7-list-item-label:after {
  opacity: 0;
  transform: scale(0);
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .form-row.last {
  margin: 30px 0;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form button[type=submit] {
  margin-top: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
}
.contact-us-section .container .contact-column-1 form.wpcf7-form .wpcf7 form.sent .wpcf7-response-output {
  border: none;
  background-color: rgba(0, 255, 0, 0.1);
  margin: 30px 0 0;
  font-weight: 500;
}
.contact-us-section .container .contact-column-2 {
  width: 44%;
  display: flex;
  flex-direction: column;
}
.contact-us-section .container .contact-column-2 .contact-cup-animation {
  /* width: 400px; */
  height: 260px;
  position: relative;
  overflow: hidden;
  /* top: -13px; */
}
.contact-us-section .container .contact-column-2 .contact-cup-animation lottie-player {
  position: absolute;
  top: -117px;
  left: -100px;
}
@media (max-width: 1200px) {
  .contact-us-section .container .contact-column-2 .contact-cup-animation {
    width: 400px;
    height: 200px;
    top: -13px;
  }
  .contact-us-section .container .contact-column-2 .contact-cup-animation lottie-player {
    width: 400px !important;
    height: 400px !important;
    top: -75px;
    left: -30px;
  }
}
@media (max-width: 1000px) {
  .contact-us-section .container .contact-column-2 .contact-cup-animation {
    width: 240px;
    height: 200px;
  }
  .contact-us-section .container .contact-column-2 .contact-cup-animation lottie-player {
    top: -75px;
    left: -90px;
  }
}
@media (max-width: 730px) {
  .contact-us-section .container .contact-column-2 .contact-cup-animation {
    left: -50px;
  }
}
.contact-us-section .container .contact-column-2 #contact-informations a {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: rgba(242, 0, 12, 0.41);
  cursor: pointer;
}
.contact-us-section .container .contact-column-2 #contact-informations #city-list a + a {
  margin-left: 24px;
}
.contact-us-section .container .contact-column-2 #contact-informations #city-list a:hover {
  color: #f2000c;
}
.contact-us-section .container .contact-column-2 #contact-informations #city-list a.selected {
  color: #f2000c;
}
@media (max-width: 995px) {
  .contact-us-section .container .contact-column-2 #contact-informations #city-list a + a {
    margin-left: 15px;
  }
}
@media (max-width: 400px) {
  .contact-us-section .container .contact-column-2 #contact-informations #city-list a + a {
    margin-left: 10px;
  }
}
.contact-us-section .container .contact-column-2 #contact-informations .contact-info-text {
  margin: 20px 0 35px;
  max-width: 330px;
  transition: all 300ms;
}
.contact-us-section .container .contact-column-2 #contact-informations .contact-info-text h3 {
  font-family: "Rubik";
  font-size: 15px;
  line-height: 18px;
  color: #f2000c;
  font-weight: 600;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.contact-us-section .container .contact-column-2 #contact-informations .contact-info-text p {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #303030;
}
.contact-us-section .container .contact-column-2 #contact-informations .contact-info-text a {
  color: #f2000c;
  font-weight: normal;
}
.contact-us-section .container .contact-column-2 #contact-informations .contact-info-text a:hover {
  text-decoration: underline;
}
.contact-us-section .container .contact-column-2 #contact-informations .contact-info-text.selected {
  display: block;
}
@media (min-width: 631px) and (max-width: 1200px) {
  .contact-us-section .container .contact-column-2 #contact-informations {
    margin-top: 30px;
  }
}
.contact-us-section .container .contact-column-2 a.contact-social-icon {
  margin: 29px 0 0 0;
}
.contact-us-section .container .contact-column-2 a.contact-social-icon i.fab {
  color: #303030;
  font-size: 24px;
  transition: 300ms all;
}
.contact-us-section .container .contact-column-2 a.contact-social-icon:hover i.fab {
  color: #f2000c;
}
.contact-us-section .container .contact-column-2 a.contact-social-icon + .contact-social-icon {
  margin-left: 33px;
}
@media (max-width: 900px) {
  .contact-us-section .container {
    padding: 60px 25px;
  }
  .contact-us-section .container .contact-column-1 {
    width: 45%;
  }
  .contact-us-section .container .contact-column-2 {
    width: 47%;
  }
}
@media (max-width: 630px) {
  .contact-us-section .container {
    flex-direction: column;
  }
  .contact-us-section .container .contact-column-1 {
    width: 100%;
  }
  .contact-us-section .container .contact-column-1 h2 {
    text-align: center;
  }
  .contact-us-section .container .contact-column-1 .contact-us-text {
    text-align: center;
  }
  .contact-us-section .container .contact-column-1 form.wpcf7-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .contact-us-section .container .contact-column-1 form.wpcf7-form p {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-section .container .contact-column-1 form.wpcf7-form .wpcf7-list-item {
    margin-left: 0;
  }
  .contact-us-section .container .contact-column-2 {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .contact-us-section .container .contact-column-2 .contact-cup-animation {
    position: relative;
    left: 7px;
    top: unset;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .contact-us-section .container .contact-column-2 .contact-cup-animation lottie-player {
    top: -75px;
    left: -90px;
  }
  .contact-us-section .container .contact-column-2 #contact-informations a:last-child {
    margin-right: 0;
  }
  .contact-us-section .container .contact-column-2 #contact-informations .contact-info-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.contact-us-section .container.mod-on-de {
  padding: 0;
}
.contact-us-section .container.mod-on-de .contact-column-1 {
  width: 50%;
  padding: 55px 100px 30px 110px;
}
.contact-us-section .container.mod-on-de .contact-column-1 h2 {
  margin-top: 0;
}
.contact-us-section .container.mod-on-de .contact-column-1 form.wpcf7-form {
  margin-top: 30px;
}
.contact-us-section .container.mod-on-de .contact-column-1 form.wpcf7-form .form-row + .form-row {
  margin-top: 21px;
}
.contact-us-section .container.mod-on-de .contact-column-2 {
  width: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-section .container.mod-on-de .contact-column-2 img {
  width: 187px;
  left: -57px;
  top: 30px;
  position: relative;
  margin-bottom: 0;
}
.contact-us-section .container.mod-on-de .contact-column-2 #contact-informations #contact-zurich {
  width: 337px;
  background-color: #fff6f5;
  padding: 40px 40px 33px 0;
  margin: 0;
}
.contact-us-section .container.mod-on-de .contact-column-2 a.contact-social-icon {
  display: none;
}
@media (max-width: 1000px) {
  .contact-us-section .container.mod-on-de .contact-column-1 {
    padding: 30px 50px 30px 30px;
  }
}
@media (min-width: 631px) and (max-width: 775px) {
  .contact-us-section .container.mod-on-de .contact-column-1 {
    padding-left: 25px;
    padding-right: 25px;
    width: 60%;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 {
    width: 40%;
    background-position-x: -80px;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 #contact-informations #contact-zurich {
    width: 100%;
    padding-right: 25px;
  }
}
@media (min-width: 631px) and (max-width: 705px) {
  .contact-us-section .container.mod-on-de .contact-column-2 #contact-informations #contact-zurich p {
    font-size: 14px;
    line-height: 18px;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 #contact-informations #contact-zurich p a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
}
@media (max-width: 630px) {
  .contact-us-section .container.mod-on-de {
    flex-direction: column;
  }
  .contact-us-section .container.mod-on-de .contact-column-1 {
    width: 100%;
    padding: 30px;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 {
    width: 100%;
    height: auto;
    align-items: center;
    background-image: none !important;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 img {
    position: static;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 #contact-informations #contact-info-text {
    width: 377px;
    padding-left: 40px;
  }
  .contact-us-section .container.mod-on-de .contact-column-2 #contact-informations #contact-zurich {
    padding-left: 0;
    padding-right: 0;
  }
}
.contact-us-section.compact .container .contact-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-us-section.compact .container .contact-column-2 .contact-cup-animation {
  height: 227px;
}
@media (min-width: 631px) and (max-width: 900px) {
  .contact-us-section.compact .container .contact-column-1 {
    width: 52%;
  }
  .contact-us-section.compact .container .contact-column-2 {
    width: 40%;
  }
  .contact-us-section.compact .container .contact-column-2 .contact-cup-animation {
    left: 0;
  }
}
@media (max-width: 630px) {
  .contact-us-section.compact .container .contact-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-section.compact .container .contact-column-1 a.st-button-link {
    margin-top: 20px;
  }
  .contact-us-section.compact .container .contact-column-2 .contact-cup-animation {
    margin-bottom: 0;
  }
}

.masonry-references-list-section .masonry-references-intro {
  max-width: 1117px;
  margin-top: 60px;
}
.masonry-references-list-section .masonry-references-intro h1.intro-title,
.masonry-references-list-section .masonry-references-intro h2.intro-title {
  color: #f2000c;
  font-family: Rubik;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0 0 13px;
  font-weight: 400;
  max-width: 922px;
}
.masonry-references-list-section .masonry-references-intro #references-intro-text p {
  color: #110f24;
  font-family: Rubik;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 52px;
  margin: 0;
  max-width: 922px;
}
.masonry-references-list-section .masonry-references-intro #references-intro-text p + p {
  margin-top: 11px;
}
.masonry-references-list-section .masonry-references-intro #filter-section {
  margin-top: 95px;
  max-width: 922px;
}
.masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes {
  display: flex;
}
.masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box {
  opacity: 0.25;
  color: #1c1c1c;
  font-family: Rubik;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  margin-right: 30px;
}
.masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box:before {
  content: "";
  position: absolute;
  width: 1%;
  height: 1.5px;
  bottom: -3px;
  left: 0;
  background-color: #f2000c;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box.selected {
  opacity: 0.85;
}
.masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box.selected:before {
  width: 100%;
  visibility: visible;
}
.masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .fa-spinner {
  align-self: center;
  font-size: 28px;
  line-height: 28px;
  color: #f2000c;
  opacity: 0.7;
  animation: spinning-frames 1.5s infinite linear;
  display: none;
}
.masonry-references-list-section .masonry-references-intro #filter-section:not(.loading) .filter-area .filter-boxes .filter-box {
  cursor: pointer;
}
@media (hover: hover) {
  .masonry-references-list-section .masonry-references-intro #filter-section:not(.loading) .filter-area .filter-boxes .filter-box:not(.selected):hover {
    opacity: 0.5;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section:not(.loading) .filter-area .filter-boxes .filter-box:not(.selected):hover:before {
    width: 100%;
    visibility: visible;
  }
}
.masonry-references-list-section .masonry-references-intro #filter-section.loading .filter-area .filter-boxes .filter-box.selected {
  opacity: 0.25;
}
.masonry-references-list-section .masonry-references-intro #filter-section.loading .filter-area .filter-boxes .fa-spinner {
  display: inline-block;
}
@media (max-width: 1170px) {
  .masonry-references-list-section .masonry-references-intro #filter-section {
    flex-direction: column;
    align-items: center;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section h2 {
    text-align: center;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section #platform-filter-area {
    margin-bottom: 20px;
  }
}
@media (max-width: 910px) {
  .masonry-references-list-section .masonry-references-intro {
    margin-top: 10px;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section {
    margin-top: 55px;
  }
}
@media (max-width: 700px) {
  .masonry-references-list-section .masonry-references-intro #references-intro-text p {
    font-size: 32px;
    line-height: 42px;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section {
    margin-top: 25px;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50px) 40px;
    align-items: center;
    justify-items: flex-start;
    margin-bottom: -40px;
  }
}
@media (max-width: 540px) {
  .masonry-references-list-section .masonry-references-intro {
    margin-top: 20px;
  }
  .masonry-references-list-section .masonry-references-intro h1.intro-title,
  .masonry-references-list-section .masonry-references-intro h2.intro-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .masonry-references-list-section .masonry-references-intro #references-intro-text p {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 405px) {
  .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes {
    grid-template-rows: repeat(2, 45px) 40px;
  }
  .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 22px;
    line-height: 22px;
  }
}
@media (max-width: 375px) {
  .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 20px;
  }
}
@media (max-width: 355px) {
  .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 18px;
  }
}
.masonry-references-list-section h2.no-intro {
  color: #f2000c;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 39px;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 1250px;
  width: 100%;
}
@media (max-width: 1300px) {
  .masonry-references-list-section h2.no-intro {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.masonry-references-list-section .masonry-references-list.container {
  max-width: 1248px;
  position: relative;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20px;
  opacity: 0;
  transition: 100ms opacity;
  margin-top: 80px;
}
.masonry-references-list-section .masonry-references-list.container .reference {
  position: relative;
  margin: 0;
  cursor: pointer;
  transition: 200ms all;
  opacity: 0;
  transform: translateY(50px);
}
.masonry-references-list-section .masonry-references-list.container .reference .reference__image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.masonry-references-list-section .masonry-references-list.container .reference .reference__image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  transition: 800ms all cubic-bezier(0.33, 1, 0.68, 1);
}
.masonry-references-list-section .masonry-references-list.container .reference .reference__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 35px 32px;
}
.masonry-references-list-section .masonry-references-list.container .reference .reference__content h3 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
  margin: 0 0 4px;
}
.masonry-references-list-section .masonry-references-list.container .reference .reference__content p {
  opacity: 0.7;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 3px;
}
.masonry-references-list-section .masonry-references-list.container .reference .reference__content .reference__content__category {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1px 5px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  display: inline-block;
  text-transform: uppercase;
}
.masonry-references-list-section .masonry-references-list.container .reference.black-layer .reference__content {
  background: linear-gradient(180deg, rgba(40, 38, 57, 0.8) 0%, rgba(40, 38, 57, 0) 50%);
}
.masonry-references-list-section .masonry-references-list.container .reference.scrolled-to, .masonry-references-list-section .masonry-references-list.container .reference.no-scroll {
  opacity: 1;
  transform: translateY(0);
}
.masonry-references-list-section .masonry-references-list.container .reference:hover .reference__image-wrapper img {
  transform: scale(1.1);
}
.masonry-references-list-section .masonry-references-list.container .reference:nth-child(2n+1) {
  grid-column-start: 1;
}
.masonry-references-list-section .masonry-references-list.container .reference:nth-child(2n) {
  grid-column-start: 2;
}
.masonry-references-list-section .masonry-references-list.container .reference[data-id="85108"]:not(:hover) .reference__image-wrapper img, .masonry-references-list-section .masonry-references-list.container .reference[data-id="86417"]:not(:hover) .reference__image-wrapper img, .masonry-references-list-section .masonry-references-list.container .reference[data-id="85920"]:not(:hover) .reference__image-wrapper img {
  transform: scale(1.03);
}
@media (min-width: 1150px) {
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content [data-text-slide-from-up] {
    position: relative;
    overflow: hidden;
  }
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content [data-text-slide-from-up]:after {
    content: attr(data-text-slide-from-up);
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(43px);
    left: 0;
    transition: 800ms all cubic-bezier(0.33, 1, 0.68, 1);
    color: white;
  }
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content [data-text-slide-from-up] .text-slide-down {
    position: relative;
    transition: 800ms all cubic-bezier(0.33, 1, 0.68, 1);
    display: inline-block;
  }
  .masonry-references-list-section .masonry-references-list.container .reference:hover .reference__content [data-text-slide-from-up]:after {
    transform: translateY(0);
  }
  .masonry-references-list-section .masonry-references-list.container .reference:hover .reference__content [data-text-slide-from-up] .text-slide-down {
    transform: translateY(-43px);
  }
}
@media (min-width: 651px) and (max-width: 990px) {
  .masonry-references-list-section .masonry-references-list.container .reference.mobile-black-layer .reference__content {
    background: linear-gradient(180deg, rgba(40, 38, 57, 0.8) 0%, rgba(40, 38, 57, 0) 80%);
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 650px) {
  .masonry-references-list-section .masonry-references-list.container {
    display: block;
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
  }
  .masonry-references-list-section .masonry-references-list.container h2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.masonry-references-list-section .more-references:not(.no-scroll) {
  opacity: 0;
  transform: translateY(50px);
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.masonry-references-list-section .more-references:not(.no-scroll).scrolled-to {
  opacity: 1;
  transform: translateY(0);
}
.masonry-references-list-section .more-references:not(.no-scroll).scrolled-to:hover {
  transform: translateY(-3px);
}
.masonry-references-list-section.loading {
  position: relative;
}
.masonry-references-list-section.loading .masonry-references-list:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  content: " ";
  z-index: 2;
}
@media (max-width: 700px) {
  .masonry-references-list-section .masonry-references-list.container {
    margin-top: 50px;
  }
}
@media (max-width: 640px) {
  .masonry-references-list-section {
    margin-bottom: 30px;
  }
  .masonry-references-list-section .masonry-references-list.container {
    margin-bottom: 0;
  }
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content {
    padding: 30px;
  }
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content h3 {
    text-shadow: 0 0 2px black;
  }
  .masonry-references-list-section .masonry-references-list.container .reference .reference__content p {
    text-shadow: 0 0 2px black;
  }
  .masonry-references-list-section .more-references {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .masonry-references-list-section .masonry-references-list.container .reference.mobile-black-layer .reference__content {
    background: linear-gradient(180deg, rgba(40, 38, 57, 0.8) 0%, rgba(40, 38, 57, 0) 80%);
  }
}
@media (max-width: 380px) {
  .masonry-references-list-section .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 540px) {
  body.fr-FR .masonry-references-list-section .masonry-references-intro #references-intro-text p {
    font-size: 24px;
    line-height: 34px;
  }
  body.fr-FR .masonry-references-list-section #filter-section .filter-area .filter-boxes {
    grid-template-columns: 1.5fr 1fr;
  }
  body.fr-FR .masonry-references-list-section #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .masonry-references-list-section #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 18px;
  }
}

body.de-DE .masonry-references-list-section .masonry-references-intro #references-intro-text p {
  font-size: 34px;
  line-height: 45px;
}
body.de-DE .masonry-references-list-section .masonry-references-intro #filter-section {
  margin-top: 55px;
}
@media (max-width: 700px) {
  body.de-DE .masonry-references-list-section .masonry-references-intro #references-intro-text p {
    font-size: 28px;
    line-height: 38px;
  }
  body.de-DE .masonry-references-list-section .masonry-references-intro #filter-section {
    margin-top: 25px;
  }
}
@media (max-width: 500px) {
  body.de-DE .masonry-references-list-section .masonry-references-intro #references-intro-text p {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 425px) {
  body.de-DE .masonry-references-list-section .masonry-references-intro #references-intro-text p {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 414px) {
  body.de-DE .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 22px;
  }
}
@media (max-width: 385px) {
  body.de-DE .masonry-references-list-section .masonry-references-intro #filter-section .filter-area .filter-boxes .filter-box {
    font-size: 18px;
    line-height: 18px;
  }
}