// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-awards-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    to right,
    #edf0f2 0%,
    #edf0f2 50%,
    #f2000c 51%,
    #f2000c 100%
  );

  .center-1300 {
    max-width: 1300px;
    min-height: 944px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;

    .awards-column {
      width: 50%;
      background-color: #edf0f2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .award {
        width: 460px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 20px;

        img {
          max-width: 192px;
        }

        ul {
          list-style-type: none;
          padding-left: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-self: flex-start;

          li {
            font-family: Rubik;
            font-size: 15.23px;
            letter-spacing: 0;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;

            & + li {
              margin-top: 5px;
            }
          }
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 15.2px;
          line-height: 18px;
          text-transform: uppercase;
          color: #000000;
          mix-blend-mode: normal;
          opacity: 0.85;
          justify-self: flex-start;
        }

        & + .award {
          margin-top: 50px;
        }

        &:nth-child(2) {
          img {
            box-shadow: 0px 2.68966px 25.5517px rgba(0, 0, 0, 0.14);
          }
        }

        &:last-child {
          img {
            box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.14);
          }
        }
      }
    }

    .awards-text-column {
      width: 50%;
      background-color: $primary;
      padding: 65px;
      display: flex;
      align-items: center;

      p {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 58px;
        line-height: 65px;
        color: #f5f5f5;
      }
    }

    @media (max-width: 980px) {
      flex-direction: column-reverse;

      .awards-column {
        width: 100%;
        padding: 126px 25px;
      }

      .awards-text-column {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 150px 25px 155px;

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 58px;
          line-height: 65px;
          color: #f5f5f5;
          max-width: 590px;
        }
      }
    }

    @media (max-width: 520px) {
      flex-direction: column-reverse;

      .awards-column {
        padding: 76px 25px 45px;

        .award {
          justify-items: center;
          column-gap: 0;

          img {
            max-width: 120px;
          }

          ul {
            li {
              font-weight: 500;
              font-size: 12.2178px;
              line-height: 14px;
            }
          }

          p {
            font-weight: 500;
            font-size: 12.197px;
            line-height: 14px;
          }

          & + .award {
            margin-top: 40px;
          }
        }
      }

      .awards-text-column {
        padding: 72px 25px;

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 43px;
          line-height: 120%;
          color: #f5f5f5;
        }
      }
    }

    @media (max-width: 420px) {
      .awards-column {
        .award {
          column-gap: 20px;

          picture {
            justify-self: flex-end;
            margin-right: 20px;
          }
        }
      }
    }

    @media (max-width: 380px) {
      .awards-column {
        .award {
          grid-template-columns: 1fr 1.2fr;

          picture {
            img {
              width: 90px;
            }
          }
        }
      }
    }
  }
}
