.stbase-big-red-text-block {
  background-color: #f2000c;
  grid-auto-flow: row;
  align-items: center;
  position: relative;

  .container {
    max-width: 1130px;
    padding: 170px 50px;

    h3 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 33px;
      line-height: 120%;
      color: #ffffff;
      margin: 0 0 36px;
    }

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.8);
      margin: 30px 0;
    }
  }

  @media (max-width: 1350px) {
    .container {
      padding: 140px 50px;
    }
  }

  @media (max-width: 960px) {
    .container {
      padding: 80px 36px;
    }
  }

  @media (max-width: 620px) {
    .container {
      h3 {
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 25px;
      }

      p {
        font-size: 22px;
        margin: 25px 0;
      }
    }
  }
}
