.stbase-big-bc-mt-block {
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  height: 721px;
  position: relative;
  overflow: hidden;

  img.big-bc-img {
    object-fit: cover;
    height: 721px;
    transition: 2000ms transform;

    @media (min-width: 1921px) {
      width: 100%;
    }
  }

  .big-bc-content {
    position: absolute;
    width: 100%;
    height: 721px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .container {
    max-width: 870px;
    padding: 50px 49px 35px;
    background-color: white;
    position: absolute;

    h2 {
      color: #f2000c;
      font-family: Rubik;
      font-size: 33px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 39px;
      margin-top: 0;
      margin-bottom: 18px;
      text-align: center;
    }

    p {
      color: #110f24;
      font-family: Rubik;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
    }

    .read-more {
      margin: 30px 0;
      color: #f2000c;
      font-family: Rubik;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      margin-top: 17px;
      cursor: pointer;
    }

    .swisst2-more-text {
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &.scrolled-to {
    img.big-bc-img {
      transform: scale(1.1);
    }
  }

  @media (max-width: 950px) {
    .container {
      width: 92%;
    }
  }

  @media (max-width: 670px) {
    .container {
      width: 89%;
    }
  }

  @media (max-width: 490px) {
    .container {
      width: 86%;
      padding: 30px;

      h2 {
        font-size: 26px;
        line-height: 33px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.swisst2-big-bc-mt-wrapper.container {
  max-width: 772px;
  padding: 0;
  position: relative;

  .big-bc-section-more-text {
    padding-bottom: 50px;
    width: auto !important;
    margin-top: -17px;

    h3 {
      font-size: 15px;
      line-height: 21px;
      margin-top: 0;
    }

    p {
      font-size: 14px;
      line-height: 21px;
    }
  }

  @media (max-width: 950px) {
    width: 85%;
    padding: 0 20px;
  }

  @media (max-width: 670px) {
    width: 81%;
  }
}
