.stbase-check-list-block {
  background: #f2000c;

  .container {
    padding-top: 105px;
    padding-bottom: 105px;

    h2 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 33px;
      line-height: 39px;
      text-align: center;
      color: #ffffff;
      width: 100%;
      max-width: 836px;
      margin: 0 auto 80px;
    }

    .check-list {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      justify-items: flex-start;
      row-gap: 75px;
      column-gap: 11vw;

      .check {
        width: 340px;

        i {
          font-size: 38px;
          line-height: 38px;
          letter-spacing: 1.53571px;
          color: #ffffff;
        }

        h3 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 120%;
          color: #ffffff;
          margin: 15px 0 10px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          color: rgba(255, 255, 255, 0.8);
          margin: 0;
        }
      }

      &.odd {
        .check {
          &:last-child {
            grid-column: 1/3;
            justify-self: center;
            margin-left: 5%;
          }
        }
      }
    }

    @media (max-width: 1100px) {
      .check-list {
        column-gap: 7vw;
      }
    }

    @media (max-width: 950px) {
      padding-top: 90px;
      padding-bottom: 90px;

      h2 {
        margin-bottom: 60px;
      }

      .check-list {
        // column-gap: 4vw;
        row-gap: 7vw;

        .check {
          max-width: 340px;
          width: 100%;
        }
      }
    }

    @media (max-width: 720px) {
      .check-list {
        .check {
          h3 {
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 5px;
          }

          p {
            font-size: 19px;
            line-height: 135%;
          }
        }
      }
    }

    @media (max-width: 610px) {
      padding-top: 80px;
      padding-bottom: 80px;

      .check-list {
        .check {
          h3 {
            font-size: 21px;
            margin-top: 8px;
          }

          p {
            font-size: 17px;
          }
        }
      }
    }

    @media (max-width: 510px) {
      .container {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      h2 {
        font-size: 29px;
        line-height: 38px;
        margin-bottom: 50px;
      }

      .check-list {
        // padding-left: 20px;
        // padding-right: 20px;
        column-gap: 12vw;

        .check {
          h3 {
            font-size: 19px;
            margin-top: 6px;
          }

          p {
            font-size: 15px;
          }
        }

        &.odd {
          .check:last-child {
            max-width: unset;
            margin-left: 0;
          }
        }
      }
    }

    @media (max-width: 400px) {
      .check-list {
        column-gap: 7vw;
      }
    }

    @media (max-width: 380px) {
      .check-list {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
