.stbase-cost-table-block {
  .cost-table-wrapper {
    margin: 30px 0;
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    table {
      border-collapse: collapse;
      table-layout: fixed;
      margin-bottom: 0;

      tr {
        th,
        td {
          padding: 20px 15px;
          border: none;
          vertical-align: top;
          text-align: left;

          &.title {
            font-weight: 700;
            font-size: 17px;
            line-height: 29px;
            color: #000000;
            width: 200px;
          }

          &.description {
            font-weight: 400;
            font-size: 17px;
            line-height: 29px;
            color: #000000;
          }

          &.hours {
            background-color: #f2000c14;
            color: #000000;
            border-right: 5px solid white;
            vertical-align: middle;
            width: 170px;

            &:last-child {
              border-right: none;
            }

            &.double {
              width: 280px;
            }
          }
        }
      }

      thead {
        th {
          &.hours:not(.double) {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          td {
            border-top: 1px solid #c7c7c7;

            &.hours {
              font-weight: 700;
              font-size: 17px;
              line-height: 29px;

              .mobile-label {
                display: none;
              }
            }
          }

          &:last-child {
            td {
              border-top-color: #f2000c;

              &.hours {
                background-color: #f2000c29;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .cost-table-wrapper {
      width: 100%;
      overflow: hidden;

      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      table {
        thead {
          tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
          }
        }

        tbody {
          tr {
            td {
              display: block;
              border-top: none;

              &.title {
                width: 100%;
                background: #f9f9f9;
                padding: 20px 20px 5px;
              }

              &.description {
                width: 100%;
                background: #f9f9f9;
                padding: 0 20px 20px;
              }

              &.hours {
                width: 100%;
                padding: 0;
                position: relative;
                display: grid;
                grid-template-columns: 60% 40%;
                border-right: 0;
                align-items: center;

                span {
                  padding: 20px;

                  &.mobile-label {
                    border-right: 5px solid white;
                    display: block;
                    font-size: 15px;
                    line-height: 22px;
                  }
                }

                &:last-child {
                  border-top: 4px solid white;
                }
              }
            }
          }
        }
      }
    }
  }
}
