.stbase-gallery-block {
  .gallery-items {
    margin: 45px auto;
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;

    p {
      font-size: 16px;
      line-height: 25px;
      color: black;
      margin: 0;

      a {
        font-weight: bold;
        color: #f2000c;
        font-weight: 700;
      }
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 50px;

    .gallery-items {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
}
