.stbase-header-with-bc-block {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 25px;
  // padding-right: 25px;

  header {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .header__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 88px 177px;

      .header__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 27.72px;
        line-height: 33px;
        text-align: center;
        color: #ffffff;
        padding: 9px 14px;
      }

      h3 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        margin: 0;
        color: #ffffff;
        max-width: 690px;
        margin-top: 23px;
      }
    }

    @media (max-width: 1020px) {
      .header__content {
        padding: 40px $sidePadding;

        .header__subtitle {
          font-size: 21px;
          line-height: 24px;
        }

        h3 {
          font-size: 36px;
          line-height: 130%;
          margin-top: 20px;
        }
      }
    }

    @media (max-width: 700px) {
      .header__content {
        .header__subtitle {
          font-size: 19px;
          line-height: 22px;
        }

        h3 {
          font-size: 32px;
          line-height: 130%;
        }
      }
    }

    @media (max-width: 570px) {
      height: 400px;

      .header__content {
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;

        picture {
          object-fit: cover;
          width: 100%;
          height: 400px;
        }

        .header__subtitle {
          font-size: 16px;
          line-height: 18px;

          & + h3 {
            margin-top: 20px;
          }
        }

        h3 {
          font-size: 28px;
        }
      }
    }

    @media (max-width: 570px) {
    }
  }
}
