.stbase-icon-list-block {
  // padding: 20px 0;

  .container {
    h2 {
      max-width: 670px;
      width: 100%;
      margin: 0 auto 80px;
      display: block;
      color: $primary;
      text-align: center;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 33px;
      line-height: 39px;
      text-align: center;
    }

    .icon-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-start;
      justify-items: center;
      row-gap: 70px;
      column-gap: 20px;

      .icon {
        grid-template-rows: 84px auto;
        display: grid;
        justify-items: center;
        align-items: center;
        max-width: 345px;
        row-gap: 23px;

        h3 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          text-align: center;
          color: $primary;
          margin: 0;
          align-self: flex-start;
          max-width: 315px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          color: rgba(28, 28, 28, 0.6);
          margin: 0;
          max-width: 285px;
        }
      }
    }
  }

  @media (max-width: 860px) {
    // padding: 40px 0 20px;

    .container {
      .icon-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 60px;
      }
    }
  }

  @media (max-width: 620px) {
    // padding-top: 25px;
    // padding-bottom: 30px;

    .container {
      h2 {
        margin-bottom: 50px;
      }

      .icon-list {
        row-gap: 68px;
        column-gap: 30px;

        .icon {
          row-gap: 15px;

          h3 {
            font-size: 22px;
          }

          img {
            transform: scale(0.9);
          }

          p {
            font-size: 17px;
          }
        }
      }
    }
  }

  @media (max-width: 460px) {
    .container {
      h2 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 45px;
      }

      .icon-list {
        row-gap: 38px;

        .icon {
          row-gap: 8px;

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .container {
      h2 {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 60px;
      }

      .icon-list {
        .icon {
          &:last-child {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
