.stbase-image-text-block {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    max-width: 1250px;

    .column {
      &.image-column {
        max-width: 582px;
        height: 476px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &.text-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 582px;

        h2 {
          color: #303030;
          font-family: Rubik;
          font-size: 20px;
          line-height: 24px;
          font-weight: bold;
          margin-bottom: 0;
          width: 100%;

          & + ul {
            margin-top: 15px;
          }
        }

        p {
          color: #303030;
          font-family: Rubik;
          font-size: 17px;
          line-height: 27px;
          margin: 19px 0 0;

          &:first-child {
            margin-top: 0;
          }

          & + p {
            //margin-top: 0;
          }

          & + ul {
            margin-top: 15px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        ul {
          &:last-child {
            margin-bottom: 0;
          }

          @media (max-width: 400px) {
            margin-left: 7px;
          }
        }
      }
    }

    &.image-text {
      .column {
        &.image-column {
          width: 44%;
        }

        &.text-column {
          width: 49%;
          padding-right: 110px;
        }
      }
    }

    &.text-image {
      .column {
        &.text-column {
          width: 44.77%;
          align-items: flex-start;
          padding-left: 75px;
        }
      }
    }

    &.zoom-in {
      picture {
        overflow: hidden;

        img {
          transform: scale(1.2);
          transition: 2s all;
        }
      }

      &.scrolled-to {
        picture {
          img {
            transform: none;
          }
        }
      }
    }

    &.zoom-out {
      picture {
        img {
          transition: 2s all;
        }
      }

      &.scrolled-to {
        picture {
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    @media (min-width: 651px) and (max-width: 1240px) {
      .column {
        &.image-column {
          height: 36vw;
        }
      }
    }

    @media (max-width: 1050px) {
      &.image-text {
        .column {
          &.text-column {
            padding-right: 0;
          }
        }
      }

      &.text-image {
        .column {
          &.text-column {
            padding-left: 0;
          }
        }
      }
    }

    @media (max-width: 650px) {
      align-items: stretch;
      margin-top: 30px;
      margin-bottom: 45px;

      .column {
        &.image-column {
          height: auto;
        }
      }

      &.image-text {
        flex-direction: column;

        .column {
          &.image-column {
            width: 100%;
          }

          &.text-column {
            margin-top: 30px;
            width: 100%;
          }
        }
      }

      &.text-image {
        flex-direction: column-reverse;

        .column {
          &.image-column {
            width: 100%;
          }

          &.text-column {
            margin-top: 30px;
            width: 100%;
          }
        }
      }

      & + .image-text-row {
        margin-top: 30px;
      }

      h2,
      p {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  & + .stbase-image-text-block {
    @media (min-width: 1200px) {
      margin-top: 85px;
    }

    @media (max-width: 650px) {
      margin-top: -30px;
    }
  }
}
