.stbase-intro-text-awards-block {
  background: #edf0f2;
  padding-top: 140px;
  padding-bottom: 175px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    #intro-title-and-text {
      max-width: 664px;
      width: 60%;

      h1 {
        color: #f2000c;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 58px;
        line-height: 65px;
        letter-spacing: -1.02119px;
      }

      #intro-text {
        max-width: 560px;
        font-size: 18px;
        line-height: 27px;

        p {
          color: #1c1c1c;
          font-family: Rubik;
          font-size: 20px;
          line-height: 150%;
          font-weight: 300;
          letter-spacing: 0;
        }
      }

      a.st-button-link {
        margin-top: 23px;
      }
    }

    picture {
      max-width: 348px;
      width: 35%;
    }

    @media (min-width: 910px) and (max-width: 1030px) {
      #intro-title-and-text {
        width: 52%;

        h1 {
          font-size: 36px;
          line-height: 46px;
        }

        #intro-text {
          p {
            font-size: 22px;
            line-height: 32px;
          }
        }
      }

      picture {
        width: 45%;
      }
    }

    @media (max-width: 910px) {
      display: block;

      #intro-title-and-text {
        max-width: none;
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        // max-width: 710px;
        margin-bottom: 20px;

        #intro-text {
          max-width: none;
        }
      }

      picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 410px;
        margin: 30px 0 0;
        text-align: center;
        left: -3%;
        position: relative;
      }
    }

    @media (max-width: 680px) {
      #intro-title-and-text {
        h1 {
          font-size: 44px;
          line-height: 52px;
        }

        #intro-text {
          p {
            font-size: 22px;
            line-height: 34px;
          }
        }
      }
    }

    @media (max-width: 500px) {
      margin-top: 30px;

      #intro-title-and-text {
        text-align: left;

        h1 {
          font-size: 34px;
          line-height: 44px;
          text-align: left;
        }

        #intro-text {
          text-align: left;

          p {
            font-size: 20px;
            line-height: 30px;

            br {
              display: none;
            }
          }
        }
      }

      picture {
        max-width: 340px;
        left: -4%;
      }
    }
  }

  @media (max-width: 680px) {
    padding-top: 110px;
  }
}

.stbase-old-intro-text-awards-block {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #intro-title-and-text {
    max-width: 608px;

    h1 {
      font-family: Rubik;
      text-align: left;
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 20px;

      @media (max-width: 910px) {
        text-align: center;
      }
    }

    #intro-text {
      max-width: 560px;
      font-size: 18px;
      line-height: 27px;

      p {
        color: #303030;
        font-family: "Rubik";
        font-size: 16px;
        line-height: 25px;
        margin: 15px 0;
      }
    }
  }

  img {
    width: 348px;
  }

  @media (max-width: 910px) {
    .container {
      display: block;
    }

    #intro-title-and-text {
      max-width: none;
      text-align: center;
      display: block;
      max-width: 600px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;

      #intro-text {
        max-width: none;
      }
    }

    img {
      max-width: 340px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin: 30px auto;
    }
  }
}
