.stbase-intro-text-image-block {
  background: #edf0f2;

  .container {
    max-width: 1440px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    height: 720px;
    padding-top: 100px;

    .intro-block__text-column {
      width: 50%;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      background: #edf0f2;

      .text-column-content {
        padding: 0 60px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 650px;

        img.tablet-image {
          display: none;
        }

        h1 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 58px;
          line-height: 65px;
          letter-spacing: -1.02119px;
          color: #f2000c;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 150%;
          color: #1c1c1c;
          margin: 20px 0 0;
        }

        a.st-button-link {
          margin: 35px 0 0;
          text-transform: uppercase;
        }
      }
    }

    .intro-block__image-column {
      width: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 1350px) {
      padding-left: 0;
      padding-right: 0;

      .intro-block__text-column {
        padding-left: 0;

        .text-column-content {
          padding-left: 25px;
          max-width: 100%;

          a.intro-block_next-block {
            left: 25px;
          }
        }
      }
    }

    @media (max-width: 1050px) {
      flex-direction: column;
      height: unset;
      padding-top: 30px;

      .intro-block__text-column {
        width: 100%;
        padding-top: 100px;

        .text-column-content {
          max-width: none;
          padding: 10px 25px 50px;
          display: block;

          img.tablet-image {
            display: block;
            float: left;
            margin: 0 20px 15px 0;
            max-width: 30vw;
          }

          h1 {
            margin: 0;
            clear: unset;
            font-size: 54px;
            line-height: 62px;
          }

          a.intro-block_next-block {
            display: none;
          }
        }
      }

      .intro-block__image-column {
        display: none;
      }
    }

    @media (max-width: 700px) {
      .intro-block__text-column {
        padding-top: 105px;

        .text-column-content {
          padding: 0 25px 50px;

          img.tablet-image {
            display: none;
          }

          h1 {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 300;
            font-size: 43px;
            line-height: 120%;
            letter-spacing: -0.921351px;
            margin-bottom: 4px;
          }

          p {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 300;
            font-size: 18.0447px;
            line-height: 150%;
          }

          a.st-button-link {
            margin-top: 28px;
          }
        }
      }

      .intro-block__image-column {
        display: block;
        width: 100%;

        img {
          max-height: 520px;
        }
      }
    }
  }
}
