.stbase-intro-text-video-block {
  background: white;

  .container {
    max-width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    height: 914px;

    .intro-block__text-column {
      width: 50%;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      background: #edf0f2;

      .text-column-content {
        padding: 0 60px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 650px;

        h1 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 58px;
          line-height: 65px;
          letter-spacing: -1.02119px;
          color: #f2000c;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 150%;
          color: #1c1c1c;
          margin: 20px 0 0;
        }

        a.st-button-link {
          margin: 35px 0 0;
          text-transform: uppercase;
        }

        a.intro-block_next-block {
          position: absolute;
          // left: 70px;
          bottom: 30px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid rgba(242, 0, 12, 0.1);
          border-radius: 100%;
          cursor: pointer;
          overflow: hidden;

          &:before {
            content: "\f063";
            font-family: "Font Awesome 5 Pro";
            font-weight: 400;
            font-size: 16px;
            position: absolute;
            top: -25px;
            color: $primary;
            display: block;
            transition: 600ms all cubic-bezier(0.34, 1.56, 0.64, 1);
          }

          i {
            font-size: 16px;
            color: $primary;
            position: relative;
            top: 0;
            transition: 800ms all cubic-bezier(0.34, 1.56, 0.64, 1);
          }

          &:hover {
            &:before {
              top: 10px;
            }

            i {
              top: 35px;
            }
          }
        }
      }
    }

    .intro-block__video-column {
      width: 50%;
      position: relative;
      overflow: hidden;

      video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }

    @media (max-width: 1350px) {
      padding-left: 0;
      padding-right: 0;

      .intro-block__text-column {
        padding-left: 0;

        .text-column-content {
          padding-left: 25px;
          max-width: 100%;

          a.intro-block_next-block {
            left: 25px;
          }
        }
      }
    }

    @media (max-width: 1050px) {
      flex-direction: column;
      height: auto;

      .intro-block__text-column {
        width: 100%;
        padding-top: 140px;

        .text-column-content {
          max-width: none;
          padding: 10px 70px 50px;

          a.intro-block_next-block {
            display: none;
          }
        }
      }

      .intro-block__video-column {
        width: 100%;

        video {
          width: 100vw;
          height: 70vw;
          min-height: 580px;
          overflow: hidden;
          position: relative;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 700px) {
      .intro-block__text-column {
        padding-top: 105px;

        .text-column-content {
          padding: 0 25px 50px;

          h1 {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 300;
            font-size: 43px;
            line-height: 120%;
            letter-spacing: -0.921351px;
            margin-bottom: 4px;
          }

          p {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 300;
            font-size: 18.0447px;
            line-height: 150%;
          }

          a.st-button-link {
            margin-top: 28px;
          }
        }
      }

      .intro-block__video-column {
        video {
          min-height: 440px;
        }
      }
    }
  }
}
