.stbase-media-grid-block {
  .grid {
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .item {
      height: 395px;
      position: relative;

      picture {
        height: 395px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .item__content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .item__title {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 27.72px;
          line-height: 33px;
          letter-spacing: -0.566146px;
          color: #ffffff;
          background: $primary;
          padding: 9px 14px;
        }

        &:after {
          content: "\f061";
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          font-size: 21px;
          color: $primary;
          width: 76px;
          height: 76px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            135deg,
            transparent 0%,
            transparent 50%,
            #f5f5f5 51%,
            #f5f5f5 100%
          );
          transition: 0.4s all;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          padding-right: 13px;
          padding-bottom: 9px;
        }
      }

      &:hover {
        .item__content {
          &:after {
            font-size: 30px;
            padding-right: 11px;
          }
        }
      }
    }
  }
}
