#intro-text-awards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  #intro-title-and-text {
    max-width: 608px;

    h1 {
      text-align: left;
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 20px;

      @media (max-width: 910px) {
        text-align: center;
      }
    }

    #intro-text {
      max-width: 560px;
      font-size: 18px;
      line-height: 27px;
    }
  }

  img {
    width: 348px;
  }

  @media (max-width: 910px) {
    display: block;

    #intro-title-and-text {
      max-width: none;
      text-align: center;
      display: block;
      max-width: 600px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;

      #intro-text {
        max-width: none;
      }
    }

    img {
      max-width: 340px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin: 30px auto;
    }
  }
}
