.stbase-our-story-block {
  background-color: #e4e6ea;
  // margin-top: -130px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 161px;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 1435px;

    .our-story-content {
      position: relative;
      // top: 300px;
      width: 560px;
      padding-bottom: 30px;
      padding-right: 25px;

      img.mobile-image {
        display: none;
      }

      h2 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 58px;
        line-height: 65px;
        letter-spacing: -1.02119px;
        color: #f2000c;
        margin: 0 0 35px;
        position: relative;
        right: -30px;

        @media (max-width: 768px) {
          opacity: 1;
        }
      }

      p {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 140%;
        color: #1c1c1c;
        margin-top: 30px;
        max-width: 500px;
        margin-left: 30px;

        &:first-child {
          margin: 0;
        }
      }
    }

    .our-story-image {
      position: relative;
      z-index: 3;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      // height: 39vw;
      // max-height: 560px;
      width: 798px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .founder-text-box {
        background-color: #464041;
        padding: 15px 13px;
        position: absolute;
        max-width: 200px;
        text-align: left;

        header {
          color: #ffffff;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 22px;
          margin-bottom: 3px;
        }

        p {
          margin: 0;
          opacity: 0.7;
          color: #ffffff;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px;
        }

        &:first-of-type {
          left: 40px;
          bottom: 30px;
        }

        &:last-of-type {
          left: 405px;
          bottom: 60px;
        }
      }
    }
  }

  // &:not(.no-scroll) {
  //   .big-red-strip-wrapper {
  //     .big-red-strip {
  //       height: 160px;
  //       transition: height 400ms;
  //     }
  //   }

  //   .container {
  //     .our-story-content {
  //       transition: 500ms cubic-bezier(0.65, 0, 0.35, 1);
  //       top: 100px;
  //     }
  //   }

  //   &.scrolled-to {
  //     .big-red-strip-wrapper {
  //       .big-red-strip {
  //         height: 0;
  //       }
  //     }

  //     .container {
  //       .our-story-content {
  //         top: 0;
  //       }
  //     }
  //   }
  // }

  @media (max-width: 1440px) {
    .container {
      .our-story-image {
      }
    }
  }

  @media (max-width: 1220px) {
    padding-top: 80px;

    .container {
      .our-story-content {
        h2 {
          font-size: 42px;
          line-height: 51px;
          margin-bottom: 15px;
          right: 0;
        }

        p {
          font-size: 22px;
          line-height: 34px;
          margin-top: 20px;
          margin-left: 0;
        }
      }

      .our-story-image {
        height: 530px;

        .founder-text-box {
          &:last-of-type {
            left: unset;
            right: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .container {
      .our-story-image {
        .founder-text-box {
          max-width: 170px;

          header {
            font-size: 14px;
            line-height: 20px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 980px) {
    .container {
      .our-story-content {
        padding-right: 30px;
        // padding-top: 30px;

        h2 {
          font-size: 28px;
          line-height: 36px;
        }

        p {
          font-size: 18px;
          line-height: 28px;
        }
      }

      .our-story-image {
        width: 54%;
        height: 350px;

        .founder-text-box {
          max-width: 150px;
          background-color: rgba(70, 64, 65, 0.8);

          &:first-of-type {
            left: 20px;
          }

          &:last-of-type {
            right: 20px;
          }
        }
      }
    }
  }

  // @media (max-width: 850px) {
  //   .container {
  //     .our-story-content {
  //       h2 {
  //         font-size: 28px;
  //         line-height: 36px;
  //       }

  //       p {
  //         font-size: 18px;
  //         line-height: 28px;
  //       }
  //     }

  //     .our-story-image {
  //       .founder-text-box {
  //         max-width: 150px;
  //         background-color: rgba(70, 64, 65, 0.8);

  //         &:first-of-type {
  //           left: 20px;
  //         }

  //         &:last-of-type {
  //           right: 20px;
  //         }
  //       }
  //     }
  //   }
  // }

  @media (max-width: 850px) {
    padding-top: 0;

    .container {
      flex-direction: column;
      padding: 0;
      margin-top: 0;

      .our-story-content {
        padding: 70px 70px 35px;
        top: 0;
        width: 100%;
        align-items: flex-start;

        h2 {
          font-size: 58px;
          line-height: 65px;
          max-width: 100%;
        }

        p {
          font-size: 25px;
          line-height: 140%;
          max-width: 100%;
          max-width: 450px;
        }
      }

      .our-story-image {
        height: unset;
        background-position: top;
        width: 100%;
        max-width: 719px;
        align-self: center;
        text-align: center;

        img {
          height: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }

        .founder-text-box {
          background-color: #464041;
          max-width: 200px;

          header {
            font-size: 16px;
            line-height: 22px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
          }

          &:first-of-type {
            left: 40px;
            bottom: 30px;
          }

          &:last-of-type {
            left: 360px;
            bottom: 60px;
          }
        }
      }
    }
  }

  @media (max-width: 610px) {
    .container {
      .our-story-image {
        .founder-text-box {
          &:last-of-type {
            left: unset;
            right: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .container {
      .our-story-content {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 25px;

        h2 {
          font-size: 43px;
          line-height: 120%;
        }

        p {
          font-size: 22.5559px;
          line-height: 140%;
          margin-top: 20px;
        }
      }

      .our-story-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 8px;
        row-gap: 16px;

        picture {
          grid-row: 2/3;
          grid-column: 1/3;
        }

        .founder-text-box {
          background-color: rgba(70, 64, 65, 0.8);
          grid-row: 1/2;
          position: static;
          text-align: left;
          max-width: unset;

          header {
            font-size: 16px;
            line-height: 22px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
          }

          &:first-of-type {
            margin-left: 35px;
          }

          &:last-of-type {
            margin-right: 35px;
          }
        }
      }
    }
  }

  @media (max-width: 410px) {
    .container {
      .our-story-image {
        .founder-text-box {
          max-width: 150px;
        }
      }
    }
  }

  // &.no-scroll {
  //   .big-red-strip-wrapper {
  //     // display: none;
  //   }

  //   .container {
  //     .our-story-content {
  //       top: 0;
  //     }
  //   }
  // }
}

body.de-DE {
  .our-story-section {
    .container {
      .our-story-content {
        h2 {
          font-size: 44px;
          line-height: 51px;
        }

        p {
          font-size: 21px;
          line-height: 32px;
        }
      }

      @media (max-width: 980px) {
        .our-story-content {
          .h2 {
            font-size: 34px;
            line-height: 42px;
          }

          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }

      @media (max-width: 850px) {
        .our-story-content {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

      @media (max-width: 756px) {
        .our-story-content {
          h2 {
            font-size: 40px;
            line-height: 52px;
          }

          p {
            font-size: 24px;
            line-height: 35px;
          }
        }
      }

      @media (max-width: 500px) {
        .our-story-content {
          h2 {
            font-size: 36px;
            line-height: 46px;
          }

          p {
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
