.stbase-references-masonry-block {
  .masonry-references-list-section {
    .masonry-references-intro {
      @media (max-width: 1167px) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}
