// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-accordion-block {
    background: var(--Light-grey, #F5F5F5);
    padding-top: 77px;
    padding-bottom: 77px;
    
    .container {
        .title {
            text-align: center;
            color: #F2000C;
            font-family: Rubik;
            font-size: 33px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 48px;
        }

        .accordions {
            .accordion-item {
                background-color: #fff;

                &:not(:last-child) {
                    margin-bottom: 32px;
                }

                .accordion-header {
                    padding: 24px 32px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;

                    h5 {
                        margin: 0 !important;
                        font-family: Rubik;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        padding-right: 15px;
                    }

                    .icon path {
                        fill: #F2000C;
                    }
                }

                .accordion-content {
                    display: none;
                    padding: 0 32px 24px;
                }
            }
        }
    }
}