@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-accordion-block {
  background: var(--Light-grey, #F5F5F5);
  padding-top: 77px;
  padding-bottom: 77px;
}
.stbase-accordion-block .container .title {
  text-align: center;
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48px;
}
.stbase-accordion-block .container .accordions .accordion-item {
  background-color: #fff;
}
.stbase-accordion-block .container .accordions .accordion-item:not(:last-child) {
  margin-bottom: 32px;
}
.stbase-accordion-block .container .accordions .accordion-item .accordion-header {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.stbase-accordion-block .container .accordions .accordion-item .accordion-header h5 {
  margin: 0 !important;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding-right: 15px;
}
.stbase-accordion-block .container .accordions .accordion-item .accordion-header .icon path {
  fill: #F2000C;
}
.stbase-accordion-block .container .accordions .accordion-item .accordion-content {
  display: none;
  padding: 0 32px 24px;
}