@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-awards-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #edf0f2 0%, #edf0f2 50%, #f2000c 51%, #f2000c 100%);
}
.stbase-awards-block .center-1300 {
  max-width: 1300px;
  min-height: 944px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.stbase-awards-block .center-1300 .awards-column {
  width: 50%;
  background-color: #edf0f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stbase-awards-block .center-1300 .awards-column .award {
  width: 460px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.stbase-awards-block .center-1300 .awards-column .award img {
  max-width: 192px;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content {
  width: 100%;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content .award-title {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  color: #f2000c;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content .award-title + ul {
  margin-top: 7px;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content .award-title + p {
  margin-top: 5px;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content ul li {
  font-family: Rubik;
  font-size: 15.23px;
  letter-spacing: 0;
  line-height: 18px;
  text-transform: uppercase;
  padding: 3px;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content ul li + li {
  margin-top: 5px;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 15.2px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.85;
  justify-self: flex-start;
  margin: 0;
}
.stbase-awards-block .center-1300 .awards-column .award .award-content strong {
  font-weight: 500;
}
.stbase-awards-block .center-1300 .awards-column .award + .award {
  margin-top: 50px;
}
.stbase-awards-block .center-1300 .awards-column .award:nth-child(2) img {
  box-shadow: 0px 2.68966px 25.5517px rgba(0, 0, 0, 0.14);
}
.stbase-awards-block .center-1300 .awards-column .award:last-child img {
  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.14);
}
.stbase-awards-block .center-1300 .awards-text-column {
  width: 50%;
  background-color: #f2000c;
  padding: 65px 35px 65px 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.stbase-awards-block .center-1300 .awards-text-column h2:not(.big) {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  color: #ffffff;
  margin: 0 0 29px;
}
.stbase-awards-block .center-1300 .awards-text-column h2.big {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 65px;
  color: #f5f5f5;
  margin: 0;
}
.stbase-awards-block .center-1300 .awards-text-column p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 65px;
  color: #f5f5f5;
  margin: 0;
}
@media (max-width: 980px) {
  .stbase-awards-block .center-1300 {
    flex-direction: column;
  }
  .stbase-awards-block .center-1300 .awards-column {
    width: 100%;
    padding: 126px 25px;
  }
  .stbase-awards-block .center-1300 .awards-text-column {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px 25px 155px;
  }
  .stbase-awards-block .center-1300 .awards-text-column p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 65px;
    color: #f5f5f5;
  }
}
@media (max-width: 520px) {
  .stbase-awards-block .center-1300 {
    flex-direction: column-reverse;
  }
  .stbase-awards-block .center-1300 .awards-column {
    padding: 76px 25px 45px;
  }
  .stbase-awards-block .center-1300 .awards-column .award {
    justify-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .stbase-awards-block .center-1300 .awards-column .award img {
    max-width: 120px;
  }
  .stbase-awards-block .center-1300 .awards-column .award .award-content .award-title {
    font-size: 20px;
    line-height: 28px;
  }
  .stbase-awards-block .center-1300 .awards-column .award .award-content ul li {
    font-weight: 500;
    font-size: 12.2178px;
    line-height: 14px;
  }
  .stbase-awards-block .center-1300 .awards-column .award .award-content p {
    font-weight: 500;
    font-size: 12.197px;
    line-height: 14px;
  }
  .stbase-awards-block .center-1300 .awards-column .award + .award {
    margin-top: 40px;
  }
  .stbase-awards-block .center-1300 .awards-text-column {
    padding: 72px 25px;
  }
  .stbase-awards-block .center-1300 .awards-text-column h2:not(.big) {
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 19px;
  }
  .stbase-awards-block .center-1300 .awards-text-column h2.big {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 120%;
    color: #f5f5f5;
  }
  .stbase-awards-block .center-1300 .awards-text-column p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 120%;
    color: #f5f5f5;
  }
}
@media (max-width: 420px) {
  .stbase-awards-block .center-1300 .awards-column .award {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .stbase-awards-block .center-1300 .awards-column .award picture {
    justify-self: flex-end;
    margin-right: 20px;
  }
}
@media (max-width: 380px) {
  .stbase-awards-block .center-1300 .awards-column .award {
    grid-template-columns: 1fr 1.2fr;
  }
  .stbase-awards-block .center-1300 .awards-column .award picture img {
    width: 90px;
  }
}
.stbase-awards-block:not(.no-scroll) .center-1300 .awards-column .award {
  transform: translateY(100px);
  opacity: 0;
}
.stbase-awards-block:not(.no-scroll) .center-1300 .awards-column .award:nth-child(2) {
  transform: translateY(200px);
}
.stbase-awards-block:not(.no-scroll) .center-1300 .awards-column .award:nth-child(3) {
  transform: translateY(300px);
}
.stbase-awards-block:not(.no-scroll) .center-1300 .awards-column .award:nth-child(4) {
  transform: translateY(400px);
}
.stbase-awards-block:not(.no-scroll).scrolled-to .center-1300 .awards-column .award {
  opacity: 1;
  transform: translateY(0);
  transition: 300ms all;
}
.stbase-awards-block:not(.no-scroll).scrolled-to .center-1300 .awards-column .award:nth-child(2) {
  transition-delay: 200ms;
}
.stbase-awards-block:not(.no-scroll).scrolled-to .center-1300 .awards-column .award:nth-child(3) {
  transition-delay: 400ms;
}
.stbase-awards-block:not(.no-scroll).scrolled-to .center-1300 .awards-column .award:nth-child(4) {
  transition-delay: 600ms;
}