// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-awards-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    to right,
    #edf0f2 0%,
    #edf0f2 50%,
    #f2000c 51%,
    #f2000c 100%
  );

  .center-1300 {
    max-width: 1300px;
    min-height: 944px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    position: relative;

    .awards-column {
      width: 50%;
      background-color: #edf0f2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .award {
        width: 460px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 20px;

        img {
          max-width: 192px;
        }

        .award-content {
          width: 100%;

          .award-title {
            font-family: Rubik;
            font-size: 25px;
            font-weight: 300;
            line-height: 35px;
            letter-spacing: 0px;
            text-align: left;
            color: #f2000c;

            & + ul {
              margin-top: 7px;
            }

            & + p {
              margin-top: 5px;
            }
          }

          ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-self: flex-start;

            li {
              font-family: Rubik;
              font-size: 15.23px;
              letter-spacing: 0;
              line-height: 18px;
              // text-align: center;
              text-transform: uppercase;
              padding: 3px;

              & + li {
                margin-top: 5px;
              }
            }
          }

          p {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 15.2px;
            line-height: 18px;
            text-transform: uppercase;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.85;
            justify-self: flex-start;
            margin: 0;
          }

          strong {
            font-weight: 500;
          }
        }

        & + .award {
          margin-top: 50px;
        }

        &:nth-child(2) {
          img {
            box-shadow: 0px 2.68966px 25.5517px rgba(0, 0, 0, 0.14);
          }
        }

        &:last-child {
          img {
            box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.14);
          }
        }
      }
    }

    .awards-text-column {
      width: 50%;
      background-color: $primary;
      padding: 65px 35px 65px 65px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h2 {
        &:not(.big) {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 33px;
          line-height: 39px;
          color: #ffffff;
          margin: 0 0 29px;
        }

        &.big {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 58px;
          line-height: 65px;
          color: #f5f5f5;
          margin: 0;
        }
      }

      p {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 58px;
        line-height: 65px;
        color: #f5f5f5;
        margin: 0;
      }
    }

    @media (max-width: 980px) {
      flex-direction: column;

      .awards-column {
        width: 100%;
        padding: 126px 25px;
      }

      .awards-text-column {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 150px 25px 155px;

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 58px;
          line-height: 65px;
          color: #f5f5f5;
          // max-width: 590px;
        }
      }
    }

    @media (max-width: 520px) {
      flex-direction: column-reverse;

      .awards-column {
        padding: 76px 25px 45px;

        .award {
          justify-items: center;
          column-gap: 0;

          img {
            max-width: 120px;
          }

          .award-content {
            .award-title {
              font-size: 20px;
              line-height: 28px;
            }

            ul {
              li {
                font-weight: 500;
                font-size: 12.2178px;
                line-height: 14px;
              }
            }

            p {
              font-weight: 500;
              font-size: 12.197px;
              line-height: 14px;
            }
          }

          & + .award {
            margin-top: 40px;
          }
        }
      }

      .awards-text-column {
        padding: 72px 25px;

        h2 {
          &:not(.big) {
            font-size: 24px;
            line-height: 33px;
            margin: 0 0 19px;
          }

          &.big {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 300;
            font-size: 43px;
            line-height: 120%;
            color: #f5f5f5;
          }
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 43px;
          line-height: 120%;
          color: #f5f5f5;
        }
      }
    }

    @media (max-width: 420px) {
      .awards-column {
        .award {
          column-gap: 20px;

          picture {
            justify-self: flex-end;
            margin-right: 20px;
          }
        }
      }
    }

    @media (max-width: 380px) {
      .awards-column {
        .award {
          grid-template-columns: 1fr 1.2fr;

          picture {
            img {
              width: 90px;
            }
          }
        }
      }
    }
  }

  &:not(.no-scroll) {
    .center-1300 {
      .awards-column {
        .award {
          transform: translateY(100px);
          opacity: 0;

          &:nth-child(2) {
            transform: translateY(200px);
          }

          &:nth-child(3) {
            transform: translateY(300px);
          }

          &:nth-child(4) {
            transform: translateY(400px);
          }
        }
      }
    }

    &.scrolled-to {
      .center-1300 {
        .awards-column {
          .award {
            opacity: 1;
            transform: translateY(0);
            transition: 300ms all;

            &:nth-child(2) {
              transition-delay: 200ms;
            }

            &:nth-child(3) {
              transition-delay: 400ms;
            }

            &:nth-child(4) {
              transition-delay: 600ms;
            }
          }
        }
      }
    }
  }
}
