.stbase-bg-text-block:first-child {
  padding-top: 104px;
}
.stbase-bg-text-block:not(.fullwidth) + .stbase-block {
  margin-top: -50px !important;
}
.stbase-bg-text-block .fullwidth {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.stbase-bg-text-block .container {
  padding: 95px 125px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 999;
}
@media (max-width: 767px) {
  .stbase-bg-text-block .container {
    padding: 95px 25px;
  }
}
.stbase-bg-text-block .container .bg-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.36%, rgba(0, 0, 0, 0.43) 81.47%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.stbase-bg-text-block .container .content {
  max-width: 680px;
  position: relative;
}
.stbase-bg-text-block .container .content .title {
  color: #F5F5F5;
  font-size: 58px;
  font-weight: 300;
  line-height: 65px;
}
@media (max-width: 767px) {
  .stbase-bg-text-block .container .content .title {
    font-size: 40px;
    line-height: 50px;
  }
}
.stbase-bg-text-block .container .content .title strong {
  font-weight: 700;
  display: flex;
  background-color: #f2000c;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px;
}
.stbase-bg-text-block .container .content .description,
.stbase-bg-text-block .container .content .description p {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
}