.stbase-bg-text-block {
    &:first-child {
        padding-top: 104px;
    }

    &:not(.fullwidth)+.stbase-block {
        margin-top: -50px !important;
    }

    .fullwidth {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .container {
        padding: 95px 125px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 999;

        @media (max-width: 767px) {
            padding: 95px 25px;
        }

        .bg-overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 36.36%, rgba(0, 0, 0, 0.43) 81.47%);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .content {
            max-width: 680px;
            position: relative;

            .title {
                color: #F5F5F5;
                font-size: 58px;
                font-weight: 300;
                line-height: 65px;

                @media (max-width: 767px) {
                    font-size: 40px;
                    line-height: 50px;
                }

                strong {
                    font-weight: 700;
                    display: flex;
                    background-color: #f2000c;
                    width: fit-content;
                    padding: 7px;
                }
            }

            .description, 
            .description p {
                color: #FFF;
                font-size: 20px;
                font-weight: 300;
                line-height: 150%;
            }
        }
    }
}