// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-big-red-text-block {
  background-color: #f2000c;
  grid-auto-flow: row;
  align-items: center;
  position: relative;
  z-index: $ZINDEX_TEXT_1;

  .container {
    max-width: 1130px;
    padding: 167px 50px 136px;

    h2,
    h3,
    h4 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 33px;
      line-height: 120%;
      color: #ffffff;
      margin: 0 0 36px;
    }

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.8);
      margin: 30px 0;

      a {
        color: white;
      }
    }
  }

  @media (max-width: 1350px) {
    .container {
      padding: 140px 50px;
    }
  }

  @media (max-width: 960px) {
    .container {
      padding: 80px 36px;
    }
  }

  @media (max-width: 620px) {
    .container {
      h2,
      h3 {
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 25px;
      }

      p {
        font-size: 22px;
        margin: 25px 0;
      }
    }
  }

  &.highlighted {
    .container {
      max-width: 1070px;
      padding-top: 200px;
      padding-bottom: 200px;

      p {
        font-family: Rubik;
        font-weight: 300;
        font-size: 58px;
        line-height: 65px;
        color: #f5f5f5;

        span.bent-bc-word {
          display: inline-block;
          position: relative;
          padding: 2px 9px;

          &:before {
            transition: 300ms transform;
            transform: scaleX(0);
            width: 100%;
            height: 84px;
            background-image: url("#{$stylesheetUrl}/assets/imgs/bend-white-bc.png");
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
            display: block;
            content: " ";
            position: absolute;
            left: 0;
            top: -6px;
            z-index: -1;

            @media (max-width: 768px) {
              transform: scaleX(1);
            }
          }
        }

        &:first-child {
          margin: 0;
        }
      }
    }

    &.seen-first {
      .container {
        p {
          span.bent-bc-word:first-of-type {
            &:before {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    &.seen-second {
      .container {
        p {
          span.bent-bc-word {
            &:before {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    @media (max-width: 1350px) {
      .container {
        padding-top: 15.5%;
        padding-bottom: 13.5%;
      }
    }

    @media (max-width: 1250px) {
      .container {
        p {
          span.bent-bc-word {
            &:before {
              height: 100%;
              top: 0;
            }
          }
        }
      }
    }

    @media (min-width: 761px) and (max-width: 1300px) {
      .container {
        max-width: 80%;

        p {
          &:first-child {
            font-size: 3.9vw;
            line-height: 4.9vw;
          }
        }
      }
    }

    @media (min-width: 661px) and (max-width: 760px) {
      .container {
        padding-top: 130px;
        padding-bottom: 125px;
      }
    }

    @media (min-width: 611px) and (max-width: 660px) {
      .container {
        padding-top: 100px;
        padding-bottom: 125px;
      }
    }

    @media (min-width: 611px) and (max-width: 760px) {
      .container {
        p {
          &:first-child {
            font-size: 46px;
            line-height: 56px;
            font-size: 6vw;
            line-height: 7.6vw;
          }
        }
      }
    }

    @media (max-width: 610px) {
      .brt-white-strip {
        display: none;
      }

      .container {
        p {
          font-size: 38px;
          line-height: 51px;
        }
      }
    }

    @media (max-width: 510px) {
      .container {
        padding-top: 65px;
        padding-bottom: 65px;

        p {
          font-size: 36px;
          line-height: 47px;
        }
      }
    }
  }
}

body.de-DE {
  .stbase-big-red-text-block.highlighted {
    @media (min-width: 1301px) {
      .container {
        max-width: 1100px;
      }
    }
  }
}
