// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-big-facts-list-block {
  .fact {
    width: 100%;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;

    header {
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .fact-header-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .fact-number {
          width: 117px;
          height: 117px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 83px;
          line-height: 130%;
          text-align: center;
          color: #ffffff;
        }

        h3 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 130%;
          margin: 0 0 70px 36px;
          color: #ffffff;
          max-width: 660px;
        }
      }

      &:after {
        display: block;
        width: 72%;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;
        content: " ";
      }
    }

    .fact-content {
      padding-left: 36px;

      p {
        font-size: 18px;
        line-height: 27px;

        @media (max-width: 620px) {
          font-size: 16px;
          line-height: 150%;
        }
      }
    }

    .first-text {
      max-width: 720px;
    }

    .after-text {
      margin-top: 35px;
      max-width: 720px;
    }

    .show-more-text-item {
      margin: 10px 0;
      max-width: 700px;

      h4 {
        margin: 0 0 16px;
        font-size: 21px;
        line-height: 150%;
      }

      & + .show-more-text-item {
        margin-top: 45px;
      }

      @media (max-width: 620px) {
        h4 {
          font-size: 19.0203px;
          line-height: 150%;
        }

        .show-more-text {
          font-size: 16px;
          line-height: 150%;
        }

        .show-more-link {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }

    .fact-advantages {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 21px;
      row-gap: 17px;
      margin-top: 45px;

      h4 {
        margin: 0;
        line-height: 150%;
        width: 100%;
        grid-column: 1/4;
        grid-row: 1;
        font-size: 21px;
        line-height: 150%;
      }

      .advantage {
        background-color: #edf0f2;
        padding: 35px 30px;
        display: flex;
        flex-direction: column;
        grid-row: 2;

        .advantage-header {
          height: 47px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 30px;

          h5 {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            text-transform: uppercase;
            color: #f2000c;
            margin: 0;
          }
        }

        .advantage-text {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #1c1c1c;
          overflow: hidden;

          p {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #1c1c1c;
          }

          ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
              font-family: "Rubik";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 150%;
              color: #1c1c1c;

              & + li {
                margin-top: 0;
              }

              &::marker {
                color: #1c1c1c;
              }
            }
          }
        }
      }

      .advantages-show-more-link {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #f2000c;
        margin-top: 18px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          margin-right: 8px;
          font-size: 12px;
          transition: 400ms transform;
        }

        .less {
          display: none;
        }

        &.opened {
          i {
            transform: rotateZ(180deg);
          }

          span {
            &.less {
              display: inline-block;
            }

            &.more {
              display: none;
            }
          }
        }
      }

      @media (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);

        h4 {
          grid-column: 1/3;
        }

        .advantage {
          &:nth-of-type(3) {
            grid-row: 3;
          }
        }
      }

      @media (max-width: 720px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        h4 {
          grid-column: 1/2;
          font-size: 19.0203px;
        }

        .advantage {
          grid-row: unset;

          .advantage-text {
            ul {
              li {
                font-size: 16.3031px;
                line-height: 150%;
              }
            }
          }

          &:nth-of-type(3) {
            grid-row: unset;
          }
        }
      }
    }

    &.process-timing {
      .process-timing-section {
        margin: 40px 0 19px;

        .process-timing-step-list {
          max-width: 1167px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-wrap: nowrap;
          flex-basis: auto;
          flex-grow: 1;
          flex-wrap: wrap;
          width: 100%;

          .process-timing-step {
            border-right: 1px solid $primary;
            flex-basis: 0;
            flex-basis: 50%;
            border-left: none;
            border-right: 10px solid white;
            border-bottom: 10px solid white;

            .step-red-bc {
              border-bottom: 1px solid rgba(242, 0, 12, 0.06);
              background-color: rgba(242, 0, 12, 0.06);
              padding: 25px 25px 15px;
              width: 100%;
              height: 100%;
              // padding-bottom: 30px;
              position: relative;

              .step-number {
                color: $primary;
                font-family: "Rubik";
                font-size: 55px;
                font-weight: 300;
                line-height: 100%;
              }

              .step-title {
                margin-top: 10px;
                font-weight: 500;
                color: #303030;
                font-family: "Rubik";
                font-size: 18px;
                line-height: 27px;
                max-width: 230px;
              }

              .step-timing {
                display: block;
                color: $primary;
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                margin-bottom: 7px;
              }

              p {
                color: #303030;
                font-family: "Rubik";
                font-size: 18px;
                line-height: 27px;
                margin-top: 0;
                // max-width: 230px;
              }
            }

            &:first-child {
              .step-red-bc {
                border-left: none;
              }
            }

            &:nth-child(2n) {
              border-right: none;
            }

            // .transition-delay-loop(4);
          }

          @media (max-width: 880px) {
            flex-wrap: wrap;

            .process-timing-step {
              flex-basis: 50%;
              border-left: none;
              border-right: 10px solid white;
              border-bottom: 10px solid white;
              flex-grow: unset;

              .step-red-bc {
                border-left: 0;
                position: relative;

                .step-timing-on-mobile {
                  display: block;
                  color: $primary;
                  font-family: "Rubik";
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 150%;
                  margin-bottom: 7px;
                }
              }

              &:nth-child(2n) {
                border-right: none;
              }
            }
          }

          @media (max-width: 560px) {
            flex-direction: column;
            align-items: stretch;
            margin-top: 40px;

            .process-timing-step {
              width: 100%;
              border-left: none;
              border-bottom: none;
              text-align: center;

              .step-red-bc {
                padding-bottom: 20px;

                .step-title {
                  max-width: none;
                }

                p {
                  max-width: none;
                }

                .show-more-link {
                  display: flex;
                  justify-content: center;
                }

                .step-timing-on-mobile {
                  width: 100%;
                  max-width: 200px;
                  margin-left: auto;
                  margin-right: auto;
                  text-align: center;
                  position: static;
                  margin-top: 20px;
                }
              }

              & + .process-timing-step {
                border-top: 10px solid white;
              }

              &:nth-child(2n) {
                border-left: none;
              }
            }
          }

          &:not(.no-scroll) {
            .process-timing-step {
              transform: translateY(100px);
              opacity: 0;
              transition-duration: 200ms;
            }

            &.scrolled-to {
              .process-timing-step {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }

        .process-timing-step-list-weeks {
          max-width: 1167px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-wrap: nowrap;
          flex-basis: auto;
          flex-grow: 1;
          width: 100%;

          .process-timing-step-week {
            border-right: 1px solid $primary;
            flex-basis: 0;
            flex-grow: 1;
            color: $primary;
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: right;
            padding-top: 20px;
            padding-right: 8px;
          }

          @media (max-width: 880px) {
            display: none;
          }
        }
      }
    }

    .show-more-before-after-text-item {
      max-width: 700px;

      .show-more-second-text {
        img {
          margin-top: 10px;
        }
      }
    }

    &.big-red-without-img {
      max-width: unset;
      padding: 160px 0;
      background-color: $primary;

      .fact-content {
        width: 100%;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;

        h3 {
          color: white;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 33px;
          line-height: 120%;
          margin: 0;
          max-width: 950px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          color: rgba(255, 255, 255, 0.8);
          margin: 30px 0 0;
          max-width: 950px;
        }
      }

      @media (max-width: 1130px) {
        .fact-content {
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      @media (max-width: 756px) {
        padding-top: 60px;
        padding-bottom: 60px;

        .fact-content {
          h3 {
            font-size: 30px;
          }

          p {
            font-size: 1.6rem;
            line-height: 2.7rem;
          }
        }
      }

      @media (max-width: 620px) {
        .fact-content {
          padding-top: 0;
        }
      }
    }

    & + .fact {
      margin-top: 59px;
    }

    @media (max-width: 1080px) {
      header {
        picture {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        .fact-header-content {
          position: relative;
          z-index: 2;
          height: 464px;

          h3 {
            margin: 30px 36px 70px 36px;
            font-size: 40px;
          }
        }

        &:after {
          z-index: 3;
        }
      }
    }

    @media (max-width: 960px) {
      padding-left: 0;
      padding-right: 0;

      .fact-content {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    @media (max-width: 620px) {
      header {
        .fact-header-content {
          height: 380px;

          .fact-number {
            width: 103px;
            height: 106px;
            font-size: 75.1756px;
          }

          h3 {
            margin: 30px 34px 30px;
            font-size: 30px;
            line-height: 120%;
          }
        }

        &:after {
          display: none;
        }
      }

      .fact-content {
        padding: 30px 30px 0;
      }
    }
  }
}
