// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-clients-block {
  &.container {
    max-width: none;
  }

  .title {
    color: #f2000c;
    font-family: "Rubik";
    font-size: 33px;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;
  }

  #clients-text {
    p {
      color: #342f2f;
      font-family: "Rubik";
      font-size: 27px;
      font-weight: 300;
      line-height: 39px;
      text-align: center;
      margin: 15px 0 40px;
      display: block;
      width: 100%;
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    @media (max-width: 550px) {
      p {
        font-size: 20px;
        line-height: 29px;
      }
    }
  }

  .client-list {
    margin: 70px auto 60px;
    width: 100%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;

    .client {
      width: 20%;
      text-align: center;
      margin-bottom: 45px;

      img {
        max-width: 120px;
        max-height: auto;
      }

      @media (max-width: 850px) {
        width: 31%;
      }

      @media (max-width: 600px) {
        width: 47%;
      }

      &[title="CHUV"] {
        img {
          max-width: 105px;
        }
      }
    }

    &:not(.no-scroll) {
      .client {
        opacity: 0;
        transform: scale(0.6);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;
      }

      &.scrolled-to {
        .client {
          opacity: 1;
          transform: translateZ(0) scale(1);

          @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
              transition-delay: (80ms * $i);
            }
          }
        }
      }
    }

    &.grayscale {
      img {
        max-width: unset;
        //filter: grayscale(1);
      }
    }

    &.column-3 {
      .client {
        width: 33%;

        img {
          max-width: 200px;
        }
      }
    }

    &.column-4 {
      .client {
        width: 25%;

        img {
          max-width: 150px;
        }
      }
    }
  }

  #clients-reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -58px;

    p {
      margin: 0;
      text-align: center;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 15.2px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.85;
    }

    picture {
      // margin-top: -58px;
      // margin-bottom: -15px;
      position: relative;

      &:before {
        content: "*";
        color: #f2000c;
        font-family: Rubik;
        font-size: 33px;
        letter-spacing: 0;
        line-height: 39px;
        text-align: center;
        position: absolute;
        top: 21px;
        left: 0;
      }
    }

    a {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #f2000c;
      margin-top: -15px;
      z-index: 1;
      display: flex;
      align-items: center;

      i {
        margin-right: 8px;
        font-size: 12px;
      }
    }
  }
}
