@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-clients-block.container {
  max-width: none;
}
.stbase-clients-block .title {
  color: #f2000c;
  font-family: "Rubik";
  font-size: 33px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 17px;
}
.stbase-clients-block #clients-text p {
  color: #342f2f;
  font-family: "Rubik";
  font-size: 27px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
  margin: 15px 0 40px;
  display: block;
  width: 100%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 550px) {
  .stbase-clients-block #clients-text p {
    font-size: 20px;
    line-height: 29px;
  }
}
.stbase-clients-block .client-list {
  margin: 70px auto 60px;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.stbase-clients-block .client-list .client {
  width: 20%;
  text-align: center;
  margin-bottom: 45px;
}
.stbase-clients-block .client-list .client img {
  max-width: 120px;
  max-height: auto;
}
@media (max-width: 850px) {
  .stbase-clients-block .client-list .client {
    width: 31%;
  }
}
@media (max-width: 600px) {
  .stbase-clients-block .client-list .client {
    width: 47%;
  }
}
.stbase-clients-block .client-list .client[title=CHUV] img {
  max-width: 105px;
}
.stbase-clients-block .client-list:not(.no-scroll) .client {
  opacity: 0;
  transform: scale(0.6);
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client {
  opacity: 1;
  transform: translateZ(0) scale(1);
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(1) {
  transition-delay: 80ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(2) {
  transition-delay: 160ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(3) {
  transition-delay: 240ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(4) {
  transition-delay: 320ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(5) {
  transition-delay: 400ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(6) {
  transition-delay: 480ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(7) {
  transition-delay: 560ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(8) {
  transition-delay: 640ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(9) {
  transition-delay: 720ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(10) {
  transition-delay: 800ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(11) {
  transition-delay: 880ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(12) {
  transition-delay: 960ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(13) {
  transition-delay: 1040ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(14) {
  transition-delay: 1120ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(15) {
  transition-delay: 1200ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(16) {
  transition-delay: 1280ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(17) {
  transition-delay: 1360ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(18) {
  transition-delay: 1440ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(19) {
  transition-delay: 1520ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(20) {
  transition-delay: 1600ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(21) {
  transition-delay: 1680ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(22) {
  transition-delay: 1760ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(23) {
  transition-delay: 1840ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(24) {
  transition-delay: 1920ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(25) {
  transition-delay: 2000ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(26) {
  transition-delay: 2080ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(27) {
  transition-delay: 2160ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(28) {
  transition-delay: 2240ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(29) {
  transition-delay: 2320ms;
}
.stbase-clients-block .client-list:not(.no-scroll).scrolled-to .client:nth-child(30) {
  transition-delay: 2400ms;
}
.stbase-clients-block .client-list.grayscale img {
  max-width: unset;
}
.stbase-clients-block .client-list.column-3 .client {
  width: 33%;
}
.stbase-clients-block .client-list.column-3 .client img {
  max-width: 200px;
}
.stbase-clients-block .client-list.column-4 .client {
  width: 25%;
}
.stbase-clients-block .client-list.column-4 .client img {
  max-width: 150px;
}
.stbase-clients-block #clients-reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -58px;
}
.stbase-clients-block #clients-reviews-wrapper p {
  margin: 0;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 15.2px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.85;
}
.stbase-clients-block #clients-reviews-wrapper picture {
  position: relative;
}
.stbase-clients-block #clients-reviews-wrapper picture:before {
  content: "*";
  color: #f2000c;
  font-family: Rubik;
  font-size: 33px;
  letter-spacing: 0;
  line-height: 39px;
  text-align: center;
  position: absolute;
  top: 21px;
  left: 0;
}
.stbase-clients-block #clients-reviews-wrapper a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f2000c;
  margin-top: -15px;
  z-index: 1;
  display: flex;
  align-items: center;
}
.stbase-clients-block #clients-reviews-wrapper a i {
  margin-right: 8px;
  font-size: 12px;
}