.stbase-cost-table-block .cost-table-wrapper {
  margin: 30px 0;
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.stbase-cost-table-block .cost-table-wrapper table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 0;
}
.stbase-cost-table-block .cost-table-wrapper table tr th,
.stbase-cost-table-block .cost-table-wrapper table tr td {
  padding: 20px 15px;
  border: none;
  vertical-align: top;
  text-align: left;
}
.stbase-cost-table-block .cost-table-wrapper table tr th.title,
.stbase-cost-table-block .cost-table-wrapper table tr td.title {
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  color: #000000;
  width: 200px;
}
.stbase-cost-table-block .cost-table-wrapper table tr th.description,
.stbase-cost-table-block .cost-table-wrapper table tr td.description {
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #000000;
}
.stbase-cost-table-block .cost-table-wrapper table tr th.hours,
.stbase-cost-table-block .cost-table-wrapper table tr td.hours {
  background-color: rgba(242, 0, 12, 0.0784313725);
  color: #000000;
  border-right: 5px solid white;
  vertical-align: middle;
  width: 170px;
}
.stbase-cost-table-block .cost-table-wrapper table tr th.hours:last-child,
.stbase-cost-table-block .cost-table-wrapper table tr td.hours:last-child {
  border-right: none;
}
.stbase-cost-table-block .cost-table-wrapper table tr th.hours.double,
.stbase-cost-table-block .cost-table-wrapper table tr td.hours.double {
  width: 280px;
}
.stbase-cost-table-block .cost-table-wrapper table thead th.hours:not(.double) {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}
.stbase-cost-table-block .cost-table-wrapper table tbody tr td {
  border-top: 1px solid #c7c7c7;
}
.stbase-cost-table-block .cost-table-wrapper table tbody tr td.hours {
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
}
.stbase-cost-table-block .cost-table-wrapper table tbody tr td.hours .mobile-label {
  display: none;
}
.stbase-cost-table-block .cost-table-wrapper table tbody tr:last-child td {
  border-top-color: #f2000c;
}
.stbase-cost-table-block .cost-table-wrapper table tbody tr:last-child td.hours {
  background-color: rgba(242, 0, 12, 0.1607843137);
}
@media (max-width: 800px) {
  .stbase-cost-table-block .cost-table-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .stbase-cost-table-block .cost-table-wrapper table,
  .stbase-cost-table-block .cost-table-wrapper thead,
  .stbase-cost-table-block .cost-table-wrapper tbody,
  .stbase-cost-table-block .cost-table-wrapper th,
  .stbase-cost-table-block .cost-table-wrapper td,
  .stbase-cost-table-block .cost-table-wrapper tr {
    display: block;
  }
  .stbase-cost-table-block .cost-table-wrapper table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td {
    display: block;
    border-top: none;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td.title {
    width: 100%;
    background: #f9f9f9;
    padding: 20px 20px 5px;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td.description {
    width: 100%;
    background: #f9f9f9;
    padding: 0 20px 20px;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td.hours {
    width: 100%;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    border-right: 0;
    align-items: center;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td.hours span {
    padding: 20px;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td.hours span.mobile-label {
    border-right: 5px solid white;
    display: block;
    font-size: 15px;
    line-height: 22px;
  }
  .stbase-cost-table-block .cost-table-wrapper table tbody tr td.hours:last-child {
    border-top: 4px solid white;
  }
}