@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-gallery-block .gallery-items {
  margin: 45px auto;
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.stbase-gallery-block .gallery-items p {
  font-size: 16px;
  line-height: 25px;
  color: black;
  margin: 0;
}
.stbase-gallery-block .gallery-items p a {
  font-weight: bold;
  color: #f2000c;
  font-weight: 700;
}
@media (max-width: 500px) {
  .stbase-gallery-block {
    margin-bottom: 50px;
  }
  .stbase-gallery-block .gallery-items {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}