@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-hero-block {
  --wrapper-padding-inline: 1rem;
  --wrapper-max-width: 1300px;
  --section-padding-block: 3rem;
  /* remove the padding so images can take up the entire height */
  /* match the section padding for the text blocks for
  consistency */
}
.stbase-hero-block:first-child {
  margin-top: 104px;
}
.stbase-hero-block .full-width-split-screen {
  padding-block: 0;
}
.stbase-hero-block .full-width-split-screen > :not(img) {
  padding-block: var(--section-padding-block);
  padding-inline: var(--wrapper-padding-inline);
}
.stbase-hero-block .full-width-split-screen > .content .title {
  color: #F2000C;
  font-family: "Rubik";
  font-size: 58px;
  font-style: normal;
  font-weight: 300;
  line-height: 65px;
  letter-spacing: -1.021px;
}
@media (max-width: 600px) {
  .stbase-hero-block .full-width-split-screen > .content .title {
    font-size: 40px;
    line-height: 50px;
  }
}
.stbase-hero-block .full-width-split-screen > .content .text {
  color: #1C1C1C;
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media (min-width: 600px) {
  .stbase-hero-block {
    /* ensure the image fill up the entire space available */
    /* if the image is on the left, it covers the entire left half */
    /* if the image is on the right, it covers the entire right half */
    /* make sure text doesn't touch the edge of the viewport 
    and the content is vertically centered */
    /* if the non-image is first, place it in the second column
        (first column is empty to emulate the .wrapper) */
    /* if the non-image is last, place it in the third column
        (fourth column is empty to emulate the .wrapper) */
    /* at large screens, ensure the background color
        goes to the edge of the page */
    /* ensures the background color fills the entire left side */
    /* ensures the background color fills the entire right side */
  }
  .stbase-hero-block .full-width-split-screen {
    /* outermost columns emulate the spacing from the .wrapper
    while the two inner columns divide the rest of the space
    into two equal parts */
    display: grid;
    grid-template-columns: minmax(var(--wrapper-padding-inline), 1fr) minmax(0, calc(var(--wrapper-max-width) / 2)) minmax(0, calc(var(--wrapper-max-width) / 2)) minmax(var(--wrapper-padding-inline), 1fr);
    /* for positioning the pseudo-elements
    to fill in the rest of the background*/
    position: relative;
  }
  .stbase-hero-block .full-width-split-screen > .hero-media {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .stbase-hero-block .full-width-split-screen > .hero-media:first-child {
    grid-column: 1/3;
  }
  .stbase-hero-block .full-width-split-screen > .hero-media:last-child {
    grid-column: 3/-1;
  }
  .stbase-hero-block .full-width-split-screen > :not(.hero-media) {
    display: grid;
    align-content: center;
    justify-items: start;
  }
  .stbase-hero-block .full-width-split-screen > :not(.hero-media):first-child {
    grid-column: 2/3;
  }
  .stbase-hero-block .full-width-split-screen > :not(.hero-media):last-child {
    padding-right: 0;
    grid-column: 3/4;
  }
  .stbase-hero-block .full-width-split-screen > :not(.hero-media)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
  }
  .stbase-hero-block .full-width-split-screen > :not(.hero-media):first-child::before {
    grid-column: 1/2;
  }
  .stbase-hero-block .full-width-split-screen > :not(.hero-media):last-child::before {
    grid-column: 4/5;
  }
}