// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

#highlighted-words-text-section {
  background-color: #f2000c;
  grid-auto-flow: row;
  align-items: center;
  position: relative;
  z-index: $ZINDEX_TEXT_1;

  .container {
    max-width: 770px;
    padding-top: 220px;
    padding-bottom: 185px;

    p {
      color: #ffffff;
      font-family: Rubik;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: -1.02px;
      line-height: 63px;

      span.bent-bc-word {
        display: inline-block;
        position: relative;
        padding: 2px 9px;

        &:before {
          transition: 300ms transform;
          transform: scaleX(0);
          width: 100%;
          height: 100%;
          background-image: url("@{stylesheetUrl}/imgs/bend-red-bc.png");
          background-size: cover;
          background-position: left;
          background-repeat: no-repeat;
          display: block;
          content: " ";
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;

          @media (max-width: 768px) {
            transform: scaleX(1);
          }
        }
      }

      &:first-child {
        margin: 0;
      }
    }
  }

  // .brt-white-strip {
  //   width: 36%;
  //   align-self: start;
  //   height: 130px;
  //   background-color: #dee0e5;
  // }

  &.seen-first {
    .container {
      p {
        span.bent-bc-word:first-of-type {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &.seen-second {
    .container {
      p {
        span.bent-bc-word {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  @media (max-width: 1350px) {
    .container {
      padding-top: 15.5%;
      padding-bottom: 13.5%;
    }
  }

  @media (min-width: 761px) and (max-width: 1300px) {
    .container {
      max-width: 80%;

      p {
        &:first-child {
          font-size: 3.9vw;
          line-height: 4.9vw;
        }
      }
    }
  }

  @media (min-width: 661px) and (max-width: 760px) {
    .container {
      padding-top: 130px;
      padding-bottom: 125px;
    }
  }

  @media (min-width: 611px) and (max-width: 660px) {
    .container {
      padding-top: 100px;
      padding-bottom: 125px;
    }
  }

  @media (min-width: 611px) and (max-width: 760px) {
    .container {
      p {
        &:first-child {
          font-size: 46px;
          line-height: 56px;
          font-size: 6vw;
          line-height: 7.6vw;
        }
      }
    }
  }

  @media (max-width: 610px) {
    .brt-white-strip {
      display: none;
    }

    .container {
      p {
        font-size: 38px;
        line-height: 51px;
      }
    }
  }

  @media (max-width: 510px) {
    .container {
      padding-top: 65px;
      padding-bottom: 65px;

      p {
        font-size: 36px;
        line-height: 47px;
      }
    }
  }
}

body.de-DE {
  #highlighted-words-text-section {
    .container {
      p {
        @media (min-width: 761px) {
          font-size: 46px;
          line-height: 60px;
        }

        @media (max-width: 510px) {
          font-size: 31px;
          line-height: 44px;
        }
      }
    }
  }
}

body.page-template-page-app-dev {
  &.fr-FR {
    #highlighted-words-text-section {
      .container {
        max-width: 930px;

        @media (min-width: 1300px) {
          p {
            font-size: 48px;
            line-height: 61px;
          }
        }
      }
    }
  }

  &.de-DE {
    #highlighted-words-text-section {
      .container {
        max-width: 860px;

        @media (min-width: 1351px) {
          padding-top: 160px;
          padding-bottom: 175px;
        }
      }
    }
  }
}
