@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-icon-list-block .container h2 {
  max-width: 670px;
  width: 100%;
  margin: 0 auto 80px;
  display: block;
  color: #f2000c;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  text-align: center;
}
.stbase-icon-list-block .container .icon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-items: center;
  row-gap: 70px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.stbase-icon-list-block .container .icon-list .icon {
  grid-template-rows: 84px auto;
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 345px;
  row-gap: 23px;
}
.stbase-icon-list-block .container .icon-list .icon h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: #f2000c;
  margin: 0;
  align-self: flex-start;
  max-width: 315px;
}
.stbase-icon-list-block .container .icon-list .icon p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(28, 28, 28, 0.6);
  margin: -10px 0 0 0;
  max-width: 285px;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon {
  opacity: 0;
  animation: 0.4s ease 0s 1 scale-to-1-animation;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(1) {
  animation-delay: 80ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(2) {
  animation-delay: 160ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(3) {
  animation-delay: 240ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(4) {
  animation-delay: 320ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(5) {
  animation-delay: 400ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(6) {
  animation-delay: 480ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(7) {
  animation-delay: 560ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(8) {
  animation-delay: 640ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(9) {
  animation-delay: 720ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(10) {
  animation-delay: 800ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(11) {
  animation-delay: 880ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(12) {
  animation-delay: 960ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(13) {
  animation-delay: 1040ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(14) {
  animation-delay: 1120ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(15) {
  animation-delay: 1200ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(16) {
  animation-delay: 1280ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(17) {
  animation-delay: 1360ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(18) {
  animation-delay: 1440ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(19) {
  animation-delay: 1520ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(20) {
  animation-delay: 1600ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(21) {
  animation-delay: 1680ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(22) {
  animation-delay: 1760ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(23) {
  animation-delay: 1840ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(24) {
  animation-delay: 1920ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(25) {
  animation-delay: 2000ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(26) {
  animation-delay: 2080ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(27) {
  animation-delay: 2160ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(28) {
  animation-delay: 2240ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(29) {
  animation-delay: 2320ms;
}
.stbase-icon-list-block .container .icon-list:not(.no-scroll) .icon:nth-child(30) {
  animation-delay: 2400ms;
}
@media (max-width: 860px) {
  .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 60px;
  }
}
@media (max-width: 620px) {
  .stbase-icon-list-block .container h2 {
    margin-bottom: 50px;
  }
  .stbase-icon-list-block .container .icon-list {
    row-gap: 68px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .stbase-icon-list-block .container .icon-list .icon {
    row-gap: 15px;
  }
  .stbase-icon-list-block .container .icon-list .icon h3 {
    font-size: 22px;
  }
  .stbase-icon-list-block .container .icon-list .icon img {
    transform: scale(0.9);
  }
  .stbase-icon-list-block .container .icon-list .icon p {
    font-size: 17px;
    margin-top: -5px;
  }
}
@media (max-width: 460px) {
  .stbase-icon-list-block .container h2 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 45px;
  }
  .stbase-icon-list-block .container .icon-list {
    row-gap: 38px;
  }
  .stbase-icon-list-block .container .icon-list .icon {
    row-gap: 8px;
  }
  .stbase-icon-list-block .container .icon-list .icon h3 {
    font-size: 20px;
  }
  .stbase-icon-list-block .container .icon-list .icon p {
    font-size: 16px;
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .stbase-icon-list-block .container h2 {
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 60px;
  }
  .stbase-icon-list-block .container .icon-list .icon:last-child p {
    font-size: 14px;
  }
}
@media (min-width: 621px) {
  .stbase-icon-list-block.type-left {
    padding-bottom: 77px;
  }
}
.stbase-icon-list-block.type-left .container {
  max-width: 860px;
}
.stbase-icon-list-block.type-left .container .title {
  text-align: left;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: -1.021px;
  margin: 0 0 15px;
  max-width: 860px;
}
@media (max-width: 620px) {
  .stbase-icon-list-block.type-left .container .title {
    font-size: 40px;
    line-height: 50px;
  }
}
.stbase-icon-list-block.type-left .container .title strong {
  font-weight: 700;
}
.stbase-icon-list-block.type-left .container .description {
  margin-bottom: 40px;
}
.stbase-icon-list-block.type-left .container .icon-list {
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  gap: 20px;
}
@media (max-width: 620px) {
  .stbase-icon-list-block.type-left .container .icon-list {
    display: block;
  }
}
.stbase-icon-list-block.type-left .container .icon-list .icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  padding: 24px;
  max-width: 100%;
}
.stbase-icon-list-block.type-left .container .icon-list .icon .icon-img, .stbase-icon-list-block.type-left .container .icon-list .icon img {
  width: 80px;
  min-width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.stbase-icon-list-block.type-left .container .icon-list .icon .icon-content h3 {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  color: #1C1C1C;
  margin-bottom: 5px;
}
.stbase-icon-list-block.type-left .container .icon-list .icon .icon-content p {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #1C1C1C;
  margin: 0;
  max-width: 100%;
}