// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-icon-list-block {
  // padding: 20px 0;

  .container {
    h2 {
      max-width: 670px;
      width: 100%;
      margin: 0 auto 80px;
      display: block;
      color: $primary;
      text-align: center;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 33px;
      line-height: 39px;
      text-align: center;
    }

    .icon-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-start;
      justify-items: center;
      row-gap: 70px;
      column-gap: 20px;

      .icon {
        grid-template-rows: 84px auto;
        display: grid;
        justify-items: center;
        align-items: center;
        max-width: 345px;
        row-gap: 23px;

        h3 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          text-align: center;
          color: $primary;
          margin: 0;
          align-self: flex-start;
          max-width: 315px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          color: rgba(28, 28, 28, 0.6);
          margin: -10px 0 0 0;
          max-width: 285px;
        }
      }

      &:not(.no-scroll) {
        .icon {
          opacity: 0;
          animation: 0.4s ease 0s 1 scale-to-1-animation;
          animation-fill-mode: forwards;
          animation-delay: 1s;

          @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
              animation-delay: (80ms * $i);
            }
          }
        }

        &.scrolled-to {
          .icon {
            // opacity: 1;
            // transform: translateZ(0) scale(1);
            // transition-duration: 0.4s;

            // @for $i from 1 through 30 {
            //   &:nth-child(#{$i}) {
            //     transition-delay: (80ms * $i);
            //   }
            // }
          }
        }
      }
    }
  }

  @media (max-width: 860px) {
    // padding: 40px 0 20px;

    .container {
      .icon-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 60px;
      }
    }
  }

  @media (max-width: 620px) {
    // padding-top: 25px;
    // padding-bottom: 30px;

    .container {
      h2 {
        margin-bottom: 50px;
      }

      .icon-list {
        row-gap: 68px;
        column-gap: 30px;

        .icon {
          row-gap: 15px;

          h3 {
            font-size: 22px;
          }

          img {
            transform: scale(0.9);
          }

          p {
            font-size: 17px;
            margin-top: -5px;
          }
        }
      }
    }
  }

  @media (max-width: 460px) {
    .container {
      h2 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 45px;
      }

      .icon-list {
        row-gap: 38px;

        .icon {
          row-gap: 8px;

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .container {
      h2 {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 60px;
      }

      .icon-list {
        .icon {
          &:last-child {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }


  &.type-left {
    @media (min-width: 621px) {
      padding-bottom: 77px;
    }

    .container {
      max-width: 860px;

      .title {
        text-align: left;
        font-size: 58px;
        line-height: 65px;
        letter-spacing: -1.021px;
        margin: 0 0 15px;
        max-width: 860px;

        @media (max-width: 620px) {
          font-size: 40px;
          line-height: 50px;
        }

        strong {font-weight: 700;}
      }

      .description {
        margin-bottom: 40px;
      }

      .icon-list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: flex-start;
        gap: 20px;

        @media (max-width: 620px) {
          display: block;
        }

        .icon {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 25px;
          padding: 24px;
          max-width: 100%;

          .icon-img, img {
            width: 80px;
            min-width: 80px;
            height: 80px;
            object-fit: contain;
          }

          .icon-content {
            h3 {
              text-align: left;
              font-size: 24px;
              font-weight: 700;
              line-height: 25px;
              color: #1C1C1C;
              margin-bottom: 5px;
            }

            p {
              text-align: left;
              font-size: 18px;
              font-weight: 400;
              line-height: 150%;
              color: #1C1C1C;
              margin: 0;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
