@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-image-text-block .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  max-width: 1250px;
}
.stbase-image-text-block .container .column.image-column {
  max-width: 582px;
  height: 476px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.stbase-image-text-block .container .column.image-column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stbase-image-text-block .container .column.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 582px;
}
.stbase-image-text-block .container .column.text-column h2 {
  color: #303030;
  font-family: Rubik;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 0;
  width: 100%;
}
.stbase-image-text-block .container .column.text-column h2 + ul {
  margin-top: 15px;
}
.stbase-image-text-block .container .column.text-column h3 {
  margin-bottom: 0;
}
.stbase-image-text-block .container .column.text-column h3 + ul {
  margin-top: 15px;
}
.stbase-image-text-block .container .column.text-column p {
  color: #303030;
  font-family: Rubik;
  font-size: 17px;
  line-height: 27px;
  margin: 19px 0 0;
}
.stbase-image-text-block .container .column.text-column p:first-child {
  margin-top: 0;
}
.stbase-image-text-block .container .column.text-column p + ul {
  margin-top: 15px;
}
.stbase-image-text-block .container .column.text-column p:last-of-type {
  margin-bottom: 0;
}
.stbase-image-text-block .container .column.text-column ul:last-child {
  margin-bottom: 0;
}
@media (max-width: 400px) {
  .stbase-image-text-block .container .column.text-column ul {
    margin-left: 7px;
  }
}
.stbase-image-text-block .container.image-text .column.image-column {
  width: 44%;
}
.stbase-image-text-block .container.image-text .column.text-column {
  width: 49%;
  padding-right: 80px;
}
.stbase-image-text-block .container.text-image .column.text-column {
  width: 44.77%;
  align-items: flex-start;
}
.stbase-image-text-block .container.zoom-in picture {
  overflow: hidden;
}
.stbase-image-text-block .container.zoom-in picture img {
  transform: scale(1.2);
  transition: 2s all;
}
.stbase-image-text-block .container.zoom-in.scrolled-to picture img {
  transform: none;
}
.stbase-image-text-block .container.zoom-out picture img {
  transition: 2s all;
}
.stbase-image-text-block .container.zoom-out.scrolled-to picture img {
  transform: scale(1.2);
}
@media (min-width: 651px) and (max-width: 1240px) {
  .stbase-image-text-block .container .column.image-column {
    height: 36vw;
  }
}
@media (max-width: 1050px) {
  .stbase-image-text-block .container.image-text .column.text-column {
    padding-right: 0;
  }
  .stbase-image-text-block .container.text-image .column.text-column {
    padding-left: 0;
  }
}
@media (max-width: 650px) {
  .stbase-image-text-block .container {
    align-items: stretch;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .stbase-image-text-block .container .column.image-column {
    height: auto;
  }
  .stbase-image-text-block .container.image-text {
    flex-direction: column;
  }
  .stbase-image-text-block .container.image-text .column.image-column {
    width: 100%;
  }
  .stbase-image-text-block .container.image-text .column.text-column {
    margin-top: 30px;
    width: 100%;
  }
  .stbase-image-text-block .container.text-image {
    flex-direction: column-reverse;
  }
  .stbase-image-text-block .container.text-image .column.image-column {
    width: 100%;
  }
  .stbase-image-text-block .container.text-image .column.text-column {
    margin-top: 30px;
    width: 100%;
  }
  .stbase-image-text-block .container + .image-text-row {
    margin-top: 30px;
  }
  .stbase-image-text-block .container h2:first-child,
  .stbase-image-text-block .container p:first-child {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .stbase-image-text-block + .stbase-image-text-block {
    margin-top: 85px;
  }
}
@media (max-width: 650px) {
  .stbase-image-text-block + .stbase-image-text-block {
    margin-top: -30px;
  }
}