@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-intro-text-awards-block {
  background: #edf0f2;
  padding-top: 190px;
  padding-bottom: 190px;
}
.stbase-intro-text-awards-block:not(:first-child) {
  padding-top: 80px;
}
.stbase-intro-text-awards-block .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.stbase-intro-text-awards-block .container #intro-title-and-text {
  max-width: 664px;
  width: 60%;
}
.stbase-intro-text-awards-block .container #intro-title-and-text h1 {
  color: #f2000c;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: -1.02119px;
}
.stbase-intro-text-awards-block .container #intro-title-and-text #intro-text {
  max-width: 630px;
  font-size: 18px;
  line-height: 27px;
}
.stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p {
  color: #1c1c1c;
  font-family: Rubik;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0;
}
.stbase-intro-text-awards-block .container #intro-title-and-text a.st-button-link {
  margin-top: 23px;
}
.stbase-intro-text-awards-block .container picture {
  max-width: 398px;
  width: 35%;
}
@media (min-width: 910px) and (max-width: 1030px) {
  .stbase-intro-text-awards-block .container #intro-title-and-text {
    width: 52%;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p {
    font-size: 22px;
    line-height: 32px;
  }
  .stbase-intro-text-awards-block .container picture {
    width: 45%;
  }
}
@media (max-width: 910px) {
  .stbase-intro-text-awards-block .container {
    display: block;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text {
    max-width: none;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text {
    max-width: none;
  }
  .stbase-intro-text-awards-block .container picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 410px;
    margin: 30px 0 0;
    text-align: center;
    left: -3%;
    position: relative;
  }
}
@media (max-width: 680px) {
  .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 44px;
    line-height: 52px;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p {
    font-size: 22px;
    line-height: 34px;
  }
}
@media (max-width: 500px) {
  .stbase-intro-text-awards-block .container {
    margin-top: 30px;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text {
    text-align: left;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 34px;
    line-height: 44px;
    text-align: left;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text {
    text-align: left;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p {
    font-size: 20px;
    line-height: 30px;
  }
  .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p br {
    display: none;
  }
  .stbase-intro-text-awards-block .container picture {
    max-width: 340px;
    left: -4%;
  }
}
@media (max-width: 910px) {
  .stbase-intro-text-awards-block {
    padding-top: 150px;
    padding-bottom: 180px;
  }
}
@media (max-width: 680px) {
  .stbase-intro-text-awards-block {
    padding-top: 110px;
  }
}
@media (max-width: 500px) {
  .stbase-intro-text-awards-block {
    padding-top: 100px;
  }
}

.stbase-old-intro-text-awards-block .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.stbase-old-intro-text-awards-block #intro-title-and-text {
  max-width: 608px;
}
.stbase-old-intro-text-awards-block #intro-title-and-text h1 {
  font-family: Rubik;
  text-align: left;
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
}
@media (max-width: 910px) {
  .stbase-old-intro-text-awards-block #intro-title-and-text h1 {
    text-align: center;
  }
}
.stbase-old-intro-text-awards-block #intro-title-and-text #intro-text {
  max-width: 560px;
  font-size: 18px;
  line-height: 27px;
}
.stbase-old-intro-text-awards-block #intro-title-and-text #intro-text p {
  color: #303030;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
}
.stbase-old-intro-text-awards-block img {
  width: 348px;
}
@media (max-width: 910px) {
  .stbase-old-intro-text-awards-block .container {
    display: block;
  }
  .stbase-old-intro-text-awards-block #intro-title-and-text {
    max-width: none;
    text-align: center;
    display: block;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .stbase-old-intro-text-awards-block #intro-title-and-text #intro-text {
    max-width: none;
  }
  .stbase-old-intro-text-awards-block img {
    max-width: 340px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 30px auto;
  }
}