@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stbase-intro-text-video-block {
  background: white;
}
.stbase-intro-text-video-block .container {
  max-width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  height: 914px;
}
.stbase-intro-text-video-block .container .intro-block__text-column {
  width: 50%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  background: #edf0f2;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content {
  padding: 0 60px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 650px;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: -1.02119px;
  color: #f2000c;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #1c1c1c;
  margin: 20px 0 0;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.st-button-link {
  margin: 35px 0 0;
  text-transform: uppercase;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block {
  position: absolute;
  bottom: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(242, 0, 12, 0.1);
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block:before {
  content: "\f063";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  top: -25px;
  color: #f2000c;
  display: block;
  transition: 600ms all cubic-bezier(0.34, 1.56, 0.64, 1);
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block i {
  font-size: 16px;
  color: #f2000c;
  position: relative;
  top: 0;
  transition: 800ms all cubic-bezier(0.34, 1.56, 0.64, 1);
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block:hover:before {
  top: 10px;
}
.stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block:hover i {
  top: 35px;
}
.stbase-intro-text-video-block .container .intro-block__video-column {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.stbase-intro-text-video-block .container .intro-block__video-column video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media (max-width: 1350px) {
  .stbase-intro-text-video-block .container {
    padding-left: 0;
    padding-right: 0;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column {
    padding-left: 0;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content {
    padding-left: 25px;
    max-width: 100%;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block {
    left: 25px;
  }
}
@media (max-width: 1050px) {
  .stbase-intro-text-video-block .container {
    flex-direction: column;
    height: auto;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column {
    width: 100%;
    padding-top: 140px;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content {
    max-width: none;
    padding: 10px 70px 50px;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.intro-block_next-block {
    display: none;
  }
  .stbase-intro-text-video-block .container .intro-block__video-column {
    width: 100%;
  }
  .stbase-intro-text-video-block .container .intro-block__video-column video {
    width: 100vw;
    height: 70vw;
    min-height: 580px;
    overflow: hidden;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 700px) {
  .stbase-intro-text-video-block .container .intro-block__text-column {
    padding-top: 105px;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content {
    padding: 0 25px 50px;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 120%;
    letter-spacing: -0.921351px;
    margin-bottom: 4px;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 18.0447px;
    line-height: 150%;
  }
  .stbase-intro-text-video-block .container .intro-block__text-column .text-column-content a.st-button-link {
    margin-top: 28px;
  }
  .stbase-intro-text-video-block .container .intro-block__video-column video {
    min-height: 440px;
  }
}