@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-our-story-block {
  background-color: #edf0f2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 161px;
}
.stbase-our-story-block .container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 1435px;
}
.stbase-our-story-block .container .our-story-content {
  position: relative;
  width: 560px;
  padding-bottom: 30px;
  padding-right: 25px;
}
.stbase-our-story-block .container .our-story-content img.mobile-image {
  display: none;
}
.stbase-our-story-block .container .our-story-content h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: -1.02119px;
  color: #f2000c;
  margin: 0 0 35px;
  position: relative;
  right: -30px;
}
@media (max-width: 768px) {
  .stbase-our-story-block .container .our-story-content h2 {
    opacity: 1;
  }
}
.stbase-our-story-block .container .our-story-content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
  color: #1c1c1c;
  margin-top: 30px;
  max-width: 500px;
  margin-left: 30px;
}
.stbase-our-story-block .container .our-story-content p:first-child {
  margin: 0;
}
.stbase-our-story-block .container .our-story-image {
  position: relative;
  z-index: 3;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 798px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.stbase-our-story-block .container .our-story-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stbase-our-story-block .container .our-story-image .founder-text-box {
  background-color: #464041;
  padding: 15px 13px;
  position: absolute;
  max-width: 200px;
  text-align: left;
}
.stbase-our-story-block .container .our-story-image .founder-text-box header {
  color: #ffffff;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 3px;
}
.stbase-our-story-block .container .our-story-image .founder-text-box p {
  margin: 0;
  opacity: 0.7;
  color: #ffffff;
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}
.stbase-our-story-block .container .our-story-image .founder-text-box:first-of-type {
  left: 40px;
  bottom: 30px;
}
.stbase-our-story-block .container .our-story-image .founder-text-box:last-of-type {
  left: 405px;
  bottom: 60px;
}
@media (max-width: 1220px) {
  .stbase-our-story-block {
    padding-top: 80px;
  }
  .stbase-our-story-block .container .our-story-content h2 {
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 15px;
    right: 0;
  }
  .stbase-our-story-block .container .our-story-content p {
    font-size: 22px;
    line-height: 34px;
    margin-top: 20px;
    margin-left: 0;
  }
  .stbase-our-story-block .container .our-story-image {
    height: 530px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:last-of-type {
    left: unset;
    right: 30px;
  }
}
@media (max-width: 1100px) {
  .stbase-our-story-block .container .our-story-image .founder-text-box {
    max-width: 170px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box header {
    font-size: 14px;
    line-height: 20px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 980px) {
  .stbase-our-story-block .container .our-story-content {
    padding-right: 30px;
  }
  .stbase-our-story-block .container .our-story-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
  .stbase-our-story-block .container .our-story-image {
    width: 54%;
    height: 350px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box {
    max-width: 150px;
    background-color: rgba(70, 64, 65, 0.8);
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:first-of-type {
    left: 20px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:last-of-type {
    right: 20px;
  }
}
@media (max-width: 850px) {
  .stbase-our-story-block {
    padding-top: 0;
  }
  .stbase-our-story-block .container {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  .stbase-our-story-block .container .our-story-content {
    padding: 70px 70px 35px;
    top: 0;
    width: 100%;
    align-items: flex-start;
  }
  .stbase-our-story-block .container .our-story-content h2 {
    font-size: 58px;
    line-height: 65px;
    max-width: 100%;
  }
  .stbase-our-story-block .container .our-story-content p {
    font-size: 25px;
    line-height: 140%;
    max-width: 100%;
    max-width: 450px;
  }
  .stbase-our-story-block .container .our-story-image {
    height: unset;
    background-position: top;
    width: 100%;
    max-width: 719px;
    align-self: center;
    text-align: center;
  }
  .stbase-our-story-block .container .our-story-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box {
    background-color: #464041;
    max-width: 200px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box header {
    font-size: 16px;
    line-height: 22px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box p {
    font-size: 16px;
    line-height: 22px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:first-of-type {
    left: 40px;
    bottom: 30px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:last-of-type {
    left: 360px;
    bottom: 60px;
  }
}
@media (max-width: 610px) {
  .stbase-our-story-block .container .our-story-image .founder-text-box:last-of-type {
    left: unset;
    right: 30px;
  }
}
@media (max-width: 500px) {
  .stbase-our-story-block .container .our-story-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
  .stbase-our-story-block .container .our-story-content h2 {
    font-size: 43px;
    line-height: 120%;
  }
  .stbase-our-story-block .container .our-story-content p {
    font-size: 22.5559px;
    line-height: 140%;
    margin-top: 20px;
  }
  .stbase-our-story-block .container .our-story-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 16px;
  }
  .stbase-our-story-block .container .our-story-image picture {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box {
    background-color: rgba(70, 64, 65, 0.8);
    grid-row: 1/2;
    position: static;
    text-align: left;
    max-width: unset;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box header {
    font-size: 16px;
    line-height: 22px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box p {
    font-size: 16px;
    line-height: 22px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:first-of-type {
    margin-left: 25px;
  }
  .stbase-our-story-block .container .our-story-image .founder-text-box:last-of-type {
    margin-right: 25px;
  }
}
@media (max-width: 410px) {
  .stbase-our-story-block .container .our-story-image .founder-text-box {
    max-width: 150px;
  }
}

body.de-DE .our-story-section .container .our-story-content h2 {
  font-size: 44px;
  line-height: 51px;
}
body.de-DE .our-story-section .container .our-story-content p {
  font-size: 21px;
  line-height: 32px;
}
@media (max-width: 980px) {
  body.de-DE .our-story-section .container .our-story-content .h2 {
    font-size: 34px;
    line-height: 42px;
  }
  body.de-DE .our-story-section .container .our-story-content p {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 850px) {
  body.de-DE .our-story-section .container .our-story-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
  body.de-DE .our-story-section .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 756px) {
  body.de-DE .our-story-section .container .our-story-content h2 {
    font-size: 40px;
    line-height: 52px;
  }
  body.de-DE .our-story-section .container .our-story-content p {
    font-size: 24px;
    line-height: 35px;
  }
}
@media (max-width: 500px) {
  body.de-DE .our-story-section .container .our-story-content h2 {
    font-size: 36px;
    line-height: 46px;
  }
  body.de-DE .our-story-section .container .our-story-content p {
    font-size: 22px;
    line-height: 32px;
  }
}