// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-process-block {
    .container {
        .title {
            text-align: center;
            color: #F2000C;
            font-family: Rubik;
            font-size: 33px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 48px;
        }

        .steps-wrapper {
            max-width: 888px;
            margin: auto;

            .step {
                display: grid;
                grid-template-columns: 0.1fr 0.9fr;
                gap: 24px;
                margin-bottom: 30px;

                .number {
                    position: relative;
                    aspect-ratio: 1;
                    text-align: right;

                    &::before {
                        content: "";
                        display: block;
                        background-color: #282639;
                        height: 32px;
                        width: 100%;
                        position: absolute;
                        bottom: 12px;
                    }

                    span {
                        color: #F2000C;
                        font-family: Rubik;
                        font-size: 83px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 130%;
                        position: relative
                    }
                }

                .content {
                    .step-title {
                        color: #F2000C;
                        font-family: Rubik;
                        font-size: 33px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .step-description {
                        margin-bottom: 30px;
                    }

                    .step-explanation {
                        padding: 20px;
                        background-color: #F5F5F5;
                    }

                    ul, ol {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}