@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-process-block .container .title {
  text-align: center;
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48px;
}
.stbase-process-block .container .steps-wrapper {
  max-width: 888px;
  margin: auto;
}
.stbase-process-block .container .steps-wrapper .step {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  gap: 24px;
  margin-bottom: 30px;
}
.stbase-process-block .container .steps-wrapper .step .number {
  position: relative;
  aspect-ratio: 1;
  text-align: right;
}
.stbase-process-block .container .steps-wrapper .step .number::before {
  content: "";
  display: block;
  background-color: #282639;
  height: 32px;
  width: 100%;
  position: absolute;
  bottom: 12px;
}
.stbase-process-block .container .steps-wrapper .step .number span {
  color: #F2000C;
  font-family: Rubik;
  font-size: 83px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  position: relative;
}
.stbase-process-block .container .steps-wrapper .step .content .step-title {
  color: #F2000C;
  font-family: Rubik;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.stbase-process-block .container .steps-wrapper .step .content .step-description {
  margin-bottom: 30px;
}
.stbase-process-block .container .steps-wrapper .step .content .step-explanation {
  padding: 20px;
  background-color: #F5F5F5;
}
.stbase-process-block .container .steps-wrapper .step .content ul, .stbase-process-block .container .steps-wrapper .step .content ol {
  margin-bottom: 0;
}