// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-services-block {
  #services {
    width: 100%;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;

    .service {
      position: relative;
      overflow: hidden;
      transform: translateY(100px);
      opacity: 0;
      // transition-duration: 400ms;

      &:nth-child(2) {
        transform: translateY(200px);
        // transition-delay: 200ms;
      }

      &:nth-child(3) {
        transform: translateY(300px);
        // transition-delay: 400ms;
      }

      &:nth-child(4) {
        transform: translateY(400px);
        // transition-delay: 600ms;
      }

      .service-image {
        height: 395px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: 0.8s transform;
        }
      }

      .sevice-titles-box {
        position: absolute;
        left: 32px;
        top: 32px;
        width: calc(100% - 64px);
        transition: 0.4s all ease-in-out;

        .service-title {
          width: 259px;
          //height: 84px;
          padding: 9px 14px;
          font-family: Rubik;
          font-weight: 500;
          font-size: 27.72px;
          line-height: 33px;
          letter-spacing: -0.566146px;
          color: #ffffff;
          background-color: #f2000c;
          transition: 0.4s all ease-in-out;
        }

        .service-subtitle {
          color: rgba(255, 255, 255, 0.75);
          max-width: 75%;
          margin-top: 15px;
        }
      }

      .service-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .service-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 395px;

        .column {
          background-color: #f2000c;
          transition: transform 0.8s ease;

          &:first-child {
            transform: translateY(450px);
          }

          &:nth-child(2) {
            transform: translateY(600px);
          }

          &:nth-child(3) {
            transform: translateY(800px);
          }
        }
      }

      .service-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 395px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: transform 0.8ms;
        background-color: transparent;
        font-family: Rubik;
        font-size: 18px;
        line-height: 150%;
        font-weight: 300;
        letter-spacing: 0;
        color: white;
        transform: translateY(800px);
        transition: transform 0.9s ease;
      }

      &:hover {
        .sevice-titles-box {
          transform: translateY(-200px);
          opacity: 0.2;
        }

        .service-columns {
          .column {
            transition: transform 0.7s cubic-bezier(0.12, 0.68, 0.27, 1.01) 0.2s;
            transform: translateY(0);
          }
        }

        .service-cover {
          transform: translateY(0);
          transition: transform 0.7s cubic-bezier(0.12, 0.68, 0.27, 1.01) 0.2s;
        }
      }
    }

    @media (min-width: 800px) {
      .service {
        &:hover {
          .service-image {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    @media (min-width: 901px) and (max-width: 1000px) {
      .service {
        .service-image {
          height: 300px;
        }

        .service-title {
          font-size: 24px;
          line-height: 31px;
          width: 230px;
        }

        .service-columns {
          height: 300px;
        }

        .service-cover {
          height: 300px;
          font-size: 16px;
        }
      }
    }

    @media (min-width: 801px) and (max-width: 900px) {
      .service {
        .service-image {
          height: 300px;
        }

        .service-title {
          font-size: 19px;
          line-height: 24px;
          width: 215px;
          height: 67px;
          left: 20px;
          top: 20px;
        }

        .service-columns {
          height: 300px;
        }

        .service-cover {
          font-size: 14px;
          height: 300px;
        }
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      justify-items: center;
      padding-left: 0;
      padding-right: 0;
      gap: 40px;
      margin-top: -140px;

      .service {
        background-color: #f2000c;

        .service-title {
          top: 30px;
          left: 30px;
        }

        .service-image {
          height: 325px;
        }

        .service-columns {
          display: none;
        }

        .service-cover {
          position: static;
          transform: none;
          height: auto;
        }

        &:nth-child(3) {
          grid-column: 1 / 3;
          left: unset;
          width: 50%;
        }

        &:hover {
          .service-title {
            transform: none;
            opacity: 1;
          }
        }
      }
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;

      .service {
        max-width: 402px;
        width: 100%;

        &:nth-child(3) {
          max-width: 402px;
          width: 100%;
          grid-column: unset;
          left: unset;
        }

        .service-cover {
          font-size: 20px;
        }
      }
    }

    @media (min-width: 431px) and (max-width: 480px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (max-width: 430px) {
      padding-left: 0;
      padding-right: 0;

      .service {
        max-width: unset;

        &:nth-child(3) {
          max-width: unset;
        }
      }
    }

    &.services-4 {
      .service-title {
        width: 100% !important;
      }

      .service-columns {
        .column:last-child {
          margin-left: -1px;
        }
      }
    }

    // @media (max-width: 800px) {
    //   grid-template-columns: repeat(2, 1fr);
    //   gap: 17px;
    //   grid-template-rows: 1fr 1fr;
    //   padding-left: 25px;
    //   padding-right: 25px;

    //   .service {
    //     .service-image {
    //       height: 360px;
    //     }

    //     .service-columns {
    //       height: 360px;
    //     }

    //     .service-cover {
    //       height: 360px;
    //     }

    //     &:nth-child(3) {
    //       grid-column: 1 / 3;
    //       width: 50%;
    //       position: relative;
    //       left: 25%;
    //     }
    //   }
    // }

    // @media (min-width: 641px) and (max-width: 700px) {
    //   .service {
    //     .service-image {
    //       height: 300px;
    //     }

    //     .service-title {
    //       font-size: 24px;
    //       line-height: 31px;
    //       width: 230px;
    //     }

    //     .service-columns {
    //       height: 300px;
    //     }

    //     .service-cover {
    //       height: 300px;
    //       font-size: 16px;
    //     }
    //   }
    // }
  }

  &.no-scroll,
  &.scrolled-to {
    #services {
      .service {
        opacity: 1;
        transform: translateY(0);
        transition-duration: 400ms;

        &:nth-child(2) {
          transition-delay: 200ms;
        }

        &:nth-child(3) {
          transition-delay: 400ms;
        }

        &:nth-child(4) {
          transition-delay: 600ms;
        }
      }
    }
  }
}
