body.fr-FR, 
body.de-DE {
    .stbase-testimonials-block .testimonial .testimonial-content {
        min-height: 220px;
    }
}

.stbase-testimonials-block {
    --swiper-navigation-color: #F2000C;
    --swiper-pagination-color: #F2000C;
    --swiper-theme-color: #F2000C;
    --swiper-navigation-size: 20px;

    background-color: #EDF0F2;

    .stbase-block-preview {
        .clientslist {
            font-weight: normal;
            font-size: .8em;

            .testimonial-name {

                &:not(:last-child)::after {
                    content: ",";
                }

                span {
                    font-style: italic;
                    opacity: .75;
                }
            }
        }
    }

    .container {
        position: relative;
        padding: 77px 0;

        @media screen and (max-width: 800px) {
            padding: 77px 0 120px;
        }

        @media screen and (min-width: 801px) and (max-width: 1360px) {
            padding: 77px 80px;
        }

        @media screen and (min-width: 1361px) and (max-width: 1440px) {
            padding: 77px 40px;
        }
    }

    .title {
        font-weight: 300;
        font-size: 33px;
        line-height: 39px;
        text-align: center;
        color: #F2000C;
        margin-bottom: 20px;
    }

    .testimonial {
        background-color: #fff;
        padding: 40px;

        @media screen and (max-width: 800px) {
            padding: 25px;
            margin: 0 25px;
        }

        .stars {
            color: #FFB11A;
            font-size: 26px;
        }

        .testimonial-content {
            min-height: 190px;

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
            }
        }    

        .testimonial-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: 450px) {
                flex-direction: column;
                align-items: flex-start;
            }

            @media screen and (min-width: 801px) and (max-width: 1024px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .testimonial-member {
                display: flex;
                align-items: center;
                gap: 20px;

                .testimonial-image {
                    display: flex;
                 
                    img {
                        width: 65px;
                        aspect-ratio: 1;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .testimonial-details {

                    .testimonial-name {
                        font-size: 16px;
                        line-height: 140%;
                        color: #1C1C1C;
                    }

                    .testimonial-position, 
                    .testimonial-company {
                        font-size: 14px;
                        line-height: 140%;
                        color: rgba(28, 28, 28, 0.6);
                    }
                }
            }

            .testimonial-company-logo {
                display: flex;
                align-items: center;
                min-width: 100px;

                img {
                    width: 100px;
                    height: 50px;
                    object-fit: cover;
                    filter: grayscale(100%);
                    opacity: .6;
                    transition: all .3s ease;

                    &:hover {
                        filter: none;
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 450px) {
                    padding-left: 85px;
                    margin-bottom: 10px;

                    img {
                        width: 65px;
                        height: 30px;
                    }
                }

                @media screen and (min-width: 801px) and (max-width: 1024px) {
                    padding-left: 85px;
                }
            }
        }
    }
    
    .swiper {

        &::before {
            content: url(/wp-content/themes/st-base-theme/assets/imgs/quotation.svg);
            position: absolute;
            top: 0;
            right: 10px;
            z-index: 99;

            @media screen and (max-width: 800px) {
                right: 20px;
                transform: scale(.75);
            }
        }

        .swiper-wrapper {
            padding-top: 30px;
            padding-bottom: 55px;
        }

        .swiper-pagination-bullet-active {
            transform: scale(1.3);
        }
    }

    .swiper-button-next, .swiper-button-prev {
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all .3s ease;

        &::before {
            transition: all .3s ease;
        }

        &:hover {
            background-color: var(--swiper-navigation-color);
            color: #fff;

            &::before {
                background-color: #fff;
            }
        }
    }

    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: -75px;
        flex-direction: row-reverse;

        &::before {
            content: "";
            height: 2px;
            width: 22px;
            background-color: var(--swiper-navigation-color);
            margin-left: -8px;
        }

        @media screen and (max-width: 800px) {
            left: calc(50% - 70px);
            top: unset;
            bottom: 60px;
        }

        @media screen and (min-width: 801px) and (max-width: 1360px) {
            left: 10px;
        }

        @media screen and (min-width: 1361px) and (max-width: 1440px) {
            left: -35px;
        }
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: -75px;

        &::before {
            content: "";
            height: 2px;
            width: 22px;
            background-color: var(--swiper-navigation-color);
            margin-right: -8px;
        }

        @media screen and (max-width: 800px) {
            right: calc(50% - 70px);
            top: unset;
            bottom: 60px;
        }

        @media screen and (min-width: 801px) and (max-width: 1360px) {
            right: 10px;
        }

        @media screen and (min-width: 1361px) and (max-width: 1440px) {
            right: -35px;
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px);
        }
    }

    & + .stbase-contact-us-block {
        margin-top: 0;
    }
    
}