@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-text-and-cta-block .container {
  max-width: 750px;
}
.stbase-text-and-cta-block .container > div h2 {
  color: #f2000c;
  font-family: Rubik;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39px;
}
.stbase-text-and-cta-block .container > div p {
  color: #303030;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 19px;
}
.stbase-text-and-cta-block .container.center {
  text-align: center;
}
.stbase-text-and-cta-block .container.center h2 {
  text-align: center;
}
.stbase-text-and-cta-block .container.center p {
  text-align: center;
}
.stbase-text-and-cta-block.block-with-background {
  background-color: #edf0f2;
}