// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-text-and-cta-block {
  .container {
    max-width: 750px;

    & > div {
      h2 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 33px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 39px;
      }

      p {
        color: #303030;
        font-family: "Rubik";
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 19px;
      }
    }

    &.center {
      text-align: center;

      h2 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  &.block-with-background {
    background-color: #edf0f2;
  }
}
