// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-why-us-block {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: stretch;

  #why-us-title-wrapper {
    width: 40%;
    min-width: 420px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    position: relative;

    picture {
      width: 100%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: scale(1.2);
        transition: 2s all;
      }
    }

    h2 {
      font-family: "Rubik";
      font-size: 33px;
      line-height: 39px;
      font-weight: 600;
      position: absolute;
      color: white;
      width: 80%;
      max-width: 280px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      margin-right: 79px;
      text-align: left;
    }
  }

  #why-us-reasons {
    width: 60%;
    padding: 80px 65px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: $primary;
    color: white;

    .why-us-reason {
      width: 242px;
      margin: 50px 60px 0;

      h3 {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 25px;
        font-weight: 500;
        line-height: 29px;
        margin: -33px 0 9px 0;
      }

      .reason-text {
        p {
          color: rgba(255, 255, 255, 0.75);
          font-family: "Rubik";
          font-size: 16px;
          line-height: 25px;
          margin: 15px 0;
        }
      }

      &:first-child {
        h3 {
          margin-top: -44px;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  &.scrolled-to {
    #why-us-title-wrapper {
      picture {
        img {
          transform: none;
        }
      }
    }
  }

  @media (max-width: 1445px) {
    #why-us-reasons {
      padding: 50px 70px;
      justify-content: space-around;

      .why-us-reason {
        margin: 30px;
      }
    }
  }

  @media (max-width: 1265px) {
    #why-us-reasons {
      .why-us-reason {
        width: 33%;
      }
    }
  }

  @media (max-width: 1220px) {
    #why-us-title-wrapper {
      justify-content: center;

      h2.first {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 1100px) {
    #why-us-reasons {
      padding: 30px 25px;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;

    #why-us-title-wrapper {
      width: 100%;
      min-width: auto;
      height: 155px;

      img {
        height: 155px;
      }

      h2 {
        text-align: center;
        max-width: none;
        justify-content: center;
      }
    }

    #why-us-reasons {
      width: 100%;
      padding: 40px;

      .why-us-reason {
        width: 42%;
        margin: 0;
      }
    }
  }

  @media (max-width: 600px) {
    #why-us-reasons {
      .why-us-reason {
        padding: 2%;
      }
    }
  }

  @media (max-width: 500px) {
    #why-us-title-wrapper {
      h2 {
        justify-content: flex-start;
        max-width: none;
        width: 100%;
        padding: 0 25px;
      }
    }

    #why-us-reasons {
      padding: 40px 25px;
      flex-direction: column;

      .why-us-reason {
        width: 100%;
        padding: 0;

        & + .why-us-reason {
          margin-top: 20px;
        }
      }
    }
  }
}

body.de-DE {
  .stbase-why-us-block #why-us-reasons .why-us-reason {
    &:nth-child(4) {
      h3 {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

.stbase-home-page {
  .stbase-why-us-block {
    margin-top: 0;
  }
}
