@media (max-width: 1239px) {
  .stbase-reference-result-block {
    overflow: hidden;
  }
}
.stbase-reference-result-block.color-dark .content .title {
  color: #000 !important;
}
.stbase-reference-result-block.color-dark .content .result-text {
  color: #000 !important;
}
.stbase-reference-result-block.color-dark .content .button.project {
  color: #000 !important;
}
.stbase-reference-result-block .container-640 {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.stbase-reference-result-block .container-1080 {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.stbase-reference-result-block .additional-content {
  padding: 100px 0 200px;
}
@media (max-width: 769px) {
  .stbase-reference-result-block .additional-content {
    padding: 40px 25px;
  }
}
.stbase-reference-result-block .additional-content .title {
  color: #F2000C;
  font-size: 33px;
  font-weight: 300;
}
.stbase-reference-result-block .content {
  position: relative;
}
@media (min-width: 769px) {
  .stbase-reference-result-block .content.media-type-none {
    margin-top: -100px;
  }
}
.stbase-reference-result-block .content.media-type-none .content-background {
  top: 0;
}
.stbase-reference-result-block .content .content-background {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.stbase-reference-result-block .content .media {
  margin-top: -100px;
  position: relative;
  z-index: 1;
}
@media (max-width: 769px) {
  .stbase-reference-result-block .content .media {
    margin-top: 0;
  }
}
@media (max-width: 1023px) {
  .stbase-reference-result-block .content .media.image-in-ipad {
    text-align: center;
  }
}
.stbase-reference-result-block .content .media.image-in-ipad .ipad-inner {
  padding: 20px;
  max-width: calc(100% - 40px);
  border-radius: 50px;
}
@media (max-width: 1023px) {
  .stbase-reference-result-block .content .media.image-in-ipad .ipad-inner {
    padding: 5px 15px;
    max-width: calc(100% - 6px);
    border-radius: 25px;
  }
}
.stbase-reference-result-block .content .media.image-in-ipad .ipad-frame {
  position: absolute;
  left: -3px;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 1188px;
}
@media (max-width: 1023px) {
  .stbase-reference-result-block .content .media.image-in-ipad .ipad-frame {
    left: 15px;
    max-width: 105%;
  }
}
.stbase-reference-result-block .content .media.video .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.stbase-reference-result-block .content .media.video .embed-container iframe, .stbase-reference-result-block .content .media.video .embed-container object, .stbase-reference-result-block .content .media.video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.stbase-reference-result-block .content .result {
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
@media (max-width: 769px) {
  .stbase-reference-result-block .content .result {
    padding: 40px 25px;
  }
}
.stbase-reference-result-block .content .result .title {
  color: #fff;
  font-size: 33px;
  font-weight: 300;
}
.stbase-reference-result-block .content .result .result-text {
  color: #fff;
}
.stbase-reference-result-block .content .result .result-text p:last-child {
  margin-bottom: 0;
}
.stbase-reference-result-block .content .result .download-buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
@media (max-width: 769px) {
  .stbase-reference-result-block .content .result .download-buttons {
    margin-top: 30px;
  }
}
.stbase-reference-result-block .content .result .download-buttons img {
  transition: all 0.3s ease-in-out;
}
.stbase-reference-result-block .content .result .download-buttons img:hover {
  transform: scale(1.05);
}
.stbase-reference-result-block .content .result .download-buttons + .project-button {
  margin-top: 20px;
}
.stbase-reference-result-block .content .result .project-button {
  margin-top: 50px;
}
.stbase-reference-result-block .content .result .project-button .button.project {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  padding: 12px 20px;
  font-weight: 500;
  color: #fff;
  display: inline-flex;
  align-items: baseline;
  gap: 12px;
  transition: all 0.3s ease;
}
.stbase-reference-result-block .content .result .project-button .button.project:hover {
  opacity: 0.8;
}