.stbase-reference-side-images-block {
  position: relative;
  margin-top: 2%;
  padding-top: 5%;
}
@media (max-width: 768px) {
  .stbase-reference-side-images-block {
    padding: 10% 0;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .stbase-reference-side-images-block {
    margin-top: 4%;
  }
}
.stbase-reference-side-images-block .background {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 769px) and (max-width: 1440px) {
  .stbase-reference-side-images-block .background {
    top: 10%;
  }
}
.stbase-reference-side-images-block .container-640 {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.stbase-reference-side-images-block .container-1080 {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
.stbase-reference-side-images-block .image-left {
  position: absolute;
  top: -75px;
}
@media (max-width: 768px) {
  .stbase-reference-side-images-block .image-left {
    position: relative;
    top: unset;
    left: unset;
    text-align: center;
  }
  .stbase-reference-side-images-block .image-left img {
    max-height: 500px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .stbase-reference-side-images-block .image-left {
    top: -40px;
    left: -90px;
  }
}
.stbase-reference-side-images-block .content-inner {
  padding: 15% 0 15% 160px;
}
@media (max-width: 768px) {
  .stbase-reference-side-images-block .content-inner {
    padding: 25px;
  }
}
.stbase-reference-side-images-block .content-inner .title {
  color: #F2000C;
  font-size: 33px;
  font-weight: 300;
}
.stbase-reference-side-images-block .image-right {
  position: absolute;
  right: -20%;
  top: 40%;
}
@media (max-width: 768px) {
  .stbase-reference-side-images-block .image-right {
    position: relative;
    right: unset;
    bottom: unset;
    text-align: center;
  }
  .stbase-reference-side-images-block .image-right img {
    max-height: 500px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .stbase-reference-side-images-block .image-right {
    right: -260px;
  }
}