.stbase-reference-introduction-block {

    &.color-dark {
        .content {
            .title {
                color: #000 !important;
            }

            .introduction-text {
                color: #000 !important;
            }
        }
    }

    .introduction {
        .content-inner {
            padding: 0;

            .container-860 {
                width: 100%;
                max-width: 860px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                padding: 140px 0 215px;

                @media (max-width: 769px) {
                    padding: 40px 25px;
                }

                .title {
                    font-size: 39px;
                    font-weight: 500;
                    color: #fff;

                    @media (max-width: 769px) {
                        font-size: 26px;
                        line-height: 36px;
                    }
                }

                .introduction-text {
                    color: rgba(255, 255, 255, 0.80);
                }
            }

            
        }

        .introduction-image {
            margin-top: -95px;

            @media (max-width: 769px) {
                margin-top: 0;
            }
        }
    }
}

.st-reference-cs-page {
    #reference-content-row {
        #reference-body.reference-case-study {
            .stbase-reference-introduction-block {
                .introduction {
                    .content-inner {
                        .title {
                            font-size: 39px;
                            font-weight: 500;
                            color: #fff;

                            @media (max-width: 769px) {
                                font-size: 26px;
                                line-height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
