.stbase-reference-text-image-block .container-640 {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.stbase-reference-text-image-block .container-1080 {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.stbase-reference-text-image-block .content-inner {
  padding: 3% 0;
}
@media (max-width: 769px) {
  .stbase-reference-text-image-block .content-inner {
    padding: 25px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .stbase-reference-text-image-block .content-inner {
    padding: 5% 0;
  }
}
.stbase-reference-text-image-block .content-inner .title {
  color: #F2000C;
  font-size: 33px;
  font-weight: 300;
}
.stbase-reference-text-image-block .image {
  text-align: center;
}
.stbase-reference-text-image-block + .stbase-reference-result-block:not(.additional) {
  margin-top: 170px;
}
@media (max-width: 769px) {
  .stbase-reference-text-image-block + .stbase-reference-result-block:not(.additional) {
    margin-top: 40px;
  }
}