.stbase-reference-result-block {

    @media (max-width: 1239px) {
        overflow: hidden;
    }

    &.color-dark {
        .content {
            .title {
                color: #000 !important;
            }

            .result-text {
                color: #000 !important;
            }

            .button.project {
                color: #000 !important;
            }
        }
    }

    .container-640 {
        width: 100%;
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container-1080 {
        width: 100%;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .additional-content {
        padding: 100px 0 200px;

        @media (max-width: 769px) {
            padding: 40px 25px;
        }

        .title {
            color: #F2000C;
            font-size: 33px;
            font-weight: 300;
        }
    }

    .content {
        position: relative;

        &.media-type-none {
            @media (min-width: 769px) {
                margin-top: -100px;
            }

            .content-background {
                top: 0;
            }
        }

        .content-background {
            position: absolute;
            top: 100px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
        }

        .media {
            margin-top: -100px;
            position: relative;
            z-index: 1;

            @media (max-width: 769px) {
                margin-top: 0;
            }

            &.image-in-ipad {
                @media (max-width: 1023px) {
                    text-align: center;
                }

                .ipad-inner {
                    padding: 20px;
                    max-width: calc(100% - 40px);
                    border-radius: 50px;

                    @media (max-width: 1023px) {
                        padding: 5px 15px;
                        max-width: calc(100% - 6px);
                        border-radius: 25px;
                    }
                }

                .ipad-frame {
                    position: absolute;
                    left: -3px;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 1188px;

                    @media (max-width: 1023px) {
                        left: 15px;
                        max-width: 105%;
                    }
                }
            }

            &.video {
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            }
        }

        .result {
            position: relative;
            z-index: 1;
            padding: 100px 0;

            @media (max-width: 769px) {
                padding: 40px 25px;
            }

            .title {
                color: #fff;
                font-size: 33px;
                font-weight: 300;
            }

            .result-text {
                color: #fff;

                p:last-child {
                    margin-bottom: 0;
                }
            }

            .download-buttons {
                display: flex;
                gap: 20px;
                margin-top: 50px;

                @media (max-width: 769px) {
                    margin-top: 30px;
                }

                img {
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                &+.project-button {
                    margin-top: 20px;
                }
            }

            .project-button {
                margin-top: 50px;

                .button.project {
                    border-radius: 5px;
                    background: rgba(255, 255, 255, 0.15);
                    padding: 12px 20px;
                    font-weight: 500;
                    color: #fff;
                    display: inline-flex;
                    align-items: baseline;
                    gap: 12px;
                    transition: all .3s ease;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}