.stbase-reference-text-image-block {
    .container-640 {
        width: 100%;
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container-1080 {
        width: 100%;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .content-inner {
        padding: 3% 0;

        @media (max-width: 769px) {
            padding: 25px;
        }

        @media (min-width: 769px) and (max-width: 1440px) {
            padding: 5% 0;
        }

        .title {
            color: #F2000C;
            font-size: 33px;
            font-weight: 300;
        }
    }

    .image {
        text-align: center;
    }

    &+.stbase-reference-result-block:not(.additional) {
        margin-top: 170px;

        @media (max-width: 769px) {
            margin-top: 40px;
        }
    }
}