.stbase-reference-side-images-block {
    position: relative;
    margin-top: 2%;
    padding-top: 5%;

    @media (max-width: 768px) {
        padding: 10% 0;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        margin-top: 4%;
    }

    .background {
        position: absolute;
        top: 15%;
        right: 0;
        bottom: 0;
        left: 0;

        @media (min-width: 769px) and (max-width: 1440px) {
            top: 10%;
        }
    }

    .container-640 {
        width: 100%;
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container-1080 {
        width: 100%;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
    }

    .image-left {
        position: absolute;
        top: -75px;

        @media (max-width: 768px) {
            position: relative;
            top: unset;
            left: unset;
            text-align: center;

            img {
                max-height: 500px;
            }
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            top: -40px;
            left: -90px;
        }
    }

    .content-inner {
        padding: 15% 0 15% 160px;

        @media (max-width: 768px) {
            padding: 25px;
        }

        .title {
            color: #F2000C;
            font-size: 33px;
            font-weight: 300;
        }
    }

    .image-right {
        position: absolute;
        right: -20%;
        top: 40%;

        @media (max-width: 768px) {
            position: relative;
            right: unset;
            bottom: unset;
            text-align: center;

            img {
                max-height: 500px;
            }
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            right: -260px;
        }
    }
}