@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
body.error404 header#masthead {
  background-color: #ffdad7;
}
body.error404 .stbase-page {
  background: #ffdad7;
}
body.error404 .stbase-page .container {
  max-width: 1100px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
}
body.error404 .stbase-page .container .page-404__text {
  max-width: 350px;
  margin-top: 70px;
}
body.error404 .stbase-page .container .page-404__text h1 {
  font-family: "Rubik";
  font-size: 33px;
  font-weight: bold;
  line-height: 39px;
  margin: 0 0 25px;
  color: #f2000c;
}
body.error404 .stbase-page .container .page-404__text p {
  margin: 15px 0 0;
}
body.error404 .stbase-page .container .page-404__text img.mobile {
  display: none;
}
@media (max-width: 1100px) {
  body.error404 .stbase-page .container {
    background-position: center right -150px;
    min-height: 460px;
  }
}
@media (max-width: 820px) {
  body.error404 .stbase-page .container {
    background-image: none !important;
    min-height: unset;
  }
  body.error404 .stbase-page .container .page-404__text {
    margin: 0 auto 50px;
  }
  body.error404 .stbase-page .container .page-404__text img.mobile {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  body.error404 .stbase-page .container {
    margin-top: 20px;
  }
}