body.error404 {
  header#masthead {
    background-color: #ffdad7;
  }

  .stbase-page {
    background: #ffdad7;

    .container {
      max-width: 1100px;
      min-height: 500px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      overflow: hidden;

      .page-404__text {
        max-width: 350px;
        margin-top: 70px;

        h1 {
          font-family: "Rubik";
          font-size: 33px;
          font-weight: bold;
          line-height: 39px;
          margin: 0 0 25px;
          color: #f2000c;
        }

        p {
          margin: 15px 0 0;
        }

        img.mobile {
          display: none;
        }
      }

      @media (max-width: 1100px) {
        background-position: center right -150px;
        min-height: 460px;
      }

      @media (max-width: 820px) {
        background-image: none !important;
        min-height: unset;

        .page-404__text {
          margin: 0 auto 50px;

          img.mobile {
            display: inline-block;
            width: 100%;
            height: auto;
            margin-top: 40px;
          }
        }
      }

      @media (max-width: 500px) {
        margin-top: 20px;
      }
    }
  }
}
