.stbase-android-page {
  .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .stbase-image-text-block .container {
    align-items: center;
  }

  @media (max-width: 700px) {
    .stbase-intro-text-awards-block {
      padding-bottom: 75px;
    }
    .stbase-icon-list-block .container .icon-list {
      grid-template-columns: repeat(2, 1fr);

      .icon {
        max-width: 150px;
      }
    }
  }
}

body.page-template-page-android {
  @include gray-top-header();
}
