body.en-US .stbase-appdev-page {
  .stbase-our-story-block {
    .container {
      .our-story-content {
        @media (min-width: 601px) and (max-width: 850px) {
          h2 {
            font-size: 52px;
            line-height: 62px;
          }

          p {
            font-size: 23px;
          }
        }

        @media (min-width: 501px) and (max-width: 600px) {
          h2 {
            font-size: 45px;
            line-height: 55px;
          }

          p {
            font-size: 22px;
          }
        }

        @media (max-width: 415px) {
          h2 {
            font-size: 40px;
            line-height: 120%;
          }

          p {
            font-size: 21px;
          }
        }
      }
    }
  }

  .stbase-icon-list-block {
    h2 {
      max-width: 510px;
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        @media (max-width: 1050px) {
          p {
            font-size: 21px;
          }
        }

        @media (max-width: 700px) {
          p {
            font-size: 18px;
          }
        }

        @media (max-width: 540px) {
          p {
            font-size: 16px;
          }
        }

        // @media (max-width: 450px) {
        //   gap: 16px;

        //   p {
        //     font-size: 14px;
        //   }
        // }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

body.fr-FR .stbase-appdev-page {
  .stbase-intro-text-awards-block {
    @media (min-width: 1030px) {
      .container {
        #intro-title-and-text {
          h1 {
            font-size: 38px;
            line-height: 49px;
          }
        }
      }
    }

    @media (min-width: 911px) {
      #intro-title-and-text {
        max-width: 634px;
      }
    }

    @media (max-width: 910px) {
      #intro-title-and-text {
        h1 {
          font-size: 48px;
          line-height: 120%;
        }
      }
    }

    @media (max-width: 680px) {
      #intro-title-and-text {
        h1 {
          font-size: 44px;
        }
      }
    }

    @media (max-width: 500px) {
      #intro-title-and-text {
        h1 {
          font-size: 32px;
        }
      }
    }
  }

  .stbase-services-block {
    #services {
      .service-title {
        height: auto;
        font-size: 22px;
        line-height: 27px;
      }
    }
  }

  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 430px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 420px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .stbase-awards-block {
    .awards-column {
      .award {
        width: 490px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 981px) {
          width: 100%;
          max-width: 520px;
        }

        @media (max-width: 680px) {
          max-width: 536px;
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 425px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 480px) {
          column-gap: 0;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }

          ul {
            li {
              font-size: 12px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }
  }

  // .stbase-big-red-text-block {
  //   .container {
  //     max-width: 930px;

  //     @media (min-width: 1300px) {
  //       p {
  //         font-size: 48px;
  //         line-height: 61px;
  //       }
  //     }
  //   }
  // }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        h2 {
          font-size: 46px;
          line-height: 54px;
        }

        p {
          font-size: 22px;
          line-height: 34px;
        }

        @media (min-width: 921px) and (max-width: 1030px) {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }

        @media (min-width: 851px) and (max-width: 920px) {
          h2 {
            font-size: 26px;
            line-height: 35px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        @media (max-width: 550px) {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        p {
          font-size: 21px;
        }
      }

      @media (max-width: 1020px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 215px);

        .fact-link {
          .fact-number {
            font-size: 70px;
          }
        }
      }

      @media (max-width: 750px) {
        grid-template-rows: repeat(3, 190px);

        .fact-link {
          padding-bottom: 20px;

          .fact-number {
            font-size: 60px;
          }

          p {
            font-size: 17px;
          }
        }
      }

      @media (max-width: 560px) {
        grid-template-rows: repeat(3, 180px);

        .fact-link {
          padding-left: 25px;
          padding-right: 25px;

          .fact-number {
            font-size: 45px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }

      // @media (max-width: 470px) {
      //   gap: 16px;

      //   .fact-link {
      //     padding-left: 20px;
      //     padding-right: 20px;

      //     p {
      //       font-size: 14px;
      //     }
      //   }
      // }

      // @media (max-width: 410px) {
      //   grid-template-columns: 1fr;
      //   grid-template-rows: auto;
      // }
    }
  }
}

body.de-DE .stbase-appdev-page {
  .stbase-intro-text-awards-block {
    @media (min-width: 651px) {
      #intro-title-and-text {
        max-width: 634px;

        h1 {
          font-size: 39px;
          line-height: 48px;
        }

        #intro-text {
          max-width: none;

          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
    }

    @media (max-width: 650px) {
      #intro-title-and-text {
        h1 {
          font-size: 38px;
          line-height: 48px;
        }
      }

      #intro-text {
        p {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }

    @media (max-width: 480px) {
      #intro-title-and-text {
        h1 {
          font-size: 32px;
          line-height: 42px;
        }
      }

      #intro-text {
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .stbase-services-block {
    #services {
      .service {
        .service-cover {
          @media (min-width: 801px) and (max-width: 830px) {
            font-size: 13px;
          }
        }
      }
    }
  }

  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 430px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 420px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // .stbase-big-red-text-block {
  //   .container {
  //     max-width: 860px;

  //     @media (min-width: 1351px) {
  //       padding-top: 160px;
  //       padding-bottom: 175px;
  //     }

  //     @media (min-width: 761px) {
  //       p {
  //         font-size: 46px;
  //         line-height: 60px;
  //       }
  //     }

  //     @media (max-width: 510px) {
  //       p {
  //         font-size: 31px;
  //         line-height: 44px;
  //       }
  //     }
  //   }
  // }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        h2 {
          font-size: 38px;
          line-height: 48px;
          max-width: 470px;
        }

        p {
          font-size: 20px;
          line-height: 34px;
          max-width: 470px;
        }

        @media (min-width: 921px) and (max-width: 1200px) {
          h2 {
            font-size: 32px;
            line-height: 40px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }

        @media (min-width: 851px) and (max-width: 920px) {
          h2 {
            font-size: 30px;
            line-height: 39px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        @media (max-width: 850px) {
          h2,
          p {
            max-width: none;
          }
        }

        @media (max-width: 550px) {
          h2 {
            font-size: 32px;
            line-height: 40px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .stbase-icon-list-block {
    .container {
      .icon-list {
        @media (max-width: 470px) {
          row-gap: 35px;
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .stbase-fact-header-block {
    &#fact-1 {
      header {
        .fact-header-content {
          h3 {
            @media (max-width: 430px) {
              font-size: 27px;
            }

            @media (max-width: 400px) {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        p {
          font-size: 22px;
        }
      }

      @media (min-width: 1001px) and (max-width: 1150px) {
        .fact-link {
          p {
            font-size: 20px;
          }

          &:nth-child(5) {
            p {
              font-size: 18px;
            }
          }
        }
      }

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        .fact-link {
          p {
            font-size: 22px;
          }
        }
      }

      @media (max-width: 800px) {
        .fact-link {
          p {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 600px) {
        .fact-link {
          p {
            font-size: 15px;
          }
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }

  .stbase-fact-advantages-block {
    .fact-advantages {
      .advantage {
        h5 {
          @media (max-width: 390px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .stbase-fact-process-timing-block {
    .process-timing-step-list {
      @media (max-width: 800px) {
        .process-timing-step {
          .step-red-bc {
            .show-more-text-item {
              .show-more-text {
                font-size: 16px;
              }
            }
          }
        }
      }

      @media (max-width: 720px) {
        flex-direction: column;

        .process-timing-step {
          border: none;

          & + .process-timing-step {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .stbase-fact-team-block {
    .team {
      @media (max-width: 1050px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 760px) {
        grid-template-columns: 1fr;
      }

      @media (max-width: 410px) {
        .team-member {
          header {
            font-size: 19px;
            line-height: 140%;
          }

          .show-more-text-item {
            .show-more-text {
              font-size: 16px;
              line-height: 140%;
            }
          }
        }
      }

      @media (max-width: 380px) {
        .team-member {
          header {
            font-size: 17px;
          }

          .show-more-text-item {
            .show-more-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

body.page-template-page-app-dev {
  @include gray-top-header();
}
