.stbase-page {
  padding-top: 140px;
  background: linear-gradient(to bottom, #edf0f2 0%, white 105px);

  ul {
    li {
      a {
        word-wrap: break-word;
      }
    }
  }

  &.no-padding-top {
    padding-top: 0;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
  }
}
