.st-blogpost-page {
  #swisst2-post {
    &.app-cost {
      // max-width: 1300px;

      #post-row {
        #post-column-2 {
          width: 100%;

          #post-content {
            .stbase-block:not(.block-with-background) {
              .container {
                padding-left: 0;
                padding-right: 0;
              }
            }

            #how-much-cost {
              margin: 30px 0;
            }

            #hourly-rates {
              max-width: unset;
              padding-left: 0;
              padding-right: 0;

              .fact-advantages {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr auto;
                row-gap: 30px;

                .advantage {
                  .advantage-header {
                    height: auto;
                  }

                  &:last-child {
                    grid-column: 1 / 3;
                  }
                }

                @media (max-width: 900px) {
                  grid-template-columns: 1fr;
                  grid-template: auto;

                  .advantage {
                    &:last-child {
                      grid-column: unset;
                    }
                  }
                }
              }
            }

            .stbase-fact-complexity-block {
              margin-top: -40px;
              padding-left: 0;
              padding-right: 0;

              .complexity-items {
                justify-items: center;

                .item {
                  max-width: 1015px;
                }
              }
            }

            .stbase-fact-process-timing-block {
              margin-top: -40px;
              padding-left: 0;
              padding-right: 0;
            }

            .stbase-awards-block {
              .center-1300 {
                .awards-text-column {
                  p {
                    font-size: 46px;
                    line-height: 58px;

                    @media (max-width: 521px) {
                      font-size: 36px;
                      line-height: 120%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body.fr-FR {
  .st-blogpost-page {
    #swisst2-post {
      &.app-cost {
        #post-row {
          #post-column-2 {
            #post-content {
              .stbase-awards-block {
                .awards-column {
                  .award {
                    width: 490px;
                    grid-template-columns: 190px auto;

                    ul {
                      li {
                        text-align: left;
                      }
                    }

                    @media (min-width: 981px) {
                      ul {
                        li {
                          font-size: 13px;
                          line-height: 18px;
                        }
                      }
                    }

                    @media (min-width: 981px) and (max-width: 1170px) {
                      grid-template-columns: 150px auto;
                      column-gap: 15px;
                      width: 460px;

                      picture {
                        img {
                          max-width: 130px;
                        }
                      }
                    }

                    @media (max-width: 981px) {
                      width: 100%;
                      max-width: 520px;
                    }

                    @media (max-width: 680px) {
                      max-width: 536px;
                    }

                    @media (max-width: 600px) {
                      column-gap: 10px;
                      width: 425px;

                      picture {
                        img {
                          max-width: 140px;
                        }
                      }

                      ul {
                        li {
                          font-size: 13px;
                          line-height: 16px;
                        }
                      }
                    }

                    @media (max-width: 480px) {
                      column-gap: 0;
                      width: 100%;
                      grid-template-columns: 150px auto;

                      picture {
                        justify-self: center;

                        img {
                          max-width: 110px;
                        }
                      }

                      ul {
                        li {
                          font-size: 12px;
                        }
                      }
                    }

                    @media (max-width: 390px) {
                      column-gap: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
