.stbase-blog-masonry-page {

  .st-post-list {
    position: relative;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20px;
    // visibility: hidden;

    .post {
      position: relative;
      margin: 0;

      .post--image-wrapper {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .post--content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 35px 40px;
        
        h2 {
          color: #FFFFFF;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 28px;
          margin: 0 0 4px;
        }

        p {
          opacity: 0.7;
          color: #FFFFFF;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px;
          max-height: calc(2*22px);
          overflow: hidden;
        }
      }
    }
  }


  .load-more-wrapper {
    height: 70px;
    margin-bottom: 25px;

    a.load-more {
      max-width: 250px;
      margin: 0 auto 30px;
      cursor: pointer;
    }

    i {
      font-size: 50px;
      color: $primary;
      display: none;
    }
  }

  .blog-post-list.loading {
    opacity: 0.3;

    & + .load-more-wrapper {
      a.load-more {
        display: none;
      }
  
      i {
        display: inline-block;
      }
    }
  }
}
