.st-blogpost-page {
  #swisst2-post {
    &.web-cost {
      // max-width: 1300px;

      #post-row {
        #post-column-2 {
          width: 100%;

          #post-content {
            .stbase-block:not(.block-with-background) {
              .container {
                padding-left: 0;
                padding-right: 0;
              }
            }

            p,
            ul,
            h2,
            ol {
              max-width: 660px;
              margin-left: auto;
              margin-right: auto;
            }

            ul,
            ol {
              padding-left: 40px;
            }

            @media (max-width: 800px) {
              .stbase-cost-table-block {
                margin-top: 40px;
                margin-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }
}
