body .stbase-webdev-page {
  .stbase-icon-list-block {
    .container {
      @media (max-width: 460px) {
        h2 {
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 38px;
        }

        .icon-list {
          grid-template-columns: 1fr;

          .icon {
            grid-template-columns: 16vw auto;
            grid-template-rows: auto auto;
            column-gap: 4vw;
            align-items: start;
            justify-items: start;

            picture {
              grid-column: 1 / 2;
              grid-row: 1 / 3;
            }

            h3 {
              grid-column: 2 / 3;
              grid-row: 1 / 2;
              text-align: left;
            }

            p {
              grid-column: 2 / 3;
              grid-row: 2 / 3;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

body.fr-FR .stbase-webdev-page {
  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 460px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 422px) {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }

  .stbase-awards-block {
    .awards-column {
      .award {
        width: 520px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 420px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 11px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 420px) {
          column-gap: 10px;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      @media (max-width: 1020px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 215px);

        .fact-link {
          .fact-number {
            font-size: 70px;
          }

          p {
            font-size: 21px;
          }
        }
      }

      @media (max-width: 750px) {
        grid-template-rows: repeat(3, 190px);

        .fact-link {
          padding-bottom: 20px;

          .fact-number {
            font-size: 60px;
          }

          p {
            font-size: 17px;
          }
        }
      }

      @media (max-width: 560px) {
        grid-template-rows: repeat(3, 180px);

        .fact-link {
          padding-left: 25px;
          padding-right: 25px;

          .fact-number {
            font-size: 45px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }

      // @media (max-width: 470px) {
      //   gap: 16px;

      //   .fact-link {
      //     padding-left: 20px;
      //     padding-right: 20px;

      //     p {
      //       font-size: 14px;
      //     }
      //   }
      // }

      // @media (max-width: 390px) {
      //   grid-template-columns: 1fr;
      //   grid-template-rows: auto;
      // }
    }
  }
}

body.de-DE .stbase-webdev-page {
  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 470px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 450px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .stbase-icon-list-block {
    .container {
      @media (max-width: 580px) {
        h2 {
          font-size: 29px;
          line-height: 37px;
        }

        .icon-list {
          .icon {
            row-gap: 11px;

            h3 {
              font-size: 18px;
            }

            p {
              font-size: 15px;
            }

            &:nth-child(5) {
              h3 {
                font-size: 16px;
              }
            }
          }
        }
      }

      @media (max-width: 490px) {
        h2 {
          font-size: 26px;
          line-height: 34px;
        }

        .icon-list {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          row-gap: 20px;

          .icon {
            &:nth-child(5) {
              h3 {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .stbase-our-story-block {
    .container {
      @media (min-width: 501px) and (max-width: 850px) {
        .our-story-content {
          h2 {
            font-size: 46px;
            line-height: 55px;
          }

          p {
            font-size: 23px;
          }
        }
      }
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        p {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 1070px) {
      .fact-links {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }
    }

    @media (max-width: 760px) {
      .fact-links {
        .fact-link {
          p {
            font-size: 18px;
          }
        }
      }
    }

    @media (max-width: 670px) {
      .fact-links {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }

    @media (max-width: 390px) {
      .fact-links {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
  }

  .stbase-fact-header-block {
    @media (max-width: 500px) {
      header {
        .fact-header-content {
          height: 330px;

          h3 {
            font-size: 26px;
          }
        }
      }
    }

    @media (max-width: 440px) {
      &#fact-1 {
        header {
          .fact-header-content {
            h3 {
              font-size: 22px;
            }
          }
        }
      }
    }

    @media (max-width: 390px) {
      &#fact-1 {
        header {
          .fact-header-content {
            h3 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .stbase-fact-links-block {
    @media (max-width: 500px) {
      .fact {
        header {
          .fact-header-content {
            height: 330px;

            h3 {
              font-size: 26px;
            }
          }
        }
      }
    }

    @media (max-width: 440px) {
      .fact {
        &:nth-child(1) {
          header {
            .fact-header-content {
              h3 {
                font-size: 22px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 390px) {
      .fact {
        &:nth-child(1) {
          header {
            .fact-header-content {
              h3 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

body.page-template-page-web-dev {
  @include gray-top-header();
}
