// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-arvr-page {
  .stbase-services-block {
    #services {
      gap: 20px;
      margin-bottom: 90px;

      .service {
        cursor: pointer;

        .service-title {
          width: auto;
          height: auto;
        }

        &:before {
          content: " ";
          width: 76px;
          height: 76px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            135deg,
            transparent 0%,
            transparent 50%,
            #f5f5f5 51%,
            #f5f5f5 100%
          );
          transition: all 0.9s;
          z-index: 2;
        }

        &:after {
          content: "\f061";
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          font-size: 21px;
          color: $primary;
          position: absolute;
          right: 13px;
          bottom: 9px;
          transition: all 0.9s;
          z-index: 2;
          transform-origin: center;
        }

        &:hover {
          &:before {
            transform: scale(2) translate(-12px, -12px);
          }

          &:after {
            transform: rotateZ(90deg) translate(-7px, 18px);
          }
        }
      }

      @media (min-width: 881px) {
        .service {
          .service-cover {
            max-width: 450px;
            left: 50%;
            margin-left: -215px;
            font-size: 28px;
            line-height: 140%;
          }
        }
      }

      @media (min-width: 651px) and (max-width: 880px) {
        .service {
          .service-cover {
            font-size: 22px;
            line-height: 140%;
          }
        }
      }

      @media (min-width: 651px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .stbase-fact-advantages-block {
    .advantage {
      .advantage-header {
        height: auto;
      }
    }
  }

  .stbase-header-with-bc-block {
    header {
      .header__content {
        @media (max-width: 700px) {
          .header__subtitle {
            font-size: 17px;
            line-height: 18px;
          }

          h3 {
            font-size: 28px;
            margin-top: 15px;
          }
        }

        @media (max-width: 470px) {
          .header__subtitle {
            font-size: 16px;
            line-height: 15px;
          }

          h3 {
            font-size: 24px;
            margin-top: 15px;
            line-height: 135%;
          }
        }
      }
    }
  }

  #vr-headsets-section {
    .gallery {
      .gallery-item {
        figcaption {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
        }
      }

      @media (max-width: 520px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
      }
    }
  }
}

body.fr-FR .stbase-arvr-page {
  .stbase-awards-block {
    .awards-column {
      .award {
        width: 490px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 981px) {
          width: 100%;
          max-width: 621px;
        }

        @media (max-width: 850px) {
          max-width: 550px;
        }

        @media (max-width: 680px) {
          max-width: 536px;
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 425px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 480px) {
          column-gap: 0;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }

          ul {
            li {
              font-size: 12px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }

    .awards-text-column {
      p {
        font-size: 46px;
        line-height: 133%;
      }
    }

    @media (max-width: 980px) {
      .awards-text-column {
        p {
          font-size: 40px;
        }
      }
    }

    @media (max-width: 520px) {
      .awards-text-column {
        p {
          font-size: 28px;
        }
      }
    }
  }
}

body.de-DE .stbase-arvr-page {
  // .stbase-awards-block {
  //   .awards-column {
  //     .award {
  //       width: 490px;
  //       grid-template-columns: 190px auto;

  //       ul {
  //         li {
  //           text-align: left;
  //         }
  //       }

  //       @media (min-width: 981px) {
  //         ul {
  //           li {
  //             font-size: 15px;
  //             line-height: 18px;
  //           }
  //         }
  //       }

  //       @media (min-width: 981px) and (max-width: 1170px) {
  //         grid-template-columns: 150px auto;
  //         column-gap: 15px;
  //         width: 460px;

  //         picture {
  //           img {
  //             max-width: 130px;
  //           }
  //         }
  //       }

  //       @media (max-width: 981px) {
  //         width: 100%;
  //         max-width: 621px;
  //       }

  //       @media (max-width: 680px) {
  //         max-width: 536px;
  //       }

  //       @media (max-width: 600px) {
  //         column-gap: 10px;
  //         width: 425px;

  //         picture {
  //           img {
  //             max-width: 140px;
  //           }
  //         }

  //         ul {
  //           li {
  //             font-size: 13px;
  //             line-height: 16px;
  //           }
  //         }
  //       }

  //       @media (max-width: 480px) {
  //         column-gap: 0;
  //         width: 100%;
  //         grid-template-columns: 150px auto;

  //         picture {
  //           justify-self: center;

  //           img {
  //             max-width: 110px;
  //           }
  //         }

  //         ul {
  //           li {
  //             font-size: 12px;
  //           }
  //         }
  //       }

  //       @media (max-width: 390px) {
  //         column-gap: 0;
  //       }
  //     }
  //   }

  //   .awards-text-column {
  //     p {
  //       font-size: 42px;
  //       line-height: 133%;
  //     }
  //   }

  //   @media (max-width: 980px) {
  //     .awards-text-column {
  //       p {
  //         font-size: 40px;
  //       }
  //     }
  //   }

  //   @media (max-width: 520px) {
  //     .awards-text-column {
  //       p {
  //         font-size: 28px;
  //       }
  //     }
  //   }
  // }
}

body.page-template-page-arvr {
  @include gray-top-header();
}
