@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-page {
  padding-top: 140px;
  background: linear-gradient(to bottom, #edf0f2 0%, white 105px);
}
.stbase-page ul li a {
  word-wrap: break-word;
}
.stbase-page.no-padding-top {
  padding-top: 0;
}
@media (max-width: 500px) {
  .stbase-page {
    padding-top: 100px;
  }
}