// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-blogposts-page {
  position: relative;

  #intro-section {
    h1 {
      max-width: 600px;
      width: 100%;
      margin: 20px auto 50px;
      font-family: "Rubik";
      font-size: 33px;
      font-weight: bold;
      line-height: 39px;
      text-align: center;
      color: #f2000c;
    }
  }

  input#temp-input {
    &:disabled {
      margin-left: 30px;
    }
  }

  .st-blog-posts {
    position: relative;
    margin-bottom: 70px;

    @media (max-width: 430px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .blog-post-list {
    // display: flex;
    // justify-content: space-between;
    // align-items: stretch;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 560px auto;
    grid-gap: 3rem;
    margin-bottom: 3rem;

    .post {
      margin-bottom: 0;
      background-color: #f8f8f8;
      box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.15);
      border: 1px solid #eee;

      .post-image {
        width: 100%;
        height: 240px;
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        display: block;
      }

      .post-content {
        padding: 17px 25px 60px;

        .post-categories {
          a {
            color: #f2000c;
            font-family: "Rubik";
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
            text-transform: uppercase;
            display: none;

            &:hover {
              color: darken($primary, 15);
            }
          }
        }

        h2.post-title {
          margin: 10px 0;

          a {
            color: #000;
            font-family: "Rubik";
            font-size: 28px;
            font-weight: bold;
            line-height: 35px;

            &:hover {
              color: $primary;
            }
          }
        }

        .post-date {
          opacity: 0.6;
          color: #000000;
          font-family: "Rubik";
          font-size: 16px;
          line-height: 25px;
        }

        .post-text {
          opacity: 0.6;
          color: #000000;
          font-family: "Rubik";
          font-size: 16px;
          line-height: 25px;
          margin-top: 16px;
          max-height: calc(4 * 25px);
          overflow: hidden;

          p {
            display: none;
            margin: 0;

            &:first-child {
              display: block;
            }
          }
        }
      }

      &.first-post {
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        grid-column: span 3;

        .post-image {
          display: none;
        }

        .post-content {
          padding: 55px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background-color: rgba(0, 0, 0, 0.6);
          width: 100%;

          h2.post-title {
            margin: 5px 0;
            max-width: 600px;

            a {
              color: #ffffff;
              font-family: "Rubik";
              font-size: 44px;
              font-weight: bold;
              line-height: 52px;
              margin-bottom: 10px;

              &:hover {
                color: $primary;
              }
            }
          }

          .post-date {
            opacity: 0.6;
            color: rgb(255, 255, 255);
            font-family: "Rubik";
            font-size: 16px;
            line-height: 25px;
          }

          .post-text {
            max-width: 570px;
            opacity: 1;

            p {
              opacity: 0.8;
              color: #ffffff;
              font-family: "Rubik";
              font-size: 16px;
              line-height: 25px;
            }
          }
        }
      }

      &.post-template {
        display: none;
      }
    }

    @media (max-width: 950px) {
      grid-template-rows: 460px auto;
      grid-template-columns: repeat(2, 1fr);

      .post {
        &.first-post {
          grid-column: span 2;
        }
      }
    }

    @media (max-width: 600px) {
      display: block;

      .post {
        .post-content {
          .post-text {
            max-height: unset;
          }
        }

        &.first-post {
          height: unset;

          .post-content {
            padding: 30px 25px;
          }
        }

        & + .post {
          margin-top: 3rem;
        }
      }
    }

    @media (max-width: 430px) {
      .post {
        border: none;

        &.first-post {
          .post-content {
            h2.post-title a {
              font-size: 28px;
              line-height: 1.2em;
            }
          }
        }
      }
    }

    &.extra-post-after {
      &:after {
        width: 31.6%;
        content: " ";
        display: block;
      }
    }
  }

  .load-more-wrapper {
    height: 70px;
    margin-bottom: 25px;

    a.load-more {
      max-width: 250px;
      margin: 0 auto 30px;
      cursor: pointer;
    }

    i {
      font-size: 50px;
      color: $primary;
      display: none;
    }
  }

  .blog-post-list.loading {
    opacity: 0.3;

    & + .load-more-wrapper {
      a.load-more {
        display: none;
      }

      i {
        display: inline-block;
      }
    }
  }
}
