@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 {
  width: 100%;
}
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content .stbase-block:not(.block-with-background) .container {
  padding-left: 0;
  padding-right: 0;
}
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content p,
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content ul,
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content h2,
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content ol {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content ul,
.st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content ol {
  padding-left: 40px;
}
@media (max-width: 800px) {
  .st-blogpost-page #swisst2-post.web-cost #post-row #post-column-2 #post-content .stbase-cost-table-block {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}