// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

body.fr-FR .stbase-creation-site-page {
  .stbase-intro-text-video-block {
    .container {
      .intro-block__text-column {
        .text-column-content {
          h1 {
            @media (min-width: 1050px) and (max-width: 1100px) {
              font-size: 54px;
              line-height: 63px;
            }
          }
        }
      }
    }
  }

  .stbase-icon-list-block {
    .container {
      @media (max-width: 460px) {
        h2 {
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 38px;
        }

        .icon-list {
          grid-template-columns: 1fr;
          justify-items: flex-start;

          .icon {
            grid-template-columns: 16vw auto;
            grid-template-rows: auto auto;
            column-gap: 4vw;
            align-items: start;
            justify-items: start;

            picture {
              grid-column: 1 / 2;
              grid-row: 1 / 3;
            }

            h3 {
              grid-column: 2 / 3;
              grid-row: 1 / 2;
              text-align: left;
            }

            p {
              grid-column: 2 / 3;
              grid-row: 2 / 3;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 460px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 422px) {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }

  .stbase-services-block {
    margin-top: 77px;
    margin-bottom: 77px;

    #services {
      margin-top: 0;

      .service .sevice-titles-box .service-title {
        height: auto;
      }
    }
  }

  .stbase-awards-block {
    .awards-column {
      .award {
        width: 520px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 420px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 11px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 420px) {
          column-gap: 10px;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }
  }

  .stbase-check-list-block + .stbase-contact-us-block {
    margin-top: 0;
  }

  .stbase-fact-links-block {
    .fact-links {
      @media (max-width: 1020px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 215px);

        .fact-link {
          .fact-number {
            font-size: 70px;
          }

          p {
            font-size: 21px;
          }
        }
      }

      @media (max-width: 750px) {
        grid-template-rows: repeat(3, 190px);

        .fact-link {
          padding-bottom: 20px;

          .fact-number {
            font-size: 60px;
          }

          p {
            font-size: 17px;
          }
        }
      }

      @media (max-width: 560px) {
        grid-template-rows: repeat(3, 180px);

        .fact-link {
          padding-left: 25px;
          padding-right: 25px;

          .fact-number {
            font-size: 45px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }

      // @media (max-width: 470px) {
      //   gap: 16px;

      //   .fact-link {
      //     padding-left: 20px;
      //     padding-right: 20px;

      //     p {
      //       font-size: 14px;
      //     }
      //   }
      // }

      // @media (max-width: 390px) {
      //   grid-template-columns: 1fr;
      //   grid-template-rows: auto;
      // }
    }
  }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        h2 {
          font-size: 48px;
          line-height: 59px;
        }

        p {
          font-size: 22px;
        }

        @media (max-width: 1220px) {
          h2 {
            font-size: 42px;
            line-height: 52px;
          }

          p {
            font-size: 20px;
          }
        }

        @media (max-width: 850px) {
          padding-top: 0;
        }

        @media (max-width: 520px) {
          padding-top: 20px;
        }
      }
    }

    @media (max-width: 980px) {
      padding-top: 0;
    }
  }

  .stbase-image-text-block {
    .column.text-column {
      h3 {
        margin-bottom: 0;
      }
    }
  }
}

body.page-template-page-creation-site {
  @include gray-top-header();
}
