// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

body.admin-bar.page-template-page-discovery-process {
    header#masthead {
        top: 32px;
    }
}

body.page-template-page-discovery-process {
    header#masthead {
        top: 0;
    }
}