// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-drupal-page {
  .stbase-intro-text-image-block .container .intro-block__image-column {
    text-align: center;

    img {
      object-fit: contain;
      width: 50%;
    }
  }
  .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(2, 1fr);

    .icon {
      max-width: 90%;

      p {
        max-width: 100%;
      }
    }
  }
  .stbase-image-text-block .container {
    align-items: center;

    .column.image-column img {
      object-fit: contain;
    }
  }

  @media (max-width: 700px) {
    .stbase-intro-text-image-block {
      padding-bottom: 15%;
    }
    .stbase-icon-list-block .container .icon-list {
      grid-template-columns: repeat(1, 1fr);

      .icon {
        max-width: 100%;
      }
    }
    #process-timing-text {
      padding: 0 35px;
    }
  }
}

body.page-template-page-drupal {
  @include gray-top-header();
}

body.de-DE {
  .stbase-drupal-page {
    .stbase-intro-text-image-block {
      .container {
        @media (min-width: 1051px) and (max-width: 1200px) {
          height: unset;
          padding-bottom: 25px;
        }
      }
    }
  }
}
