@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-drupal-page .stbase-intro-text-image-block .container .intro-block__image-column {
  text-align: center;
}
.stbase-drupal-page .stbase-intro-text-image-block .container .intro-block__image-column img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}
.stbase-drupal-page .stbase-icon-list-block .container .icon-list {
  grid-template-columns: repeat(2, 1fr);
}
.stbase-drupal-page .stbase-icon-list-block .container .icon-list .icon {
  max-width: 90%;
}
.stbase-drupal-page .stbase-icon-list-block .container .icon-list .icon p {
  max-width: 100%;
}
.stbase-drupal-page .stbase-image-text-block .container {
  align-items: center;
}
.stbase-drupal-page .stbase-image-text-block .container .column.image-column img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 700px) {
  .stbase-drupal-page .stbase-intro-text-image-block {
    padding-bottom: 15%;
  }
  .stbase-drupal-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .stbase-drupal-page .stbase-icon-list-block .container .icon-list .icon {
    max-width: 100%;
  }
  .stbase-drupal-page #process-timing-text {
    padding: 0 35px;
  }
}

body.page-template-page-drupal header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-drupal header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-drupal header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-drupal header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}

@media (min-width: 1051px) and (max-width: 1200px) {
  body.de-DE .stbase-drupal-page .stbase-intro-text-image-block .container {
    height: unset;
    padding-bottom: 25px;
  }
}