@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
body.en-US .stbase-flutter-page .stbase-icon-list-block .container h2 {
  max-width: 720px;
}
@media (max-width: 850px) {
  body.en-US .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 43px;
    line-height: 120%;
  }
  body.en-US .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  body.en-US .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 40px;
    line-height: 120%;
  }
  body.en-US .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
    font-size: 21.5559px;
    line-height: 140%;
  }
}

body.fr-FR .stbase-flutter-page .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content h1 {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}
@media (max-width: 1050px) {
  body.fr-FR .stbase-flutter-page .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
body.fr-FR .stbase-flutter-page #good-example-text a.st-button-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 12px;
  max-width: 420px;
  padding: 14px 32px;
}
body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
  width: 490px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 981px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
    width: 100%;
    max-width: 520px;
  }
}
@media (max-width: 680px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
    max-width: 536px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 425px;
  }
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award ul li {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-text-column p {
  font-size: 50px;
  line-height: 60px;
}
@media (max-width: 980px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-text-column p {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 520px) {
  body.fr-FR .stbase-flutter-page .stbase-awards-block .awards-text-column p {
    font-size: 36px;
    line-height: 130%;
  }
}
@media (max-width: 460px) {
  body.fr-FR .stbase-flutter-page .stbase-icon-list-block .container h2 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 38px;
  }
  body.fr-FR .stbase-flutter-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
  }
  body.fr-FR .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon {
    grid-template-columns: 16vw auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
    align-items: start;
    justify-items: start;
  }
  body.fr-FR .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon picture {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  body.fr-FR .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
  }
  body.fr-FR .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
  }
}
body.fr-FR .stbase-flutter-page .stbase-our-story-block {
  padding-top: 100px;
}
body.fr-FR .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 44px;
  line-height: 57px;
  margin: 0 0 20px;
}
body.fr-FR .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
  font-size: 25px;
  line-height: 140%;
  margin-top: 20px;
}
@media (max-width: 1250px) {
  body.fr-FR .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 32px;
    line-height: 45px;
    margin: 0;
  }
  body.fr-FR .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
    font-size: 21px;
    line-height: 140%;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
  }
  body.fr-FR .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 140%;
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  body.fr-FR .stbase-flutter-page .stbase-our-story-block {
    padding-top: 0;
  }
}
body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
  font-size: 21px;
}
@media (max-width: 1020px) {
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 215px);
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 70px;
  }
}
@media (max-width: 750px) {
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 190px);
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link {
    padding-bottom: 20px;
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 60px;
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 180px);
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link {
    padding-left: 25px;
    padding-right: 25px;
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 45px;
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.fr-FR .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}

body.de-DE .stbase-flutter-page .stbase-icon-list-block .container h2 {
  max-width: 720px;
}
@media (max-width: 460px) {
  body.de-DE .stbase-flutter-page .stbase-icon-list-block .container h2 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 38px;
  }
  body.de-DE .stbase-flutter-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
  }
  body.de-DE .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon {
    grid-template-columns: 16vw auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
    align-items: start;
    justify-items: start;
  }
  body.de-DE .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon picture {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  body.de-DE .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
  }
  body.de-DE .stbase-flutter-page .stbase-icon-list-block .container .icon-list .icon p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
  }
}
body.de-DE .stbase-flutter-page .stbase-our-story-block {
  padding-top: 100px;
}
body.de-DE .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 44px;
  line-height: 57px;
  margin: 0 0 20px;
}
body.de-DE .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
  font-size: 25px;
  line-height: 140%;
  margin-top: 20px;
}
@media (max-width: 1250px) {
  body.de-DE .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 32px;
    line-height: 45px;
    margin: 0;
  }
  body.de-DE .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
    font-size: 21px;
    line-height: 140%;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-flutter-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
  }
  body.de-DE .stbase-flutter-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 140%;
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  body.de-DE .stbase-flutter-page .stbase-our-story-block {
    padding-top: 0;
  }
}
@media (min-width: 551px) {
  body.de-DE .stbase-flutter-page .stbase-clients-block #clients-text p {
    font-size: 25px;
  }
}
body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
  font-size: 21px;
}
@media (max-width: 1020px) {
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 215px);
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 70px;
  }
}
@media (max-width: 750px) {
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 190px);
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link {
    padding-bottom: 20px;
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 60px;
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 180px);
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link {
    padding-left: 25px;
    padding-right: 25px;
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 45px;
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.de-DE .stbase-flutter-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}

body.page-template-page-flutter header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-flutter header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-flutter header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-flutter header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}