// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

body.en-US {
  .stbase-flutter-page {
    .stbase-icon-list-block {
      .container {
        h2 {
          max-width: 720px;
        }
      }
    }

    .stbase-our-story-block {
      .container {
        .our-story-content {
          @media (max-width: 850px) {
            h2 {
              font-size: 43px;
              line-height: 120%;
            }

            p {
              font-size: 23px;
            }
          }

          @media (max-width: 500px) {
            h2 {
              font-size: 40px;
              line-height: 120%;
            }

            p {
              font-size: 21.5559px;
              line-height: 140%;
            }
          }
        }
      }
    }
  }
}

body.fr-FR {
  .stbase-flutter-page {
    .stbase-intro-text-image-block {
      .container {
        .intro-block__text-column {
          .text-column-content {
            h1 {
              font-size: 40px;
              line-height: 50px;
              margin: 0;
            }
          }
        }
      }

      @media (max-width: 1050px) {
        .container {
          .intro-block__text-column {
            .text-column-content {
              h1 {
                font-size: 30px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }

    #good-example-text {
      a.st-button-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font-size: 12px;
        max-width: 420px;
        padding: 14px 32px;
      }
    }

    .stbase-awards-block {
      .awards-column {
        .award {
          width: 490px;
          grid-template-columns: 190px auto;

          ul {
            li {
              text-align: left;
            }
          }

          @media (min-width: 981px) {
            ul {
              li {
                font-size: 13px;
                line-height: 18px;
              }
            }
          }

          @media (min-width: 981px) and (max-width: 1170px) {
            grid-template-columns: 150px auto;
            column-gap: 15px;
            width: 460px;

            picture {
              img {
                max-width: 130px;
              }
            }
          }

          @media (max-width: 981px) {
            width: 100%;
            max-width: 520px;
          }

          @media (max-width: 680px) {
            max-width: 536px;
          }

          @media (max-width: 600px) {
            column-gap: 10px;
            width: 425px;

            picture {
              img {
                max-width: 140px;
              }
            }

            ul {
              li {
                font-size: 13px;
                line-height: 16px;
              }
            }
          }

          @media (max-width: 480px) {
            column-gap: 0;
            width: 100%;
            grid-template-columns: 150px auto;

            picture {
              justify-self: center;

              img {
                max-width: 110px;
              }
            }

            ul {
              li {
                font-size: 12px;
              }
            }
          }

          @media (max-width: 390px) {
            column-gap: 0;
          }
        }
      }

      .awards-text-column {
        p {
          font-size: 50px;
          line-height: 60px;
        }
      }

      @media (max-width: 980px) {
        .awards-text-column {
          p {
            font-size: 48px;
            line-height: 58px;
          }
        }
      }

      @media (max-width: 520px) {
        .awards-text-column {
          p {
            font-size: 36px;
            line-height: 130%;
          }
        }
      }
    }

    .stbase-icon-list-block {
      .container {
        @media (max-width: 460px) {
          h2 {
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 38px;
          }

          .icon-list {
            grid-template-columns: 1fr;

            .icon {
              grid-template-columns: 16vw auto;
              grid-template-rows: auto auto;
              column-gap: 4vw;
              align-items: start;
              justify-items: start;

              picture {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
              }

              h3 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                text-align: left;
              }

              p {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                text-align: left;
              }
            }
          }
        }
      }
    }

    .stbase-our-story-block {
      padding-top: 100px;

      .container {
        .our-story-content {
          h2 {
            font-size: 44px;
            line-height: 57px;
            margin: 0 0 20px;
          }

          p {
            font-size: 25px;
            line-height: 140%;
            margin-top: 20px;
          }
        }

        @media (max-width: 1250px) {
          .our-story-content {
            h2 {
              font-size: 32px;
              line-height: 45px;
              margin: 0;
            }

            p {
              font-size: 21px;
              line-height: 140%;
              margin-top: 20px;
            }
          }
        }

        @media (max-width: 500px) {
          .our-story-content {
            h2 {
              font-size: 28px;
              line-height: 40px;
              margin: 0;
            }

            p {
              font-size: 18px;
              line-height: 140%;
              margin-top: 20px;
            }
          }
        }
      }

      @media (max-width: 850px) {
        padding-top: 0;
      }
    }

    .stbase-fact-links-block {
      .fact-links {
        .fact-link {
          p {
            font-size: 21px;
          }
        }

        @media (max-width: 1020px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 215px);

          .fact-link {
            .fact-number {
              font-size: 70px;
            }
          }
        }

        @media (max-width: 750px) {
          grid-template-rows: repeat(3, 190px);

          .fact-link {
            padding-bottom: 20px;

            .fact-number {
              font-size: 60px;
            }

            p {
              font-size: 17px;
            }
          }
        }

        @media (max-width: 560px) {
          grid-template-rows: repeat(3, 180px);

          .fact-link {
            padding-left: 25px;
            padding-right: 25px;

            .fact-number {
              font-size: 45px;
            }

            p {
              font-size: 15px;
            }
          }
        }

        @media (max-width: 500px) {
          grid-template-columns: 1fr;
          grid-template-rows: auto;

          .fact-number {
            margin-bottom: 10px;
          }

          .fact-link {
            p {
              font-size: 20px;
            }
          }
        }

        // @media (max-width: 470px) {
        //   gap: 16px;

        //   .fact-link {
        //     padding-left: 20px;
        //     padding-right: 20px;

        //     p {
        //       font-size: 14px;
        //     }
        //   }
        // }

        // @media (max-width: 410px) {
        //   grid-template-columns: 1fr;
        //   grid-template-rows: auto;
        // }
      }
    }
  }
}

body.de-DE {
  .stbase-flutter-page {
    .stbase-icon-list-block {
      .container {
        h2 {
          max-width: 720px;
        }

        @media (max-width: 460px) {
          h2 {
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 38px;
          }

          .icon-list {
            grid-template-columns: 1fr;

            .icon {
              grid-template-columns: 16vw auto;
              grid-template-rows: auto auto;
              column-gap: 4vw;
              align-items: start;
              justify-items: start;

              picture {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
              }

              h3 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                text-align: left;
              }

              p {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                text-align: left;
              }
            }
          }
        }
      }
    }

    .stbase-our-story-block {
      padding-top: 100px;

      .container {
        .our-story-content {
          h2 {
            font-size: 44px;
            line-height: 57px;
            margin: 0 0 20px;
          }

          p {
            font-size: 25px;
            line-height: 140%;
            margin-top: 20px;
          }
        }

        @media (max-width: 1250px) {
          .our-story-content {
            h2 {
              font-size: 32px;
              line-height: 45px;
              margin: 0;
            }

            p {
              font-size: 21px;
              line-height: 140%;
              margin-top: 20px;
            }
          }
        }

        @media (max-width: 500px) {
          .our-story-content {
            h2 {
              font-size: 28px;
              line-height: 40px;
              margin: 0;
            }

            p {
              font-size: 18px;
              line-height: 140%;
              margin-top: 20px;
            }
          }
        }
      }

      @media (max-width: 850px) {
        padding-top: 0;
      }
    }

    .stbase-clients-block {
      #clients-text {
        p {
          @media (min-width: 551px) {
            font-size: 25px;
          }
        }
      }
    }

    .stbase-fact-links-block {
      .fact-links {
        .fact-link {
          p {
            font-size: 21px;
          }
        }

        @media (max-width: 1020px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 215px);

          .fact-link {
            .fact-number {
              font-size: 70px;
            }
          }
        }

        @media (max-width: 750px) {
          grid-template-rows: repeat(3, 190px);

          .fact-link {
            padding-bottom: 20px;

            .fact-number {
              font-size: 60px;
            }

            p {
              font-size: 17px;
            }
          }
        }

        @media (max-width: 560px) {
          grid-template-rows: repeat(3, 180px);

          .fact-link {
            padding-left: 25px;
            padding-right: 25px;

            .fact-number {
              font-size: 45px;
            }

            p {
              font-size: 15px;
            }
          }
        }

        @media (max-width: 500px) {
          grid-template-columns: 1fr;
          grid-template-rows: auto;

          .fact-number {
            margin-bottom: 10px;
          }

          .fact-link {
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

body.page-template-page-flutter {
  @include gray-top-header();
}
