@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
@media (min-width: 1061px) {
  .stbase-home-page .stbase-services-block #services .service .service-cover {
    font-size: 16px;
  }
}
@media (min-width: 1001px) and (max-width: 1060px) {
  .stbase-home-page .stbase-services-block #services .service .service-cover {
    font-size: 14px;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .stbase-home-page .stbase-services-block #services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
    margin-top: -140px;
  }
  .stbase-home-page .stbase-services-block #services .service {
    background-color: #f2000c;
  }
  .stbase-home-page .stbase-services-block #services .service .service-title {
    top: 30px;
    left: 30px;
  }
  .stbase-home-page .stbase-services-block #services .service .service-image {
    height: 325px;
  }
  .stbase-home-page .stbase-services-block #services .service .service-columns {
    display: none;
  }
  .stbase-home-page .stbase-services-block #services .service .service-cover {
    position: static;
    transform: none;
    height: auto;
  }
  .stbase-home-page .stbase-services-block #services .service:nth-child(3) {
    grid-column: 1/3;
    left: unset;
    width: 50%;
  }
  .stbase-home-page .stbase-services-block #services .service:hover .service-image img {
    transform: none;
  }
  .stbase-home-page .stbase-services-block #services .service:hover .service-title {
    transform: none;
    opacity: 1;
  }
}
@media (max-width: 460px) {
  .stbase-home-page .stbase-references-masonry-block .masonry-references-list-section a.more-references {
    max-width: 80%;
  }
}
@media (min-width: 980px) {
  .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 54px;
  }
}
@media (max-width: 850px) {
  .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 50px;
    line-height: 120%;
  }
  .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 26px;
    line-height: 140%;
  }
}
@media (max-width: 500px) {
  .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 38px;
  }
  .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 20px;
  }
}

@media (min-width: 1030px) {
  body.fr-FR .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
body.fr-FR .stbase-home-page .stbase-services-block #services .service .service-title {
  height: 114px;
}
@media (min-width: 1001px) {
  body.fr-FR .stbase-home-page .stbase-services-block #services .service:hover .service-title {
    opacity: 0;
  }
}
@media (min-width: 1001px) and (max-width: 1140px) {
  body.fr-FR .stbase-home-page .stbase-services-block #services .service .service-cover {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  body.fr-FR .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 320px;
    height: 88px;
    font-size: 27px;
    line-height: 33px;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  body.fr-FR .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 230px;
    height: 73px;
    font-size: 19px;
    line-height: 28px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 280px;
    font-size: 23px;
    line-height: 31px;
    height: 80px;
  }
}
@media (max-width: 540px) {
  body.fr-FR .stbase-home-page .stbase-references-masonry-block a.st-button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 430px) {
  body.fr-FR .stbase-home-page .stbase-references-masonry-block a.st-button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 420px) {
  body.fr-FR .stbase-home-page .stbase-references-masonry-block a.st-button-link {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
  width: 490px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 981px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
    width: 100%;
    max-width: 621px;
  }
}
@media (max-width: 680px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
    max-width: 536px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 425px;
  }
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award ul li {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-home-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (min-width: 1051px) {
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 41px;
    line-height: 125%;
  }
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 23px;
  }
}
@media (min-width: 981px) and (max-width: 1050px) {
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 36px;
    line-height: 125%;
  }
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 44px;
  }
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 34px;
  }
  body.fr-FR .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 21px;
  }
}

@media (min-width: 1031px) {
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 51px;
    line-height: 63px;
  }
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p {
    font-size: 22px;
  }
}
@media (min-width: 911px) and (max-width: 1030px) {
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 40px;
    line-height: 50px;
  }
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text #intro-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 681px) and (max-width: 910px) {
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 50px;
    line-height: 60px;
  }
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text p {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-home-page .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 38px;
    line-height: 48px;
  }
}
body.de-DE .stbase-home-page .stbase-services-block #services .service .service-title {
  height: 114px;
}
body.de-DE .stbase-home-page .stbase-services-block #services .service .service-cover {
  font-size: 16px;
}
@media (min-width: 1141px) and (max-width: 1230px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-cover {
    font-size: 15px;
  }
}
@media (min-width: 1001px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service:hover .service-title {
    opacity: 0;
  }
}
@media (min-width: 1001px) and (max-width: 1140px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-cover {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 320px;
    height: 88px;
    font-size: 27px;
    line-height: 33px;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 230px;
    height: 73px;
    font-size: 19px;
    line-height: 28px;
  }
}
@media (max-width: 650px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-cover {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 85%;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 390px) {
  body.de-DE .stbase-home-page .stbase-services-block #services .service .service-title {
    width: 280px;
    font-size: 23px;
    line-height: 31px;
    height: 80px;
  }
}
@media (min-width: 1351px) {
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 41px;
    line-height: 125%;
  }
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 23px;
  }
}
@media (min-width: 1051px) and (max-width: 1350px) {
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 25px;
  }
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 21px;
    margin-top: 1rem;
  }
}
@media (min-width: 981px) and (max-width: 1050px) {
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 36px;
    line-height: 125%;
  }
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 44px;
  }
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 34px;
  }
  body.de-DE .stbase-home-page .stbase-our-story-block .container .our-story-content p {
    font-size: 21px;
  }
}

body.page-template-page-home header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-home header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-home header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-home header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}