// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-home-page {
  .stbase-services-block {
    #services {
      .service {
        .service-columns {
          .column {
            // transform: translateY(0);
          }
        }

        .service-cover {
          // transform: translateY(0);
        }
      }

      @media (min-width: 1061px) {
        .service {
          .service-cover {
            font-size: 16px;
          }
        }
      }

      @media (min-width: 1001px) and (max-width: 1060px) {
        .service {
          .service-cover {
            font-size: 14px;
          }
        }
      }

      @media (min-width: 801px) and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
        margin-top: -140px;

        .service {
          background-color: #f2000c;

          .service-title {
            top: 30px;
            left: 30px;
          }

          .service-image {
            height: 325px;
          }

          .service-columns {
            display: none;
          }

          .service-cover {
            position: static;
            transform: none;
            height: auto;
          }

          &:nth-child(3) {
            grid-column: 1 / 3;
            left: unset;
            width: 50%;
          }

          &:hover {
            .service-image {
              img {
                transform: none;
              }
            }

            .service-title {
              transform: none;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .stbase-references-masonry-block {
    .masonry-references-list-section {
      a.more-references {
        @media (max-width: 460px) {
          max-width: 80%;
        }
      }
    }
  }

  .stbase-our-story-block {
    .container {
      @media (min-width: 980px) {
        .our-story-content {
          h2 {
            font-size: 54px;
          }
        }
      }

      @media (max-width: 850px) {
        .our-story-content {
          h2 {
            font-size: 50px;
            line-height: 120%;
          }

          p {
            font-size: 26px;
            line-height: 140%;
          }
        }
      }

      @media (max-width: 500px) {
        .our-story-content {
          h2 {
            font-size: 38px;
          }

          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

body.fr-FR .stbase-home-page {
  .stbase-intro-text-awards-block {
    .container {
      @media (min-width: 1030px) {
        #intro-title-and-text {
          h1 {
            font-size: 48px;
            line-height: 58px;
          }
        }
      }
    }
  }
  .stbase-services-block #services {
    .service {
      .service-title {
        height: 114px;
      }

      .service-columns {
        .column {
          // transform: translateY(0);
        }
      }

      .service-cover {
        // transform: translateY(0);
        // font-size: 16px;
      }
    }

    @media (min-width: 1001px) {
      .service {
        &:hover {
          .service-title {
            opacity: 0;
          }
        }
      }
    }

    @media (min-width: 1001px) and (max-width: 1140px) {
      .service {
        .service-cover {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 1000px) {
      .service {
        .service-title {
          width: 320px;
          height: 88px;
          font-size: 27px;
          line-height: 33px;
        }
      }
    }

    @media (min-width: 651px) and (max-width: 800px) {
      .service {
        .service-title {
          width: 230px;
          height: 73px;
          font-size: 19px;
          line-height: 28px;
        }
      }
    }

    @media (max-width: 390px) {
      .service {
        .service-title {
          width: 280px;
          font-size: 23px;
          line-height: 31px;
          height: 80px;
        }
      }
    }
  }

  .stbase-references-masonry-block {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 430px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 420px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .stbase-awards-block {
    .awards-column {
      .award {
        width: 490px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 13px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 981px) {
          width: 100%;
          max-width: 621px;
        }

        @media (max-width: 680px) {
          max-width: 536px;
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 425px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 480px) {
          column-gap: 0;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }

          ul {
            li {
              font-size: 12px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }
  }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        @media (min-width: 1051px) {
          h2 {
            font-size: 41px;
            line-height: 125%;
          }

          p {
            font-size: 23px;
          }
        }

        @media (min-width: 981px) and (max-width: 1050px) {
          h2 {
            font-size: 36px;
            line-height: 125%;
          }

          p {
            font-size: 20px;
          }
        }

        @media (max-width: 850px) {
          h2 {
            font-size: 44px;
          }

          p {
            font-size: 24px;
          }
        }

        @media (max-width: 500px) {
          h2 {
            font-size: 34px;
          }

          p {
            font-size: 21px;
          }
        }
      }
    }
  }
}

body.de-DE .stbase-home-page {
  .stbase-intro-text-awards-block {
    .container {
      #intro-title-and-text {
        @media (min-width: 1031px) {
          h1 {
            font-size: 51px;
            line-height: 63px;
          }

          #intro-text {
            p {
              font-size: 22px;
            }
          }
        }

        @media (min-width: 911px) and (max-width: 1030px) {
          h1 {
            font-size: 40px;
            line-height: 50px;
          }

          #intro-text {
            p {
              font-size: 20px;
              line-height: 30px;
            }
          }
        }

        @media (min-width: 681px) and (max-width: 910px) {
          h1 {
            font-size: 50px;
            line-height: 60px;
          }

          p {
            font-size: 20px;
          }
        }

        @media (max-width: 500px) {
          h1 {
            font-size: 38px;
            line-height: 48px;
          }
        }
      }
    }
  }

  .stbase-services-block #services {
    .service {
      .service-title {
        height: 114px;
      }

      .service-columns {
        .column {
          // transform: translateY(0);
        }
      }

      .service-cover {
        // transform: translateY(0);
        font-size: 16px;
      }
    }

    @media (min-width: 1141px) and (max-width: 1230px) {
      .service {
        .service-cover {
          font-size: 15px;
        }
      }
    }

    @media (min-width: 1001px) {
      .service {
        &:hover {
          .service-title {
            opacity: 0;
          }
        }
      }
    }

    @media (min-width: 1001px) and (max-width: 1140px) {
      .service {
        .service-cover {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 1000px) {
      .service {
        .service-title {
          width: 320px;
          height: 88px;
          font-size: 27px;
          line-height: 33px;
        }
      }
    }

    @media (min-width: 651px) and (max-width: 800px) {
      .service {
        .service-title {
          width: 230px;
          height: 73px;
          font-size: 19px;
          line-height: 28px;
        }
      }
    }

    @media (max-width: 650px) {
      .service {
        .service-cover {
          font-size: 18px;
        }
      }
    }

    @media (max-width: 550px) {
      .service {
        .service-title {
          width: 85%;
          font-size: 27px;
          line-height: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @media (max-width: 390px) {
      .service {
        .service-title {
          width: 280px;
          font-size: 23px;
          line-height: 31px;
          height: 80px;
        }
      }
    }
  }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        @media (min-width: 1351px) {
          h2 {
            font-size: 41px;
            line-height: 125%;
          }

          p {
            font-size: 23px;
          }
        }

        @media (min-width: 1051px) and (max-width: 1350px) {
          h2 {
            font-size: 36px;
            line-height: 125%;
            margin-bottom: 25px;
          }

          p {
            font-size: 21px;
            margin-top: 1rem;
          }
        }

        @media (min-width: 981px) and (max-width: 1050px) {
          h2 {
            font-size: 36px;
            line-height: 125%;
          }

          p {
            font-size: 20px;
          }
        }

        @media (max-width: 850px) {
          h2 {
            font-size: 44px;
          }

          p {
            font-size: 24px;
          }
        }

        @media (max-width: 500px) {
          h2 {
            font-size: 34px;
          }

          p {
            font-size: 21px;
          }
        }
      }
    }
  }
}

body.page-template-page-home {
  @include gray-top-header();
}
