// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-iphone-page {
  .stbase-intro-text-awards-block {
    padding-bottom: $blockVerticalMargin;

    @media (max-width: 610px) {
      padding-bottom: $blockMobileVerticalMargin;
    }
  }
}

body.page-template-page-iphone {
  @include gray-top-header();
}
