@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-iphone-page .stbase-intro-text-awards-block {
  padding-bottom: 77px;
}
@media (max-width: 610px) {
  .stbase-iphone-page .stbase-intro-text-awards-block {
    padding-bottom: 60px;
  }
}

body.page-template-page-iphone header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-iphone header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-iphone header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-iphone header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}