// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

body.page-template-page-ngo header#masthead:not(.addshadow) {
    background-color: rgba(237,240,242,.9);
}

.stbase-ngo-page {

}