@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.swisst2-page.references-reorder {
  position: relative;
  margin-top: 130px;
}
.swisst2-page.references-reorder ul.reference-categories {
  margin: 0;
  background-color: transparent;
  border: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: #eee;
  border-bottom: 3px solid #f2000c;
}
.swisst2-page.references-reorder ul.reference-categories li {
  border: none;
  padding-left: 0;
  float: none;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  text-indent: 0;
  margin-bottom: -1px;
}
.swisst2-page.references-reorder ul.reference-categories li a {
  padding-left: 0;
  padding-right: 0;
  float: none;
  display: inline-block;
  color: #444;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
}
.swisst2-page.references-reorder ul.reference-categories li.selected {
  background-color: #f2000c;
  border: none;
}
.swisst2-page.references-reorder ul.reference-categories li.selected a {
  color: white;
}
.swisst2-page.references-reorder ul.reference-categories li:before {
  display: none;
}
.swisst2-page.references-reorder .references .reference {
  height: 50px;
  display: flex;
  align-items: stretch;
  margin-top: 10px;
  cursor: pointer;
  cursor: ns-resize;
}
.swisst2-page.references-reorder .references .reference .reference-position {
  width: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin-right: 5px;
}
.swisst2-page.references-reorder .references .reference .img-wrapper {
  width: 50px;
  margin-right: 5px;
}
.swisst2-page.references-reorder .references .reference .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swisst2-page.references-reorder .references .reference h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  align-self: center;
  font-weight: 500;
}
.swisst2-page.references-reorder button.saving-button {
  border-radius: 3px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 14px 32px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  margin: 15px 0 10px;
  cursor: pointer;
}
.swisst2-page.references-reorder button.saving-button:hover {
  background-color: #ddd;
}
.swisst2-page.references-reorder .loading-popup {
  z-index: 99999;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.swisst2-page.references-reorder .loading-popup i {
  color: #f7666d;
  font-size: 50px;
  animation: spinning-frames 1.5s infinite linear;
}
.swisst2-page.references-reorder .loading-popup p {
  color: #f2000c;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin: 20px 0;
}