@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.st-reference-page #reference-title-client {
  margin: 20px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 70px;
}
.st-reference-page #reference-title-client h1 {
  color: #f2000c;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 500;
  line-height: 56px;
  margin: 0 30px 0 0;
  width: 70%;
}
.st-reference-page #reference-title-client #reference-client {
  display: flex;
  flex-direction: column;
  width: 21%;
}
.st-reference-page #reference-title-client #reference-client label {
  color: #f2000c;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02px;
  text-transform: uppercase;
}
.st-reference-page #reference-title-client #reference-client h2 {
  color: black;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  letter-spacing: -1.02119px;
  margin: 0;
}
.st-reference-page #reference-title-client.only-title h1 {
  width: 100%;
}
.st-reference-page img.feature-reference-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 567px;
  display: block;
}
.st-reference-page img.feature-reference-image.mobile {
  display: none;
}
.st-reference-page #reference-content-row {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.st-reference-page #reference-content-row #reference-body {
  padding: 60px 100px;
  width: 70%;
}
.st-reference-page #reference-content-row #reference-body h2 {
  color: #f2000c;
  font-family: Rubik;
  font-size: 31px;
  line-height: 44px;
  font-weight: normal;
}
.st-reference-page #reference-content-row #reference-body p {
  font-size: 18px;
  line-height: 27px;
}
.st-reference-page #reference-content-row #reference-sidebar {
  width: 30%;
  background-color: #ececee;
  padding: 60px 70px;
  word-break: break-word;
}
.st-reference-page #reference-content-row #reference-sidebar img {
  margin-top: 8px;
}
.st-reference-page #reference-content-row #reference-sidebar strong {
  margin-top: 20px;
}
.st-reference-page #reference-content-row #reference-sidebar p:first-child a, .st-reference-page #reference-content-row #reference-sidebar p:nth-child(2) a {
  display: block;
}
.st-reference-page .media-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: 520px;
  width: 100%;
}
.st-reference-page .media-row .video {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #efefef;
  position: relative;
}
.st-reference-page .media-row .video .video-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.st-reference-page .media-row .video .video-cover img {
  width: 100%;
  height: 100%;
  display: block;
}
.st-reference-page .media-row picture {
  display: block;
  height: 100%;
}
.st-reference-page .media-row picture img {
  display: block;
  height: 100%;
}
.st-reference-page .media-row.image-image a {
  width: 50%;
}
.st-reference-page .media-row.image-image a img {
  height: auto;
}
.st-reference-page .media-row.video {
  max-height: unset;
}
.st-reference-page .media-row.video .video {
  width: 100%;
}
.st-reference-page .media-row.video .video .video-content {
  position: absolute;
  z-index: 1;
  max-height: 100%;
  display: none;
}
.st-reference-page .media-row.video .video .video-cover {
  position: static;
  z-index: 10;
}
.st-reference-page .media-row.video-image .video {
  width: 50%;
}
.st-reference-page .media-row.video-image .video .video-content {
  display: none;
}
.st-reference-page .media-row.video-image a {
  width: 50%;
}
.st-reference-page .media-row.image {
  max-height: unset;
}
.st-reference-page .media-row.image img {
  height: auto;
  display: block;
}
.st-reference-page #media-row-2 {
  margin-bottom: 50px;
  max-height: unset;
}
.st-reference-page #media-row-2.quote-image {
  display: flex;
  align-content: stretch;
  margin-top: 50px;
}
.st-reference-page #media-row-2.quote-image .quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 28.16%;
  padding-left: 100px;
}
.st-reference-page #media-row-2.quote-image .quote #quote-content {
  color: #f2000c;
  font-family: Rubik;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 40px;
}
.st-reference-page #media-row-2.quote-image .quote img {
  max-width: 50px;
  margin-bottom: 13px;
}
.st-reference-page #media-row-2.quote-image .quote #quote-author-name {
  color: #303030;
  font-family: Rubik;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}
.st-reference-page #media-row-2.quote-image .quote #quote-author-position {
  color: #303030;
  font-family: Rubik;
  font-size: 18px;
  font-style: italic;
  line-height: 22px;
}
.st-reference-page #media-row-2.quote-image .image {
  width: 71.84%;
  min-height: 468px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.st-reference-page #media-row-2.quote-image .mobile-image {
  display: none;
}
@media (max-width: 1300px) {
  .st-reference-page #media-row-2.quote-image .quote {
    padding: 30px;
  }
}
@media (max-width: 1000px) {
  .st-reference-page #media-row-2.quote-image {
    margin-top: 0;
  }
  .st-reference-page #media-row-2.quote-image .quote {
    padding-left: 0;
  }
  .st-reference-page #media-row-2.quote-image .image {
    max-height: 380px;
  }
}
@media (max-width: 760px) {
  .st-reference-page #media-row-2.quote-image {
    flex-direction: column;
    margin-top: 20px;
  }
  .st-reference-page #media-row-2.quote-image .quote {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .st-reference-page #media-row-2.quote-image .quote #quote-content {
    margin-bottom: 25px;
  }
  .st-reference-page #media-row-2.quote-image .quote img {
    width: 100%;
    margin: 0 auto;
  }
  .st-reference-page #media-row-2.quote-image .image {
    display: none;
  }
  .st-reference-page #media-row-2.quote-image img.mobile-image {
    margin-top: 20px;
    display: inline-block;
  }
}
.st-reference-page .reference-text-column {
  padding: 60px 100px;
}
.st-reference-page .reference-text-column p {
  max-width: 640px;
  width: 100%;
  color: #303030;
  font-family: Rubik;
  font-size: 18px;
  line-height: 27px;
}
.st-reference-page .reference-text-column p strong {
  font-family: 500;
}
.st-reference-page #media-row-2 + .reference-text-column {
  margin-top: -50px;
}
.st-reference-page #reference-text-column-image {
  text-align: center;
}
.st-reference-page #reference-text-column-image img {
  width: 100%;
}
@media (max-width: 1130px) {
  .st-reference-page #reference-title-client {
    padding-left: 0;
    padding-right: 0;
  }
  .st-reference-page #reference-title-client h1 {
    max-width: 850px;
  }
  .st-reference-page #reference-title-client #reference-client {
    width: auto;
    margin-right: 30px;
  }
  .st-reference-page #reference-title-client #reference-client h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .st-reference-page img.feature-reference-image {
    height: 410px;
  }
  .st-reference-page #reference-content-row #reference-body {
    padding: 30px;
    width: 60%;
  }
  .st-reference-page #reference-content-row #reference-sidebar {
    padding: 30px;
    width: 40%;
  }
}
@media (max-width: 910px) {
  .st-reference-page #reference-title-client {
    padding-left: 70px;
    padding-right: 70px;
  }
  .st-reference-page #reference-title-client h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 52px;
  }
  .st-reference-page #reference-title-client #reference-client {
    margin-right: 0;
  }
  .st-reference-page #reference-title-client #reference-client label {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02px;
  }
  .st-reference-page #reference-title-client #reference-client h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.02119px;
  }
  .st-reference-page #reference-content-row {
    flex-direction: column-reverse;
  }
  .st-reference-page #reference-content-row #reference-sidebar {
    width: 100%;
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .st-reference-page #reference-content-row #reference-sidebar p {
    font-family: "Rubik";
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    min-width: 100px;
  }
  .st-reference-page #reference-content-row #reference-sidebar p a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  .st-reference-page #reference-content-row #reference-sidebar.long p {
    width: 27%;
  }
  .st-reference-page #reference-content-row #reference-sidebar.long.plus-one-in-after:after {
    content: " ";
    display: block;
    width: 27%;
  }
  .st-reference-page #reference-content-row #reference-body {
    width: 100%;
    padding: 50px 70px;
  }
  .st-reference-page #reference-content-row #reference-body p {
    max-width: unset;
  }
  .st-reference-page .media-row.video-image .video .video-cover picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  .st-reference-page .media-row.video-image .video .video-cover picture img {
    display: block;
    height: 100%;
  }
  .st-reference-page .media-row.video-image .video + .a img {
    height: 100%;
  }
}
@media (min-width: 701px) and (max-width: 910px) {
  .st-reference-page #reference-content-row #reference-sidebar p:first-child, .st-reference-page #reference-content-row #reference-sidebar p:nth-child(2) {
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .st-reference-page .media-row {
    flex-wrap: wrap;
    max-height: unset;
    height: auto;
    min-height: unset;
    height: unset;
    height: 483px;
  }
  .st-reference-page .media-row.image picture img, .st-reference-page .media-row.image-image picture img, .st-reference-page .media-row.video picture img, .st-reference-page .media-row.video-image picture img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .st-reference-page .media-row.image-image {
    height: 966px;
    flex-direction: column;
  }
  .st-reference-page .media-row.image-image a {
    width: 100%;
    height: 483px;
  }
  .st-reference-page .media-row.video-image {
    height: 966px;
    flex-direction: column;
  }
  .st-reference-page .media-row.video-image .video {
    width: 100%;
    height: 483px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .st-reference-page .media-row.video-image .video .video-cover {
    width: 100%;
    height: 483px;
  }
  .st-reference-page .media-row.video-image a {
    width: 100%;
    height: 483px;
  }
}
@media (max-width: 700px) {
  .st-reference-page {
    padding-left: 0;
    padding-right: 0;
  }
  .st-reference-page #reference-title-client {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .st-reference-page #reference-title-client h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -1.02119px;
    margin-bottom: 24px;
    width: 100%;
  }
  .st-reference-page #reference-title-client #reference-client {
    width: 100%;
  }
  .st-reference-page #reference-title-client #reference-client label {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02px;
  }
  .st-reference-page #reference-title-client #reference-client h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -1.02119px;
  }
  .st-reference-page #reference-content-row #reference-sidebar {
    flex-direction: column;
    padding: 40px 25px;
  }
  .st-reference-page #reference-content-row #reference-sidebar p {
    margin: 0;
  }
  .st-reference-page #reference-content-row #reference-sidebar p + p {
    margin-top: 30px;
  }
  .st-reference-page #reference-content-row #reference-sidebar.long p {
    width: 100%;
  }
  .st-reference-page #reference-content-row #reference-body {
    width: 100%;
    padding: 30px;
  }
  .st-reference-page #media-row-2 {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .st-reference-page #reference-title-client {
    margin-top: 30px;
  }
  .st-reference-page #reference-title-client h1.over-40 {
    font-size: 30px;
    line-height: 39px;
  }
}
@media (max-width: 430px) {
  .st-reference-page img.feature-reference-image {
    display: none;
  }
  .st-reference-page img.feature-reference-image.mobile {
    display: block;
  }
  .st-reference-page .media-row {
    height: 400px;
  }
  .st-reference-page .media-row.image-image {
    height: 800px;
  }
  .st-reference-page .media-row.image-image a {
    height: 400px;
  }
  .st-reference-page .media-row.video-image {
    height: 800px;
  }
  .st-reference-page .media-row.video-image .video {
    height: 400px;
  }
  .st-reference-page .media-row.video-image .video .video-cover {
    height: 400px;
  }
  .st-reference-page .media-row.video-image a {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .st-reference-page.post-14295 img.feature-reference-image, .st-reference-page.post-14291 img.feature-reference-image, .st-reference-page.post-14313 img.feature-reference-image {
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 910px) {
  .st-reference-page.post-6399 #reference-content-row #reference-sidebar p:first-of-type, .st-reference-page.post-5751 #reference-content-row #reference-sidebar p:first-of-type, .st-reference-page.post-6430 #reference-content-row #reference-sidebar p:first-of-type {
    max-width: 210px;
  }
  .st-reference-page.post-6399 #reference-content-row #reference-sidebar p:first-of-type a, .st-reference-page.post-5751 #reference-content-row #reference-sidebar p:first-of-type a, .st-reference-page.post-6430 #reference-content-row #reference-sidebar p:first-of-type a {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 581px) and (max-width: 768px) {
  .st-reference-page.post-12306 #media-row-2, .st-reference-page.post-12106 #media-row-2, .st-reference-page.post-12307 #media-row-2 {
    height: 916px;
  }
  .st-reference-page.post-12306 #media-row-2 a:last-child, .st-reference-page.post-12106 #media-row-2 a:last-child, .st-reference-page.post-12307 #media-row-2 a:last-child {
    height: 433px;
  }
  .st-reference-page.post-12306 #media-row-2 a:last-child img, .st-reference-page.post-12106 #media-row-2 a:last-child img, .st-reference-page.post-12307 #media-row-2 a:last-child img {
    -o-object-position: 0 -50px;
       object-position: 0 -50px;
  }
}
@media (min-width: 470px) and (max-width: 580px) {
  .st-reference-page.post-12306 #media-row-2, .st-reference-page.post-12106 #media-row-2, .st-reference-page.post-12307 #media-row-2 {
    height: 886px;
  }
  .st-reference-page.post-12306 #media-row-2 a:last-child, .st-reference-page.post-12106 #media-row-2 a:last-child, .st-reference-page.post-12307 #media-row-2 a:last-child {
    height: 403px;
  }
  .st-reference-page.post-12306 #media-row-2 a:last-child img, .st-reference-page.post-12106 #media-row-2 a:last-child img, .st-reference-page.post-12307 #media-row-2 a:last-child img {
    -o-object-position: 0 -30px;
       object-position: 0 -30px;
  }
}
@media (min-width: 581px) and (max-width: 768px) {
  .st-reference-page.post-18718 #media-row-2, .st-reference-page.post-18630 #media-row-2, .st-reference-page.post-18644 #media-row-2 {
    height: 886px;
  }
  .st-reference-page.post-18718 #media-row-2 a:first-child, .st-reference-page.post-18630 #media-row-2 a:first-child, .st-reference-page.post-18644 #media-row-2 a:first-child {
    height: 403px;
  }
  .st-reference-page.post-18718 #media-row-2 a:first-child img, .st-reference-page.post-18630 #media-row-2 a:first-child img, .st-reference-page.post-18644 #media-row-2 a:first-child img {
    -o-object-position: 0 -27px;
       object-position: 0 -27px;
  }
}
@media (min-width: 470px) and (max-width: 580px) {
  .st-reference-page.post-18718 #media-row-2, .st-reference-page.post-18630 #media-row-2, .st-reference-page.post-18644 #media-row-2 {
    height: 886px;
  }
  .st-reference-page.post-18718 #media-row-2 a:first-child, .st-reference-page.post-18630 #media-row-2 a:first-child, .st-reference-page.post-18644 #media-row-2 a:first-child {
    height: 403px;
  }
  .st-reference-page.post-18718 #media-row-2 a:first-child img, .st-reference-page.post-18630 #media-row-2 a:first-child img, .st-reference-page.post-18644 #media-row-2 a:first-child img {
    -o-object-position: 0 -17px;
       object-position: 0 -17px;
  }
}
@media (max-width: 768px) {
  .st-reference-page.post-85108 #media-row-2 {
    height: 886px;
  }
  .st-reference-page.post-85108 #media-row-2 a {
    height: 403px;
  }
  .st-reference-page.post-85108 #media-row-2 a:last-child picture img {
    -o-object-position: top;
       object-position: top;
  }
}
@media (min-width: 911px) {
  .st-reference-page.post-14313 #reference-title-client h1 {
    font-size: 46px;
    line-height: 54px;
  }
}
@media (min-width: 701px) and (max-width: 910px) {
  .st-reference-page.post-14313 #reference-title-client {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 770px) {
  .st-reference-page.post-14313 #reference-title-client h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 430px) {
  .st-reference-page.post-14313 #reference-title-client h1 {
    font-size: 5.5vw;
    line-height: 7.3vw;
  }
}
@media (max-width: 380px) {
  .st-reference-page.post-14295 #reference-title-client h1 {
    font-size: 34px;
    line-height: 43px;
  }
}
.st-reference-page.st-reference-cs-page {
  padding-top: 120px;
}
@media (max-width: 769px) {
  .st-reference-page.st-reference-cs-page {
    padding-top: 77px;
  }
}
.st-reference-page.st-reference-cs-page .reference-hero {
  position: relative;
}
.st-reference-page.st-reference-cs-page .reference-hero .reference-hero-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(233, 174, 123, 0) 41.15%, #3A3128 100%);
}
.st-reference-page.st-reference-cs-page .reference-hero .reference-type {
  color: #F5F5F5;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  background: #F2000C;
  display: inline-block;
  padding: 2px 6px;
  margin-bottom: 20px;
}
.st-reference-page.st-reference-cs-page .reference-hero #reference-title-client {
  display: block;
  position: absolute;
  bottom: 12%;
  margin: auto;
  max-width: 1250px;
  left: 0;
  right: 0;
}
.st-reference-page.st-reference-cs-page .reference-hero #reference-title-client h1 {
  color: #fff;
  font-weight: 300;
  font-size: 69px;
  line-height: 65px;
}
.st-reference-page.st-reference-cs-page .reference-hero img.feature-reference-image {
  width: 100%;
  height: 100%;
  max-height: 730px;
  min-height: 500px;
}
.st-reference-page.st-reference-cs-page #reference-content-row {
  display: block;
}
.st-reference-page.st-reference-cs-page #reference-content-row #reference-body {
  padding: 0;
  width: 100%;
}
.st-reference-page.st-reference-cs-page #reference-content-row #reference-body .container-1080 {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 700px) and (max-width: 910px) {
  body.single-reference header#masthead {
    padding-left: 50px;
    padding-right: 50px;
  }
}