// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.st-reference-page {
  #reference-title-client {
    margin: 20px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 70px;

    h1 {
      color: $primary;
      font-family: Rubik;
      font-size: 50px;
      font-weight: 500;
      line-height: 56px;
      margin: 0 30px 0 0;
      width: 70%;
      // max-width: 800px;
    }

    #reference-client {
      display: flex;
      flex-direction: column;
      width: 21%;

      label {
        color: $primary;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.02px;
        text-transform: uppercase;
      }

      h2 {
        color: black;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 33px;
        line-height: 39px;
        letter-spacing: -1.02119px;
        margin: 0;
      }
    }

    &.only-title {
      h1 {
        width: 100%;
      }
    }
  }

  img.feature-reference-image {
    object-fit: cover;
    height: 567px;
    display: block;

    &.mobile {
      display: none;
    }
  }

  #reference-content-row {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    #reference-body {
      padding: 60px 100px;
      width: 70%;

      h2 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 31px;
        line-height: 44px;
        font-weight: normal;
      }

      p {
        font-size: 18px;
        line-height: 27px;
        // max-width: 550px;
      }
    }

    #reference-sidebar {
      width: 30%;
      background-color: #ececee;
      padding: 60px 70px;
      word-break: break-word;

      img {
        margin-top: 8px;
      }

      strong {
        margin-top: 20px;
        //display: block;
      }

      p {
        &:first-child,
        &:nth-child(2) {
          a {
            display: block;
          }
        }
      }
    }
  }

  .media-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-height: 520px;
    width: 100%;

    .video {
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #efefef;
      position: relative;

      .video-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    picture {
      display: block;
      height: 100%;

      img {
        display: block;
        height: 100%;
      }
    }

    &.image-image {
      a {
        width: 50%;

        img {
          height: auto;

          // @media (max-width: 450px) {
          //     max-height: 357px;
          // }
        }
      }
    }

    &.video {
      max-height: unset;

      .video {
        width: 100%;

        .video-content {
          position: absolute;
          z-index: 1;
          max-height: 100%;
          display: none;
        }

        .video-cover {
          position: static;
          z-index: 10;
        }
      }
    }

    &.video-image {
      .video {
        width: 50%;

        .video-content {
          display: none;
        }
      }

      a {
        width: 50%;
      }
    }

    &.image {
      max-height: unset;

      img {
        height: auto;
        display: block;
      }
    }
  }

  #media-row-2 {
    margin-bottom: 50px;
    max-height: unset;

    &.quote-image {
      display: flex;
      align-content: stretch;
      margin-top: 50px;

      .quote {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 28.16%;
        padding-left: 100px;

        #quote-content {
          color: #f2000c;
          font-family: Rubik;
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 40px;
        }

        img {
          max-width: 50px;
          margin-bottom: 13px;
        }

        #quote-author-name {
          color: #303030;
          font-family: Rubik;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
        }

        #quote-author-position {
          color: #303030;
          font-family: Rubik;
          font-size: 18px;
          font-style: italic;
          line-height: 22px;
        }
      }

      .image {
        width: 71.84%;
        min-height: 468px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
      }

      .mobile-image {
        display: none;
      }

      @media (max-width: 1300px) {
        .quote {
          padding: 30px;
        }
      }

      @media (max-width: 1000px) {
        margin-top: 0;

        .quote {
          padding-left: 0;
        }

        .image {
          max-height: 380px;
        }
      }

      @media (max-width: 760px) {
        flex-direction: column;
        margin-top: 20px;

        .quote {
          width: 100%;
          padding: 20px 0;
          text-align: center;

          #quote-content {
            margin-bottom: 25px;
          }

          img {
            width: 100%;
            margin: 0 auto;
          }
        }

        .image {
          display: none;
        }

        img.mobile-image {
          margin-top: 20px;
          display: inline-block;
        }
      }
    }
  }

  .reference-text-column {
    padding: 60px 100px;

    p {
      max-width: 640px;
      width: 100%;
      color: #303030;
      font-family: Rubik;
      font-size: 18px;
      line-height: 27px;

      strong {
        font-family: 500;
      }
    }
  }

  #media-row-2+.reference-text-column {
    margin-top: -50px;
  }

  #reference-text-column-image {
    text-align: center;
    
    img {
      width: 100%;
    }
  }

  @media (max-width: 1130px) {
    #reference-title-client {
      padding-left: 0;
      padding-right: 0;

      h1 {
        max-width: 850px;
      }

      #reference-client {
        width: auto;
        margin-right: 30px;

        h2 {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }

    img.feature-reference-image {
      height: 410px;
    }

    #reference-content-row {
      #reference-body {
        padding: 30px;
        width: 60%;
      }

      #reference-sidebar {
        padding: 30px;
        width: 40%;
      }
    }
  }

  @media (max-width: 910px) {
    #reference-title-client {
      padding-left: 70px;
      padding-right: 70px;

      h1 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 46px;
        line-height: 52px;
      }

      #reference-client {
        margin-right: 0;

        label {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.02px;
        }

        h2 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
          letter-spacing: -1.02119px;
        }
      }
    }

    #reference-content-row {
      flex-direction: column-reverse;

      #reference-sidebar {
        width: 100%;
        padding: 50px 70px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
          font-family: "Rubik";
          font-style: normal;
          // font-weight: 700;
          font-size: 18px;
          line-height: 27px;
          min-width: 100px;

          a {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
          }
        }

        &.long {
          p {
            width: 27%;
          }

          &.plus-one-in-after {
            &:after {
              content: " ";
              display: block;
              width: 27%;
            }
          }
        }
      }

      #reference-body {
        width: 100%;
        padding: 50px 70px;

        p {
          max-width: unset;
        }
      }
    }

    .media-row.video-image {
      .video {
        .video-cover {
          picture {
            display: block;
            width: 100%;
            height: 100%;

            img {
              display: block;
              height: 100%;
            }
          }
        }

        & + .a {
          img {
            height: 100%;
          }
        }
      }
    }
  }

  @media (min-width: 701px) and (max-width: 910px) {
    #reference-content-row {
      #reference-sidebar {
        p {
          &:first-child,
          &:nth-child(2) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .media-row {
      flex-wrap: wrap;
      max-height: unset;
      height: auto;
      min-height: unset;
      height: unset;
      height: 483px;

      &.image,
      &.image-image,
      &.video,
      &.video-image {
        picture {
          img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &.image-image {
        height: 966px;
        flex-direction: column;

        a {
          width: 100%;
          height: 483px;
        }
      }

      &.video-image {
        height: 966px;
        flex-direction: column;

        .video {
          width: 100%;
          height: 483px;
          flex-wrap: nowrap;
          flex-direction: column;

          .video-cover {
            width: 100%;
            height: 483px;
          }
        }

        a {
          width: 100%;
          height: 483px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    padding-left: 0;
    padding-right: 0;

    #reference-title-client {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
      padding-left: 25px;
      padding-right: 25px;

      h1 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: -1.02119px;
        margin-bottom: 24px;
        width: 100%;
      }

      #reference-client {
        width: 100%;

        label {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.02px;
        }

        h2 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 27px;
          line-height: 32px;
          letter-spacing: -1.02119px;
        }
      }
    }

    #reference-content-row {
      #reference-sidebar {
        flex-direction: column;
        padding: 40px 25px;

        p {
          margin: 0;

          & + p {
            margin-top: 30px;
          }
        }

        &.long {
          p {
            width: 100%;
          }
        }
      }

      #reference-body {
        width: 100%;
        padding: 30px;
      }
    }

    #media-row-2 {
      margin-bottom: 0;
    }
  }

  @media (max-width: 500px) {
    #reference-title-client {
      margin-top: 30px;

      h1 {
        &.over-40 {
          font-size: 30px;
          line-height: 39px;
        }
      }
    }
  }

  @media (max-width: 430px) {
    img.feature-reference-image {
      display: none;

      &.mobile {
        display: block;
      }
    }

    .media-row {
      height: 400px;

      &.image-image {
        height: 800px;

        a {
          height: 400px;
        }
      }

      &.video-image {
        height: 800px;

        .video {
          height: 400px;

          .video-cover {
            height: 400px;
          }
        }

        a {
          height: 400px;
        }
      }
    }
  }

  // BOSCH
  &.post-14295,
  &.post-14291,
  &.post-14313 {
    @media (max-width: 500px) {
      img.feature-reference-image {
        object-position: center;
      }
    }
  }

  // Mazda
  &.post-6399,
  &.post-5751,
  &.post-6430 {
    @media (max-width: 910px) {
      #reference-content-row {
        #reference-sidebar {
          p {
            &:first-of-type {
              max-width: 210px;

              a {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

  // MCI
  &.post-12306,
  &.post-12106,
  &.post-12307 {
    @media (min-width: 581px) and (max-width: 768px) {
      #media-row-2 {
        height: 916px;

        a {
          &:last-child {
            height: 433px;

            img {
              object-position: 0 -50px;
            }
          }
        }
      }
    }

    @media (min-width: 470px) and (max-width: 580px) {
      #media-row-2 {
        height: 886px;

        a {
          &:last-child {
            height: 403px;

            img {
              object-position: 0 -30px;
            }
          }
        }
      }
    }
  }

  // Nobel Baudenbacher
  &.post-18718,
  &.post-18630,
  &.post-18644 {
    @media (min-width: 581px) and (max-width: 768px) {
      #media-row-2 {
        height: 886px;

        a {
          &:first-child {
            height: 403px;

            img {
              object-position: 0 -27px;
            }
          }
        }
      }
    }

    @media (min-width: 470px) and (max-width: 580px) {
      #media-row-2 {
        height: 886px;

        a {
          &:first-child {
            height: 403px;

            img {
              object-position: 0 -17px;
            }
          }
        }
      }
    }
  }

  // Bucher Suter
  &.post-85108 {
    @media (max-width: 768px) {
      #media-row-2 {
        height: 886px;

        a {
          height: 403px;

          &:last-child {
            picture {
              img {
                object-position: top;
              }
            }
          }
        }
      }
    }
  }

  // Bosch german
  &.post-14313 {
    #reference-title-client {
      @media (min-width: 911px) {
        h1 {
          font-size: 46px;
          line-height: 54px;
        }
      }

      @media (min-width: 701px) and (max-width: 910px) {
        padding-left: 0;
        padding-right: 0;
      }

      @media (max-width: 770px) {
        h1 {
          font-size: 30px;
          line-height: 40px;
        }
      }

      @media (max-width: 430px) {
        h1 {
          font-size: 5.5vw;
          line-height: 7.3vw;
        }
      }
    }
  }

  &.post-14295 {
    #reference-title-client {
      @media (max-width: 380px) {
        h1 {
          font-size: 34px;
          line-height: 43px;
        }
      }
    }
  }


  //Case Study
  &.st-reference-cs-page {
    padding-top: 120px;

    @media (max-width: 769px) {
      padding-top: 77px;
    }

    .reference-hero {
      position: relative;
      
      .reference-hero-overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, rgba(233, 174, 123, 0.00) 41.15%, #3A3128 100%);
      }

      .reference-type {
        color: #F5F5F5;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        background: #F2000C;
        display: inline-block;
        padding: 2px 6px;
        margin-bottom: 20px;
      }

      #reference-title-client {
        display: block;
        position: absolute;
        bottom: 12%;
        margin: auto;
        max-width: 1250px;
        left: 0;
        right: 0;

        h1 {
          color: #fff;
          font-weight: 300;
          font-size: 69px;
          line-height: 65px;
        }
      }

      img.feature-reference-image {
        width: 100%;
        height: 100%;
        max-height: 730px;
        min-height: 500px;
      }
    }

    #reference-content-row {
      display: block;

      #reference-body {
        padding: 0;
        width: 100%;

        .container-1080 {
          width: 100%;
          max-width: 1080px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }
  }
}

body.single-reference {
  header#masthead {
    @media (min-width: 700px) and (max-width: 910px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
