// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.swisst2-page.references-reorder {
  position: relative;
  margin-top: 130px;

  ul.reference-categories {
    margin: 0;
    background-color: transparent;
    border: none;
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #eee;
    border-bottom: 3px solid #f2000c;

    li {
      border: none;
      padding-left: 0;
      float: none;
      display: inline-block;
      padding-left: 18px;
      padding-right: 18px;
      text-indent: 0;
      margin-bottom: -1px;

      a {
        padding-left: 0;
        padding-right: 0;
        float: none;
        display: inline-block;
        color: #444;
        font-size: 30px;
        text-decoration: none;
        padding: 10px;
      }

      &.selected {
        background-color: #f2000c;
        border: none;

        a {
          color: white;
        }
      }

      &:before {
        display: none;
      }
    }
  }

  .references {
    .reference {
      height: 50px;
      display: flex;
      align-items: stretch;
      margin-top: 10px;
      cursor: pointer;
      cursor: ns-resize;

      .reference-position {
        width: 50px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        margin-right: 5px;
      }

      .img-wrapper {
        width: 50px;
        margin-right: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        font-size: 24px;
        line-height: 24px;
        align-self: center;
        font-weight: 500;
      }

      // & + .reference {
      //   border-top: 1px solid #ddd;
      //   padding-top: 5px;
      // }
    }
  }

  button.saving-button {
    border-radius: 3px;
    font-family: "Rubik";
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    padding: 14px 32px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    margin: 15px 0 10px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }

  .loading-popup {
    z-index: 99999;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;

    i {
      color: $lightestPrimary;
      font-size: 50px;
      animation: spinning-frames 1.5s infinite linear;
    }

    p {
      color: $primary;
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin: 20px 0;
    }
  }
}
