// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-references-page {
  .masonry-references-list-section {
    .masonry-references-list.container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: 501px) {
    padding-top: 140px;
  }
}
