// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

.stbase-startup-page {
  .stbase-image-text-block + .stbase-icon-list-block,
  .stbase-icon-list-block + .stbase-fact-links-block {
    @media (min-width: 500px) {
      margin-top: 130px;
    }
  }

  .stbase-contact-us-block + .stbase-fact-links-block {
    @media (min-width: 500px) {
      margin-top: -30px;
    }
  }

  .stbase-awards-block + .stbase-contact-us-block {
    margin-top: 0;
  }
}

body.en-US .stbase-startup-page {
  .stbase-services-block {
    position: relative;
    z-index: $ZINDEX_TEXT_2;

    #services {
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;

      .service {
        .service-image {
          img {
            object-position: left;
          }
        }

        .service-title {
          width: 68%;
        }

        // .service-columns {
        //   .column {
        //     transform: none !important;
        //   }
        // }

        // .service-cover {
        //   transform: none;
        // }
      }

      @media (max-width: 1250px) {
        .service {
          .service-title {
            font-size: 22px;
            line-height: 30px;
            height: 77px;
          }

          .service-cover {
            justify-content: flex-start;
            overflow-y: auto;
          }
        }
      }

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
        margin-top: -140px;

        .service {
          background-color: #f2000c;

          .service-title {
            top: 30px;
            left: 30px;
          }

          .service-image {
            height: 325px;
          }

          .service-columns {
            display: none;
          }

          .service-cover {
            position: static;
            transform: none;
            height: auto;
          }

          &:hover {
            .service-image {
              img {
                transform: none;
              }
            }

            .sevice-titles-box {
              transform: none;
              opacity: 1;
            }
          }
        }
      }

      @media (min-width: 801px) and (max-width: 1000px) {
        .service {
          .service-cover {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 800px) {
        .service {
          &:nth-child(3) {
            grid-column: unset;
            left: unset;
            width: unset;
          }
        }
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;

        .service {
          .service-cover {
            font-size: 16px;
          }
        }
      }
    }
  }

  .stbase-big-red-text-block {
    @media (min-width: 1000px) {
      &:not(:last-child) {
        margin-top: -20px;
      }
    }
  }

  .stbase-our-story-block {
    padding-top: 70px;

    .container {
      .our-story-content {
        width: 50%;
        align-self: center;
      }

      .our-story-image {
        width: 50%;
        // max-height: 520px;
      }
    }

    @media (min-width: 1361px) {
      .container {
        align-items: flex-start;

        .our-story-content {
          padding-left: 98px;
          padding-right: 40px;
          padding-top: 80px;
        }
      }
    }

    @media (max-width: 1360px) {
      .container {
        .our-story-image {
          max-height: 520px;
        }
      }
    }

    @media (max-width: 1200px) {
      .container {
        .our-story-image {
          max-height: 520px;
        }
      }
    }

    @media (max-width: 850px) {
      padding-top: 0;

      .container {
        .our-story-content {
          width: 100%;
        }

        .our-story-image {
          width: 100%;
          max-height: unset;
        }
      }
    }
  }

  .stbase-icon-list-block {
    h2 {
      max-width: 510px;
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        @media (max-width: 1050px) {
          p {
            font-size: 21px;
          }
        }

        @media (max-width: 700px) {
          p {
            font-size: 18px;
          }
        }

        @media (max-width: 540px) {
          p {
            font-size: 16px;
          }
        }

        // @media (max-width: 450px) {
        //   gap: 16px;

        //   p {
        //     font-size: 14px;
        //   }
        // }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

body.fr-FR .stbase-startup-page {
  .stbase-intro-text-awards-block {
    @media (min-width: 1030px) {
      .container {
        #intro-title-and-text {
          h1 {
            font-size: 38px;
            line-height: 49px;
          }
        }
      }
    }

    @media (min-width: 911px) {
      #intro-title-and-text {
        max-width: 634px;
      }
    }

    @media (max-width: 910px) {
      #intro-title-and-text {
        h1 {
          font-size: 48px;
          line-height: 120%;
        }
      }
    }

    @media (max-width: 680px) {
      #intro-title-and-text {
        h1 {
          font-size: 44px;
        }
      }
    }

    @media (max-width: 500px) {
      #intro-title-and-text {
        h1 {
          font-size: 32px;
        }
      }
    }
  }

  .stbase-services-block {
    position: relative;
    z-index: $ZINDEX_TEXT_2;

    #services {
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;

      .service {
        .service-image {
          img {
            object-position: left;
          }
        }

        .service-title {
          width: 78%;
          height: auto;
          font-size: 22px;
          line-height: 27px;
        }

        // .service-columns {
        //   .column {
        //     transform: none !important;
        //   }
        // }

        // .service-cover {
        //   transform: none;
        // }
      }

      @media (max-width: 1250px) {
        .service {
          .service-title {
            font-size: 22px;
            line-height: 30px;
            height: auto;
          }

          .service-cover {
            justify-content: flex-start;
            overflow-y: auto;
          }
        }
      }

      @media (min-width: 1001px) and (max-width: 1070px) {
        .service {
          .service-title {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
        margin-top: -140px;

        .service {
          background-color: #f2000c;

          .service-title {
            top: 30px;
            left: 30px;
          }

          .service-image {
            height: 325px;
          }

          .service-columns {
            display: none;
          }

          .service-cover {
            position: static;
            transform: none;
            height: auto;
          }

          &:hover {
            .service-image {
              img {
                transform: none;
              }
            }

            .sevice-titles-box {
              transform: none;
              opacity: 1;
            }
          }
        }
      }

      @media (min-width: 801px) and (max-width: 1000px) {
        .service {
          .service-cover {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 800px) {
        .service {
          &:nth-child(3) {
            grid-column: unset;
            left: unset;
            width: unset;
          }
        }
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;

        .service {
          .service-cover {
            font-size: 16px;
          }
        }
      }
    }
  }

  .stbase-big-red-text-block.highlighted {
    @media (min-width: 1000px) {
      margin-top: -20px;
    }

    .container {
      max-width: 1200px;
    }
  }

  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 430px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 420px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .stbase-awards-block {
    .awards-column {
      .award {
        width: 490px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 13px;
              line-height: 18px;
            }
          }

          p {
            font-size: 13.2px;
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 981px) {
          width: 100%;
          max-width: 520px;
          grid-template-columns: 180px auto;
        }

        @media (max-width: 680px) {
          max-width: 536px;
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 425px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 480px) {
          column-gap: 0;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }

          ul {
            li {
              font-size: 12px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }
  }

  // .stbase-big-red-text-block {
  //   .container {
  //     max-width: 930px;

  //     @media (min-width: 1300px) {
  //       p {
  //         font-size: 48px;
  //         line-height: 61px;
  //       }
  //     }
  //   }
  // }

  .stbase-our-story-block {
    padding-top: 70px;

    .container {
      .our-story-content {
        width: 50%;
        align-self: center;

        h2 {
          font-size: 46px;
          line-height: 54px;
        }

        p {
          font-size: 22px;
          line-height: 34px;
        }
      }

      .our-story-image {
        width: 50%;
        // max-height: 520px;
      }
    }

    @media (min-width: 1361px) {
      .container {
        align-items: flex-start;

        .our-story-content {
          padding-left: 98px;
          padding-right: 40px;
          padding-top: 80px;
        }
      }
    }

    @media (max-width: 1360px) {
      .container {
        .our-story-image {
          max-height: 520px;
        }
      }
    }

    @media (min-width: 921px) and (max-width: 1030px) {
      .container {
        .our-story-content {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }

    @media (min-width: 851px) and (max-width: 920px) {
      .container {
        .our-story-content {
          h2 {
            font-size: 26px;
            line-height: 35px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }

    @media (max-width: 850px) {
      padding-top: 0;

      .container {
        .our-story-content {
          width: 100%;
        }

        .our-story-image {
          width: 100%;
          max-height: unset;
        }
      }
    }

    @media (max-width: 550px) {
      .container {
        .our-story-content {
          h2 {
            font-size: 33px;
            line-height: 39px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        p {
          font-size: 21px;
        }
      }

      @media (max-width: 1020px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 215px);

        .fact-link {
          .fact-number {
            font-size: 70px;
          }
        }
      }

      @media (max-width: 750px) {
        grid-template-rows: repeat(3, 190px);

        .fact-link {
          padding-bottom: 20px;

          .fact-number {
            font-size: 60px;
          }

          p {
            font-size: 17px;
          }
        }
      }

      @media (max-width: 560px) {
        grid-template-rows: repeat(3, 180px);

        .fact-link {
          padding-left: 25px;
          padding-right: 25px;

          .fact-number {
            font-size: 45px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }

      // @media (max-width: 470px) {
      //   gap: 16px;

      //   .fact-link {
      //     padding-left: 20px;
      //     padding-right: 20px;

      //     p {
      //       font-size: 14px;
      //     }
      //   }
      // }

      // @media (max-width: 410px) {
      //   grid-template-columns: 1fr;
      //   grid-template-rows: auto;
      // }
    }
  }
}

body.de-DE .stbase-startup-page {
  .stbase-intro-text-awards-block {
    @media (min-width: 1101px) {
      #intro-title-and-text {
        h1 {
          font-size: 49px;
          line-height: 62px;
        }

        #intro-text {
          max-width: none;

          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
    }

    @media (min-width: 651px) and (max-width: 1100px) {
      #intro-title-and-text {
        // max-width: 634px;

        h1 {
          font-size: 39px;
          line-height: 48px;
        }

        #intro-text {
          max-width: none;

          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
    }

    @media (max-width: 650px) {
      #intro-title-and-text {
        h1 {
          font-size: 38px;
          line-height: 48px;
        }
      }

      #intro-text {
        p {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }

    @media (max-width: 480px) {
      #intro-title-and-text {
        h1 {
          font-size: 32px;
          line-height: 42px;
        }
      }

      #intro-text {
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .stbase-services-block {
    position: relative;
    z-index: $ZINDEX_TEXT_2;

    #services {
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;

      .service {
        .service-image {
          img {
            object-position: left;
          }
        }

        .service-title {
          width: 78%;
          height: auto;
          font-size: 22px;
          line-height: 27px;
        }

        .service-cover {
          font-size: 17px;
        }

        // .service-columns {
        //   .column {
        //     transform: none !important;
        //   }
        // }

        // .service-cover {
        //   transform: none;
        // }
      }

      @media (max-width: 1270px) {
        .service {
          .service-title {
            font-size: 22px;
            line-height: 30px;
            // height: 77px;
          }

          .service-cover {
            justify-content: flex-start;
            overflow-y: auto;
          }
        }
      }

      @media (min-width: 1001px) and (max-width: 1150px) {
        .service {
          .service-cover {
            font-size: 16px;
          }
        }
      }

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
        margin-top: -140px;

        .service {
          background-color: #f2000c;

          .service-title {
            top: 30px;
            left: 30px;
          }

          .service-image {
            height: 325px;
          }

          .service-columns {
            display: none;
          }

          .service-cover {
            position: static;
            transform: none;
            height: auto;
          }

          &:hover {
            .service-image {
              img {
                transform: none;
              }
            }

            .sevice-titles-box {
              transform: none;
              opacity: 1;
            }
          }
        }
      }

      @media (min-width: 801px) and (max-width: 1000px) {
        .service {
          .service-cover {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 800px) {
        .service {
          &:nth-child(3) {
            grid-column: unset;
            left: unset;
            width: unset;
          }
        }
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;

        .service {
          .service-cover {
            font-size: 16px;
          }
        }
      }
    }
  }

  .stbase-big-red-text-block.highlighted {
    @media (min-width: 1000px) {
      margin-top: -20px;
    }
  }

  .masonry-references-list-section {
    a.st-button-link {
      @media (max-width: 540px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: 430px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 420px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .stbase-our-story-block {
    padding-top: 70px;

    .container {
      .our-story-content {
        width: 50%;
        align-self: center;

        h2 {
          font-size: 46px;
          line-height: 54px;
        }

        p {
          font-size: 22px;
          line-height: 34px;
        }
      }

      .our-story-image {
        width: 50%;
        // max-height: 520px;
      }
    }

    @media (min-width: 1361px) {
      .container {
        align-items: flex-start;

        .our-story-content {
          padding-left: 98px;
          padding-right: 40px;
          padding-top: 30px;
        }
      }
    }

    @media (max-width: 1360px) {
      .container {
        .our-story-image {
          max-height: 520px;
        }
      }
    }

    @media (min-width: 980px) and (max-width: 1220px) {
      padding-top: 0;
    }

    @media (min-width: 921px) and (max-width: 1030px) {
      .container {
        .our-story-content {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }

    @media (min-width: 851px) and (max-width: 920px) {
      .container {
        .our-story-content {
          h2 {
            font-size: 26px;
            line-height: 35px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }

    @media (max-width: 850px) {
      padding-top: 0;

      .container {
        .our-story-content {
          width: 100%;
        }

        .our-story-image {
          width: 100%;
          max-height: unset;
        }
      }
    }

    @media (max-width: 550px) {
      .container {
        .our-story-content {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  // .stbase-big-red-text-block {
  //   .container {
  //     max-width: 860px;

  //     @media (min-width: 1351px) {
  //       padding-top: 160px;
  //       padding-bottom: 175px;
  //     }

  //     @media (min-width: 761px) {
  //       p {
  //         font-size: 46px;
  //         line-height: 60px;
  //       }
  //     }

  //     @media (max-width: 510px) {
  //       p {
  //         font-size: 31px;
  //         line-height: 44px;
  //       }
  //     }
  //   }
  // }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        h2 {
          font-size: 38px;
          line-height: 48px;
          max-width: 470px;
        }

        p {
          font-size: 20px;
          line-height: 34px;
          max-width: 470px;
        }

        @media (min-width: 921px) and (max-width: 1200px) {
          h2 {
            font-size: 32px;
            line-height: 40px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }

        @media (min-width: 851px) and (max-width: 920px) {
          h2 {
            font-size: 30px;
            line-height: 39px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        @media (max-width: 850px) {
          h2,
          p {
            max-width: none;
          }
        }

        @media (max-width: 550px) {
          h2 {
            font-size: 32px;
            line-height: 40px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .stbase-icon-list-block {
    .container {
      .icon-list {
        @media (max-width: 470px) {
          row-gap: 35px;
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .stbase-fact-header-block {
    &#fact-1 {
      header {
        .fact-header-content {
          h3 {
            @media (max-width: 430px) {
              font-size: 27px;
            }

            @media (max-width: 400px) {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .stbase-fact-links-block {
    .fact-links {
      .fact-link {
        p {
          font-size: 22px;
        }
      }

      @media (min-width: 1001px) and (max-width: 1150px) {
        .fact-link {
          p {
            font-size: 20px;
          }

          &:nth-child(5) {
            p {
              font-size: 18px;
            }
          }
        }
      }

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        .fact-link {
          p {
            font-size: 22px;
          }
        }
      }

      @media (max-width: 800px) {
        .fact-link {
          p {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 600px) {
        .fact-link {
          p {
            font-size: 15px;
          }
        }
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .fact-number {
          margin-bottom: 10px;
        }

        .fact-link {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }

  .stbase-fact-advantages-block {
    .fact-advantages {
      .advantage {
        h5 {
          @media (max-width: 390px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .stbase-fact-process-timing-block {
    .process-timing-step-list {
      @media (max-width: 800px) {
        .process-timing-step {
          .step-red-bc {
            .show-more-text-item {
              .show-more-text {
                font-size: 16px;
              }
            }
          }
        }
      }

      @media (max-width: 720px) {
        flex-direction: column;

        .process-timing-step {
          border: none;

          & + .process-timing-step {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .stbase-fact-team-block {
    .team {
      @media (max-width: 1050px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 760px) {
        grid-template-columns: 1fr;
      }

      @media (max-width: 410px) {
        .team-member {
          header {
            font-size: 19px;
            line-height: 140%;
          }

          .show-more-text-item {
            .show-more-text {
              font-size: 16px;
              line-height: 140%;
            }
          }
        }
      }

      @media (max-width: 380px) {
        .team-member {
          header {
            font-size: 17px;
          }

          .show-more-text-item {
            .show-more-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

body.page-template-page-app-dev,
body.page-template-page-app-dev-new {
  @include gray-top-header();
}
