@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
@media (min-width: 500px) {
  .stbase-startup-page .stbase-image-text-block + .stbase-icon-list-block,
  .stbase-startup-page .stbase-icon-list-block + .stbase-fact-links-block {
    margin-top: 130px;
  }
}
@media (min-width: 500px) {
  .stbase-startup-page .stbase-contact-us-block + .stbase-fact-links-block {
    margin-top: -30px;
  }
}
.stbase-startup-page .stbase-awards-block + .stbase-contact-us-block {
  margin-top: 0;
}

body.en-US .stbase-startup-page .stbase-services-block {
  position: relative;
  z-index: 2;
}
body.en-US .stbase-startup-page .stbase-services-block #services {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
body.en-US .stbase-startup-page .stbase-services-block #services .service .service-image img {
  -o-object-position: left;
     object-position: left;
}
body.en-US .stbase-startup-page .stbase-services-block #services .service .service-title {
  width: 68%;
}
@media (max-width: 1250px) {
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-title {
    font-size: 22px;
    line-height: 30px;
    height: 77px;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-cover {
    justify-content: flex-start;
    overflow-y: auto;
  }
}
@media (max-width: 1000px) {
  body.en-US .stbase-startup-page .stbase-services-block #services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
    margin-top: -140px;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service {
    background-color: #f2000c;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-title {
    top: 30px;
    left: 30px;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-image {
    height: 325px;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-columns {
    display: none;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-cover {
    position: static;
    transform: none;
    height: auto;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service:hover .service-image img {
    transform: none;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service:hover .sevice-titles-box {
    transform: none;
    opacity: 1;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  body.en-US .stbase-startup-page .stbase-services-block #services .service:nth-child(3) {
    grid-column: unset;
    left: unset;
    width: unset;
  }
}
@media (max-width: 650px) {
  body.en-US .stbase-startup-page .stbase-services-block #services {
    grid-template-columns: 1fr;
  }
  body.en-US .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  body.en-US .stbase-startup-page .stbase-big-red-text-block:not(:last-child) {
    margin-top: -20px;
  }
}
body.en-US .stbase-startup-page .stbase-our-story-block {
  padding-top: 70px;
}
body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-content {
  width: 50%;
  align-self: center;
}
body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-image {
  width: 50%;
}
@media (min-width: 1361px) {
  body.en-US .stbase-startup-page .stbase-our-story-block .container {
    align-items: flex-start;
  }
  body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-content {
    padding-left: 98px;
    padding-right: 40px;
    padding-top: 80px;
  }
}
@media (max-width: 1360px) {
  body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    max-height: 520px;
  }
}
@media (max-width: 1200px) {
  body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    max-height: 520px;
  }
}
@media (max-width: 850px) {
  body.en-US .stbase-startup-page .stbase-our-story-block {
    padding-top: 0;
  }
  body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-content {
    width: 100%;
  }
  body.en-US .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    width: 100%;
    max-height: unset;
  }
}
body.en-US .stbase-startup-page .stbase-icon-list-block h2 {
  max-width: 510px;
}
@media (max-width: 1050px) {
  body.en-US .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 21px;
  }
}
@media (max-width: 700px) {
  body.en-US .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 18px;
  }
}
@media (max-width: 540px) {
  body.en-US .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  body.en-US .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.en-US .stbase-startup-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.en-US .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}

@media (min-width: 1030px) {
  body.fr-FR .stbase-startup-page .stbase-intro-text-awards-block .container #intro-title-and-text h1 {
    font-size: 38px;
    line-height: 49px;
  }
}
@media (min-width: 911px) {
  body.fr-FR .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text {
    max-width: 634px;
  }
}
@media (max-width: 910px) {
  body.fr-FR .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 48px;
    line-height: 120%;
  }
}
@media (max-width: 680px) {
  body.fr-FR .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 44px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 32px;
  }
}
body.fr-FR .stbase-startup-page .stbase-services-block {
  position: relative;
  z-index: 2;
}
body.fr-FR .stbase-startup-page .stbase-services-block #services {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-image img {
  -o-object-position: left;
     object-position: left;
}
body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-title {
  width: 78%;
  height: auto;
  font-size: 22px;
  line-height: 27px;
}
@media (max-width: 1250px) {
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-title {
    font-size: 22px;
    line-height: 30px;
    height: auto;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-cover {
    justify-content: flex-start;
    overflow-y: auto;
  }
}
@media (min-width: 1001px) and (max-width: 1070px) {
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-title {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 1000px) {
  body.fr-FR .stbase-startup-page .stbase-services-block #services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
    margin-top: -140px;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service {
    background-color: #f2000c;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-title {
    top: 30px;
    left: 30px;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-image {
    height: 325px;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-columns {
    display: none;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-cover {
    position: static;
    transform: none;
    height: auto;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service:hover .service-image img {
    transform: none;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service:hover .sevice-titles-box {
    transform: none;
    opacity: 1;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service:nth-child(3) {
    grid-column: unset;
    left: unset;
    width: unset;
  }
}
@media (max-width: 650px) {
  body.fr-FR .stbase-startup-page .stbase-services-block #services {
    grid-template-columns: 1fr;
  }
  body.fr-FR .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  body.fr-FR .stbase-startup-page .stbase-big-red-text-block.highlighted {
    margin-top: -20px;
  }
}
body.fr-FR .stbase-startup-page .stbase-big-red-text-block.highlighted .container {
  max-width: 1200px;
}
@media (max-width: 540px) {
  body.fr-FR .stbase-startup-page .masonry-references-list-section a.st-button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 430px) {
  body.fr-FR .stbase-startup-page .masonry-references-list-section a.st-button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 420px) {
  body.fr-FR .stbase-startup-page .masonry-references-list-section a.st-button-link {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
  width: 490px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 18px;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award p {
    font-size: 13.2px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 981px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
    width: 100%;
    max-width: 520px;
    grid-template-columns: 180px auto;
  }
}
@media (max-width: 680px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
    max-width: 536px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 425px;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award ul li {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-startup-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
body.fr-FR .stbase-startup-page .stbase-our-story-block {
  padding-top: 70px;
}
body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content {
  width: 50%;
  align-self: center;
}
body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 46px;
  line-height: 54px;
}
body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
  font-size: 22px;
  line-height: 34px;
}
body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-image {
  width: 50%;
}
@media (min-width: 1361px) {
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container {
    align-items: flex-start;
  }
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content {
    padding-left: 98px;
    padding-right: 40px;
    padding-top: 80px;
  }
}
@media (max-width: 1360px) {
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    max-height: 520px;
  }
}
@media (min-width: 921px) and (max-width: 1030px) {
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 851px) and (max-width: 920px) {
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 26px;
    line-height: 35px;
  }
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 850px) {
  body.fr-FR .stbase-startup-page .stbase-our-story-block {
    padding-top: 0;
  }
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content {
    width: 100%;
  }
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    width: 100%;
    max-height: unset;
  }
}
@media (max-width: 550px) {
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 33px;
    line-height: 39px;
  }
  body.fr-FR .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
  font-size: 21px;
}
@media (max-width: 1020px) {
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 215px);
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 70px;
  }
}
@media (max-width: 750px) {
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 190px);
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link {
    padding-bottom: 20px;
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 60px;
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-rows: repeat(3, 180px);
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link {
    padding-left: 25px;
    padding-right: 25px;
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link .fact-number {
    font-size: 45px;
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.fr-FR .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}

@media (min-width: 1101px) {
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 49px;
    line-height: 62px;
  }
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text #intro-text {
    max-width: none;
  }
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text #intro-text p {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 651px) and (max-width: 1100px) {
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 39px;
    line-height: 48px;
  }
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text #intro-text {
    max-width: none;
  }
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text #intro-text p {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 650px) {
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 38px;
    line-height: 48px;
  }
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-text p {
    font-size: 22px;
    line-height: 34px;
  }
}
@media (max-width: 480px) {
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-title-and-text h1 {
    font-size: 32px;
    line-height: 42px;
  }
  body.de-DE .stbase-startup-page .stbase-intro-text-awards-block #intro-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
body.de-DE .stbase-startup-page .stbase-services-block {
  position: relative;
  z-index: 2;
}
body.de-DE .stbase-startup-page .stbase-services-block #services {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-image img {
  -o-object-position: left;
     object-position: left;
}
body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-title {
  width: 78%;
  height: auto;
  font-size: 22px;
  line-height: 27px;
}
body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-cover {
  font-size: 17px;
}
@media (max-width: 1270px) {
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-title {
    font-size: 22px;
    line-height: 30px;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-cover {
    justify-content: flex-start;
    overflow-y: auto;
  }
}
@media (min-width: 1001px) and (max-width: 1150px) {
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  body.de-DE .stbase-startup-page .stbase-services-block #services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
    margin-top: -140px;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service {
    background-color: #f2000c;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-title {
    top: 30px;
    left: 30px;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-image {
    height: 325px;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-columns {
    display: none;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-cover {
    position: static;
    transform: none;
    height: auto;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service:hover .service-image img {
    transform: none;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service:hover .sevice-titles-box {
    transform: none;
    opacity: 1;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  body.de-DE .stbase-startup-page .stbase-services-block #services .service:nth-child(3) {
    grid-column: unset;
    left: unset;
    width: unset;
  }
}
@media (max-width: 650px) {
  body.de-DE .stbase-startup-page .stbase-services-block #services {
    grid-template-columns: 1fr;
  }
  body.de-DE .stbase-startup-page .stbase-services-block #services .service .service-cover {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  body.de-DE .stbase-startup-page .stbase-big-red-text-block.highlighted {
    margin-top: -20px;
  }
}
@media (max-width: 540px) {
  body.de-DE .stbase-startup-page .masonry-references-list-section a.st-button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 430px) {
  body.de-DE .stbase-startup-page .masonry-references-list-section a.st-button-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 420px) {
  body.de-DE .stbase-startup-page .masonry-references-list-section a.st-button-link {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
body.de-DE .stbase-startup-page .stbase-our-story-block {
  padding-top: 70px;
}
body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content {
  width: 50%;
  align-self: center;
}
body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 46px;
  line-height: 54px;
}
body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
  font-size: 22px;
  line-height: 34px;
}
body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-image {
  width: 50%;
}
@media (min-width: 1361px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container {
    align-items: flex-start;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content {
    padding-left: 98px;
    padding-right: 40px;
    padding-top: 30px;
  }
}
@media (max-width: 1360px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    max-height: 520px;
  }
}
@media (min-width: 980px) and (max-width: 1220px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block {
    padding-top: 0;
  }
}
@media (min-width: 921px) and (max-width: 1030px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 851px) and (max-width: 920px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 26px;
    line-height: 35px;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 850px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block {
    padding-top: 0;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content {
    width: 100%;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-image {
    width: 100%;
    max-height: unset;
  }
}
@media (max-width: 550px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 38px;
  line-height: 48px;
  max-width: 470px;
}
body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
  font-size: 20px;
  line-height: 34px;
  max-width: 470px;
}
@media (min-width: 921px) and (max-width: 1200px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 851px) and (max-width: 920px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 30px;
    line-height: 39px;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 850px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2,
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    max-width: none;
  }
}
@media (max-width: 550px) {
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  body.de-DE .stbase-startup-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 470px) {
  body.de-DE .stbase-startup-page .stbase-icon-list-block .container .icon-list {
    row-gap: 35px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 430px) {
  body.de-DE .stbase-startup-page .stbase-fact-header-block#fact-1 header .fact-header-content h3 {
    font-size: 27px;
  }
}
@media (max-width: 400px) {
  body.de-DE .stbase-startup-page .stbase-fact-header-block#fact-1 header .fact-header-content h3 {
    font-size: 24px;
  }
}
body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
  font-size: 22px;
}
@media (min-width: 1001px) and (max-width: 1150px) {
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link:nth-child(5) p {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-number {
    margin-bottom: 10px;
  }
  body.de-DE .stbase-startup-page .stbase-fact-links-block .fact-links .fact-link p {
    font-size: 20px;
  }
}
@media (max-width: 390px) {
  body.de-DE .stbase-startup-page .stbase-fact-advantages-block .fact-advantages .advantage h5 {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  body.de-DE .stbase-startup-page .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step .step-red-bc .show-more-text-item .show-more-text {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  body.de-DE .stbase-startup-page .stbase-fact-process-timing-block .process-timing-step-list {
    flex-direction: column;
  }
  body.de-DE .stbase-startup-page .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step {
    border: none;
  }
  body.de-DE .stbase-startup-page .stbase-fact-process-timing-block .process-timing-step-list .process-timing-step + .process-timing-step {
    margin-top: 15px;
  }
}
@media (max-width: 1050px) {
  body.de-DE .stbase-startup-page .stbase-fact-team-block .team {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 760px) {
  body.de-DE .stbase-startup-page .stbase-fact-team-block .team {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 410px) {
  body.de-DE .stbase-startup-page .stbase-fact-team-block .team .team-member header {
    font-size: 19px;
    line-height: 140%;
  }
  body.de-DE .stbase-startup-page .stbase-fact-team-block .team .team-member .show-more-text-item .show-more-text {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 380px) {
  body.de-DE .stbase-startup-page .stbase-fact-team-block .team .team-member header {
    font-size: 17px;
  }
  body.de-DE .stbase-startup-page .stbase-fact-team-block .team .team-member .show-more-text-item .show-more-text {
    font-size: 14px;
  }
}

body.page-template-page-app-dev header#masthead:not(.addshadow),
body.page-template-page-app-dev-new header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-app-dev header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu,
body.page-template-page-app-dev-new header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-app-dev header#masthead:not(.addshadow),
  body.page-template-page-app-dev-new header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-app-dev header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu,
  body.page-template-page-app-dev-new header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}