// VARIABLES
@import "../globals/variables";
// MIXINS
@import "../globals/mixins";
// ANIMATIONS
@import "../globals/animations";

body.en-US .stbase-wordpress-page {
  .stbase-check-list-block {
    .container {
      h2 {
        max-width: 530px;
      }
    }
  }

  .stbase-our-story-block {
    .container {
      @media (min-width: 1221px) {
        .our-story-content {
          h2 {
            font-size: 54px;
            line-height: 64px;
          }
        }
      }

      @media (min-width: 501px) and (max-width: 850px) {
        .our-story-content {
          h2 {
            font-size: 48px;
            line-height: 62px;
          }
        }
      }

      @media (max-width: 460px) {
        .our-story-content {
          h2 {
            font-size: 39px;
          }

          p {
            font-size: 22px;
          }
        }
      }
    }
  }

  #wordpress-intro-text {
    .container {
      @media (min-width: 520px) {
        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          text-align: center;
          color: #342f2f;
        }
      }
    }
  }

  #wordpress-header {
    @media (max-width: 720px) {
      header {
        img {
          object-position: -10vw;
        }
      }
    }
  }
}

body.fr-FR .stbase-wordpress-page {
  .stbase-intro-text-image-block
    .container
    .intro-block__text-column
    .text-column-content
    p {
    // font-size: 12px;
  }

  .stbase-icon-list-block {
    .container {
      h2 {
        max-width: 820px;
      }

      @media (min-width: 861px) and (max-width: 960px) {
        .icon-list {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 10px;
          row-gap: 60px;
        }
      }

      @media (max-width: 620px) {
        .icon-list {
          // grid-template-columns: 1fr;
          row-gap: 50px;
          column-gap: 10px;

          .icon {
            grid-template-columns: 11vw auto;
            grid-template-rows: auto auto;
            column-gap: 3vw;
            align-items: start;
            justify-items: start;

            picture {
              grid-column: 1 / 2;
              grid-row: 1 / 3;
              justify-self: end;
            }

            h3 {
              grid-column: 2 / 3;
              grid-row: 1 / 2;
              text-align: left;
            }

            p {
              grid-column: 2 / 3;
              grid-row: 2 / 3;
              text-align: left;
            }
          }
        }
      }

      @media (max-width: 500px) {
        .icon-list {
          grid-template-columns: 1fr;

          .icon {
            grid-template-columns: 16vw auto;
            column-gap: 6vw;
          }
        }
      }
    }
  }

  .stbase-check-list-block {
    .container {
      h2 {
        max-width: 680px;
      }

      @media (max-width: 480px) {
        .check-list {
          grid-template-columns: 1fr;
          justify-items: center;

          .check {
            text-align: center;

            h3 {
              font-size: 21px;
            }

            p {
              font-size: 17px;
            }
          }
        }
      }

      @media (max-width: 430px) {
        h2 {
          font-size: 25px;
          line-height: 34px;
          margin-bottom: 45px;
        }
      }

      @media (max-width: 380px) {
        h2 {
          font-size: 22px;
          line-height: 32px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .stbase-awards-block {
    .awards-column {
      .award {
        width: 490px;
        grid-template-columns: 190px auto;

        ul {
          li {
            text-align: left;
          }
        }

        @media (min-width: 981px) {
          ul {
            li {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 981px) and (max-width: 1170px) {
          grid-template-columns: 150px auto;
          column-gap: 15px;
          width: 460px;

          picture {
            img {
              max-width: 130px;
            }
          }
        }

        @media (max-width: 981px) {
          width: 100%;
          max-width: 621px;
        }

        @media (max-width: 850px) {
          max-width: 550px;
        }

        @media (max-width: 680px) {
          max-width: 536px;
        }

        @media (max-width: 600px) {
          column-gap: 10px;
          width: 425px;

          picture {
            img {
              max-width: 140px;
            }
          }

          ul {
            li {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }

        @media (max-width: 480px) {
          column-gap: 0;
          width: 100%;
          grid-template-columns: 150px auto;

          picture {
            justify-self: center;

            img {
              max-width: 110px;
            }
          }

          ul {
            li {
              font-size: 12px;
            }
          }
        }

        @media (max-width: 390px) {
          column-gap: 0;
        }
      }
    }

    .awards-text-column {
      p {
        font-size: 46px;
        line-height: 133%;
      }
    }

    @media (max-width: 980px) {
      .awards-text-column {
        p {
          font-size: 40px;
        }
      }
    }

    @media (max-width: 740px) {
      .center-1300 {
        .awards-text-column {
          padding-top: 90px;
          padding-bottom: 90px;
        }
      }
    }

    @media (max-width: 520px) {
      .awards-text-column {
        p {
          font-size: 28px;
        }
      }
    }

    @media (max-width: 440px) {
      .center-1300 {
        .awards-text-column {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
    }
  }

  #wordpress-intro-text {
    .container {
      @media (min-width: 520px) {
        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          text-align: center;
          color: #342f2f;
        }
      }
    }
  }

  #wordpress-header {
    @media (max-width: 720px) {
      header {
        img {
          object-position: -10vw;
        }
      }
    }
  }
}

body.de-DE .stbase-wordpress-page {
  .stbase-intro-text-image-block {
    .container {
      .intro-block__text-column {
        .text-column-content {
          h1 {
            font-size: 52px;
            line-height: 63px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .stbase-icon-list-block {
    .container {
      .icon-list {
        @media (min-width: 861px) and (max-width: 930px) {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 10px;
          row-gap: 60px;
        }

        @media (max-width: 560px) {
          grid-template-columns: 1fr;
          row-gap: 50px;
        }
      }
    }
  }

  .stbase-check-list-block {
    .container {
      h2 {
        max-width: 580px;
      }

      @media (max-width: 510px) {
        h2 {
          font-size: 26px;
          line-height: 37px;
          margin-bottom: 30px;
        }
      }

      @media (min-width: 421px) and (max-width: 510px) {
        .check-list {
          .check {
            h3 {
              font-size: 20px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }

      @media (max-width: 430px) {
        h2 {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }
  }

  .stbase-our-story-block {
    .container {
      .our-story-content {
        h2 {
          font-size: 42px;
          line-height: 52px;
          max-width: 470px;
        }

        p {
          font-size: 20px;
          line-height: 34px;
          max-width: 470px;
        }

        @media (min-width: 921px) and (max-width: 1200px) {
          h2 {
            font-size: 32px;
            line-height: 40px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }

        @media (min-width: 851px) and (max-width: 920px) {
          h2 {
            font-size: 30px;
            line-height: 39px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        @media (max-width: 850px) {
          h2,
          p {
            max-width: none;
          }
        }

        @media (max-width: 550px) {
          h2 {
            font-size: 32px;
            line-height: 40px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .stbase-awards-block {
    .center-1300 {
      .awards-text-column {
        @media (min-width: 521px) and (max-width: 840px) {
          padding-top: 90px;
          padding-bottom: 90px;
        }
      }
    }
  }

  #wordpress-intro-text {
    .container {
      @media (min-width: 520px) {
        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 140%;
          text-align: center;
          color: #342f2f;
        }
      }
    }
  }

  #wordpress-header {
    @media (max-width: 720px) {
      header {
        img {
          object-position: -10vw;
        }
      }
    }
  }
}

body.page-template-page-wordpress {
  @include gray-top-header();
}
