@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
body.en-US .stbase-wordpress-page .stbase-check-list-block .container h2 {
  max-width: 530px;
}
@media (min-width: 1221px) {
  body.en-US .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 54px;
    line-height: 64px;
  }
}
@media (min-width: 501px) and (max-width: 850px) {
  body.en-US .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 48px;
    line-height: 62px;
  }
}
@media (max-width: 460px) {
  body.en-US .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 39px;
  }
  body.en-US .stbase-wordpress-page .stbase-our-story-block .container .our-story-content p {
    font-size: 22px;
  }
}
@media (min-width: 520px) {
  body.en-US .stbase-wordpress-page #wordpress-intro-text .container p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    color: #342f2f;
  }
}
@media (max-width: 720px) {
  body.en-US .stbase-wordpress-page #wordpress-header header img {
    -o-object-position: -10vw;
       object-position: -10vw;
  }
}

body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container h2 {
  max-width: 820px;
}
@media (min-width: 861px) and (max-width: 960px) {
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 60px;
  }
}
@media (max-width: 620px) {
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list {
    row-gap: 50px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list .icon {
    grid-template-columns: 11vw auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 3vw;
         column-gap: 3vw;
    align-items: start;
    justify-items: start;
  }
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list .icon picture {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
  }
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list .icon h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
  }
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list .icon p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
  }
}
@media (max-width: 500px) {
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
  }
  body.fr-FR .stbase-wordpress-page .stbase-icon-list-block .container .icon-list .icon {
    grid-template-columns: 16vw auto;
    -moz-column-gap: 6vw;
         column-gap: 6vw;
  }
}
body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container h2 {
  max-width: 680px;
}
@media (max-width: 480px) {
  body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container .check-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container .check-list .check {
    text-align: center;
  }
  body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container .check-list .check h3 {
    font-size: 21px;
  }
  body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container .check-list .check p {
    font-size: 17px;
  }
}
@media (max-width: 430px) {
  body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container h2 {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 45px;
  }
}
@media (max-width: 380px) {
  body.fr-FR .stbase-wordpress-page .stbase-check-list-block .container h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}
body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
  width: 490px;
  grid-template-columns: 190px auto;
}
body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award ul li {
  text-align: left;
}
@media (min-width: 981px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award ul li {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (min-width: 981px) and (max-width: 1170px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    grid-template-columns: 150px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    width: 460px;
  }
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award picture img {
    max-width: 130px;
  }
}
@media (max-width: 981px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    width: 100%;
    max-width: 621px;
  }
}
@media (max-width: 850px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    max-width: 550px;
  }
}
@media (max-width: 680px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    max-width: 536px;
  }
}
@media (max-width: 600px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 425px;
  }
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award picture img {
    max-width: 140px;
  }
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award ul li {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 480px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
    grid-template-columns: 150px auto;
  }
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award picture {
    justify-self: center;
  }
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award picture img {
    max-width: 110px;
  }
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award ul li {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-column .award {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-text-column p {
  font-size: 46px;
  line-height: 133%;
}
@media (max-width: 980px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-text-column p {
    font-size: 40px;
  }
}
@media (max-width: 740px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .center-1300 .awards-text-column {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 520px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .awards-text-column p {
    font-size: 28px;
  }
}
@media (max-width: 440px) {
  body.fr-FR .stbase-wordpress-page .stbase-awards-block .center-1300 .awards-text-column {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 520px) {
  body.fr-FR .stbase-wordpress-page #wordpress-intro-text .container p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    color: #342f2f;
  }
}
@media (max-width: 720px) {
  body.fr-FR .stbase-wordpress-page #wordpress-header header img {
    -o-object-position: -10vw;
       object-position: -10vw;
  }
}

body.de-DE .stbase-wordpress-page .stbase-intro-text-image-block .container .intro-block__text-column .text-column-content h1 {
  font-size: 52px;
  line-height: 63px;
  margin-bottom: 0;
}
@media (min-width: 861px) and (max-width: 930px) {
  body.de-DE .stbase-wordpress-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 60px;
  }
}
@media (max-width: 560px) {
  body.de-DE .stbase-wordpress-page .stbase-icon-list-block .container .icon-list {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
body.de-DE .stbase-wordpress-page .stbase-check-list-block .container h2 {
  max-width: 580px;
}
@media (max-width: 510px) {
  body.de-DE .stbase-wordpress-page .stbase-check-list-block .container h2 {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 30px;
  }
}
@media (min-width: 421px) and (max-width: 510px) {
  body.de-DE .stbase-wordpress-page .stbase-check-list-block .container .check-list .check h3 {
    font-size: 20px;
  }
  body.de-DE .stbase-wordpress-page .stbase-check-list-block .container .check-list .check p {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  body.de-DE .stbase-wordpress-page .stbase-check-list-block .container h2 {
    font-size: 22px;
    line-height: 34px;
  }
}
body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
  font-size: 42px;
  line-height: 52px;
  max-width: 470px;
}
body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content p {
  font-size: 20px;
  line-height: 34px;
  max-width: 470px;
}
@media (min-width: 921px) and (max-width: 1200px) {
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 851px) and (max-width: 920px) {
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 30px;
    line-height: 39px;
  }
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 850px) {
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2,
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content p {
    max-width: none;
  }
}
@media (max-width: 550px) {
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  body.de-DE .stbase-wordpress-page .stbase-our-story-block .container .our-story-content p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 521px) and (max-width: 840px) {
  body.de-DE .stbase-wordpress-page .stbase-awards-block .center-1300 .awards-text-column {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 520px) {
  body.de-DE .stbase-wordpress-page #wordpress-intro-text .container p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    color: #342f2f;
  }
}
@media (max-width: 720px) {
  body.de-DE .stbase-wordpress-page #wordpress-header header img {
    -o-object-position: -10vw;
       object-position: -10vw;
  }
}

body.page-template-page-wordpress header#masthead:not(.addshadow) {
  background-color: rgba(237, 240, 242, 0.9);
}
body.page-template-page-wordpress header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
  background-color: rgba(237, 240, 242, 0.95);
}
@media (max-width: 910px) {
  body.page-template-page-wordpress header#masthead:not(.addshadow) {
    background-color: rgb(237, 240, 242);
  }
  body.page-template-page-wordpress header#masthead:not(.addshadow) .container #site-navigation ul li ul.sub-menu {
    background-color: rgb(237, 240, 242);
  }
}