@import '../_swisstomato2-base.less';

#app-cost-post {
    #hero-section {
        #hero-dark-layer {
            align-items: flex-start;
            padding-right: 0;

            #hero-content {
                margin-left: 70px;
                max-width: 441px;

                h1 {
                    color: #FFFFFF;
                    font-family: Rubik;
                    font-size: 44px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 52px;
                }
            }
        }

        @media (min-width: 801px) and (max-width: 990px) {
            #hero-dark-layer {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }

        @media (max-width: 800px) {
            margin-top: 130px;
            height: 400px;

            #hero-dark-layer {
                padding-left: 0;
                align-items: center;
                background-color: transparent;

                #hero-content {
                    margin-left: 0;
                    position: relative;
                    top: -270px;
                    padding-left: 25px;
                    padding-right: 25px;

                    h1 {
                        color: #110F24;
                        font-family: Rubik;
                        font-size: 33px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 39px;
                        text-align: center;
                        .center(290px);
                    }
                }
            }
        }

        @media (max-width: 650px) {
            height: 370px;
        }

        @media (max-width: 500px) {
            height: 300px;

            #hero-dark-layer {
                #hero-content {
                    top: -210px;
                }
            }
        }
    }

    .container {
        max-width: 826px;
    }

    h2 {
        color: #F2000C;
        font-family: Rubik;
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 39px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;

        @media (max-width: 520px) {
            margin-bottom: 20px;
        }
    }

    p {
        color: #303030;
        font-family: Rubik;
        font-size: 19px;
        letter-spacing: 0;
        line-height: 32px;
    }

    .first-text {
        color: #342F2F;
        font-family: Rubik;
        font-size: 27px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 39px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;

        p {
            color: #342F2F;
            font-family: Rubik;
            font-size: 27px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 39px;
            text-align: center;
            margin: 0;
        }

        @media (max-width: 520px) {
            margin-top: 25px;
        }
    }

    .big-list {
        margin-top: 40px;
        margin-bottom: 30px;

        .big-list-item {
            padding: 26px 30px 11px;
            background-color: #FFF0F1;

            p {
                &:first-child {
                    margin-top: 0;
                }
            }

            & + .big-list-item {
                margin-top: 20px;
            }

            &.highlighted {
                border: 3px solid @red;
            }
        }

        @media (max-width: 520px) {
            .big-list-item {
                padding-top: 25px;
                padding-bottom: 25px;
                flex-direction: column;

                .big-list-media {
                    width: 100%;
                }

                .big-list-item-text {
                    width: 100%;
                    
                    p {
                        &:first-child {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #first-section {
        background-color: #F8F8F8;
        padding-top: 50px;
        padding-bottom: 60px;
        margin-top: 40px;

        #app-cost-body {
            color: #303030;
            font-family: Rubik;
            font-size: 19px;
            letter-spacing: 0;
            line-height: 32px;

            p {
                color: #303030;
                font-family: Rubik;
                font-size: 19px;
                letter-spacing: 0;
                line-height: 32px;
            }
        }

        #inner-links {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            .inner-link {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 26%;
                max-width: 207px;

                .number {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 21px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 25px;
                    text-align: left;
                    border-bottom: 9px solid #f2000c21;
                    padding-bottom: 15px;
                    width: 100%;
                }

                a {
                    color: #F2000C;
                    font-family: Rubik;
                    font-size: 25px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 29px;
                    margin-top: 30px;
                }
            }

            @media (min-width: 551px) and (max-width: 660px) {
                flex-wrap: wrap;
                justify-content: center;

                .inner-link {
                    width: 44%;
                    max-width: unset;

                    &:nth-child(2) {
                        margin-left: 30px;
                    }

                    &:last-child {
                        margin-top: 30px;
                    }
                }
            }

            @media (max-width: 550px) {
                flex-direction: column;
                align-items: center;
                margin-top: 45px;

                .inner-link {
                    width: 100%;
                    max-width: 350px;

                    & + .inner-link {
                        margin-top: 35px;
                    }
                }
            }
        }

        @media (max-width: 1250px) {
            margin-top: 0;
        }

        @media (max-width: 550px) {
            padding-top: 24px;
            padding-bottom: 40px;
        }
    }

    .app-cost-banner {
        margin-top: 60px;
        margin-bottom: 60px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 194px;

        .banner-logo-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            width: 102px;
            height: 102px;
            position: relative;
            right: -30px;

            .banner-logo-bc {
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 100px;
                height: 100px;

                img {
                    width: 64px;
                    height: 74px;
                    position: relative;
                    top: -5px;
                    left: -1px;
                }
            }
        }

        .banner-content {
            width: 64%;
            text-align: center;

            p {
                color: #FFFFFF;
                font-family: Rubik;
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 27px;
                text-align: center;
                margin-top: 0;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 570px) {
            justify-content: space-between;
        }

        @media (max-width: 520px) {
            .center(391px);
            height: 323px;
            flex-direction: column;

            .banner-logo-wrapper {
                width: 100%;
                position: static;
                height: 152px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .banner-content {
                width: 100%;
                padding: 0 25px 25px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                a.button-red {
                    width: 100%;
                }
            }
        }
    }

    #how-much-section {
        margin-top: 80px;

        #how-much-main-text {
            p {
                & + p {
                    margin-top: 35px;
                }
            }
        }

        @media (max-width: 520px) {
            margin-top: 45px;
        }
    }

    #how-long-section {
        margin-top: 90px;

        .big-list {
            .big-list-item {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;

                .big-list-media {
                    width: 18%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 0;

                    .progress-bar-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        width: 28px;
                        height: 188px;
                        border-radius: 14px;
                        background-color: rgba(242,0,12,0.1);

                        .progress-bar {
                            width: 28px;
                            border-radius: 14px;
                            background: linear-gradient(180deg, #A8A1FF 0%, #FF6869 100%);
                        }
                    }
                }

                .big-list-item-text {
                    width: 82%;
                    padding: 26px 26px 26px 0;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        & + p {
                            margin-top: 0;
                        }
                    }
                }

                &:nth-child(1) {
                    .big-list-media {
                        .progress-bar-wrapper {
                            .progress-bar {
                                height: 59px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .big-list-media {
                        .progress-bar-wrapper {
                            .progress-bar {
                                height: 118px;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .big-list-media {
                        .progress-bar-wrapper {
                            .progress-bar {
                                height: 177px;
                            }
                        }
                    }
                }
            }

            @media (max-width: 520px) {
                .big-list-item {
                    padding: 0;

                    .big-list-media {
                        width: 100%;
                        padding-bottom: 0;
                    }

                    .big-list-item-text {
                        width: 100%;
                        padding-left: 25px;
                        padding-right: 25px;

                        p {
                            width: 100%;

                            &:first-child {
                                text-align: center;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    #process-timing-section {
        max-width: 1101px;
        padding-top: 35px;
        padding-bottom: 55px;

        h2 {
            color: #303030;
            font-family: Rubik;
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 38px;
            text-align: center;
            margin-bottom: 24px;
        }

        @media (max-width: 520px) {
            padding-bottom: 15px;
        }
    }

    .references-section.container {
        max-width: 1250px;
        background-color: transparent;
        padding-top: 45px;

        h2 {
            color: #303030;
            font-family: Rubik;
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 38px;
            text-align: center;
        }

        @media (max-width: 520px) {
            padding-top: 5px;
            padding-bottom: 40px;

            a.more-references {
                margin-top: 0;
            }
        }
    }

    #app-cost-awards-wrapper {
        background-color: #F2000C;
        padding-top: 60px;
        padding-bottom: 20px;
        margin-top: 80px;
        margin-bottom: 80px;

        h2 {
            color: #FFFFFF;
            font-family: Rubik;
            font-size: 33px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 39px;
            text-align: center;
            margin-bottom: 0;
        }

        #awards-section {
            max-width: 1250px;
            padding-top: 20px;
        }

        @media (max-width: 900px) {
            #awards-section {
                #awards-section-text {
                    padding: 20px;
                }
            }
        }

        @media (max-width: 520px) {
            margin-bottom: 64px;
            padding-top: 50px;

            #awards-section {
                padding-top: 0;
            }
        }
    }

    #clients-section {
        max-width: 1250px;

        @media (max-width: 520px) {
            margin-top: 30px;
        }
    }

    #fields-of-exp-section {
        max-width: 1250px;
        margin-top: 90px;
        margin-bottom: 80px;

        @media (max-width: 520px) {
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    #clients-section {
        .client-list {
            @media (max-width: 520px) {
                margin-bottom: 5px;
            }
        }
    }

    .after-text {
        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

body.fr-FR {
    #app-cost-post {
        h2 {
            font-size: 30px;
        }

        .app-cost-banner .banner-content p {
            font-size: 18px;
            line-height: 23px;
        }

        .first-text p {
            font-size: 24px;
            line-height: 36px;
        }

        #first-section #inner-links .inner-link a {
            font-size: 22px;
            line-height: 28px;
        }

        #fields-of-exp-section .field-of-exp-list .field p {
            font-size: 16px;
            line-height: 21px;
        }
    }
}

body.de-DE {
    .app-cost-banner {
        a.button-red {
            @media (max-width: 520px) {
                padding: 15px 10px;
                font-weight: 500;
                font-size: 15px;
            }

            @media (max-width: 390px) {
                font-size: 14px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}