@import '../_swisstomato2-base.less';

#web-cost-post {
  background-color: #f9f9f9;
  // width: 100%;
  // max-width: 1440px;
  // margin-left: auto;
  // margin-right: auto;
  padding: 50px 0 90px;

  .hero {
    width: 100%;
    max-width: 1117px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;

    h1 {
      color: #000000;
      font-family: Rubik;
      font-size: 44px;
      font-weight: bold;
      line-height: 52px;
      margin: 7px 0;
    }
  
    .post-date {
      opacity: .6;
      color: #000000;
      font-family: Rubik;
      font-size: 16px;
      line-height: 25px;
    }
  
    #post-thumbnail {
      margin-top: 30px;
      width: 100%;
      height: auto;
    }
  }

  p {
    color: #000000;
    font-family: "Rubik";
    font-size: 19px;
    line-height: 32px;
  }

  .narrow {
    max-width: 657px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    ol {
      margin-left: 0;

      li {
        color: #000000;
        font-family: "Rubik";
        font-size: 19px;
        line-height: 32px;

        & + li {
          margin-top: 5px;
        }
      }
    }
  }

  .cost-table-block {
    margin: 30px 0;
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    table {
      border-collapse: collapse;
      table-layout: fixed;
      
      tr {
        th, td {
          padding: 20px 15px;
          border: none;
          vertical-align: top;
          text-align: left;

          &.title {
            font-weight: 700;
            font-size: 17px;
            line-height: 29px;
            color: #000000;
            width: 200px;
          }

          &.description {
            font-weight: 400;
            font-size: 17px;
            line-height: 29px;
            color: #000000;
          }

          &.hours {
            background-color: #F2000C14;
            color: #000000;
            border-right: 5px solid white;
            vertical-align: middle;
            width: 170px;

            &:last-child {
              border-right: none;
            }

            &.double {
              width: 280px;
            }
          }
        }
      }

      thead {
        th {
          &.hours:not(.double) {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          td {
            border-top: 1px solid #C7C7C7;

            &.hours {
              font-weight: 700;
              font-size: 17px;
              line-height: 29px;

              .mobile-label {
                display: none;
              }
            }
          }

          &:last-child {
            td {
              border-top-color: #f2000c;

              &.hours {
                background-color: #F2000C29;
              }
            }
          }
        }
      }
    }

    @media (max-width: 915px) {
      
    }
  }

  .cost-examples-block {
    margin: 45px auto;
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;

    p {
      font-size: 16px;
      line-height: 25px;
      color: black;
      margin: 0;

      a {
        font-weight: bold;
        color: #F2000C;
        font-weight: 700;
      }
    }
  }

  .website-development-link-block {
    margin: 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: 700;
      font-size: 19px;
      line-height: 32px;
      text-align: center;
      color: #000000;
      margin: 0 0 20px;
    }
  }

  @media (max-width: 1490px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: 915px) {
    .narrow {
      max-width: unset;
    }

    .cost-table-block {
      // width: 100%;

      // .cost-table-wrapper {
      //   max-width: 100%;
      //   overflow-x: auto;
      // }
      
      table {
        // table-layout: auto;
        // width: 1000px;

        thead {
          th {
            &.empty {
              // background-color: #F2000C14;
              // color: #000000;
              // border-right: 5px solid white;
            }

            // &.title {
            //   width: 190px;
            // }

            // &.description {
            //   width: 420px;
            // }

            &.hours {
              // font-size: 13px;
              // line-height: 22px;
              width: 140px;

              &.double {
                width: 140px;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              &.title, &.description {
                // font-size: 17px;
                // line-height: 29px;
              }

              // &.title {
              //   width: 190px;
              // }
  
              // &.description {
              //   width: 420px;
              // }

              &.hours {
                // font-size: 13px;
                // line-height: 22px;
                width: 140px;

                &.double {
                  width: 140px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    background-color: white;

    .cost-table-block {
      .cost-table-wrapper {
        width: 100%;
        overflow: hidden;

        table, thead, tbody, th, td, tr { 
          display: block; 
        }

        table {
          thead {
            tr {
              position: absolute;
              top: -9999px;
              left: -9999px;
            }
          }

          tbody {
            tr {
              td {
                display: block;
                border-top: none;

                &.title {
                  width: 100%;
                  background: #F9F9F9;
                  padding: 20px 20px 5px;
                }

                &.description {
                  width: 100%;
                  background: #F9F9F9;
                  padding: 0 20px 20px;
                }

                &.hours {
                  width: 100%;
                  padding: 0;
                  position: relative;
                  display: grid;
                  grid-template-columns: 60% 40%;
                  border-right: 0;
                  align-items: center;

                  span {
                    padding: 20px;

                    &.mobile-label {
                      border-right: 5px solid white;
                      display: block;
                      font-size: 15px;
                      line-height: 22px;
                    }
                  }

                  &:last-child {
                    border-top: 4px solid white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body.fr-FR {
    #app-cost-post {
        h2 {
            font-size: 30px;
        }

        .app-cost-banner .banner-content p {
            font-size: 18px;
            line-height: 23px;
        }

        .first-text p {
            font-size: 24px;
            line-height: 36px;
        }

        #first-section #inner-links .inner-link a {
            font-size: 22px;
            line-height: 28px;
        }

        #fields-of-exp-section .field-of-exp-list .field p {
            font-size: 16px;
            line-height: 21px;
        }
    }
}

body.de-DE {
  #web-cost-post {
    .cost-table-block {
      .cost-table-wrapper {
        @media (min-width: 801px) and (max-width: 915px) {
          table {
            thead {
              tr {
                th {
                  &.hours {
                    font-size: 13px;
                    line-height: 21px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}