// main: ../swisstomato2.less

body:not(.home) {
	#awards-section {
		#awards-section-text {
			opacity: 1;
			top: 0;
		}
	}
}

#awards-section {
	background-color: @red;
	padding-top: 33px;
	padding-bottom: 95px;

	h2 {
		color: #FFFFFF;
		font-family: 'Rubik';
		font-size: 33px;
		font-weight: bold;
		line-height: 39px;
		text-align: center;
		margin-bottom: 50px;
	}

	#awards-section-text p {
		.font-full('Rubik', 28px, 36px, 300, white);
		margin: 5px 0 50px;
		text-align: center;
		.center(810px);
	}

	#awards {
		.center(1230px);
		.flex-space-between();
		align-items: stretch;
		padding-left: 75px;
		padding-right: 75px;

		.award {
			background: rgba(255, 255, 255, 0.3);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 23%;
			padding: 19px 26px 90px;
			position: relative;
			opacity: 0;
			transition-timing-function: ease-in;

			&.shown {
				opacity: 1;
				top: 0;
			}

			&:nth-child(1) {
				top: -60px;
				transition: all 300ms;
			}

			&:nth-child(2) {
				top: -100px;
				transition: all 500ms;
			}

			&:nth-child(3) {
				top: -140px;
				transition: all 800ms;
			}

			&:nth-child(4) {
				top: -180px;
				transition: all 1000ms;
			}


			.award-top-image-wrapper {
				align-self: center;
				height: 84px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-bottom: 10px;
			}

			h3.award-title {
				.font-full('Rubik', 18px, 22px, 500, white);
				margin: 8px 0 20px;
			}

			.award-app-title {
				.font-full('Rubik', 16px, 19px, 400, white);
			}

			p.award-text {
				.font-full('Rubik', 15px, 18px, 300, rgba(255, 255, 255, 0.8));
				margin: 0;
			}

			.award-bottom-image-wrapper {
				bottom: 18px;
				display: flex;
				height: 56px;
				justify-content: center;
				flex-direction: column;
				position: absolute;
				align-self: center;
			}


		}

        &.triggered {
            .award {
                opacity: 1;
				top: 0 !important;
            }
        }

		@media (max-width: 950px) {
			flex-wrap: wrap;
			padding-left: 25px;
			padding-right: 25px;

			.award {
				width: 47%;

				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 50px;
				}
			}
		}

		@media (max-width: 600px) {
			flex-direction: column;
			align-items: center;

			.award {
				width: 100%;
				max-width: 600px;
				margin-bottom: 40px;
				align-items: center;

				.award-title {
					max-width: 400px;
					text-align: center;
					margin: 20px 0 30px !important;
				}

				.award-text {
					max-width: 400px;
					text-align: center;
				}

				.award-bottom-image-wrapper {
					margin-top: 20px;
				}

				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 40px;
				}
			}
		}

		&.top-row {
			justify-content: space-between;
			align-items: flex-start;
			padding-left: 0;
			padding-right: 0;
			width: 900px;
			margin-top: 60px;

			.award {
				display: flex;
				background-color: transparent;
				width: 100%;
				max-width: 430px;
				padding: 0;
				flex-direction: row;

				.award-first-image-wrapper {
					img {
						margin-right: 25px;
					}
				}

				.award-second-column {
					display: flex;
					flex-direction: column;
					align-content: flex-start;
					margin-bottom: 5px;

					h3 {
						color: #FFFFFF;
						font-family: Rubik;
						font-size: 18px;
						line-height: 22px;
						font-weight: bold;
						margin: 0;
					}

					.award-title-1 {
						color: #FFFFFF;
						font-family: Rubik;
						font-size: 18px;
						line-height: 22px;
						font-style: italic;
					}

					.award-title-2 {
						color: #FFFFFF;
						font-family: Rubik;
						font-size: 18px;
						line-height: 22px;
						font-style: italic;
					}

					.award-text {
						color: #FFFFFF;
						font-family: Rubik;
						font-size: 18px;
						line-height: 22px;
						font-style: italic;
					}
				}

				&:first-child {
					margin-right: 15px;
				}

				&:last-child {
					margin-left: 15px;
				}

				&:nth-child(1) {
					top: -60px;
					transition: all 300ms;
				}

				&:nth-child(2) {
					top: -80px;
					transition: all 400ms;
				}
			}

			@media (max-width: 1075px) {
				width: 100%;

				.award {
					width: 50%;

					&:first-child {
						margin-right: 0;
					}

					&:last-child {
						margin-left: 0;
					}
				}
			}

			@media (max-width: 1010px) {
				justify-content: space-between;

				.award {
					width: 48%;

					.award-first-image-wrapper {
						margin-right: 20px;
						width: 100px;
					}
				}
			}

			@media (max-width: 850px) {
				display: flex;
				flex-direction: column;
				align-items: center;

				.award {
					width: 100%;

					.award-first-image-wrapper {
						margin-right: 0;
						width: auto;
					}

					&:first-child {
						margin-bottom: 0;
					}

					&:last-child {
						margin-bottom: 30px;
					}
				}
			}

			@media (max-width: 610px) {
				.award {
					background-color: rgba(255, 255, 255, 0.2);
					padding: 10px;
					max-width: 100%;
					// opacity: 1;
					// position: static;

					.award-text {
						text-align: left;
					}

					&:first-child {
						margin-bottom: 30px;
					}
				}
			}

			@media (max-width: 490px) {
				margin-top: -15px;

				.award {
					.award-first-image-wrapper {
						width: 125px;
						text-align: center;
						margin-right: 15px;
					}
				}
			}

			@media (max-width: 440px) {
				.award {
					align-items: flex-start;

					.award-first-image-wrapper {
						width: 80px;
						text-align: center;
					}
				}
			}

			@media (max-width: 400px) {
				.award {
					.award-first-image-wrapper {
						width: 65px;
					}
				}
			}
		}

		&.bottom-row {
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-top: 15px;
			padding-left: 0;
			padding-right: 0;

			.award {
				background-color: transparent;
				width: 115px;
				padding: 0 0 65px 0;
				position: relative;
				justify-content: flex-start;

				.award-first-image-wrapper {
					height: 70px;
					margin-bottom: 10px;
				}

				h3.award-title-1 {
					color: #FFFFFF;
					font-family: Rubik;
					font-size: 16px;
					font-style: italic;
					line-height: 19px;
					font-weight: bold;
					margin-top: 0;
					margin-bottom: 0;
				}

				.award-title-2 {
					color: #FFFFFF;
					font-family: Rubik;
					font-size: 16px;
					font-style: italic;
					line-height: 19px;
					font-style: italic;
				}

				.award-second-image-wrapper {
					position: absolute;
					height: 50px;
					bottom: 0;
					display: flex;
					justify-content: flex-start;
					align-items: center;

					img {
						max-height: 44px;
						max-width: 102px;
                        width: auto;
					}
				}

				&:nth-child(1) {
					top: -100px;
					transition: all 500ms;
				}

				&:nth-child(2) {
					top: -120px;
					transition: all 600ms;
				}

				&:nth-child(3) {
					top: -140px;
					transition: all 700ms;
				}

				&:nth-child(4) {
					top: -160px;
					transition: all 800ms;
				}

				&:nth-child(5) {
					top: -180px;
					transition: all 900ms;
				}

				&:nth-child(6) {
					top: -200px;
					transition: all 1000ms;
				}

				&:nth-child(7) {
					top: -220px;
					transition: all 1100ms;
				}
			}

			@media (max-width: 1120px) {
				flex-wrap: wrap;

				.award {
					width: 21%;
					margin-bottom: 30px;

					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7) {
						margin-bottom: 0;
					}
				}
			}

			@media (max-width: 920px) {
				.award {
					width: 23%;
					background-color: rgba(255, 255, 255, 0.2);
					padding: 10px 10px 65px 10px;
				}
			}

			@media (max-width: 610px) {
				margin-top: 0;

				.award {
					width: 47%;
					background-color: rgba(255, 255, 255, 0.2);
					align-items: center;
					text-align: center;
					// opacity: 1;
					// position: static;

					h3.award-title-1 {
						margin-bottom: 3px;
					}

					&:nth-child(5),
					&:nth-child(6) {
						margin-bottom: 30px;
					}
				}
			}

			@media (max-width: 610px) {
				flex-direction: row;
				align-items: stretch;
			}
		}
	}

	@media (max-width: 770px) {
		padding-bottom: 30px;
	}

	@media (max-width: 500px) {
		padding-top: 40px;
	}

	&.big {
		padding-top: 55px;
		padding-bottom: 80px;
		padding-left: 75px;
		padding-right: 75px;
		// position: relative;
		// top: -290px;

		#awards-background {
			background-size: contain;
			background-position: top;
			background-repeat: no-repeat;
			padding-top: 1080px;

			#awards-background-bottom {
				width: 100%;
				height: 30px;
				margin-top: 70px;
				background-size: cover;

				@media (max-width: 1350px) {
					display: none;
				}
			}

			@media (max-width: 1350px) {
				background-image: none !important;
				padding: 60px 0 60px;
			}
		}

		#awards-section-text {
			opacity: 0;
		}

		@media (max-width: 910px) {
			margin-top: 0;

			#awards-section-text {
				opacity: 1;
				padding-top: 50px;
			}
		}

		@media (max-width: 770px) {
			padding-bottom: 30px;
		}

		@media (max-width: 500px) {
			padding-top: 0;
			padding-left: 25px;
			padding-right: 25px;
		}
	}

    &.ver-202010 {
        h2 {
            margin-bottom: 30px;
        }

        #awards.top-row {
            .award:first-child, .award:last-child {
                @media (max-width: 450px) {
                    margin-bottom: 18px;
                }
            }
        }

        #awards.bottom-row {
            @media (max-width: 1120px) {
                justify-content: center;

                .award {
                    margin-left: 16px;
                    margin-bottom: 16px;

                    &:first-child, &:nth-child(5) {
                        margin-left: 0;
                    }
                }
            }

            @media (max-width: 670px) {
                .award {
                    margin-left: 10px;
                    margin-bottom: 10px;

                    &:first-child, &:nth-child(5) {
                        margin-left: 0;
                    }
                }
            }

            @media (max-width: 610px) {
                justify-content: center;

                .award {
                    width: 47%;
                    margin-left: 0;
                    margin-bottom: 20px;

                    &:nth-child(2n) {
                        margin-left: 20px;
                    }

                    &:nth-child(5) {
                        margin-left: 0;
                    }
                }
            }

            @media (max-width: 450px) {
                .award {
                    margin-bottom: 15px;

                    &:nth-child(2n) {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

body.fr-FR {
    
}

body.de-DE {
    #awards-section.ver-202010 {
        #awards-section-text {
            p {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
}