// main: ../swisstomato2.less

.awards-2022feb-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;

  & > .st-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    max-width: 838px;
    padding-top: 110px;
    padding-bottom: 110px;
    // min-height: 770px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: relative;

    h2 {
      color: #ffffff;
      font-family: Rubik;
      font-size: 33px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 39px;
      text-align: center;
      margin: 0 0 17px;
    }

    h2 + p {
      color: #ffffff;
      font-family: Rubik;
      font-size: 27px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 39px;
      text-align: center;
      margin: 0 auto;
      max-width: 486px;
    }

    .awards {
      margin-top: 50px;
      background: linear-gradient(
        213.72deg,
        rgba(242, 0, 12, 0.86) 0%,
        rgba(255, 116, 116, 0.86) 100%
      );
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 14px;

      .award {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 186px auto;
        position: relative;
        // top: -22px;

        picture {
          justify-self: center;
          align-self: center;
        }

        ul.award__list {
          list-style-type: none;
          padding-left: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          li {
            padding: 2px 5px;
            color: #ffffff;
            font-family: Rubik;
            font-size: 15.23px;
            letter-spacing: 0;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;

            & + li {
              margin-top: 5px;
            }

            strong {
              font-weight: 500;
            }
          }
        }

        p.award__text {
          color: #ffffff;
          font-family: Rubik;
          font-size: 15.2px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 18px;
          text-align: center;
          margin: 0;
        }

        &:last-child {
          picture {
            position: relative;
            top: -30px;
          }
        }
      }

      &:not(.no-scroll) {
        .award {
          transform: translateX(100px);
          opacity: 0;
          transition-duration: 400ms;

          &:nth-child(2) {
            transform: translateX(200px);
            transition-delay: 200ms;
          }

          &:nth-child(3) {
            transform: translateX(300px);
            transition-delay: 400ms;
          }
        }

        &.scrolled-to {
          .award {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }

    @media (max-width: 641px) {
      .awards {
        .award {
          grid-template-rows: 160px auto;
          grid-column-gap: 30px;

          picture {
            max-width: 70%;
            max-height: 100%;
          }

          ul.award__list {
            li {
              font-size: 13px;
              letter-spacing: 0;
              line-height: 16px;
            }
          }

          &:last-child {
            picture {
              top: -17px;
            }
          }
        }
      }
    }

    @media (max-width: 590px) {
      padding: 80px 0 0;
      justify-content: space-between;

      h2 {
        // margin-bottom: -40px;
      }

      p {
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 30px;
      }

      .awards {
        padding: 25px 0;
        grid-template-columns: unset;
        display: block;
        margin-top: 40px;

        .award {
          top: 0;
          grid-template-rows: unset;
          grid-auto-flow: column;
          grid-template-columns: 1fr 1.5fr;

          picture {
            justify-self: flex-end;
          }

          ul.award__list {
            li {
              font-size: 15px;
              line-height: 18px;
            }
          }

          & + .award {
            margin-top: 20px;
          }

          &:last-child {
            picture {
              top: 0;
              position: static;
            }
          }
        }
      }
    }

    @media (max-width: 470px) {
      padding-top: 60px;

      h2 {
        // margin-bottom: -60px;
      }

      .awards {
        padding: 30px 10px 30px 10px;
        margin-top: 50px;

        .award {
          grid-column-gap: 10px;

          picture {
            justify-self: center;
          }

          ul.award__list {
            justify-content: center;

            li {
              font-size: 13px;
              letter-spacing: 0;
              line-height: 16px;
            }
          }

          &:nth-child(2) {
            picture {
              max-width: 100%;
            }
          }

          &:nth-child(3) {
            picture {
              transform: scale(1.2) translateX(0.7%);
            }
          }
        }
      }
    }

    @media (max-width: 395px) {
      .container {
        .awards {
          .award {
          }
        }
      }
    }
  }
}

body.fr-FR {
  .awards-2022feb-section {
    .awards {
      .award {
        .award__text {
          font-size: 13px;
        }
      }
    }
  }
}
