// main: ../swisstomato2.less

#clients-section {
  margin-top: 63px;
  margin-bottom: 60px;

  &.container {
    max-width: none;
  }

  h2 {
    color: #f2000c;
    font-family: "Rubik";
    font-size: 33px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;
  }

  #clients-text {
    p {
      color: #342f2f;
      font-family: "Rubik";
      font-size: 27px;
      font-weight: 300;
      line-height: 39px;
      text-align: center;
      margin: 15px 0 40px;
      .center(640px);
    }

    @media (max-width: 550px) {
      p {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .client-list {
    margin: 50px auto;
    .center(980px);
    .flex-space-between();
    justify-content: center;

    .client {
      width: 20%;
      text-align: center;
      margin-bottom: 45px;

      img {
        max-width: 120px;
        max-height: auto;
      }

      @media (max-width: 850px) {
        width: 31%;
      }

      @media (max-width: 600px) {
        width: 47%;
      }

      &[title="CHUV"] {
        img {
          max-width: 105px;
        }
      }

      .transition-delay-loop(30);
    }

    &:not(.no-scroll) {
      .client {
        opacity: 0;
        transform: scale(0.6);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;
      }

      &.scrolled-to {
        .client {
          opacity: 1;
          transform: translateZ(0) scale(1);
        }
      }
    }
  }

  #clients-reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -58px;

    picture {
      // margin-top: -58px;
      // margin-bottom: -15px;
      position: relative;

      &:before {
        content: "*";
        color: #f2000c;
        font-family: Rubik;
        font-size: 33px;
        letter-spacing: 0;
        line-height: 39px;
        text-align: center;
        position: absolute;
        top: 21px;
        left: 0;
      }
    }

    a {
      color: #f2000c;
      font-family: Rubik;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
      margin-top: -15px;
      z-index: 1;
    }
  }
}
