// main: ../swisstomato2.less

.foe-img-transition-delay-loop(@counter) when (@counter > 0) {
  .foe-img-transition-delay-loop((@counter - 1));

  &:nth-child(@{counter}) {
    .img-wrapper {
      transition-delay: (100ms * @counter);
    }
  }
}

#fields-of-exp-section {
  background-color: rgba(255, 218, 215, 0.25);
  padding: 60px @defaultPadding;

  h2 {
    color: #342f2f;
    font-family: "Rubik";
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
  }

  p {
    .center(580px);
    text-align: center;
  }

  .field-of-exp-list {
    .center(910px);
    .flex-space-between();
    margin-top: 55px;

    .field {
      background-color: rgba(242, 0, 12, 0.06);
      padding: 17px 5px 5px;
      width: 24%;
      height: 134px;
      margin-bottom: 12px;

      .img-wrapper {
        .center(53px);
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 7px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      p {
        font-weight: bold;
        margin: 0 0 10px 0;
        .center(175px);
        color: #303030;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .foe-img-transition-delay-loop(8);
    }

    &:not(.no-scroll) {
      .field .img-wrapper {
        opacity: 0;
        transform: scale(0.6);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;
      }

      &.scrolled-to {
        .field .img-wrapper {
          opacity: 1;
          transform: translateZ(0) scale(1);
        }
      }
    }

    @media (min-width: 501px) and (max-width: 780px) {
      .field {
        width: 32%;
      }

      &::after {
        content: "";
        width: 32%;
      }
    }

    @media (min-width: 671px) {
      .field {
        &:nth-child(6) {
          p {
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
    }

    @media (max-width: 670px) {
      .field {
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    @media (max-width: 500px) {
      .field {
        width: 48.5%;
      }
    }

    @media (max-width: 420px) {
      .field {
        width: 48%;
      }
    }

    @media (max-width: 385px) {
      .field {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

body.fr-FR {
  #fields-of-exp-section {
    .field-of-exp-list {
      .field {
        p {
          font-size: 16px;
          line-height: 19px;
        }

        @media (min-width: 631px) {
          &:nth-child(6) {
            p {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }

        @media (min-width: 481px) and (max-width: 630px) {
          &:nth-child(6),
          &:nth-child(8) {
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }

        @media (max-width: 480px) {
          &:nth-child(2),
          &:nth-child(6),
          &:nth-child(8) {
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

body.de-DE {
  #fields-of-exp-section {
    .field-of-exp-list {
      .field {
        @media (max-width: 480px) {
          &:nth-child(6) {
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
