// main: ../swisstomato2.less

.icon-text-list-section {
  background-color: #f8f8f8;

  .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .icon-text-list {
    .center(821px);
    .flex-space-between();
    align-items: flex-start;
    justify-content: space-between;

    .icon-text-item {
      width: 40.5%;
      margin: 42px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .icon-text-item-icon {
        margin-bottom: 15px;
        height: 105px;
        display: flex;
        align-items: center;
      }

      p.icon-text-item-title {
        color: #110f24;
        font-family: Rubik;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 29px;
        margin: 0;
      }

      &:nth-child(1) {
        .icon-text-item-icon {
          transition-delay: 100ms;
        }
      }

      &:nth-child(2) {
        .icon-text-item-icon {
          transition-delay: 200ms;
        }
      }

      &:nth-child(3) {
        .icon-text-item-icon {
          transition-delay: 300ms;
        }
      }

      &:nth-child(4) {
        .icon-text-item-icon {
          transition-delay: 400ms;
        }
      }
    }

    &:not(.no-scroll) {
      .icon-text-item .icon-text-item-icon {
        opacity: 0;
        transform: scale(0.6);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;
      }

      &.scrolled-to {
        .icon-text-item .icon-text-item-icon {
          opacity: 1;
          transform: translateZ(0) scale(1);
        }
      }
    }
  }

  @media (max-width: 840px) {
    .container {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .icon-text-list {
      .icon-text-item {
        width: 44%;
        margin-top: 20px;
        margin-bottom: 20px;

        p.icon-text-item-title {
          font-size: 22px;
          line-height: 27px;
        }
      }
    }
  }

  @media (max-width: 630px) {
    .icon-text-list {
      .icon-text-item {
        width: 47%;

        p.icon-text-item-title {
          font-size: 20px;
          line-height: 25px;
          word-break: break-word;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .icon-text-list {
      .icon-text-item {
        width: 45%;

        .icon-text-item-icon {
          height: 65px;
          margin-bottom: 10px;

          picture {
            img {
              max-height: 65px;
              width: auto;
            }
          }
        }

        p.icon-text-item-title {
          font-size: 17px;
          line-height: 24px;
        }
      }
    }
  }

  @media (max-width: 420px) {
    .icon-text-list {
      .icon-text-item {
        width: 47%;

        p.icon-text-item-title {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

body.de-DE {
  .icon-text-list-section {
    .icon-text-list {
      .icon-text-item {
        p.icon-text-item-title {
          @media (min-width: 841px) {
            font-size: 24px;
          }

          @media (max-width: 470px) {
            font-size: 15px;
            line-height: 21px;
          }

          @media (max-width: 410px) {
            font-size: 14px;
            line-height: 20px;
          }

          @media (max-width: 386px) {
            font-size: 13px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
