// main: ../swisstomato2.less

#intro-text-awards {
  .flex-space-between();

  #intro-title-and-text {
    max-width: 608px;

    h1 {
      text-align: left;
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 20px;

      @media (max-width: @mobileMaxWidth) {
        text-align: center;
      }
    }

    #intro-text {
      max-width: 560px;
      font-size: 18px;
      line-height: 27px;
    }
  }

  img {
    width: 348px;
  }

  @media (max-width: @mobileMaxWidth) {
    display: block;

    #intro-title-and-text {
      max-width: none;
      text-align: center;
      .center(600px);
      margin-bottom: 20px;

      #intro-text {
        max-width: none;
      }
    }

    img {
      .center(348px);
      margin: 30px auto;
    }
  }
}

#intro-text-awards-2022 {
  .flex-space-between();

  #intro-title-and-text {
    max-width: 664px;
    width: 60%;

    h1 {
      color: #f2000c;
      font-family: Rubik;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: -1.02px;
      line-height: 56px;

      @media (max-width: @mobileMaxWidth) {
        text-align: center;
      }
    }

    #intro-text {
      max-width: 560px;
      font-size: 18px;
      line-height: 27px;

      p {
        color: #1c1c1c;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 35.24px;
      }
    }
  }

  picture {
    max-width: 348px;
    width: 35%;
  }

  @media (min-width: 910px) and (max-width: 1030px) {
    #intro-title-and-text {
      width: 52%;

      h1 {
        font-size: 40px;
        line-height: 47px;
      }

      #intro-text {
        p {
          font-size: 24px;
          line-height: 31px;
        }
      }
    }

    picture {
      width: 45%;
    }
  }

  @media (max-width: @mobileMaxWidth) {
    display: block;

    #intro-title-and-text {
      max-width: none;
      text-align: center;
      .center(710px);
      margin-bottom: 20px;

      #intro-text {
        max-width: none;
      }
    }

    picture {
      .center(410px);
      margin: 30px auto;
      text-align: center;
    }
  }

  @media (max-width: 680px) {
    #intro-title-and-text {
      h1 {
        font-size: 44px;
        line-height: 52px;
      }

      #intro-text {
        p {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    margin-top: 30px;

    #intro-title-and-text {
      h1 {
        font-size: 34px;
        line-height: 44px;
      }

      #intro-text {
        p {
          font-size: 20px;
          line-height: 30px;

          br {
            display: none;
          }
        }
      }
    }
  }
}

// body.fr-FR {
//   #intro-text-awards-2022 {
//     #intro-title-and-text {
//       max-width: 574px;

//       h1 {
//         font-size: 44px;
//         line-height: 53px;
//       }

//       #intro-text {
//         p {
//           font-size: 20px;
//           line-height: 32px;
//         }
//       }
//     }
//   }
// }

// body.de-DE {
//   #intro-text-awards-2022 {
//     #intro-title-and-text {
//       max-width: 614px;
      
//       h1 {
//         font-size: 44px;
//         line-height: 53px;
//       }

//       #intro-text {
//         p {
//           font-size: 20px;
//           line-height: 32px;
//         }
//       }

//       & + picture {
//         img {
//           // max-width: 350px;
//           // width: 100%;
//         }
//       }

//       @media (max-width: 910px) {
//         h1 {
//           font-size: 42px;
//           line-height: 53px;
//         }

//         #intro-text {
//           max-width: 560px;
//         }
//       }

//       @media (max-width: 680px) {
//         h1 {
//           font-size: 44px;
//           line-height: 52px;
//         }

//         #intro-text {
//           p {
//             font-size: 22px;
//             line-height: 34px;
//           }
//         }
//       }

//       @media (max-width: 500px) {
//         h1 {
//           font-size: 38px;
//           line-height: 48px;
//         }

//         #intro-text {
//           p {
//             font-size: 22px;
//             line-height: 34px;
//           }
//         }
//       }
//     }
//   }
// }
