// main: ../swisstomato2.less

.our-story-section {
  background-color: #e4e6ea;
  // margin-top: -130px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .big-red-strip-wrapper {
    width: 60%;
    // height: 50px;
    align-self: flex-end;

    .big-red-strip {
      background-color: #f2000c;
      width: 100%;
    }
  }

  .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1435px;

    .our-story-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      // top: 300px;
      width: 45%;
      padding-bottom: 30px;

      img.mobile-image {
        display: none;
      }

      h2 {
        color: #f2000c;
        font-family: Rubik;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: -1.02px;
        line-height: 56px;
        margin: 0;
        max-width: 450px;

        @media (max-width: 768px) {
          opacity: 1;
        }
      }

      p {
        color: #1c1c1c;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 35.24px;
        margin-top: 10px;
        max-width: 450px;

        &:first-child {
          margin: 0;
        }
      }
    }

    .our-story-image {
      position: relative;
      z-index: 3;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      // height: 39vw;
      // max-height: 560px;
      width: 700px;
      height: 550px;
      align-self: self-end;

      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }

      .founder-text-box {
        background-color: #464041;
        padding: 15px 13px;
        position: absolute;
        max-width: 200px;

        header {
          color: #ffffff;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 22px;
          margin-bottom: 3px;
        }

        p {
          margin: 0;
          opacity: 0.7;
          color: #ffffff;
          font-family: Rubik;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px;
        }

        &:first-of-type {
          left: 40px;
          bottom: 30px;
        }

        &:last-of-type {
          left: 360px;
          bottom: 60px;
        }
      }
    }
  }

  &:not(.no-scroll) {
    .big-red-strip-wrapper {
      .big-red-strip {
        height: 160px;
        transition: height 400ms;
      }
    }

    .container {
      .our-story-content {
        transition: 500ms cubic-bezier(0.65, 0, 0.35, 1);
        top: 100px;
      }
    }

    &.scrolled-to {
      .big-red-strip-wrapper {
        .big-red-strip {
          height: 0;
        }
      }

      .container {
        .our-story-content {
          top: 0;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .container {
      .our-story-image {
        width: 49%;
        height: 36vw;
      }
    }
  }

  @media (max-width: 1220px) {
    .container {
      .our-story-image {
        .founder-text-box {
          &:last-of-type {
            left: unset;
            right: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .container {
      .our-story-content {
        h2 {
          font-size: 42px;
          line-height: 51px;
        }

        p {
          font-size: 22px;
          line-height: 34px;
        }
      }

      .our-story-image {
        .founder-text-box {
          max-width: 170px;

          header {
            font-size: 14px;
            line-height: 20px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 980px) {
    .container {
      .our-story-content {
        padding-right: 30px;
        // padding-top: 30px;

        h2 {
          font-size: 28px;
          line-height: 36px;
        }

        p {
          font-size: 18px;
          line-height: 28px;
        }
      }

      .our-story-image {
        width: 54%;

        .founder-text-box {
          max-width: 150px;
          background-color: rgba(70, 64, 65, 0.8);

          &:first-of-type {
            left: 20px;
          }

          &:last-of-type {
            right: 20px;
          }
        }
      }
    }
  }

  // @media (max-width: 850px) {
  //   .container {
  //     .our-story-content {
  //       h2 {
  //         font-size: 28px;
  //         line-height: 36px;
  //       }

  //       p {
  //         font-size: 18px;
  //         line-height: 28px;
  //       }
  //     }

  //     .our-story-image {
  //       .founder-text-box {
  //         max-width: 150px;
  //         background-color: rgba(70, 64, 65, 0.8);

  //         &:first-of-type {
  //           left: 20px;
  //         }

  //         &:last-of-type {
  //           right: 20px;
  //         }
  //       }
  //     }
  //   }
  // }

  @media (max-width: 850px) {
    padding-top: 0;
    
    .big-red-strip-wrapper {
      display: none;
    }

    .container {
      flex-direction: column;
      padding: 0;
      margin-top: 0;

      .our-story-content {
        padding: 70px 25px 45px;
        top: 0;
        width: 100%;
        align-items: flex-start;

        h2 {
          font-size: 37px;
          line-height: 47px;
          max-width: 100%;
        }

        p {
          font-size: 22px;
          line-height: 33px;
          max-width: 100%;
        }
      }

      .our-story-image {
        height: 80vw;
        max-height: 505px;
        background-position: top;
        width: 100%;
        max-width: 719px;
        align-self: center;
        text-align: center;
        
        img {
          height: 100%;
          width: auto;
          object-fit: cover;
          vertical-align: bottom;
        }

        .founder-text-box {
          background-color: #464041;
          max-width: 200px;

          header {
            font-size: 16px;
            line-height: 22px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
          }

          &:first-of-type {
            left: 40px;
            bottom: 30px;
          }

          &:last-of-type {
            left: 360px;
            bottom: 60px;
          }
        }
      }
    }
  }

  @media (max-width: 610px) {
    .container {
      .our-story-image {
        .founder-text-box {
          &:last-of-type {
            left: unset;
            right: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .container {
      .our-story-image {
        .founder-text-box {
          max-width: 170px;

          header {
            font-size: 14px;
            line-height: 20px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .container {
      .our-story-image {
        .founder-text-box {
          background-color: rgba(70, 64, 65, 0.8);

          &:first-of-type {
            left: 20px;
            bottom: 20px;
          }

          &:last-of-type {
            right: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 410px) {
    .container {
      .our-story-image {
        .founder-text-box {
          max-width: 150px;
        }
      }
    }
  }

  &.no-scroll {
    .big-red-strip-wrapper {
      // display: none;
    }

    .container {
      .our-story-content {
        top: 0;
      }
    }
  }
}

body.de-DE {
  .our-story-section {
    .container {
      .our-story-content {
        h2 {
          font-size: 44px;
          line-height: 51px;
        }

        p {
          font-size: 21px;
          line-height: 32px;
        }
      }

      @media (max-width: 980px) {
        .our-story-content {
          .h2 {
            font-size: 34px;
            line-height: 42px;
          }

          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }

      @media (max-width: 850px) {
        .our-story-content {
          h2 {
            font-size: 28px;
            line-height: 36px;
          }

          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

      @media (max-width: 756px) {
        .our-story-content {
          h2 {
            font-size: 40px;
            line-height: 52px;
          }

          p {
            font-size: 24px;
            line-height: 35px;
          }
        }
      }

      @media (max-width: 500px) {
        .our-story-content {
          h2 {
            font-size: 36px;
            line-height: 46px;
          }

          p {
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
