// main: ../swisstomato2.less

#process-timing-section {
  padding-top: 75px;
  padding-bottom: 75px;

  h2 {
    color: #303030;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin: 0 0 18px 0;
  }

  #process-timing-text {
    .center(768px);

    p {
      color: #303030;
      font-family: "Rubik";
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }
  }

  #process-timing-step-list {
    .center(1167px);
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;

    .process-timing-step {
      border-right: 1px solid @red;
      flex-basis: 0;
      flex-grow: 1;
      border-bottom: 11px solid rgba(242, 0, 12, 0.32);

      .step-red-bc {
        border-left: 10px solid white;
        border-bottom: 1px solid rgba(242, 0, 12, 0.06);
        background-color: rgba(242, 0, 12, 0.06);
        padding: 27px 15px 12px 18px;
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
      }

      .step-number {
        color: @red;
        font-family: "Rubik";
        font-size: 55px;
        font-weight: 300;
        line-height: 27px;
      }

      .step-title {
        margin-top: 21px;
        font-weight: 500;
        color: #303030;
        font-family: "Rubik";
        font-size: 18px;
        line-height: 27px;
        max-width: 230px;
      }

      p {
        color: #303030;
        font-family: "Rubik";
        font-size: 18px;
        line-height: 27px;
        margin-top: 0;
        max-width: 230px;
      }

      .step-timing-on-mobile {
        display: none;
      }

      .step-timing {
        display: flex;
        justify-content: right;
        align-items: flex-end;
        color: @red;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: right;
      }

      &:first-child {
        .step-red-bc {
          border-left: none;
        }
      }

      .transition-delay-loop(4);
    }

    @media (max-width: 880px) {
      flex-wrap: wrap;

      .process-timing-step {
        width: 50%;
        flex-basis: auto;
        border-left: none;
        border-right: none;
        border-bottom-width: 3px;

        .step-red-bc {
          border-left: 0;
          position: relative;
          padding-bottom: 45px;

          .step-timing-on-mobile {
            display: block;
            color: @red;
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            position: absolute;
            bottom: 10px;
          }
        }

        &:nth-child(2n) {
          border-left: 3px solid rgba(242, 0, 12, 0.32);
        }
      }
    }

    @media (max-width: 460px) {
      flex-direction: column;
      align-items: stretch;
      margin-top: 40px;

      .process-timing-step {
        width: 100%;
        border-left: none;
        border-bottom: 3px solid rgba(242, 0, 12, 0.32);
        text-align: center;

        .step-red-bc {
          padding-bottom: 20px;

          .step-title {
            max-width: none;
          }

          p {
            max-width: none;
          }

          .step-timing-on-mobile {
            width: 100%;
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: static;
            margin-top: 20px;
          }
        }

        &:nth-child(2n) {
          border-left: none;
        }
      }
    }

    &:not(.no-scroll) {
      .process-timing-step {
        transform: translateY(100px);
        opacity: 0;
        transition-duration: 200ms;
      }

      &.scrolled-to {
        .process-timing-step {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  #process-timing-step-list-weeks {
    .center(1167px);
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;

    .process-timing-step-week {
      border-right: 1px solid @red;
      flex-basis: 0;
      flex-grow: 1;
      color: @red;
      font-family: "Rubik";
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: right;
      padding-top: 20px;
      padding-right: 8px;
    }

    @media (max-width: 880px) {
      display: none;
    }
  }

  @media (max-width: 500px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
