// main: ../swisstomato2.less

.masonry-reference-list-section {
  margin: 80px 0;

  .container {
    max-width: 1248px;

    h2 {
      color: #f2000c;
      font-family: Rubik;
      font-size: 33px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 39px;
      text-align: center;
      margin: 0 0 60px;
    }

    .masonry-reference-list {
      position: relative;
      margin-bottom: 70px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 20px;
      opacity: 0;
      transition: 100ms opacity;

      .reference {
        position: relative;
        margin: 0;
        cursor: pointer;
        transition: 200ms all;
        opacity: 0;
        transform: translateY(50px);

        .reference__image-wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
            transition: 400ms all;
          }
        }

        .reference__content {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          padding: 35px 32px;

          h3 {
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 28px;
            margin: 0 0 4px;
          }

          p {
            opacity: 0.7;
            color: #ffffff;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 22px;
            // max-height: calc(2 * 22px);
            // overflow: hidden;
            margin-top: 3px;
          }

          .reference__content__category {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 1px 5px;
            color: rgba(255, 255, 255, 0.7);
            font-family: Rubik;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            display: inline-block;
            text-transform: uppercase;
          }
        }

        &.black-layer {
          .reference__content {
            background: linear-gradient(
              180deg,
              rgba(40, 38, 57, 0.8) 0%,
              rgba(40, 38, 57, 0) 50%
            );
          }
        }

        &.scrolled-to,
        &.no-scroll {
          opacity: 1;
          transform: translateY(0);
        }

        &:hover {
          .reference__image-wrapper {
            img {
              transform: scale(1.05);
            }
          }
        }

        &:nth-child(2n + 1) {
          grid-column-start: 1;
        }

        &:nth-child(2n) {
          grid-column-start: 2;
        }

        // REBO image quick fix
        &[data-id='85108'], &[data-id='86417'], &[data-id='85920'] {
          &:not(:hover) {
            .reference__image-wrapper {
              img {
                transform: scale(1.03);
              }
            }
          }
        }
      }
    }

    .more-references {
      &:not(.no-scroll) {
        opacity: 0;
        transform: translateY(50px);
        transition-property: transform, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        &.scrolled-to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    @media (min-width: 651px) and (max-width: 990px) {
      .masonry-reference-list {
        .reference {
          &.mobile-black-layer {
            .reference__content {
              background: linear-gradient(180deg, rgba(40,38,57,0.8) 0%, rgba(40,38,57,0) 80%);
            }
          }
        }
      }
    }

    @media (min-width: 651px) and (max-width: 800px) {
      .masonry-reference-list {
        .reference {
          .reference__content {
            h3 {
              font-size: 20px;
              line-height: 24px;
            }

            p {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }

    @media (max-width: 650px) {
      h2 {
        padding-left: 25px;
        padding-right: 25px;
      }

      .masonry-reference-list {
        display: block;
        max-width: 624px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 30px;

    .container {
      .masonry-reference-list {
        margin-bottom: 0;

        .reference {
          .reference__content {
            padding: 30px;

            h3 {
              text-shadow: 0 0 2px black;
            }

            p {
              text-shadow: 0 0 2px black;
            }
          }
        }
      }

      .more-references {
        margin-top: 30px;
      }
    }
  }

  @media (max-width: 500px) {
    .container {
      .masonry-reference-list {
        .reference {
          &.mobile-black-layer {
            .reference__content {
              background: linear-gradient(
                180deg,
                rgba(40, 38, 57, 0.8) 0%,
                rgba(40, 38, 57, 0) 80%
              );
            }
          }
        }
      }
    }
  }

  @media (max-width: 380px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
