// main: ../swisstomato2.less

#services-section {
  margin-top: 60px;
  max-width: 1248px;

  #services {
    display: flex;
    justify-content: space-between;

    .service {
      width: 33.333334%;
      position: relative;

      .service-image {
        height: 362px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .service-title {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 60px;
        padding-right: 60px;
        .font-full("Rubik", 25px, 29px, 500, white);
      }

      .service-cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 39px 56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        transition: all 400ms;
        background-color: transparent;

        &:before {
          content: "";
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: @buttonHoverRed;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }

        .service-text {
          .font-full("Rubik", 16px, 25px, 400, white);
          position: relative;
          z-index: 1;
        }

        .button-white {
          width: 100%;
          padding: 15px;
          display: flex;
          align-items: center;
          text-align: left;
        }
      }

      &:nth-child(1) {
        .service-title {
          background-color: @lightestRed;
        }

        .service-cover {
          &:before {
            background-color: @lightestRed;
          }
        }
      }

      &:nth-child(2) {
        .service-title {
          background-color: @lighterRed;
        }

        .service-cover {
          &:before {
            background-color: @lighterRed;
          }
        }
      }

      &:nth-child(3) {
        .service-title {
          background-color: @red;
        }

        .service-cover {
          &:before {
            background-color: @red;
          }
        }
      }
    }
  }

  @media (min-width: 1151px) and (max-width: 1259px) {
    #services {
      .service {
        .service-cover {
          .service-text {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1151px) {
    #services {
      .service {
        &:hover {
          .service-cover {
            opacity: 1;

            &:before {
              transform: scaleY(1);
              -webkit-transform: scaleY(1);
            }
          }
        }
      }
    }
  }

  @media (max-width: 1151px) {
    #services {
      .service {
        position: relative;

        .service-title {
          padding: 0 30px !important;

          & + .service-cover {
            padding-top: 0 !important;
          }
        }

        .service-cover {
          position: static;
          opacity: 1;
          height: auto;
          padding-top: 20px;

          .button-white {
            width: 100%;
            margin-top: 20px;
          }
        }

        &:nth-child(1) {
          background-color: #f7666d;
        }

        &:nth-child(2) {
          background-color: #f54c54;
        }

        &:nth-child(3) {
          background-color: @red;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    #services {
      .service {
        .service-title {
          padding: 0 30px;
        }

        .service-cover {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }

  @media (max-width: 710px) {
    #services {
      flex-wrap: wrap;

      .service {
        width: 50%;
      }
    }

    &.odd {
      #services {
        justify-content: center;

        .service {
          &:last-child {
            width: 70%;
            margin: 20px 0 40px;
          }
        }
      }
    }
  }

  @media (min-width: 451px) and (max-width: 550px) {
    #services {
      .service {
        .service-title {
          font-size: 19px;
          line-height: 24px;
          padding: 0 25px !important;
          height: 80px;
        }

        .service-text {
          font-size: 15px !important;
          line-height: 22px !important;
        }

        .service-image {
          height: 272px;
        }

        .service-cover {
          padding-left: 25px !important;
          padding-right: 25px !important;
        }
      }
    }
  }

  @media (max-width: 450px) {
    // background-color: #f8f8f8;
    margin-top: 40px;
    margin-bottom: 50px;

    #services {
      flex-direction: column;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;

      .service {
        width: 100%;
        margin-bottom: 30px;

        .service-title {
          br {
            display: none;
          }
        }
      }
    }

    &.odd {
      #services {
        .service {
          &:last-child {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 430px) {
    content-visibility: auto;
    contain-intrinsic-size: 3900px;
  }

  &.no-cover {
    #services {
      .service {
        .service-image {
          height: 362px;
        }
      }
    }

    @media (max-width: 1000px) {
      #services {
        .service {
          .service-image {
            height: 262px;
          }
        }
      }
    }
  }
}

#services-section-2022 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  width: 100%;
  max-width: 1242px;
  //margin: 60px auto -35px;
  margin: 20px auto -35px;
  position: relative;
  z-index: @ZINDEX_TEXT_2;

  .service {
    position: relative;

    .service__image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .service__content {
      position: absolute;
      width: 203px;
      top: 32px;
      left: 31px;

      h2.service__title {
        background-color: #f2000c;
        padding: 9px 15px;
        color: #ffffff;
        font-family: Rubik;
        font-size: 27.72px;
        font-weight: 500;
        letter-spacing: -0.57px;
        line-height: 32.76px;
        margin: 0;
      }

      .service__text {
        opacity: 0.75;
        color: #ffffff;
        font-family: Rubik;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;
        margin: 12px 0 0;
        max-width: 190px;
      }
    }
  }

  @media (max-width: 850px) {
    .service {
      .service__content {
        width: 183px;
        top: 26px;
        left: 26px;

        h2.service__title {
          font-size: 22.72px;
          line-height: 25.76px;
        }

        .service__text {
          font-size: 15px;
          line-height: 24px;
        }
      }
    }
  }

  @media (min-width: 661px) and (max-width: 730px) {
    .service {
      .service__content {
        width: 163px;

        h2.service__title {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  @media (max-width: 660px) {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: unset;
    column-gap: unset;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 90px;
    row-gap: 40px;

    .service {
      max-width: 300px;

      .service__content {
        width: 203px;

        h2.service__title {
          font-size: 25.72px;
          line-height: 30.76px;
        }

        .service__text {
          max-width: 170px;
          text-shadow: 1px 1px 3px black;
        }
      }
    }
  }

  &:not(.no-scroll) {
    .service {
      transform: translateY(100px);
      opacity: 0;
      transition-duration: 400ms;

      &:nth-child(2) {
        transform: translateY(200px);
        transition-delay: 200ms;
      }

      &:nth-child(3) {
        transform: translateY(300px);
        transition-delay: 400ms;
      }
    }

    &.scrolled-to {
      .service {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

body:not(.home) {
  #services-section #services .service h2.service__title {
    display: flex;
    align-items: center;
  }
}

body.fr-FR {
  #services-section {
    #services {
      .service {
        h2.service__title {
          @media (min-width: 1200px) {
            font-size: 23px;
            line-height: 27px;
          }
        }
      }
    }
  }

  #services-section-2022 {
    .service {
      .service__content {
        width: 237px;
      }
    }

    @media (max-width: 950px) {
      .service {
        .service__content {
          top: 22px;
          left: 20px;
        }
      }
    }

    @media (min-width: 661px) and (max-width: 850px) {
      .service {
        .service__content {
          width: 178px;

          h2.service__title {
            font-size: 20px;
            line-height: 27px;
          }
        }
      }
    }
  }
}

body.de-DE {
  #services-section {
    #services {
      .service {
        h2.service__title {
          @media (min-width: 1200px) {
            font-size: 22px;
            line-height: 27px;
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }
    }
  }
}
