// main: ../swisstomato2.less

#why-us-section {
  .center(1920px);
  .flex-space-between();
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: stretch;

  #why-us-title-wrapper {
    width: 40%;
    min-width: 420px;
    .bc-img-center();
    background-repeat: repeat;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    position: relative;

    picture {
      width: 100%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: scale(1.2);
        transition: 2s all;
      }
    }

    h2 {
      font-family: "Rubik";
      font-size: 33px;
      line-height: 39px;
      font-weight: 600;
      position: absolute;
      color: white;
      width: 80%;
      max-width: 280px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      margin-right: 79px;
      text-align: left;
    }
  }

  #why-us-reasons {
    width: 60%;
    padding: 80px 65px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: @red;
    color: white;

    .why-us-reason {
      width: 242px;
      margin: 50px 60px 0;

      h3 {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 25px;
        font-weight: 500;
        line-height: 29px;
        margin: -33px 0 9px 0;
      }

      .reason-text {
        p {
          color: rgba(255, 255, 255, 0.75);
          font-family: "Rubik";
          font-size: 16px;
          line-height: 25px;
        }
      }

      &:first-child {
        h3 {
          margin-top: -44px;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  &.scrolled-to {
    #why-us-title-wrapper {
      picture {
        img {
          transform: none;
        }
      }
    }
  }

  @media (max-width: 1445px) {
    #why-us-reasons {
      padding: 50px 70px;
      justify-content: space-around;

      .why-us-reason {
        margin: 30px;
      }
    }
  }

  @media (max-width: 1265px) {
    #why-us-reasons {
      .why-us-reason {
        width: 33%;
      }
    }
  }

  @media (max-width: 1220px) {
    #why-us-title-wrapper {
      justify-content: center;

      h2.first {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 1100px) {
    #why-us-reasons {
      padding: 30px 25px;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;

    #why-us-title-wrapper {
      width: 100%;
      min-width: auto;
      height: 155px;

      img {
        height: 155px;
      }

      h2 {
        text-align: center;
        max-width: none;
        justify-content: center;
      }
    }

    #why-us-reasons {
      width: 100%;
      padding: 40px;

      .why-us-reason {
        width: 42%;
        margin: 0;
      }
    }
  }

  @media (max-width: 600px) {
    #why-us-reasons {
      .why-us-reason {
        padding: 2%;
      }
    }
  }

  @media (max-width: 500px) {
    #why-us-title-wrapper {
      h2 {
        justify-content: flex-start;
        max-width: none;
        width: 100%;
        padding: 0 25px;
      }
    }

    #why-us-reasons {
      padding: 40px 25px;
      flex-direction: column;

      .why-us-reason {
        width: 100%;
        padding: 0;

        & + .why-us-reason {
          margin-top: 20px;
        }
      }
    }
  }
}

#our-story-section {
  .center(1920px);
  .flex-space-between();
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: stretch;

  #our-story-column {
    width: 40%;
    min-width: 420px;
    background-color: #171719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 100px 79px;

    h2 {
      width: 100%;
      max-width: 280px;
      font-family: "Rubik";
      font-size: 33px;
      line-height: 39px;
      color: #f2000c;
      font-weight: 600;
      text-align: left;
    }

    #our-story-text {
      max-width: 280px;

      p {
        color: #ffffff;
        font-family: "Rubik";
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }

  #founders-column {
    width: 60%;
    background-color: #f8f8f8;

    #founders-image-wrapper {
      text-align: center;
      background-color: #dfe1e5;
      max-height: 517px;
      display: flex;

      picture {
        img {
          margin-bottom: -6px;
        }
      }
    }

    #founders-list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 50px 130px;

      .founder {
        width: 44%;
        max-width: 313px;

        h3 {
          margin: 0 0 4px;
          .font-full("Rubik", 22px, 27px, 600, #171719);
        }

        .founder-title {
          margin: 0 0 13px;
          .font-full("Rubik", 18px, 22px, 400, #171719);
        }

        .founder-text {
          font-size: 16px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.6);
        }

        & + .founder {
          margin-left: 50px;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    #founders-column #founders-list {
      padding: 50px 90px;

      .founder {
        width: 47%;
        max-width: 313px;

        & + .founder {
          margin-left: 30px;
        }
      }
    }
  }

  @media (max-width: 1170px) {
    #founders-column #founders-list {
      padding: 50px 90px;
    }
  }

  @media (max-width: 1070px) {
    #our-story-column {
      padding: 50px;

      h2 {
        margin-top: 0;
      }
    }

    #founders-column #founders-list {
      padding: 50px 60px;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;

    #our-story-column {
      width: 100%;
      padding: 30px;
      min-width: auto;

      h2 {
        max-width: none;
        margin-bottom: 10px;
      }

      #our-story-text {
        max-width: none;
      }
    }

    #founders-column {
      width: 100%;
      background-color: #f8f8f8;

      #founders-image-wrapper {
        justify-content: center;
      }

      #founders-list {
        padding: 30px;
        justify-content: center;

        .founder {
          width: 45%;
        }
      }
    }
  }

  @media (max-width: 700px) {
    #founders-column {
      #founders-list {
        padding: 30px 25px;
        justify-content: space-around;

        .founder {
          & + .founder {
            margin-left: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 430px) {
    #founders-column {
      #founders-list {
        padding: 25px 20px;

        .founder {
          width: 47%;

          h3 {
            font-size: 20px;
            line-height: 25px;
          }

          & + .founder {
            margin-left: 10px;
          }
        }

        .founder-title {
          font-size: 16px;
          line-height: 20px;
        }

        .founder-text {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }

  @media (max-width: 400px) {
    #founders-column {
      #founders-list {
        .founder {
          h3 {
            font-size: 19px;
            line-height: 24px;
          }

          .founder-title {
            font-size: 15px;
            line-height: 19px;
          }

          .founder-text {
            p {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

body.de-DE {
  #why-us-section #why-us-reasons .why-us-reason {
    &:nth-child(4) {
      h3 {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}
