// main: ../swisstomato2.less

#why-section {
    background: #FFE3E4;
    padding-top: 72px;
    overflow: hidden;

    h2 {
        color: #F2000C;
        font-family: Rubik;
        font-size: 32px;
        font-weight: bold;
        line-height: 38px;
        text-align: center;
        margin: 0 auto 30px;
    }

    @media (max-width: 680px) {
        padding-top: 55px;

        h2 {
            margin-bottom: 30px;
            text-align: left;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;

        .why-text-column {
            padding-top: 90px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                color: #F2000C;
                font-family: Rubik;
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 38px;
                margin-bottom: 20px;

                &.handwritten-text {
                    transform: rotate(-2deg);
                    color: #292949;
                    font-family: Market-Regular;
                    font-size: 44px;
                    letter-spacing: 0;
                    line-height: 52px;
                    font-weight: normal;
                    margin-top: 10px;
                }
            }

            .mobile-img {
                display: none;
            }
        }

        .why-img-column {
            img {
                margin-bottom: -8px;
            }
        }

        @media (max-width: 860px) {
            .why-text-column {
                padding-top: 30px;
            }
        }

        @media (max-width: 680px) {
            flex-direction: column;
        }

        @media (min-width: 520px) and (max-width: 680px) {
            .why-text-column {
                p {
                    &.handwritten-text {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    #why-section-pink-bc {
        .container {
            max-width: 1130px;
            
            .why-text-column {
                width: 428px;
                padding-left: 60px;
            }

            .why-img-column {
                width: 539px;

                img {
                    width: 460px;
                }
            }

            @media (max-width: 780px) {
                max-width: 700px;

                .why-text-column {
                    padding-left: 0;
                }
            }

            @media (max-width: 680px) {
                .why-text-column {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 0;
                    margin-bottom: 20px;

                    img {
                        margin: 10px 0 0;
                    }
                }

                .why-img-column {
                    width: 100%;
                    text-align: center;
                }
            }

            @media (max-width: 500px) {
                .why-text-column {
                    img.desktop-img {
                        display: none;
                    }

                    img.mobile-img {
                        display: inline-block;
                    }
                }

                .why-img-column {
                    width: 100%;
                }
            }

            @media (max-width: 460px) {
                .why-text-column {
                    p.handwritten-text {
                        max-width: 300px;
                    }
                }

                .why-img-column {
                    position: relative;

                    img {
                        position: relative;
                        margin-top: -90px;
                        margin-bottom: -8px;
                        left: 30px;
                    }
                }
            }
        }
    }

    #why-section-gray-bc {
        padding-top: 100px;
        padding-bottom: 120px;
        background-color: #F7F1F2;

        .container {
            .why-img-column {
                width: 490px;
                text-align: right;
            }

            .why-text-column {
                width: 514px;
                padding-right: 160px;
            }
        }

        @media (max-width: 1160px) {
            .container {
                .why-img-column {
                    text-align: center;
                    width: 50%;
                }

                .why-text-column {
                    text-align: center;
                    width: 50%;
                    padding-right: 0;

                    p {
                        text-align: left;
                    }
                }
            }
        }

        @media (max-width: 780px) {
            padding-top: 50px;
            padding-bottom: 70px;

            .container {
                display: flex;
                flex-direction: column-reverse;

                .why-img-column {
                    width: 100%;
                    text-align: center;
                }

                .why-text-column {
                    width: 100%;
                    padding-top: 0;
                }
            }
        }

        @media (max-width: 470px) {
            padding-top: 30px;
            padding-bottom: 30px;
            
            .container {
                .why-img-column {
                    margin-top: 10px;

                    img {
                        margin-top: -30px;
                    }
                }
            }
        }
    }

    @media (max-width: 420px) {
        h2 {
            font-size: 30px;
            line-height: 37px;
        }

        .container {
            .why-text-column {
                p {
                    font-size: 30px;
                    line-height: 37px;

                    &.handwritten-text {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}

body.fr-FR {
    #why-section #why-section-pink-bc .container .why-text-column p.handwritten-text {
        @media (max-width: 460px) {
            max-width: 360px;
        }

        @media (max-width: 373px) {
            font-size: 36px;
            line-height: 46px;
        }
    }
}

body.de-DE {
    #why-section #why-section-pink-bc .container {
        @media (max-width: 460px) {
            .why-text-column {
                p.handwritten-text {
                    font-size: 40px;
                    line-height: 48px;
                }       
            }

            .why-img-column {
                img {
                    left: 50px;
                }
            }
        }

        @media (max-width: 380px) {
            .why-text-column {
                p.handwritten-text {
                    font-size: 35px;
                    line-height: 44px;
                }       
            }
        }
    }
}