// main: swisstomato2.less, main: pages/home.less, main: pages/app-dev.css, main: pages/ios-app-dev.css, main: pages/android-app-dev.less, main: pages/unity.less, main: pages/smartwatch.less, main: pages/web-dev.less, main: pages/web-shop-small-mids.less, main: pages/web-dev-smallc.less, main: pages/drupal.less, main: pages/wordpress.less, main: pages/arvr.less, main: pages/webar.less, main: pages/magic-cube.less, main: pages/digital-marketing.less, main: pages/digital-marketing-strategies.less, main: pages/google-adwords.less, main: pages/social-media.less, main: pages/seo-email-marketing.less, main: pages/references.less, main: pages/references.css, main: pages/posts.less, main: pages/post.less, main: pages/swiss-app.less, main: pages/whitepaper.less, main: pages/job.less, main: pages/search-engine.less

@buttonHoverRed: #f88085; //#F88085;
@red: #f2000c;
@lighterRed: #f54c54;
@lightestRed: #f7666d;
@darkerRed: rgb(141, 0, 7);
@textColor: #303030;
@pink: #ffdad7;

@stylesheetUrl: "/wp-content/themes/swisst2";

@defaultPadding: 25px;
@mobileMaxWidth: 910px;

// Z-iNDEXES (intellisense easier that way)
@ZINDEX_POPUP: 1000;
@ZINDEX_MASK: 999;
@ZINDEX_COOKIE: 950;
@ZINDEX_HEADER: 949;
@ZINDEX_ABOVE_TEXT: 100;
@ZINDEX_TEXT_3: 3;
@ZINDEX_TEXT_2: 2;
@ZINDEX_TEXT_1: 1;
@ZINDEX_BC: 0;

// Market Regular
@font-face {
  font-family: "Market-Regular";
  font-weight: 400;
  src: url("@{stylesheetUrl}/css/fonts/market-regular.woff");
  font-display: swap;
}

// @import "fonts/_fonts.less";

/*** FUNCTIONS ***/
.font(@family, @size) {
  .font-with-lh(@family, @size, 1.5em);
}
.font-with-lh(@family, @size, @lineHeight) {
  font-family: @family;
  font-size: @size;
  line-height: @lineHeight;
}
.font-full(@family, @size, @lineHeight, @fontWeight, @color) {
  .font-with-lh(@family, @size, @lineHeight);
  color: @color;
  font-weight: @fontWeight;
}
.center(@width) {
  width: 100%;
  max-width: @width;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-with-padding(@width, @maxWidth, @paddX) {
  .center(@width);

  @media (max-width: @maxWidth) {
    padding-left: @paddX;
    padding-right: @paddX;
  }
}
.placeholder-color(@color) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: @color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: @color;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: @color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: @color;
  }
}
.hover-scale-1-1 {
  transition: all 400ms;

  &:hover {
    transform: scale(1.1);
  }
}
.hover-scale-1-2 {
  transition: all 400ms;

  &:hover {
    transform: scale(1.2);
  }
}
.hover-scale-1-3 {
  transition: all 400ms;

  &:hover {
    transform: scale(1.3);
  }
}
.hover-scale-1-4 {
  transition: all 400ms;

  &:hover {
    transform: scale(1.4);
  }
}
.linear-gradient-bc-vertical(@startColor, @endColor) {
  background: linear-gradient(to bottom, @startColor 0%, @endColor 100%);
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.text-center {
  text-align: center;
}
.hidden-on-mobile {
  @media (max-width: @mobileMaxWidth) {
    display: none;
  }
}
.bc-img-center {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.button-red {
  border-radius: 3px;
  .font-with-lh("Rubik", 16px, 19px);
  font-weight: 700;
  padding: 14px 32px 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: @red;
  color: white;
  border: 1px solid @red;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;

  .fa-angle-right {
    margin-right: 9px;
    opacity: 0.6;
    font-size: 14px;
    color: white;
  }

  &:hover {
    border-color: @buttonHoverRed;

    .fa-angle-right {
      color: white;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @buttonHoverRed;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
}
.button-white {
  border-radius: 3px;
  .font-with-lh("Rubik", 16px, 19px);
  font-weight: 700;
  padding: 14px 32px 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: @red;
  //border: 1px solid @red;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;

  .fa-angle-right {
    margin-right: 9px;
    opacity: 0.6;
    font-size: 14px;
    color: @red;
  }

  &:hover {
    border-color: @buttonHoverRed;

    .fa-angle-right {
      color: white;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @buttonHoverRed;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
}
.gray-title {
  opacity: 0.5;
  color: #000000;
  font-family: Rubik;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.container {
  .center-with-padding(1250px, 1290px, @defaultPadding);
}
.container-no-padding {
  .center(1440px);
}
.container-1250 {
  .center-with-padding(1250px, 1290px, @defaultPadding);
}
.center-1250 {
  .center(1250px);
}
.center-1200 {
  .center(1200px);
}
.center-1167 {
  .center(1167px);
}
.center-1117 {
  .center(1117px);
}
.center-1050 {
  .center(1050px);
}
.center-1000 {
  .center(1000px);
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width: 750px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &.white {
    background-color: white;
  }
}

@keyframes splitTextAnim {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.split {
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
  color: #fff;
  font-size: 40px;
  line-height: 50px;

  &__word {
    display: inline-block;
  }
  &__char {
    display: inline-block;
    opacity: 0;
    animation: splitTextAnim 1s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  &__whitespace {
    display: initial;
  }
}

// transition delay loop
.transition-delay-loop(@counter) when (@counter > 0) {
  .transition-delay-loop((@counter - 1));

  &:nth-child(@{counter}) {
    transition-delay: (100ms * @counter);
  }
}

.transition-delay-loop-50ms(@counter) when (@counter > 0) {
  .transition-delay-loop-50ms((@counter - 1));

  &:nth-child(@{counter}) {
    transition-delay: (50ms * @counter);
  }
}
