@import "_swisstomato2-base.less";
@import "pages/fontawesome.less";
@import "fonts/_fonts.less";
@import "fonts/_cookie.less";

/*** GENERAL OBJECTS ***/
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #303030;

  &.page {
    margin: 0;
  }
}

p {
  color: #303030;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
}

a,
button,
input,
textarea {
  outline: none;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: @red;
  transition: all 300ms;

  &:hover {
    color: @darkerRed;
  }
}

h1 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin: 20px 0;
}

ul:not(.menu):not(.sub-menu):not(.list-no) {
  margin-left: 23px;
  padding-left: 0;
  list-style: none;

  li {
    padding-left: 1em;
    text-indent: -0.7em;
    font-family: "Rubik";
    font-size: 18px;
    line-height: 27px;

    &:before {
      content: "•  ";
      color: red;
      position: relative;
      left: -11px;
    }

    ul {
      li {
        &:before {
          color: #303030;
        }
      }
    }
  }
}

#intro-section {
  h1 {
    font-family: "Rubik";
    font-size: 33px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    margin-bottom: 50px;
    color: @red;

    @media (max-width: 700px) {
      margin-top: 40px;
    }

    @media (max-width: 430px) {
      margin-top: 0;
      font-size: 28px;
    }
  }

  #intro-text {
    padding-left: 5px;
    max-width: 560px;

    h2 {
      color: #000000;
      font-family: "Rubik";
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 21px;
    }

    p {
      color: #303030;
      font-family: "Rubik";
      font-size: 18px;
      line-height: 27px;
    }
  }
}

#hero-section {
  .container();
  .bc-img-center();
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 564px;
  margin-top: 35px;
  padding-left: 0 !important;
  padding-right: 0 !important;

  #hero-dark-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 80px;
    width: 100%;

    #hero-content {
      width: 490px;

      p {
        color: #ffffff;
        font-family: Rubik;
        font-size: 18px;
        line-height: 27px;

        & + p {
          margin-top: 30px;
        }
      }
    }
  }

  &.full-width {
    max-width: 1980px;

    #hero-dark-layer {
      .container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  @media (max-width: 800px) {
    height: auto;

    #hero-dark-layer {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 50px 25px;
      align-items: center;

      #hero-content {
        width: 100%;
        max-width: 490px;
        text-align: center;

        p:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

.references-section {
  margin: 25px auto;
  background-color: #f8f8f8;
  padding-top: 65px;
  padding-bottom: 65px;

  h2 {
    color: #f2000c;
    font-family: Rubik;
    font-size: 33px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    margin: 0 auto 50px;
  }

  .post-list {
    .center(1117px);
    .flex-space-between();
    align-items: flex-start;

    &.low-num-item {
      justify-content: center;

      .post + .post {
        margin-left: 20px;

        @media (max-width: 570px) {
          margin-left: 0;
        }
      }
    }

    .post {
      width: 31.5%;
      max-width: 350px;
      overflow: hidden;
      margin-bottom: 45px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      a.post-image {
        width: 100%;
        height: 341px;
        display: inline-block;
        background-position: center center;
        background-size: cover;
        background-color: #efefef;
        transition: all 400ms;
        margin-bottom: 10px;
      }

      .post-title {
        color: #191515;
        font-family: "Rubik";
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin: 15px 0 3px;
        transition: all 400ms;
      }

      .post-categories {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;

        a {
          color: #f2000c;
          font-family: Rubik;
          font-size: 16px;
          line-height: 19px;
          margin-right: 5px;
          margin-bottom: 2px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &:hover {
        a.post-image {
          opacity: 0.8;
        }

        .post-title {
          color: @red;
        }
      }

      @media (max-width: 1020px) {
        a.post-image {
          height: 250px;
        }
      }

      @media (max-width: 700px) {
        width: 48%;
      }

      @media (max-width: 610px) {
        a.post-image {
          height: 200px;
        }
      }

      @media (max-width: 570px) {
        width: 100%;
      }
    }

    @media (max-width: 570px) {
      flex-direction: column;
      align-items: center;
    }
  }

  a.more-references {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 20px;

    @media (max-width: 400px) {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
  }
}

body.fr-FR #clients-section #clients-text p {
  max-width: 630px;
}

.check-list-section {
  padding-top: 90px;
  padding-bottom: 150px;
  background-color: #f8f8f8;

  .check-item-list {
    .center(870px);
    .flex-space-between();
    align-items: flex-start;

    .check-item {
      width: 25.21%;
      margin: 45px 0;

      i {
        color: @red;
        font-size: 21px;
        line-height: 21px;
        text-align: center;
      }

      hr {
        margin-top: 15px;
        margin-bottom: 33px;
        box-sizing: border-box;
        height: 3px;
        width: 100%;
        border-bottom: 9px solid #f2000c;
        opacity: 0.08;
      }

      .check-item-title {
        color: @red;
        font-family: "Rubik";
        font-size: 25px;
        font-weight: 500;
        line-height: 29px;
        max-width: 190px;
        word-wrap: break-word;
      }

      .check-item-text {
        opacity: 0.6;
        color: #000000;
        font-family: "Rubik";
        font-size: 16px;
        line-height: 25px;
        margin-top: 18px;
      }
    }
  }

  &.type-2 {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: transparent;

    .check-item-list {
      .check-item {
        i {
          font-size: 40px;
        }

        .check-item-title {
          color: #191515;
          font-family: "Rubik";
          font-size: 24px;
          font-weight: 500;
          line-height: 28px;
          margin-top: 24px;
        }
      }
    }
  }

  &.type-3 {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: transparent;

    .check-item-list {
      .check-item {
        span {
          width: 43px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3.5px solid @red;
          border-radius: 40px;
          font-size: 22px;
          color: @red;
          font-weight: bold;
        }

        .check-item-title {
          color: #191515;
          font-family: "Rubik";
          font-size: 24px;
          font-weight: 500;
          line-height: 28px;
          margin-top: 24px;
        }
      }
    }
  }

  @media (max-width: 790px) {
    padding-top: 70px;
    padding-bottom: 70px;

    .check-item-list {
      justify-content: center;

      .check-item {
        width: 45%;
        margin-top: 20px;
        margin-bottom: 20px;

        &:nth-child(2n) {
          margin-left: 10%;
        }
      }
    }

    &.type-2 {
      .check-item-list {
        .check-item {
          text-align: center;

          .check-item-title {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }

  @media (max-width: 580px) {
    .check-item-list {
      flex-direction: column;
      align-items: center;

      .check-item {
        width: 100%;
        text-align: center;
        max-width: 300px;
        margin-bottom: 30px;

        &:nth-child(2n) {
          margin-left: 0;
        }

        .check-item-title {
          max-width: none;
        }

        &:last-child {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.image-text-row,
.image-text-row.container {
  .flex-space-between();
  align-items: stretch;
  margin: 60px auto;

  .column {
    &.image-column {
      width: 47%;
      max-width: 582px;
      height: 476px;
      .bc-img-center();
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.text-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 582px;

      h2 {
        color: #303030;
        font-family: Rubik;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 0;
        width: 100%;

        & + ul {
          margin-top: 15px;
        }
      }

      p {
        color: #303030;
        font-family: Rubik;
        font-size: 18px;
        line-height: 27px;

        &:first-child {
          margin-top: 0;
        }

        & + p {
          //margin-top: 0;
        }

        & + ul {
          margin-top: 15px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      ul {
        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: 400px) {
          margin-left: 7px;
        }
      }
    }
  }

  &.image-text {
    .column {
      &.text-column {
        width: 46%;
        padding-right: 110px;
      }
    }
  }

  &.text-image {
    .column {
      &.text-column {
        width: 44.77%;
        align-items: flex-start;
        padding-left: 75px;
      }
    }
  }

  & + .image-text-row {
    margin-top: 85px;
  }

  &.zoom-in-on-scroll {
    picture {
      overflow: hidden;

      img {
        transform: scale(1.2);
        transition: 2s all;
      }
    }

    &.scrolled-to {
      picture {
        img {
          transform: none;
        }
      }
    }
  }

  &.zoom-out-on-scroll {
    picture {
      img {
        transition: 2s all;
      }
    }

    &.scrolled-to {
      picture {
        img {
          transform: scale(1.2);
        }
      }
    }
  }

  @media (max-width: 1050px) {
    &.image-text {
      .column {
        &.text-column {
          padding-right: 0;
        }
      }
    }

    &.text-image {
      .column {
        &.text-column {
          padding-left: 0;
        }
      }
    }
  }

  @media (max-width: 650px) {
    align-items: stretch;
    margin-top: 30px;
    margin-bottom: 45px;

    &.image-text {
      flex-direction: column;

      .column {
        &.image-column {
          width: 100%;
        }

        &.text-column {
          margin-top: 30px;
          width: 100%;
        }
      }
    }

    &.text-image {
      flex-direction: column-reverse;

      .column {
        &.image-column {
          width: 100%;
        }

        &.text-column {
          margin-top: 30px;
          width: 100%;
        }
      }
    }

    & + .image-text-row {
      margin-top: 30px;
    }

    h2,
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.vertical-left-right-numbered-list {
  padding-top: 50px;

  h2 {
    color: #f2000c;
    font-family: Rubik;
    font-size: 33px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    max-width: 380px;
    margin: 0 auto 35px;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;

    .step {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;

      .logo-and-number {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAIAAADq9gq6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAnSURBVBhXY/yzbSfz1h0/mJkZGBg4/v794+3O4ukOZDMBMRbAwAAAa/8JASH2aIQAAAAASUVORK5CYII=");
        background-position: center;
        background-repeat: repeat-x;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number {
          border: 2px solid @red;
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f2000c;
          font-family: Rubik;
          font-size: 24px;
          font-weight: 500;
          line-height: 28px;
          text-align: center;
          border-radius: 50%;
          background-color: white;
        }
      }

      .text-and-title {
        width: 100%;
        max-width: 254px;

        h3 {
          text-align: right;
          margin: 20px 0 10px;
        }

        .text {
          text-align: right;

          p {
            margin: 0;
          }
        }
      }

      &:nth-child(2n + 1) {
        align-items: flex-start;

        .logo-and-number {
          position: relative;
          right: -22.5px;
          align-self: flex-end;
        }
      }

      &:nth-child(2n) {
        align-items: flex-end;

        .logo-and-number {
          flex-direction: row-reverse;
          margin-top: 100px;
          position: relative;
          left: -22.5px;
          align-self: flex-start;
        }

        h3,
        .text {
          text-align: left;
        }
      }
    }

    @media (max-width: 660px) {
      flex-direction: column;
      align-items: center;

      .step {
        width: 68%;
        max-width: 400px;

        &:nth-child(2n),
        &:nth-child(2n + 1) {
          align-items: flex-start;

          .logo-and-number {
            flex-direction: row-reverse;
            right: unset;
            left: -83.5px;
            align-self: flex-start;
            max-width: 150px;
            margin-top: 0;
          }

          .text-and-title {
            max-width: 100%;

            h3,
            .text {
              text-align: left;
            }
          }
        }
      }
    }

    @media (max-width: 480px) {
      .step {
        width: 100%;
        align-items: center;

        &:nth-child(2n),
        &:nth-child(2n + 1) {
          align-items: center;

          .logo-and-number {
            align-self: center;
            left: unset;
            width: 100%;
          }

          .text-and-title {
            h3,
            .text {
              text-align: center;
            }

            h3 {
              margin-top: 10px;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

a.swisst2-read-more {
  color: #f2000c;
  font-family: Rubik;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-top: 17px;
  cursor: pointer;

  i {
    font-size: 15px;
    margin-right: 6px;
    opacity: 0.5;
    transition: all 400ms;
    transform: rotateZ(-90deg);
  }

  &:hover {
    color: @darkerRed;
  }

  &.opened {
    i {
      transform: rotateZ(0);
    }
  }
}

.swisst2-more-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
  display: none;
  width: 100% !important;

  p {
    font-size: 14px;
    line-height: 21px;
  }
}

/*** GENERAL LAYOUT ***/
form.wpcf7-form {
  .form-row {
    .field-group {
      width: 100%;
      position: relative;

      label {
        color: #4b4646;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        position: relative;
        top: 17px;
        transition: all 250ms;
        display: inline-block;
        position: absolute;
      }

      input {
        width: 100%;
        color: #4b4646;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        padding-bottom: 6px;
        border: none;
        background: transparent;
        border-bottom: 1.3px solid rgba(242, 0, 12, 0.2);
        transition: all 400ms;
        padding-left: 0;
        border-radius: 0;
      }

      textarea {
        width: 100%;
        height: 80px;
        color: #4b4646;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        padding-bottom: 8px;
        border: none;
        background: transparent;
        border-bottom: 1.3px solid rgba(242, 0, 12, 0.2);
        padding-left: 0;
        border-radius: 0;
      }

      span.your-message {
        display: block;
        height: 80px;
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 1.5px;
        background: @red;
        position: absolute;
        bottom: 1.5px;
        transition: 250ms all;
        left: 50%;
        position: relative;
        z-index: 100;
      }

      &.focus {
        &:after {
          width: 100%;
          transform: translateX(-50%);
        }
      }

      &.filled {
        label {
          font-size: 12px;
          top: 9px;
          color: @red;
        }

        &.safari {
          label {
            opacity: 0.1;
          }
        }
      }
    }

    &.column-2 {
      display: flex;
      justify-content: space-between;

      .field-group {
        width: 48%;
      }

      @media (max-width: 400px) {
        flex-direction: column;

        .field-group {
          width: 100%;

          &:last-child {
            margin-top: 30px;
          }
        }
      }
    }

    &.captcha {
      .field-group {
        img.wpcf7-form-control {
          float: right;
          position: relative;
          top: 15px;
        }
      }
    }

    & + .form-row {
      margin-top: 30px;

      &.swisst-hp {
        margin-top: 0;
      }
    }

    .sw-conditions-checkbox {
      cursor: pointer;

      .wpcf7-list-item {
        margin-left: 0;

        .icheckbox {
          margin-right: 5px;
          margin-top: -3px;
        }

        a {
          color: @red;
          transition: 300ms all;

          &:hover {
            color: @darkerRed;
          }
        }
      }
    }
  }

  button[type="submit"] {
    margin-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;
  }
}

#content {
  padding-top: 140px;

  @media (max-width: 500px) {
    padding-top: 100px;
  }
}

header#masthead {
  padding-top: 35px;
  padding-bottom: 10px;
  width: 100%;
  background: white;
  z-index: 1000;
  position: absolute;
  transition: all 300ms;

  &.fixed {
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(71, 0, 4, 0.28);
    top: -103px;

    &.visible {
      top: 0;
    }

    #desktop-sub-menu-background {
      box-shadow: 0 2px 2px 0 rgba(71, 0, 4, 0.28);
    }
  }

  .container {
    .flex-space-between();
    flex-wrap: wrap;

    .site-branding {
      a.custom-logo-link {
        img {
          @media (max-width: @mobileMaxWidth) {
            height: 38px;
            width: auto;
          }
        }
      }
    }

    button.menu-toggle {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      display: none;

      span {
        width: 25px;
        height: 3px;
        background-color: @red;
        margin: 6px 0;
        transition: all 400ms;
        display: block;
      }

      &.toggled {
        .bar1 {
          transform: rotate(-45deg) translate(-11.8px, 1.2px);
        }

        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          .bar1 {
            transform: rotate(-45deg) translate(-12px, 1.4px);
          }
        }

        @media screen and (min--moz-device-pixel-ratio: 0) {
          .bar1 {
            transform: rotate(-45deg) translate(-11.5px, 1px);
          }
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          transform: rotate(45deg) translate(-11px, -1px);
        }
      }

      @media (max-width: @mobileMaxWidth) {
        display: inline-block;
      }
    }

    #site-navigation {
      width: auto;
      float: none;
      clear: none;

      ul {
        display: block;
        margin-top: 14px;

        li {
          a {
            color: #000000;
            font-size: 15px;
            font-weight: 300;
            line-height: 20px;
            padding: 2px 2px 20px;
            margin: 0 22px;
            border-bottom: 2px solid transparent;

            &:hover {
              color: @red;
            }

            i {
              display: none;
            }

            @media (min-width: 1001px) and (max-width: 1140px) {
              font-size: 16px;
              margin: 0 14px;
            }

            @media (min-width: 910px) and (max-width: 1000px) {
              font-size: 15px;
              margin: 0 10px;
            }
          }

          &.current-menu-parent,
          &.current-menu-item {
            a {
              color: @red;
            }

            ul {
              li {
                a {
                  color: #000000;

                  &:hover {
                    color: @red;
                  }
                }

                &.current-menu-item {
                  a {
                    color: @red;
                  }
                }
              }
            }
          }

          &:hover {
            & > a {
              color: @red;
              border-bottom: 2px solid @red;
            }
          }

          &:last-child {
            a {
              margin-right: 0;
            }
          }

          ul.sub-menu {
            box-shadow: none;
            padding: 15px 0 10px;
            background-color: white;
            margin-top: 0;

            li {
              a {
                border-bottom: none;
                width: 500px;
                padding: 7px 0 10px 4px;
                max-width: 310px;
              }

              &.current-menu-item {
                a {
                  border-bottom: none;
                }
              }
            }
          }

          &.wpml-ls-item {
            & > a {
              text-transform: uppercase;
              color: rgba(0, 0, 0, 0.55);
              font-family: Rubik;
              font-size: 15px;
              font-weight: 300;
              letter-spacing: 0;
              line-height: 18px;
              position: relative;
              top: 2.5px;

              &:after {
                display: block;
                content: "";
                width: 10px;
                height: 6px;
                background: url("@{stylesheetUrl}/imgs/menu-arrow-up.svg")
                  no-repeat transparent;
                position: absolute;
                top: 8px;
                right: -12px;
                transform: rotateZ(180deg);
                transition: 200ms all;
              }
            }

            &:hover {
              & > a {
                border-bottom-color: transparent;

                &:after {
                  transform: rotateZ(0);
                }
              }
            }

            ul.sub-menu {
              padding-top: 0;
              margin-top: -17px;
              margin-left: -1px;

              li {
                a {
                  text-transform: uppercase;
                  color: rgba(0, 0, 0, 0.55);
                  font-family: Rubik;
                  font-size: 15px;
                  font-weight: 300;
                  letter-spacing: 0;
                  line-height: 18px;
                  padding-left: 3px;
                  padding-bottom: 0;
                  padding-top: 5px;

                  &:after {
                    display: none;
                  }

                  &:hover {
                    color: #f2000c;
                  }
                }
              }
            }
          }

          .leftauto {
            left: auto; // ez a magasság kiszámításához kell
          }
        }
      }

      @media (min-width: 931px) and (max-width: 1000px) {
        ul#primary-menu {
          li {
            a {
              padding: 10px 5px;
              font-size: 15px;
              margin-left: 10px;
              margin-right: 10px;
            }

            &.wpml-ls-item {
              & > a {
                &:after {
                  top: 16px;
                }
              }

              ul.sub-menu {
                margin-top: -13px;

                li {
                  a {
                    padding-left: 7px;

                    &:first-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 911px) and (max-width: 930px) {
        ul#primary-menu {
          li {
            a {
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }
      }

      @media (max-width: @mobileMaxWidth) {
        position: relative;
        display: none;
        width: 100% !important;

        ul#primary-menu {
          display: flex;
          flex-direction: column;
          padding: 10px 0;

          li {
            width: 100%;
            float: none;
            margin: 5px 0 5px;
            background-color: rgba(0, 0, 0, 0.02);

            a {
              margin: 0;
              padding: 10px;
              text-transform: uppercase;
              border-bottom: 1px solid transparent;
              font-weight: 400;
              font-size: 16px;
              color: @textColor;
              //text-align: center;

              i {
                float: right;
                color: #dfdfdf;
                font-size: 20px;
                position: relative;
                top: 1px;
              }
            }

            &.menu-item-has-children {
              a {
                i {
                  &.fa-plus {
                    display: inline-block;
                  }
                }
              }
            }

            ul.sub-menu {
              float: none;
              position: static;
              margin-bottom: 5px;
              background-color: transparent;
              padding: 0;
              display: none;
              width: 100% !important;

              li {
                background-color: transparent;

                a {
                  text-transform: unset;
                  border: none;
                  font-size: 14px;
                  width: 100%;
                  color: @textColor;
                  padding: 5px 10px;

                  i.fa-plus,
                  i.fa-minus {
                    display: none;
                  }

                  &:focus,
                  &:active,
                  &.highlighted {
                    color: @red;
                  }
                }
              }
            }

            &.expanded {
              a {
                color: @red;

                i {
                  &.fa-plus {
                    display: none;
                  }

                  &.fa-minus {
                    display: inline-block;
                  }
                }
              }

              ul.sub-menu {
                li {
                  a {
                    i.fa-plus,
                    i.fa-minus {
                      display: none;
                    }
                  }
                }
              }
            }

            &.current-menu-item:not(.menu-item-has-children) {
              a {
                color: @red;
              }
            }

            &.wpml-ls-item {
              & > a {
                &:after {
                  display: none;
                }
              }

              ul.sub-menu {
                margin-top: 0;

                li {
                  a {
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #desktop-sub-menu-background {
    background: white;
    position: absolute;
    width: 100%;
    height: 250px;
    display: none;
  }
}

#contact-us-wrapper {
  background-color: #fff6f5;

  #contact-us {
    .flex-space-between();
    padding: 55px 110px;
    align-items: stretch;
    // margin-top: 50px;

    #contact-column-1 {
      width: 44%;

      h2 {
        .font-full("Rubik", 15px, 18px, 600, @red);
        margin-bottom: 13px;
      }

      #contact-us-text {
        p {
          font-size: 30px;
          line-height: 36px;
          color: black;
          font-weight: 300;
        }
      }

      form.wpcf7-form {
        max-width: 445px;
        margin-top: 65px;
      }
    }

    #contact-column-2 {
      width: 44%;

      img {
        margin-bottom: 60px;
      }

      #contact-informations {
        a {
          .font-full("Rubik", 16px, 19px, 600, rgba(242, 0, 12, 0.41));
          cursor: pointer;
        }

        #city-list {
          a {
            & + a {
              margin-left: 24px;
            }

            &:hover {
              color: @red;
            }

            &.selected {
              color: @red;
            }

            @media (max-width: 995px) {
              & + a {
                margin-left: 15px;
              }
            }

            @media (max-width: 400px) {
              & + a {
                margin-left: 10px;
              }
            }
          }
        }

        .contact-info-text {
          margin: 20px 0 35px;
          max-width: 330px;
          transition: all 300ms;

          h3 {
            font-family: "Rubik";
            font-size: 15px;
            line-height: 18px;
            color: #f2000c;
            font-weight: 600;
            margin-bottom: 13px;
            text-transform: uppercase;
          }

          p {
            .font-full("Rubik", 16px, 24px, 400, @textColor);
          }

          a {
            color: @red;
            font-weight: normal;

            &:hover {
              text-decoration: underline;
            }
          }

          &.selected {
            display: block;
          }
        }
      }

      a.contact-social-icon {
        margin: 29px 0 0 0;

        i.fab {
          color: @textColor;
          font-size: 24px;
          transition: 300ms all;
        }

        &:hover {
          i.fab {
            color: @red;
          }
        }

        & + .contact-social-icon {
          margin-left: 33px;
        }
      }
    }

    @media (max-width: @mobileMaxWidth) {
      padding: 30px 25px;

      #contact-column-1 {
        width: 45%;
      }

      #contact-column-2 {
        width: 47%;
      }
    }

    @media (max-width: 630px) {
      flex-direction: column;

      #contact-column-1 {
        width: 100%;

        h2 {
          text-align: center;
        }

        #contact-us-text {
          text-align: center;
        }

        form.wpcf7-form {
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;

          .form-row.column-1 {
            &.last {
              text-align: center;
            }
          }

          p {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .wpcf7-list-item {
            margin-left: 0;
          }
        }
      }

      #contact-column-2 {
        width: 100%;
        text-align: center;
        margin-top: 40px;

        #contact-informations {
          a {
            &:last-child {
              margin-right: 0;
            }
          }

          .contact-info-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    &.mod-on-de {
      padding: 0;

      #contact-column-1 {
        width: 50%;
        padding: 55px 100px 30px 110px;

        h2 {
          margin-top: 0;
        }

        form.wpcf7-form {
          margin-top: 30px;

          .form-row {
            & + .form-row {
              margin-top: 21px;
            }
          }
        }
      }

      #contact-column-2 {
        width: 50%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 187px;
          left: -57px;
          top: 30px;
          position: relative;
          margin-bottom: 0;
        }

        #contact-informations {
          #contact-zurich {
            width: 337px;
            background-color: #fff6f5;
            padding: 40px 40px 33px 0;
            margin: 0;
          }
        }

        a.contact-social-icon {
          display: none;
        }
      }

      @media (max-width: 1000px) {
        #contact-column-1 {
          padding: 30px 50px 30px 30px;
        }
      }

      @media (min-width: 631px) and (max-width: 775px) {
        #contact-column-1 {
          padding-left: 25px;
          padding-right: 25px;
          width: 60%;
        }

        #contact-column-2 {
          width: 40%;
          background-position-x: -80px;

          #contact-informations #contact-zurich {
            width: 100%;
            padding-right: 25px;
          }
        }
      }

      @media (min-width: 631px) and (max-width: 705px) {
        #contact-column-2 {
          #contact-informations {
            #contact-zurich {
              p {
                font-size: 14px;
                line-height: 18px;

                a {
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      @media (max-width: 630px) {
        flex-direction: column;

        #contact-column-1 {
          width: 100%;
          padding: 30px;
        }

        #contact-column-2 {
          width: 100%;
          height: auto;
          align-items: center;
          background-image: none !important;

          img {
            position: static;
          }

          #contact-informations {
            #contact-info-text {
              width: 377px;
              padding-left: 40px;
            }

            #contact-zurich {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

#footer-wrapper {
  background-color: #171719;

  footer#colophon {
    padding: 45px 100px 15px 100px;
    .flex-space-between();
    align-items: flex-start;

    #footer-logo-wrapper {
      width: 23%;
    }

    #footer-pivacy-policy-wrapper {
      width: 25%;
      text-align: center;

      a {
        .font-full("Rubik", 18px, 22px, 300, white);

        &:hover {
          color: @red;
        }
      }
    }

    #footer-text {
      width: 25%;

      p {
        .font-full("Rubik", 18px, 22px, 300, rgba(255, 255, 255, 0.6));

        &:first-child {
          margin-top: 0;
        }
      }

      a {
        color: white;

        &:hover {
          color: @red;
        }
      }
    }

    #footer-social-links {
      width: 25%;
      display: flex;
      justify-content: flex-start;

      a {
        font-size: 24px;
        line-height: 24px;
        color: white;
        margin-right: 33px;
        cursor: pointer;

        &:hover {
          color: @red;
        }
      }
    }

    &:before,
    &:after {
      display: none;
    }

    @media (max-width: 1030px) {
      padding: 30px 25px;

      #footer-logo-wrapper {
        width: 20%;
      }

      #footer-pivacy-policy-wrapper {
        width: 22%;
      }

      #footer-social-links {
        justify-content: center;

        a {
          margin-right: 0;

          & + a {
            margin-left: 24px;
          }
        }
      }
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
      align-items: center;

      #footer-logo-wrapper {
        width: 100%;
        text-align: center;
      }

      #footer-pivacy-policy-wrapper {
        width: 100%;
        margin: 20px 0 0;
      }

      #footer-text {
        margin: 20px 0;
        width: 100%;
        text-align: center;
      }

      #footer-social-links {
        width: 100%;
      }
    }

    &.de-DE {
      @media (min-width: 795px) and (max-width: 890px) {
        #footer-text {
          p {
            a {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      @media (min-width: 701px) and (max-width: 794px) {
        #footer-text {
          p {
            a {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

.cookie {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0;
  transform: translateY(calc(100% + 1px));
  visibility: hidden;
  transition: transform 0.5s;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  &.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: transform 0.5s 5s;
  }

  @media (max-width: 700px) {
    z-index: 9999;
    flex-flow: column;
  }

  &.hide {
    display: none;
  }

  &__text {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    line-height: 1.6;

    @media (max-width: 700px) {
      margin: 0 0 10px;
    }
  }
  &__url {
    font-size: 14px;
  }

  &__btn {
    margin-left: 2rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: #f2000c;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 10px 20px;

    @media (max-width: 700px) {
      margin-left: 0;
      margin-top: 1rem;
    }

    &.button-red {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
}

#contact-popup-trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2000c;
  border: 8px solid #f5cfd1;
  border-radius: 50%;
  // transform: scale(0.5);
  // opacity: 0;
  cursor: pointer;
  transition: transform 0.25s 1s cubic-bezier(0.175, 0.885, 0.32, 1.75),
    opacity 0.2s 1s, width 300ms, height 300ms, right 300ms, bottom 300ms;

  i {
    font-size: 25px;
    color: white;
    margin-bottom: 2px;
    margin-top: -3px;
  }

  span {
    color: #ffffff;
    font-family: Rubik;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }

  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #f2000c;
  //   content: " ";
  //   z-index: -1;
  //   border-radius: 50%;
  // }

  &:hover {
    width: 100px;
    height: 100px;
    bottom: 14px;
    right: 14px;

    // &:before {
    //   transform: scale(1.5);
    //   opacity: 0;
    //   transition: all 300ms;
    // }
  }
}

.loaded {
  #contact-popup-trigger {
    opacity: 1;
    transform: scale(1);
  }
}

.popmake-content .clickable-btn {
  padding: 14px 20px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  i {
    margin-right: 10px;
  }
}

#video-popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-content: center;
  z-index: 1000;
  display: none;
  cursor: pointer;

  &.opened {
    display: flex;

    iframe {
      max-width: 90%;
    }
  }
}

.pink-p-button-section,
.pink-p-button-section.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: rgba(255, 218, 215, 0.25);
  max-width: 1250px;

  p {
    margin-bottom: 20px;
    margin-top: 0;
    color: #303030;
    font-family: Rubik;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    max-width: 668px;
  }

  &:last-child {
    margin-bottom: -30px;
  }
}

#dm-internal-links-section {
  padding-top: 50px;
  padding-bottom: 40px;

  #dm-internal-links-text {
    .center(700px);
    color: #303030;
    font-family: Rubik;
    font-size: 27px;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    margin-bottom: 30px;

    p {
      color: #303030;
      font-family: Rubik;
      font-size: 27px;
      font-weight: 300;
      line-height: 39px;
      text-align: center;
    }
  }

  #dm-internal-links-boxes {
    .center(1100px);
    display: flex;
    justify-content: center;

    a.dm-internal-link-box {
      width: 23.9%; // 263px
      height: 207px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 16px;

      .dark-layer {
        padding: 26px 29px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        transition: 400ms all;

        .title {
          color: #ffffff;
          font-family: Rubik;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
          margin-top: 26px;
        }
      }

      &:hover {
        text-decoration: none;
        color: white;
        cursor: pointer;

        .dark-layer {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    @media (max-width: 830px) {
      flex-wrap: wrap;

      a.dm-internal-link-box {
        width: 48%;
        max-width: 263px;

        &:nth-child(2n + 1) {
          margin-left: 0;
        }

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 16px;
        }
      }
    }

    @media (max-width: 470px) {
      justify-content: center;

      a.dm-internal-link-box {
        width: 100%;
        max-width: 263px;

        &:nth-child(2n) {
          margin-left: 0;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 16px;
        }
      }
    }
  }
}

#cookie-notice {
  // border-top: 2px solid @red;
  box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.37);

  a.button.wp-default {
    background: white;
    border-color: #d82517;
    color: #d82517;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      background: @red;
      border-color: @red;
      color: white;
    }
  }

  @media (max-width: 1560px) {
    #cn-notice-text {
      display: block;
      margin-bottom: 10px;
    }
  }
}

html body .only_webar_en {
  display: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

// Lity
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-active,
.lity-active body {
  overflow: hidden;
}

.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity.lity-opened {
  opacity: 1;
}

.lity.lity-closed {
  opacity: 0;
}

.lity * {
  box-sizing: border-box;
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}

.lity-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
  opacity: 1;
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}

.lity-content {
  z-index: 9993;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.lity-closed .lity-content,
.lity-loading .lity-content {
  transform: scale(0.8);
}

.lity-close,
.lity-close:active,
.lity-close:focus,
.lity-close:hover,
.lity-close:visited {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  box-shadow: none;
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lity-close:active {
  top: 1px;
}

.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}

.lity-iframe .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.lity-hide {
  display: none;
}

.wpcf7-list-item {
  font-size: 16px;
  line-height: 18px;

  .wpcf7-list-item-label {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    padding-left: 30px;

    &:before {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #d3d3d3;
      background: #f2f2f2;
      color: #f2f2f2;
      cursor: pointer;
    }
  }

  input[type="checkbox"] {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:checked {
      + .wpcf7-list-item-label {
        &::after {
          content: "\f00c";
          font-family: "FAL";
          font-size: 16px;
          color: #f2000c;
          position: absolute;
          top: -2px;
          left: 4px;
          cursor: pointer;
        }
      }
    }
  }
}

.st-image-wrapper {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// GLOBAL TEMPLATES
@import "global-templates/_why-swisstomato-section.less";
@import "global-templates/_big-bc-more-text-section.less";
@import "global-templates/_awards.less";
@import "global-templates/_services-section.less";
@import "global-templates/_intro-text-awards.less";
@import "global-templates/_icon-text-list-section.less";
@import "global-templates/_why-us-our-story-section.less";
@import "global-templates/_big-red-text-section.less";
@import "global-templates/_our-story-section.less";
@import "global-templates/_awards-2022feb-section.less";
@import "global-templates/_reference-list-masonry-section.less";
@import "global-templates/_field-of-experience.less";
@import "global-templates/_clients.less";
@import "global-templates/_process-timing.less";
