/** modify some cmb styles **/
.cmb-repeatable-group {
    input[type=hidden] + .cmb2-upload-button {
        float: left !important;
    }
}
.cmb-repeatable-grouping {
    .cmb-group-title {
        &:hover {
            cursor: pointer;
            background-color: #f9f6f6;
        }
    }
}
.cmb2-wrap input[type=text] {
    width: 100%;
}
.cmb2-wrap .cmb-row.cmb-repeat .cmb2-metabox-description {
    font-size: 20px;
    padding-bottom: 10px;
}
.cmb2-postbox .cmb-row.cmb-type-title {
    padding: .6em 1em !important;
    background-color: #666;
    border: 1px solid #e9e9e9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    color: white;
}
.cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row.cmb-repeat {
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
}
.cmb2-wrap .cmb-row.cmb-repeat .cmb2-metabox-description {
    padding-bottom: 0 !important;
    color: #626262;
    font-size: 17px;

    .cmb-th {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.cmb2-options-page {
    .cmb-type-title {
        background-color: #666 !important;

        h3 {
            color: white;
            font-size: 20px !important;
            margin-top: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            padding-bottom: 2px;
            border-bottom: 1px dashed #dad4d4;
        }

        p {
            color: #ddd;
        }
    }

    .cmb-td {
        input[type=text] {
            width: 500px;
        }
    }
}
