@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@mixin animation-spinning($time: 2s) {
  animation: spinning-frames $time infinite linear;
}

@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}

@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(50px);
  }
}