* {
  outline: none !important;

  &:focus {
    outline: none !important;
    border: none !important;
  }
}

// GENERAL ELEMENTS
* {
  // get rid of that outline
  outline: none !important;

  &:focus {
    outline: none !important;
    border: none !important;
  }
}
html {
  font-size: 62.5%; // 16px*0.625=10px - it makes defining rem sizes easier
}
body {
  font-family: "Rubik";
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2.7rem;

  &.page {
    margin-bottom: 0;
  }
}
p {
  font-family: "Rubik";
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2.7rem;
  margin: 15px 0;
}
a {
  text-decoration: none;
  color: $primary;
  transition: all 300ms;

  &:hover {
    color: $darkPrimary;
  }

  &:visited {
    color: $primary;

    &:hover {
      color: $darkPrimary;
    }
  }
}
h1 {
  font-family: "Rubik";
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 4.1rem;
  margin: 20px 0;
}
h2 {
  font-family: "Rubik";
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 3.7rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
::selection {
  background: #f5cfd1;
}

// GENERAL CLASSES
#page {
}
.container {
  @include center-with-padding(
    $containerWidth,
    $containerWidth + 2 * $sidePadding,
    $sidePadding
  );
}
.container-no-padding {
  @include center($containerWidth + 2 * $sidePadding);
}
.container-1250 {
  @include center-with-padding(1250px, 1250 + 2 * $sidePadding, $sidePadding);
}
.center-1300 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1250 {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-1117 {
  width: 100%;
  max-width: 1117px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.text-center {
  text-align: center;
}
.spinning-icon {
  @include animation-spinning();
}
.stbase-page {
  padding-top: 140px;
  background: linear-gradient(to bottom, #edf0f2 0%, white 105px);

  ul {
    li {
      a {
        word-wrap: break-word;
      }
    }
  }

  &.no-padding-top {
    padding-top: 0;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
  }
}

// BLOCK CLASSES
.block-margin {
  margin-top: $blockVerticalMargin;
  margin-bottom: $blockVerticalMargin;

  @media (max-width: 500px) {
    margin-top: $blockMobileVerticalMargin;
    margin-bottom: $blockMobileVerticalMargin;
  }
}
.top-block-margin {
  margin-top: $blockVerticalMargin;

  @media (max-width: 500px) {
    margin-top: $blockMobileVerticalMargin;
  }
}
.bottom-block-margin {
  margin-bottom: $blockVerticalMargin;

  @media (max-width: 500px) {
    margin-bottom: $blockMobileVerticalMargin;
  }
}
.top-negative-block-margin {
  margin-top: -$blockVerticalMargin;

  @media (max-width: 500px) {
    margin-top: -$blockMobileVerticalMargin;
  }
}
.bottom-negative-block-margin {
  margin-bottom: -$blockVerticalMargin;

  @media (max-width: 500px) {
    margin-bottom: -$blockMobileVerticalMargin;
  }
}
.block-with-background {
  .container {
    padding-top: $blockBCVerticalPadding;
    padding-bottom: $blockBCVerticalPadding;

    @media (max-width: 500px) {
      padding-top: $blockBCMobileVerticalPadding;
      padding-bottom: $blockBCMobileVerticalPadding;
    }
  }

  & + .block-with-background {
    margin-top: -$blockVerticalMargin;

    @media (max-width: 500px) {
      margin-top: -$blockMobileVerticalMargin;
    }
  }
}
.fact-narrow-content-block {
  max-width: 1130px;
  margin: 30px auto;
  padding-left: 51px;
  padding-right: 51px;

  &:last-child {
    margin-bottom: $blockVerticalMargin;
  }

  @media (max-width: 960px) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (max-width: 620px) {
    padding-left: 34px;
    padding-right: 34px;

    &:last-child {
      margin-bottom: $blockBCMobileVerticalPadding;
    }
  }
}

// GENERAL OBJECTS
a.st-button-link,
button.st-button {
  padding: 20px 32px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #f2000c;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: none;
  position: relative;
  overflow: hidden;
  transition: 300ms all;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;

  &.center {
    justify-content: center;
  }

  i {
    margin-right: 9px;
    opacity: 0.6;
    font-size: 14px;
    color: white;
    transition: 300ms color;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadee1;
    transform: scaleY(0.5) rotateZ(10deg) scaleX(1.5) translateY(98px);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:visited {
    color: white;
  }

  &:visited:hover {
    color: black;
  }

  &:hover {
    color: black;
    transform: translateY(-3px);

    &:before {
      transform: scaleX(1);
    }

    i {
      color: $primary;
    }
  }
}
.st-button-white {
  border-radius: 3px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  background-color: white;
  color: $primary;
  //border: 1px solid @red;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;

  .fa-angle-right {
    margin-right: 9px;
    opacity: 0.6;
    font-size: 14px;
    color: $primary;
  }

  &:hover {
    border-color: $primary;

    .fa-angle-right {
      color: white;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f88085;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }

  &:visited:hover {
    color: white;
  }
}
.st-image-wrapper {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
[data-scroll-to] {
  cursor: pointer;
}
.stbase-jqueryui-tabs {
  border: none;

  ul {
    margin: 0;
    background-color: transparent;
    border: none;
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #eee;
    border-bottom: 3px solid #f2000c;

    li {
      border: none;
      padding-left: 0;
      float: none;
      display: inline-block;
      padding-left: 18px;
      padding-right: 18px;
      text-indent: 0;
      margin-bottom: -1px;

      a {
        padding-left: 0;
        padding-right: 0;
        float: none;
        display: inline-block;
        color: #444;
        font-size: 30px;
        text-decoration: none;
        padding: 10px;
      }

      &.ui-tabs-active {
        background-color: #f2000c;
        border: none;

        a {
          color: white;
        }
      }

      &:before {
        display: none;
      }
    }
  }
}
.st-styled-radio,
.st-styled-checkbox {
  input {
    position: absolute;
    left: -9999px;
  }

  label {
    padding-left: 38px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    margin-bottom: 10px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 26px;
      height: 26px;
      border: 2px solid #626669;
      border-radius: 100%;
      background: #fff;
      box-sizing: border-box;
    }

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      background: #626669;
      position: absolute;
      top: 7px;
      left: 7px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }

  input:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.st-styled-checkbox {
  label {
    &:before,
    &:after {
      border-radius: 0;
    }
  }
}
ul:not(.menu):not(.sub-menu):not(.list-no) {
  margin-left: 33px;
  padding-left: 0;

  li {
    font-family: "Rubik";
    font-size: 18px;
    line-height: 27px;

    &::marker {
      // color: $primary;
    }
  }
}
#video-popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-content: center;
  z-index: 1000;
  display: none;
  cursor: pointer;

  &.opened {
    display: flex;

    iframe {
      max-width: 90%;
    }
  }
}
.show-more-text-item {
  .show-more-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    overflow: hidden;

    ul {
      li {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  .show-more-link {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #f2000c;
    margin-top: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      margin-right: 8px;
      font-size: 12px;
      transition: 400ms transform;
    }

    .less {
      display: none;
    }
  }

  .show-more-text.opened + .show-more-link {
    i {
      transform: rotateZ(180deg);
    }

    span {
      &.less {
        display: inline-block;
      }

      &.more {
        display: none;
      }
    }
  }
}
.show-more-before-after-text-item {
  .show-more-second-text {
    overflow: hidden;
  }

  .show-more-link {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #f2000c;
    margin-top: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      margin-right: 8px;
      font-size: 12px;
      transition: 400ms transform;
    }

    .less {
      display: none;
    }
  }

  .show-more-second-text:not([style="height: 0px;"]) + .show-more-link {
    i {
      transform: rotateZ(180deg);
    }

    span {
      &.less {
        display: inline-block;
      }

      &.more {
        display: none;
      }
    }
  }
}
#contact-popup-trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2000c;
  border: 8px solid #f5cfd1;
  border-radius: 50%;
  // transform: scale(0.5);
  // opacity: 0;
  cursor: pointer;
  transition: transform 0.25s 1s cubic-bezier(0.175, 0.885, 0.32, 1.75),
    opacity 0.2s 1s, width 300ms, height 300ms, right 300ms, bottom 300ms;

  i {
    font-size: 25px;
    color: white;
    margin-bottom: 2px;
    margin-top: -3px;
    background-color: transparent !important;
    padding: 0 !important;
    border-radius: unset !important;
    border: unset !important;
  }

  span {
    color: #ffffff;
    font-family: Rubik;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }

  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #f2000c;
  //   content: " ";
  //   z-index: -1;
  //   border-radius: 50%;
  // }

  &:hover {
    width: 100px;
    height: 100px;
    bottom: 14px;
    right: 14px;

    // &:before {
    //   transform: scale(1.5);
    //   opacity: 0;
    //   transition: all 300ms;
    // }
  }
}

// for animations
.zoom-in-on-scroll {
  overflow: hidden;

  picture {
    overflow: hidden;

    img {
      transform: scale(1.2);
      transition: 0s all;
    }
  }

  &.scrolled-to {
    picture {
      img {
        transition: 2s all;
        transform: none;
      }
    }
  }
}

.zoom-out-on-scroll {
  overflow: hidden;

  picture {
    img {
      transition: 2s all;
    }
  }

  &.scrolled-to {
    picture {
      img {
        transform: scale(1.2);
      }
    }
  }
}

// GENERAL LAYOUT

body.admin-bar {
  #masthead {
    top: 32px;
  }
}
