@mixin center($width) {
  width: 100%;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin center-with-padding($width, $maxWidth, $paddX) {
  @include center($width);

  @media (max-width: $maxWidth) {
    padding-left: $paddX;
    padding-right: $paddX;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
}

@mixin no-text-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

@mixin truncate($maxWidth) {
  max-width: $maxWidth;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin triangle($direction: down, $size: 1rem, $color: #000) {
  // code from darkchris
  width: 0;
  height: 0;
  @if ($direction == left) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  } @else if ($direction == right) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if ($direction == down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  } @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
}

@mixin unselectable {
  user-select: none;
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
    background-color: transparent;
    outline: 0;
  }
}

@mixin linear-gradient-bc-vertical($startColor, $endColor) {
  background: linear-gradient(to bottom, $startColor 0%, $endColor 100%);
}

// this mixin should be included in the page scss when the first block is a gray one (intro-.. something)
@mixin gray-top-header() {
  header#masthead:not(.addshadow) {
    background-color: rgba(237, 240, 242, 0.9);

    .container {
      #site-navigation {
        ul {
          li {
            ul.sub-menu {
              background-color: rgba(237, 240, 242, 0.95);
            }
          }
        }
      }
    }

    @media (max-width: $headerMobileBP) {
      background-color: rgba(237, 240, 242, 1);

      .container {
        #site-navigation {
          ul {
            li {
              ul.sub-menu {
                background-color: rgba(237, 240, 242, 1);
              }
            }
          }
        }
      }
    }
  }
}
