// VARIABLES
$primary: #f2000c;
$darkPrimary: #8d0007;
$lighterPrimary: #f54c54;
$lightestPrimary: #f7666d;
$textColor: #303030;
$containerWidth: 1300px;
$sidePadding: 25px;

$stylesheetUrl: "/wp-content/themes/st-base-theme";

$mobileBreakpoint: 768px;

$headerMobileBP: 910px;

// BLOCKS
$blockVerticalMargin: 77px;
$blockMobileVerticalMargin: 60px;
$blockBCVerticalPadding: 67px;
$blockBCMobileVerticalPadding: 60px;

// Z-iNDEXES (intellisense easier that way)
$ZINDEX_POPUP: 1000;
$ZINDEX_MASK: 999;
$ZINDEX_COOKIE: 950;
$ZINDEX_HEADER: 949;
$ZINDEX_ABOVE_TEXT: 100;
$ZINDEX_TEXT_3: 3;
$ZINDEX_TEXT_2: 2;
$ZINDEX_TEXT_1: 1;
$ZINDEX_BC: 0;
