.contact-us-section {
  background-color: #fff6f5;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 110px;
    align-items: stretch;
    // margin-top: 50px;

    .contact-column-1 {
      width: 44%;

      h2 {
        font-family: "Rubik";
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: $primary;
        margin-bottom: 13px;
      }

      .contact-us-text {
        p {
          font-size: 30px;
          line-height: 36px;
          color: black;
          font-weight: 300;
        }
      }

      form.wpcf7-form {
        max-width: 445px;
        margin-top: 65px;

        .form-row {
          .field-group {
            width: 100%;
            position: relative;

            label {
              color: #4b4646;
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              position: relative;
              top: 17px;
              transition: all 250ms;
              display: inline-block;
              position: absolute;
            }

            input {
              width: 100%;
              color: #4b4646;
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
              padding-bottom: 6px;
              border: none;
              background: transparent;
              border-bottom: 1.3px solid rgba(242, 0, 12, 0.2);
              transition: all 400ms;
              padding-left: 0;
              border-radius: 0;
            }

            textarea {
              width: 100%;
              height: 80px;
              color: #4b4646;
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              padding-bottom: 8px;
              border: none;
              background: transparent;
              border-bottom: 1.3px solid rgba(242, 0, 12, 0.2);
              padding-left: 0;
              border-radius: 0;
            }

            span[data-name="your-message"] {
              display: block;
              height: 80px;
            }

            &:after {
              content: "";
              display: block;
              width: 0;
              height: 1.5px;
              background: $primary;
              position: absolute;
              bottom: 1.5px;
              transition: 250ms all;
              left: 50%;
              position: relative;
              z-index: 100;
            }

            &.focus {
              &:after {
                width: 100%;
                transform: translateX(-50%);
              }
            }

            &.filled {
              label {
                font-size: 12px;
                top: 9px;
                color: $primary;
              }

              &.safari {
                label {
                  opacity: 0.1;
                }
              }
            }
          }

          &.column-2 {
            display: flex;
            justify-content: space-between;

            .field-group {
              width: 48%;
            }

            @media (max-width: 400px) {
              flex-direction: column;

              .field-group {
                width: 100%;

                &:last-child {
                  margin-top: 30px;
                }
              }
            }
          }

          &.captcha {
            .field-group {
              img.wpcf7-form-control {
                float: right;
                position: relative;
                top: 15px;
              }
            }
          }

          & + .form-row {
            margin-top: 20px;

            &.swisst-hp {
              margin-top: 0;
            }
          }

          .wpcf7-acceptance {
            .wpcf7-list-item {
              margin-left: 0;

              label {
                input {
                  position: absolute;
                  left: -9999px;
                }

                .wpcf7-list-item-label {
                  display: block;
                  padding-left: 27px;
                  cursor: pointer;
                  position: relative;

                  a {
                    color: $primary;
                  }

                  &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 20px;
                    height: 20px;
                    border: 2px solid rgba(242, 0, 12, 0.2);
                    // border-radius: 100%;
                    background: #fff;
                    box-sizing: border-box;
                  }

                  &:after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: $primary;
                    position: absolute;
                    top: 10px;
                    left: 6px;
                    // border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                  }
                }

                input:not(:checked) + .wpcf7-list-item-label:after {
                  opacity: 0;
                  -webkit-transform: scale(0);
                  transform: scale(0);
                }
              }
            }
          }

          &.last {
            margin: 30px 0;
          }
        }

        button[type="submit"] {
          margin-top: 15px;
          padding-left: 45px;
          padding-right: 45px;
          cursor: pointer;
        }

        .wpcf7 form.sent .wpcf7-response-output {
          border: none;
          background-color: rgba(0, 255, 0, 0.1);
          margin: 30px 0 0;
          font-weight: 500;
        }
      }
    }

    .contact-column-2 {
      width: 44%;
      display: flex;
      flex-direction: column;

      // img {
      //   margin-bottom: 60px;
      // }

      .contact-cup-animation {
        /* width: 400px; */
        height: 260px;
        position: relative;
        overflow: hidden;
        // left: -46px;
        /* top: -13px; */

        lottie-player {
          position: absolute;
          top: -117px;
          left: -100px;
        }

        @media (max-width: 1200px) {
          width: 400px;
          height: 200px;
          // left: -120px;
          top: -13px;

          lottie-player {
            width: 400px !important;
            height: 400px !important;
            top: -75px;
            left: -30px;
          }
        }

        @media (max-width: 1000px) {
          width: 240px;
          height: 200px;
          // left: -60px;

          lottie-player {
            top: -75px;
            left: -90px;
          }
        }

        @media (max-width: 730px) {
          left: -50px;
        }
      }

      #contact-informations {
        // margin-top: auto;

        a {
          font-family: "Rubik";
          font-size: 16px;
          line-height: 19px;
          font-weight: 600;
          color: rgba(242, 0, 12, 0.41);
          cursor: pointer;
        }

        #city-list {
          a {
            & + a {
              margin-left: 24px;
            }

            &:hover {
              color: $primary;
            }

            &.selected {
              color: $primary;
            }

            @media (max-width: 995px) {
              & + a {
                margin-left: 15px;
              }
            }

            @media (max-width: 400px) {
              & + a {
                margin-left: 10px;
              }
            }
          }
        }

        .contact-info-text {
          margin: 20px 0 35px;
          max-width: 330px;
          transition: all 300ms;

          h3 {
            font-family: "Rubik";
            font-size: 15px;
            line-height: 18px;
            color: #f2000c;
            font-weight: 600;
            margin-bottom: 13px;
            text-transform: uppercase;
          }

          p {
            font-family: "Rubik";
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $textColor;
          }

          a {
            color: $primary;
            font-weight: normal;

            &:hover {
              text-decoration: underline;
            }
          }

          &.selected {
            display: block;
          }
        }

        @media (min-width: 631px) and (max-width: 1200px) {
          margin-top: 30px;
        }
      }

      a.contact-social-icon {
        margin: 29px 0 0 0;

        i.fab {
          color: $textColor;
          font-size: 24px;
          transition: 300ms all;
        }

        &:hover {
          i.fab {
            color: $primary;
          }
        }

        & + .contact-social-icon {
          margin-left: 33px;
        }
      }
    }

    @media (max-width: 900px) {
      padding: 60px 25px;

      .contact-column-1 {
        width: 45%;
      }

      .contact-column-2 {
        width: 47%;
      }
    }

    @media (max-width: 630px) {
      flex-direction: column;

      .contact-column-1 {
        width: 100%;

        h2 {
          text-align: center;
        }

        .contact-us-text {
          text-align: center;
        }

        form.wpcf7-form {
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;

          p {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .wpcf7-list-item {
            margin-left: 0;
          }
        }
      }

      .contact-column-2 {
        width: 100%;
        text-align: center;
        margin-top: 40px;

        .contact-cup-animation {
          position: relative;
          left: 7px;
          top: unset;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 50px;

          lottie-player {
            top: -75px;
            left: -90px;
          }
        }

        #contact-informations {
          a {
            &:last-child {
              margin-right: 0;
            }
          }

          .contact-info-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    &.mod-on-de {
      padding: 0;

      .contact-column-1 {
        width: 50%;
        padding: 55px 100px 30px 110px;

        h2 {
          margin-top: 0;
        }

        form.wpcf7-form {
          margin-top: 30px;

          .form-row {
            & + .form-row {
              margin-top: 21px;
            }
          }
        }
      }

      .contact-column-2 {
        width: 50%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 187px;
          left: -57px;
          top: 30px;
          position: relative;
          margin-bottom: 0;
        }

        #contact-informations {
          #contact-zurich {
            width: 337px;
            background-color: #fff6f5;
            padding: 40px 40px 33px 0;
            margin: 0;
          }
        }

        a.contact-social-icon {
          display: none;
        }
      }

      @media (max-width: 1000px) {
        .contact-column-1 {
          padding: 30px 50px 30px 30px;
        }
      }

      @media (min-width: 631px) and (max-width: 775px) {
        .contact-column-1 {
          padding-left: 25px;
          padding-right: 25px;
          width: 60%;
        }

        .contact-column-2 {
          width: 40%;
          background-position-x: -80px;

          #contact-informations #contact-zurich {
            width: 100%;
            padding-right: 25px;
          }
        }
      }

      @media (min-width: 631px) and (max-width: 705px) {
        .contact-column-2 {
          #contact-informations {
            #contact-zurich {
              p {
                font-size: 14px;
                line-height: 18px;

                a {
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      @media (max-width: 630px) {
        flex-direction: column;

        .contact-column-1 {
          width: 100%;
          padding: 30px;
        }

        .contact-column-2 {
          width: 100%;
          height: auto;
          align-items: center;
          background-image: none !important;

          img {
            position: static;
          }

          #contact-informations {
            #contact-info-text {
              width: 377px;
              padding-left: 40px;
            }

            #contact-zurich {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  &.compact {
    .container {
      .contact-column-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      .contact-column-2 {
        .contact-cup-animation {
          height: 227px;
        }
      }
    }

    @media (min-width: 631px) and (max-width: 900px) {
      .container {
        .contact-column-1 {
          width: 52%;
        }

        .contact-column-2 {
          width: 40%;

          .contact-cup-animation {
            left: 0;
          }
        }
      }
    }

    @media (max-width: 630px) {
      .container {
        .contact-column-1 {
          display: flex;
          flex-direction: column;
          align-items: center;

          a.st-button-link {
            margin-top: 20px;
          }
        }

        .contact-column-2 {
          .contact-cup-animation {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
