/* Styles of  */

.cookie {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0;
  transform: translateY(calc(100% + 1px));
  visibility: hidden;
  transition: transform 0.5s;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $ZINDEX_COOKIE;

  &.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: transform 0.5s 1s;
  }

  &.hide {
    display: none;
  }

  &__text {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin: 0 10px 0 0;

    @media (max-width: 700px) {
      margin: 0 0 10px;
    }
  }
  &__url {
    font-size: 14px;
    line-height: 22px;
    color: $primary;

    &:visited {
      color: $primary;
    }
  }

  button.st-button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }

  @media (max-width: 700px) {
    flex-flow: column;

    button.st-button {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
