#footer-wrapper {
  background-color: #171719;

  footer#colophon {
    padding: 40px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    #footer-logo-wrapper {
      width: 23%;
    }

    #footer-pivacy-policy-wrapper {
      width: 25%;
      text-align: center;

      a {
        font-family: "Rubik";
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        color: white;

        &:hover {
          color: $primary;
        }
      }
    }

    #footer-text {
      width: 25%;

      p {
        font-family: "Rubik";
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6);

        &:first-child {
          margin-top: 0;
        }
      }

      a {
        color: white;

        &:hover {
          color: $primary;
        }
      }
    }

    #footer-social-links {
      width: 25%;
      display: flex;
      justify-content: flex-start;

      a {
        font-size: 24px;
        line-height: 24px;
        color: white;
        margin-right: 33px;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }

    &:before,
    &:after {
      display: none;
    }

    @media (max-width: 1030px) {
      padding: 30px 25px;

      #footer-logo-wrapper {
        width: 20%;
      }

      #footer-pivacy-policy-wrapper {
        width: 22%;
      }

      #footer-social-links {
        justify-content: center;

        a {
          margin-right: 0;

          & + a {
            margin-left: 24px;
          }
        }
      }
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
      align-items: center;

      #footer-logo-wrapper {
        width: 100%;
        text-align: center;
      }

      #footer-pivacy-policy-wrapper {
        width: 100%;
        margin: 20px 0 0;
      }

      #footer-text {
        margin: 20px 0;
        width: 100%;
        text-align: center;
      }

      #footer-social-links {
        width: 100%;
      }
    }

    &.de-DE {
      @media (min-width: 795px) and (max-width: 890px) {
        #footer-text {
          p {
            a {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      @media (min-width: 701px) and (max-width: 794px) {
        #footer-text {
          p {
            a {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
