header#masthead {
  padding-top: 35px;
  // padding-bottom: 10px;
  width: 100%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  transition: all 300ms;
  backdrop-filter: blur(10px);

  @media (min-width: 911px) and (max-width: 1180px) {
    padding-bottom: 68px;
  }

  &.addshadow {
    padding-top: 14px;
    //box-shadow: 0 2px 2px 0 rgba(71, 0, 4, 0.28);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
    animation-duration: 4s;
    background-color: white;

    .container #site-navigation ul li ul.sub-menu {
      //box-shadow: 0 2px 2px 0 rgba(71, 0, 4, 0.28);
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
      background-color: white !important;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;

    .site-branding {
      padding-bottom: 10px;
    }

    @media (max-width: $headerMobileBP) {
      padding-bottom: 10px;
      flex-wrap: wrap;

      .site-branding {
        padding-bottom: 0;

        a.custom-logo-link {
          img {
            height: 38px;
            width: auto;
          }
        }
      }
    }

    button.menu-toggle {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      display: none;

      span {
        width: 25px;
        height: 3px;
        background-color: $primary;
        margin: 6px 0;
        transition: all 400ms;
        display: block;
      }

      &.toggled {
        .bar1 {
          transform: rotate(-45deg) translate(-11.8px, 1.2px);
        }

        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          .bar1 {
            transform: rotate(-45deg) translate(-12px, 1.4px);
          }
        }

        @media screen and (min--moz-device-pixel-ratio: 0) {
          .bar1 {
            transform: rotate(-45deg) translate(-11.5px, 1px);
          }
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          transform: rotate(45deg) translate(-11px, -1px);
        }
      }

      @media (max-width: $headerMobileBP) {
        display: inline-block;
      }
    }

    #site-navigation {
      width: auto;
      float: none;
      clear: none;

      ul {
        display: flex;
        justify-content: end;
        list-style: none;
        padding-left: 0;
        margin-top: 14px;

        li {
          padding-bottom: 10px;

          a {
            color: #000000;
            font-size: 17px;
            font-weight: 300;
            line-height: 20px;
            padding: 2px 2px 20px;
            margin: 0 16px;
            border-bottom: 2px solid transparent;

            &:hover {
              color: $primary;
            }

            i {
              display: none;
            }

            @media (min-width: 1001px) and (max-width: 1140px) {
              /* font-size: 16px !important; */
              margin: 0 14px;
            }

            @media (min-width: 910px) and (max-width: 1000px) {
              /* font-size: 15px; */
              margin: 0 10px;
            }
          }

          &.current-menu-parent,
          &.current-menu-item {
            a {
              color: $primary;
            }

            ul {
              li {
                a {
                  color: #000000;

                  &:hover {
                    color: $primary;
                  }
                }

                &.current-menu-item {
                  a {
                    color: $primary;
                  }
                }
              }
            }
          }

          &:hover {
            & > a {
              color: $primary;
              border-bottom: 2px solid $primary;
              position: relative;

              &:after {
                width: 100%;
                height: 1.5px;
                background-color: $primary;
                content: " ";
                position: absolute;
                z-index: $ZINDEX_TEXT_2;
                left: 0;
                bottom: -2px;
              }
            }
          }

          &:last-child {
            a {
              margin-right: 0;
            }
          }

          ul.sub-menu {
            //box-shadow: none;
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
            //padding: 4px 0 10px;
            padding: 11px 18px 10px;
            background-color: white;
            //margin-top: 0;
            margin-top: -10px;
            display: flex;
            flex-direction: column;
            // margin-top: 11px;
            // left: auto;

            li {
              padding-bottom: 0;

              a {
                border-bottom: none;
                width: 500px;
                padding: 7px 0 10px 4px;
                margin: 0;
                max-width: 310px;
                text-transform: capitalize;

                &:hover {
                  &:after {
                    display: none;
                  }
                }

                span {
                  text-transform: none;
                }
              }

              &:hover {
                a {
                  &::after {
                    display: none;
                  }
                }
              }

              &.current-menu-item {
                a {
                  border-bottom: none;
                }
              }
            }
          }

          &.wpml-ls-item {
            & > a {
              text-transform: uppercase;
              color: rgba(0, 0, 0, 0.55);
              font-family: Rubik;
              font-size: 15px;
              font-weight: 300;
              letter-spacing: 0;
              line-height: 18px;
              position: relative;
              top: 2.5px;

              @media (min-width: 911px) and (max-width: 1180px) {
                font-size: 14px;
              }

              &:after {
                display: block;
                content: "";
                width: 10px;
                height: 6px;
                background: url("/wp-content/themes/st-base-theme/assets/imgs/menu-arrow-up.svg")
                  no-repeat transparent;
                position: absolute;
                top: calc(50% - 3px);
                right: -12px;
                transform: rotateZ(180deg);
                transition: 200ms all;
              }
            }

            &:hover {
              & > a {
                color: rgba(0, 0, 0, 0.55);

                &:after {
                  transform: rotateZ(0);
                  left: unset;
                }
              }
            }

            ul.sub-menu {
              padding: 0;
              padding-bottom: 18px;
              // margin-top: -17px;
              margin-top: 3px;
              margin-left: -1px;

              li {
                a {
                  text-transform: uppercase;
                  color: rgba(0, 0, 0, 0.55);
                  font-family: Rubik;
                  font-size: 15px;
                  font-weight: 300;
                  letter-spacing: 0;
                  line-height: 18px;
                  padding-left: 3px;
                  padding-bottom: 0;
                  padding-top: 5px;
                  margin-right: 22px;
                  width: auto;

                  &:after {
                    display: none;
                  }

                  &:hover {
                    color: $primary;
                  }
                }
              }
            }
          }

          .leftauto {
            left: auto; // ez a magasság kiszámításához kell
          }
        }

        &#secondary-menu {
          align-items: stretch;
          gap: 20px;

          @media (max-width: 910px) {
            justify-content: space-between;

            .menu-btn {
              a {
                margin-left: 0;
              }
            }
          }

          li {
            padding-bottom: 0;

            &.wpml-ls-item {
              padding-right: 12px;
              margin-right: 0;
              display: flex;
              align-items: stretch;

              a {
                border-bottom: none;
              }
              
              .sub-menu {
                margin-top: 0;
                padding-bottom: 0;

                .wpml-ls-item {
                  margin-right: 0;
                  justify-content: center;
                  padding-right: 0;

                  &:first-child a {
                    padding-top: 18px;
                  }

                  &:last-child a {
                    padding-bottom: 18px;
                  }

                  a {
                    margin: 0;
                    padding: 9px 18px;
                  }
                }
              }
            }

            a {
              padding: 0;
            }

            &.menu-btn {
              a {
                padding: 12px 15px;
                text-align: center;
                text-decoration: none;
                background-color: $primary;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                transform: perspective(1px) translateZ(0);
                box-shadow: none;
                position: relative;
                overflow: hidden;
                transition: 300ms all;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;
                border: none;

                @media (min-width: 911px) and (max-width: 1180px) {
                  font-size: 13px;
                }

                &::before {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background: #dadee1;
                  transform: scaleY(0.5) rotateZ(10deg) scaleX(1.5) translateY(98px);
                  transform-origin: 50% 100%;
                  transition-property: transform;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;
                }

                &::after {
                  display: none;
                }

                &:hover {
                  color: black;
                  transform: translateY(-3px);

                  i {
                    color: $primary;
                  }
                }

                i {
                  display: inline-block;
                  margin-right: 9px;
                  opacity: 0.6;
                  font-size: 14px;
                  color: white;
                  transition: 300ms color;
                }
              }
            }

            &:hover {
              a::before {
                transform: scaleX(1);
              }
            }
          }
        }
      }

      @media (min-width: 911px) and (max-width: 1180px) {
        #primary-menu-container {
          position: absolute;
          bottom: 0;
          left: 25px;
          right: 25px;

          ul {
            justify-content: space-between;
          }
        }
      }

      @media (min-width: 1041px) and (max-width: 1300px) {
        ul#primary-menu {
          li {
            a {
              padding: 10px 5px;
              margin-left: 10px;
              margin-right: 10px;
            }

            &.wpml-ls-item {
              & > a {
                &:after {
                  top: 16px;
                }
              }

              ul.sub-menu {
                // margin-top: -13px;

                li {
                  a {
                    padding-left: 7px;

                    &:first-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 931px) and (max-width: 1040px) {
        ul#primary-menu {
          li {
            a {
              font-size: 15px;
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }
      }

      @media (min-width: 911px) and (max-width: 930px) {
        ul#primary-menu {
          li {
            a {
              font-size: 15px;
              margin-left: 4px;
              margin-right: 4px;
            }
          }
        }
      }

      @media (max-width: $headerMobileBP) {
        position: relative;
        display: none;
        width: 100% !important;

        ul#primary-menu {
          display: flex;
          flex-direction: column;
          padding: 10px 0;

          li {
            width: 100%;
            float: none;
            margin: 5px 0 5px;
            background-color: rgba(0, 0, 0, 0.02);
            padding-bottom: 0;

            a {
              margin: 0;
              padding: 10px;
              text-transform: uppercase;
              border-bottom: 1px solid transparent;
              font-weight: 400;
              font-size: 16px;
              color: $textColor;
              //text-align: center;

              i {
                float: right;
                color: #dfdfdf;
                font-size: 20px;
                position: relative;
                top: 1px;
              }
            }

            &:hover {
              a:after {
                display: none;
              }
            }

            &.menu-item-has-children {
              a {
                i {
                  &.fa-plus {
                    display: inline-block;
                  }
                }
              }
            }

            ul.sub-menu {
              float: none;
              position: static;
              margin: 0 0 10px;
              background-color: transparent !important;
              padding: 0;
              display: none;
              width: 100% !important;
              box-shadow: none;

              li {
                background-color: transparent;

                a {
                  text-transform: capitalize;
                  border: none;
                  font-size: 14px;
                  width: 100%;
                  color: $textColor;
                  padding: 5px 10px;

                  i.fa-plus,
                  i.fa-minus {
                    display: none;
                  }

                  &:focus,
                  &:active,
                  &.highlighted {
                    color: $primary;
                  }
                }

                &:first-child {
                  margin-top: 0;
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }

            &.wpml-ls-item {
              display: flex;
              width: 40px;

              & > a {
                color: $primary;

                &:after,
                i {
                  display: none !important;
                }
              }

              ul.sub-menu {
                display: flex;
                flex-direction: row;
                margin-bottom: 0;
                box-shadow: none;

                li {
                  margin-bottom: 0;
                  margin-top: 0;
                  width: 50px;

                  a {
                    margin-right: 0;
                    font-size: 16px;
                    line-height: 18px;
                    padding: 10px;
                  }
                }
              }
            }

            &.expanded {
              a {
                color: $primary;

                i {
                  &.fa-plus {
                    display: none;
                  }

                  &.fa-minus {
                    display: inline-block;
                  }
                }
              }

              ul.sub-menu {
                li {
                  a {
                    i.fa-plus,
                    i.fa-minus {
                      display: none;
                    }
                  }
                }
              }
            }

            &.current-menu-item:not(.menu-item-has-children) {
              a {
                color: $primary;
              }
            }
          }
        }

        // &.toggled {
        //   display: block;
        // }
      }
    }
  }

  @media (max-width: 1350px) {
    .container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
