.stbase-hero {
  .container {
    .hero-slide {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 474px;

      .dark-layer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 50px;
        
        h1 {
          color: #FFFFFF;
          text-align: center;
          text-transform: uppercase;
          margin: 25px 0;
        }

        p {
          color: #FFFFFF;
          font-family: "Open Sans";
          font-size: 18px;
          letter-spacing: 0;
          line-height: 24px;
          text-align: center;
          margin-bottom: 0;
          max-width: 412px;
          font-weight: 500;
        }
      }
    }

    @media (max-width: 1350px) {
      padding-left: 0;
      padding-right: 0;

      .hero-slide {
        .dark-layer {
          padding-left: $sidePadding;
          padding-right: $sidePadding;
        }
      }
    }
  }
}