// main: ../swisstomato2.less

.masonry-references-list-section {
  .masonry-references-intro {
    max-width: 1117px;
    margin-top: 60px;

    h1,
    h2 {
      &.intro-title {
        color: #f2000c;
        font-family: Rubik;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 19px;
        margin: 0 0 13px;
        font-weight: 400;
        max-width: 922px;
      }
    }

    #references-intro-text {
      p {
        color: #110f24;
        font-family: Rubik;
        font-size: 42px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 52px;
        margin: 0;
        max-width: 922px;

        & + p {
          margin-top: 11px;
        }
      }
    }

    #filter-section {
      margin-top: 95px;
      max-width: 922px;

      .filter-area {
        .filter-boxes {
          display: flex;

          .filter-box {
            opacity: 0.25;
            color: #1c1c1c;
            font-family: Rubik;
            font-size: 24px;
            letter-spacing: 0;
            line-height: 28px;
            position: relative;
            transition: all 0.3s ease-in-out 0s;
            margin-right: 30px;

            &:before {
              content: "";
              position: absolute;
              width: 1%;
              height: 1.5px;
              bottom: -3px;
              left: 0;
              background-color: #f2000c;
              visibility: hidden;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }

            &.selected {
              opacity: 0.85;

              &:before {
                width: 100%;
                visibility: visible;
              }
            }
          }

          .fa-spinner {
            align-self: center;
            font-size: 28px;
            line-height: 28px;
            color: #f2000c;
            opacity: 0.7;
            @include animation-spinning(1.5s);
            display: none;
          }
        }
      }

      &:not(.loading) {
        .filter-area {
          .filter-boxes {
            .filter-box {
              cursor: pointer;

              @media (hover: hover) {
                &:not(.selected):hover {
                  opacity: 0.5;

                  &:before {
                    width: 100%;
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
      }

      &.loading {
        .filter-area {
          .filter-boxes {
            .filter-box.selected {
              opacity: 0.25;
            }

            .fa-spinner {
              display: inline-block;
            }
          }
        }
      }
    }

    @media (max-width: 1170px) {
      #filter-section {
        flex-direction: column;
        align-items: center;

        h2 {
          text-align: center;
        }

        #platform-filter-area {
          margin-bottom: 20px;
        }
      }
    }

    @media (max-width: 910px) {
      margin-top: 10px;

      #filter-section {
        margin-top: 55px;
      }
    }

    @media (max-width: 700px) {
      #references-intro-text {
        p {
          font-size: 32px;
          line-height: 42px;
        }
      }

      #filter-section {
        margin-top: 25px;

        .filter-area {
          .filter-boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 50px) 40px;
            align-items: center;
            justify-items: flex-start;
            margin-bottom: -40px;
          }
        }
      }
    }

    @media (max-width: 540px) {
      margin-top: 20px;

      h1,
      h2 {
        &.intro-title {
          margin-bottom: 10px;
          font-size: 18px;
        }
      }

      #references-intro-text {
        p {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }

    @media (max-width: 405px) {
      #filter-section {
        .filter-area {
          .filter-boxes {
            grid-template-rows: repeat(2, 45px) 40px;

            .filter-box {
              font-size: 22px;
              line-height: 22px;
            }
          }
        }
      }
    }

    @media (max-width: 375px) {
      #filter-section {
        .filter-area {
          .filter-boxes {
            .filter-box {
              font-size: 20px;
            }
          }
        }
      }
    }

    @media (max-width: 355px) {
      #filter-section {
        .filter-area {
          .filter-boxes {
            .filter-box {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  h2.no-intro {
    color: #f2000c;
    font-family: Rubik;
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 39px;
    text-align: center;
    margin: 0 auto 60px;
    max-width: 1250px;
    width: 100%;

    @media (max-width: 1300px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .masonry-references-list.container {
    max-width: 1248px;
    position: relative;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20px;
    opacity: 0;
    transition: 100ms opacity;
    margin-top: 80px;

    .reference {
      position: relative;
      margin: 0;
      cursor: pointer;
      transition: 200ms all;
      opacity: 0;
      transform: translateY(50px);

      .reference__image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          vertical-align: middle;
          transition: 800ms all cubic-bezier(0.33, 1, 0.68, 1);
        }
      }

      .reference__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding: 35px 32px;

        h3 {
          color: white;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 28px;
          margin: 0 0 4px;
        }

        p {
          opacity: 0.7;
          color: #ffffff;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px;
          // max-height: calc(2 * 22px);
          // overflow: hidden;
          margin-top: 3px;
        }

        .reference__content__category {
          background-color: rgba(255, 255, 255, 0.2);
          padding: 1px 5px;
          color: rgba(255, 255, 255, 0.7);
          font-family: Rubik;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 22px;
          display: inline-block;
          text-transform: uppercase;
        }
      }

      &.black-layer {
        .reference__content {
          background: linear-gradient(
            180deg,
            rgba(40, 38, 57, 0.8) 0%,
            rgba(40, 38, 57, 0) 50%
          );
        }
      }

      &.scrolled-to,
      &.no-scroll {
        opacity: 1;
        transform: translateY(0);
      }

      &:hover {
        .reference__image-wrapper {
          img {
            transform: scale(1.1);
          }
        }
      }

      &:nth-child(2n + 1) {
        grid-column-start: 1;
      }

      &:nth-child(2n) {
        grid-column-start: 2;
      }

      // REBO image quick fix
      &[data-id="85108"],
      &[data-id="86417"],
      &[data-id="85920"] {
        &:not(:hover) {
          .reference__image-wrapper {
            img {
              transform: scale(1.03);
            }
          }
        }
      }
    }

    @media (min-width: 1150px) {
      .reference {
        .reference__content {
          [data-text-slide-from-up] {
            position: relative;
            overflow: hidden;

            &:after {
              content: attr(data-text-slide-from-up);
              display: block;
              position: absolute;
              // bottom: -40px;
              top: 0;
              transform: translateY(43px);
              left: 0;
              transition: 800ms all cubic-bezier(0.33, 1, 0.68, 1);
              color: white;
            }

            .text-slide-down {
              position: relative;
              // top: 0;
              transition: 800ms all cubic-bezier(0.33, 1, 0.68, 1);
              display: inline-block;
            }
          }
        }

        &:hover {
          .reference__content {
            [data-text-slide-from-up] {
              &:after {
                // bottom: 0;
                transform: translateY(0);
              }

              .text-slide-down {
                // top: -43px;
                transform: translateY(-43px);
              }
            }
          }
        }
      }
    }

    @media (min-width: 651px) and (max-width: 990px) {
      .reference {
        &.mobile-black-layer {
          .reference__content {
            background: linear-gradient(
              180deg,
              rgba(40, 38, 57, 0.8) 0%,
              rgba(40, 38, 57, 0) 80%
            );
          }
        }
      }
    }

    @media (min-width: 651px) and (max-width: 800px) {
      .reference {
        .reference__content {
          h3 {
            font-size: 20px;
            line-height: 24px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }

    @media (max-width: 650px) {
      display: block;
      max-width: 624px;
      margin-left: auto;
      margin-right: auto;

      h2 {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  .more-references {
    &:not(.no-scroll) {
      opacity: 0;
      transform: translateY(50px);
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease;

      &.scrolled-to {
        opacity: 1;
        transform: translateY(0);

        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }

  &.loading {
    position: relative;

    .masonry-references-list:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      content: " ";
      z-index: 2;
    }
  }

  @media (max-width: 700px) {
    .masonry-references-list.container {
      margin-top: 50px;
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 30px;

    .masonry-references-list.container {
      margin-bottom: 0;

      .reference {
        .reference__content {
          padding: 30px;

          h3 {
            text-shadow: 0 0 2px black;
          }

          p {
            text-shadow: 0 0 2px black;
          }
        }
      }
    }

    .more-references {
      margin-top: 30px;
    }
  }

  @media (max-width: 500px) {
    .masonry-references-list.container {
      .reference {
        &.mobile-black-layer {
          .reference__content {
            background: linear-gradient(
              180deg,
              rgba(40, 38, 57, 0.8) 0%,
              rgba(40, 38, 57, 0) 80%
            );
          }
        }
      }
    }
  }

  @media (max-width: 380px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

body.fr-FR {
  .masonry-references-list-section {
    @media (max-width: 540px) {
      .masonry-references-intro {
        #references-intro-text {
          p {
            font-size: 24px;
            line-height: 34px;
          }
        }
      }

      #filter-section {
        .filter-area {
          .filter-boxes {
            grid-template-columns: 1.5fr 1fr;

            .filter-box {
              font-size: 22px;
            }
          }
        }
      }
    }

    @media (max-width: 390px) {
      #filter-section {
        .filter-area {
          .filter-boxes {
            .filter-box {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

body.de-DE {
  .masonry-references-list-section {
    .masonry-references-intro {
      #references-intro-text {
        p {
          font-size: 34px;
          line-height: 45px;
        }
      }

      #filter-section {
        margin-top: 55px;
      }
    }

    @media (max-width: 700px) {
      .masonry-references-intro {
        // margin-top: 0;

        #references-intro-text {
          p {
            font-size: 28px;
            line-height: 38px;
          }
        }

        #filter-section {
          margin-top: 25px;
        }
      }

      .masonry-references-list-section {
        // margin-top: 40px;
      }
    }

    @media (max-width: 500px) {
      .masonry-references-intro {
        #references-intro-text {
          p {
            font-size: 24px;
            line-height: 34px;
          }
        }
      }
    }

    @media (max-width: 425px) {
      .masonry-references-intro {
        #references-intro-text {
          p {
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }

    @media (max-width: 414px) {
      .masonry-references-intro {
        #filter-section {
          .filter-area {
            .filter-boxes {
              .filter-box {
                font-size: 22px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 385px) {
      .masonry-references-intro {
        #filter-section {
          .filter-area {
            .filter-boxes {
              .filter-box {
                font-size: 18px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
