.stbase-fact-complexity-block {
  .complexity-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;

    .item {
      padding: 50px;
      display: grid;
      grid-template-columns: 29px auto;
      align-items: center;
      gap: 50px;
      background: #fdf3f2;
      max-width: 830px;
      width: 100%;

      .progress-bar-wrapper {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        width: 29px;
        height: 190px;
        border-radius: 14px;
        background-color: rgba(242, 0, 12, 0.1);
        overflow: hidden;
        grid-column: 1 / 2;

        .progress-bar {
          width: 28px;
          border-radius: 14px;
          background: linear-gradient(180deg, #a8a1ff 0%, #ff6869 100%);
          transition: transform 300ms ease-out;
          height: 170px;
        }
      }

      .item-content {
        grid-column: 2 / 3;

        header {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: #272621;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #000000;
          margin: 10px 0 0;
        }
      }
    }

    @media (max-width: 620px) {
      .item {
        padding: 30px;
        gap: 30px;
        align-items: flex-start;

        .item-content {
          header {
            font-size: 16px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
