.stbase-fact-team-block {
  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // align-items: flex-start;
    gap: 21px;
    width: 100%;

    .team-member {
      background: #fdf3f2;
      padding: 32px;

      header {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 150%;
        color: #1c1c1c;
        margin: 0 0 20px;
      }

      &:nth-child(5) {
        header {
          font-size: 18px;
        }
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;

      header {
        margin-bottom: 10px;
      }
    }
  }
}
