.stbase-fact-text-list-block {
  h4 {
    margin: 0 0 16px;
    font-size: 21px;
    line-height: 150%;
    max-width: 700px;
  }

  .text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    overflow: hidden;
    max-width: 700px;

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      overflow: hidden;
      margin: 0;

      & + p {
        margin-top: 18px;
      }
    }

    p + h4 {
      margin-top: 25px;
    }
  }

  .text-list {
    .text-item {
      margin-top: 23px;

      .number {
        width: 40px;
        height: 40px;
        background-color: #f2000c;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: white;
        margin-bottom: 8px;
      }
    }
  }

  @media (max-width: 620px) {
    h4 {
      font-size: 19.0203px;
      line-height: 150%;
    }

    .text {
      font-size: 16px;
      line-height: 150%;

      p {
        font-size: 16px;
        line-height: 150%;
      }
    }

    .show-more-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.stbase-fact-text-block + .stbase-fact-text-list-block {
  margin-top: -30px;
}
