.stbase-fact-image-text-boxes-block {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    column-gap: 18px;
    row-gap: 18px;

    .box {
      background: #edf0f2;

      img {
        width: 100%;
        height: auto;
      }

      .box__content {
        padding: 30px;

        .box__title {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: $primary;
          margin-bottom: 10px;
        }

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #1c1c1c;

          & + p {
            margin-top: 20px;
          }
        }
      }
    }

    &.odd {
      .box {
        &:last-child {
          grid-column: 1 / 3;
          width: 49%;
          justify-self: center;
        }
      }
    }

    @media (min-width: 551px) and (max-width: 860px) {
      .box {
        img {
          min-height: 200px;
          object-fit: cover;
        }

        .box__content {
          padding: 20px;

          p {
            font-size: 16px;
          }
        }
      }
    }

    @media (min-width: 551px) and (max-width: 650px) {
      .box {
        .box__content {
          .box__title {
            font-size: 16px;
          }

          p {
            font-size: 14px;
            margin: 10px 0;

            & + p {
              margin-top: 12px;
            }
          }
        }
      }
    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr;
      row-gap: 30px;

      .box {
        .box__content {
          p {
            font-size: 16px;
          }
        }
      }

      &.odd {
        .box {
          &:last-child {
            grid-column: unset;
            width: unset;
          }
        }
      }
    }
  }
}
