.stbase-fact-process-timing-block {
  .process-timing-step-list {
    max-width: 1167px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;

    .process-timing-step {
      border-right: 1px solid $primary;
      flex-basis: 0;
      flex-basis: 50%;
      border-left: none;
      border-right: 10px solid white;
      border-bottom: 10px solid white;

      .step-red-bc {
        border-bottom: 1px solid rgba(242, 0, 12, 0.06);
        background-color: rgba(242, 0, 12, 0.06);
        padding: 25px 25px 15px;
        width: 100%;
        height: 100%;
        // padding-bottom: 30px;
        position: relative;

        .step-number {
          color: $primary;
          font-family: "Rubik";
          font-size: 55px;
          font-weight: 300;
          line-height: 100%;
        }

        .step-title {
          margin-top: 13px;
          font-weight: 500;
          color: #303030;
          font-family: "Rubik";
          font-size: 18px;
          line-height: 27px;
          // max-width: 230px;
        }

        .step-timing {
          display: block;
          color: $primary;
          font-family: "Rubik";
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
          margin-bottom: 10px;
        }

        p {
          color: #303030;
          font-family: "Rubik";
          font-size: 18px;
          line-height: 27px;
          margin-top: 0;
          // max-width: 230px;
        }
      }

      &:first-child {
        .step-red-bc {
          border-left: none;
        }
      }

      &:nth-child(2n) {
        border-right: none;
      }

      // .transition-delay-loop(4);
    }

    @media (max-width: 880px) {
      flex-wrap: wrap;

      .process-timing-step {
        flex-basis: 50%;
        border-left: none;
        border-right: 10px solid white;
        border-bottom: 10px solid white;
        flex-grow: unset;

        .step-red-bc {
          border-left: 0;
          position: relative;

          .step-timing-on-mobile {
            display: block;
            color: $primary;
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 7px;
          }
        }

        &:nth-child(2n) {
          border-right: none;
        }
      }
    }

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: stretch;
      margin-top: 40px;

      .process-timing-step {
        width: 100%;
        border: none;
        // text-align: center;

        .step-red-bc {
          padding-bottom: 20px;

          .step-title {
            max-width: none;
          }

          p {
            max-width: none;
          }

          .show-more-link {
            display: flex;
            // justify-content: center;
          }

          .step-timing-on-mobile {
            width: 100%;
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: static;
            margin-top: 20px;
          }
        }

        & + .process-timing-step {
          margin-top: 15px;
        }

        &:nth-child(2n) {
          border-left: none;
        }
      }
    }
  }
}
