.stbase-fact-header-block {
  width: 100%;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 25px;
  // padding-right: 25px;

  header {
    position: relative;

    .background {
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .bg-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 36.85%, rgba(0, 0, 0, 0.56) 100%);
      }
    }

    .fact-header-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .fact-number {
        width: 117px;
        height: 117px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 83px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
      }

      h3 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        margin: 0 0 70px 51px;
        color: #ffffff;
        max-width: 660px;
      }

      &.no-number {
        .fact-number {
          visibility: hidden;
        }
      }
    }

    &:after {
      display: block;
      width: 72%;
      height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      content: " ";
    }
  }

  @media (max-width: 1080px) {
    header {
      picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .fact-header-content {
        position: relative;
        z-index: 2;
        height: 464px;

        h3 {
          // margin: 30px 30px 70px 30px;
          font-size: 40px;
        }

        &.no-number {
          height: 420px;
        }
      }

      &:after {
        z-index: 3;
      }
    }
  }

  @media (max-width: 960px) {
    padding-left: 0;
    padding-right: 0;

    header {
      .fact-header-content {
        h3 {
          margin-left: 36px;
          margin-right: 36px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    header {
      .fact-header-content {
        h3 {
          margin: 0 0 36px 36px;
        }
      }

      &:after {
        display: none;
      }
    }
  }

  @media (max-width: 620px) {
    header {
      .fact-header-content {
        height: 380px;

        .fact-number {
          width: 103px;
          height: 106px;
          font-size: 75.1756px;
        }

        h3 {
          margin: 30px 34px 30px;
          font-size: 30px;
          line-height: 120%;
        }

        &.no-number {
          height: 320px;
        }
      }
    }
  }
}
