.stbase-fact-text-block {
  h4 {
    margin: 0 0 16px;
    font-size: 21px;
    line-height: 150%;
    max-width: 700px;
  }

  .text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    overflow: hidden;
    max-width: 700px;

    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      overflow: hidden;
      margin: 0;
    }

    p + p {
      margin-top: 20px;
    }

    p + h4 {
      margin-top: 25px;
    }

    p + ul {
      margin-top: 15px;
    }

    ul {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 620px) {
    h4 {
      font-size: 19.0203px;
      line-height: 150%;
    }

    .text {
      font-size: 18px;
      line-height: 150%;

      p {
        font-size: 18px;
        line-height: 150%;
      }

      ul:not(.menu):not(.sub-menu):not(.list-no) li {
        font-size: 18px;
        line-height: 150%;
      }
    }

    .show-more-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
    }
  }
}

.stbase-fact-header-block + .stbase-fact-text-block {
  @media (min-width: 900px) {
    margin-top: 0;
  }
}
