.stbase-fact-application-fields-block {
  h3 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    font-weight: bold;
    margin: 0 0 21px;
  }

  .fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 13px;

    .field {
      height: 320px;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .field__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: $sidePadding;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 27.72px;
        line-height: 130%;
        color: white;
      }
    }
  }

  @media (max-width: 970px) {
    .fields {
      .field {
        height: 28vw;
      }
    }
  }

  @media (min-width: 541px) and (max-width: 720px) {
    .fields {
      .field {
        height: 200px;

        .field__content {
          font-size: 22px;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .fields {
      grid-template-columns: 1fr;

      .field {
        height: 54vw;
      }
    }
  }
}
