.stbase-fact-links-block {
  .title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 39px;
    text-align: center;
    color: #f2000c;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 1130px;
    padding-left: 25px;
    padding-right: 25px;

    @media (max-width: 870px) {
      max-width: 590px;
    }
  }

  .title, .description {
    max-width: 860px;
    margin-inline: auto;
  }

  .fact-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 282px);
    gap: 23px;
    margin: 50px auto 90px;
    width: 100%;
    max-width: 1130px;
    padding-left: 25px;
    padding-right: 25px;

    .fact-link {
      padding: 7px 35px 30px;
      background-color: #edf0f2;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 300ms all;

      i {
        font-size: 21px;
        color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 24px;
        right: 24px;
        transition: 300ms all;
      }

      .fact-number {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 83px;
        line-height: 130%;
        color: #f2000c;
        transition: 300ms all;
        display: block;

        &[data-text-slide-from-up] {
          position: relative;
          overflow: hidden;

          &:after {
            content: attr(data-text-slide-from-up);
            display: block;
            position: absolute;
            bottom: -90px;
            left: 0;
            transition: 400ms all cubic-bezier(0.33, 1, 0.68, 1);
            color: white;
          }

          .text-slide-down {
            position: relative;
            top: 0;
            transition: 400ms all cubic-bezier(0.33, 1, 0.68, 1);
            display: inline-block;
          }
        }
      }

      p {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: #1c1c1c;
        margin: 0;
        transition: 300ms all;
      }

      &:hover {
        background-color: #f2000c;

        i {
          transform: rotateZ(45deg);
          color: #edf0f2;
        }

        span {
          color: #edf0f2;

          &[data-text-slide-from-up] {
            &:after {
              bottom: 0;
            }

            .text-slide-down {
              top: -90px;
            }
          }
        }

        p {
          color: #edf0f2;
          transform: translateY(-12px);
        }
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 215px);

      .fact-link {
        .fact-number {
          font-size: 70px;
        }

        p {
          font-size: 21px;
        }
      }
    }

    @media (max-width: 620px) {
      grid-template-rows: repeat(3, 190px);

      .fact-link {
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;

        .fact-number {
          font-size: 60px;
        }

        p {
          font-size: 17px;
        }
      }
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      .fact-number {
        margin-bottom: 10px;
      }

      .fact-link {
        p {
          font-size: 20px;
        }
      }
    }

    // @media (max-width: 470px) {
    //   grid-template-rows: repeat(3, 180px);

    //   .fact-link {
    //     .fact-number {
    //       font-size: 45px;
    //     }

    //     p {
    //       font-size: 15px;
    //     }
    //   }
    // }

    // @media (max-width: 390px) {
    //   grid-template-columns: 1fr;
    //   grid-template-rows: auto;
    // }
  }
}
