// VARIABLES
@import "../../globals/variables";
// MIXINS
@import "../../globals/mixins";
// ANIMATIONS
@import "../../globals/animations";

.stbase-additional-parameters-block {
    padding-top: 80px;

    .container {
        max-width: 860px;

        .title {
            color: #000;
            font-size: 44px;
            font-weight: 700;
            line-height: 52px;

            @media (max-width: 767px) {
                font-size: 40px;
                line-height: 50px;
            }
        }

        h3, h4 {
            color: #F2000C;
            font-size: 19px;
            font-weight: 700;
            line-height: 32px;
        }

        .tools {
            margin: 60px 0;

            @media (min-width: 767px) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 20px;
            }

            .tool {

                @media (max-width: 767px) {
                    &:not(:last-of-type) {
                        border-bottom: 1px solid #F2000C;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                    }

                    .tool-description {
                        margin-bottom: 0;
                    }
                }

                @media (min-width: 768px) {
                    &:not(:nth-of-type(5n)) {
                        border-right: 1px solid #F2000C;
                        padding-right: 20px;
                    }
                }

                .tool-title {
                    color: #F2000C;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            max-width: 700px;
        }
    }
}