@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-additional-parameters-block {
  padding-top: 80px;
}
.stbase-additional-parameters-block .container {
  max-width: 860px;
}
.stbase-additional-parameters-block .container .title {
  color: #000;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
}
@media (max-width: 767px) {
  .stbase-additional-parameters-block .container .title {
    font-size: 40px;
    line-height: 50px;
  }
}
.stbase-additional-parameters-block .container h3, .stbase-additional-parameters-block .container h4 {
  color: #F2000C;
  font-size: 19px;
  font-weight: 700;
  line-height: 32px;
}
.stbase-additional-parameters-block .container .tools {
  margin: 60px 0;
}
@media (min-width: 767px) {
  .stbase-additional-parameters-block .container .tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .stbase-additional-parameters-block .container .tools .tool:not(:last-of-type) {
    border-bottom: 1px solid #F2000C;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .stbase-additional-parameters-block .container .tools .tool .tool-description {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .stbase-additional-parameters-block .container .tools .tool:not(:nth-of-type(5n)) {
    border-right: 1px solid #F2000C;
    padding-right: 20px;
  }
}
.stbase-additional-parameters-block .container .tools .tool .tool-title {
  color: #F2000C;
  font-size: 32px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 20px;
}
.stbase-additional-parameters-block .container .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
}