// VARIABLES
@import "../../globals/variables";
// MIXINS
@import "../../globals/mixins";
// ANIMATIONS
@import "../../globals/animations";

.stbase-fact-advantages-block {
  .fact-advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 21px;
    row-gap: 17px;
    margin-top: 45px;

    .title {
      margin: 0;
      line-height: 150%;
      width: 100%;
      grid-column: 1/4;
      grid-row: 1;
      font-size: 21px;
      line-height: 150%;
    }

    .advantage {
      background-color: #edf0f2;
      padding: 35px 30px;
      display: flex;
      flex-direction: column;
      grid-row: 2;

      .advantage-header {
        //height: 43px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25px;

        h5 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 120%;
          text-transform: uppercase;
          color: #f2000c;
          margin: 0;
        }
      }

      .advantage-text {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #1c1c1c;
        overflow: hidden;

        p {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #1c1c1c;
          margin-top: 0;
        }

        ul {
          padding-left: 0;
          margin-bottom: 0;

          li {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #1c1c1c;

            & + li {
              margin-top: 0;
            }

            &::marker {
              color: #1c1c1c;
            }
          }
        }

        .show-more-text-item {
          .show-more-text {
            &.opened {
              & + .show-more-link {
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    &:not(.no-scroll) {
      .advantage {
        opacity: 0;
        transform: translateY(100px);
      }

      &.scrolled-to {
        .advantage {
          opacity: 1;
          transform: none;
          transition: 300ms transform, 300ms opacity;

          @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
              transition-delay: (150ms * $i);
            }
          }
        }
      }
    }

    .advantages-show-more-link {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #f2000c;
      margin-top: 18px;
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 8px;
        font-size: 12px;
        transition: 400ms transform;
      }

      .less {
        display: none;
      }

      &.opened {
        i {
          transform: rotateZ(180deg);
        }

        span {
          &.less {
            display: inline-block;
          }

          &.more {
            display: none;
          }
        }
      }
    }

    @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);

      h4 {
        grid-column: 1/3;
      }

      .advantage {
        &:nth-of-type(3) {
          grid-row: 3;
        }
      }

      .advantages-show-more-link {
        grid-row: 4 / 5;
      }
    }

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      h4,
      .title {
        grid-column: 1/2;
        font-size: 19.0203px;
      }

      .advantage {
        grid-row: unset;

        .advantage-header {
          margin-bottom: 15px;
          height: auto;
        }

        .advantage-text {
          font-size: 16.3031px;
          line-height: 150%;

          p {
            font-size: 16.3031px;
            line-height: 150%;
          }

          ul {
            li {
              font-size: 16.3031px;
              line-height: 150%;
            }
          }
        }

        &:nth-of-type(3) {
          grid-row: unset;
        }
      }

      .advantages-show-more-link {
        grid-row: unset;
      }
    }

    &.item-2 {
      @media (min-width: 951px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.no-title {
      @media (min-width: 721px) {
        .advantage {
          grid-row: unset;
        }
      }
    }
  }
}
