@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-fact-accordion-block .fact-content {
  width: 100%;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper {
  max-width: 712px;
  padding-left: 51px;
  padding-right: 51px;
  box-sizing: content-box;
}
@media (max-width: 620px) {
  .stbase-fact-accordion-block .fact-content .fact-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
  }
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .text-before p {
  margin-top: 0;
  font-size: 18px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions:last-child {
  padding-bottom: 51px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item {
  background-color: #fff;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item:not(:last-child) {
  margin-bottom: 32px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-header {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-header h5 {
  margin: 0 !important;
  font-family: "Rubik";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  padding-right: 15px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-header h5 span {
  color: #F2000C;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-header .icon path {
  fill: #F2000C;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content {
  display: none;
  padding: 0 32px 24px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .red {
  color: #F2000C;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper {
  margin: 40px 0;
}
@media (min-width: 768px) {
  .stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  .stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box .tool-description {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box:not(:nth-of-type(4n)) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 20px;
  }
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box .icon {
  text-align: center;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box .icon img {
  max-width: 120px;
  max-height: 120px;
  margin-inline: auto;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box .icon-title {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 10px 0;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content .icon-box-wrapper .icon-box .icon-description {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content table {
  border-collapse: collapse;
  font-size: 12.75px;
  line-height: 21.75px;
  color: #000;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content table tr {
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.04);
  vertical-align: baseline;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content table tr:first-child {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
  color: #000;
  vertical-align: bottom;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content table tr:first-child td:last-child {
  background-color: transparent;
  text-align: left;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content table tr td {
  padding: 16.5px 11.25px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .accordions .accordion-item .accordion-content table tr td:last-child {
  background-color: rgba(242, 0, 12, 0.08);
  text-align: center;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .text-after {
  padding-bottom: 38px;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .text-after h2, .stbase-fact-accordion-block .fact-content .fact-wrapper .text-after h3, .stbase-fact-accordion-block .fact-content .fact-wrapper .text-after h4, .stbase-fact-accordion-block .fact-content .fact-wrapper .text-after h5, .stbase-fact-accordion-block .fact-content .fact-wrapper .text-after h6 {
  color: #F2000C;
}
.stbase-fact-accordion-block .fact-content .fact-wrapper .text-after ul:last-child {
  margin-bottom: 0;
}