@keyframes spinning-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes scale-to-1-animation {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
@keyframes translate-from-minus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
@keyframes translate-from-plus-50x-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
.stbase-fact-image-text-boxes-block .boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 18px;
}
.stbase-fact-image-text-boxes-block .boxes .box {
  background: #edf0f2;
}
.stbase-fact-image-text-boxes-block .boxes .box img {
  width: 100%;
  height: auto;
}
.stbase-fact-image-text-boxes-block .boxes .box .box__content {
  padding: 30px;
}
.stbase-fact-image-text-boxes-block .boxes .box .box__content .box__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #f2000c;
  margin-bottom: 10px;
}
.stbase-fact-image-text-boxes-block .boxes .box .box__content p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c1c1c;
}
.stbase-fact-image-text-boxes-block .boxes .box .box__content p + p {
  margin-top: 20px;
}
.stbase-fact-image-text-boxes-block .boxes.odd .box:last-child {
  grid-column: 1/3;
  width: 49%;
  justify-self: center;
}
@media (min-width: 551px) and (max-width: 860px) {
  .stbase-fact-image-text-boxes-block .boxes .box img {
    min-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .stbase-fact-image-text-boxes-block .boxes .box .box__content {
    padding: 20px;
  }
  .stbase-fact-image-text-boxes-block .boxes .box .box__content p {
    font-size: 16px;
  }
}
@media (min-width: 551px) and (max-width: 650px) {
  .stbase-fact-image-text-boxes-block .boxes .box .box__content .box__title {
    font-size: 16px;
  }
  .stbase-fact-image-text-boxes-block .boxes .box .box__content p {
    font-size: 14px;
    margin: 10px 0;
  }
  .stbase-fact-image-text-boxes-block .boxes .box .box__content p + p {
    margin-top: 12px;
  }
}
@media (max-width: 550px) {
  .stbase-fact-image-text-boxes-block .boxes {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .stbase-fact-image-text-boxes-block .boxes .box .box__content p {
    font-size: 16px;
  }
  .stbase-fact-image-text-boxes-block .boxes.odd .box:last-child {
    grid-column: unset;
    width: unset;
  }
}