// VARIABLES
@import "../../globals/variables";
// MIXINS
@import "../../globals/mixins";
// ANIMATIONS
@import "../../globals/animations";

.stbase-fact-team-block {
  img.team-picture {
    margin: 0 0 50px 70px;

    @media (max-width: 960px) {
      margin: 0 auto 30px;
      display: block;
    }
  }

  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // align-items: flex-start;
    gap: 21px;
    width: 100%;

    .team-member {
      background: #fdf3f2;
      padding: 32px;

      header {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 150%;
        color: #1c1c1c;
        margin: 0 0 20px;
      }

      &:nth-child(5) {
        header {
          font-size: 18px;
        }
      }
    }

    &:not(.no-scroll) {
      .team-member {
        opacity: 0;
        transform: scale(0.5);
      }

      &.scrolled-to {
        .team-member {
          opacity: 1;
          transform: none;
          transition: 300ms transform, 300ms opacity;

          @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
              transition-delay: (150ms * $i);
            }
          }
        }
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;

      header {
        margin-bottom: 10px;
      }
    }
  }
}
