// VARIABLES
@import "../../globals/variables";
// MIXINS
@import "../../globals/mixins";
// ANIMATIONS
@import "../../globals/animations";

.stbase-fact-accordion-block {
    .fact-content {
        width: 100%;
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;

        .fact-wrapper {
            max-width: 712px;
            padding-left: 51px;
            padding-right: 51px;
            box-sizing: content-box;

            @media (max-width: 620px) {
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 30px;
            }

            .text-before {
                p {
                    margin-top: 0;
                    font-size: 18px;
                }
            }
    
            .accordions {

                &:last-child {
                    padding-bottom: 51px;
                }

                .accordion-item {
                    background-color: #fff;

                    &:not(:last-child) {
                        margin-bottom: 32px;
                    }

                    .accordion-header {
                        padding: 24px 32px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;

                        h5 {
                            margin: 0 !important;
                            font-family: 'Rubik';
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 140%;
                            padding-right: 15px;

                            span {
                                color: #F2000C;
                            }
                        }

                        .icon path {
                            fill: #F2000C;
                        }
                    }

                    .accordion-content {
                        display: none;
                        padding: 0 32px 24px;

                        .red {
                            color: #F2000C;
                        }

                        .icon-box-wrapper {
                            margin: 40px 0;

                            @media (min-width: 768px) {
                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                                gap: 20px;
                            }

                            .icon-box {

                                @media (max-width: 767px) {
                                    &:not(:last-of-type) {
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                                        margin-bottom: 20px;
                                    }

                                    .tool-description {
                                        margin-bottom: 0;
                                    }
                                }

                                @media (min-width: 768px) {
                                    &:not(:nth-of-type(4n)) {
                                        border-right: 1px solid rgba(0, 0, 0, 0.2);
                                        padding-right: 20px;
                                    }
                                }

                                .icon {
                                    text-align: center;

                                    img {
                                        max-width: 120px;
                                        max-height: 120px;
                                        margin-inline: auto;
                                    }
                                }

                                .icon-title {
                                    text-align: center;
                                    color: #000;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 25px; 
                                    margin: 10px 0;
                                }

                                .icon-description {
                                    text-align: center;
                                    color: rgba(0, 0, 0, 0.6);
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 120%;
                                }
                            }
                        }

                        table {
                            border-collapse: collapse;
                            font-size: 12.75px;
                            line-height: 21.75px;
                            color: #000;

                            tr {
                                border-bottom: 0.75px solid rgba(0, 0, 0, 0.04);
                                vertical-align: baseline;

                                &:first-child {
                                    background-color: rgba(0, 0, 0, 0.04);
                                    font-weight: bold;
                                    color: #000;
                                    vertical-align: bottom;

                                    td:last-child {
                                        background-color: transparent;
                                        text-align: left;
                                    }
                                }

                                td {
                                    padding: 16.5px 11.25px;

                                    &:last-child {
                                        background-color: rgba(242, 0, 12, 0.08);
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .text-after {
                padding-bottom: 38px;

                h2, h3, h4, h5, h6 {
                    color: #F2000C;
                }

                ul:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}